<template>
<div class="dashboard__menu" :class="{'dashboard__menu--visible': visible}">
  <a class="dashboard__menu__toggle" @click="visible = !visible">
    <i class="material-icons">menu</i>
  </a>
  <div class="dashboard__menu__items">
    <a @click="goLink(item)" class="dashboard__menu__item" :class="{'dashboard__menu__item--active':isActiveMenuItem(item)}" :key="$index" v-for="(item,$index) in items" >
      <span class="dashboard__menu__icon"><i v-if="item.iconType === 0" class="material-icons">{{item.icon}}</i><i v-else class="fa" :class="`fa-${item.icon}`"></i></span>
      <span class="dashboard__menu__text">{{$t(item.name)}}</span>
    </a>
	</div>
</div>
</template>
<style lang="scss">
.dashboard__menu {
    flex-direction: column;
    display: inline-flex;
    height: 100%;
    &__toggle {
      display: none;
    }
    &__items {
      padding: 0 .5em;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__item {
      max-height: 4.5em;
      cursor: pointer;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex: 1;
      padding: .5em;
      white-space: nowrap;
      text-decoration: none;
      text-align: center;
      transition: all .25s;
      background: rgba(255,255,255,0.05);
      border-bottom: 1px solid rgba(255,255,255,0.05);
      &:hover{
        background: rgba(255,255,255,0.1);
      }
      &--active {
        background: var(--active-color);
        &:hover {
          background: var(--active-color);
          box-shadow: 0 0 1em var(--active-color);
        }
      }
    }
    &__icon {
      height: auto;
      width: 3em;
    }
    &__text {
      font-size: .875em;
    }

  @media screen and (max-width: 768px) {
    & {
      z-index: 1000000000;
      position: fixed;
      top: 3.5em;
      left: 0;
      width: 1em;
      height: 1em;
      display: flex;
      justify-content: center;
      &__toggle {
        display: block;
        position: fixed;
        top: 3.5em;
        right: 1em;
        font-size: 1.25em;
        z-index: 1000000000;
      }
      &__item {
        width: calc(100% / 3);
        height: 5em;
        padding: 1em;
        flex: unset;
        box-sizing: border-box;

      }
      &__items {
        display: none;
        height: 20em;
        background: var(--box-color);
        flex-direction: row;
        flex-wrap: wrap;
        z-index: 1000000000;
        justify-content: stretch;
      }
      &--visible {
        width: 100%;
        height: calc(100vh - 7em);
        background: var(--box-color);
      }
      &--visible &__items {
        display: flex;
      }
    }
  }
}
</style>
<script>
export default {
  data() {
    return {
      visible: false,
    }
  },
	props: {
		items: {
			type: [Object, Array],
			required: true,
		},
		id: {
			type: [String, Number],
			required: true
		},
		rights: {
			type: [Object, Array],
			required: true
		}
	},
	methods:{
    goLink(item) {
      this.$router.push({path: `/dashboard/${this.id}/${item.link}`});
      this.visible = false;
    },
		isActiveMenuItem(item) {
			let currentRoute = this.$route.path;
			currentRoute = currentRoute.split('/');
			let routeName = currentRoute[currentRoute.length-1];
			return routeName === item.link;
		}
	}
}
</script>
