$theme-flat-main-bg:#393939;
$theme-flat-sidebar-bg:#333;
$theme-flat-input-bg-color:#555;
$theme-flat-input-text-color:#fafafa;
$theme-flat-input-border-color:#555;
$theme-flat-input-border-active-color:#777;
$theme-flat-text-color:#fff;
$theme-flat-text-sub-color:#ddd;
$theme-flat-border-color:#ddd;
$theme-flat-box-header-color:#555;
$theme-flat-box-footer-color:#444;
$theme-flat-box-color:#444;
$theme-flat-menu-color:#555;
$theme-flat-box-element-color:#333;
$theme-flat-link-color:#fff;
$theme-flat-inactive-color:#aaa;
$theme-flat-inactive-text-color:#777;
$theme-flat-text-warning-color:#fffd92;
$white:#fff;
$blue:#107fd0;
$green:#71ca0b;
$red:#d04310;
