<template>
<div class="project-page__outer" ref="page_outer">
  <ProjectPage :announces="announces" :videos="videos" :records="records" v-if="!error" :project="project" />
  <m-error-page v-else :data="error" />
</div>
</template>
<script>
  import ProjectPage from '@/components/blocks/ProjectPage';
  export default {

    components: {
      ProjectPage,
    },
    async asyncData({app,params}) {
      let projectData = (await app.$axios.get(`/projects/${params.id}`)).data;
      if (projectData.status) {
        let announces = (await app.$axios.get(`/announces/getbyproject/${params.id}`)).data;
        if (projectData.data.channel.channel_type === 'tv') {
          let videos = (await app.$axios.get(`/projects/${params.id}/videos`)).data;
          return {
            announces: announces.data.list,
            videos: videos.data.list,
            records: {},
            error: null,
            project: projectData.data,
            id: params.id,
          };
        } else {
          let records = (await app.$axios.get(`/projects/${params.id}/records`)).data;
          return {
            announces: announces.data.list,
            videos: {},
            records: records.data.list,
            error: null,
            project: projectData.data,
            id: params.id,
          };
        }
      } else {
        return {
          error:
            {
              text: 'errors.404'
            }
        };
      }
    },
    methods: {

    }
  }
</script>
