<template>
  <div class="projects-list">
    <div class="projects-list__header">
      <span class="projects-list__header__text">{{$t('projects._title')}}</span>
    </div>
    <div class="projects-list__inner" ref="itemsList">
      <div class="page-preloader" v-if="isLoadingInitial">
        <m-preloader stroke-width="5" circle-width="5em"  />
      </div>
      <m-infinite-scroll :loading="isLoading" @scroll="loadMore" class="projects-list__items">
        <ProjectItem :style="{width: (100 / itemsInRow) + '%'}" :data="item" :key="$index" v-for="(item, $index) in list.data"/>
      </m-infinite-scroll>
      <div class="pager-vertical-container pager-vertical-container--mobile-default">
        <m-pager @pageChange="onPageChange" :vertical="!isMobile" :count="getPagesCount" v-model="currentPage" />
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  .projects-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__header {
      display: flex;
      align-items: center;
      background: var(--title-box-color);
      padding: 1em;
      text-decoration: none;
      font-size: 1.25em;
      font-weight: 600;
    }
    &__inner {
      flex: 1;
      height: calc(100% - 4em);
      overflow: hidden;
    }
    &__items {
      width: calc(100% - 7em);
      height: 100%;
      overflow: auto;
      display: flex;
      flex-wrap: wrap;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
</style>
<script>
  let ResizeSensor = require('css-element-queries/src/ResizeSensor');
  import isMobile from '~/functions/isMobile.js';
  import ProjectItem from '@/components/blocks/ProjectItem';
  let onPage = 10;
  export default {
    head() {
      return {
        title: this.$t('projects._title')
      }
    },
    components: {
      ProjectItem
    },
    computed:{
      getPagesCount() {
        if (!this.list.last_page) {
          return 0;
        }
        return this.list.last_page;
      }
    },
    watch: {

    },
    data() {
      return {
        isLoadingInitial: true,
        isLoading: false,
        currentPage: 1,
        isScrolling: false,
        isMobile: isMobile(),
        total: 0,
        list: {
          data: {}
        },
        itemsInRow: 1,
      }
    },
    async mounted() {
      if (!this.isMobile) {
        this.itemsInRow = Math.ceil(this.$refs.itemsList.offsetWidth / 240);
        new ResizeSensor(this.$refs.itemsList, (e) => {
          this.itemsInRow = Math.ceil(e.width / 240);
        });
      }
      this.list = (await this.$axios.get(this.getBaseURL(1))).data.data.list;
      this.isLoadingInitial = false;
    },
    methods:{
      async onPageChange(newPage) {
        this.isLoading = true;
        this.list = (await this.$axios.get(this.getBaseURL(newPage))).data.data.list;
        this.isLoading = false;
        if (this.isMobile) {
          window.scrollTo({
            top: 0,
            behavior: 'smooth'
          })
        }
      },
      getBaseURL(page = 1) {
        let count = (this.isMobile ? 10 : (this.itemsInRow * 3));
        return `/projects?page=${page}&count=${count}`;
      },
      loadMore() {
        if (!this.isLoading) {
          if (this.currentPage < this.list.last_page) {
            this.isLoading = true;
            this.currentPage++;
            this.$axios.get(this.getBaseURL(this.currentPage)).then(res => {
              this.list.data = [...this.list.data, ...res.data.data.list.data];
              this.isLoading = false;
            });
          }
        }
      }
    }
  }
</script>

<style scoped>

</style>
