<template>
  <ChannelsList urlParams="sort_by=best"/>
</template>
<style lang="scss">

</style>
<script>
  import ChannelsList from '@/components/blocks/ChannelsList';
  export default {
    components: {
      ChannelsList
    },
  }
</script>
