<template>
  <ChannelsList :urlParams="urlParams">
    <div class="channels-list__header">
      {{$t('channels.search_by_tags')}}
      <span class="tag" :key="$index" v-for="(tag, $index) in tagsList">{{tag}}</span>
    </div>
  </ChannelsList>
</template>
<style lang="scss">

</style>
<script>
  import ChannelsList from '@/components/blocks/ChannelsList';
  export default {
    computed: {
      tagsList() {
        return this.$route.query.tags.split(',');
      },
      urlParams() {
        let tags = this.$route.query.tags;
        return "tags="+tags+"&sort_by=popular";
      }
    },
    components: {
      ChannelsList
    },
  }
</script>
