<template>
<div class="page-container">
  <div class="row row-vertical row-full-height">
    <nuxt-link to="/tv/online" class="page-header">{{$t('channels.online')}}</nuxt-link>
    <div class="row row--expanded">
      <div class="col col-2  col--no-margin">
        <ChannelItem :data="firstOnlineChannel"/>
      </div>
      <div class="col-3 row row--vertical-mobile">
        <div class="row row-vertical row-full-height" :key="$index" v-for="(row,$index) in onlineChannels">
          <div class="col  col--no-margin" :key="$index2" v-for="(item,$index2) in row">
            <ChannelItem :data="item"/>
          </div>
        </div>
      </div>
    </div>
    <div class="col col--no-margin row">
      <div class="col col--no-margin">
        <div class="row row-vertical row-full-height">
          <nuxt-link to="/tv/popular" class="page-header">{{$t('channels.popular')}}</nuxt-link>
          <div class="row row--expanded">
            <div class="col-3 row row--vertical-mobile">
              <div class="row row-vertical row-full-height" :key="$index" v-for="(row,$index) in popularChannels">
                <div class="col col--no-margin" :key="$index2" v-for="(item,$index2) in row">
                  <ChannelItem :data="item"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col--no-margin">
        <div class="row row-vertical row-full-height">
          <nuxt-link to="/tv/best" class="page-header">{{$t('channels.best')}}</nuxt-link>
          <div class="row row--expanded">
            <div class="col-3 row row--vertical-mobile">
              <div class="row row-vertical row-full-height" :key="$index" v-for="(row,$index) in bestChannels">
                <div class="col col--no-margin" :key="$index2" v-for="(item,$index2) in row">
                  <ChannelItem :data="item"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
<script>
  import ChannelItem from '@/components/blocks/ChannelItem';
  import getBlocksCounts from '~/functions/getBlocksCounts.js';
  let sizesConfig = {
    width:{
      1024:2,
      1600:3,
      1920:4,
    },
    height:{
      500:1,
      700:2,
    }
  };
  let counts = getBlocksCounts(sizesConfig);

  export default {
    components: {
      ChannelItem
    },
    async asyncData({app}) {
      let online = (await app.$axios.get('channels?online=true&sort_by=viewers')).data;
      let popular = (await app.$axios.get('channels?sort_by=popular')).data;
      let best = (await app.$axios.get('channels?sort_by=best')).data;
      return {online, popular, best};
    },
    computed: {
      firstOnlineChannel() {
        return this.online.data[0];
      },
      onlineChannels() {
        return this.getChannels(this.online.data, 1);
      },
      popularChannels() {
        return this.getChannels(this.popular.data, 1);
      },
      bestChannels() {
        return this.getChannels(this.best.data, 1);
      }
    },
    methods: {
      getChannels(channels, index) {
        let cols = counts.h;
        let rows = counts.w;
        let data = [];
        for (let i = 0; i < rows; i++) {
          let row = [];
          for (let j = 0; j < cols; j++) {
            if (channels[index]) {
              row.push(channels[index]);
            }
            index++;
          }
          data.push(row);
        }
        return data;
      }
    }
  }
</script>
