<template>
  <ChannelsList urlParams="online=true&sort_by=viewers"/>
</template>
<style lang="scss">

</style>
<script>
  import ChannelsList from '@/components/blocks/ChannelsList';
  export default {
    components: {
      ChannelsList
    },
  }
</script>
