<template>
  <div class="player-page" ref="page">
    <RadioPlayer v-if="!error" ref="player" :record="record" :channel="record.channel"/>
    <m-error-page v-else :data="error"/>
  </div>
</template>
<script>
  import RadioPlayer from "@/components/players/RadioPlayer";
  export default {
    layout: 'empty',
    components: {
      RadioPlayer,
    },
    async asyncData({app,params}) {
      let recordData = (await app.$axios.get(`/records/${params.id}`)).data;
      if (recordData.status) {
        let record = recordData.data.record;
        let id = params.id;
        return {
          record,
          id,
          error: null
        };
      } else {
        return {
          error: recordData
        };
      }
    },
  }
</script>
