<template>
  <div class="audio-player" ref="main">
    <div class="audio-player__button" @click="playPause()">
      <m-preloader circleWidth="2.5em" v-if="isLoading"/>
      <i class="material-icons" v-else-if="!isPlaying">play_arrow</i>
      <i class="material-icons" v-else>pause</i>
    </div>
   <!-- <audio style="display:none" ref="audio_player"/>-->
    <div @mousedown="setProgress" ref="container" class="audio-player__waveform">
      <canvas ref="canvas" class="audio-player__waveform__canvas"></canvas>
      <div :style="{width: progress * 100 + '%'}" class="audio-player__waveform__overlay-container">
        <canvas ref="canvas_second" class="audio-player__waveform__canvas audio-player__waveform__canvas--overlay"></canvas>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  .audio-player {
    display: flex;
    align-items: center;
    justify-content: center;
    &__button {
      cursor: pointer;
      width: 3em;
      height: 3em;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 1.75em;
      background: var(--channel-colors-6);
      color: var(--channel-colors-12);
      margin: 0 .5em 0 0;
    }
    &__waveform {
      position: relative;
      flex: 1;
      cursor: pointer;
      &__overlay-container {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
      }
      &__canvas {
        &--overlay {


        }
      }
    }
  }
</style>
<script>
  export default {
    watch: {
      isPlaying(playState) {
        if (this.player) {
          if (playState) {
            this.$store.commit('HIDE_PLAYER_WITHOUT_UNLOAD');
            this.player.play();
          } else {
            this.player.pause();
          }
        }
      }
    },
    beforeDestroy() {
      if (this.player) {
        this.$store.commit('SET_PLAYER_TRACK_WITHOUT_LOAD', {track: this.record});
        this.player.removeEventListener('timeupdate', this.onTimeUpdate);
      }
    },
    methods: {
      onTimeUpdate() {
        this.duration = this.player.duration;
        this.currentTime = this.player.currentTime;
        this.progress = this.currentTime / this.duration;
      },
      setProgress(e) {
        let bar = this.$refs.container;
        let rect = bar.getBoundingClientRect();
        let width = rect.width;
        let left = rect.left;
        let onMouseMoveProgress = (e) => {
          let x = e.clientX;
          let percent = (x - left) / width;

          if (percent > 1) {
            percent = 1;
          }
          if (percent < 0) {
            percent = 0;
          }
          this.progress = percent;
          if (this.player) {
            this.player.currentTime = this.duration * percent;
          }
        };
        onMouseMoveProgress(e);
        window.addEventListener('mousemove', onMouseMoveProgress);
        window.addEventListener('mouseup', () => {
          window.removeEventListener('mousemove', onMouseMoveProgress);
        })
      },
      playPause() {
        if (!this.started) {
          this.started = true;
          this.loadPlaybackURL(true);
        } else {
          this.isPlaying = !this.isPlaying;
        }

      },
      setColors() {
        this.colors.forEach((color,index)=>{
          this.$refs.main.style.setProperty(`--channel-colors-${index}`, color);
        });
      },
      loadWaveform() {
        if (this.record.waveform_data) {
          let width = this.$refs.container.offsetWidth;
          let height = 150;
          this.$refs.canvas.width = width;
          this.$refs.canvas.style.width = width + 'px';
          this.$refs.canvas.height = height;
          this.$refs.canvas.style.height = height + 'px';
          this.$refs.canvas_second.width = width;
          this.$refs.canvas_second.style.width = width + 'px';
          this.$refs.canvas_second.height = height;
          this.$refs.canvas_second.style.height = height + 'px';

          let ctx = this.$refs.canvas.getContext('2d');
          let ctx2 = this.$refs.canvas_second.getContext('2d');
          let em = parseFloat(getComputedStyle(this.$refs.main).fontSize);
          let lineWidth = (width + em) / this.record.waveform_data[0].length;
          ctx.fillStyle = this.colors[5];
          ctx2.fillStyle = this.colors[8];
          let padding = .5;
          this.record.waveform_data[0].forEach((line, index) => {
            ctx.fillRect(index * lineWidth, height / 2, lineWidth - 1, line * (height / 2));
            ctx2.fillRect(index * lineWidth - padding, height / 2 - padding, lineWidth - 1 + padding * 2, line * (height / 2) + padding * 2);
          })
          this.record.waveform_data[1].forEach((line, index) => {
            ctx.fillRect(index * lineWidth, height / 2, lineWidth - 1, line * (height/ -2));
            ctx2.fillRect(index * lineWidth - padding, height / 2 - padding, lineWidth - 1 + padding, line * (height/ -2) - padding * 2);
          })

        }
      },
      async loadPlaybackURL(playAfterStart = false) {
        let inlinePlayerData = this.$store.state.player;
        if (inlinePlayerData.track && inlinePlayerData.track.id === this.record.id) {

          this.loadWaveform();
          this.isPlaying = !this.player.paused;
          if (this.isPlaying) {
            this.$store.commit('HIDE_PLAYER_WITHOUT_UNLOAD');
          }
          this.player.addEventListener('timeupdate', this.onTimeUpdate);
          if (playAfterStart) {
            this.isPlaying = true;
          }
        } else {
          this.isLoading = true;
          let data = (await this.$axios.post(`records/${this.record.id}/url`)).data;
          this.isLoading = false;
          if (data.status) {
            this.playbackURL = data.data.playback_url;
            this.$nextTick(() => {
              this.player.src = this.playbackURL;
              this.player.addEventListener('timeupdate', this.onTimeUpdate);
              if (playAfterStart) {
                this.isPlaying = true;
              }
            })
          } else {
            this.$store.commit('NEW_NOTIFY', data);
          }
        }
      }
    },
    computed: {
      colors() {
        if (this.project) {
          return this.project.colors;
        } else {
          return this.channel.colors;
        }
      }
    },
    data() {
      return {
        started: false,
        duration: 0,
        currentTime: 0,
        isPlaying: false,
        progress: 0,
        playbackURL: null,
        audio: null,
        isLoading: false
      }
    },
    mounted() {
      this.player = document.getElementById('audio');
      this.setColors();
      this.loadWaveform();
    },
    props: {
      record: {
        type: Object,
        required: true
      },
      channel: {
        type: Object
      },
      project: {
        type: Object
      }
    },
  }
</script>
