<template>
  <div class="radio-player" :class="{'radio-player--default-view': defaultView}" ref="container">
    <m-modal v-model="embedPanel.visible" :header="$t('player.embed._title')">
      <div slot="main">
        <div class="radio-player__embed">{{getEmbedCode}}</div>
        <div class="row">
          <div class="col">
            <m-input type="number" :title="$t('player.embed.inputs.width')" v-model="embedPanel.inputs.width" :min="1" :max="1920"/>
          </div>
          <div class="col">
            <m-input type="number" :title="$t('player.embed.inputs.height')"  v-model="embedPanel.inputs.height" :min="1" :max="1080"/>
          </div>
        </div>
      </div>
    </m-modal>

    <m-modal v-model="requestPanel.visible" :header="$t('radio_player.request_panel._title')">
      <div slot="main">
        <m-response :data="requestPanel.response"/>
        <div class="row">
          <div class="col">
            <m-autocomplete autocomplete-key="id" autocomplete-value="full_title" :url="`radioplaylists/autocomplete/${requestPanel.playlistID}`" v-model="requestPanel.trackName" @getvariant="onRequestPanelGetVariant" @change="onRequestPanelAutocompleteChange" :placeholder="$t('radio_player.request_panel.enter_track_name')" />
          </div>
        </div>
      </div>
      <div class="modal__buttons" slot="buttons">
        <div class="buttons-list">
          <m-btn v-if="requestPanel.trackID" :loading="requestPanel.isLoading" @click="requestTrack()">{{$t('radio_player.request_panel.ok')}}</m-btn>
          <m-btn flat @click="requestPanel.visible = false">{{$t('global.cancel')}}</m-btn>
        </div>
      </div>
    </m-modal>


    <div class="radio-player__background" v-show="!defaultView" :style="data.player_background ? 'background:url('+data.player_background+') no-repeat center center;background-size:cover;' : ''"></div>
    <!--<audio style="display:none;" ref="audio_player" v-if="currentTrackData && currentTrackData.playback_url" :src="getPlaybackUrl()"/>-->
    <div class="radio-player__content">
      <div class="radio-player__content__inner">
        <div class="radio-player__content__background"></div>
        <div class="radio-player__info">
          <a class="radio-player__big-button" @click="changePlayerState()">
            <m-preloader circleWidth="5em" v-if="isLoading || isBuffering"/>
            <i class="material-icons" v-else-if="isPlaying">pause</i>
            <i class="material-icons" v-else>play_arrow</i>
          </a>
          <div class="radio-player__track-container" v-if="isRecordPlayer">
            <div class="radio-player__track">
              <div class="radio-player__track__title">{{record.title}}</div>
              <div class="radio-player__track__author">{{record.author}}</div>
            </div>
          </div>
          <div class="radio-player__track-container" v-else>
            <div class="radio-player__track" v-if="currentTrackData && currentTrackData.is_online">
              <div class="radio-player__track__title">{{currentTrackData.track.title}}</div>
              <div class="radio-player__track__author">{{currentTrackData.track.artist}}</div>
            </div>
            <div v-else class="radio-player__no-broadcast">
              {{$t('radio_stream.no_broadcast')}}
            </div>
          </div>
          <div v-if="isRecordPlayer && duration > 0" class="radio-player__time">
            {{ getReadableTime(currentTime) }} /  {{ getReadableTime(duration) }}
          </div>
        </div>
      </div>
      <div class="radio-player__progress-bar" ref="progress_bar" @mousedown="onProgressBarClick" v-if="isRecordPlayer">
        <div class="radio-player__progress-bar__inner" :style="{width: progress * 100 + '%'}"></div>
      </div>
      <div class="radio-player__bottom">
        <div class="radio-player__buttons">
          <div class="radio-player__listeners" v-if="currentTrackData && currentTrackData.is_online">
            <i class="fa fa-headphones"></i>
            <span class="radio-player__listeners__count">{{currentTrackData.listeners_count}}</span>
          </div>
          <!--
          <a href="https://catcast.me" target="_blank" class="radio-player__button radio-player__button--logo">
            <svg class="radio-player__button--logo__picture" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 540.37 566.01">
              <path class="cls-1" d="M457.5,494.25S414,594.5,302,594.5c-110.25,0-162.63-94.62-162.63-128.45,0-7.77-1.75-180.16-.81-210.68.1-3.08,0-5.16.13-5,3,2.47,69.81,56.17,170.53,56.95,75.75.59,155.07-56.92,154.49-56.46a4,4,0,0,1,0-.49c-.16,2.47-.19,101.42-.19,101.42,20.72-13.41,90.31-55.67,89.39-57.65C517.5,218,421.5,140,302,140c-156.8,0-283.9,127.1-283.9,283.9S145,706,301.75,706c170.75,0,256.72-144.06,256.72-167" transform="translate(-18.1 -139.99)"/><path class="cls-2" d="M138.55,255.88" transform="translate(-18.1 -139.99)"/>
            </svg>
          </a>
          -->
          <a @click="showRequestPanel()" class="radio-player__button radio-player__button--request" v-if="currentTrackData && currentTrackData.is_online && currentTrackData.playlist && currentTrackData.playlist.can_accept_requests">
            <span class="radio-player__button__title">{{$t('radio_player.request')}}</span>
            <i class="fa fa-bell"></i>
          </a>
          <a class="radio-player__button radio-player__button--embed" @click="embedPanel.visible = true">
            <span class="radio-player__button__title">{{$t('radio_player.embed')}}</span>
            <i class="fa fa-code"></i>
          </a>
          <a v-show="isRecordPlayer" class="radio-player__button radio-player__button--repeat" :class="{'radio-player__button--active': repeat}" @click="repeat = !repeat">
            <span class="radio-player__button__title">{{$t('radio_player.repeat')}}</span>
            <i class="material-icons">repeat</i>
          </a>
          <div class="radio-player__volume" v-if="(currentTrackData && currentTrackData.is_online) || isRecordPlayer">
            <a class="radio-player__button" @click="playerMuted = !playerMuted">
              <i v-if="playerMuted" class="material-icons">volume_off</i>
              <i v-else class="material-icons">volume_up</i>
            </a>
            <div class="radio-player__volume__bar__container">
              <div class="radio-player__volume__bar__outer">
                <div class="radio-player__volume__bar" ref="bar" @mousedown="onBarClick">
                  <div class="radio-player__volume__bar__inner"  ref="bar_inner" :style="{width:playerVolume*100+'%'}"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a :href="'/'+channel.shortname" target="_blank" class="radio-player__station-info">
          <div v-if="channel.logo" class="radio-player__station-info__logo" :style="'background:url('+channel.logo+') no-repeat center center;background-size:contain;'"></div>
          <div class="radio-player__station-info__title">{{channel.name}}</div>
        </a>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  .radio-player {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: var(--channel-colors-5);
    &__embed {
      max-width: 36em;
      word-break: break-word;
      padding: .5em;
      background: rgba(255, 255, 255, 0.05);
    }
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-color: var(--channel-colors-8);
    }
    &__station-info {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      &__logo {
        width: 3em;
        height: 3em;
      }

      &__title {
        margin: 0 0 0 1em;
        font-weight: 500;
      }
    }
    &__content {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      &__inner {
        position: relative;
        padding: 1em;
        width: calc(100% - 2em);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      &__background {
        opacity: .85;
        background: var(--channel-colors-4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }

    &__button {
      color: var(--channel-colors-12) !important;
      cursor: pointer;
      padding: .25em;
      border-radius: .25em;
      transition: all .35s;
      position: relative;
      &--active {
        background: var(--channel-colors-6);
      }
      &--repeat {
        margin: 0 0 0 1em;
        padding: .5em;
      }
      &--embed {
        padding: .5em .35em;
      }
      &--request {
        padding: .5em;
        margin: 0 1em 0 0;
      }
      &:hover {
        background: var(--channel-colors-6);
        &--logo {
          margin: 0 1em 0 0;
          &__picture {
            fill: var(--channel-colors-12);
            height: 1.25em;
          }
        }
      }
      &__title {
        font-size: .65em;
        white-space: nowrap;
        padding: .35em .5em;
        border-radius: .25em;
        position: absolute;
        top: -2em;
        z-index: 10;
        left: 0;
        background: var(--channel-colors-6);
        height: 1em;
        line-height: 1;
        display: none;
      }

      &:hover &__title {
        display: block;
      }
    }

      &__buttons {
        margin: 0;
        line-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.35em;
        i {
          font-size: 1em;
        }
      }

      &__listeners {
        color: var(--channel-colors-12);
        margin: 0 1em 0 0;
        display: flex;
        align-items: center;
        &__count {
          margin: 0 0 0 .5em;
          font-weight: 500;
        }
      }

      &__volume {
        cursor: pointer;
        position: relative;
        display: flex;
        border-radius: 50%;
        transition: all .35s;
        margin: 0 0 0 .75em;
        align-items: center;
        font-size: 1.35em;
        padding: 0;
        &__icon {
          line-height: 0;
        }

        &__bar {
          user-select: none;
          width: 100%;
          background: var(--channel-colors-6);
          margin: 0 .25em;
          height: 0;
          transition: all .35s;
          border-radius: 5em;
          &__inner {
            height: 100%;
            background: var(--channel-colors-12);
            border-radius: 50px;
            width: 100%;
          }
          &__container {
            transform-origin: 0 0;
          }

          &__outer {
            margin: 0 0 0 .5em;
            width: 7em;
            height: 1em;
            border-radius: 100px;
            position: relative;
            left: -.5em;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        &:hover &__bar {
          height: .35em;
        }
      }
      &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1em 1.25em;
        @media screen and (max-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
        }
      }

      &__no-broadcast {
        font-size: 1.25em;
        font-weight: bold;
        text-align: left;
      }
      &__big-button {
        cursor: pointer;
        transition: all .35s;
        background: linear-gradient(rgba(var(--channel-colors-6--rgb), .25), rgba(var(--channel-colors-6--rgb), .85));
        color: var(--channel-colors-12) !important;
        border-radius: 50%;
        width: 3em;
        height: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: brightness(1);
        &:hover {
          background: var(--channel-colors-12);
          color: var(--channel-colors-6) !important;
          filter: brightness(1.25);
          transform: scale(1.1);
        }
        i {
          font-size: 1.5em;
        }
      }

      &__info {
        position: relative;
        z-index: 2;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        font-size: 1.25em;
      }
      &__track-container {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 0 0 1em;
      }
      &__track {
        text-align: left;

        &__title {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &__author {
          font-weight: 500;
        }
      }
      &__progress-bar {
        user-select: none;
        width: 100%;
        height: .75em;
        background: var(--channel-colors-4);
        cursor: pointer;
        &__inner {
          background: var(--channel-colors-5);
          height: 100%;
        }
      }
      &--default-view &__content {
        flex-direction: row;
      }
      &--default-view &__content__background {
        display: none;
      }

      &--default-view &__station-info {
        display: none;
      }

      &--default-view &__bottom {
        width: auto;
      }

      &--default-view &__volume {
        width: auto;
      }
      &--default-view &__big-button {
        background: var(--active-color);
      }
      &--default-view &__button:hover {
        background: var(--active-color);
      }

      &--default-view &__volume__bar {
        height: .35em;
        background: rgba(255, 255, 255, 0.1);
      }

      &--default-view &__volume__bar__inner {
        background: #fff;
      }

      &--default-view &__button--embed {
        display: none;
      }

      &--default-view &__listeners {
        margin: 0;
      }
    }
    @keyframes playerVolumeBar {
      0% {
        transform: translateX(5%) scale(0);
      }
      100% {
        transform: translateX(0%) scale(1);
      }
    }
</style>
<script>
  const trackUpdateInterval = 20000;
  import getReadableTime from '~/functions/getReadableTime.js';
  export default {
    computed: {
      data() {
        if (this.project) {
          return this.project;
        }
        if (this.channel) {
          return this.channel;
        }
        return null;
      },
      isRecordPlayer() {
        return !!this.record;
      },
      getEmbedCode() {
        let src = this.isRecordPlayer ? `records/player/${this.record.id}` : `player/${this.channel.id}`;
        return `<iframe src="https://catcast.me/${src}" frameborder="0" allowfullscreen width="${this.embedPanel.inputs.width}" height="${this.embedPanel.inputs.height}"></iframe>`;
      },
    },
    props: {
      defaultView: {
        type: Boolean,
        required: false
      },
      project: {
        type: Object,
        required: false
      },
      record: {
        type: Object,
        required: false
      },
      currentTrack:{
        type: Object,
        required: false
      },
      channel:{
        type: Object,
        required: true,
      }
    },
    watch:{
      playerMuted(isMuted) {
        this.player.volume = isMuted ? 0 : this.playerVolume;
      },
      playerVolume(newVolume) {
        if (newVolume > 0) {
          this.playerMuted = false;
        }
        localStorage.playerVolume = newVolume;
        this.player.volume = newVolume;
      },
      isPlaying(playState) {
        if (this.player) {
          if (playState) {
            if ((this.currentTrackData && this.currentTrackData.is_online) || this.isRecordPlayer) {
            //  this.player.oncanplaythrough = function() {
                this.playerIsActive = true;
            //  };
              this.player.volume = this.playerVolume;
              if (!this.isRecordPlayer) {
               // this.isBuffering = true;
              }
              this.player.play();
              this.$store.commit('HIDE_PLAYER_WITHOUT_UNLOAD');
              this.player.addEventListener('error', (e) => {
                if (e.target && e.target.error && e.target.error.code === 4) {
                  this.$store.commit('NEW_ALERT', this.$t('player.radio_error'));
                  this.isPlaying = false;
                  this.player.pause();
                  this.isBuffering = false;
                  this.playerIsActive = false;
                }
              });
              this.player.addEventListener('ended', (e) => {
                console.log('ended');
                this.isPlaying = false;
                if (this.repeat) {
                  this.player.currentTime = 0;
                  this.$nextTick(() => {
                    this.player.play();
                  })

                }
              });

            }
          } else {
            this.playerIsActive = false;
            this.player.pause();
          }
        }
      }
    },
    data() {
      return {
        requestPanel: {
          playlistID: null,
          visible: false,
          trackName: "",
          trackID: null,
          response: null,
          isLoading: false,
        },
        repeat: false,
        duration: 0,
        currentTime: 0,
        progress: 0,
        playbackURL: null,
        started: false,
        embedPanel: {
          visible: false,
          inputs: {
            width: 640,
            height: 360,
          }
        },
        getTrackInterval: null,
        player: null,
        isBuffering: false,
        isLoading: false,
        isPlaying: false,
        playerIsActive: false,
        currentTrackData: this.currentTrack,
        lastUpdateTime: 0,
        playerVolume: (localStorage.playerVolume ? parseFloat(localStorage.playerVolume) : .75),
        playerMuted: false,
        playerLoadTime:null,
      }
    },
    mounted() {
      this.setColors();
      this.player = document.getElementById('audio');
      this.playerLoadTime = Math.floor(new Date().getTime() / 1000);
      if (this.isRecordPlayer) {
        if (this.$store.state.player && this.$store.state.player.track) {
          let track = this.$store.state.player.track;
          if (track.id === this.record.id) {
            if (!this.player.paused) {
              this.isPlaying = true;
              this.$store.commit('HIDE_PLAYER_WITHOUT_UNLOAD');
            }
          }
        }
      } else {
        if (!this.currentTrack) {
          this.isLoading = true;
          this.getCurrentTrack();
        }

        if (this.$store.state.player && this.$store.state.player.track) {
          let track = this.$store.state.player.track;
          if (track.is_radio && track.channel && track.channel.id === this.channel.id) {
            if (!this.player.paused) {
              this.isPlaying = true;
              this.$store.commit('HIDE_PLAYER_WITHOUT_UNLOAD');
            }
          }
        }
        this.getTrackInterval = setInterval(() => {
          this.getCurrentTrack();
        }, trackUpdateInterval);
      }
    },
    beforeDestroy() {
      if (this.getTrackInterval) {
        clearInterval(this.getTrackInterval);
      }
      if (this.player) {
        if (this.isRecordPlayer) {
          if (this.isPlaying) {
            let track = this.record;
            this.$store.commit('SET_PLAYER_TRACK_WITHOUT_LOAD', {track});
          }
        } else {
          if (this.currentTrackData) {
            if (this.isPlaying) {
              let track = this.currentTrackData.track;
              track.is_radio = true;
              track.channel = this.channel;
              this.$store.commit('SET_PLAYER_TRACK_WITHOUT_LOAD', {track});
            }
          }
        }
      }
    },
    methods: {
      update() {
          this.getCurrentTrack();
          if (this.getTrackInterval) {
              clearInterval(this.getTrackInterval);
          }
          this.getTrackInterval = setInterval(() => {
              this.getCurrentTrack();
          }, trackUpdateInterval);
      },
      requestTrack() {
        this.requestPanel.isLoading = true;
        this.$axios.post(`radiostream/request/${this.channel.id}`, {
          track_id: this.requestPanel.trackID
        }).then(res => {
          this.requestPanel.isLoading = false;
          this.requestPanel.response = res.data;
          if (res.data.status) {
            setTimeout(() => {
              this.requestPanel.visible = false;
              this.requestPanel.response = null;
              this.requestPanel.trackName = "";
              this.requestPanel.trackID = null;
            }, 3500)
          }
        })
      },
      onRequestPanelGetVariant(variant) {
        this.requestPanel.trackID = variant.id;
      },
      onRequestPanelAutocompleteChange() {
        this.requestPanel.trackID = null;
      },
      showRequestPanel() {
        this.requestPanel.playlistID = this.currentTrackData.playlist.id;
        this.requestPanel.visible = true;
      },
      getReadableTime,
      onTimeUpdate() {
        this.duration = this.player.duration;
        this.currentTime = this.player.currentTime;
        this.progress = this.currentTime / this.duration;
      },
      async loadPlaybackURL(playAfterStart = false) {
        let inlinePlayerData = this.$store.state.player;
        if (inlinePlayerData.track && inlinePlayerData.track.id === this.record.id) {
          if (this.isPlaying) {
            this.$store.commit('HIDE_PLAYER_WITHOUT_UNLOAD');
          }
        } else {
          //  this.loadWaveform();
            this.isLoading = true;
            let data = (await this.$axios.post(`records/${this.record.id}/url`)).data;
            this.isLoading = false;
            if (data.status) {
              this.playbackURL = data.data.playback_url;
              this.$nextTick(() => {
                this.player.src = this.playbackURL;
                this.player.addEventListener('timeupdate', this.onTimeUpdate);
                if (playAfterStart) {
                  this.isPlaying = true;
                }
              })
            } else {
              this.$store.commit('NEW_NOTIFY', data);
            }
        }
      },
      setColors() {
        if (this.defaultView) {
          return;
        }
        if (!this.data) {
          return;
        }
        this.data.colors.forEach((color,index)=>{
          this.$refs.container.style.setProperty(`--channel-colors-${index}`, color);
        });
        let bigint = parseInt(this.data.colors[6].substring(1), 16);
        let r = (bigint >> 16) & 255;
        let g = (bigint >> 8) & 255;
        let b = bigint & 255;
        let color = `${r}, ${g}, ${b}`;
        this.$refs.container.style.setProperty(`--channel-colors-6--rgb`, color);
      },
      getPlaybackUrl() {
        if (!this.currentTrackData.playback_url) {
          return null;
        }
        return this.currentTrackData.playback_url+"?"+this.playerLoadTime;
      },
      onProgressBarClick(e) {
        const onProgressMove = (e) => {
          const rect = this.$refs.progress_bar.getBoundingClientRect();
          const width = rect.width;
          const left = rect.left;
          let percent = ((e.clientX - left) / width);
          if (percent < 0) {
            percent = 0;
          }
          if (percent > 1) {
            percent = 1;
          }
          this.player.currentTime = percent * this.duration;
        };
        onProgressMove(e);
        window.addEventListener('mousemove', onProgressMove);
        window.addEventListener('mouseup', () => {
          window.removeEventListener('mousemove', onProgressMove);
        })
      },
      onBarClick(e) {
        const onMove = (e) => {
          const rect = this.$refs.bar.getBoundingClientRect();
          const width = rect.width;
          const left = rect.left;
          let percent = ((e.clientX - left) / width);
          if (percent < 0) {
            percent = 0;
          }
          if (percent > 1) {
            percent = 1;
          }
          this.playerVolume = percent;
        };
        onMove(e);
        window.addEventListener('mousemove', onMove);
        window.addEventListener('mouseup', () => {
          window.removeEventListener('mousemove', onMove);
        })
      },
      async changePlayerState() {
        if (!this.started) {
          this.started = true;
          if (this.isRecordPlayer) {
            this.loadPlaybackURL(true);
          } else {
            let url = this.getPlaybackUrl();
            if (url) {
              this.isBuffering = true;
              this.player.src = url;
              this.isPlaying = true;
              this.player.play();
              this.player.addEventListener('loadeddata', () => {
                this.isBuffering = false;
              })
            }
          }
        } else {
          if (!this.isLoading) {
            if (this.isRecordPlayer) {
              this.isPlaying = !this.isPlaying;
            } else {
              let url = this.getPlaybackUrl();
              if (url) {
                this.isPlaying = !this.isPlaying;
              }
            }
            //const time = new Date().getTime();
            //if (!this.isRecordPlayer) {
              //if (this.isPlaying && (!this.currentTrackData.is_online || (time - this.lastUpdateTime > 30000))) {
              //  this.isLoading = true;
              //  await this.getCurrentTrack();
              //  this.player.src = this.getPlaybackUrl();
              //}
            //}
          }
        }
      },
      async getCurrentTrack() {
        let res = (await this.$axios.get(`/radiostream/getcurrenttrack/${this.channel.id}`)).data;
        this.isLoading = false;
        this.lastUpdateTime = new Date().getTime();
        this.currentTrackData = res.data;
        if (!res.data.is_online) {
          this.isPlaying = false;
        }
      }
    }
  }
</script>
