<template>
  <div class="tv-player" @mousedown="onPlayerMouseDown" @dragstart="onPlayerDragStart" :id="'tv_player_'+channel.id" :class="{'tv-player--hovered': isHovered, 'tv-player--detached': detached}" @mousemove="isHovered = true" @mouseenter="isHovered = true" @mouseleave="isHovered = false" ref="container">
    <div ref="player_container" class="tv-player__video-container">

    </div>
    <div class="tv-player__logo-container"  v-if="!isVideoPlayer && logo && hasStartedPlaying">
      <div class="tv-player__logo-container__inner" :style="{height: (videoDimensions.height / videoDimensions.width * 100) + 'vw'}">
        <img :src="logo.picture.full_path" class="tv-player__logo" :style="{width: (logo.position.width * 100) + '%', left: (logo.position.x * 100) + '%', top: (logo.position.y * 100) + '%' }" />
      </div>
    </div>
    <div class="tv-player__resizer" @mousedown="onPlayerResize" v-if="detached"></div>
    <div class="tv-player__background" v-show="!isPlaying && showBackground" :style="{'background-color': colors[8], background: design.player_background ? colors[8]+' url('+design.player_background+') no-repeat center center' : null, backgroundSize: design.player_background  ? 'contain' : null}"></div>
    <div class="tv-player__notifications">
      <div class="tv-player__notification" :key="$index" v-for="(notification, $index) in notifications">
        <div class="tv-player__notification__picture" v-if="notification.data.picture" :style="'background: url('+notification.data.picture+') no-repeat center center; background-size: contain;'"></div>
        <div class="tv-player__notification__info">
          <div class="tv-player__notification__title">{{notification.data.title}}</div>
          <div class="tv-player__notification__text">{{notification.data.text}}</div>
        </div>
      </div>
    </div>
    <div class="tv-player__big-play-button" v-if="showBigPlayButton" @click="init()">
      <i class="material-icons">play_arrow</i>
    </div>
    <div class="tv-player__timetable" v-if="timetable.visible && !detached">
      <div class="tv-player__timetable__inner">
        <div class="tv-player__timetable__background"></div>
        <div class="tv-player__timetable__container">
          <div class="tv-player__timetable__header">
            <a class="tv-player__timetable__header__button" @click="changeTimetableDay(-1)">
              <i class="material-icons">chevron_left</i>
            </a>
            <span class="tv-player__timetable__header__date">{{(timetableDayFormatted)}}</span>
            <a class="tv-player__timetable__header__button" @click="changeTimetableDay(1)">
              <i class="material-icons">chevron_right</i>
            </a>
          </div>
          <div ref="timetable_container" class="tv-player__timetable__list-container">
            <div v-if="timetable.loading" class="tv-player__timetable__list__loading">
              <m-preloader stroke-width="3" circle-width="3em"  />
            </div>
            <div class="tv-player__timetable__list">
              <div class="tv-player__timetable__nothing-found" v-if="!timetable.loading && timetable.list.length === 0">
                {{$t('timetable.nothing_found_for_day')}}
              </div>
              <a  @click="showTimetableItemPanel(item)" class="tv-player__timetable__item" :class="{'tv-player__timetable__item--current': item.is_current, 'tv-player__timetable__item--playing': item.id === timetable.currentPlayingItem.id}" :key="$index" v-for="(item, $index) in timetable.list">
                <div class="tv-player__timetable__item__inner">
                  <div :style="item.picture ? `background: url('${item.picture}') no-repeat center center; background-size: cover;` : ``" class="tv-player__timetable__item__picture">
                    <div class="tv-player__timetable__item__picture__question-mark" v-if="!item.picture">?</div>
                  </div>
                  <div class="tv-player__timetable__item__info">
                    <div class="tv-player__timetable__item__date">{{getTime(item.time)}}</div>
                    <div class="tv-player__timetable__item__title">{{item.title}}</div>
                  </div>
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="page-preloader" v-if="isLoading">
      <m-preloader stroke-width="5" circle-width="5em"  />
    </div>

    <div v-if="isWaitingForStart" class="tv-player__waiting">
      <div class="tv-player__waiting__inner">
        <m-preloader stroke-width="3" circle-width="1.75em"  />
        <span class="tv-player__waiting__text">{{$t('player.broadcast_will_start_soon')}}</span>
      </div>
    </div>
    <div class="tv-player__error" v-if="error.visible">
      <span class="tv-player__error__icon">
        <i class="fa fa-exclamation-triangle"></i>
      </span>
      <span class="tv-player__error__text">
        {{getErrorText}}
      </span>
    </div>

    <ComplaintPanel v-model="complaintPanel.visible" :class="{'modal--inline': !detached}" :page="complaintPageData"></ComplaintPanel>

    <m-modal :inline="!detached" v-model="embedPanel.visible" :header="$t('player.embed._title')">
      <div slot="main">
        <div class="tv-player__embed">{{getEmbedCode}}</div>
        <div class="row">
          <div class="col">
            <m-input autoSize type="number" :title="$t('player.embed.inputs.width')" v-model="embedPanel.inputs.width" :min="1" :max="1920"/>
          </div>
          <div class="col">
            <m-input autoSize type="number" :title="$t('player.embed.inputs.height')"  v-model="embedPanel.inputs.height" :min="1" :max="1080"/>
          </div>
        </div>
        <div class="row tv-player__embed__autoplay-container">
          <div class="col">
            <m-checkbox switch :title="$t('player.embed.inputs.autoplay')" v-model="embedPanel.inputs.autoplay"/>
          </div>

        </div>
      </div>
    </m-modal>

    <m-modal :inline="!detached" v-model="passwordWindow.visible" :header="$t('player.password._title')">
      <div slot="main">
        <div class="modal__input-container">
          <m-input :errors="passwordWindow.errors.password" :title="$t('player.password.input_title')" v-model="passwordWindow.data.password"/>
        </div>
      </div>
      <div class="modal__buttons" slot="buttons">
        <div class="buttons-list">
          <m-btn :loading="passwordWindow.isLoading" @click="checkPassword()">{{$t('global.ok')}}</m-btn>
          <m-btn flat @click="passwordWindow.visible = false">{{$t('global.cancel')}}</m-btn>
        </div>
      </div>
    </m-modal>

    <m-modal :inline="!detached" v-model="adultContentWindow.visible" :header="$t('player.adult_content._title')">
      <div slot="main">
        <div class="modal__text">{{$t('player.adult_content._text')}}</div>
        <div class="modal__input-container">
          <m-checkbox :title="$t('player.adult_content.save')"  v-model="adultContentWindow.save"/>
        </div>
      </div>
      <div class="modal__buttons" slot="buttons">
        <div class="buttons-list">
          <m-btn @click="permitAdultContent()">{{$t('global.ok')}}</m-btn>
          <m-btn flat @click="adultContentWindow.visible = false">{{$t('global.cancel')}}</m-btn>
        </div>
      </div>
    </m-modal>

    <m-modal :inline="!detached" v-model="timetable.panel.visible" :header="''" v-if="timetable.panel.item">
      <div slot="main">
        <div class="tv-player__timetable-window" >
          <div class="tv-player__timetable-window__header">
            <div :style="timetable.panel.item.picture ? `background: url('${timetable.panel.item.picture}') no-repeat center center; background-size: contain;` : ``" class="tv-player__timetable-window__picture">
              <div class="tv-player__timetable-window__picture__question-mark" v-if="!timetable.panel.item.picture">?</div>
            </div>
            <div class="tv-player__timetable-window__texts">
              <div class="tv-player__timetable-window__title">{{timetable.panel.item.title}}</div>
              <div v-show="timetable.panel.item.readable_time" class="tv-player__timetable-window__info">
                {{ $t('timetable.panel.time_start')}} <span class="tv-player__timetable-window__info__value">{{timetable.panel.item.readable_time}}</span>
              </div>
              <div v-show="timetable.panel.item.length" class="tv-player__timetable-window__info">
                {{ $t('timetable.panel.length')}} <span class="tv-player__timetable-window__info__value">{{getReadableTime(timetable.panel.item.length)}}</span>
              </div>
            </div>
          </div>
          <div class="tv-player__timetable-window__description">
            {{timetable.panel.item.description ? timetable.panel.item.description : $t('timetable.panel.no_description')}}
          </div>
          <div v-if="!currentItemInPast" class="tv-player__timetable-window__button-container">
            <AnnounceSubscribeButton :data="timetable.panel.item"/>
          </div>
        </div>
      </div>
      <div class="modal__buttons" slot="buttons">
        <m-btn icon="play_arrow" :loading="timetable.panel.loadingVideo"  v-if="canViewCurrentItem" @click="loadTimetablePanelVideo()">{{$t('timetable.panel.watch_now')}}</m-btn>
      </div>
    </m-modal>

    <div class="tv-player__info">
      <div class="tv-player__info__background"></div>
      <div class="tv-player__info__inner">
        <div class="tv-player__info__left">
          <div class="tv-player__info__logo"  :style="{background:'url('+design.logo+') no-repeat center center',backgroundSize: 'contain'}"></div>
          <div class="tv-player__info__captions" v-if="isVideoPlayer">
            <div class="tv-player__info__name">{{videoData.title}}</div>
            <div class="tv-player__info__stream-name">{{videoData.channel.name}}</div>
          </div>
          <div class="tv-player__info__captions" v-else>
            <a target="_blank" :href="'/'+channel.shortname" class="tv-player__info__name">{{channel.name}}</a>
            <div v-if="streamName" class="tv-player__info__stream-name">{{streamName}}</div>
          </div>
        </div>
        <div class="tv-player__info__right" v-show="!detached">

          <a v-if="timetable.isPlayingVideo" @click="backToLiveBroadcast()" class="tv-player__button">
            <i class="fa fa-play-circle"></i>
          </a>
          <a v-if="isLoadedAsTvPlayer" target="_blank" :href="'/donate/'+channel.id" class="tv-player__button">
            <i class="fa fa-comments-dollar"></i>
          </a>
          <a v-if="isLoadedAsTvPlayer && channel.show_timetable" @click="showTimetable()" class="tv-player__button" :class="{'tv-player__button--active': timetable.visible}">
            <i class="fa fa-list-ul"></i>
          </a>
          <a @click="embedPanel.visible = true" class="tv-player__button">
            <i class="fa fa-code"></i>
          </a>
          <a @click="complaintPanel.visible = true" class="tv-player__button">
            <i class="fa fa-exclamation-triangle"></i>
          </a>
        </div>
        <div class="tv-player__info__right" v-show="detached">
          <a @click="closePlayer()" class="tv-player__button">
            <i class="material-icons">close</i>
          </a>
          <a @click="attachPlayer()" class="tv-player__button tv-player__button--attach">
            <i class="material-icons">open_in_new</i>
          </a>
        </div>
      </div>
    </div>
    <div class="tv-player__controls">
      <div class="tv-player__controls__outer">
        <div class="tv-player__controls__background"></div>
        <div class="tv-player__progress-bar" @mousedown="onStartChangingProgress"  ref="progress_bar" @mousemove="onProgressBarMouseMove" v-if="isVideoPlayer">
          <div class="tv-player__progress-bar__inner">
            <div class="tv-player__progress-bar__time-container" :style="{left: hoverPercent + '%', marginLeft: (gridPreviewData  ? ((gridPreviewData.width / -2) + 'px') : (hoverOffset + 'px'))}">
              <div ref="hover_time" class="tv-player__progress-bar__time" :style="{marginTop: (gridPreviewData ? ((-1 * gridPreviewData.height) + 'px') : null)}" v-if="getHoverTime">
                <div class="tv-player__progress-bar__preview" v-if="gridPreviewData" :style="`background-image: url('${videoData.grid_preview_url}');background-size: ${gridPreviewData.background_size_x}px ${gridPreviewData.background_size_y}px;width:${gridPreviewData.width}px; height:${gridPreviewData.height}px; background-position: ${gridPreviewData.position_x}px 0px`"></div>
                <span class="tv-player__progress-bar__time__text">{{getHoverTime}}</span>
              </div>
            </div>
            <div class="tv-player__progress-bar__handle-container" :style="{left: (progress * 100) + '%'}">
              <div class="tv-player__progress-bar__handle"></div>
            </div>
            <div class="tv-player__progress-bar__value-container">
              <div class="tv-player__progress-bar__value" :style="{width: (progress * 100) + '%'}"></div>
            </div>
          </div>
        </div>
        <div class="tv-player__controls__inner">
          <div class="tv-player__controls__left">
            <a class="tv-player__button" @click="isPlaying = !isPlaying">
              <i v-if="isPlaying" class="material-icons">pause</i>
              <i v-else class="material-icons">play_arrow</i>
            </a>
            <div class="tv-player__volume">
              <a class="tv-player__button" @click="isMuted = !isMuted">
                <i v-if="isMuted" class="material-icons">volume_off</i>
                <i v-else class="material-icons">volume_up</i>
              </a>
              <div v-show="!isMuted" @mousedown="onStartChangingVolume" ref="volume_bar" class="tv-player__volume__bar">
                <div class="tv-player__volume__bar__handle" :style="{left: volume + '%'}"></div>
                <div class="tv-player__volume__bar__value-container">
                  <div class="tv-player__volume__bar__value" :style="{width: volume + '%'}"></div>
                </div>
              </div>
            </div>
            <a @click="changeTimetableItemIndex(timetable.currentPlayingItemIndex - 1)" v-if="timetable.isPlayingVideo && timetable.currentPlayingItemIndex > 0" class="tv-player__button">
              <i class="material-icons">fast_rewind</i>
            </a>
            <a @click="changeTimetableItemIndex(timetable.currentPlayingItemIndex + 1)" v-if="timetable.isPlayingVideo && timetable.currentPlayingItemIndex + 1 < timetable.currentPlaylist.length" class="tv-player__button">
              <i class="material-icons">fast_forward</i>
            </a>
          </div>

          <div class="tv-player__controls__right">
            <a v-show="!detached" href="https://catcast.me" target="_blank" class="tv-player__button tv-player__button--logo">
              <svg class="tv-player__button--logo__picture" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 732.1 265.15">
                <path class="cls-1" d="M256.39,318.7s-20.38,47-72.85,47c-51.65,0-76.18-44.33-76.18-60.17,0-3.64-.82-84.4-.38-98.7a18.42,18.42,0,0,1,.06-2.36c1.41,1.15,32.7,26.31,79.88,26.68,35.49.27,72.65-26.67,72.38-26.45,0,0,0-.24,0-.23-.07,1.16-.08,47.51-.08,47.51,9.7-6.28,42.31-26.08,41.87-27-16.58-35.65-61.55-72.19-117.53-72.19a133,133,0,0,0-133,133c0,73.46,59.43,132.16,132.88,132.16,80,0,120.27-67.49,120.27-78.25" transform="translate(-50.54 -152.74)"/><path class="cls-2" d="M107,207" transform="translate(-50.54 -152.74)"/><path class="cls-3" d="M353.53,311.58a30.84,30.84,0,0,1-12-11.62,34.69,34.69,0,0,1,0-33.6,30.49,30.49,0,0,1,12-11.56,35.86,35.86,0,0,1,17.4-4.15,33.34,33.34,0,0,1,15.47,3.49,24.86,24.86,0,0,1,10.54,10.12l-8.79,5.66a19.73,19.73,0,0,0-7.47-6.87,21.35,21.35,0,0,0-9.87-2.29,22.88,22.88,0,0,0-11.26,2.77,19.82,19.82,0,0,0-7.83,7.89,26,26,0,0,0,0,23.6,19.69,19.69,0,0,0,7.83,7.89,22.78,22.78,0,0,0,11.26,2.77,21.23,21.23,0,0,0,9.87-2.29,19.63,19.63,0,0,0,7.47-6.86l8.79,5.54a25.15,25.15,0,0,1-10.54,10.17,32.88,32.88,0,0,1-15.47,3.56A35.46,35.46,0,0,1,353.53,311.58Z" transform="translate(-50.54 -152.74)"/><path class="cls-3" d="M455.4,257.15q7.05,6.51,7.05,19.39v38.53h-11v-8.43a18.29,18.29,0,0,1-8.25,6.81,31.57,31.57,0,0,1-12.7,2.35q-10.73,0-17.16-5.18a17.79,17.79,0,0,1-.3-27.16q6.14-5.11,19.5-5.11h18.31v-2.29q0-7.47-4.34-11.44t-12.76-4a33.88,33.88,0,0,0-11.08,1.87,28.63,28.63,0,0,0-9.15,5l-4.82-8.67a34.89,34.89,0,0,1,11.8-6.08,49.22,49.22,0,0,1,14.57-2.11Q448.36,250.65,455.4,257.15Zm-11.5,46.79a17,17,0,0,0,7-8.37v-8.91H433.07q-14.7,0-14.7,9.87a9,9,0,0,0,3.74,7.59c2.48,1.84,5.94,2.77,10.35,2.77A21.52,21.52,0,0,0,443.9,303.94Z" transform="translate(-50.54 -152.74)"/><path class="cls-3" d="M519.77,311.34a17.23,17.23,0,0,1-6.26,3.31,25.94,25.94,0,0,1-7.71,1.15q-9.63,0-14.93-5.18t-5.3-14.81V260.76H474.73v-9.51h10.84v-14h11.56v14h18.3v9.51h-18.3v34.57q0,5.18,2.59,7.94t7.41,2.77a13.92,13.92,0,0,0,9-3Z" transform="translate(-50.54 -152.74)"/><path class="cls-3" d="M544.15,311.76a32,32,0,0,1-12.88-11.86,34.27,34.27,0,0,1,0-34.44,32,32,0,0,1,12.88-11.86,39.84,39.84,0,0,1,18.61-4.28,36.06,36.06,0,0,1,17.88,4.28,25.34,25.34,0,0,1,11.14,12.22l-14.57,7.83q-5.06-8.91-14.57-8.91a16.5,16.5,0,0,0-12.17,4.82q-4.82,4.81-4.81,13.12t4.81,13.13a16.5,16.5,0,0,0,12.17,4.81q9.63,0,14.57-8.91l14.57,8a25.85,25.85,0,0,1-11.14,12A35.66,35.66,0,0,1,562.76,316,39.84,39.84,0,0,1,544.15,311.76Z" transform="translate(-50.54 -152.74)"/><path class="cls-3" d="M651.87,256.49q8.07,7.17,8.07,21.61v37H642.36V307q-5.31,9-19.75,9a30.59,30.59,0,0,1-13-2.53,19.31,19.31,0,0,1-8.37-7,18.12,18.12,0,0,1-2.89-10.11q0-9,6.81-14.21t21-5.18h14.93q0-6.13-3.73-9.45t-11.2-3.31A32.83,32.83,0,0,0,616,265.88a27,27,0,0,0-8.49,4.4l-6.74-13.13a40.8,40.8,0,0,1,12.7-5.78,57.16,57.16,0,0,1,15.24-2.05Q643.79,249.32,651.87,256.49Zm-16,44.68a12.2,12.2,0,0,0,5.3-6.57V288H628.27q-11.57,0-11.56,7.59a6.76,6.76,0,0,0,2.83,5.72q2.82,2.1,7.76,2.1A16.41,16.41,0,0,0,635.85,301.17Z" transform="translate(-50.54 -152.74)"/><path class="cls-3" d="M682.94,314.05a41,41,0,0,1-12.29-5l6.27-13.48a39.5,39.5,0,0,0,10.47,4.51,43.73,43.73,0,0,0,12,1.75q11.93,0,11.93-5.9c0-1.85-1.09-3.17-3.26-4a48.22,48.22,0,0,0-10-2A98.05,98.05,0,0,1,685,287.14a20.43,20.43,0,0,1-9-5.54q-3.79-4-3.79-11.32a17.71,17.71,0,0,1,3.55-10.9A22.9,22.9,0,0,1,686.13,252a44.31,44.31,0,0,1,16.07-2.65,63.27,63.27,0,0,1,13.67,1.51A38.24,38.24,0,0,1,727.13,255l-6.26,13.37a37.4,37.4,0,0,0-18.67-4.82c-4,0-7,.57-9,1.69s-3,2.57-3,4.34c0,2,1.09,3.41,3.25,4.21a57.58,57.58,0,0,0,10.36,2.29,109.33,109.33,0,0,1,13,2.83,19.52,19.52,0,0,1,8.79,5.48q3.72,4,3.73,11.08a17.14,17.14,0,0,1-3.61,10.71,23.16,23.16,0,0,1-10.54,7.29A47.12,47.12,0,0,1,698.71,316,62.6,62.6,0,0,1,682.94,314.05Z" transform="translate(-50.54 -152.74)"/><path class="cls-3" d="M782.64,311.94a19.1,19.1,0,0,1-6.8,3.07,34,34,0,0,1-8.49,1q-11.57,0-17.88-5.9t-6.32-17.34V266.18h-10V251.73h10V236h18.78v15.77h16.14v14.45H761.93v26.38a8.82,8.82,0,0,0,2.11,6.32,7.82,7.82,0,0,0,6,2.23,12.12,12.12,0,0,0,7.59-2.41Z" transform="translate(-50.54 -152.74)"/>
              </svg>
            </a>
            <div class="tv-player__time" v-if="isVideoPlayer">
              {{ getReadableTime(currentTime) }} /  {{ getReadableTime(duration) }}
            </div>
            <div v-if="!isVideoPlayer && currentProgramData.is_online && currentProgramData.viewers > 0" class="tv-player__viewers">
              <span class="tv-player__viewers__icon">
                <i class="fa fa-eye"></i>
              </span>
              <span class="tv-player__viewers__count">
                {{currentProgramData.viewers}}
              </span>
            </div>
            <a class="tv-player__button" @click="goFullScreen()">
              <i v-if="isFullScreen" class="material-icons">fullscreen_exit</i>
              <i v-else class="material-icons">fullscreen</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import videojs from 'video.js';
  import 'flv.js';
  import 'videojs-youtube';
  import 'video.js/dist/video-js.css';

  import { getLocales, getTime, getFullDate, getDate } from '~/functions/dates.js';
  import { addDays, format } from 'date-fns';

  import getReadableTime from '~/functions/getReadableTime.js';

  import AnnounceSubscribeButton from '@/components/buttons/AnnounceSubscribeButton';
  import ComplaintPanel from '@/components/blocks/ComplaintPanel';
  import isMobile from "../../functions/isMobile";

  const locales = {
    en: require('date-fns/locale/en'),
    ru: require('date-fns/locale/ru')
  };

  function requestFullScreen(element) {
    if(element.requestFullScreen) {
      element.requestFullScreen();
    } else if(element.mozRequestFullScreen) {
      element.mozRequestFullScreen();
    } else if(element.webkitRequestFullScreen) {
      element.webkitRequestFullScreen();
    }
  }

  function cancelFullScreen() {
    if (document.cancelFullScreen) {
      document.cancelFullScreen();
    } else if (document.mozCancelFullScreen) {
      document.mozCancelFullScreen();
    } else if (document.webkitCancelFullScreen) {
      document.webkitCancelFullScreen();
    }
  }

  export default {
    components: {
      ComplaintPanel,
      AnnounceSubscribeButton
    },
    computed: {
      playerElId() {
        return this.video ? "player_el_video_" + this.video.id : "player_el_tv_" + this.channel.id;
      },
      design() {
        return this.project ? this.project : (this.channel ? this.channel : (this.video ? this.video.channel : {}));
      },
      complaintPageData() {
        if (!this.isVideoPlayer) {
          return {
            type: 'channels',
            id: this.channel.id
          };
        } else {
          return  {
            type: 'videos',
            id: this.videoData.id
          };
        }
      },
      getEmbedCode() {
        let src = (!this.isVideoPlayer ? `player/${this.channel.id}` : `videos/player/${this.videoData.id}`);
        let autoplay = this.embedPanel.inputs.autoplay ? "" : "?autoplay=0";
        return `<iframe src="https://catcast.me/${src}${autoplay}" frameborder="0" allowfullscreen width="${this.embedPanel.inputs.width}" height="${this.embedPanel.inputs.height}"></iframe>`;
      },
      currentItemInPast() {
        if (this.timetable.panel.item) {
          let ts = Math.floor(new Date().getTime() / 1000);
          return this.timetable.panel.item.time <= ts;
        }
        return false;
      },
      canViewCurrentItem() {
        if (this.timetable.panel.item) {
          if (this.timetable.panel.item.can_view) {
            let ts = Math.floor(new Date().getTime() / 1000);
            return this.timetable.panel.item.time <= ts;
          }
        }
        return false;
      },
      timetableDayFormatted() {
        return format(this.timetable.currentDay,
          "D MMMM",
          {locale: locales[window.__locale__]}
        );
      },
      gridPreviewData() {
        if (this.videoData && this.videoData.grid_preview) {
          if (this.duration) {
            let preview = this.videoData.grid_preview;
            let second = (this.hoverPercent / 100) * this.duration;
            let index = Math.floor(second / preview.every_nth_second);
            let height = 85;
            let width = preview.width * height / preview.height;
            return {
              position_x: -1 * index * width,
              width,
              height,
              background_size_x: width * preview.frames_count,
              background_size_y: height
            };
          }
        }
        return null;
      },
      getErrorText() {
        if (this.error.code === 4) {
          return this.$t('player._errors.wrong_format_or_not_found');
        }
        return '';
      },
      showBackground() {
        if (this.videoData) {
          return !this.videoPlaybackData;
        }
        return true;
      },
      getHoverTime() {
        if (this.duration) {
          return getReadableTime((this.hoverPercent / 100) * this.duration);
        }
        return null;
      },
      videoSetup() {
        let setup = null;
        if (this.videoData && this.videoPlaybackData) {
          if (this.videoData.host === 'yt') {
            setup = {"techOrder": ["youtube"], "sources": [{"type": "video/youtube", "src": this.videoPlaybackData.playback_url}]}
          } else {
            setup = {"techOrder": ["html5"], "sources": [{"type": "video/mp4", "src": this.videoPlaybackData.playback_url}]}
          }
        }
        return JSON.stringify(setup);
      },
      isVideoPlayer() {
        return !!this.videoData;
      },
      streamName() {
        if (this.currentProgramData && this.currentProgramData.is_online) {
          return this.currentProgramData.program_name;
        }
        return null;
      }
    },
    watch: {
      detached(isDetached) {
        let player = this.$refs.container;
        if (!player) {
          return;
        }
        if (!isDetached) {
          player.style.left = 0;
          player.style.bottom = "";
          player.style.top = 0;
          player.style.width = "100%";
          player.style.height = "100%";
        } else {
          player.style.left = "4.5em";
          player.style.top = "";
          player.style.bottom = ".75em";
          player.style.width = "24em";
          player.style.height = "15em";
        }
      },
      "passwordWindow.visible"(isVisible) {
        if (!isVisible) {
          this.isLoading = false;
        }
      },
      async video(newVideo) {
        this.videoData = newVideo;
        if (this.player) {
          await this.loadPlaybackUrl();
          await this.initPlayer(true);
        }
      },
      isMuted(muted) {
        if (this.player) {
          this.player.muted(muted);
        }
      },
      volume(newVolume) {
        localStorage.player_volume = newVolume;
        if (this.player) {
          this.player.volume(newVolume / 100);
        }
      },
      async isPlaying(playing) {
        if (playing) {
          if (this.player) {
            this.player.play();
          } else {
            if (this.isVideoPlayer) {
              await this.loadPlaybackUrl();
              this.initPlayer(true);
            }
          }
        } else {
          if (this.player) {
            this.player.pause();
          }
        }
        this.$store.commit('players/SET_IS_PLAYING', {id: this.video ? 'video_' + this.video.id : 'tv_' + this.channel.id, is_playing: playing});
      },
      isHovered(hovered) {
        if (hovered) {
          clearTimeout(this.hoverTimeout);
          this.hoverTimeout = setTimeout(()=>{
            this.isHovered = false;
          },5500)
        }
      }
    },
    beforeDestroy(){
      this.deleting = true;
      if (this.getCurrentProgramInterval) {
        clearTimeout(this.getCurrentProgramInterval);
      }
      if (this.player) {
        if (this.player.tech_ && this.player.tech_.flvPlayer) {
          this.player.tech_.flvPlayer.unload();
        }
        this.player.dispose();
      }
      if (this.channel) {
        this.$echo.leave(`App.Channel.${this.channel.id}`);
      }
    },
    mounted() {
      this.setColors();
      if (this.autoplay) {
        this.initAll();
      } else {
        this.showBigPlayButton = true;
      }
    },
    data() {
      return {
        showBigPlayButton: false,
        autoplay: this.$route.query.autoplay ? (this.$route.query.autoplay !== 'false' && this.$route.query.autoplay !== '0') : true,
        deleting: false,
        isWaitingForStart: false,
        getCurrentProgramInterval: null,
        complaintPanel: {
          visible: false
        },
        passwordWindow: {
          isLoading: false,
          visible: false,
          data: {
            password: '',
          },
          errors: {},
        },
        adultContentWindow: {
          visible: false,
          save: true
        },
        embedPanel: {
          visible: false,
          inputs: {
            autoplay: true,
            width: 640,
            height: 360,
          }
        },
        playerEl: null,
        isLoadedAsTvPlayer: !this.video,
        currentProgramData: this.currentProgram ? this.currentProgram : {},
        videoData: this.video,
        channelData: this.channel ? this.channel : (this.video ? this.video.channel : null),
        player: null,
        src: "",
        colors: this.project ? this.project.colors : this.channel ? this.channel.colors : (this.video ? this.video.channel.colors : null),
        isLoading: false,
        isHovered: false,
        isPlaying: false,
        isMuted: false,
        isFullScreen: false,
        hoverTimeout: null,
        volume: localStorage.player_volume || 75,
        progress: 0,
        isChangingProgress: false,
        duration: null,
        currentTime: null,
        hoverPercent: 0,
        hoverOffset: null,
        notifications: [],
        videoPlaybackData: null,
        error: {
          code: -1,
          visible: false,
        },
        locales: getLocales(),
        timetable: {
          isPlayingVideo: false,
          screenWidthInPx: 0,
          widthInPx: 0,
          itemWidthInPx: 0,
          itemsVisible: 7,
          scroll: 0,
          visible: false,
          loading: false,
          loaded: false,
          list: [],
          currentPlaylist: [],
          currentPlayingItem: {},
          currentPlayingItemIndex: null,
          currentDay: new Date(),
          panel: {
            loadingVideo: false,
            visible: false,
            item: null,
          },
        },
        hasStartedPlaying: false,
        logo: null,
        videoDimensions: {
          width: 0,
          height: 0
        }
      }
    },
    methods: {
      getLogo() {
        this.$axios.get(`channels/${this.channel.id}/logos/active`).then(res => {
            if (res.data.status && res.data.data.logo &&  res.data.data.logo.position && res.data.data.logo.picture) {
              this.logo = res.data.data.logo;
            }
        })
      },
      onPlayerResize(e) {
        let resizable = this.$refs.container;
        let startX = e.clientX;
        let startY = e.clientY;
        let startWidth = parseInt(document.defaultView.getComputedStyle(resizable).width, 10);
        let startHeight = parseInt(document.defaultView.getComputedStyle(resizable).height, 10);
        document.documentElement.addEventListener('mousemove', doDrag, false);
        document.documentElement.addEventListener('mouseup', stopDrag, false);

        function doDrag(e) {
          resizable.style.width = (startWidth + e.clientX - startX) + 'px';
          resizable.style.height = (startHeight + e.clientY - startY) + 'px';
        }

        function stopDrag(e) {
          document.documentElement.removeEventListener('mousemove', doDrag, false);
          document.documentElement.removeEventListener('mouseup', stopDrag, false);
        }
      },
      onPlayerMouseDown(e) {
        if (!this.detached) {
          return;
        }
        if (e.target.className === "tv-player__resizer") {
          return;
        }
        let player = this.$refs.container;
        let coords = getCoords(player);
        let shiftX = e.pageX - coords.left;
        let shiftY = e.pageY - coords.top;

        moveAt(e);

        function getCoords(elem) {
          var box = elem.getBoundingClientRect();
          return {
            top: box.top + pageYOffset,
            left: box.left + pageXOffset
          };
        }

        function moveAt(e) {
          player.style.left = e.pageX - shiftX + 'px';
          player.style.top = e.pageY - shiftY + 'px';
        }

        document.onmousemove = function(e) {
          moveAt(e);
        };

        player.onmouseup = function() {
          document.onmousemove = null;
          player.onmouseup = null;
        };
      },
      onPlayerDragStart() {
        if (!this.detached) {
          return;
        }
        return false;
      },
      closePlayer() {
        this.$store.commit('players/CLOSE_PLAYER', {
          id: this.video ? 'video_' + this.video.id : 'tv_' + this.channel.id,
        });
      },
      attachPlayer() {
        if (this.video) {
          this.$router.push('/videos/' + this.video.id);
        } else {
          this.$router.push('/' + this.channel.shortname);
        }
      },
      init() {
        this.showBigPlayButton = false;
        this.initAll();
      },
      initAll() {
        if (!this.isVideoPlayer) {
          this.initPlayer();
          this.$echo.join(`App.Channel.${this.channel.id}`)
            .listen('.channel.got_online', (e) => {
              if (this.getCurrentProgramInterval) {
                clearTimeout(this.getCurrentProgramInterval);
              }
              this.currentProgramData = {};
              this.initPlayer(true);
            })
            .listen('.channel.new_donate', (e) => {
              this.newNotification({
                title: (e.user ? e.user.username : e.donate.user_guest_name) + ' - ' + e.donate.sum + ' ' + this.$t('currency'),
                text: e.donate.comment,
                picture: e.user ? e.user.ava : null
              });
            })

            this.getLogo();
        }
      },
      async backToLiveBroadcast() {
        this.timetable.isPlayingVideo = false;
        this.timetable.currentPlayingItemIndex = null;
        this.timetable.currentPlayingItem = {};
        this.videoData = null;
        this.initPlayer(true);
      },
      async getCurrentProgram() {
        let data = {};
        if (localStorage['channel_password_'+this.channel.id]) {
          data.password = localStorage['channel_password_'+this.channel.id];
        }
        this.currentProgramData = (await this.$axios.get(`/channels/${this.channel.id}/getcurrentprogram`, data)).data.data;
        this.$emit('changeprogram', this.currentProgramData);
        if (this.currentProgramData.is_online) {
          if ( this.getCurrentProgramInterval) {
            clearInterval( this.getCurrentProgramInterval);
          }
          if (!this.deleting) {
            this.getCurrentProgramInterval = setTimeout(() => {
              this.getCurrentProgram();
            }, 30000)
          }
        }
      },
      async checkPassword() {
        this.passwordWindow.isLoading = true;
        let data = (await this.$axios.post(`/channels/${this.channel.id}/getcurrentprogram`, {password: this.passwordWindow.data.password})).data;
        this.passwordWindow.isLoading = false;
        if (!data.status) {
          this.passwordWindow.errors = data.errors;
        } else {
          this.passwordWindow.visible = false;
          this.currentProgramData = data.data;
          localStorage['channel_password_'+this.channel.id] = this.passwordWindow.data.password;
          let program = this.currentProgramData.data;
          this.setProgram(program);
        }
      },
      getTime,
      async changeTimetableDay(count) {
        this.timetable.currentDay = addDays(this.timetable.currentDay, count);
        this.timetable.loading = true;
        let dayFormatted = format(this.timetable.currentDay,
          "DD.MM.YYYY",
          {locale: this.locales[window.__locale__]}
        );
        let timetable = (await this.$axios.post(`timetable/getbychannel/${this.channel.id}?day=${dayFormatted}`)).data;
        this.timetable.list = Object.values(timetable.data.list);
        this.timetable.loading = false;
      },
      async loadVideo(id, playlist_id) {
        let query = playlist_id ? `?page_type=playlist&page_id=${playlist_id}` : '';
        let videoData = (await this.$axios.get(`/videos/${id}${query}`)).data;
        if (videoData.status) {
          this.videoData = videoData.data;
          await this.loadPlaybackUrl({type: 'playlist', id: playlist_id});
          this.timetable.isPlayingVideo = true;
          await this.initPlayer(true);
        }
      },
      async loadTimetablePanelVideo() {
        this.timetable.panel.loadingVideo = true;
        await this.loadVideo(this.timetable.panel.item.video_id, this.timetable.panel.item.playlist_id);
        this.timetable.panel.loadingVideo = false;
        if (this.videoData) {
          this.timetable.currentPlaylist = JSON.parse(JSON.stringify(this.timetable.list));
          this.timetable.currentPlayingItemIndex = this.timetable.list.indexOf(this.timetable.panel.item);
          this.timetable.currentPlayingItem = JSON.parse(JSON.stringify(this.timetable.panel.item));
          this.timetable.visible = false;
          this.timetable.panel.visible = false;
        }
      },
      showTimetableItemPanel(item) {
        this.timetable.panel.item = item;
        this.timetable.panel.visible = true;
      },
      scrollTimetableForScreen(direction) {
        if (direction === -1) {
          if (this.timetable.scroll >  this.timetable.screenWidthInPx) {
            this.timetable.scroll -= this.timetable.screenWidthInPx;
          } else {
            this.timetable.scroll = 0;
          }
        } else {
          if (direction === 1) {
            if (this.timetable.scroll +  this.timetable.screenWidthInPx < ((this.timetable.widthInPx - this.timetable.screenWidthInPx))) {
              this.timetable.scroll += this.timetable.screenWidthInPx;
            } else {
              this.timetable.scroll = (this.timetable.widthInPx - this.timetable.screenWidthInPx);
            }
          }
        }
      },
      scrollTimetable(direction) {
        let change = direction * 50;
        if (this.timetable.scroll + change >=0 && this.timetable.scroll + change <= (this.timetable.widthInPx - this.timetable.screenWidthInPx)) {
          this.timetable.scroll += change;
        }
      },
      onTimetableScroll(e) {
        this.scrollTimetable(e.deltaY > 0 ? 1 : -1);
      },
      setVisibleTimetableItemsCount() {
        if (this.$refs.timetable_container) {
          let em = parseFloat(getComputedStyle(this.$refs.timetable_container).fontSize);
          let width = this.$refs.timetable_container.offsetWidth;
          this.timetable.itemsVisible = Math.floor(width / 200);
          this.timetable.screenWidthInPx = width - em * 2;
          this.timetable.widthInPx = width * (this.timetable.list.length / Math.floor(width / 200));
          this.timetable.itemWidthInPx = width / this.timetable.itemsVisible;
          let currentItem = this.timetable.list.filter(item => item.is_current)[0];
          if (currentItem) {
            let currentItemIndex = this.timetable.list.indexOf(currentItem);
            let scroll = (this.timetable.itemWidthInPx * currentItemIndex) - (this.timetable.itemsVisible * this.timetable.itemWidthInPx / 2);
            if (scroll < (this.timetable.widthInPx - this.timetable.screenWidthInPx)) {
              this.timetable.scroll = scroll;
            } else {
              this.timetable.scroll = this.timetable.widthInPx - this.timetable.screenWidthInPx;
            }
          }
        }
      },
      async showTimetable() {
        if (!this.timetable.visible) {
          this.timetable.visible = true;
          this.timetable.loading = true;
          let timetable = (await this.$axios.post(`timetable/getbychannel/${this.channel.id}`)).data;
          this.timetable.list = Object.values(timetable.data.list);
          this.timetable.loading = false;
          // this.setVisibleTimetableItemsCount();
        } else {
          this.timetable.visible = false;
        }
      },
      async loadPlaybackUrl(pageData) {
        let page = pageData || this.page;
        let query = page ? `?page_type=${page.type}&page_id=${page.id}` : '';
        this.isLoading = true;
        let url = (await this.$axios.get(`videos/${this.videoData.id}/url${query}`)).data;
        this.isLoading = false;
        if (url.status) {
          this.videoPlaybackData = url.data;
        } else {
          this.$store.commit('NEW_ALERT', url);
        }
      },
      newNotification(notification) {
        let id = Math.floor(Math.random()*10000);
        this.notifications.push({
          data: notification,
          id
        });
        setTimeout(()=>{
          this.notifications = this.notifications.filter(notification=>{
            return notification.id !== id;
          });
        },10000);
      },
      getReadableTime,
      onStartChangingProgress(e) {

        this.isChangingProgress = true;
        let onMouseMove = (e) => {
          this.progress = this.hoverPercent / 100;
        };
        onMouseMove(e);
        window.addEventListener('mousemove', onMouseMove);
        let alreadySetProgress = false;
        window.addEventListener('mouseup', () => {
          if (!alreadySetProgress) {
            this.setProgress();
            setTimeout(() => {
              this.isChangingProgress = false;
            }, 1000);
            window.removeEventListener('mousemove', onMouseMove);
            alreadySetProgress = true;
          }
        })
      },
      setColors() {
        this.colors.forEach((color,index)=>{
          this.$refs.container.style.setProperty(`--channel-colors-${index}`, color);
        });
        let bigint = parseInt(this.colors[4].substring(1), 16);
        let r = (bigint >> 16) & 255;
        let g = (bigint >> 8) & 255;
        let b = bigint & 255;
        let color = `${r}, ${g}, ${b}`;
        this.$refs.container.style.setProperty(`--channel-colors-4--rgb`, color);
      },
      setProgress() {
        if (this.duration) {
          let isPaused = this.player.paused();
          this.player.pause();
          this.player.currentTime(this.hoverPercent * this.duration / 100);
          if (!isPaused) {
            this.player.play();
          }
          this.player.one('loadeddata', ()=>{

          });
        }
      },
      onProgressBarMouseMove(e) {
        let bar = this.$refs.progress_bar;
        let rect = bar.getBoundingClientRect();
        let width = rect.width;
        let left = rect.left;
        let x = e.clientX;
        let percent = (x - left) / width * 100;
        if (percent > 100) {
          percent = 100;
        }
        if (percent < 0) {
          percent = 0;
        }
        this.hoverPercent = percent;
        if (this.videoData && this.videoData.grid_preview) {

        } else {
          let hoverTime = this.$refs.hover_time;
          if (hoverTime) {
            this.hoverOffset = hoverTime.clientWidth / -2;
          }
        }
      },
      onStartChangingVolume(e) {
        let bar = this.$refs.volume_bar;
        let rect = bar.getBoundingClientRect();
        let width = rect.width;
        let left = rect.left;
        let onMouseMoveVolume = (e) => {
          let x = e.clientX;
          let percent = (x - left) / width * 100;

          if (percent > 100) {
            percent = 100;
          }
          if (percent < 0) {
            percent = 0;
          }

          this.volume = percent;
        };
        onMouseMoveVolume(e);
        window.addEventListener('mousemove', onMouseMoveVolume);
        window.addEventListener('mouseup', () => {
          window.removeEventListener('mousemove', onMouseMoveVolume);
        })
      },
      goFullScreen() {
        this.isFullScreen = !this.isFullScreen;
        if (!this.isFullScreen) {
          cancelFullScreen();
        } else {
          requestFullScreen(this.$refs.container);
        }
      },
      permitAdultContent() {
        if (this.adultContentWindow.save) {
          localStorage.allow_adult_content = 1;
        }
        this.adultContentWindow.visible = false;
        this.player.play();
        this.isPlaying = true;
      },
      checkAdultContent() {
        let hasAdultContent = this.channel.has_adult_content;
        let hasSavedSetting = localStorage.allow_adult_content === "1";
        if (hasAdultContent && !hasSavedSetting) {
          this.adultContentWindow.visible = true;
        } else {
          this.tryToPlay();
        }
      },
      tryToPlay() {
        let promise = this.player.play();
        if (promise !== undefined) {
          promise.then(() => {
            this.isPlaying = true;
          }).catch((error) => {
            this.isMuted = true;
            this.isPlaying = true;
            this.player.play();
          });
        }
        this.player.on('error', e => {
          const error = this.player.error();
          console.log('error', e);
          if (error.code === 4) {
            this.isWaitingForStart = true;
            setTimeout(() => {
              this.isWaitingForStart = false;
              if (this.getCurrentProgramInterval) {
                clearTimeout(this.getCurrentProgramInterval);
              }
              this.currentProgramData = {};
              this.initPlayer(true);
            }, 10000)
          } else {
            this.error = {
              visible: true,
              code: error.code
            }
          }
        });
        this.player.on('loadedmetadata', () => {
           let video = document.getElementsByClassName('vjs-tech')[0];
           this.videoDimensions = {
             width: video.videoWidth,
             height: video.videoHeight
           }
           this.hasStartedPlaying = true;
        });
        this.player.tech().on('retryplaylist', e => {
          this.initPlayer(true);
        })
      },
      setProgram(program) {
        let playerEl = document.getElementById(this.playerElId);
        if (!playerEl) {
          playerEl = document.createElement('video');
          playerEl.id = this.playerElId;
          this.$refs.player_container.appendChild(playerEl);
        }
        playerEl.className += ' tv-player__video';
        if (program.is_online) {
          this.player = videojs(playerEl, {
            techOrder: ["Flvjs","html5"],
            muted: false,
            autoplay: true,
            preload: "auto"
          }, () => {
            this.isLoading = false;
            this.player.volume(this.volume);
            this.player.width(playerEl.offsetWidth);
            this.player.height(playerEl.offsetHeight);
            if (program.token) {
                videojs.Hls.xhr.beforeRequest = function(options) {
                    if (!options.headers) {
                        options.headers = {};
                    }
                    options.headers['X-Access-Token'] = program.token;
                    return options;
                };
            }
            let url = isMobile() ? program.full_mobile_url : program.full_url;
            if (program.is_live) {
              if (url.indexOf('.flv') !== -1) {
                this.player.src({
                  src: url,
                  type: 'video/x-flv'
                })
              } else {
                this.player.src(url);
              }
              this.checkAdultContent();
            } else {
              if (program.is_autopilot) {
                this.player.src(url);
                this.checkAdultContent();
              }
            }
          });
          setTimeout(() => {
            this.getCurrentProgram();
          }, 30000)
        } else {
          this.isLoading = false;
        }
      },
      async changeTimetableItemIndex(index) {
        this.timetable.currentPlayingItemIndex = index;
        this.timetable.panel.loadingVideo = true;
        this.timetable.panel.item = this.timetable.currentPlaylist[this.timetable.currentPlayingItemIndex];
        await this.loadVideo(this.timetable.panel.item.video_id, this.timetable.panel.item.playlist_id);
        this.timetable.panel.loadingVideo = false;
        if (this.videoData) {
          this.timetable.currentPlayingItem = JSON.parse(JSON.stringify(this.timetable.panel.item));
        }
      },
      async initPlayer(playAfterInit = false) {
        this.isLoading = true;
        if (this.player) {
          this.player.dispose();
        }
        let playerEl = document.getElementById(this.playerElId);
        if (!playerEl) {
          playerEl = document.createElement('video');
          playerEl.id = this.playerElId;
          this.$refs.player_container.appendChild(playerEl);
        }

        playerEl.className += ' tv-player__video';

        if (this.videoData) {
          let setup = {
            muted: false,
            autoplay: false,
            preload: 'auto'
          };
          if (this.videoData.host === 'yt') {
            setup.techOrder = ['youtube'];
            setup.sources = [
              {
                type: 'video/youtube',
                src: this.videoPlaybackData.playback_url
              }
            ];
          } else {
            setup.techOrder = ['html5'];
            setup.sources = [
              {
                type: 'video/mp4',
                src: this.videoPlaybackData.playback_url
              }
            ];
          }
          this.player = videojs(playerEl, setup, () => {

            this.isLoading = false;
            //this.player.src(url);
            this.player.currentTime(0);
            this.player.width(playerEl.offsetWidth);
            this.player.height(playerEl.offsetHeight);
            this.duration = this.video.length;
            this.player.on('timeupdate', () => {
              this.duration = this.player.duration();
              this.currentTime = this.player.currentTime();
              if (!this.isChangingProgress) {
                this.progress = this.currentTime / this.duration;
              }
            });
            this.player.on('error', e => {
              const error = this.player.error();
              this.error = {
                visible: true,
                code: error.code
              }
            });
            this.player.on('ended', async e => {
              if (this.timetable.isPlayingVideo) {
                if (this.timetable.currentPlayingItemIndex + 1 < this.timetable.currentPlaylist.length) {
                  this.changeTimetableItemIndex(this.timetable.currentPlayingItemIndex + 1);
                }
              }
            });
            if (playAfterInit) {
              this.player.on('loadedmetadata', () => {
                this.isPlaying = false;
                this.$nextTick(() => {
                  this.isPlaying = true;
                });
              });
            }
          });
        } else {
          if (Object.keys(this.currentProgramData).length === 0) {
            await this.getCurrentProgram();
          }

          let program = this.currentProgramData;
          if (program.need_password) {
            this.passwordWindow.visible = true;
          } else {
            this.setProgram(program);
          }
        }
        if (this.player) {

        }
      }
    },
    props: {
      detached: {
        type: [Boolean],
        required: false
      },
      page: {
        type: [Object],
        required: false
      },
      currentProgram: {
        type: [Object],
        required: false
      },
      video: {
        type: [Object],
        required: false,
      },
      channel: {
        type: [Object],
        required: false,
      },
      project: {
        type: [Object],
        required: false,
      }
    },
  }
</script>
<style lang="scss">
  .tv-player {
    background: #000;
    position: relative;
    overflow: hidden;
    color: var(--channel-colors-5)!important;
    width: 100%;
    height: 100%;
    &--detached {
      position: fixed;
      bottom: .75em;
      left: 4.5em;
      z-index: 1000000;
      width: 24em;
      height: 15em;
      font-size: .875em;
      box-shadow: 0 .5em 1em -.5em var(--channel-colors-6);
    }
    &__resizer {
      position: absolute;
      bottom: -1em;
      right: -1em;
      width: 2em;
      height: 2em;
      cursor: sw-resize;
      z-index: 1000;
    }
    &__big-play-button {
      position: absolute;
      top: calc(50% - 3em);
      left: calc(50% - 3em);
      width: 6em;
      height: 6em;
      background: var(--channel-colors-12);
      color: var(--channel-colors-6);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10000;
      cursor: pointer;
      transition: all .35s;
      box-shadow: 0 0 2.5em -1em var(--channel-colors-6);
      &:hover {
        transform: scale(1.25);
        box-shadow: 0 .5em 2.5em -.5em var(--channel-colors-6);
      }
      i {
        font-size: 3em;
      }
    }

    &__viewers {
      margin: 0 .5em 0 0;
      &__count {
        margin: 0 0 0 .25em;
      }
    }
    &__error {
      position: absolute;
      top: calc(50% - 1em);
      height: 2em;
      width: 100%;
      background: var(--channel-colors-2);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: .75;
      font-size: 1.25em;
      font-weight: 500;
      &__text {
        margin: 0 0 0 .5em;
      }
    }
    &__waiting {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &__inner {
        background: var(--channel-colors-2);
        opacity: .75;
        display: flex;
        align-items: center;
        padding: 1em;
      }

      &__text {
        margin: 0 0 0 .5em;
      }
    }
    &__embed {
      max-width: 36em;
      word-break: break-word;
      padding: .5em;
      background: rgba(255, 255, 255, 0.05);
      &__autoplay-container {
        padding: 1em 0 0;
      }
    }
    &__logo-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &__inner {
        width: 100%;
        position: relative;
      }
    }
    &__logo {
      position: absolute;
    }
    &__video-container {
      width: 100%;
      height: 100%;
    }
    &__timetable {
      position: absolute;
      overflow: hidden;
      top: 0;
      height: 100%;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &__nothing-found {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 1em;
        width: calc(100% - 2em);
      }
      &__arrow {
        padding: 1em;
        cursor: pointer;
        position: relative;
        font-size: 1.25em;
      }
      &__list-container {
        width: 100%;
        flex: 1;
        overflow: auto;
        position: relative;
      }

      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow: auto;
        height: calc(100% - 5em);
        padding: 2.5em 0;
      }
      &__header {
        position: relative;
        z-index: 10;
        padding: .5em 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.05);
        &__button {
          color: var(--channel-colors-5);
          height: 1.65em;
          cursor: pointer;
          padding: 0 .25em;
          background: rgba(255, 255, 255, 0.05);
          border-radius: .125em;
          display: inline-block;
          transition: all .35s;
          &:hover {
            background: rgba(255, 255, 255, 0.1);
          }
        }
        &__date {
          font-weight: 500;
          margin: 0 1em;
        }
      }
      &__inner {
        width: 100%;
        height: 100%;
        position: relative;
      }
      &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--channel-colors-4);
        opacity: .5;
      }
      &__list {
        transition: all .35s;
        padding: 0;
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        &__loading {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 10;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      &__item {
        cursor: pointer;
        &--current {
          background: rgba(255, 255, 255, .1);
        }
        &--playing {
          background: var(--channel-colors-1);
        }
        &__info {
          width: 25vw;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0 0 0 .5em;
        }
        &__inner {
          border-bottom: 1px solid rgba(255, 255, 255, .1);
          position: relative;
          padding: .5em;
          display: flex;
          align-items: center;
        }
        &__title {
          margin: .5em 0 0;
          font-size: .75em;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 100%;
        }
        &__picture {
          background: rgba(0, 0, 0, 0.25);
          width: 5em;
          height: 3em;
          padding: 0;
          background-size: cover !important;
          &__question-mark {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2em;
            font-weight: 600;
          }
        }
        &__date {
          font-size: .875em;
          font-weight: 700;
        }
      }
    }
    &__video{
      width: 100%;
      height: 100%;
      background: #000;

      video {
        width: 100%;
        height: 100%;
      }
    }
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background-repeat: no-repeat!important;
      background-position: center center!important;
      background-size: contain!important;
    }

    &__button {
      cursor: pointer;
      color: var(--channel-colors-6)!important;
      transition: all .35s;
      line-height: 0;
      font-size: 1.25em;
      padding: 0;
      height: 2em;
      width: 2em;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: .125em;
      &--active {
        background: var(--channel-colors-12)!important;
      }
      &--logo {
        margin: 0 .5em 0 0;
        width: 5em;
        &__picture {
          height: 1.75em;
          fill: var(--channel-colors-6);
        }
      }

      &:hover {
        background: var(--channel-colors-12)!important;
      }
    }
    &__right &__button {
      margin: 0 0 0 .5em;
    }
    .btn {
      background: var(--channel-colors-6);
      color: var(--channel-colors-12);
    }
    &__controls{
      position: absolute;
      z-index: 1;
      width: 100%;
      left: 0;
      bottom: -3.5em;
      height: 3em;
      transition: all .35s;
      display: flex;
      align-items: center;
      &__left {
        display: flex;
        align-items: center;
      }
      &__outer{
        position: relative;
        width: 100%;
        height: 100%;
      }
      &__background {
        position: absolute;
        left: 0;
        top: -25%;
        background: linear-gradient(rgba(var(--channel-colors-4--rgb), 0), var(--channel-colors-4));
        width: 100%;
        height: 125%;
        opacity: .85;
      }
      &__inner {
        padding: 0 .5em;
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
      }
      &__right {
        display: flex;
        align-items: center;
      }
    }



    &--hovered &__controls{
      bottom: 0;
    }
    &__info {
      position: absolute;
      z-index: 1;
      width: 100%;
      left: 0;
      top: -3.5em;
      height: 3.5em;
      transition: all .35s;
      &__background {
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(var(--channel-colors-4), rgba(var(--channel-colors-4--rgb), 0));
        width: 100%;
        height: 100%;
        opacity: .85;
      }
      &__inner {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        padding: 0 .5em;
      }
      &__logo {
        background-repeat: no-repeat!important;
        background-position: center center!important;
        background-size: contain!important;
        width: 2.5em;
        height: 2.5em;
      }

      &__left {
        text-align: left;
        display: flex;
        align-items: center;
        max-width: calc(100% - 5em);
      }

      &__captions {
        max-width: calc(100% - 2.5em);
        margin: 0 0 0 .5em;
      }
      &__name {
        text-decoration: none;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &__right {
        display: flex;
        align-items: center;
      }
      &__right &__button {
        margin: 0 0 0 .5em;
      }
    }
    &--detached &__info__captions {
      font-size: .75em;
    }


    &--hovered &__info {
      top: 0;
    }


    &__volume {
      margin: 0 .5em 0 .75em;
      display: flex;
      align-items: center;
      &__bar {
        height: 1em;
        position: relative;
        top: .25em;
        margin: 0 0 0 .5em;
        width: 5em;
        overflow: hidden;
        transition: all .35s;
        cursor: pointer;
        &__value-container {
          height: .25em;
          margin: .25em 0 0;
          background: var(--channel-colors-12);
        }
        &__handle {
          width: .75em;
          height: .75em;
          background: var(--channel-colors-12);
          border-radius: 50%;
          position: absolute;
          top: 0;
        }

        &__handle-container {
          top: -.35em;
          width: 100%;
          background: var(--channel-colors-12);
          height: .25em;
          margin: .25em 0 0;
        }

        &__value {
          height: 100%;
          background: var(--channel-colors-6);
        }
      }
      &:hover &__bar {

      }
    }
    &__time {
      color: var(--channel-colors-6) !important;
      margin: 0 .5em;
      font-weight: 400;
      font-size: .875em;
    }
    &__progress-bar {
      position: absolute;
      top: -1.75em;
      left: .5em;
      width: calc(100% - 1em);
      height: 2em;
      cursor: pointer;
      user-select: none;
      opacity: 0;
      transition: all .35s;
      &__inner {
        position: relative;
        top: 1em;
      }
      &__handle-container {
        position: absolute;
        top: -.35em;
        &__inner {
          position: relative;
          text-align: center;
          top: -1.75em;
        }
      }

      &__value-container {
        width: 100%;
        height: .25em;
        background: var(--channel-colors-12);
      }

      &__value {
        background: var(--channel-colors-6);
        height: 100%;
      }

      &__handle {
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background: var(--channel-colors-6);
      }

      &__time-container {
        position: absolute;
        z-index: 10000;
        top: -1.25em;
      }


      &__time {
        background: var(--channel-colors-8);
        padding: .25em;
        position: relative;
        top: -.75em;
        transition: all .35s;
        opacity: 0;
        transform: scale(0);
        transform-origin: center 2em;
        text-align: center;
        &__text {
          position: relative;
          &:after {
            position: absolute;
            top: 1em;
            left: calc(50% - .5em);
            content: "";
            display: block;
            height: 0;
            border-style: solid;
            border-width: .5em .5em 0 .5em;
            border-color: var(--channel-colors-8) transparent transparent transparent;
          }
        }
      }

      &__inner:hover &__time {
        opacity: 1;
        transform: scale(1);
      }
    }
    &--hovered &__progress-bar {
      opacity: 1;
    }
    &__notifications {
      position: absolute;
      z-index: 10000;
      top: 4em;
      left: .5em;
      background: var(--channel-colors-4);
      opacity: .75;
    }

    &__notification {
      padding: .5em;
      display: flex;
      align-items: center;
      animation: notificationIn .5s forwards;
      &__picture {
        width: 2.5em;
        height: 2.5em;
      }
      &__info {
        margin: 0 0 0 .5em;
      }

      &__title {
        font-weight: 600;
      }
    }

    &__timetable-window {
      max-width: 50vw;
      &__header {
        display: flex;
        align-items: center;
      }

      &__picture {
        width: 8em;
        height: 5em;
        background: rgba(0, 0, 0, .5);
        &__question-mark {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2.5em;
          font-weight: 600;
        }
      }

      &__texts {
        margin: 0 0 0 .5em;
      }

      &__title {
        font-size: 1.25em;
        font-weight: 500;
      }

      &__info {
        margin: .25em 0;
      }

      &__description {
        padding: 1em 0 0;
      }
      &__button-container {
        margin: 1em 0 0;
      }
    }
    .vjs-error-display {
      display: none;
    }
    .vjs-loading-spinner .vjs-control-text {
      display: none;
    }

    .vjs-loading-spinner:before, .vjs-loading-spinner:after {
      border-top-color: var(--channel-colors-6);
    }

    .vjs-loading-spinner {
      border-color: var(--channel-colors-12);
      opacity: .75;
    }
    .vjs-loading-spinner:before, .vjs-loading-spinner:after{
      animation: vjs-spinner-spin 1.1s cubic-bezier(0.6, 0.2, 0, 0.8) infinite;
    }
  }
  .channel-page__player-container--tv .tv-player__logo-container__inner {
    height: 100%!important;
  }
  @keyframes notificationIn {
    0% {
      opacity: 0;
      transform: translateY(1em);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
