<template>
  <m-btn :flat="!isSubscribed" :faIconRight="isSubscribed ? 'calendar-minus' : 'calendar-plus'" @click="subscribe()" :loading="isLoading || isLoadingInitial" :count="count">{{!isSubscribed ? $t('timetable.panel.subscribe') : $t('timetable.panel.unsubscribe')}}</m-btn>
</template>
<style lang="scss">

</style>
<script>
import { getDateWithYear } from '~/functions/dates.js';
export default{
  computed: {
    itemType() {
      if (!this.data.item_type) {
        return 'announce';
      }
      return this.data.item_type;
    }
  },
	props:{
		data: {
			type: Object,
			required: true,
		},
	},
	data () {
		return {
		  isLoadingInitial: true,
			isLoading: false,
			count: 0,
      isSubscribed: false,
		}
	},
	async mounted() {
	  this.isLoadingInitial = true;
	  let data = (await this.$axios.get(`timetable/subscription/${this.itemType}/${this.data.id}?day=${getDateWithYear(this.data.time)}`)).data;
	  this.count = data.data.count;
	  this.isSubscribed = data.data.is_subscribed;
    this.isLoadingInitial = false;
	},
	methods:{
		subscribe() {
			if (this.$store.state.userData.loggedIn) {
				this.isLoading = true;
				this.$axios.post(`timetable/subscription/${this.itemType}/${this.data.id}`, {day: getDateWithYear(this.data.time), state: !this.isSubscribed}).then(res=>{
					this.isLoading = false;
					this.count = res.data.data.new_count;
					this.isSubscribed = res.data.data.is_subscribed;
				})
			} else{
				this.$router.push('/login');
			}
		}
	}
}
</script>
