<template>
  <m-btn :loading="isLoading" :class="getButtonClass" @click="submit()">
    {{ getButtonText }}
  </m-btn>
</template>
<script>
  import {mapMutations} from 'vuex';
  export default {
    computed: {
      getButtonClass(){
        let state = this.currentState;
        if (state === "STATE_IN_FRIENDS") {
          return "btn--delete";
        }
        if (state === "STATE_SENT_REQUEST") {
          return "btn--delete";
        }
        if (state === "STATE_RECEIVED_REQUEST") {
          return "btn--green";
        }
        return null;
      },
      getButtonText() {
        let state = this.currentState;
        if (state === "STATE_NOT_IN_FRIENDS") {
          return this.$t('friends.add');
        }
        if (state === "STATE_IN_FRIENDS") {
          return this.$t('friends.remove');
        }
        if (state === "STATE_SENT_REQUEST") {
          return this.$t('friends.remove_request');
        }
        if (state === "STATE_RECEIVED_REQUEST") {
          return this.$t('friends.accept_request');
        }
        return "";
      }
    },
    props: {
      id: {
        type: [String, Number],
        required: true
      },
      state: {
        type: [String],
        required: true,
      }
    },
    data() {
      return {
        isLoading: false,
        currentState: this.state,
      }
    },
    methods: {
      ...mapMutations('friends', ['set']),
      submit() {
        this.isLoading = true;
        const state = ["STATE_RECEIVED_REQUEST","STATE_NOT_IN_FRIENDS"].indexOf(this.currentState) !== -1;
        this.$axios.post('users/'+this.id+'/friends_request', {state}).then(res=>{
          this.isLoading = false;
          if (!res.data.status) {
            this.$store.commit('NEW_ALERT', res.data);
          } else {
            this.$emit('change_status', res.data.data.state);
            this.currentState = res.data.data.state;
            this.set(res.data.data);
          }
        })
      }
    }
  }
</script>
