<template>
	<div class="like-button" ref="button" :class="{'like-button--bottom': isBottom}">
		<m-btn class="btn-like" :iconright="hasLiked ? 'favorite' : 'favorite_border'" @click="setLike()" :flat="!hasLiked" :loading="isLoading" :count="count">{{$t('likes.title')}}</m-btn>
    <m-popup-menu ref="menu" class="popup-menu--full-width" :class="isBottom ? 'popup-menu-bottom' : 'popup-menu-top'" v-if="shortList.length > 0">
      <m-popup-menu-item :key="item.user.id" v-for="item in shortList" :to="'/users/'+item.user.id">
        <div class="popup-menu__item__avatar" :style="{backgroundImage:'url('+item.user.ava+')'}"></div>
        <span class="popup-menu__item__text">{{item.user.username}}</span>
      </m-popup-menu-item>
      <div class="like-button__show-all" @click="likesPopupShown = true">{{$t('likes.show_all')}}</div>
    </m-popup-menu>

		<m-modal v-model="likesPopupShown" :title="$t('likes.title')">
			<div class="modal__users-list">
				<nuxt-link :key="item.user.id" :to="'/users/'+item.user.id" v-for="item in list" class="modal__users-list__item">
					<div class="modal__users-list__item__inner">
						<div class="modal__users-list__item__avatar" :style="{backgroundImage:'url('+item.user.ava+')'}"></div>
						<div class="modal__users-list__item__username">{{item.user.username}}</div>
					</div>
				</nuxt-link>
			</div>
		</m-modal>
	</div>
</template>
<style lang="scss">
.like-button{
  z-index: 10;
	position: relative;
  display: inline-flex;
	.btn {
		background: #ce3456;
    color: #fff!important;
    box-shadow: #ce3456!important;
	}
	&__show-all {
		width: 100%;
		background: none!important;
    cursor: pointer;
    padding: .5em 0;
    font-size: .875em;
    font-weight: 600;
    transition: all .35s;
		&:hover{
			background: rgba(255,255,255,0.05)!important;
		}
	}
}
</style>
<script>
export default{
	props:{
		data:{
			type:Object,
			required:false,
		},
		module:{
			type:String,
			required:true,
		},
		materialid:{
			type:Number,
			required:true
		}
	},
	data(){
		return {
		  isBottom: false,
			likesPopupShown:false,
			isLoading:false,
			shortList:[],
			list:[],
			count:0,
			hasLiked:false,
		}
	},
  mounted() {
	  let rect = this.$refs.button.getBoundingClientRect();
	  if (rect.top <= 200) {
	    this.isBottom = true;
    }
  },

	created() {
		if (!this.data) {
			this.isLoading = true;
			this.$axios.get(`likes/get/${this.module}/${this.materialid}`).then(res=>{
			  this.isLoading = false;
				this.count = res.data.count;
				this.hasLiked = res.data.has_liked;
				this.list = res.data.list;
				this.shortList = res.data.list.reverse().slice(0,5);
			})
		} else {
			this.count = this.data.count;
			this.hasLiked = this.data.has_liked;
			this.list = this.data.list;
			this.shortList = this.data.list.reverse().slice(0,5);
		}
	},
	methods:{
		setLike() {
			if (this.$store.state.userData.loggedIn) {
				this.isLoading = true;
        this.$axios.post('likes/set',{'material_type':this.module,'material_id':this.materialid}).then(res=>{
					this.isLoading = false;
					this.count = res.data.new_count;
					this.hasLiked = res.data.has_liked;
					let userData = this.$store.state.userData;
					if (res.data.has_liked) {
						if (this.shortList.length >= 5) {
							this.shortList = this.shortList.slice(0,4)
						}
						this.list.unshift({user:{id:userData.id,username:userData.username,ava:userData.ava}});
						this.shortList.unshift({user:{id:userData.id,username:userData.username,ava:userData.ava}});
					} else {
						this.shortList = this.list.reverse().filter(item=>item.user.id !== userData.id).slice(0,5);
						this.list = this.list.filter(item=>item.user.id!==userData.id);
					}
				})
			} else{
				this.$router.push('/login');
			}
		}
	}
}
</script>
