<template>
	<div class="radio-playback-switch-button">
		<m-btn @click="switchRadioState()" :class="{'btn--glow':isOnline === false, 'btn--green':isOnline === false, 'btn--delete':isOnline === true}" :loading="isLoading">
      <span v-if="!isOnline">{{$t('radio_stream.start_station')}}</span>
      <span v-else>{{$t('radio_stream.stop_station')}}</span>
    </m-btn>
	</div>
</template>
<style lang="scss">
.radio-playback-switch-button{
  display: inline-flex;
}
</style>
<script>
export default{
	props:{
    channel:{
      type: Object,
      required: true
    }
	},
	data:function(){
		  return {
		     isOnline: false,
			   isLoading: false,
		  }
	},
	created() {
			this.isLoading = true;
			this.$axios.get(`/radiostream/getstate/${this.channel.id}`).then(res=>{
			  this.isLoading = false;
        this.isOnline = res.data.data.is_online;
			})
	},
	methods:{
    switchRadioState() {
      this.isLoading = true;
      this.$axios.post(`/radiostream/setstate/${this.channel.id}`,{state: !this.isOnline}).then(res=>{
        this.isLoading = false;
        this.isOnline = res.data.is_online;
        if (!res.data.status) {
          this.$store.commit('NEW_ALERT',res.data);
        } else {
          this.$emit('switch', this.isOnline);
        }
      })
		}
	}
}
</script>
