<template>
  <div class="subscribe-button" v-show="$store.state.userData.loggedIn">
    <m-btn icon="email" @click="subscribeWindowVisible = true" class="btn--green">
      <span>{{$t('notifications.subscribe')}}</span>
    </m-btn>
    <m-modal :header="$t('notifications._title')" v-model="subscribeWindowVisible">
      <div class="centered" v-if="isLoading">
        <m-preloader stroke-width="5" circle-width="5em"  />
      </div>
      <div v-else>
        <div class="input-container">
          <div class="input-container__title">{{$t('notifications.subtypes._title')}}</div>
          <div class="row row--wrap">
            <m-checkbox class="checkbox--in-row" :key="subtype.name" v-for="subtype in subtypes" :title="$t(subtype.public_name)" v-model="subscription.subtypes[subtype.name]" />
          </div>
        </div>
        <div class="subscribe-button__panel">
          <m-btn :loading="isSaving" @click="saveSubscription()">{{$t('notifications.subscribe_save')}}</m-btn>
        <!--  <m-btn v-if="subscription.id" :loading="isDeleting" @click="deleteSubscription()">{{$t('notifications.unsubscribe_button')}}</m-btn> -->
        </div>
      </div>
    </m-modal>
  </div>
</template>
<style lang="scss">
.subscribe-button__panel {
  margin: 1em 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>
<script>
  export default {
    props: {
      type: {
        type: String,
        required: true,
      },
      data: {
        type: Object,
        required: true,
      }
    },
    watch: {
      subscribeWindowVisible(isVisible) {
        if (isVisible && !this.dataLoaded) {
          this.loadData();
        }
      }
    },
    data() {
      return {
        isLoading: false,
        isSaving: false,
        isDeleting: false,
        dataLoaded: false,
        subscribeWindowVisible: false,
        subscription: {
          type: this.type,
          channels: {},
          subtypes: {},
        },
        subtypes: [],
      }
    },
    async mounted() {

    },
    methods: {
      saveSubscription() {
        this.isSaving = true;
        let postData = {
          type: this.type,
          entity_id: this.data.id,
          event_types: [],
        };
        Object.keys(this.subscription.subtypes).forEach(key=>{
          if (this.subscription.subtypes[key]) {
            postData.event_types.push(key);
          }
        });

        this.$axios.post('notifications/subscriptions', postData).then(res=>{
          this.$store.commit('NEW_ALERT', res.data);
          this.isSaving = false;
          if (res.data.status) {
            this.subscribeWindowVisible = false;
          }
        })
      },
      async loadData() {
        this.isLoading = true;
        let subscriptions = (await this.$axios.get(`notifications/subscriptions?type=${this.type}&entity_id=${this.data.id}`)).data;
        if (subscriptions.status) {
          let types = (await this.$axios.get('notifications/bindings/gettypes')).data;
          this.subtypes = types.list[this.type].subtypes;
          if (subscriptions.list.length > 0) {
            let subtypes = {};
            subscriptions.list.forEach(subscription=>{
              subtypes[subscription.event_type] = true;
            });
            this.subscription.subtypes = subtypes;
          }
          this.dataLoaded = true;
          this.isLoading = false;
        } else {
          this.$store.commit('NEW_ALERT', subscriptions);
        }
      }
    }
  }
</script>
