<template>
<div>
  <div v-if="!error" class="dashboard__ban-list__outer">
    <div class="dashboard-page__title">{{$t('dashboard.banlist._title')}}</div>
    <div class="dashboard-page__main-content" ref="main">
      <div class="dashboard__ban-list">
        <div class="row row-full-height row--no-mobile">
          <div class="col col-1-5">
            <div class="dashboard-page__full-height">
              <div class="dashboard-page__box">
                <div class="dashboard-page__box__inputs-row">
                  <div class="dashboard-page__box__inputs-row__item">
                    <m-autocomplete :errors="errors.banUser.username"  @getvalue = "(value) => {banUser.userData = value}" autocomplete-key="id" autocomplete-value="username" url="users/autocomplete" v-model="banUser.username" :placeholder="$t('dashboard.banlist.select_user')" />
                  </div>
                  <div class="dashboard-page__box__inputs-row__item">
                    <m-select @change="onBanTimeChange('banUser')" :errors="errors.banUser.ban_time" :placeholder="$t('dashboard.banlist.select_banned_till')" :options="banOptions.banUser" v-model="banUser.banTime" />
                  </div>
                </div>
                <div class="dashboard-page__box__inputs-row">
                  <div class="dashboard-page__box__inputs-row__item">
                    <m-input  v-model="banUser.comment" :placeholder="$t('dashboard.banlist.comment')" />
                  </div>
                  <div class="dashboard-page__box__inputs-row__item dashboard-page__box__inputs-row__item--button">
                    <m-btn @click="addUserToBanList()" >{{$t('dashboard.banlist.add_user')}}</m-btn>
                  </div>
                </div>
              </div>
              <m-nothing-found v-if="userBans.list.length === 0" :title="$t('global.nothing_found')" />
              <div v-else class="list-container">
                <div class="list-container__inner">
                  <div class="list-item list-item--small" :key="$index" v-for="(bannedUser,$index) in userBans.list">
                    <div class="list-item__left">
                      <div class="list-item__picture-block" :style="{backgroundImage:'url('+bannedUser.user_data.ava+')'}" />
                      <div class="list-item__captions">
                        <a :title="bannedUser.user_data.username" class="list-item__title">{{shorten(bannedUser.user_data.username,25)}}</a>
                        <div class="list-item__under-title">
                          <span v-if="bannedUser.banned_till === 1">{{$t('dashboard.banlist.banned_forever')}}</span>
                          <span v-else>{{$t('dashboard.banlist.banned_till')}} {{bannedUser.banned_till}}</span>
                        </div>
                        <div v-if="bannedUser.comment && bannedUser.comment !== ''" class="list-item__under-title">{{$t('dashboard.banlist.ban_comment')}} {{bannedUser.comment}}</div>
                      </div>
                    </div>
                    <div class="list-item__right">
                      <div class="list-item__buttons">
                        <m-btn @click="deleteUserFromBanList(bannedUser)" class="btn--delete">{{$t('global.delete')}}</m-btn>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="dashboard-page__full-height">
              <div class="dashboard-page__box">
                <div class="dashboard-page__box__inputs-row">
                  <div class="dashboard-page__box__inputs-row__item">
                    <m-input :errors="errors.banIP.ip_address" v-model="banIP.IPAddress" :placeholder="$t('dashboard.banlist.select_ip_address')" />
                  </div>
                  <div class="dashboard-page__box__inputs-row__item">
                    <m-select @change="onBanTimeChange('banIP')" v-model="banIP.banTime" :errors="errors.banIP.ban_time" :placeholder="$t('dashboard.banlist.select_banned_till')" :options="banOptions.banIP" />
                  </div>
                </div>
                <div class="dashboard-page__box__inputs-row">
                  <div class="dashboard-page__box__inputs-row__item">
                    <m-input v-model="banIP.comment" :placeholder="$t('dashboard.banlist.comment')" />
                  </div>
                  <div class="dashboard-page__box__inputs-row__item dashboard-page__box__inputs-row__item--button">
                    <m-btn @click="addIPAddressToBanList()" >{{$t('dashboard.banlist.add_ip_address')}}</m-btn>
                  </div>
                </div>
              </div>
              <m-nothing-found v-if="IPBans.list.length === 0" :title="$t('global.nothing_found')" />
              <div v-else class="list-container">
                <div class="list-container__inner" >
                  <div class="list-item list-item--small" :key="$index" v-for="(bannedIP,$index) in IPBans.list">
                    <div class="list-item__left">
                      <div class="list-item__captions">
                        <div class="list-item__title">{{bannedIP.ip_address}}</div>
                        <div class="list-item__under-title">
                          <span v-if="bannedIP.banned_till === 1">{{$t('dashboard.banlist.banned_forever')}}</span>
                          <span v-else>{{$t('dashboard.banlist.banned_till')}} {{bannedIP.banned_till}}</span>
                        </div>
                        <div v-if="bannedIP.comment && bannedIP.comment !== ''" class="list-item__under-title">{{$t('dashboard.banlist.ban_comment')}} {{bannedIP.comment}}</div>
                      </div>
                    </div>
                    <div class="list-item__right">
                      <div class="list-item__buttons">
                        <m-btn @click="deleteIPFromBanList(bannedIP)" class="btn--delete">{{$t('global.delete')}}</m-btn>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <m-modal autoSize :showCloseButton="false" :header="$t('dashboard.banlist.select_datetime_manual')" v-model="showSelectDatetimeModal">
      <div slot="main">
        <flat-pickr :config="datetimePickerConfig" v-model="datetimePickerValue"></flat-pickr>
      </div>
      <div class="modal__buttons" slot="buttons">
        <m-btn @click="showSelectDatetimeModal = false">{{$t('global.ok')}}</m-btn>
      </div>
    </m-modal>
  </div>
  <m-error-page v-else :data="error"/>
</div>
</template>
<style lang="scss">
.dashboard__ban-list {
	display: flex;
  flex-direction: column;
  height: calc(100% - 3.5em);
  .nothing-found-page {
    background: var(--list-container-color);
  }
  &__outer {
    height: 100%;
  }
}
</style>
<script>
import getDate from '@/functions/getDate';
import shorten from '@/functions/shorten';
import flatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.css';
export default {
  head() {
    return {
      title: this.$t('dashboard.banlist._title')
    }
  },
	async asyncData({app,params}) {
		let userBans = (await app.$axios.post(`/channels/${params.id}/userbans/list`)).data;
		if (!userBans.status) {
		  return {
		    error: userBans
      }
    }
		let IPBans = (await app.$axios.post(`/channels/${params.id}/ipbans/list`)).data;
		return {error: null, userBans: userBans.data, IPBans: IPBans.data};
	},
	props:{
		channel:{
			type:Object,
			required:true
		}
	},
	components:{
		flatPickr
	},
	computed:{
		banOptions() {
			let types =  ['banUser','banIP'];
			let optionsValues = [];
			types.forEach(type=>{
				let options = [
					{name:this.$t('dashboard.banlist._options.1_day'),value:86400},
					{name:this.$t('dashboard.banlist._options.1_week'),value:7*86400},
					{name:this.$t('dashboard.banlist._options.1_month'),value:30*86400},
					{name:this.$t('dashboard.banlist._options.forever'),value:1},
				]
				if (this[type].customBanTime === null) {
					options.push({name:this.$t('dashboard.banlist._options.select_manually'),value:0});
				} else {
					options.push({name:this.$t('dashboard.banlist.select_datetime_manual_till')+' '+getDate(this[type].customBanTime),value:0});
				}
				optionsValues[type] = options;
			})
			return optionsValues;
		}
	},
    data () {
      return {
		datetimePickerValue:null,
		datetimePickerConfig:{
			minDate:'today',
			inline:true,
			time_24hr:true,
			enableTime:true,
		},
		datetimeModalType:'banUser',
		showSelectDatetimeModal:false,
		errors:{
			banIP:{

			},
			banUser:{

			}
		},
		banIP:{
			IPAddress:'',
			banTime:'',
			comment:'',
			customBanTime:null,
		},
		banUser:{
			username:'',
			banTime:'',
			comment:'',
			userData:{},
			customBanTime:null,
		},
		rights:{
			moder:false,
			broadcaster:false,
			poster:false,
		},
		isLoading:false,
      }
    },
	watch:{
		showSelectDatetimeModal(newVal) {
			if (!newVal) {
				this[this.datetimeModalType].customBanTime = this.datetimePickerValue;
			}
		}
	},
    mounted() {
		this.banUser.banTime = this.banOptions.banUser[0].value;
		this.banIP.banTime = this.banOptions.banIP[0].value;
    },
    methods: {
		shorten,
		getBanTime(type) {
			let time = this[type].banTime;
			let banTime = null;
			if (time == 0) {
				banTime = Math.floor((new Date(this[type].customBanTime).getTime() - new Date().getTime()) / 1000);
			} else {
				banTime = time;
			}
			return banTime;
		},
		onBanTimeChange(type) {
			if (this[type].banTime === 0) {
				this.datetimeModalType = type;
				this.showSelectDatetimeModal = true;
			}
		},
		deleteIPFromBanList(bannedIP) {
			this.$axios.post(`/channels/${this.channel.id}/ipbans/update`,{ip_address:bannedIP.ip_address,ban_time:-1}).then(res=>{
				this.$store.commit('NEW_ALERT',res.data);
				if (res.data.status) {
					this.IPBans.list.splice(this.IPBans.list.indexOf(bannedIP),1);
				}
			})
		},
		addIPAddressToBanList() {
			this.$axios.post(`/channels/${this.channel.id}/ipbans/update`,{ip_address:this.banIP.IPAddress,ban_time:this.getBanTime('banIP'),comment:this.banIP.comment}).then(res=>{
				this.$store.commit('NEW_ALERT',res.data);
				this.errors.banIP = res.data.errors || [];
				if (res.data.status) {
					if (res.data.added_ip_is_new) {
						this.IPBans.list.push({
							ip_address:res.data.added_ip_address,
							banned_till:res.data.added_ip_ban_time,
							comment:res.data.added_ip_ban.comment
						});
					} else {
						this.IPBans.list.forEach(bannedUser=>{
							if (res.data.added_ip_address === bannedIP.ip_address) {
								bannedIP.banned_till = res.data.added_ip_ban_time;
							}
						})
					}
					this.banIP.IPAddress = "";
					this.banIP.comment = "";
				}
			})
		},
		deleteUserFromBanList(bannedUser) {
		  this.$axios.post(`/channels/${this.channel.id}/userbans/update`,{username:bannedUser.user_data.username,ban_time:-1}).then(res=>{
				this.$store.commit('NEW_ALERT',res.data);
				if (res.data.status) {
					this.userBans.list.splice(this.userBans.list.indexOf(bannedUser),1);
				}
			})
		},
		addUserToBanList() {
			this.$axios.post(`/channels/${this.channel.id}/userbans/update`,{username:this.banUser.username,ban_time:this.getBanTime('banUser'),comment:this.banUser.comment}).then(res=>{
				this.$store.commit('NEW_ALERT',res.data);
				this.errors.banUser = res.data.errors || [];
				if (res.data.status) {
					if (res.data.added_user_is_new) {
					this.userBans.list.push({
						user_id:res.data.added_user.id,
            user_data: {
              username: res.data.added_user.username,
              ava: res.data.added_user.ava,
            },
						banned_till:res.data.added_user_ban_time,
						comment:res.data.added_user_ban.comment
					});
					} else {
						this.userBans.list.forEach(bannedUser=>{
							if (res.data.added_user.id === bannedUser.user_id) {
								bannedUser.banned_till = res.data.added_user_ban_time;
							}
						})
					}
					this.banUser.username = "";
					this.banUser.comment = "";
				}
			})
		},
    }
  }
</script>
