<template>
<div>
  <div v-if="!error" class="dashboard-page__broadcast">
    <div class="dashboard-page__title">{{$t('dashboard.broadcast._title')}}</div>
    <div class="dashboard-page__main-content" ref="main">
      <div class="dashboard__servers-list">
        <div class="box">
          <div v-if="!channel.is_radio" v-html="$t('dashboard.broadcast.list.text')" class="dashboard__servers-list__text"></div>
          <div v-if="channel.is_radio" v-html="$t('dashboard.broadcast.list.radio_text')" class="dashboard__servers-list__text"></div>
          <div class="dashboard__servers-list__title" v-if="channel.is_radio">{{$t('dashboard.broadcast.list.title_radio_server')}}</div>
          <div class="dashboard__servers-list__title" v-else>{{$t('dashboard.broadcast.list.title_rtmp')}}</div>
          <div class="dashboard__servers-list__items">
            <div :key="$index" class="dashboard__servers-list__item" v-for="(server,$index) in servers.list">
              <copy-tag v-if="channel.is_radio" :text="server.address"/>
              <copy-tag v-else :text="server.rtmp_domain+server.live_url"/>
              <span class="tag" v-if="server.optimal">{{$t('dashboard.broadcast.list.optimal')}}</span>
            </div>
          </div>
          <div class="dashboard__servers-list__title" v-if="channel.is_radio">{{$t('dashboard.broadcast.list.title_radio_key')}}</div>
          <div class="dashboard__servers-list__title" v-else>{{$t('dashboard.broadcast.list.title_key')}}</div>
          <div class="dashboard__servers-list__items">
            <div class="dashboard__servers-list__item" >
              <copy-tag :text="fullKey"/>
              <m-btn :loading="keyIsLoading" @click="newKey()" flat>{{$t('dashboard.broadcast.list.get_new_key')}}</m-btn>
            </div>
          </div>
        </div>
      </div>
      <div class="box box--with-header">
        <div class="box__header">
          {{$t('dashboard.broadcast.settings._title')}}
        </div>
        <div class="box__inner">
          <div class="dashboard__input-container">
            <m-checkbox :errors="errors.records_visible" :title="$t('dashboard.broadcast.settings.records_visible')" v-model="settings.records_visible" />
          </div>
          <div class="dashboard__input-container">
            <m-checkbox :errors="errors.record_all" :title="$t('dashboard.broadcast.settings.record_all')" v-model="settings.record_all" />
          </div>
        </div>
        <div class="box__footer">
          <m-btn :loading="isSaving" @click="saveSettings()">{{$t('global.save')}}</m-btn>
        </div>
      </div>
    </div>
  </div>
  <m-error-page v-else :data="error"/>
</div>
</template>
<style lang="scss">
.dashboard-page__broadcast {
  height: calc(100% - 2.5em);
}
.dashboard__servers-list {
  margin: 0 0 1em;
	&__title {
		font-size: 1.35em;
		margin: 1em 0 .5em;
	}

	&__items {
		border-radius: .25em 0;
		padding: .5em 0;
	}

	&__item {
		display: flex;
		margin: .25em 0;
		& .copy-tag {
			margin: 0 1em 0 0;
		}
	}
  @media screen and (max-width: 768px) {
    &__item {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
</style>
<script>
import copyTag from '@/components/elements/copyTag';
export default {
  head() {
    return {
      title: this.$t('dashboard.broadcast._title')
    }
  },
	async asyncData({app,params}) {
		let servers = (await app.$axios.get(`/channels/${params.id}/getserverslist`)).data.data;
		let keyData = (await app.$axios.post(`/channels/${params.id}/getstreamkey`)).data;
		if (!keyData.status) {
		  return {
		    error: keyData
      }
    }
		return {error: null, servers, keyData};
	},
	components:{
	  copyTag
  },
	props:{
		channel:{
			type: Object,
			required: true
		}
	},
	computed:{
    fullKey() {
      if (this.channel.is_radio) {
        return this.keyData.key.stream_key;
      } else {
        return this.channel.stream_name+'?key='+this.keyData.key.stream_key;
      }
    }
	},
  data () {
    return {
      isSaving: false,
      errors: {},
      settings: this.channel.additional_settings.records,
      keyIsLoading: false,
    }
  },
	watch:{

	},
  mounted() {

  },
  methods: {
    saveSettings() {
      this.isSaving = true;
      this.$axios.put(`/channels/${this.channel.id}`,{
        additional_settings: {
          records: this.settings
        }
      }).then(res => {
        this.errors = res.data.errors || [];
        this.isSaving = false;
        this.$store.commit('NEW_ALERT', res.data);
      })
    },
		newKey() {
      this.keyIsLoading = true;
      this.$axios.post(`/channels/${this.channel.id}/getstreamkey`,{generate_new_key:true}).then(res=>{
        this.keyIsLoading = false;
        if (res.data.status) {
          this.keyData = res.data;
        } else {
          this.$store.commit('NEW_ALERT',res.data);
        }
      })
    },
  }
}
</script>
