<template>
<div>
	<div class="dashboard-page__title">{{$t('dashboard.chat._title')}}</div>
	<div class="dashboard-page__main-content" ref="main">
		<div class="dashboard__chat">
      <div class="dashboard__chat__smiles">
        <MultiPictureUpload :title="$t('dashboard.chat.custom_smiles._title')" :description="$t('dashboard.chat.custom_smiles._description', {n: maxSmilesCount})" :folder="'smiles'" v-model="customSmilesPictures" :max="maxSmilesCount"/>
        <m-btn :loading="isSavingSmiles" @click="saveSmiles()">{{$t('global.save')}}</m-btn>
      </div>

      <m-modal v-model="chatBotPanel.visible">
        <div slot="main">
          <m-input autoSize :title="$t('dashboard.chat.bots.name')" :errors="chatBotPanel.errors.name" v-model="chatBotPanel.data.name"/>
          <div class="row row--centered">
            <div class="col">
              <m-input :disabled="!chatBotPanel.canEditCallbackUrl" autoSize :title="$t('dashboard.chat.bots.callback_url')" :errors="chatBotPanel.errors.callback_url" v-model="chatBotPanel.data.callback_url"/>
            </div>
            <div v-if="chatBotPanel.isEditing && !chatBotPanel.canEditCallbackUrl" class="col col--button-container">
              <m-btn @click="editCallbackUrl()">{{$t('global.edit')}}</m-btn>
            </div>
          </div>
          <div class="dashboard__chat__bots__confirm-code-info" v-if="chatBotPanel.canEditCallbackUrl">{{$t('dashboard.chat.bots.confirm_code_info')}}<strong>{{confirmCodeData ? confirmCodeData.confirm_text : $t('global.loading')}}</strong></div>
          <m-checkbox :title="$t('dashboard.chat.bots.is_public')" v-model="chatBotPanel.data.is_public"/>
          <m-input type="textarea" v-if="chatBotPanel.data.is_public" :errors="chatBotPanel.errors.description" autoSize :title="$t('dashboard.chat.bots.description')" v-model="chatBotPanel.data.description"/>
        </div>
        <div class="modal__buttons" slot="buttons">
          <div class="buttons-list">
            <m-btn :loading="chatBotPanel.isLoading" @click="saveBot()">{{chatBotPanel.isEditing ? $t('global.save') : $t('global.add')}}</m-btn>
            <m-btn flat @click="chatBotPanel.visible = false">{{ $t('global.cancel')}}</m-btn>
            <div v-if="chatBotPanel.isEditing" class="buttons-list__right">
              <m-btn class="btn--delete" @click="botDeletePanel.visible = true" :loading="chatBotPanel.isDeleting">{{ $t('global.delete')}}</m-btn>
            </div>
          </div>
        </div>
      </m-modal>

      <m-modal v-model="botDeletePanel.visible">
        <div slot="main">
          <div class="modal__text">
            {{$t('global.are_you_sure')}}
          </div>
        </div>
        <div class="modal__buttons" slot="buttons">
          <div class="buttons-list">
            <m-btn :loading="botDeletePanel.isLoading" @click="deleteBot()">{{$t('global.ok')}}</m-btn>
            <m-btn flat @click="botDeletePanel.visible = false">{{ $t('global.cancel')}}</m-btn>
          </div>
        </div>
      </m-modal>


      <m-modal v-model="botDataPanel.visible">
        <div slot="main">
          <div><strong>{{$t('dashboard.chat.bots.request_token')}}: </strong>{{botDataPanel.data.request_token}}</div>
          <div><strong>{{$t('dashboard.chat.bots.access_token')}}: </strong>{{botDataPanel.data.access_token}}</div>
        </div>
      </m-modal>

      <m-modal v-model="botCatalog.visible" :header="$t('dashboard.chat.bots.catalog')">
        <div slot="main" class="modal__list-container">
          <m-preloader v-if="botCatalog.isLoadingInitial" stroke-width="5" circle-width="5em"  />
          <div class="list-container" :class="{'list-container--with-pager': botCatalog.data.last_page > 1}" v-else>
            <m-infinite-scroll :loading="botCatalog.isLoading" @scroll="loadMore" class="list-container__inner">
              <div class="list-item list-item--not-link" :key="$index" v-for="(bot, $index) in botCatalog.data.data">
                <div class="list-item__left">
                  <div class="list-item__captions">
                    <div class="list-item__title">{{bot.name}}</div>
                    <div class="list-item__under-title">{{bot.description}}</div>
                  </div>
                </div>
                <div class="list-item__right">
                  <div class="buttons-list">
                    <m-btn @click="changeBotChannelStatus(bot)" :loading="bot.isChangingChannelStatus"  :class="{'btn--green': !bot.is_connected, 'btn--red': bot.is_connected}">
                      {{!bot.is_connected ? $t('dashboard.chat.bots.add_to_channel') : $t('dashboard.chat.bots.delete_from_channel')}}
                    </m-btn>
                  </div>
                </div>
              </div>
            </m-infinite-scroll>
            <m-pager @pageChange="onPageChange"  :vertical="true" :data="botCatalog.data" v-model="botCatalog.currentPage" />
          </div>
        </div>
      </m-modal>

      <div class="dashboard__chat__bots">
        <div class="dashboard__chat__bots__header">
          <span class="dashboard__chat__bots__header__inner">{{$t('dashboard.chat.bots._title')}}</span>
          <div class="buttons-list">
            <m-btn faIcon="plus" @click="showBotPanel()">{{$t('dashboard.chat.bots.add_new')}}</m-btn>
            <m-btn faIcon="plus-square" @click="showCatalog()">{{$t('dashboard.chat.bots.add_from_catalog')}}</m-btn>
          </div>

        </div>
        <div class="dashboard__chat__bots__description">{{$t('dashboard.chat.bots._description')}} <nuxt-link to="/help/chat-bots">{{$t('dashboard.chat.bots.go_to_help_page')}}</nuxt-link></div>
        <div class="list-container">
          <div class="list-container__inner">
            <a class="list-item" :key="$index" v-for="(bot, $index) in bots">
              <div class="list-item__left">
                <div class="list-item__captions">
                  <div class="list-item__title">{{bot.name}}</div>
                </div>
              </div>
              <div class="list-item__right">
                <div class="buttons-list">
                  <m-btn :loading="bot.isLoadingData" v-if="bot.can_edit" @click="showBotData(bot)">
                    {{$t('dashboard.chat.bots.show_bot_data')}}
                  </m-btn>
                  <m-btn class="btn--green" v-if="bot.can_edit" @click="editBot(bot)">
                    {{$t('global.edit')}}
                  </m-btn>
                  <m-btn class="btn--delete" v-if="bot.is_public" @click="changeBotChannelStatus(bot, false, true)" :loading="bot.isChangingChannelStatus">
                    {{$t('dashboard.chat.bots.delete_from_channel')}}
                  </m-btn>
                  <m-btn @click="changeBotActiveStatus(bot)" :flat="bot.pivot.active" :loading="bot.isChangingActiveStatus" :class="{'btn--green': !bot.pivot.active}">
                    {{bot.pivot.active ? $t('dashboard.chat.bots.deactivate') :  $t('dashboard.chat.bots.activate') }}
                  </m-btn>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>
</template>
<style lang="scss">
  .dashboard__chat {
    &__bots {
      margin: 2.5em 0 0;
      &__confirm-code-info {
        margin: 1em 0;
      }
      &__header {
        background: var(--box-header-color);
        color: var(--active-color);
        padding: .5em 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
          flex-direction: column;
        }
        &__inner {
          font-weight: 500;
        }
      }

      &__description {
        background: var(--box-color);
        padding: .5em 1em;
      }
    }
  }
</style>
<script>
const maxSmilesCount = 10;
import MultiPictureUpload from '@/components/elements/MultiPictureUpload';
export default {
  components: {
    MultiPictureUpload
  },
  methods: {
    showBotData(bot) {

      this.$set(bot, 'isLoadingData', true);
      this.$forceUpdate();
      this.$axios.post(`chat/bots/${bot.id}/getdata`).then(res => {
        this.$set(bot, 'isLoadingData', false);
        if (res.data.status) {
          this.botDataPanel.data = res.data.data;
          this.botDataPanel.visible = true;
        } else {
          this.$store.commit("NEW_ALERT", res.data);
        }
      })
    },
    async onPageChange(page) {
      this.botCatalog.isLoading = true;
      this.botCatalog.currentPage = page;
      this.$axios.get(`chat/bots?page=${this.botCatalog.currentPage}&channel_id=${this.channel.id}`).then(res => {
        this.botCatalog.data = res.data.data.list;
        this.botCatalog.isLoading = false;
      })
    },
    changeBotChannelStatus(bot, status = null) {
      if (status === null) {
        status = !bot.is_connected;
      }
      let url = status ? 'addtochannel' : 'deletefromchannel';
      this.$set(bot, 'isChangingChannelStatus', true);
      this.$forceUpdate();
      this.$axios.post(`chat/bots/${bot.id}/${url}`, {channel_id: this.channel.id}).then(res => {
        this.$set(bot, 'isChangingChannelStatus', false);
        if (res.data.status) {
          bot.is_connected = status;
          if (!status) {
            this.bots.splice(this.bots.map(botItem => botItem.id).indexOf(res.data.data.bot.id), 1);
          } else {
            this.bots.unshift(res.data.data.bot);
          }
          this.$forceUpdate();
        } else {
          this.$store.commit("NEW_ALERT", res.data);
        }
      })
    },
    loadMore() {
      if (!this.botCatalog.isLoading) {
        if (this.botCatalog.currentPage < this.botCatalog.data.last_page) {
          this.botCatalog.currentPage++;
          this.botCatalog.isLoading = true;
          this.$axios.get(`chat/bots?page=${this.botCatalog.currentPage}&channel_id=${this.channel.id}`).then(res => {
            this.botCatalog.data.data = [...this.botCatalog.data.data, ...res.data.data.list.data];
            this.botCatalog.isLoading = false;
          })
        }
      }
    },
    showCatalog() {
      this.botCatalog.currentPage = 1;
      this.botCatalog.visible = true;
      this.botCatalog.isLoadingInitial = true;
      this.$axios.get(`chat/bots?channel_id=${this.channel.id}`).then(res => {
        this.botCatalog.data = res.data.data.list;
        this.botCatalog.isLoadingInitial = false;
      })
    },
    editCallbackUrl() {
      if (!this.confirmCodeData) {
        this.$axios.post('chat/bots/getconfirmcode', {}).then(res => {
          if (!res.data.status) {
            this.$store.commit("NEW_ALERT", res.data);
          } else {
            this.confirmCodeData = res.data.data;
            this.chatBotPanel.data.confirm_id = res.data.data.confirm_id;
            this.chatBotPanel.canEditCallbackUrl = true;
          }
        });
      } else {
        this.chatBotPanel.canEditCallbackUrl = true;
      }
    },
    editBot(bot) {
      this.chatBotPanel.canEditCallbackUrl = false;
      this.chatBotPanel.isEditing = true;
      this.chatBotPanel.data = JSON.parse(JSON.stringify(bot));
      this.chatBotPanel.visible = true;
    },
    changeBotActiveStatus(bot) {
      this.$set(bot, 'isChangingActiveStatus', true);
      this.$axios.post(`chat/bots/${bot.id}/changeactivestatus`, {
        active: !bot.pivot.active,
        channel_id: this.channel.id
      }).then(res => {
        this.$set(bot, 'isChangingActiveStatus', false);
        if (res.data.status) {
          bot.pivot.active = res.data.data.is_active;
        } else {
          this.$store.commit("NEW_ALERT", res.data);
        }
      })
    },
    deleteBot() {
      this.botDeletePanel.isLoading = true;
      this.$axios.delete(`chat/bots/${this.chatBotPanel.data.id}`).then(res => {
        this.$store.commit("NEW_ALERT", res.data);
        if (res.data.status) {
          this.botDeletePanel.isLoading = false;
          this.botDeletePanel.visible = false;
          this.chatBotPanel.visible = false;
          this.bots.splice(this.bots.map(botItem => botItem.id).indexOf(res.data.data.bot.id), 1);
        }
      })
    },

    saveBot() {
      this.chatBotPanel.isLoading = true;
      this.chatBotPanel.data.channel_id = this.channel.id;
      this.$axios({
        method: this.chatBotPanel.isEditing ? 'PATCH' : 'POST',
        url: this.chatBotPanel.isEditing ? 'chat/bots/' + this.chatBotPanel.data.id : 'chat/bots',
        data: this.chatBotPanel.data,
      }).then(res => {
        this.chatBotPanel.isLoading = false;
        this.$store.commit("NEW_ALERT", res.data);
        this.chatBotPanel.errors = res.data.errors || {};
        if (res.data.status) {
          this.chatBotPanel.visible = false;
          if (!this.chatBotPanel.isEditing) {
            this.bots.unshift(res.data.data.bot);
          } else {
            this.bots.forEach((bot, index) => {
              if (bot.id === res.data.data.bot.id) {
                this.bots[index] = res.data.data.bot;
              }
            })
          }
        }
      })
    },
    showBotPanel() {
      this.chatBotPanel.isEditing = false;
      this.chatBotPanel.data = {};
      this.chatBotPanel.canEditCallbackUrl = true;
      if (!this.confirmCodeData) {
        this.$axios.post('chat/bots/getconfirmcode', {}).then(res => {
          if (!res.data.status) {
            this.$store.commit("NEW_ALERT", res.data);
          } else {
            this.confirmCodeData = res.data.data;
            this.chatBotPanel.data.confirm_id = res.data.data.confirm_id;
          }
        });
      }
      this.chatBotPanel.visible = true;
    },
    saveSmiles() {
      this.isSavingSmiles = true;
      let smiles = this.customSmilesPictures.map((smile, index) => {
        return {
          index,
          picture_id: smile.data.id
        }
      });
      this.$axios.post(`chat/${this.channel.id}/smiles`, { smiles })
        .then(res => {
          this.isSavingSmiles = false;
          this.$store.commit("NEW_ALERT", res.data);
        });
    }
  },
  async asyncData({ app, params }) {
    let smiles = (await app.$axios.get(`/chat/${params.id}/smiles`)).data;
    if (!smiles.status) {
      return {
        error: smiles
      }
    }
    let bots = (await app.$axios.get(`/chat/bots/getallbychannel/${params.id}`)).data;
    if (!bots.status) {
      return {
        error: bots
      }
    }
    return {error: null, smiles: smiles.data.smiles, bots: bots.data.list};
  },
  head() {
    return {
      title: this.$t('dashboard.chat._title')
    }
  },
  computed: {

  },
	props: {
    rights: {
      type: Array
    },
		channel: {
			type: Object,
			required: true
		}
	},
  data () {
    return {
      botDeletePanel: {
        data: {},
        isLoading: false,
        visible: false,
      },
      botDataPanel: {
        data: {},
        visible: false,
      },
      botCatalog: {
        visible: false,
        isLoadingInitial: true,
        isLoading: false,
        list: [],
        currentPage: 1,
      },
      confirmCodeData: null,
      chatBotPanel: {
        isDeleting: false,
        canEditCallbackUrl: true,
        isEditing: false,
        visible: false,
        isLoading: false,
        data: {},
        errors: {}
      },
      maxSmilesCount,
      isSavingSmiles: false,
      customSmiles: [],
      customSmilesPictures: [],
    }
  },
  watch: {

  },
  mounted() {
    this.customSmiles = this.smiles.filter(smile => smile.is_custom);
    this.customSmilesPictures =  this.smiles.filter(smile => smile.is_custom).map(smile => {
      return {
        data: smile.data.picture
      }
    });
  },
}
</script>
