<template>
  <div>
    <div class="dashboard-page__title">{{$t('dashboard.design._title')}}</div>
    <div class="dashboard-page__main-content" ref="main">
      <DesignEditor :channel="channel" @update="onUpdate" :initialData="channel" :showSaveButton="true" v-model="design"/>
    </div>
  </div>
</template>
<style lang="scss">

</style>
<script>
  import DesignEditor from '@/components/blocks/dashboard/designEditor';
  export default {
    head() {
      return {
        title: this.$t('dashboard.design._title')
      }
    },
    components: {
      DesignEditor
    },
    props:{
      channel:{
        type:Object,
        required:true
      }
    },
    watch:{

    },
    data() {
      return {
        design: null
      }
    },
    mounted() {

    },
    methods:{
      onUpdate() {
        this.$refs.main.scrollTop = 0;
      },
      saveDesign() {

      },
    },
  }
</script>
