<template>
  <div>
  <div class="dashboard-page__donates" v-if="!error">
    <div class="dashboard-page__title">{{$t('dashboard.donates._title')}}</div>
    <div class="dashboard-page__main-content" ref="main">
     <!--<div class="info-block">
       <div class="info-block__icon">
         <i class="material-icons">info</i>
       </div>
       <div class="info-block__text">
         {{$t('dashboard.donates.info')}}
       </div>
     </div>-->
      <div class="dashboard-page__donates__outer">
        <m-tabs small :data="tabs" v-model="currentTab" />
        <div class="dashboard-page__donates__inner">
          <tabList :channel="channel" v-if="loadedTabs.list" v-show="currentTab === 'list'" />
          <tabGoals :goalsList="goals" :channel="channel" v-if="loadedTabs.goals" v-show="currentTab === 'goals'" />
          <tabRequests :requestsList="requests" :channel="channel" v-if="loadedTabs.withdrawal_requests" v-show="currentTab === 'withdrawal_requests'" />
          <tabSettings :channel="channel" v-if="loadedTabs.settings" v-show="currentTab === 'settings'" />
        </div>
      </div>
    </div>
  </div>
  <m-error-page v-else :data="error"/>
</div>
</template>
<style lang="scss">
  .dashboard-page {
    &__donates {
      height: 100%;
      &__inner {
        height: calc(100% - 3.5em);
        margin: 1em 0 0;
      }
      &__outer {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }
  }
</style>
<script>
  import tabList from '@/components/blocks/dashboard/donates/list';
  import tabGoals from '@/components/blocks/dashboard/donates/goals';
  import tabRequests from '@/components/blocks/dashboard/donates/requests';
  import tabSettings from '@/components/blocks/dashboard/donates/settings';

  const count = 10;
  export default {
    head() {
      return {
        title: this.$t('dashboard.donates._title')
      }
    },
    async asyncData({ app, params }) {
      let goals = (await app.$axios.get(`donates/goals/getbychannel/${params.id}?count=10`)).data;
      if (!goals.status) {
        return {
          error: goals
        }
      }
      goals = goals.data.list;

      let requests = (await app.$axios.get(`donates/requests/getbychannel/${params.id}?count=10`)).data;
      if (!requests.status) {
        return {
          error: requests
        }
      }
      requests = requests.data.list;

      return {
        error: null,
        requests,
        goals
      }
    },
    watch: {
      currentTab(tab) {
        this.loadedTabs[tab] = true;
      }
    },
    components: {
      tabList,
      tabGoals,
      tabRequests,
      tabSettings
    },
    props:{
      channel:{
        type: Object,
        required: true
      }
    },
    computed:{
      tabs() {
        return [
          {id: 'list', name: this.$t('dashboard.donates.tabs.list')},
          {id: 'goals', name: this.$t('dashboard.donates.tabs.goals')},
          {id: 'withdrawal_requests', name: this.$t('dashboard.donates.tabs.withdrawal_requests')},
          {id: 'settings', name: this.$t('dashboard.donates.tabs.settings')},
        ];
      }
    },
    data () {
      return {
        currentTab: 'list',
        loadedTabs:{
          list: true
        },
      }
    },
    mounted() {

    },
    methods: {

    }
  }
</script>
