<template>
<div>
  <m-modal v-model="deleteChannelPanel.visible">
    <div slot="main">
      <div class="modal__text">{{$t('dashboard.info.delete.confirm')}}</div>
    </div>
    <div class="modal__buttons" slot="buttons">
      <div class="buttons-list">
        <m-btn :loading="deleteChannelPanel.loading" @click="deleteChannel()">{{$t('global.ok')}}</m-btn>
        <m-btn class="btn--delete" @click="deleteChannelPanel.visible = false;">{{$t('global.cancel')}}</m-btn>
      </div>
    </div>
  </m-modal>

	<div class="dashboard-page__title">{{$t('dashboard.info._title')}}</div>
	<div class="dashboard-page__main-content" ref="main">
		<m-form class="dashboard-page__section" :button-text="$t('global.save')" :post-data="channelData" @response="onResponse" method="put" :url="'/channels/'+channel.id">
			<h3 class="dashboard-page__section-title">{{$t('dashboard.info.common._title')}}</h3>
			<div class="row row--wrap row--no-mobile">
				<div class="col">
					<div class="dashboard__input-container">
						<m-input :errors="errors.name" :title="$t('dashboard.info.common.name')" v-model="channelData.name" />
					</div>
				</div>
				<div class="col">
					<div class="dashboard__input-container">
						<m-input :errors="errors.shortname" prepend="https://catcast.tv/" :title="$t('dashboard.info.common.shortname')" v-model="channelData.shortname" />
					</div>
				</div>
			</div>
			<div class="row row--wrap row--no-mobile">
				<div class="col">
					<div class="dashboard__input-container">
						<m-editor :title="$t('dashboard.info.common.description')" v-model="channelData.description" />
					</div>
				</div>
			</div>
			<div class="row row--wrap row--no-mobile">
				<div class="col">
					<div class="dashboard__input-container">
            <m-tags-input :errors="errors.tags" :title="$t('dashboard.info.common.tags')" v-model="channelData.tags"/>
					</div>
				</div>
			</div>
			<div class="input__outer-title">{{$t('dashboard.info.common.links._title')}}</div>
			<div class="row row--wrap row--no-mobile row--vertical-short" :key="$index" v-for="(link,$index) in channelData.links">
				<div class="col">
					<div class="dashboard__input-container">
						<m-input :title="$t('dashboard.info.common.links.link_name')" v-model="link.group" />
					</div>
				</div>
				<div class="col">
					<div class="dashboard__input-container">
						<m-input :title="$t('dashboard.info.common.links.link_address')"  v-model="link.link" />
					</div>
				</div>
				<div class="col col--button-container">
					<m-btn icon="delete"  @click="channelData.links.splice($index,1)" class="btn--delete">{{$t('dashboard.info.common.links.delete_link')}}</m-btn>
				</div>
			</div>
			<m-btn class="btn--insert" @click="addLink()" icon="insert_link">{{$t('dashboard.info.common.links.add_link')}}</m-btn>
    </m-form>
    <m-form class="dashboard-page__section" :button-text="$t('global.save')" :post-data="contentData" @response="onResponse" method="put" :url="'/channels/'+channel.id">
      <h3 class="dashboard-page__section-title">{{$t('dashboard.info.content._title')}}</h3>
			<div class="row row--wrap row--no-mobile">
				<div class="col">
					<div class="dashboard__input-container">
						<m-checkbox switch :title="$t('dashboard.info.content.show_offline')" v-model="contentData.show_offline" />
					</div>
				</div>
				<div class="col">
					<div class="dashboard__input-container">
						<m-checkbox switch :title="$t('dashboard.info.content.has_adult_content')" v-model="contentData.has_adult_content" />
					</div>
				</div>
			</div>
			<div class="row row--wrap row--no-mobile">
				<div class="col">
					<div class="dashboard__input-container">
						<m-checkbox switch :title="$t('dashboard.info.content.allow_comments')" v-model="contentData.allow_comments" />
					</div>
				</div>
				<div class="col">
					<div class="dashboard__input-container">
						<m-checkbox switch :title="$t('dashboard.info.content.show_timetable')" v-model="contentData.show_timetable" />
					</div>
				</div>
			</div>
      <div class="row row--wrap row--no-mobile row--centered">
        <div class="col">
          <m-checkbox switch :title="$t('dashboard.info.content.set_password')" v-model="setPassword"/>
        </div>
        <div class="col" v-show="setPassword">
          <m-input :title="$t('dashboard.info.content.password')" v-model="contentData.password" />
        </div>
      </div>
		</m-form>
    <div v-if="canDeleteChannel" class="dashboard-page__section">
      <m-btn icon="delete" @click="deleteChannelPanel.visible = true" class="btn--delete">{{$t('dashboard.info.delete.button_text')}}</m-btn>
    </div>
	</div>
</div>
</template>
<script>
export default {
  head() {
    return {
      title: this.$t('dashboard.info._title')
    }
  },
  computed: {
    canDeleteChannel() {
      return this.rights.indexOf('owner') !== -1 || this.rights.indexOf('admin') !== -1;
    }
  },
	props: {
    rights: {
      type: Array
    },
		channel: {
			type: Object,
			required: true
		}
	},
	components: {

  },
  data () {
    return {
      deleteChannelPanel: {
        loading: false,
        visible: false,
      },
      isLoading: false,
      channelData: {
        name: this.channel.name,
        shortname: this.channel.shortname,
        description: this.channel.description,
        tags: this.channel.tags,
        links: this.channel.links,
      },
      contentData: {
        show_offline: this.channel.show_offline,
        has_adult_content: this.channel.has_adult_content,
        allow_comments: this.channel.allow_comments,
        show_timetable: this.channel.show_timetable,
        password: this.channel.password
      },
      setPassword: this.channel.password && this.channel.password.length > 0,
      errors: {},
    }
  },
  watch: {
    setPassword(set) {
      if (!set) {
        this.contentData.password = '';
      }
    },
    channel:{
        //handler: ((oldVal,newVal)=>{
        //	console.log(newVal);
        //}),
        //deep:true
    }
  },
  mounted() {

  },
  methods: {
    deleteChannel() {
      this.deleteChannelPanel.loading = true;
      this.$axios
        .post(`channels/${this.channel.id}/delete`)
        .then(res => {
          this.deleteChannelPanel.loading = false;
          this.$store.commit("NEW_ALERT", res.data);
          if (res.data.status) {
            this.$router.push(`/dashboard`);
          }
        });
    },
    addLink() {
      if (!this.channelData.links || this.channelData.links.length === 0) {
        this.channelData.links = [
          {
            group: '',
            link: ''
          }
        ];
      } else {
        this.channelData.links.push(
          {
            group: '',
            link: ''
          }
        );
      }
    },
    onResponse(res) {
      this.$refs.main.scrollTop = 0;
      this.errors = res.errors || {};
    }
  }
}
</script>
