<template>
<div>
  <div class="statistics-page" v-if="!error">
    <div class="statistics-page__header">
      <div class="statistics-page__header__text">
        {{$t('statistics._title')}}
      </div>
      <div class="statistics-page__header__inputs">
        <div class="statistics-page__header__input-container">
          <m-datetime :minDate="0" :dialogTitle="$t('statistics.time.start')" :title="$t('statistics.time.start')" v-model="dates.start" />
        </div>
        <div class="statistics-page__header__input-container">
          <m-datetime :minDate="0" :dialogTitle="$t('statistics.time.end')" :title="$t('statistics.time.end')" v-model="dates.end" />
        </div>
      </div>
    </div>
    <div class="statistics-page__items">
      <div class="row row--statistics-page row--no-mobile">
        <div class="col col-3 col--statistics-page">
          <div class="box box--with-header statistics-page__box">
            <div class="box__header">
              <div class="box__header__title">{{$t('statistics.views_by_day._title')}}</div>
            </div>
            <div class="box__inner">
              <div class="page-preloader" v-if="loading.main">
                <m-preloader stroke-width="5" circle-width="3em"  />
              </div>
              <div v-else class="statistics-page__chart-container">
                <div class="statistics-page__chart__data">
                  <div class="statistics-page__chart__data__item">
                    <span class="statistics-page__chart__data__title">{{$t('statistics.views_by_day.total')}}</span>
                    <span class="statistics-page__chart__data__number">{{data.main.views.total}}</span>
                  </div>
                  <div class="statistics-page__chart__data__item">
                    <span class="statistics-page__chart__data__title">{{$t('statistics.views_by_day.min')}}</span>
                    <span class="statistics-page__chart__data__number">{{data.main.views.min}}</span>
                  </div>
                  <div class="statistics-page__chart__data__item">
                    <span class="statistics-page__chart__data__title">{{$t('statistics.views_by_day.max')}}</span>
                    <span class="statistics-page__chart__data__number">{{data.main.views.max}}</span>
                  </div>
                </div>
                <div class="statistics-page__chart">
                  <lineChart class="chart chart--views-by-date" :labels="Object.keys(data.main.views.by_day.views)" :data="[Object.values(data.main.views.by_day.views)]" />
                </div>
              </div>
            </div>
          </div>
          <div class="box box--with-header statistics-page__box">
            <div class="box__header">
              <div class="box__header__title">{{channel.is_radio ? $t('statistics.online._title_radio') : $t('statistics.online._title')}}</div>
            </div>
            <div class="box__inner">
              <div class="page-preloader" v-if="loading.online">
                <m-preloader stroke-width="5" circle-width="3em"  />
              </div>
              <div v-else class="statistics-page__chart-container">
                <div class="statistics-page__chart">
                   <lineChart v-if="onlineData" class="chart chart--views-by-date" :labels="onlineLabels" :tooltips="onlineTooltips" :data="onlineData" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-2 col--statistics-page">
          <div v-if="loading.realtime || data.realtime.total > 0" class="box box--with-header statistics-page__box">
            <div class="box__header">
              <div class="box__header__title">{{channel.is_radio ? $t('statistics.realtime._title_radio') : $t('statistics.realtime._title')}}</div>
            </div>
            <div class="box__inner">
              <div class="page-preloader" v-if="loading.realtime">
                <m-preloader stroke-width="5" circle-width="3em"  />
              </div>
              <div v-else class="statistics-page__chart-container statistics-page__chart-container--vertical">
                <div class="statistics-page__chart__data">
                  <div class="statistics-page__chart__data__item">
                    <span class="statistics-page__chart__data__title">{{$t('statistics.realtime.total')}}</span>
                    <span class="statistics-page__chart__data__number">{{data.realtime.total}}</span>
                  </div>
                </div>
                <div class="statistics-page__chart">
                  <doughnutChart class="chart chart--realtime-countries" :labels="realtimeLabels" :data="realtimeData" />
                </div>
              </div>
            </div>
          </div>
          <div class="box box--with-header statistics-page__box">
            <div class="box__header">
              <div class="box__header__title">{{$t('statistics.referrers._title')}}</div>
            </div>
            <div class="box__inner box__inner--no-padding">
              <div class="page-preloader" v-if="loading.main">
                <m-preloader stroke-width="5" circle-width="3em"  />
              </div>
              <table v-else class="table">
                <thead>
                <tr>
                  <td>{{$t('statistics.referrers.page')}}</td>
                  <td>{{$t('statistics.referrers.visits')}}</td>
                </tr>
                </thead>
                <tbody>
                <tr :key="$index" v-for="(referrer, $index) in data.main.referrers">
                  <td>{{referrer.need_translate ? $t(referrer.title) : referrer.title}} <strong v-if="referrer.entity_title">{{referrer.entity_title}}</strong></td>
                  <td>{{referrer.visits}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <m-error-page v-else :data="error"/>
</div>
</template>
<script>
  import lineChart from '@/components/blocks/dashboard/charts/lineChart.js';
  import doughnutChart from '@/components/blocks/dashboard/charts/doughnutChart.js';
  export default {
    head() {
      return {
        title: this.$t('statistics._title')
      }
    },
    props: {
      channel: {
        type: Object,
        required: true
      }
    },
    components: {
      doughnutChart,
      lineChart
    },
    computed: {
      onlineData() {
        if (!this.data.online) {
          return [];
        }
        return [this.data.online.list.map(item => item.count)];
      },
      onlineTooltips() {
        if (!this.data.online) {
          return [];
        }
        return this.data.online.list.map(item => item.program_name);
      },
      onlineLabels() {
        if (!this.data.online) {
          return [];
        }
        return this.data.online.list.map(item => item.time);
      },
      realtimeData() {
        if (!this.data.realtime) {
          return [];
        }
        return this.data.realtime.list.map(country => country.count);
      },
      realtimeLabels() {
        if (!this.data.realtime) {
          return [];
        }
        return this.data.realtime.list.map(country => country.data.iso_code);
      }
    },
    watch: {
      "dates.start"() {
        this.onDateChange();
      },
      "dates.end"() {
        this.onDateChange();
      }
    },
    data() {
      return {
        error: null,
        dates: {
          start: Math.floor(new Date(new Date().getTime() - 86400 * 7 * 1000).getTime() / 1000),
          end: Math.floor(new Date().getTime() / 1000)
        },
        loading: {
          main: true,
          realtime: true,
          online: true,
        },
        data: {
          main: null,
          realtime: null,
          online: null,
        }
      }
    },
    mounted() {
      this.load();
      this.loadRealtime();
    },
    methods: {
      loadRealtime() {
        this.loading.realtime = true;
        this.$axios.post(`/statistics/realtime/${this.channel.id}`).then( res => {
          if (res.data.status) {
            this.data.realtime = res.data.data;
            this.loading.realtime = false;
          } else {
            this.error = res.data;
          }
        });
      },
      onDateChange() {
        if (this.dates.start && this.dates.end) {
          this.load();
        }
      },
      load() {
        let points = {
          'main': 'views/channels',
          'online': 'online'
        };
        Object.keys(points).forEach(point => {
          this.loading[point] = true;
          let data = {};
          if (this.dates.start && this.dates.end) {
            data = {start_time: this.dates.start, end_time: this.dates.end}
          }
          let point_address = points[point];
          this.$axios.post(`/statistics/${point_address}/${this.channel.id}`, data).then( res => {
            if (res.data.status) {
              this.data[point] = res.data.data;
              this.loading[point] = false;
            } else {
              this.error = res.data;
            }
          });
        });
      }
    }
  }
</script>

<style lang="scss">

</style>
