<template>
  <div>
    <div class="dashboard-page__premium" v-if="!error">
      <div class="dashboard-page__title">{{$t('dashboard.premium._title')}}</div>
      <div class="dashboard-page__main-content" ref="main">
        <div class="list-container">
          <div class="list-container__inner">
            <div class="list-item list-item--without-picture list-item--auto" :key="$index" v-if="typeof packagesList !== 'undefined' && packagesList.list" v-for="(premiumPackage, $index) in packagesList.list">
              <div class="list-item__left list-item__full-width">
                <div class="list-item__picture-block" v-if="premiumPackage.picture" :style="{backgroundImage: 'url('+premiumPackage.picture+')'}" ></div>
                <div class="list-item__captions">
                  <div class="list-item__title">
                    {{$t(premiumPackage.name)}}
                  </div>
                  <div class="list-item__under-title">
                    {{$t(premiumPackage.description)}}
                  </div>
                  <div v-if="premiumPackage.is_active" class="dashboard-page__premium__active-till">
                    {{$t('dashboard.premium.package_active_till')}} {{premiumPackage.active_till}}
                  </div>
                  <div :key="$index" v-for="(additionalItem, $index) in premiumPackage.additional_data" class="dashboard-page__premium__additional-data">
                    <strong>{{$t(additionalItem.title)}}</strong> {{additionalItem.text}}
                  </div>
                </div>
              </div>
              <div class="list-item__right">
                <div class="dashboard-page__premium__price">
                  {{premiumPackage.price}} {{$t('dashboard.premium.price_in_month')}}
                </div>
                <div class="list-item__buttons">
                  <m-btn flat @click="showSettingsWindow(premiumPackage)" v-if="premiumPackage.settings && premiumPackage.settings.length > 0">{{$t('dashboard.premium.settings')}}</m-btn>
                  <m-btn @click="showBuyWindow(premiumPackage)" v-if="!premiumPackage.is_active">{{$t('dashboard.premium.package_buy')}}</m-btn>
                  <m-btn @click="showBuyWindow(premiumPackage)"  v-else class="btn--green">{{$t('dashboard.premium.package_extend')}}</m-btn>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <m-modal v-model="buyWindow.visible" v-if="buyWindow.package" :header="$t('dashboard.premium.package_purchase')+' '+$t(buyWindow.package.name)">
        <div slot="main">
          <div class="dashboard-page__premium__response-container">
            <m-response :data="buyWindow.response" />
          </div>
          <div class="modal__input-container">
            <m-select :placeholder="$t('dashboard.premium.select_months')" :options="monthsOptions" v-model="buyWindow.months" />
          </div>
          <div class="dashboard-page__premium__money-row">
            <div class="dashboard-page__premium__money-container">
              <span class="dashboard-page__premium__money-description">{{$t('dashboard.premium.your_balance')}}</span>
              <span class="dashboard-page__premium__money-number">{{balance}}</span>
              <span class="dashboard-page__premium__money-currency">{{$t('dashboard.premium.currency')}}</span>
            </div>
            <div class="dashboard-page__premium__money-container">
              <span class="dashboard-page__premium__money-description">{{$t('dashboard.premium.total_price')}}</span>
              <span class="dashboard-page__premium__money-number">{{totalPrice}}</span>
              <span class="dashboard-page__premium__money-currency">{{$t('dashboard.premium.currency')}}</span>
            </div>
          </div>
        </div>
        <div v-show="!hasJustPaid" class="dashboard-page__premium__insufficient-balance" v-if="totalPrice > balance">
          <i class="material-icons">warning</i>
          <span class="dashboard-page__premium__insufficient-balance__text">{{$t('dashboard.premium.insufficient_balance')}}</span>
          <m-btn to="/user/settings#paid">{{$t('dashboard.premium.balance_top_up')}}</m-btn>
        </div>
        <div class="modal__buttons" slot="buttons">
          <div class="buttons-list">
            <m-btn :loading="buyWindow.loading" @click="buyPackage()" :disabled="totalPrice > balance">{{$t('global.ok')}}</m-btn>
            <m-btn flat @click="buyWindow.visible = false">{{$t('global.cancel')}}</m-btn>
          </div>
        </div>
      </m-modal>

      <m-modal v-model="settingsWindow.visible" v-if="settingsWindow.package" :header="$t('dashboard.premium.settings')">
        <div slot="main">
          <div class="dashboard-page__premium__response-container">
            <m-response :data="settingsWindow.response" />
          </div>
          <div class="modal__input-container" :key="$index" v-for="(item, $index) in settingsWindow.list">
            <m-input :title="$t(item.title)" :type="item.type || 'text'" v-model="settingsWindow.values[item.id]" />
          </div>
        </div>
        <div class="modal__buttons" slot="buttons">
          <div class="buttons-list">
            <m-btn :loading="settingsWindow.loading" @click="saveSettings()">{{$t('global.save')}}</m-btn>
            <m-btn flat @click="settingsWindow.visible = false">{{$t('global.cancel')}}</m-btn>
          </div>
        </div>
      </m-modal>

    </div>
    <m-error-page v-else :data="error"/>
  </div>
</template>
<style lang="scss">
  .dashboard-page {
    &__premium {
      flex: 1;
      &__price {
        font-weight: 600;
        font-size: .875em;
        margin: 0 1em 0 0;
      }
      &__active-till {
        margin: .25em 0 0;
        display: inline-block;
        font-weight: 600;
      }
      &__money-row {
        margin: 1em 0;
        display: flex;
        align-items: center;
      }

      &__money-number {
        font-weight: 600;
        margin: 0 .25em;
      }

      &__money-container {
        margin: 0 .5em 0 0;
      }

      &__insufficient-balance {
        color: var(--negative-color);
        display: flex;
        align-items: center;
        font-size: 1.25em;
        margin: .5em 0;
        &__text {
          margin: .25em;
        }
      }
      &__response-container {
        margin: 0 0 1.75em;
      }
    }
  }
</style>
<script>
  export default {
    head() {
      return {
        title: this.$t('dashboard.premium._title')
      }
    },
    async asyncData({app,params}) {
      let packages = (await app.$axios.get(`/premiumservices/getbychannel/${params.id}`)).data;
      if (packages.status) {
        let balance = (await app.$axios.get('billing/balance')).data.balance;
        return {error: null, packages, balance};
      } else {
        return {
          error: packages
        }
      }
    },
    props: {
      channel: {
        type: Object,
        required: true
      }
    },
    computed:{
      totalPrice() {
        if (this.buyWindow.package) {
          return this.buyWindow.package.price * this.buyWindow.months;
        }
        return 0;
      },
      monthsOptions() {
        return [
          {value: 1, name: this.$t('dashboard.premium.months.1')},
          {value: 3, name: this.$t('dashboard.premium.months.3')},
          {value: 6, name: this.$t('dashboard.premium.months.6')},
          {value: 12, name: this.$t('dashboard.premium.months.12')}
        ]
      }
    },
    data () {
      return {
        packagesList: {},
        buyWindow: {
          months: 1,
          package: null,
          visible: false,
          loading: false,
          response: null,
        },
        settingsWindow: {
          package: null,
          visible: false,
          loading: false,
          response: null,
          list: [],
          values: {}
        },
        hasJustPaid: false,
      }
    },
    watch: {

    },
    mounted() {
      this.packagesList = this.packages;
    },
    methods: {
        async reload() {
            let packages = (await this.$axios.get(`/premiumservices/getbychannel/${this.channel.id}`)).data;
            this.packagesList = packages;
        },
        saveSettings() {
            this.settingsWindow.loading = true;
            this.hasJustPaid = false;
            this.$axios.post('/premiumservices/settings', {
                channel_id: this.channel.id,
                package_id: this.settingsWindow.package.package_id,
                settings: this.settingsWindow.values,
            }).then(res => {
                this.settingsWindow.response = res.data;
                this.settingsWindow.loading = false;
                if (res.data.status) {
                    this.reload();
                    setTimeout(() => {
                        this.settingsWindow.visible = false;
                    }, 2500)
                }
            })
      },
      buyPackage() {
        if (this.totalPrice <= this.balance) {
          this.buyWindow.loading = true;
          this.hasJustPaid = false;
          this.$axios.post('/premiumservices/buy', {
            package_id: this.buyWindow.package.package_id,
            months: this.buyWindow.months,
            channel_id: this.channel.id
          }).then(res => {
            this.buyWindow.response = res.data;
            this.buyWindow.loading = false;
            if (res.data.status) {
              this.reload();
              this.hasJustPaid = true;
              this.balance = res.data.new_balance;
              this.packagesList.list.forEach(premiumPackage => {
                if (premiumPackage.package_id === this.buyWindow.package.package_id) {
                  premiumPackage.active_till = res.data.paid_till;
                }
              });
              setTimeout(() => {
                this.hasJustPaid = false;
                this.buyWindow.visible = false;
              }, 2500)
            }
          })
        }
      },
      showSettingsWindow(premiumPackage) {
        this.settingsWindow.package = premiumPackage;
        premiumPackage.settings.forEach(item => {
          this.$set(this.settingsWindow.values, item.id, item.value);
        });
        this.settingsWindow.list = premiumPackage.settings;
        this.settingsWindow.visible = true;
      },
      showBuyWindow(premiumPackage) {
        this.buyWindow.package = premiumPackage;
        this.buyWindow.visible = true;
      }
    }
  }
</script>
