<template>
  <div class="dashboard-page__projects">
    <div v-if="!error" class="dashboard-page__projects__inner">

      <statisticsBlock v-if="statistics.project" v-model="statistics.visible" :module="`projects`" :materialid="statistics.project.id"/>
      <VideoSelectPanel v-if="videoPanel.visible" @close="videoPanel.visible = false" v-model="videoPanel.data" :channel="channel"/>

      <div class="dashboard-page__title">
        <span class="dashboard-page__title__content">{{$t('dashboard.projects._title')}}</span>
        <div class="dashboard-page__title__buttons">
          <div class="buttons-list">
            <m-btn v-if="!formVisible" @click="showProjectsForm()" class="btn--green" icon="add_to_queue">{{$t('dashboard.projects.add')}}</m-btn>
            <m-btn v-else @click="formVisible = false" flat icon="arrow_back_ios">{{$t('dashboard.projects.back_to_list')}}</m-btn>
          </div>
        </div>
      </div>
      <div class="dashboard-page__main-content dashboard-page__main-content--no-padding" ref="main">
        <div v-if="formVisible" class="projects-form__container">
          <div class="projects-form__inner">
            <m-tabs small :data="tabs" v-model="currentTab" />
            <div class="projects-form__response-container">
              <m-response :data="response" />
            </div>
            <div v-show="currentTab === 'info'" class="projects-form">
              <div class="dashboard__input-container">
                <m-input autoSize :errors="errors.name" :title="$t('dashboard.projects.name')" v-model="project.name" />
              </div>

              <div class="dashboard__input-container">
                <m-editor :title="$t('dashboard.projects.description')" v-model="project.description" />
              </div>
              <div class="input__outer-title">{{$t('dashboard.projects.links._title')}}</div>
              <div class="row row--wrap row--no-mobile row--vertical-short" :key="$index" v-for="(link,$index) in project.links">
                <div class="col">
                  <div class="dashboard__input-container">
                    <m-input :title="$t('dashboard.projects.links.link_name')" v-model="link.group" />
                  </div>
                </div>
                <div class="col">
                  <div class="dashboard__input-container">
                    <m-input :title="$t('dashboard.projects.links.link_address')"  v-model="link.link" />
                  </div>
                </div>
                <div class="col col--button-container">
                  <m-btn  icon="delete"  @click="project.links.splice($index,1)" class="btn--delete">{{$t('dashboard.projects.links.delete_link')}}</m-btn>
                </div>
              </div>
              <m-btn class="btn--insert" @click="addLink()" icon="insert_link">{{$t('dashboard.projects.links.add_link')}}</m-btn>
              <div v-if="!channel.is_radio" class="projects-form__video-select" @click="videoPanel.visible = true">
                <div class="row">
                  <div class="col">
                    <div class="dashboard__input-container">
                      <m-input disabled  :errors="errors.promo_id" :title="$t('dashboard.projects.promo_id')" v-model="promoVideoTitle" />
                    </div>
                  </div>
                  <div v-if="project.promo_id > 0" class="col col--button-container">
                    <m-btn class="btn--delete" icononly faIcon="times" @click="resetVideo()"/>
                  </div>
                </div>
              </div>
            </div>
            <div v-show="currentTab === 'design'" class="projects-form">
              <DesignEditor :channel="channel" :initialData="project" :showSaveButton="false" v-model="project.design"/>
            </div>
          </div>
          <div class="projects-form__bottom">
            <div class="buttons-list">
              <m-btn :loading="isSaving" @click="saveProject()">{{$t('global.save')}}</m-btn>
            </div>
          </div>
        </div>
        <div class="projects-list" :class="{'projects-list--with-pager': pagesCount > 1}" v-else>
          <m-nothing-found v-if="projectsList.total === 0"/>
          <multi-screen v-else :manual="true" :loading="isLoading" class="multi-screen--no-mobile" v-model="currentPage" :count="pagesCount">
            <div class="multi-screen__page" :key="page" v-for="page in pagesCount" :style="{width:100/pagesCount+'%'}">
              <div class="list-container">
                <div class="list-container__inner">
                  <div class="list-item list-item--big list-item--not-link" :key="$index" v-if="projects[page]" v-for="(project, $index) in projects[page]">
                    <div  class="list-item__left list-item__full-width">
                      <div class="list-item__picture-block" :style="{backgroundImage: 'url('+project.logo+')'}" ></div>
                      <div class="list-item__captions">
                        <div class="list-item__title">
                          {{project.name}}
                        </div>
                        <div class="list-item__under-title">
                          <div class="text-with-icon__list">
                            <span class="text-with-icon">
                              <i class="material-icons">remove_red_eye</i>
                              <span class="text-with-icon__content">{{project.views}}</span>
                            </span>
                            <span class="text-with-icon">
                              <i class="material-icons">thumb_up</i>
                              <span class="text-with-icon__content">{{project.likes_count}}</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="list-item__right">
                      <div class="buttons-list">
                        <m-btn v-if="project.can_view_stats" @click="showStatistics(project)">{{$t('statistics.show')}}</m-btn>
                        <m-btn v-if="project.can_edit" @click="setEditingProject(project)" class="btn--green">{{$t('global.edit')}}</m-btn>
                        <m-btn v-if="project.can_edit" @click="showDeleteWindow(project)" class="btn--delete">{{$t('global.delete')}}</m-btn>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </multi-screen>
          <div class="projects-list__pager-container" v-if="pagesCount > 1">
            <m-pager :count="pagesCount" v-model="currentPage" />
          </div>
        </div>
      </div>

      <m-modal v-model="deleteWindowVisible" :header="$t('dashboard.projects.delete_project._title')">
        <div slot="main">
          <div class="modal__text">{{$t('dashboard.projects.delete_project._text')}}</div>
        </div>
        <div class="modal__buttons" slot="buttons">
          <div class="buttons-list">
            <m-btn class="btn--delete" :loading="isDeleting" flat @click="deleteProject()">{{$t('global.ok')}}</m-btn>
            <m-btn  @click="deleteWindowVisible = false">{{$t('global.cancel')}}</m-btn>
          </div>
        </div>
      </m-modal>
    </div>
    <m-error-page v-else :data="error"/>
  </div>
</template>
<style lang="scss">
  .dashboard-page__projects {
    height: 100%;
    &__inner {
      height: calc(100% - 1em);
    }

    .projects-list {
      height: 100%;
      display: flex;
      flex-direction: column;
      .multi-screen__page {
        display: flex;
        flex-direction: column;
      }
      &__pager-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: inherit;
        background: var(--box-footer-color);
        padding: .5em 0;
      }
      &--with-pager .page-container {
        height: calc(100% - 3.5em);
      }
    }
    .projects-form {
      padding: 1em;
      &__container {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
      &__video-select {
        cursor: pointer;
        margin: 3em 0 0;
        .input__inner {
          opacity: 1;
        }
      }
      &__response-container {
        margin: 1em 1em 0;
      }
      &__inner {
        flex: 1;
        overflow: auto;
        overflow-x: hidden;
      }
      &__bottom {
        background: var(--box-element-color);
        padding: 1em;
      }
    }
  }
</style>
<script>
  import statisticsBlock from '@/components/blocks/statisticsBlock';
  import MultiScreen from '~/components/layout/MultiScreen.vue'
  import DesignEditor from '@/components/blocks/dashboard/designEditor';
  import VideoSelectPanel from '@/components/blocks/VideoSelectPanel';
  const count = 10;
  const defaultColors =  ["#F3F3F3", "#FFFFFF", "#4A4A4A", "#FFF", "#393939", "#FFF", "#107FD0", "#353535", "#454545", "#fff", "#107FD0", "#FFFFFF", "#FFFFFF"];
  export default {
    head() {
      return {
        title: this.$t('dashboard.projects._title')
      }
    },
    components: {
      VideoSelectPanel,
      statisticsBlock,
      MultiScreen,
      DesignEditor
    },
    async asyncData({app, params}) {
      let projects = (await app.$axios.post(`/projects/getbychannel/${params.id}?count=${count}`)).data;
      if (!projects.status) {
        return {
          error: projects
        }
      }
      return {
        projectsList: projects.list,
        error: null
      };
    },
    props:{
      channel:{
        type:Object,
        required:true
      }
    },
    data() {
      return {
        promoVideoTitle: this.$t('dashboard.projects.select_video'),
        videoPanel: {
          data: null,
          visible: false,
        },
        statistics: {
          project: null,
          visible: false,
        },
        isLoading: false,
        currentPage: 1,
        realCurrentPage: 1,
        projects: {},
        project: {
          colors: defaultColors,
          links: [],
        },
        design: null,
        errors: {},
        formVisible: false,
        isEditing: false,
        editingID: null,
        currentTab: 'info',
        tabs: [
          {id: 'info', name: this.$t('dashboard.projects.tabs.info')},
          {id: 'design', name: this.$t('dashboard.projects.tabs.design')},
        ],
        response: {
          status: -1,
          text: '',
        },
        isSaving: false,
        projectToDelete: null,
        deleteWindowVisible: false,
        isDeleting: false,
      }
    },
    watch: {
      "videoPanel.data"(newData) {
        this.project.promo_id = newData.id;
        this.promoVideoTitle = newData.title;
      },
      formVisible(isVisible) {
        if (isVisible) {
          this.response = {
            status: -1,
            text: ''
          };
        }
      },
      async currentPage(newPage) {
        if (this.projects[newPage]) {
          this.realCurrentPage = newPage;
        } else {
          this.isLoading = true;
          let projects = (await this.$axios.get('projects/getbychannel/'+this.channel.id+'?count='+count+'&page='+newPage)).data.list.data;
          this.$set(this.projects, newPage, projects);
          this.realCurrentPage = newPage;
          this.isLoading = false;
        }
      }
    },
    computed: {
      pagesCount() {
        return this.projectsList.last_page;
      }
    },
    mounted() {
      this.projects = {
        1: JSON.parse(JSON.stringify(this.projectsList.data))
      }
    },
    methods: {
      resetVideo() {
        this.promoVideoTitle = '';
        this.project.promo_id = null;
      },
      showStatistics(project) {
        this.statistics.project = project;
        this.statistics.visible = true;
      },
      deleteProject() {
        this.isDeleting = true;
        this.$axios.delete('projects/'+this.projectToDelete.id).then(res=>{
          this.isDeleting = false;
          this.$store.commit('NEW_ALERT', res.data);
          if (res.data.status) {
            this.projectsList.total--;
            this.deleteWindowVisible = false;
            Object.keys(this.projects).forEach(page=>{
              this.projects[page] = this.projects[page].filter(project=>project.id !== this.projectToDelete.id);
            })
          }
        })
      },
      showDeleteWindow(project) {
        this.projectToDelete = project;
        this.deleteWindowVisible = true;
      },
      addLink() {
        if (!this.project.links || this.project.links.length === 0) {
          this.project.links = [
            {
              group: '',
              link:''
            }
          ];
        } else {
          this.project.links.push(
            {
              group: '',
              link: ''
            }
          );
        }
      },
      saveProject() {
        this.isSaving = true;
        let data = this.project;
        if (!this.isEditing) {
          data.channel_id = this.channel.id;
        }
        if (this.project.design) {
          Object.keys(this.project.design).forEach(key => {
            data[key] = this.project.design[key];
          });
        }
        this.$axios({
          method: this.isEditing ? 'PATCH' : 'POST',
          url: this.isEditing ? 'projects/' + this.editingID : 'projects',
          data: data,
        }).then(res => {
          this.isSaving = false;
          this.response = res.data;
          this.errors = res.data.errors || {};
          if (res.data.status) {
            if (!this.isEditing) {
              this.projectsList.total++;
              this.projects[1].unshift(res.data.data.project);
            } else {
              Object.keys(this.projects).forEach(page=>{
                this.projects[page].forEach((project, index)=>{
                  if (project.id === res.data.data.project.id) {
                    this.$set(this.projects[page],index, res.data.data.project);
                  }
                })
              })
            }
            setTimeout(() => {
              this.formVisible = false;
            }, 5000)
          }
        })
      },
      showProjectsForm() {
        this.project = {
          colors: defaultColors,
          links: [],
        };
        this.formVisible = true;
      },
      setEditingProject(project) {
        if (project.promo) {
          this.promoVideoTitle = project.promo.title;
        } else {
          this.promoVideoTitle = '';
        }

        this.isEditing = true;
        this.editingID = project.id;
        this.project = project;
        this.formVisible = true;
      }
    }
  }
</script>
