<template>
<div>
	<div class="dashboard-page__title">{{$t('dashboard.team._title')}}</div>
	<div class="dashboard-page__main-content" ref="main">
		<div class="dashboard__team">
      <div class="dashboard-page__box dashboard__team__add-user">
        <div class="dashboard__team__add-user__inputs">
					<m-autocomplete @getvalue = "(value) => {addUserData = value}" autocomplete-key="id" autocomplete-value="username" url="users/autocomplete" v-model="addUser" :placeholder="$t('dashboard.team.select_username')" />
          <m-input :title="$t('dashboard.team.position')" v-model="position"/>
        </div>
        <div class="dashboard__team__add-user__rights">
          <m-radio-buttons @select="onSelectType"  :values="isChannelAdminValues" v-model="data.isNotAdmin" />
        </div>
        <m-btn class="btn--green" :disabled="userIsInTeam" @click="addUserToTeam()" >{{$t('dashboard.team.add_user')}}</m-btn>
			</div>
      <m-modal ref="modal" v-model="modalVisible" >
        <div class="dashboard__team__rights">
          <div class="dashboard__team__rights__inner">
            <div v-if="data.isNotAdmin" :key="$index" v-for="(right, $index) in rightsList" class="dashboard__team__rights__item">
              <div class="dashboard__team__rights__item__title">{{$t(right.title)}}</div>
              <div class="dashboard__team__rights__item__description">{{$t(right.description)}}</div>
              <m-radio-buttons :inline="true" :block="true" :values="getRightsCheckboxValues(right)" v-model="data.selectedRights[right.id]" :defaultValue="0" />
            </div>
          </div>
          <div class="dashboard__team__rights__text">
            {{$t('dashboard.team.full_access_text')}}
          </div>
        </div>
        <div class="modal__buttons" slot="buttons">
          <div class="buttons-list">
            <m-btn @click="modalVisible = false">{{$t('global.ok')}}</m-btn>
          </div>
        </div>
      </m-modal>
      <div class="dashboard__team__users-list">
        <div class="list-container">
          <div class="list-container__inner">
            <div class="list-item" :class="{'list-item--not-confirmed': !member.is_confirmed}" :key="$index" v-for="(member,$index) in team.list">
              <div class="list-item__left">
                <img class="list-item__picture" :src="member.ava" />
                <div class="list-item__captions">
                  <div class="list-item__title">{{member.username}}
                    <span @click="setCurrentEditingMember(member)" class="list-item__title__icon"><i class="fa fa-edit"></i></span>
                  </div>
                  <span class="list-item__title__sub">
                    <span class="dashboard__team__user__position" v-if="member.position">{{member.position}}</span>
                    <span class="dashboard__team__user__waiting-for-confirmation" v-if="!member.is_confirmed">{{$t('dashboard.team.waiting_for_confirmation')}}</span>
                  </span>
                  <div class="list-item__under-title">
                    <span class="tag" :key="$index" v-for="(key, $index) in getShortRightsList(member.rights)">{{key}}</span>
                  </div>
                </div>
              </div>
              <div class="list-item__right">
                <div class="list-item__buttons">
                  <m-btn @click="deleteUserFromTeam(member)" v-if="canBeDeleted(member)" class="btn--delete">{{$t('global.delete')}}</m-btn>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <m-modal v-model="editMemberPanelVisible" class="dashboard__team__user-edit" :header="$t('dashboard.team.edit_member')">
        <div slot="main" v-if="currentEditingMember">
          <div v-if="!currentEditingMember.rights.owner">
            <m-radio-buttons :values="isChannelAdminValues" v-model="currentEditingMember.isNotAdmin" />
            <div class="dashboard__team__rights__inner" v-if="currentEditingMember.isNotAdmin" >
              <div :key="$index" v-for="(right, $index) in rightsList" class="dashboard__team__rights__item">
                <div class="dashboard__team__rights__item__title">{{$t(right.title)}}</div>
                <div class="dashboard__team__rights__item__description">{{$t(right.description)}}</div>
                <m-radio-buttons :inline="true" :block="true" :values="getRightsCheckboxValues(right)" v-model="currentEditingMember.rights[right.id]" :defaultValue="0" />
              </div>
            </div>
            <div class="dashboard__team__rights__text" v-if="currentEditingMember.isNotAdmin" >
              {{$t('dashboard.team.full_access_text')}}
            </div>
          </div>
          <m-input autoSize :title="$t('dashboard.team.position')" v-model="currentEditingMember.position"/>
        </div>
        <div class="modal__buttons" slot="buttons">
          <div class="buttons-list">
            <m-btn @click="saveMemberData()">{{$t('global.ok')}}</m-btn>
            <m-btn class="btn--delete" @click="editMemberPanelVisible = false;">{{$t('global.cancel')}}</m-btn>
          </div>
        </div>
      </m-modal>
    </div>
	</div>
</div>
</template>
<style lang="scss">
.dashboard {
  &__team {
    display: flex;
    height: 100%;
    border-radius: .25em;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    &__user {
      &__position {
        margin: 0 .5em 0 0;
      }

      &__waiting-for-confirmation {
        border-bottom: 1px dashed;
      }
    }
    &__users-list {
      flex: 2.5;
    }
    &__add-user {
      padding: 1em;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &__inputs {
        display: flex;
        flex-direction: column;
      }
      &__rights {

        &__list {
          margin: 1em 0;
          &--edit {
            margin: 1em 0 2.5em;
          }
          .tag {
            margin: 0 0 .25em .25em;
          }
          &--inactive {
            opacity: .25;
          }
        }
      }
      &__rights-selects {
        margin: 1em 0 0;
        &__item {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          &__title {
            margin: 0 0 1em;
            font-size: .875em;
          }
        }
      }
    }
    &__rights {
      &__inner {
        max-height: 60vh;
        overflow: auto;
        margin: 2.5em 0 0;
        background: linear-gradient(90deg, rgba(255, 255, 255, .01), rgba(255, 255, 255, .11));
      }

      &__text {
        font-weight: 400;
        font-size: 1.125em;
        padding: 1em 0 0;
      }
      &__item {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding: .5em 1em 1em;

        &__title {
          font-size: 1.5em;
          font-weight: 100;
        }

        &__description {
          font-size: 1.125em;
          font-weight: 500;
          margin: .25em 0 .5em;
        }
      }
    }
    &__user-edit &__rights__inner {
      overflow: visible;
      max-height: initial;
      font-size: .875em;
      margin: 0;
    }

    &__user-edit &__rights__text {
      font-size: 1.125em;
      padding: 1em 0;
    }
  }
}

</style>
<script>
export default {
    watch: {
        "data.isNotAdmin"(val) {
            console.log('not admin', val);
            if (val) {
                this.modalVisible = true;
            }
        }
    },
    head() {
      return {
        title: this.$t('dashboard.team._title')
      }
    },
    async asyncData({app,params}) {
      let team = (await app.$axios.post(`/channels/${params.id}/team/get`, {all: true})).data;
      let rights = (await app.$axios.post(`/channels/${params.id}/team/getrightslist`)).data.data.list;
      return {team, rights};
    },
    props:{
      channel:{
        type: Object,
        required: true
      }
    },
    components: {},
    mounted() {

    },
    computed: {
      isChannelAdminValues() {
        return [
          {id: false, title: this.$t('dashboard.team.user_is_channel_admin')},
          {id: true, title: this.$t('dashboard.team.select_individual_rights')},
        ]
      },
      rightsList() {
        let list = [];
        Object.keys(this.rights).forEach(key => {
          if (key !== 'channel_admin') {
            list.push(this.rights[key]);
          }
        });
        return list;
      },
      userIsInTeam() {
        return (this.team.list.filter(item => (item.user_id === this.addUserData.id ||  item.username === this.addUser)).length > 0);
      }
    },
    data () {
      return {
        position: '',
        data: {
          isNotAdmin: false,
          selectedRights: {},
        },
        isLoading: false,
        addUser: "",
        addUserData: {},
        editMemberPanelVisible: false,
        currentEditingMember: null,
        modalVisible: false,
      }
    },
    head () {
      return {
        title: this.$t('dashboard.team._title'),
      }
    },
    methods: {
      onSelectType(type) {
          if (type.id === true) {
              this.modalVisible = true;
          }
      },
      getRightsCheckboxValues(right) {
          let values = [
              {id: 0, title: this.$t('dashboard.team.rights.no')},
              {id: 1, title: this.$t('dashboard.team.rights.limited')},
          ]
          if (right.can_be_full) {
              values.push({
                  id: 2, title: this.$t('dashboard.team.rights.full')
              })
          }
          return values;
      },
      canBeDeleted(user) {
        return user.rights.indexOf('owner') === -1;
      },
      isSelected(item, isEditing ) {
        const list = isEditing ? (this.currentEditingMember ? this.currentEditingMember.rights : []) : this.data.selectedRights;
        return list.indexOf(item.id) !== -1;
      },
      getShortRightsList(list) {
        const maxLength = 5;
        const isLong =  list.length > maxLength;
        let shortList = isLong  ? list.slice(0, maxLength) : list;
        let rightsList = shortList.map(key => (this.rights[key] ? this.$t(this.rights[key].title) : this.$t('channel_rights.list._additional.'+key+'._title')));
        if (isLong) {
          rightsList.push('+ '+(list.length - maxLength));
        }
        return rightsList;
      },
      selectEditingRights(right) {
        if (this.currentEditingMember.isNotAdmin) {
          if (!this.currentEditingMember.rights[right.id]) {
            this.$set(this.currentEditingMember.rights, right.id, 1)
          } else {
            if (this.currentEditingMember.rights[right.id] === 2) {
              this.$set(this.currentEditingMember.rights, right.id, 0)
            } else {
              if (right.can_be_full) {
                this.$set(this.currentEditingMember.rights, right.id, 2)
              } else {
                this.$set(this.currentEditingMember.rights, right.id, 0)
              }
            }
          }

        }
      },
      saveMemberData() {
        let member = JSON.parse(JSON.stringify(this.currentEditingMember));
        let rights = [];
        let full_rights = [];
        if (!member.isNotAdmin) {
          rights = ['channel_admin'];
        } else {
          Object.keys(member.rights).forEach(rightID => {
            if (member.rights[rightID] === 1 && rightID !== 'channel_admin') {
              rights.push(rightID);
            } else if (member.rights[rightID] === 2) {
              full_rights.push(rightID);
            }
          });
        }
        this.$axios.post(`/channels/${this.channel.id}/team/update`, {
          user_id: member.user_id,
          rights,
          full_rights,
          position: member.position
        }).then(res => {
          if (!res.data.status) {
            this.$store.commit('NEW_ALERT', res.data);
          } else {
            this.editMemberPanelVisible = false;
            this.currentEditingMember = null;
            this.team.list.forEach(item=>{
              if (item.user_id === member.user_id) {
                item.rights = rights;
                item.position = member.position;
              }
            })
          }
        })
      },
      setCurrentEditingMember(member) {
        let memberData = JSON.parse(JSON.stringify(member));
        memberData.isNotAdmin = member.rights.indexOf('channel_admin') === -1;
        let rights = {};
        memberData.rights.forEach(rightID => {
          rights[rightID] = 1;
        });
        if (memberData.full_rights) {
          memberData.full_rights.forEach(rightID => {
            rights[rightID] = 2;
          });
        }
        memberData.rights = rights;
        this.currentEditingMember = memberData;
        this.editMemberPanelVisible = true;
      },
      deleteUserFromTeam(member) {
        this.$axios.post(`/channels/${this.channel.id}/team/update`,{user_id: member.user_id, delete: true}).then(res=>{
          this.$store.commit('NEW_ALERT',res.data);
          if (res.data.status) {
            this.team.list.splice(this.team.list.indexOf(member),1);
          }
        })
      },
      addUserToTeam() {
        if (!this.userIsInTeam) {
          let rights = [];
          let full_rights = [];
          if (!this.data.isNotAdmin) {
            rights = ['channel_admin'];
          } else {
            Object.keys(this.data.selectedRights).forEach(rightID => {
              if (this.data.selectedRights[rightID] === 1) {
                rights.push(rightID);
              } else if (this.data.selectedRights[rightID] === 2) {
                full_rights.push(rightID);
              }
            });
          }
          this.$axios.post(`/channels/${this.channel.id}/team/update`, {
            username: this.addUser,
            rights,
            full_rights,
            position: this.position
          }).then(res => {
            this.$store.commit('NEW_ALERT', res.data);
            if (res.data.status) {
              if (res.data.added_user_is_new) {
                this.team.list.push({
                  user_id: res.data.added_user.id,
                  username: res.data.added_user.username,
                  ava: res.data.added_user.ava,
                  rights: res.data.added_user_rights,
                });
              } else {
                this.team.list.forEach(member => {
                  if (res.data.added_user.id === member.user_id) {
                    member.rights = res.data.added_user_rights;
                  }
                })
              }
              this.addUser = "";
            }
          })
        }
      },
    }
  }
</script>
