<template>
  <div>
  <!--  <div class="dashboard-page__title">
      <span class="dashboard-page__title__content">{{$t('dashboard.videos._title')}}</span>
    </div>-->
    <div class="dashboard-page__main-content" ref="main" v-if="!error">
      <VideosManager :initialData="data" :channel="channel" />
    </div>
    <m-error-page v-else :data="error"/>
  </div>
</template>
<style lang="scss">

</style>
<script>
  import VideosManager from '@/components/blocks/dashboard/VideosManager';
  export default {
    created() {
      const service = this.$dragula.$service;
      service.options('main', {
        moves: function (el, container, handle) {
          return false;
          //return (handle.classList.contains('videos-manager__item__top') || handle.parentElement.classList.contains('videos-manager__item__top'));
        }
      })
      service.eventBus.$on('drop', (args) => {

      });
    },
    head() {
      return {
        title: this.$t('dashboard.videos._title')
      }
    },
    components: {
      VideosManager
    },
    async asyncData({ app, params }) {
      let data = (await app.$axios.get(`videos/filemanager/${params.id}`)).data;
      if (!data.status) {
        return {
          error: data
        }
      } else {
        return {
          error: null,
          data
        };
      }
    },
    props:{
      channel: {
        type: Object,
        required: true
      }
    },
    data() {
      return {

      }
    },
    watch: {

    },
    computed: {

    },
    mounted() {

    },
    methods: {

    }
  }
</script>
