<template>
  <div class="video-conference">
    <div class="video-conference__inner" v-if="!error">
      <div class="centered-block">
        <div class="box box--with-header">
          <div class="box__header">
            <div class="box__header__title">{{$t('video_conference.box_title')}}</div>
          </div>
          <div class="box__inner">
            <div v-if="devices.loading" class="video-conference__preloader">
              <m-preloader stroke-width="5" circle-width="5em"  />
            </div>
            <div class="video-conference__local-container" v-else>
              <div class="video-conference__input-container">
                <m-select :title="$t('studio.devices.video')" :options="devices.video" :showEmptyVariant="false" v-model="data.videoDeviceId" />
              </div>
              <div class="video-conference__input-container">
                <m-select :title="$t('studio.devices.audio')" :options="devices.audio" :showEmptyVariant="false" v-model="data.audioDeviceId" />
              </div>
              <div v-if="devices.error" class="video-conference__error">
                {{$t('video_conference.error')}} {{devices.error}}
              </div>
              <div class="video-conference__conversation" v-show="!devices.error">
                <div class="video-conference__media-container video-conference__media-container--local">
                  <video autoplay muted ref="localVideo"/>
                </div>
                <div v-show="status.connected" class="video-conference__media-container video-conference__media-container--remote">
                  <video autoplay ref="remoteVideo" />
                </div>
              </div>
              <div class="video-conference__local__bottom">
                <m-btn v-if="!status.started" @click="connectToRoom()">{{$t('video_conference.connect')}}</m-btn>
                <span v-else-if="status.connecting">{{$t('video_conference.connecting')}}</span>
                <span v-else-if="status.waiting_for_broadcaster">{{$t('video_conference.waiting_for_broadcaster')}}</span>
                <span v-else-if="status.connecting_to_broadcaster">{{$t('video_conference.connecting_to_broadcaster')}}</span>
                <span v-else-if="status.connected">{{$t('video_conference.connected')}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <m-error-page v-else :data="error" />
  </div>
</template>
<style lang="scss">
  .video-conference {
    height: 100%;
    &__inner {
      height: 100%;
    }
    &__local-container {
      padding: .5em;
    }
    &__local__bottom {
      margin: .5em 0 0;
      font-weight: 500;
    }
    &__input-container {
      padding: 1em 0;
    }
    &__conversation {
      display: flex;
      max-width: 80vw;
    }

    &__media-container {
      flex: 1;
      height: auto !important;

      video {
        width: 100%;
      }
    }
  }
</style>
<script>

  let PeerConnection = window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
  let IceCandidate = window.mozRTCIceCandidate || window.RTCIceCandidate;
  let SessionDescription = window.mozRTCSessionDescription || window.RTCSessionDescription;
  const peerConnectionConfig = {
    iceServers:[
      {
        urls: [
          "turn:173.194.72.127:19305?transport=udp",
          "turn:[2404:6800:4008:C01::7F]:19305?transport=udp",
          "turn:173.194.72.127:443?transport=tcp",
          "turn:[2404:6800:4008:C01::7F]:443?transport=tcp"
        ],
        username:"CKjCuLwFEgahxNRjuTAYzc/s6OMT",
        credential:"u1SQDR/SQsPQIxXNWQT7czc/G4c="
      },
      {urls:["stun:stun.l.google.com:19302"]}
    ]};

  navigator.getUserMedia = navigator.getUserMedia || navigator.mozGetUserMedia || navigator.webkitGetUserMedia;

  export default {
    middleware: 'auth',
    watch: {
      "data.audioDeviceId"() {
        this.setCamera();
      },
      "data.videoDeviceId"() {
        this.setCamera();
      }
    },
    mounted() {
      if (!this.error) {
        this.devices.loading = true;
        navigator.mediaDevices.getUserMedia(
          {
            video: true,
            audio: true
          }
        ).then(stream => {
          this.setDevices();
        }).catch(e =>{
          this.setDevices();
          this.devices.error = e.message;
          this.devices.loading = false;
        });
      }
    },
    async asyncData({app, params}) {
      let data = (await app.$axios.get(`videoconferences/${params.id}`)).data;
      if (data.status) {
        return {
          error: null,
          conference: data.data.conference,
          user_id: data.data.user_id
        }
      } else {
        return {
          error: data
        };
      }
    },
    data() {
      return {
        status: {
          started: false,
          connecting: false,
          waiting_for_broadcaster: false,
          connecting_to_broadcaster: false,
          connected: false,
        },
        data: {
          videoDeviceId: null,
          audioDeviceId: null
        },
        peerConnection: null,
        devices: {
          video: [],
          audio: [],
          loading: true,
          error: null
        }
      }
    },
    methods: {
      setDevices() {
        navigator.mediaDevices.enumerateDevices().then((devices) => {
          let audioDevicesList = [];
          let videoDevicesList = [];
          let foundDevices = {};
          let audioCount = 0;
          let videoCount = 0;
          devices.forEach(device => {
            if (!foundDevices[device.deviceId]) {
              if (device.kind === 'audioinput') {
                audioDevicesList.push({
                  value: device.deviceId,
                  name: device.label || `Audio ${audioCount++}`
                })
              }
              if (device.kind === 'videoinput') {
                videoDevicesList.push({
                  value: device.deviceId,
                  name: device.label || `Video ${videoCount++}`
                })
              }
              foundDevices[device.deviceId] = true;
            }
          });
          this.devices.audio = audioDevicesList;
          this.devices.video = videoDevicesList;
          this.devices.loading = false;
          this.$nextTick(() => {
            this.setCamera();
          })
        }).catch(e => {
          this.devices.error = e.message;
          this.devices.loading = false;
        });
      },
      setCamera() {
        let data = {
          video: {
            deviceId: {
              exact: this.data.videoDeviceId
            },
          },
          audio: {
            deviceId: {
              exact: this.data.audioDeviceId
            },
          },
        };
        navigator.mediaDevices.getUserMedia(data).then(mediaStream => {
          console.log('local stream', mediaStream);
          this.$refs.localVideo.srcObject = mediaStream;
          this.peerConnection = new PeerConnection(peerConnectionConfig);
          this.peerConnection.addStream(mediaStream);
          this.peerConnection.onicecandidate = this.gotIceCandidate;
          this.peerConnection.onaddstream = this.gotRemoteStream;
        })
      },
      connectToRoom() {
        this.status.connecting = true;
        this.status.started = true;
        this.$echo.join(`App.VideoConference.${this.conference.uuid}`)
          .here(users => {
            this.status.connecting = false;
            this.status.waiting_for_broadcaster = true;
          }).listen('.videoconference.request', (e) => {
            this.status.connecting_to_broadcaster = true;
            this.status.waiting_for_broadcaster = false;
            this.peerConnection.createOffer(
              this.gotLocalDescription,
              function(error) { console.log(error) },
              { 'mandatory': { 'OfferToReceiveAudio': true, 'OfferToReceiveVideo': true } }
            );
        }).listen('.videoconference.message', (e) => {
          let message = JSON.parse(e.message);
          if (message && e.user_id !== this.user_id) {
            if (message.type === 'offer') {
              message.sdp = message.sdp + "\r\n";
              this.peerConnection.setRemoteDescription(new SessionDescription(message));
              this.createAnswer();
            }
            else if (message.type === 'answer') {
              message.sdp = message.sdp + "\r\n";
              this.peerConnection.setRemoteDescription(new SessionDescription(message));
            }
            else if (message.type === 'candidate') {
              let candidate = new IceCandidate({sdpMLineIndex: message.label, candidate: message.candidate});
              this.peerConnection.addIceCandidate(candidate);
            }
          }

        });
      },
      createAnswer() {
        this.peerConnection.createAnswer(
          this.gotLocalDescription,
          function(error) { console.log(error) },
          { 'mandatory': { 'OfferToReceiveAudio': true, 'OfferToReceiveVideo': true } }
        );
      },
      gotLocalDescription(description){
        console.log(description);
        this.peerConnection.setLocalDescription(description);
        this.sendMessage(description);
      },
      gotRemoteStream(event) {
        console.log(event);
        this.status.connecting_to_broadcaster = false;
        this.status.connected = true;
        this.$refs.remoteVideo.srcObject = event.stream;
        this.$refs.remoteVideo.muted = false;
        this.$refs.remoteVideo.controls = true;
        this.$refs.remoteVideo.play();
      },
      gotIceCandidate(event) {
        if (event.candidate) {
          this.sendMessage({
            type: 'candidate',
            label: event.candidate.sdpMLineIndex,
            id: event.candidate.sdpMid,
            candidate: event.candidate.candidate
          });
        }
      },
      sendMessage(message) {
        //console.log('send', message, message.type);
        this.$axios.post(`videoconferences/${this.conference.uuid}/message`, {message}).then(res => {
          //console.log(res.data);
        })
      },
      gotStream(stream) {


      }
    }
  }
</script>
