da<template>
  <div class="scheduler__container">
    <div class="scheduler__outer" v-if="!error">
      <div  class="scheduler__timetable-container__outer" v-if="timetableView">
        <div :style="{height: timetableHeight + '%', top: timetableTop + 'px'}" class="scheduler__timetable-container">
          <div class="scheduler__hours">
            <div @mousedown="onHoursResize" @mousewheel="onHoursResizeMousewheel" class="scheduler__hours__list" ref="hoursList" :class="hoursListClass">
              <div class="scheduler__hour" :key="$index" v-for="(hour, $index) in getHours">{{hour.text}}</div>
            </div>
          </div>
          <div class="scheduler__days">
            <div class="scheduler__day" :key="$index" v-for="(day, $index) in days">
              <div class="scheduler__day__text">{{day.text}}</div>
              <div class="scheduler__day__playlists">
                <div class="scheduler__playlist" :data-playlist-id="playlist.id" @click="editPlaylist(playlist)" :key="`playlist_${$index2}`" v-for="(playlist, $index2) in playlistsForDays[$index]" :style="playlist._style">
                  <div class="scheduler__playlist__dates" v-if="playlist._formattedDates">
                    <span class="scheduler__playlist__date">{{playlist._formattedDates.start}}</span> - <span class="scheduler__playlist__date">{{playlist._formattedDates.end}}</span>
                  </div>
                  <div class="scheduler__playlist__title">{{playlist.title}}</div>
                </div>
                <div class="scheduler__playlist scheduler__playlist--announce" @click="editAnnounce(announce)" :key="`announce_${$index2}`" v-for="(announce, $index2) in getAnnouncesForDay(day)" :style="announce._style">
                  <div class="scheduler__playlist__dates" v-if="announce._formattedDates">
                    <span class="scheduler__playlist__date">{{announce._formattedDates.start}}</span> - <span class="scheduler__playlist__date">{{announce._formattedDates.end}}</span>
                  </div>
                  <div class="scheduler__playlist__title">{{announce.title}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scheduler__classic-view" v-else>
        {{schedule}}
      </div>
        <div class="box box--with-header scheduler__videos-manager-outer">
          <div class="box__footer">
            <div class="scheduler__videos-manager__header-inner">
              <div class="scheduler__videos-manager__dates">
                <m-btn flat icononly icon="chevron_left" @click="changeWeek(-1)" />
                <span class="scheduler__videos-manager__dates__week">{{currentWeekIntervalText}}</span>
                <m-btn flat icononly icon="chevron_right" @click="changeWeek(1)" />
              </div>
              <div class="buttons-list">
                <m-btn flat @click="timetableView = !timetableView">{{timetableView ? $t('scheduler.classic_view') : $t('scheduler.timetable_view')}}</m-btn>
                <m-btn v-if="canAddAnnounces" @click="openAnnouncePanel" class="btn--green" icon="add_box">{{$t('scheduler.add_stream_announce')}}</m-btn>
                <m-btn v-if="canAddPlaylists" @click="openPlaylistPanel" icon="playlist_add_check">{{$t('scheduler.add_autopilot_playlist')}}</m-btn>
              </div>
            </div>
          </div>
          <!--<div class="box__inner scheduler__videos-manager-container">
            <VideosManager :canAdd="false" :filterServerOnly="true" :channel="channel" />
          </div>-->
        </div>

      <m-modal v-model="addAnnouncePanel.visible">
          <div class="scheduler__announce-panel">
            <div class="scheduler__announce-panel__inputs">
              <m-response :data="addAnnouncePanel.response" />
              <div class="row row--centered">
                <div class="col">
                  <div class="modal__input-container">
                    <m-datetime autoSize :title="$t('scheduler.announces.time')" v-model="addAnnouncePanel.data.time" :errors="addAnnouncePanel.errors.time" />
                  </div>
                </div>
                <div class="col">
                  <div class="modal__input-container">
                    <m-input autoSize type="number" :min="1" :max="1440" :title="$t('scheduler.announces.length')" :errors="addAnnouncePanel.errors.length" v-model="addAnnouncePanel.data.length" />
                  </div>
                </div>
              </div>
              <div class="modal__input-container">
                <m-input autoSize :title="$t('scheduler.announces.title')" v-model="addAnnouncePanel.data.title" :errors="addAnnouncePanel.errors.title" />
              </div>
              <div class="modal__input-container">
                <m-input type="textarea" :title="$t('scheduler.announces.description')" v-model="addAnnouncePanel.data.description" :errors="addAnnouncePanel.errors.description" />
              </div>
              <div class="row row--centered">
                <div class="col" v-if="isChannelAdmin">
                  <div class="modal__input-container" >
                    <m-select :showEmptyVariant="false" :title="$t('scheduler.announces.user')" :options="broadcastingUsers" v-model="addAnnouncePanel.data.user_id" :errors="addAnnouncePanel.errors.user_id"  />
                  </div>
                </div>
                <div class="col">
                  <div class="modal__input-container">
                    <m-tags-input single v-model="addAnnouncePanel.data.tags" :title="$t('scheduler.announces.tags')" />
                  </div>
                </div>
              </div>
              <div class="row row--centered">
                <div class="col">
                  <div class="modal__input-container">
                    <m-filepicker :title="$t('scheduler.announces.picture')" :data="addAnnouncePanel.coverData" class="filepicker--video-cover" folder="announces" v-model="addAnnouncePanel.data.cover" />
                  </div>
                </div>
                <div class="col">
                  <div class="modal__input-container">
                    <m-select :showEmptyVariant="false" :title="$t('scheduler.announces.project')" :options="projectsList" v-model="addAnnouncePanel.data.project_id" :errors="addAnnouncePanel.errors.project_id"  />
                  </div>
                  <div class="modal__input-container">
                    <m-checkbox :title="$t('scheduler.announces.need_to_record')" v-model="addAnnouncePanel.data.need_to_record" />
                  </div>
                </div>
              </div>
            </div>
            <div class="modal__buttons" slot="buttons">
              <div class="buttons-list">
                <m-btn :loading="addAnnouncePanel.isLoading" @click="saveAnnounce()">{{addAnnouncePanel.isEditing? $t('global.save') : $t('global.add')}}</m-btn>
                <m-btn flat @click="addAnnouncePanel.visible = false">{{$t('global.cancel')}}</m-btn>
              </div>
            </div>
          </div>
        </m-modal>
        <m-modal class="scheduler__playlist-contents" v-model="playlistPanel.visible" v-if="currentPlaylist">
          <playlistEditor @saved="onPlaylistSaved" @deleted="onPlaylistDeleted" :channel="channel" v-model="currentPlaylist"/>
        </m-modal>
    </div>
    <m-error-page v-else :data="error" />
  </div>
</template>

<script>
  import moment from 'moment';
  import getReadableTime from '~/functions/getReadableTime.js';
  import { getTime, getFullDate, getDate } from '~/functions/dates.js';
  import ResizableRow from '@/components/elements/resizable/ResizableRow';
  import ResizableRowChild from '@/components/elements/resizable/ResizableRowChild';
  import ResizableRowBar from '@/components/elements/resizable/ResizableRowBar';
  import VideosManager from '@/components/blocks/dashboard/VideosManager';
  import playlistPickerAdvanced from '@/components/blocks/scheduler/PlaylistPickerAdvanced';
  import playlistEditor from '@/components/blocks/scheduler/PlaylistEditor';

  let defaultAnnounceData = {
    length: 30,
    time: Math.floor(new Date().getTime() / 1000),
    title: '',
    description: '',
    user_id: null,
    cover: null,
    tags: [],
  };

  export default {
    middleware: 'auth',
    head () {
      return {
        title: this.$t('scheduler._title'),
      }
    },
    beforeDestroy() {
      if (this.$dragula.$service.drakes.main) {
        delete this.$dragula.$service.drakes.main;
      }
    },
    created() {
     // return null;
      const service = this.$dragula.$service;
      service.eventBus.$on('drop', (args) => {
        const sourceIsVideosList = args.source.classList.contains('videos-manager__items');
        const targetIsVideosList = args.container.classList.contains('videos-manager__items');
        const el = args.el;
        if (sourceIsVideosList && !targetIsVideosList) {
          const index = el.parentElement ? Array.prototype.indexOf.call(el.parentElement.children, el) : 0;
          const videoData = JSON.parse(el.dataset.info);
         // console.log(videoData);
          if (el.parentNode) {
            el.parentNode.removeChild(el);
          }
          if (videoData.is_folder) {
            this.setFolderData(videoData);
          }
          ///return {
          //  video_id: item.id,
          //  length: item.length,
          //  title: item.title,
          //};
        }
      });
      service.options('main', {
        copy: function(el,source) {
          const sourceIsVideosList = source.classList.contains('videos-manager__items');
          return sourceIsVideosList;
        },
        accepts: function (el, target, source, sibling) {

          const sourceIsVideosList = source.classList.contains('videos-manager__items');
          const targetIsVideosList = target.classList.contains('videos-manager__items');
     //     console.log(target.classList, source.classList, sourceIsVideosList, targetIsVideosList);
          if (sourceIsVideosList && !targetIsVideosList) {
            return true;
          }
          if (!sourceIsVideosList && !targetIsVideosList) {
            return true;
          }
          return false;
        },
        revertOnSpill: true
      })
    },
    watch: {
      timetableView(newView) {
        localStorage.scheduler_timetable_view = newView;
      }
    },
    computed: {
      projectsList() {
        let data = this.projects.map(project => {
          return {
            name: project.name,
            value: project.id
          }
        });
        data.unshift({
          name: '...',
          value: null
        })
        return data;
      },
      canAddPlaylists() {
        let canAdd = false;
        ['channel_admin', 'admin', 'owner', 'autopilot'].forEach(key => {
          if (this.rights.indexOf(key) !== -1) {
            canAdd = true;
          }
        });
        return canAdd;
      },
      canAddAnnounces() {
        let canAdd = false;
        ['channel_admin', 'admin', 'owner', 'live_broadcast'].forEach(key => {
          if (this.rights.indexOf(key) !== -1) {
            canAdd = true;
          }
        });
        return canAdd;
      },
      showEditPanel() {
        return this.currentPlaylist || this.addAnnouncePanel.visible;
      },
      isChannelAdmin() {
        let isAdmin = false;
        ['channel_admin', 'admin', 'owner'].forEach(key => {
          if (this.rights.indexOf(key) !== -1) {
            isAdmin = true;
          }
        });
        return isAdmin;
      },
      getHours() {
        let hours = [];
        for (let i = 0; i < 24; i++) {
          hours.push({
            num: i,
            text: (i<10 ? '0' + i : i)+':00'
          })
        }
        return hours;
      }
    },
    methods: {
      onHoursResizeMousewheel(e) {
        this.timetableHeight += e.deltaY / 20;
        this.onResize();
      },
      onHoursResize(e) {
        const startY = e.clientY;
        let startPos = this.timetableTop;
        const onMouseMove = (e) => {
          const diff = startY - e.clientY;
          this.timetableTop = startPos - diff;
        };
        onMouseMove(e);
        window.addEventListener('mousemove', onMouseMove)
        window.addEventListener('mouseup', () => {
          window.removeEventListener('mousemove', onMouseMove);
        })
      },
      onPlaylistDeleted({id}) {
        this.playlistPanel.visible = false;
        this.schedule.playlists = this.schedule.playlists.filter(playlist => playlist.id !== id);
        this.setPlaylistsForDays();
      },
      onPlaylistSaved({isEditing, playlist}) {
        this.playlistPanel.visible = false;
        if (!isEditing) {
          this.schedule.playlists.push(playlist);
        } else {
          this.schedule.playlists.forEach((playlistItem, index) => {
            if (playlist.id === playlistItem.id) {
              this.$set(this.schedule.playlists, index, playlist);
            }
          })
        }
        this.setPlaylistsForDays();
      },
      async setFolderData(folder) {
        let data = {};

        if (!folder.is_project) {
          data.folder_id = folder.video_folder_id;
        } else {
         data.project_id = -1 * folder.video_folder_id;
        }
        let res = (await this.$axios.post(`videos/filemanager/${this.channel.id}`, data)).data;
        if (res.status) {
          let folderData = this.currentPlaylist.items.filter(item => item.video_folder_id === folder.video_folder_id)[0];
          if (folderData) {
            this.$set(folderData, 'items', res.data.videos.filter(video => video.is_on_server).map(video => { //
              return {
                video_id: video.id,
                title: video.title,
                length: video.length
              };
            }));
            let ref = this.$refs['folder' + folder.video_folder_id];
            if (ref && ref[0]) {
              ref = ref[0];
            }
            this.$dragula.$service.drakes.main.models.push({
              container: ref,
              model: folderData.items,
            });
          }
        }
      },
      setDays() {
        let date = this.currentWeekStart;
        let endDate = moment(date).add(7, 'day');
        this.currentWeekIntervalText = date.format('D.M.YY')+' - '+endDate.format('D.M.YY');
        this.days = [];
        for (let i = 0; i <= 6; i++) {
          let date = moment(this.currentWeekStart).add(i, 'day');
          let day = {
            text: getDate(date.toDate()),
            ts: date.startOf('day').unix(),
          };
          this.days.push(day);
        }
        this.setPlaylistsForDays();
      },
      changeWeek(index) {
        this.currentWeekStart.add(7 * index, 'day');
        this.setDays();
      },

      onResize() {
        let rect = this.$refs.hoursList.getBoundingClientRect();
        if (rect.width > 1000) {
          this.hoursListClass = '';
        } else {
          this.hoursListClass = 'scheduler__hours__list--small';
        }
      },
      editAnnounce(announce) {
        if (this.canAddAnnounces) {
          this.addAnnouncePanel.isEditing = true;
          let data = JSON.parse(JSON.stringify(announce));
          if (announce.pictures_data && announce.pictures_data.cover) {
            this.addAnnouncePanel.coverData = announce.pictures_data.cover;
            data.cover = announce.pictures_data.cover.id;
          }
          this.addAnnouncePanel.data = data;
          this.addAnnouncePanel.visible = true;
        }
      },
      openPlaylistPanel() {
        let playlist = {
          time_start: moment().unix() + 60,
          items: [],
          data: {
            type: 'default',
            playback_type: 'default',
            cycled: {
              status: false,
            }
          }
        };
        this.schedule.playlists.push(playlist);
        this.currentPlaylist = playlist;
        this.playlistPanel.visible = true;
        this.$nextTick(() => {
          this.onResize();
        })
      },
      openAnnouncePanel() {
        this.addAnnouncePanel.isEditing = false;
        this.addAnnouncePanel.data = JSON.parse(JSON.stringify(defaultAnnounceData));
        this.addAnnouncePanel.visible = true;
      },
      saveAnnounce() {
        this.addAnnouncePanel.isLoading = true;
        let data = this.addAnnouncePanel.data;
        data.channel_id = this.channel.id;
        this.$axios({
          method: this.addAnnouncePanel.isEditing ? 'PUT' : 'POST',
          url: this.addAnnouncePanel.isEditing ? `timetable/announces/${this.addAnnouncePanel.data.id}` : `timetable/announces`,
          data
        }).then(res => {
          this.addAnnouncePanel.response = res.data;
          this.addAnnouncePanel.isLoading = false;
          if (res.data.status) {
            if (this.addAnnouncePanel.isEditing) {
              this.schedule.announces = this.schedule.announces.filter(announce => announce.id !== res.data.data.announce.id);
            }
            this.schedule.announces.unshift(res.data.data.announce);
            this.$store.commit('NEW_ALERT', res.data);
            this.addAnnouncePanel.errors = {};
            this.addAnnouncePanel.visible = false;
            this.addAnnouncePanel.response = null;
          } else {
            this.addAnnouncePanel.errors = res.data.errors || {};
          }

        })
      },
      getTime(item, index) {
        if (!this.showItemDates) {
          if (item.is_folder) {
            let length = 0;
            if (item.items) {
              item.items.forEach(video => {
                if (video && video.length) {
                  length += parseInt(video.length);
                }
              })
            }
            return getReadableTime(length);
          }
          return getReadableTime(item.length);
        }
        return "";
      },
      editPlaylist(playlist) {
        this.currentPlaylist = JSON.parse(JSON.stringify(playlist));
        if (!this.currentPlaylist.data.type) {
          this.currentPlaylist.data.type = 'default';
        }
        this.playlistPanel.visible = true;
      },
      getPlaylistEnd(playlist) {
        if (playlist.data.cycled.status) {
          return playlist.data.cycled.till;
        }
        let time = parseInt(playlist.data.time_start);
        playlist.items.forEach(item => {
          if (item) {
            if (item.length) {
              time += parseInt(item.length);
            } else {
              if (item.is_folder && item.items) {
                item.items.forEach(folderItem => {
                  time += parseInt(folderItem.length);
                })
              }
            }
          }
        });

        return time;
      },
      getAnnouncesForDay(day) {
        const seconds = 86400;
        let dayStart = day.ts;
        let dayEnd = day.ts + seconds;
        let announces = [];
        const list = JSON.parse(JSON.stringify(this.schedule.announces));
        list.forEach(announce => {
          const start = announce.time;
          const end = announce.time + (announce.length * 60);
          announce._formattedDates = {
            start: getTime(start),
            end: getTime(end)
          };
          if (start < dayEnd && end > dayStart) {
            let left = 0;
            if (start < dayEnd && start > dayStart) {
              left = ((start - dayStart) / seconds * 100);
            }
            let height = 100 - left;
            if (end < dayEnd && end > dayStart) {
              height = ((end - start) / seconds * 100);
            }
            announce._style = {
              top: left + '%',
              height: `calc(${height}% - .25em)`
            };
            announces.push(announce);
          }
        });
        return announces;
      },
      getMinutesFromText(text) {
        if (!text) {
          return false;
        }
        let splitted = text.split(":");
        return parseInt(splitted[0]) * 60 + parseInt(splitted[1]);
      },
      getRandomLength(playlist) {
        let length = 0 ;
        for (let i = 0; i < playlist.extended_data.playback_limit.value; i++) {
          let randomItem = playlist.items[Math.floor(Math.random() * playlist.items.length)];
          length += parseInt(randomItem.length);
        }
        return length;
      },
      setPlaylistsForDays() {
        let playlistsForDays = {};
        this.days.forEach((day, index) => {
          playlistsForDays[index] = [];
        });
        const seconds = 86400;
        const list = JSON.parse(JSON.stringify(this.schedule.playlists));
        let aroundTheClockPlaylist = list.filter(playlist => playlist && playlist.extended_data && playlist.extended_data.playback_type === "around_the_clock")[0];
        this.days.forEach((day, index) => {
          let dayIndex = (new Date(day.ts * 1000)).getDay() + 1;
          let dayStart = day.ts;
          let dayEnd = day.ts + seconds;
          list.forEach(playlistItem => {
            if (playlistItem && playlistItem.data && playlistItem.extended_data) {
              let playlist = JSON.parse(JSON.stringify(playlistItem));
              if (playlist.extended_data.playback_type !== "around_the_clock") {
                let start = null;
                let end = null;
                let startMinutes = null;
                let endMinutes = null;
                if (playlist.extended_data.playback_type === "default") {
                  start = playlist.time_start || playlist.data.time_start;
                } else {
                  if (playlist.extended_data.playback_type === "repeating" && playlist.extended_data.playback_days[dayIndex]) { //
                    startMinutes = this.getMinutesFromText(playlist.extended_data.playback_time_start);
                    if (startMinutes === false) {
                      console.log(playlist);
                    }
                    start = dayStart + startMinutes * 60;
                  }
                }
                if (start) {
                  if (playlist.extended_data.type === "default") {
                    end = this.getPlaylistEnd(playlist);
                    if (playlist.extended_data.playback_type === "repeating") {
                      end = dayStart + startMinutes * 60 + end;
                    }
                  } else {
                    if (playlist.extended_data.playback_limit.type === "by_time") {
                      endMinutes = this.getMinutesFromText(playlist.extended_data.playback_limit.value);
                    } else {
                      if (playlist.extended_data.playback_limit.type === "by_number") {
                        if (!playlist._randomLength) {
                          playlist._randomLength = this.getRandomLength(playlist);
                        }
                        if (playlist.extended_data.playback_type === "default") {
                          end = start + playlist._randomLength;
                        } else {
                          endMinutes = startMinutes + Math.floor(playlist._randomLength / 60);
                        }
                      } else {
                        if (playlist.extended_data.playback_limit.type === "by_minutes") {
                          if (playlist.extended_data.playback_type === "default") {
                            end = start + Math.floor(parseInt(playlist.extended_data.playback_limit.value) / 60);
                          } else {
                            endMinutes = startMinutes + parseInt(playlist.extended_data.playback_limit.value);
                          }
                        } else {
                          if (playlist.extended_data.playback_limit.type === "by_date") {
                            end = parseInt(playlist.extended_data.playback_limit.value);
                          }
                        }
                      }
                    }
                    if (endMinutes) {
                      end = dayStart + endMinutes * 60;
                    }
                  }

                  if (start && end) {
                    if (start <= dayEnd && end >= dayStart && start >= dayStart) {
                      let top = 0;
                      let startSeconds = 0;
                      if (start < dayEnd && start > dayStart) {
                        startSeconds = start - dayStart;
                        top = ((startSeconds) / seconds * 100);
                      }
                      let endSeconds = seconds;
                      let width = 100 - top;

                      if (end < dayEnd && end > dayStart) {
                        endSeconds = (end - dayStart);
                        width = ((endSeconds) / seconds * 100) - top;
                      } else {
                        let additionalEndSeconds = end - dayStart - seconds;
                        let additionalWidth = additionalEndSeconds / seconds * 100;
                        let additionalPlaylist = JSON.parse(JSON.stringify(playlist));
                        additionalPlaylist._style = {
                          top: '0',
                          height: `calc(${additionalWidth}% - .25em)`,
                        };
                        if (playlist.extended_data.color) {
                          additionalPlaylist._style.backgroundColor = playlist.extended_data.color;
                        }
                        if (playlistsForDays[index + 1]) {
                          additionalPlaylist._times = {
                            start: 0,
                            end: additionalEndSeconds
                          };
                          playlistsForDays[index + 1].push(additionalPlaylist);
                        }
                      }
                      playlist._formattedDates = {
                        start: getTime(dayStart + startSeconds),
                        end: getTime(dayStart + endSeconds)
                      };

                      playlist._times = {
                        start: startSeconds,
                        end: endSeconds
                      };
                      playlist._style = {
                        top: top + '%',
                        height: `calc(${width}% - .25em)`,
                      };
                      //console.log(playlist.extended_data);
                      if (playlist.extended_data.color) {
                        playlist._style.backgroundColor = playlist.extended_data.color;
                      }
                      playlistsForDays[index].push(playlist);
                    }
                  }
                }
              }
            }
          });
        });
        if (aroundTheClockPlaylist) {
          Object.keys(playlistsForDays).forEach(key => {
            playlistsForDays[key] = playlistsForDays[key].sort((a, b) => {
              if (a._times.start < b._times.start) {
                return -1;
              }
              if (a._times.start > b._times.start) {
                return 1;
              }
              return 0;
            })
            let aroundTheClockIntervals = [];
            if (playlistsForDays[key].length > 0) {
              if (playlistsForDays[key][0]._times.start !== 0) {
                aroundTheClockIntervals.push({
                  start: 0,
                  end: playlistsForDays[key][0]._times.start
                });
              }
              for (let i = 0; i < playlistsForDays[key].length - 1; i++) {
                if (playlistsForDays[key][i]._times.end !== playlistsForDays[key][i + 1]._times.start) {
                  aroundTheClockIntervals.push({
                    start: playlistsForDays[key][i]._times.end,
                    end: playlistsForDays[key][i + 1]._times.start
                  })
                }
              }
              if (playlistsForDays[key][playlistsForDays[key].length - 1]._times.end !== seconds) {
                aroundTheClockIntervals.push({
                  start: playlistsForDays[key][playlistsForDays[key].length - 1]._times.end,
                  end: seconds
                });
              }
            } else {
              aroundTheClockIntervals.push({start: 0, end: seconds});
            }
            aroundTheClockIntervals.forEach(interval => {
              let playlist = JSON.parse(JSON.stringify(aroundTheClockPlaylist));
              playlist._times = interval;
              let height = ((interval.end - interval.start) / seconds) * 100;
              playlist._formattedDates = {
                start: getTime((this.days[key].ts + interval.start)),
                end: getTime((this.days[key].ts + interval.end))
              };
              playlist._style = {
                background: '#ccc',
                top: interval.start / seconds * 100 + '%',
                height: `calc(${height}% - .25em)`,
              };
              playlistsForDays[key].push(playlist);
            })
          });
        }
        this.playlistsForDays = playlistsForDays;
      }
    },
    async mounted() {
      if (!this.error) {
        this.setDays();
        this.onResize();
        this.projects = (await this.$axios.post(`/projects/getbychannel/${this.channel.id}`)).data.list.data;
        if (this.isChannelAdmin) {
          let team = (await this.$axios.post(`/channels/${this.channel.id}/team/get`, {
            types: ['channel_admin', 'admin', 'owner', 'broadcaster']
          })).data.list;
          let users = team.filter(item => item.user_id !== this.$store.state.userData.id).map(item => {
            return {
              name: item.username,
              value: item.user_id
            }
          });
          users.unshift({
            name: `${this.$t('scheduler.you')} (${this.$store.state.userData.username})`,
            value: this.$store.state.userData.id
          });
          this.broadcastingUsers = users;
        }
      }
    },
    data() {
      return {
        timetableView: localStorage.scheduler_timetable_view === "true" || true,
        projects: [],
        playlistsForDays: {

        },
        playlistPanel: {
          visible: false
        },
        currentWeekIntervalText: '',
        timetableTop: 0,
        timetableHeight: 100,
        hoursListClass: '',
        showItemDates: false,
        currentPlaylist: null,
        days: [],
        broadcastingUsers: [],
        addAnnouncePanel: {
          response: null,
          visible: false,
          isLoading: false,
          isEditing: false,
          data: defaultAnnounceData,
          coverData: null,
          errors: {

          }
        },

        currentWeekStart: moment()
      }
    },
    async asyncData({app,params}) {
      let channelData = (await app.$axios.get(`/channels/${params.id}?do_not_count_stat=1`)).data;
      if (channelData.status && !channelData.data.is_radio) {
        let channel = channelData.data;
        let id = params.id;
        let rights = (await app.$axios.post(`/channels/${params.id}/getrights`)).data;
        if (rights.length > 0) {
          let schedule = (await app.$axios.get(`/timetable/getbychannel/${params.id}/all`)).data;
          if (schedule.status) {
            return {
              error: false,
              schedule: schedule.data,
              channel,
              id,
              rights
            };
          } else {
            return {
              error: schedule
            };
          }
        } else {
          return {
            error: {
              text: 'errors.403'
            }
          };
        }
      } else {
        return {
          error:
            {
              text: 'errors.404'
            }
        };
      }
    },
    components: {
      playlistEditor,
      playlistPickerAdvanced,
      VideosManager,
      ResizableRow,
      ResizableRowChild,
      ResizableRowBar,
    }
  }
</script>
<style lang="scss">
  .scheduler {
    &__container {
      height: 100%;
    }
    &__outer {
      height: 100%;
    }
    &__inner {
      height: 100%;
    }
    &__hours {
      user-select: none;
      margin: 2em 0 0;
      height: 100%;
      &__list {
        position: relative;
        display: flex;
        flex-direction: column;
        height: calc(100% - 2em);
        justify-content: space-around;
      }
    }

    &__hour {
      font-size: .75em;
      padding: .5em 2em;
      flex: 1;
      text-align: center;
      position: relative;
      &:after {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        left: 0;
        background: rgba(255, 255, 255, 0.1);
        position: absolute;
        top: 0;
      }
    }
    &__hours__list--small &__hour:nth-of-type(2n) {
      display: none;
    }
    &__days {
      overflow: hidden;
      display: flex;
      flex-direction: row;
      flex: 1;
    }
    &__day {
      display: flex;
      flex-direction: column;
      flex: 1;
      &__text {
        text-align: center;
        padding: .5em 1em;
        font-size: .875em;
        background: var(--box-color);
      }
      &__playlists {
        flex: 1;
        position: relative;
      }
    }

    &__playlist {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      position: absolute;
      margin: .25em;
      width: calc(100% - .25em);
      box-sizing: border-box;
      line-height: .85;
      background: var(--active-color);
      min-height: 1em;
      &__dates {
        padding: .5em;
        font-size: .65em;
        text-align: center;
        background: #ffffff4a;
        color: #000;
        font-weight: 500;
      }
      &--announce {
        background: var(--green);
      }
      &:hover {
        box-shadow: 0 0 1em rgba(255, 255, 255, .5);
      }
    }
    &__timetable-container {
      display: flex;
      height: calc(100% - 3em);
      &__outer {
        max-height: calc(100% - 3em);
        overflow: hidden;
        height: 100%;
        flex: 1;
      }
    }
    &__videos-manager {
      &-outer {
        height: 100%;
        overflow: hidden;
      }
      &-container {
        padding: .5em .5em 2.25em!important;
        height: calc(100% - 5.25em);
        overflow: hidden;
        .videos-manager__inner {
          margin: -1em -.5em;
        }
        .videos-manager__item {
          padding: .25em;
          &__title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &__top {
            height: 5em;
          }
          &__outer {
            width: calc(100% / 5);
          }
        }
      }
      &__header-inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &__dates {
        display: flex;
        align-items: center;
        &__week {
          white-space: nowrap;
          font-size: .875em;
          background: rgba(0, 0, 0, .25);
          padding: .5em 1em;
          border-radius: .35em;
          margin: 0 .5em;
          font-weight: 500;
        }
      }
    }



    &__playlist-contents {
      .select {
        margin: 1.5em 0;
      }
      &__footer {
        &__buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
      &__items {
        flex: 1;
        overflow: auto;
        margin: .25em 0 0;
      }
      &__types {
        margin: 1em 0 1.25em;
        font-size: 1.25em;
      }
      &__header {

      }
      &__items-button {
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 1em;
        margin: 1em 0;
        cursor: pointer;
        font-size: 1.25em;
        &:hover {
          background: rgba(255, 255, 255, 0.05);
        }
      }
      &__item {
        &__folder {
          background: var(--title-box-color);
          padding: .5em;
        }
        &__inner {
          padding: .5em;
          background: var(--box-color);
          margin: .25em;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        &__title {
          margin: 0 .5em 0 0;
          max-width: 75%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &__time {
          font-weight: 500;
          font-size: .875em;
          margin: 0 .5em 0 0;
          line-height: 0;
        }
        &__left {
          max-width: calc(100% - 5.5em);
          flex: 1;
          display: flex;
          align-items: center;
        }
        &__right {
          display: flex;
          align-items: center;
        }

        &__button {
          margin: 0 0 0 .5em;
          cursor: pointer;
          opacity: .75;
          transition: all .35s;
          &:hover {
            opacity: 1;
          }
        }
      }
      &__footer {

      }
    }
   &__announce-panel {

   }
  }

</style>
