<template>
  <div class="dashboard__files-list__outer">
    <!--<PlaylistPanel class="modal-panel--right" :class="{'modal-panel--visible':panelsVisible.playlists}" @edit="editPlaylist" @newplaylist="addPlaylist" @close="panelsVisible.playlists = false" :channel="channel" :data="currentEditing.playlist" />-->
    <TrackModal :isInPublicFolder="currentFolder && currentFolder.is_public" :data="trackEditPanel.data" @editTrack="editTrack" v-model="trackEditPanel.visible" v-if="trackEditPanel.visible" />
    <FolderModal @newfolder="newFolder" @editfolder="editFolder" :folderId="currentFolderId" :channel="channel" v-model="addFolder"  />
    <m-modal v-model="moveToFolderPanel.visible">
      <div slot="main">
        <div class="modal__text">{{$t('dashboard.tracks.move_to_folder_text')}}</div>
        <div class="modal__input-container">
          <m-select :showEmptyVariant="false" :options="foldersToMoveTo" v-model="moveToFolderPanel.id" />
        </div>
      </div>
      <div class="modal__buttons" slot="buttons">
        <div class="buttons-list">
           <m-btn @click="moveToFolderPanel.visible = false; moveToFolder()">{{$t('global.ok')}}</m-btn>
           <m-btn class="btn--delete" @click="moveToFolderPanel.visible = false;">{{$t('global.cancel')}}</m-btn>
        </div>
      </div>
    </m-modal>

    <m-modal v-if="playlistToDelete.data" :showCloseButton="false" :header="$t('dashboard.tracks.playlists.delete_playlist._title')">
      <div slot="main">
        <div class="modal__text">{{$t('dashboard.tracks.playlists.delete_playlist._text')}}</div>
        <div class="modal__input-container">
          <m-select :placeholder="$t('dashboard.tracks.playlists.delete_playlist.action')" :options="deletePlaylistActions" v-model="playlistToDelete.action" />
        </div>
        <div class="modal__input-container">
          <m-select v-if="playlistToDelete.action === 1" :placeholder="$t('dashboard.tracks.playlists.delete_playlist.move_to')" :options="deletePlaylistMoveTo" v-model="playlistToDelete.move_to" />
        </div>
      </div>
      <div class="modal__buttons" slot="buttons">
        <div class="buttons-list">
          <m-btn :loading="playlistToDelete.loading" @click="deletePlaylist()">{{$t('global.ok')}}</m-btn>
          <m-btn class="btn--delete" @click="playlistToDelete.data = null;">{{$t('global.cancel')}}</m-btn>
        </div>
      </div>
    </m-modal>

    <m-modal v-if="folderToDelete.data" :showCloseButton="false" :header="$t('dashboard.tracks.delete_folder._title')">
      <div slot="main">
        <div class="modal__text">{{$t('dashboard.tracks.delete_folder._text')}}</div>
        <div class="modal__input-container">
          <m-select :placeholder="$t('dashboard.tracks.delete_folder.action')" :options="deleteFolderActions" v-model="folderToDelete.action" />
        </div>
        <div class="modal__input-container">
          <m-select v-if="folderToDelete.action === 1" :placeholder="$t('dashboard.tracks.delete_folder.move_to')" :options="deleteFolderMoveTo" v-model="folderToDelete.move_to" />
        </div>
      </div>
      <div class="modal__buttons" slot="buttons">
        <div class="buttons-list">
          <m-btn :loading="folderToDelete.loading" flat @click="deleteFolder()">{{$t('global.ok')}}</m-btn>
          <m-btn class="btn--delete" @click="folderToDelete.data = null;">{{$t('global.cancel')}}</m-btn>
        </div>
      </div>
    </m-modal>

    <m-modal autoSize v-if="filesWithNameConflict.length>0" :showCloseButton="false" :header="$t('dashboard.tracks.file_conflicts._title')">
      <div slot="main">
        <div class="modal__files-list">
          <div :key="item.title" class="modal__files-list__item" v-for="item in filesWithNameConflict">
            <span class="modal__files-list__item__title">{{item.title}}</span>
            <div class="modal__files-list__item__buttons">
              <m-btn flat @click="conflictSkipFile(item)">{{$t('dashboard.tracks.file_conflicts.skip')}}</m-btn>
              <m-btn flat @click="conflictRewriteFile(item)">{{$t('dashboard.tracks.file_conflicts.rewrite')}}</m-btn>
              <m-btn flat @click="conflictKeepBoth(item)">{{$t('dashboard.tracks.file_conflicts.keep_both')}}</m-btn>
            </div>
          </div>
        </div>
      </div>
      <div class="modal__buttons" slot="buttons">
        <m-btn flat @click="conflictSkipFileAll()">{{$t('dashboard.tracks.file_conflicts.skip_all')}}</m-btn>
        <m-btn flat @click="conflictRewriteFileAll()">{{$t('dashboard.tracks.file_conflicts.rewrite_all')}}</m-btn>
        <m-btn flat @click="conflictKeepBothAll()">{{$t('dashboard.tracks.file_conflicts.keep_both_all')}}</m-btn>
      </div>
    </m-modal>



    <div class="dashboard-page__title">
      <span class="dashboard-page__title__content">{{$t('dashboard.tracks._title')}}</span>
      <div class="dashboard-page__title__buttons">
        <div class="buttons-list" >
          <m-btn @click="openFilePicker()" icon="queue_music" class="btn--green">{{$t('dashboard.tracks.add_files_button')}}</m-btn>
          <m-btn @click="addFolder.visible = true" icon="folder_special" >{{$t('dashboard.tracks.add_folder_button')}}</m-btn>
        </div>
      </div>
    </div>
    <div class="dashboard-page__main-content" ref="main">
	    <input @change="onFileInputChange" type="file" style="display:none" multiple ref="fileInput"/>
      <div class="dashboard__files-list" @drop="onDrop" @dragover.prevent="onDragStatusChange(true)" @dragleave="onDragStatusChange(false)">
        <div v-show="isDragging" class="dashboard__files-list__dragover-panel">
          <div class="dashboard__files-list__dragover-panel__title">{{$t('dashboard.tracks.dragover_title')}}</div>
        </div>

        <div class="dashboard__files-list__main">
          <div class="dashboard__files-list__search">
            <m-input :title="$t('dashboard.tracks.search')" @change="goSearch()" hidePlaceholder :loading="search.loading" v-model="search.input" icon="search" />
          </div>
          <div class="dashboard__files-list__table-container">
            <div class="page-preloader" v-show="isLoading">
              <m-preloader />
            </div>
            <div class="dashboard__files-list__table dashboard__files-list__table--main">
              <div class="dashboard__files-list__table__item"  :data-info="JSON.stringify({inPlaylist:false,index:$index,track:track})" :class="{'dashboard__files-list__table__item--selected': track._selected,'dashboard__files-list__table__item--folder':track.is_folder}" :key="track.id" v-for="(track,$index) in tracksList">
                <div class="dashboard__files-list__table__col dashboard__files-list__table__col--icons">
                  <div v-show="!track.is_folder" class="dashboard__files-list__info__checkbox">
                    <m-checkbox v-model="track._selected" @click="selectTrack(track,true)" />
                  </div>
                  <div v-if="track._is_back_folder" class="dashboard__files-list__folder-icon-container">
                    <i class="material-icons">keyboard_backspace</i>
                  </div>
                  <div v-else-if="track.is_folder" class="dashboard__files-list__folder-icon-container">
                    <i class="material-icons">folder_open</i>
                  </div>
                </div>
                <div class="dashboard__files-list__table__col dashboard__files-list__table__col--main" @click="selectTrack(track,true)">
                  <div class="dashboard__files-list__info">
                    <span :style="{width:(track._uploadProgress * 100)+'%'}" v-if="track.upload_status === 'STATUS_UPLOADING'" class="dashboard__files-list__info__upload-progress"></span>
                    <div class="dashboard__files-list__info__inner">
                      <span class="dashboard__files-list__info__filename" v-if="track._is_back_folder">{{$t('dashboard.tracks._table.back_folder')}}</span>
                      <span class="dashboard__files-list__info__filename" v-else-if="track.is_folder">{{track.folder_title}}</span>
                      <div class="dashboard__files-list__info__block" v-else-if="track.title">
                        <span class="dashboard__files-list__info__title">{{track.title}}</span>
                        <span class="dashboard__files-list__info__artist">{{track.author}}</span>
                      </div>
                      <span class="dashboard__files-list__info__filename" v-else-if="track.filename">{{track.filename}}</span>
                    </div>
                  </div>
                </div>
                <div class="dashboard__files-list__table__col dashboard__files-list__table__col--actions">
                  <div class="dashboard__files-list__buttons" v-if="!track._is_back_folder">
                    <div class="buttons-list">
                      <m-btn @click="playTrack(track)" v-if="!track.is_folder && track.upload_status === 'STATUS_READY'" rounded icon="play_arrow" />
                      <m-btn flat rounded icon="edit" icononly @click="startEditingTrack(track)"></m-btn>
                      <m-btn flat rounded icon="delete" icononly @click="deleteTrack(track)"></m-btn>
                    </div>
                  </div>
                </div>
              </div>
              <div class="dashboard__files-list__pager" >
                <m-pager :data="tracks" v-model="currentPage" />
              </div>
            </div>
            <div class="dashboard__files-list__bottom-panel">
              <div class="dashboard__folder-size">
                <div class="dashboard__folder-size__occupied">{{bytesToGB(diskSpace.data.space_occupied)}}</div>
                <div class="dashboard__folder-size__bar">
                  <div :style="{width:(diskSpace.data.space_occupied/diskSpace.data.space_total*100)+'%'}" class="dashboard__folder-size__bar__occupied"></div>
                </div>
                <div class="dashboard__folder-size__total">{{bytesToGB(diskSpace.data.space_total)}}</div>
              </div>
              <div class="dashboard__files-list__buttons-lists-container">
                <div class="buttons-list">
                  <m-btn @click="reloadTracks()" flat icononly icon="refresh"></m-btn>
                  <m-btn @click="moveToFolderPanel.visible = true" v-if="selectedTracks.length>0" icon="folder">{{$t('dashboard.tracks.move_to_folder')}}</m-btn>
                  <m-btn v-if="selectedTracks.length>0" @click="batchAction('delete_finally')" icon="delete" class="btn--delete" >{{$t('global.delete')}}</m-btn>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  .dashboard {
  &__files-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    &__outer {
      /*
      .modal__input-container {
        padding: 1em 0;
      }

      .modal__input-container:last-of-type {
        padding: 1em 0 0;
      }*/
    }
    &__main {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: -1em;
      height: calc(100% + 2em);
      overflow: hidden;
    }
    &__search{
      margin: -1.25em 0 -1em;
    }
    &__select-all-container {
      display: inline-block;
      margin: -.45em .25em 0;
      position: relative;
      cursor: pointer;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }
    &__loading-bar {
      flex: 1;
      height: 1em;
      border-radius: 1em;
      background: #2f2f2f;
      margin: 0 0 0 .5em;
      overflow: hidden;
      &__inner {
        height: 100%;
        background: #4caf79;
        transition: all .5s;
      }
    }
    &__tracks{
      &__bottom-panel {
        background: #222;
        padding: .5em;
      }
    }

	&__playlists{
		margin: 0;
		min-width: 35%;
    height: calc(100% - .5em);
    position: relative;
		&__header {
			display: flex;
      justify-content: space-between;
			align-items: center;
			padding: .65em 1em;
			background: #222;
			margin: 0;
      &__left{
        display: flex;
        align-items: center;
      }
      &__right{
        display: flex;
        align-items: center;
      }
			&__text {
				font-size: 1.15em;
				margin: 0 .5em 0 0;
			}
		}
		&__items {
      overflow: auto;
			background: #444;
      height: calc(100% - 5.5em);
		}
    &__bottom-panel {
      background: #222;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: .5em;
      height: 1.5em;
      &__text {
        font-size: .875em;
        margin: 0 0 0 1em;
      }
    }
	}
  &__pager {
    font-size: .875em;
    position: absolute;
    bottom: 4em;
    right: 0;
    opacity: .75;
  }
	&__play-button-container {
		text-align: center;
    .btn-rounded{
      width:2em;
      height:2em;
      .btn__content{
        padding:0;
      }
    }
	}
  &__buttons-lists-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .popup-menu-container {
      width: 100%;
    }
  }
	&__buttons {
    width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		text-align: center;
	}
	&__info {
    padding: .5em 1em .5em 0;
		margin: -1px;
		position: relative;
		cursor: pointer;
    height: 2.5em;
    display: flex;
    align-items: center;
    width: 100%;
		&__inner {
			display:flex;
			align-items:center;
			z-index: 1;
			position: relative;
		}
		&__upload-progress {
			background: repeating-linear-gradient(-45deg, #4caf79, #4caf79 10px, #1ea25a 10px, #1ea25a 20px);
      .theme-default & {
        box-shadow: 0 5px 25px -5px inset #383838;
      }
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			opacity: .5;
		}
		&__checkbox {

		}

		&__title {
			display: block;
			font-weight: 500;
		}

		&__artist {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
			font-size: .875em;
		}
	}
	&__table-outer {
		height: calc(100% - 3em);
		overflow: auto;
		background: #444;
	}

	&__table-container {
		position: relative;
		width: 100%;
		flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

	&__table {
		flex: 1;
    overflow: auto;
		&__col {
			transition: all .35s;
		}
		&__item{
      display:flex;
      align-items:center;
		}
    &__item:hover &__col{
      background: rgba(255, 255, 255, .05);
    }
    &__col {
      transition:all .35s;
      flex: 1;
      height: 3.5em;
      display: flex;
      align-items: center;
      &--icons {
        display:flex;
        align-items: center;
        justify-content: center;
        max-width: 3em;
      }
      &--main{
        cursor:pointer;
        max-width: calc(100% - 10em);
        overflow: hidden;
        &-only{
          max-width: 100%;
        }
      }
      &--actions{
        max-width:7em;
      }
    }
    &__item--selected &__col {
			background: rgba(255, 255, 255, .1);
		}
	}
  &__table__item--folder &__info{
    padding:0;
  }

  &__table-header {
		width:100%;
		background: var(--title-box-color);
    .theme-default & {
      box-shadow: 0 5px 15px -5px #000;
    }
		position:relative;
		height:3em;
		&__item  {
			position:absolute;
			display:inline-block;
			font-weight:500;
			padding:1em;
		}
	}
    &__bottom-panel {
      background: #2b2b2b;
      z-index: 1;
      .theme-default & {
        box-shadow: 0 -5px 35px -5px rgba(0, 0, 0, 0.35);
      }
      padding: .5em;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
	&__dragover-panel {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: stretch;
		justify-content: stretch;
		background: rgba(0, 0, 0, 0.55);
		z-index: 1000;
		&__title {
			font-size: 2em;
			margin: 1em;
			padding: 1em;
			width: 100%;
			border: .15em dashed #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 500;
		}
	}
	&__folder-icon-container {
		text-align: center;
		i {
			font-size: 1.5em;
		}
	}
  }
  &__folder-size {
    display: flex;
    align-items: center;
    font-size: .75em;
    white-space: nowrap;
    &__bar {
      width: 15em;
      height: 1em;
      background: #555;
      margin: 0 .5em;
      border-radius: 5em;
      overflow: hidden;
      &__occupied {
        height: 100%;
        background: #107fd0;
      }
    }
    &__occupied {
      font-size: 1.25em;
      font-weight: 500;
      word-break: break-all;
    }

    &__total {
      font-size: 1.25em;
      font-weight: 500;
      word-break: break-all;
    }
  }
}
</style>
<script>
import PlaylistModal from '@/components/blocks/dashboard/tracks/playlistModal';
import TrackModal from '@/components/blocks/dashboard/tracks/trackModal';
import FolderModal from '@/components/blocks/dashboard/tracks/folderModal';
import ResizableRow from '@/components/elements/resizable/ResizableRow';
import ResizableRowChild from '@/components/elements/resizable/ResizableRowChild';
import ResizableRowBar from '@/components/elements/resizable/ResizableRowBar';

async function asyncForEach(array, callback) {
  for (let index = 0; index < array.length; index++) {
    await callback(array[index], index, array)
  }
}

export default {
  head() {
    return {
      title: this.$t('dashboard.tracks._title')
    }
  },
  async asyncData({app,params}) {
    let diskSpace = (await app.$axios.post(`/channels/${params.id}/getdiskspace`)).data;
    let playlists = (await app.$axios.post(`/radioplaylists/getbychannel/${params.id}`)).data;
    let tracksData = (await app.$axios.post(`/tracks/getbychannel/${params.id}`)).data.data;
    let tracks = tracksData.list;
    let folders = tracksData.folders;
    let currentPlaylistId = -1;
    let foldersCache = {};
    foldersCache[-1] = folders;
    return {foldersCache, tracks, folders, diskSpace, playlists, currentPlaylistId};
  },
  components:{PlaylistModal, TrackModal, FolderModal,ResizableRow,ResizableRowChild,ResizableRowBar},
  props:{
    channel:{
      type:Object,
      required:true
    }
  },
  computed:{
     idsInPlaylist() {
       return this.playlistTracks.list.map(track=>track.id);
     },
     playlistsOptions(){
        return this.playlists.list.map(playlist=> {
          return {name: playlist.title, value: playlist.id};
        }
      );
    },
    foldersToMoveTo() {
      let folders = this.folders.filter(folder => folder.id !== this.currentFolderId).map(folder => {
        return {
          name: folder.folder_title,
          value: folder.id
        }
      });
      if (this.currentFolderId !== -1) {
        folders.push(
          {
            name: this.$t('dashboard.tracks.main_folder'),
            value: -1,
          }
        );
      }
      return folders;
    },
    playlistsToMoveTo() {
      let playlists = this.playlists.list.filter(playlist => playlist.id !== this.currentPlaylistId);
      return playlists;
    },
    deleteFolderMoveTo() {
      let moveVariants = this.folders.filter(folder => folder.id !== this.folderToDelete.data.id).map(folder=>{
        return {
          value:folder.id,
          name:folder.folder_title,
        }
      });
      moveVariants.unshift(
        {
          value: -1,
          name: this.$t('dashboard.tracks.main_folder')
        }
      );
      return moveVariants;
    },
		deletePlaylistMoveTo() {
			let moveVariants = this.playlists.list.filter(playlist=>playlist.id !== this.playlistToDelete.data.id).map(playlist=>{
				return {
					value:playlist.id,
					name:playlist.title
				}
			});
			return moveVariants;
		},
    deleteFolderActions() {
      let actions = [
        {value:0,name:this.$t('dashboard.tracks.delete_folder.with_tracks')},
      ];
      if (this.deleteFolderMoveTo.length > 0) {
        actions.push(
          {value:1,name:this.$t('dashboard.tracks.delete_folder.move_tracks')},
        );
      }
      return actions;
    },
		deletePlaylistActions() {
			let actions = [
				{value:0,name:this.$t('dashboard.tracks.playlists.delete_playlist.with_tracks')},
			];
			if (this.deletePlaylistMoveTo.length > 0) {
				actions.push(
					{value:1,name:this.$t('dashboard.tracks.playlists.delete_playlist.move_tracks')},
				);
			}
			return actions;
		},
    playlistTracksList: {
       get() {
          let allTracks = this.playlistTracks;
          if (!allTracks) {
            return [];
          }
          allTracks = allTracks.list.map(track=>{
            track._selected = this.selectedPlaylistTracks.indexOf(track) !== -1;
            return track;
          });
         return allTracks;
       },
       set: function (newVal) {
         console.log(newVal);
       }
    },
		tracksList() {
      let allTracks = {};
      if (this.search.input && this.search.input !== "" && this.search.results) {
        allTracks = this.search.results.data;
      } else {
        let tracks = this.tracks.data;
        let loading = this.uploadingFilesList.filter(track=>track.folder_id === this.currentFolderId);
        allTracks = tracks.concat(loading);
      }

			allTracks = allTracks.map(track=>{
				track._selected = this.selectedTracks.indexOf(track) !== -1;
				return track;
			}).sort((a, b)=>{
				return (a.is_folder === b.is_folder)? 0 : a.is_folder ? -1 : 1;
			});
			if (this.currentFolderId !== -1 && !this.isLoading) {
				allTracks.unshift({
					_selected:false,
					is_folder:true,
					_is_back_folder:true,
					id:-1,
				})
			}
			return allTracks;
		},
  },
  data() {
		return {
		  moveToFolderPanel: {
		    id: -1,
		    visible: false,
      },
      currentPage: 1,
      trackEditPanel: {
        visible: false,
        data: null
      },
		  search:{
		    input:'',
        loading: false,
        results: null,
      },
      isResizing: false,
			addFolder:{
				visible:false,
				name:'',
			},
			playlistToDelete:{
				data:null,
				variant:0,
        move_to:-1,
			},
      folderToDelete:{
		    data:null,
        variant:0,
        move_to:-1,
      },
			currentEditing:{
        track:null,
        playlist:null,
      },
      isLoadingInBackground: false,
			isLoading:false,
      playlistIsLoading: false,
			newPlaylistData:{},
			panelsVisible:{
        playlists:false,
        tracks:false,
      },
			selectedTracks: [],
      selectedPlaylistTracks: [],
      parentsCache: {},
			currentFolder: null,
			currentFolderId: -1,
      uploadingFilesList: [],
      isLoadingFiles: false,
			isDragging: false,
			trackTableColWidth: [],
			filesWithNameConflict: [],
      tracksCache: {},
      playlistTracksCache: {},
      selectAllHandler: false,
      playlistNeedsSave: false,
      playlistSaving:{
		    state: false,
        percent: 0
      }
		}
  },
  watch:{
    currentPage(newPage, oldPage) {
      this.setTracksCache(this.tracks, oldPage, this.currentFolderId);
      this.setFoldersCache(this.folders, oldPage);
      this.getTracks();
    },
    "playlistTracks.list": function() {
      this.playlistNeedsSave = true;
    },
    selectedTracks(tracksList) {
      this.selectAllHandler = (tracksList.length === this.tracks.data.filter(track=>!track.is_folder).length);
    },
    isResizing(resizing) {
      if (!resizing) {
        this.onFilesListChange();
      }
    },
		currentPlaylistId(newId,oldId) {
      localStorage.currentPlaylistId = newId;
      this.search.input = "";
      this.setPlaylistTracksCache(this.tracks,oldId);
			this.currentFolderId = -1;
			this.getPlaylistTracks();
		},
		currentFolderId(newId,oldId) {
      this.search.input = "";
      this.setTracksCache(this.tracks, this.currentPage, oldId);
      this.setFoldersCache(this.folders, this.currentPage);
      this.getTracks();
		}
  },
  created() {

  },
  mounted() {
		this.onFilesListChange();
  },
  methods:{
    startEditingTrack(track) {
      if (track.is_folder) {
       // this.= track; trackEditPanel.visible = true;
      } else {
        this.trackEditPanel.data = track;
        this.trackEditPanel.visible = true;
      }
    },
    moveToFolder() {
      this.batchAction('move_to_folder', this.moveToFolderPanel.id, this.currentFolderId);
    },
    deleteTracksFromPlaylist() {
      const selectedIds = this.selectedPlaylistTracks.map(track => track.id);
      this.playlistTracks.list = this.playlistTracks.list.filter(track=>selectedIds.indexOf(track.id) === -1);
    },
    showPlaylistEditPanel() {
      const playlist = this.playlists.list.filter(playlist => playlist.id === this.currentPlaylistId)[0];
      this.currentEditing.playlist = playlist;
      this.panelsVisible.playlists=true;
    },
    savePlaylist() {
      this.playlistSaving.state = true;
      this.playlistSaving.percent = 0;
      const tracks_in_part = 5;
      let idsList = this.playlistTracksList.map(track => track.id);
      let tempLists = [];
      let lists = [];
      while (idsList.length) {
        tempLists.push(idsList.splice(0, tracks_in_part));
      }
      tempLists.forEach((list,index)=>{
        lists[index] = {};
        list.forEach((item,i) => {
          lists[index][i + 1 + (index * tracks_in_part)] = item;
        });
      });
      let i = 0;
      let has_errors = false;
      asyncForEach(lists, async (list) => {
        if (!has_errors) {
          const res = await this.$axios.post('/radioplaylists/' + this.currentPlaylistId + '/batchsave', {data: list});
          if (res.data.status) {
            this.playlistSaving.percent = (i + 1) / lists.length;
            i++;
            if (i === lists.length) {
              this.playlistNeedsSave = false;
              this.playlistSaving.state = false;
            }
          } else {
            this.$store.commit('NEW_ALERT', res.data);
            has_errors = true;
          }
        }
      });
    },
    addSelectedToPlaylist() {
      const idsInPlaylist = this.playlistTracksList.map(track => track.id);
      let tracks = this.selectedTracks.filter(track => idsInPlaylist.indexOf(track.id) === -1);
      tracks = tracks.map(track => Object.assign({}, track));
      this.playlistTracks.list = this.playlistTracks.list.concat(tracks);
      this.selectedTracks = [];
    },
    goSearch() {
      this.reloadTracks();
    },
    reloadTracks() {
      this.removeTracksCache(this.currentFolderId, this.currentPage);
      this.getTracks();
    },
    reloadPlaylistTracks() {
      this.removePlaylistTracksCache(this.currentPlaylistId);
      this.getPlaylistTracks();
    },
    batchAction(actionType,newId = null, oldId = null, isPlaylistsAction = false) {
      let selectedTracks = isPlaylistsAction ? this.selectedPlaylistTracks : this.selectedTracks;
      let ids = selectedTracks.map(track => track.id);
      let data = {
        ids,
        action_type: actionType
      };
      if (newId) {
        data.new_id = newId;
      }
      if (oldId) {
        data.old_id = oldId;
      }
      this.$axios.post('/tracks/batch',data).then(res=>{
        if (!res.status) {
          this.$store.commit('NEW_ALERT',res.data);
        } else {
          //this.$store.commit('NEW_ALERT',res.data);
          //if (["copy_to_playlist","copy_to_folder"].indexOf(actionType) !== -1) {

          //} else {
            if (["copy_to_playlist","copy_to_folder"].indexOf(actionType) !== -1) {
              ids = [];
            }
            if (["move_to_playlist"].indexOf(actionType) !== -1 || (actionType === "copy_to_playlist" && newId !== this.currentPlaylistId)) {
              this.reloadPlaylistTracks();
            }
            if (actionType === "move_to_folder") {
              this.removeTracksCache(newId, 1);
            }
            if (res.data.ids) {
              ids = res.data.ids;
            }
            if (isPlaylistsAction) {
              this.selectedPlaylistTracks = [];
              this.playlistTracks.list = this.playlistTracks.list.filter(track=>ids.indexOf(track.id) === -1);
              this.setPlaylistTracksCache(this.tracks,this.currentPlaylistId);
            } else {
              this.selectedTracks = [];
              this.tracks.data = this.tracks.data.filter(track => ids.indexOf(track.id) === -1);
              this.setTracksCache(this.tracks, this.currentPage, this.currentFolderId);
            }


         // }
        }
      })
    },
    selectAll() {
      if (!this.selectAllHandler) {
        this.selectedTracks = this.tracks.list.filter(track=>!track.is_folder);
      } else {
        this.selectedTracks = [];
      }
    },
    removePlaylistTracksCache(playlistId) {
      if (!this.playlistTracksCache[playlistId]) {
        return true;
      }
      this.playlistTracksCache[playlistId] = null;
    },
    removeTracksCache(folderId, page) {
      if (!this.tracksCache[folderId]) {
        return true;
      }
      if (!this.tracksCache[folderId][page]) {
        return true;
      }
      this.tracksCache[folderId][page] = null;
    },
    setPlaylistTracksCache(tracks,playlistId) {
      this.tracksCache[playlistId] = tracks;
    },
    setFoldersCache(folders, parentFolderId) {
      this.foldersCache[parentFolderId] = folders;
    },
    setTracksCache(tracks, page, folderId) {
      if (! this.tracksCache[folderId]) {
        this.tracksCache[folderId] = {};
      }
      this.tracksCache[folderId][page] = tracks;
    },
    editTrack(track) {

    },
		playTrack(track) {
			let data = {url:track.client_path,author:""};
			if (track.title) {
				data.title = track.title;
				data.author = track.author || "";
			} else {
				data.title = track.filename;
			}
			this.$store.commit("SET_PLAYER_TRACK",data);
		},
		editFolder(editedFolder) {
			folder.is_folder = true;
			this.tracks.list.forEach((track,i)=>{
				if (track.id === editedFolder.id) {
					this.$set(this.tracks.list,i,editedFolder);
				}
			})
		},
		newFolder(folder) {
			folder.is_folder = true;
			this.tracks.data.push(folder);
		},
    deleteFolder() {
      let data = this.folderToDelete.action === 0 ? {delete_tracks:true} : {move_tracks_to:this.folderToDelete.move_to};
      this.$axios.delete('/folders/'+this.folderToDelete.data.id,{data}).then(res=>{
        this.$store.commit('NEW_ALERT',res.data);
        if (res.data.status) {
          if (this.currentFolderId === this.folderToDelete.data.id) {
            this.currentFolderId = this.folderToDelete.data.parent_id;
          }
          this.folders = this.folders.filter(folder => folder.id !== this.folderToDelete.data.id)
          this.tracks.data = this.tracks.data.filter(track => (!track.is_folder || (track.is_folder && track.id !== this.folderToDelete.data.id)));
          this.folderToDelete.data = null;
        }
      });
    },
		deletePlaylist() {
			let data = this.playlistToDelete.action === 0 ? {delete_tracks:true} : {move_tracks_to:this.playlistToDelete.move_to};
			this.$axios.delete('/radioplaylists/'+this.playlistToDelete.data.id,{data}).then(res=>{
				this.$store.commit('NEW_ALERT',res.data);
				if (res.data.status) {
					if (this.playlistToDelete.data.id === this.currentPlaylistId) {
						let index = this.playlists.list.indexOf(this.playlistToDelete.data);
						if (this.playlists.list.length > 1) {
							this.playlists.list.splice(index,1);
							if (index>0) {
								index--;
							} else {
								index++;
							}
							this.currentPlaylistId = this.playlists.list[index].id;
						}
					}
					this.playlistToDelete.data = null;
				}
			});
		},
		editPlaylist(editedPlaylist) {
			this.playlists.list.forEach((playlist,i)=>{
				if (playlist.id === editedPlaylist.id) {
					this.$set(this.playlists.list,i,editedPlaylist);
				}
			})
		},
		addPlaylist(playlist) {
			this.playlists.list.unshift(playlist);
		},
    getPlaylistTracks() {
      //console.log(this.playlistTracksCache);
      if (this.playlistTracksCache[this.currentPlaylistId]) {
        this.playlistTracksCache = this.tracksCache[this.currentPlaylistId];
        this.onFilesListChange();
      } else {
        this.playlistIsLoading = true;
        let data = {};
        if (this.search.input) {
          data.search = this.search.input;
        }
        this.$axios.post(`/tracks/getbyplaylist/${this.currentPlaylistId}`, data).then(res => {
          this.playlistIsLoading = false;
          if (res.data.status) {
            this.playlistTracks = res.data;
            this.onFilesListChange();
          } else {
            this.$store.commit('NEW_ALERT', res.data);
          }
        });
      }
    },
		getTracks() {
      if (this.tracksCache[this.currentFolderId] && this.tracksCache[this.currentFolderId][this.currentPage]) {
        this.tracks = this.tracksCache[this.currentFolderId][this.currentPage];
        if (this.foldersCache[this.currentFolderId]) {
          this.folders = this.foldersCache[this.currentFolderId];
        }
        this.onFilesListChange();
      } else {
        this.isLoading = true;
        let data = {};
        if (this.currentFolderId > -1) {
          data.folder_id = this.currentFolderId;
        }
        if (this.search && this.search.input !== "") {
          data.search = this.search.input;
        }
        data.page = this.currentPage;
        this.$axios.post(`/tracks/getbychannel/${this.channel.id}`, data).then(res => {
          this.isLoading = false;
          if (res.data.status) {
            if (this.search.input && this.search.input !== "") {
              this.search.results = res.data.data.list;
            } else {
              this.folders = res.data.data.folders;
              this.tracks = res.data.data.list;
            }
            this.onFilesListChange();
          } else {
            this.$store.commit('NEW_ALERT', res.data);
          }
        });
      }
		},
		conflictKeepBoth(file) {
			this.filesWithNameConflict.splice(this.filesWithNameConflict.indexOf(file,1));
			let hasTrackWithSuchName = true;
			let newFileName = "";
			let i = 1;
			while (hasTrackWithSuchName) {
				newFileName = '('+i+') '+file.title;
				hasTrackWithSuchName = this.tracks.data.map(track=>track.filename).indexOf(newFileName) !== -1;
				i++;
			}
			file.file._name = newFileName;
			this.uploadFile(file.file);
		},
		conflictSkipFileAll() {
			this.filesWithNameConflict = [];
		},
		conflictSkipFile(file) {
			this.filesWithNameConflict.splice(this.filesWithNameConflict.indexOf(file,1));
		},
		selectTrack(track,isTracksPanel) {
      let selectedTracks = isTracksPanel ? this.selectedTracks : this.selectedPlaylistTracks;
			if (!track.is_folder) {
				if (selectedTracks.indexOf(track) !== -1) {
					selectedTracks.splice(selectedTracks.indexOf(track),1);
				} else {
					selectedTracks.push(track);
				}
			} else {
				if (track._is_back_folder) {
          if (this.parentsCache[this.currentFolderId]) {
            this.currentFolderId = this.parentsCache[this.currentFolderId];
          } else {
            this.currentFolderId = this.currentFolder.parent_id;
          }

				} else {
				  this.parentsCache[track.id] = this.currentFolderId;
					this.currentFolder = track;
					this.currentFolderId = track.id;
				}
			}
		},
		deleteTrack(track) {
      if (track.is_folder) {
        this.folderToDelete.data = track;
      } else {
        this.$axios.delete('/tracks/' + track.id).then(res => {
          this.$store.commit('NEW_ALERT', res.data);
          if (res.data.status) {
            this.tracks.data.splice(this.tracks.data.indexOf(track), 1);
            this.playlistTracks.list = this.playlistTracks.list.filter(playlistTrack=>playlistTrack.id !== track.id);
            this.onFilesListChange();
          }
        })
      }
		},
		onFilesListChange() {
      return null;
			this.$nextTick(()=>{
				//let maxWidth = 0;
        if (this.tracksList.length > 0) {
          let table = document.getElementsByClassName('dashboard__files-list__table--main');
          let tr = table[0].children[0];
          for (let i = 0; i < 3; ++i) {
            let width = tr ? tr.children[i].offsetWidth : '';
            this.$set(this.trackTableColWidth, i, parseInt(width));
          }
        }
			})
		},
		onFileInputChange(e) {
			if (e.target && e.target.files) {
				Array.from(e.target.files).forEach(file => this.addToUpload(file));

			}
		},
    addToUpload(file) {
      let _id = file.name+'_'+Math.floor(Math.random()*1000);
      let track = {
        _id,
        filename:file.name,
        playlists:[],
        folder_id:this.currentFolderId,
        upload_status:'STATUS_WAITING_FOR_UPLOAD',
        _uploadProgress:0,
        _file:file
      };
      this.uploadingFilesList.push(track);
      //if (!this.isUploading) {
        this.startUpload();
     //}
    },
    startUpload() {
      let uploadCount = 0;
      const maxUploads = 5;
      uploadCount = this.uploadingFilesList.filter(file=>file.upload_status === "STATUS_UPLOADING").length;
      if (uploadCount < maxUploads) {
        this.uploadingFilesList.forEach(file => {
          if (file.upload_status === "STATUS_WAITING_FOR_UPLOAD" && uploadCount < maxUploads) {
            this.uploadFile(file);
            uploadCount++;
          }
        })
      }
    },
		openFilePicker() {
			this.$refs.fileInput.click();
		},
		uploadFile(track) {
      let file = track._file;
			let fileName = file.name;
			let hasTrackWithSuchName = this.tracks.data.map(track=>track.filename).indexOf(fileName) !== -1;
			//console.log(hasTrackWithSuchName);
      //this.isUploading = true;
			if (hasTrackWithSuchName) {
				this.filesWithNameConflict.push({
					title:file.name,
					status:-1,
					file,
					existingItem: this.tracks.data.filter(track=>track.filename == fileName)[0],
				});
			} else {
				let fd=new FormData();
				fd.append('track',file);
				fd.append('folder_id',track.folder_id);
				fd.append('playlist_id',this.currentPlaylistId);
				fd.append('channel_id',this.channel.id);

				this.onFilesListChange();
				track.upload_status = "STATUS_UPLOADING";
				this.$axios.post('/tracks',fd,{onUploadProgress: progressEvent => {
					track._uploadProgress = ((progressEvent.loaded) / progressEvent.total);
				}}).then(res=>{
					this.uploadingFilesList.splice(this.uploadingFilesList.indexOf(track),1);
					this.startUpload();
					if (res.data.status) {
						this.tracks.data.push(res.data.track);
					} else {
						this.$store.commit('NEW_ALERT',res.data);
					}
				})
			}
		},
    onDragStatusChange(status) {
		  if (!this.isResizing) {
		    this.isDragging = status;
      }
    },
		onDrop(e) {
			this.isDragging = false;
			if (e.dataTransfer && e.dataTransfer.files) {
				Array.from(e.dataTransfer.files).forEach(file => this.addToUpload(file));
			}
			e.preventDefault();
		},
		bytesToGB(bytes) {
		  let gb = Math.round(bytes / (1024*1024*1024) * 1000) / 1000;
		  gb = gb  + ' GB';
		  return gb;
		}
	}
}
</script>
