<template>
  <div class="box box--with-header">
    <div class="page-preloader" v-if="isLoading">
      <m-preloader stroke-width="5" circle-width="3em"  />
    </div>
    <div class="box__header box__header--dark">
      <div class="row">
        <div class="col">
          <m-input autoSize @change="onNameChange()" v-model="name" :title="$t('admin.users.username')"/>
        </div>
      </div>
    </div>
    <div class="box__inner admin-panel__content">
      <table class="table">
        <thead>
          <tr>
            <td class="table__sortable-field" @click="setSort('id')">{{$t('admin.users.id')}}</td>
            <td>{{$t('admin.users.username')}}</td>
            <td class="table__sortable-field" @click="setSort('lastseen')">{{$t('admin.users.last_seen')}}</td>
            <td>{{$t('admin.users.balance')}}</td>
            <td>{{$t('admin.users.channels')}}</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
           <tr :key="$index" v-for="(user, $index) in users.data">
            <td><nuxt-link target="_blank" :to="`/users/${user.id}`">{{user.id}} </nuxt-link><nuxt-link target="_blank" :to="`/mail?user_id=${user.id}`">({{$t('admin.users.mail')}})</nuxt-link></td>
            <td>{{user.username}}</td>
            <td>{{getPublishDate(user.last_seen)}}</td>
            <td>{{user.balance}}</td>
            <td>{{user.channels_names}}</td>
            <td>
              <m-btn @click="topUpBalance(user)">{{$t('admin.users.top_up_balance')}}</m-btn>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="box__footer">
      <m-pager :data="users" v-model="currentPage" />
    </div>

    <m-modal v-model="balancePanel.visible">
      <div slot="main">
        <div class="modal__input-container">
          <m-input :title="$t('admin.users.balance_sum')" v-model="balancePanel.data.sum"/>
        </div>
      </div>
      <div slot="buttons">
        <div class="buttons-list">
          <m-btn @click="applyBalanceTopUp()" :loading="balancePanel.isLoading">{{$t('global.ok')}}</m-btn>
          <m-btn flat @click="balancePanel.visible = false">{{$t('global.cancel')}}</m-btn>
        </div>
      </div>
    </m-modal>

  </div>
</template>
<script>
  const count = 12;
  import { getPublishDate } from '~/functions/dates.js';
  export default {
    methods: {
      getPublishDate,
      setSort(field) {
        if (this.sort === field) {
          this.sortOrder = this.sortOrder === "ASC" ? "DESC" : "ASC";
        } else {
          this.sort = field;
        }
        this.load();
      },
      applyBalanceTopUp() {
        this.balancePanel.isLoading = true;
        this.$axios.post(`admin/users/balance`, {sum: this.balancePanel.data.sum, user_id: this.balancePanel.user.id}).then(res => {
          this.balancePanel.isLoading = false;
          this.$store.commit('NEW_ALERT', res.data);
          if (res.data.status) {
            this.balancePanel.user.balance = res.data.data.new_balance;
            this.balancePanel.visible = false;
          }
        })
      },
      topUpBalance(user) {
        this.balancePanel.user = user;
        this.balancePanel.visible = true;
      },
      onNameChange() {
        if (this.currentPage !== 0) {
          this.currentPage = 0;
        } else {
          this.load();
        }
      },
      async load() {
        this.isLoading = true;
        let data = (await this.$axios.get(`admin/users?page=${this.currentPage}&sort=${this.sort}&sort_order=${this.sortOrder}&count=${count}&name=${this.name}`)).data;
        if (!data.status) {
          this.$store.commit('NEW_ALERT', data);
        } else {
          this.users = data.data.users;
        }
        this.isLoading = false;
      },
    },
    watch: {
      currentPage(newPage) {
        this.load();
      }
    },
    async mounted() {
      this.load();
    },
    data() {
      return {
        sort: 'id',
        sortOrder: 1,
        balancePanel: {
          isLoading: false,
          user: null,
          visible: false,
          data: {
            sum: 0
          }
        },
        isLoading: true,
        currentPage: 1,
        name: '',
        users: {
          data: []
        }
      }
    }
  }
</script>
