<template>
<div class="alerts-list">
	<div v-for="alertItem in alerts" :key="alertItem.id" class="alerts-list__item" :class="{'alerts-list__item--success': alertItem.status === 1, 'alerts-list__item--fail': alertItem.status === 0}">
		{{alertItem.no_translate ? alertItem.text : $t(alertItem.text)}}
	</div>
</div>
</template>
<style lang="scss">
.alerts-list {
    position: fixed;
    bottom: .5em;
    right: .5em;
    z-index: 1000;
    &__item {
      padding: .75em 1em;
      font-size: .875em;
      font-weight: 400;
      .theme-default & {
        box-shadow: 0 .5em 1em -.5em rgba(0, 0, 0, 0.75);
      }
      animation: alertsListItem .25s linear forwards;
      &--fail {
        color: #fff;
        background: var(--negative-color);
      }
      &--success{
        color:#fff;
        background: var(--positive-color);
      }
    }
}
@keyframes alertsListItem {
	0% {opacity:0; transform:translateY(15px);}
	100% {opacity:1; transform:translateY(0);}
}
</style>
<script>
import {mapState} from 'vuex';
export default{
	computed:mapState(['alerts'])
}
</script>
