<template>
  <a @click="changeLanguage()">
    <touch-ripple :speed="1" :opacity="0.3" color="#fff" transition="ease">
      <div class="left-sidebar__link__content">
        <div class="left-sidebar__icon left-sidebar__icon--text">{{locale}}</div>
        <div class="left-sidebar__text" >{{$t('_language_name')}}</div>
      </div>
    </touch-ripple>
  </a>
</template>
<script>
  import {mapState} from 'vuex';
  export default {
    methods: {
      changeLanguage() {
        let localeIndex = this.locales.indexOf(this.locale);
        if (localeIndex === this.locales.length - 1) {
          localeIndex = 0;
        } else {
          localeIndex++;
        }
        let locale = this.locales[localeIndex];
        this.$store.commit('SET_LOCALE', locale);
        localStorage.locale = locale;
        this.$i18n.locale = locale;
      }
    },
    props: ['full'],
    computed: {
      ...mapState(['locale', 'locales'])
    }
  }
</script>
