<template>
<div class="left-sidebar" :class="{'left-sidebar--opened':drawer}">
	<div class="left-sidebar__links">
		<nuxt-link :to="link.link" class="left-sidebar__link" :key="link.title" v-for="link in menuLinks" :title="link.title">
			<touch-ripple :speed="1" :opacity="0.3" color="#fff" transition="ease">
				<div class="left-sidebar__link__content">
					<div class="left-sidebar__icon"><i class="material-icons">{{link.icon}}</i></div>
					<div class="left-sidebar__text">{{link.title}}</div>
				</div>
			</touch-ripple>
		</nuxt-link>
    <div class="left-sidebar__links__bottom">
      <a v-show="drawer" href="//showstreams.tv/" class="left-sidebar__free-kassa"><img src="//www.free-kassa.ru/img/fk_btn/14.png" title="Бесплатный видеохостинг"></a>
      <LanguageSelect :full="drawer" class="left-sidebar__link"/>
      <a @click="showAboutModal()" class="left-sidebar__link" :title="$t('about._title')">
        <touch-ripple :speed="1" :opacity="0.3" color="#fff" transition="ease">
          <div class="left-sidebar__link__content">
            <div class="left-sidebar__icon"><i class="material-icons">info</i></div>
            <div class="left-sidebar__text">{{$t('about._title')}}</div>
          </div>
        </touch-ripple>
      </a>
    </div>
	</div>
</div>
</template>
<style lang="scss">
.left-sidebar {
  position: fixed;
  width: 3.5em;
  top: 3.5em;
  left: 0;
  height: calc(100% - 3.5em);
  overflow: hidden;
  transition: width 0.35s;
  z-index: 1;
  &__free-kassa {
    margin: 0 1em;
  }
  &--opened {
    width: 16em;
  }
  &__links {
    height: 100%;
    display: flex;
    flex-direction: column;
    &__bottom {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
  &__link {
    display: block;
    transition: background 0.25s;
    &--bottom {
      position: absolute;
      bottom: 3.5em;
      left: 0;
      width: 100%;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
  &__link__content {
    width: 100%;
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
  }
  &__text {
    white-space: nowrap;
    margin: 0 0 0 .5em;
  }
  &__link > * {
    width: 100%;
  }
  &__icon {
    padding: 0 1em;
    width: 1.5em;
    height: 1.5em;
    &--text {
      margin: .25em 0 0 .25em;
      width: 1.25em;
      opacity: .75;
    }
  }
  &__text {
    font-weight: 400;
  }
  background: var(--sidebar-bg);
  .theme-default & {
    box-shadow: 0px 5px 35px -3px rgba(0, 0, 0, 0.5);
    &__link {
      border-bottom: 1px solid #4d4d4d;
      color: #fff;
      &:hover {
        background: #575757;
      }
    }
  }
  .theme-flat & {
    &__link {
      &:hover {
        background: rgba(255, 255, 255, .05);
      }
    }
  }
  @media screen and (max-width: 768px) {
    & {
      width: 100%;
      height: 3.5em;
      bottom: 0;
      top: auto;
      z-index: 10000000;
      overflow: auto;
      overflow-y: hidden;
      &__links {
        height: 3.5em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 32em;
        &__bottom {
          width: 6em;
          flex-direction: row;
        }
      }

      &__link {
        width: auto;
        overflow: hidden;
      }
      &__text {
        display: none;
        font-size: 1em;
        margin: 0 0 0 .25em;
      }
    }
  }
}
</style>
<script>
import LanguageSelect from '@/components/layout/LanguageSelect';
import { mapMutations, mapState } from 'vuex';
export default{
  components: {LanguageSelect},
  computed: {
    menuLinks() {
      return [
        {link:'/tv', title:this.$t('channels._title'), icon:'tv'},
        {link:'/videos', title:this.$t('videos.title'), icon:'video_library'},
        {link:'/radio', title:this.$t('radio._title'), icon:'radio'},
        {link:'/records', title:this.$t('records.title'), icon:'audiotrack'},
        //{link:'/news', title:this.$t('news.title'), icon:'format_list_bulleted'},
        {link:'/projects', title:this.$t('projects.title'), icon:'folder_open'},
        {link:'/announces', title:this.$t('announces.title'), icon:'announcement'},
        {link:'/blog', title:this.$t('blog._title'), icon:'people'},
      ]
    },
	  drawer() {
			return this.$store.state.drawer;
		}
	},
	data() {
		return {
      aboutModalVisible: false,
		}
	},
	methods:{
    showAboutModal() {
      this.$emit('showAboutModal');
    }
	}
}
</script>
