<template>
<div class="notifications-list">
 <nuxt-link :to="getLink(notification)" :key="$index" class="notifications-list__item" v-for="(notification, $index) in notifications">
    <a class="notifications-list__item__close" @click="CLOSE_NOTIFICATION(notification)">
      <i class="fa fa-times"></i>
    </a>
    <div :style="{backgroundImage:'url('+notification.picture+')'}" class="notifications-list__item__picture" v-if="notification.picture"></div>
    <div class="notifications-list__item__texts">
      <div class="notifications-list__item__title">{{translate(notification, 'title')}}</div>
      <div class="notifications-list__item__text">{{translate(notification, 'text')}}</div>
    </div>
  </nuxt-link>
</div>
</template>
<style lang="scss">
.notifications-list {
    position: fixed;
    bottom: .5em;
    left: .5em;
    z-index: 10;
    &__item {
      background: var(--notifications-color);
      display: flex;
      padding: 1em 2em 1em 1em;
      margin: .5em 0 0;
      text-decoration: none;
      position: relative;
      animation: showNotification .35s linear forwards;
      &__close {
        position: absolute;
        top: .5em;
        right: .5em;
        cursor: pointer;
        opacity: .75;
        transition: all .35s;
        &:hover {
          opacity: .95;
        }
      }
      &__texts {
        margin: 0 0 0 1em;
      }
      &__picture {
        width: 3em;
        height: 3em;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }
      &__title {
        font-weight: 600;
      }
    }
}
  @keyframes showNotification {
    0% {
      opacity: 0;
      transform: translateY(1em);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
<script>
import { mapState, mapMutations } from 'vuex';
export default{
	computed: {
    ...mapState(['notifications']),
  },
  methods: {
    getLink(notification) {
      if (notification.notification_link) {
        if (notification.notification_link[0] === "/" && notification.notification_link[1] === "/") {
          let link = notification.notification_link.substr(1);
          return link;
        }
        if (notification.notification_link[0] !== "/") {
          return "/"+notification.notification_link;
        }
        return notification.notification_link;
      }
      return "";
    },

	  translate(notification, prop) {
	    if (notification.translate && notification.translate.indexOf(prop) !== -1) {
	      return this.$t(notification[prop]);
      }
      return notification[prop];
    },
    ...mapMutations(['CLOSE_NOTIFICATION']),
  },
  mounted() {

  }
}
</script>
