<template>
  <m-modal v-model="active" :header="$t('themes._title')">
    <div slot="main">
      <div class="buttons-list">
         <m-btn @click="setTheme('default')" :flat="currentTheme === 'default'">{{$t('themes._list.default')}}</m-btn>
         <m-btn @click="setTheme('flat')" :flat="currentTheme === 'flat'">{{$t('themes._list.flat')}}</m-btn>
         <m-btn @click="setTheme('light')" :flat="currentTheme === 'light'">{{$t('themes._list.light')}}</m-btn>
      </div>
    </div>
    <div class="modal__buttons" slot="buttons">
      <m-btn @click="active = false">{{$t('global.ok')}}</m-btn>
    </div>
  </m-modal>
</template>
<script>
  export default {
    watch: {
      active(isActive) {
        if (!isActive) {
          this.$emit('close');
        }
      }
    },
    data() {
      return {
        currentTheme: this.$store.state.currentTheme,
        active: true,
      }
    },
    methods: {
      setTheme(theme) {
        this.currentTheme = theme;
        this.$store.commit('SET_CURRENT_THEME', theme);
      }
    }
  }
</script>
