<template>
  <div class="friends-panel">
    <touch-ripple @click.native="goToFriendsPage()" :speed="1" :opacity="0.5" color="#fff" transition="ease" class="user-right-panel__info__button">
      <i class="material-icons">person</i>
      <span class="user-right-panel__info__button__count" v-if="getCount > 0">{{getCount}}</span>
    </touch-ripple>
  </div>
</template>
<style lang="scss">
  .friends-panel {
    position: relative;
  }
</style>
<script>
  import clickOutside from 'vue-click-outside';
  import {mapGetters, mapActions} from 'vuex';

  export default {
    directives:{
      clickOutside
    },
    components: {

    },
    computed: mapGetters('friends', ['getList', 'getCount']),
    watch: {
      listVisible(isVisible) {

      }
    },
    data() {
      return {
        listVisible: false,
      }
    },
    methods: {
      goToFriendsPage() {
        const id = this.$store.state.userData.id;
        if (this.getCount > 0) {
          this.$router.push({path: `/users/${id}`, query: {t: 'friends', friends: 'requests'}})
        } else {
          this.$router.push({path: `/users/${id}`, query: {t: 'friends'}})
        }
      }
    }
  }
</script>
