<template>
  <div class="notifications-panel" v-click-outside="hidePanel">
    <touch-ripple @click = "listVisible = !listVisible"  :speed="1" :opacity="0.5" color="#fff" transition="ease" class="user-right-panel__info__button">
      <i class="material-icons">notifications</i>
      <span class="user-right-panel__info__button__count" v-if="getUnreadCount > 0">{{getUnreadCount}}</span>
    </touch-ripple>
    <div class="notifications-panel__list" v-if="listVisible">
      <div class="notifications-panel__list__header">
        <span class="notifications-panel__list__header__inner">{{$t('notifications.list_title')}}</span>
        <a @click="listVisible = false" class="notifications-panel__list__header__close"><m-btn ripplecolor="#fff" flat rounded icon="close"></m-btn></a>
      </div>
      <div class="notifications-panel__list__inner">
        <div v-if="isLoading" class="page-preloader">
          <m-preloader stroke-width="5" circle-width="5em"  />
        </div>
        <div v-if="getList.length === 0" class="notifications-panel__nothing-found" >
           <m-nothing-found></m-nothing-found>
        </div>
        <div v-else class="notifications-panel__list__items">
          <NotificationItem :data="notification" :key="$index" v-for="(notification, $index) in getList"/>
        </div>
        <div v-if="getList.length !== 0" class="notifications-panel__list__show-all">
          <m-btn @click.native="hidePanel()" to="/user/notifications">{{$t('notifications.show_all')}}</m-btn>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import clickOutside from 'vue-click-outside';
  import {mapGetters, mapActions} from 'vuex';
  import NotificationItem from '@/components/layout/notifications/NotificationItem';

  export default {
    directives:{
      clickOutside
    },
    components: {
      NotificationItem
    },
    computed: mapGetters('site_notifications', ['getList', 'getUnreadCount', 'needToGet', 'isLoading']),
    watch: {
      async listVisible(isVisible) {
        if (isVisible) {
          if (this.needToGet) {
            await this.get();
          }
          this.read();
        }
      }
    },
    data() {
      return {
        listVisible: false,
      }
    },
    methods: {
      hidePanel() {
        if (this.listVisible) {
          this.$emit('hideNotificationsList');
          this.listVisible = false;
        }
      },
      ...mapActions('site_notifications', ['read', 'get'])
    }
  }
</script>
