<template>
<div class="top-sidebar">
	<div class="top-sidebar__left">
		<m-btn class="top-sidebar__menu-toggle" flat rounded icon="menu" @click="SET_DRAWER"></m-btn>
		<nuxt-link class="site-logo" to="/">
			<img src="/assets/logo.svg" class="site-logo__picture" />
      <img src="/assets/logo-big.svg" class="site-logo__picture site-logo__picture--big" />
		</nuxt-link>

	</div>
	<div class="top-sidebar__center">
    <SiteSearch/>
  </div>
	<div class="top-sidebar__right">
		<user-right-panel @showAboutModal="onShowAboutModal" />
	</div>
</div>
</template>
<script>
import { mapMutations, mapState } from 'vuex';
import userRightPanel from '@/components/layout/userRightPanel';
import SiteSearch from '@/components/layout/SiteSearch';
export default{
	components: {
    SiteSearch,
	  userRightPanel
  },
  methods: {
    onShowAboutModal() {
      this.$emit('showAboutModal');
    },
    ...mapMutations(['SET_DRAWER'])
  },
	data() {
		return {
			search: '',
		}
	},
}
</script>
<style lang="scss">
.top-sidebar{
	padding: .5em;
	height: 2.5em;
	position: fixed;
	top: 0;
	left: 0;
	width: calc(100% - 1em);
	display: flex;
	align-items: center;
	justify-content: space-between;
  z-index: 10000000;
	&__left{
    margin: 0 0 0 .25em;
		display: flex;
		align-items: center;
	}
  &__center {
    flex: 1;
    margin: 0 5em;
    @media screen and (max-width: 1366px) {
      margin: 0;
    }
  }
  background: var(--sidebar-bg);
	.theme-default &{
		box-shadow:0 7px 10px -3px rgba(0,0,0,0.5);
	}
  .theme-light & {
    background: var(--active-color);
  }
	&__right{
		padding:0 .5em 0 0;
	}
}
.site-logo {
	margin: 0 1.25em;
	&__picture{
		height: 2.5em;
    display: none;
    &--big {
      display: block;
    }
	}
}
@media screen and (max-width: 768px) {
  .site-logo{
    margin: 0;
  }
  .top-sidebar{
    width: 100%;

    &__center {
      display: none;
    }
    &__menu-toggle{
      display: none!important;
    }
  }
}
</style>
