<template>
<div class="user-right-panel">
  <div v-if="!userData.loggedIn" class="user-right-panel__auth-button">
	 <m-btn primary to="/login">{{$t('auth.auth_button')}}</m-btn>
  </div>
  <div v-else class="user-right-panel__info">
     <div class="user-right-panel__info__buttons">
       <TopNotificationsPanel/>
       <TopFriendsPanel/>
       <!--
       <touch-ripple :speed="1" :opacity="0.5" color="#fff" transition="ease" class="user-right-panel__info__button">
         <i class="fa fa-heart"></i>
       </touch-ripple>
       -->
       <touch-ripple @click="$router.push('/mail')" :speed="1" :opacity="0.5" color="#fff" transition="ease" class="user-right-panel__info__button">
         <i class="material-icons">mail_outline</i>
       </touch-ripple>
       <touch-ripple @click="$router.push('/user/feed')" :speed="1" :opacity="0.5" color="#fff" transition="ease" class="user-right-panel__info__button">
         <i class="fa fa-stream"></i>
       </touch-ripple>
     </div>
     <div class="user-right-panel__info__outer">
        <touch-ripple :speed="1" :opacity="0.3" color="#fff" transition="ease" class="user-right-panel__info__inner">
          <div class="user-right-panel__avatar" :style="{backgroundImage:'url('+userData.ava+')'}"></div>
          <div class="user-right-panel__username">{{userData.username}}</div>
        </touch-ripple>
        <m-popup-menu class="popup-menu-bottom popup-menu-bottom-left">
            <m-popup-menu-item to="/dashboard">{{$t('auth.dashboard')}}</m-popup-menu-item>
          <!--<m-popup-menu-item to="/studio">{{$t('auth.studio')}}</m-popup-menu-item>
          <m-popup-menu-item @click="themesPanelVisible = true" >{{$t('themes._title')}}</m-popup-menu-item> -->
          <m-popup-menu-item :to="'/users/'+userData.id" >{{$t('auth.profile')}}</m-popup-menu-item>
          <m-popup-menu-item to="/user/settings">{{$t('auth.settings')}}</m-popup-menu-item>
          <m-popup-menu-item to="/user/support" >{{$t('tickets._title')}}
            <span class="popup-menu__item__number" v-if="tickets.tickets.unread_count > 0">{{tickets.tickets.unread_count}}</span>
          </m-popup-menu-item>
          <m-popup-menu-item @click="logout()" >{{$t('auth.logout')}}</m-popup-menu-item>
      </m-popup-menu>
   </div>

 </div>
 <div class="user-right-panel__mobile">
   <div class="user-right-panel__mobile__avatar" @click="mobilePanelVisible = true"  :style="{backgroundImage:'url('+userData.ava+')'}"></div>
   <div class="user-right-panel__mobile__overlay" v-if="mobilePanelVisible">
     <div @click="mobilePanelVisible = false" class="user-right-panel__mobile__overlay__background"></div>
     <div class="user-right-panel__mobile__overlay__box">
       <div class="user-right-panel__mobile__overlay__header">
         <div class="user-right-panel__mobile__overlay__avatar"  :style="{backgroundImage:'url('+userData.ava+')'}"></div>
         <div class="user-right-panel__mobile__overlay__username">{{userData.username}}</div>
       </div>
       <div class="user-right-panel__mobile__search">
         <SiteSearch @hide="onHideSearch"/>
       </div>
       <div class="user-right-panel__mobile__overlay__buttons">
         <TopNotificationsPanel @hideNotificationsList="onHideNotificationsList"/>
         <touch-ripple @click="$router.push('/mail'); mobilePanelVisible = false" :speed="1" :opacity="0.5" color="#fff" transition="ease" class="user-right-panel__info__button">
           <i class="material-icons">mail_outline</i>
         </touch-ripple>
         <touch-ripple @click="$router.push('/user/feed'); mobilePanelVisible = false" :speed="1" :opacity="0.5" color="#fff" transition="ease" class="user-right-panel__info__button">
           <i class="fa fa-stream"></i>
         </touch-ripple>
        <!-- <touch-ripple @click="showAboutModal(); mobilePanelVisible = false" :speed="1" :opacity="0.5" color="#fff" transition="ease" class="user-right-panel__info__button">
           <i class="material-icons">info</i>
         </touch-ripple> -->
       </div>
       <div class="user-right-panel__mobile__overlay__links">
         <a @click="goAndCloseMenu('/dashboard')" class="user-right-panel__mobile__overlay__link">{{$t('auth.dashboard')}}</a>
         <!--<a @click="goAndCloseMenu('/studio')" class="user-right-panel__mobile__overlay__link">{{$t('auth.studio')}}</a>
         <a class="user-right-panel__mobile__overlay__link" @click="themesPanelVisible = true" >{{$t('themes._title')}}</a>-->
         <a @click="goAndCloseMenu('/users/'+userData.id)" class="user-right-panel__mobile__overlay__link" >{{$t('auth.profile')}}</a>
         <a @click="goAndCloseMenu('/user/settings')" class="user-right-panel__mobile__overlay__link" >{{$t('auth.settings')}}</a>
         <a @click="goAndCloseMenu('/user/support')" class="user-right-panel__mobile__overlay__link">{{$t('tickets._title')}}
           <span class="user-right-panel__mobile__overlay__number" v-if="tickets.tickets.unread_count > 0">{{tickets.tickets.unread_count}}</span>
         </a>
         <a class="user-right-panel__mobile__overlay__link" @click="mobilePanelVisible = false; logout()" >{{$t('auth.logout')}}</a>
       </div>
     </div>
   </div>
 </div>
 <ThemesPanel v-if="themesPanelVisible" @close="themesPanelVisible = false" />
  <m-modal v-model="importantTicketModalVisible">
    <div slot="main">
      {{$t('tickets.important._text')}}
    </div>
    <div class="modal__buttons" slot="buttons">
      <div class="buttons-list">
        <m-btn @click="$router.push('/user/support'); importantTicketModalVisible = false">{{$t('tickets.important.go_to_list')}}</m-btn>
      </div>
    </div>
  </m-modal>
</div>
</template>
<style lang="scss">
.user-right-panel{
  color: #fff;
  &__auth-button {
    margin: 0 0 .25em 1em;
  }
  &__info{
    position: relative;
    display: flex;
    &__outer {
      position: relative;
      background: rgba(255, 255, 255, 0);
      transition: all .35s;
      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
    &__inner {
      padding: .75em;
      display: flex!important;
      align-items: center;
      cursor: pointer;
    }
      &__button {
        position: relative;
        height: 3.5em;
        width: 3.5em;
        display: flex!important;
        align-items: center;
        justify-content: center;
        transition: all .25s;
        cursor: pointer;
        &:hover {
          background: rgba(255, 255, 255, 0.05);
        }
        &__count {
          position: absolute;
          top: 3em;
          left: 3em;
          background: var(--red);
          padding: 0 .25em;
          font-size: .75em;
          border-radius: .25em;
          font-weight: 600;
        }
      }

      &__buttons {
        display: flex;
        align-items: center;
      }
    }

    &__avatar{
        margin: 0 .5em 0 0;
        width: 2em;
        height: 2em;
        background-size:contain;
        background-position:center center;
        background-repeat:no-repeat;
    }
    &__username{
        font-size: 1em;
        font-weight: 500;
    }
    &__mobile {
      display: none;
    }

  @media screen and (max-width: 768px) {
    & {
      &__auth-button {
        margin: 1.75em 1em 0 0;
      }
      &__info {
        display: none;
      }
      &__mobile {
        display: block;
        &__avatar {
          width: 2em;
          height: 2em;
          background-size: contain!important;
          background-repeat: no-repeat;
          margin: 0 1em 0 0;
        }

        &__overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1000000;
          &__number {
            background: var(--red);
            font-weight: 600;
            padding: 0 .25em;
            margin: 0 0 0 .5em;
          }
          &__background {
            position: fixed;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .75);
          }
          &__buttons {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &__box {
            position: relative;
            z-index: 100000;
            background: var(--box-color);
            width: auto;
          }

          &__avatar {
            width: 3em;
            height: 3em;
            background-size: contain!important;
            background-repeat: no-repeat!important;
          }

          &__header {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em 0;
          }

          &__link {
            display: block;
            text-decoration: none;
            padding: .5em;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            text-align: center;
          }

          &__username {
            margin: 0 0 0 .5em;
            font-size: 1.25em;
            font-weight: 600;
          }
        }
        &__search {
          margin: 0 1em;
        }
      }
    }
  }
}
</style>
<script>
import { mapState } from 'vuex';
import ThemesPanel from '@/components/layout/ThemesPanel';
import TopNotificationsPanel from '@/components/layout/TopNotificationsPanel';
import TopFriendsPanel from '@/components/layout/TopFriendsPanel';
import SiteSearch from "@/components/layout/SiteSearch";

export default{
  components: {
    SiteSearch,
    TopNotificationsPanel,
    TopFriendsPanel,
    ThemesPanel
  },
  computed: mapState(
    [
      'userData',
      'tickets'
    ]
  ),
  mounted() {
    this.importantTicketModalVisible = this.tickets.tickets.important_messages_window_visible;
  },
  data() {
    return {
      importantTicketModalVisible: true,
      mobilePanelVisible: false,
      themesPanelVisible: false,
    }
  },
  methods: {
    onHideSearch() {
      this.mobilePanelVisible = false;
    },
    onHideNotificationsList() {
      this.mobilePanelVisible = false;
    },
    showAboutModal() {
      this.$emit('showAboutModal');
    },
    goAndCloseMenu(link) {
      this.$router.push(link);
      this.mobilePanelVisible = false;
    },
    logout() {
      this.$store.commit('LOGOUT_USER');
      this.$router.push('/');
    }
  }
}
</script>
