<template>
  <div id="video_players" class="detached-players">
    <TVPlayer :detached="!!player.detached" :id="'player_' + $id" :key="$id" :currentProgram="player.currentProgram" :channel="player.channel" :video="player.video" :project="player.project" :page="player.page" v-for="(player, $id) in players.list"  /> <!--  @changeprogram="onChangeProgram" -->
  </div>
</template>
<style lang="scss">
  .detached-players {

  }
</style>
<script>
  import TVPlayer from "@/components/players/TVPlayer";
  import { mapState } from 'vuex';
  export default{
    computed: {
      ...mapState(['players']),
    },
    mounted() {

    },
    components: {TVPlayer},
    data() {
      return {
      }
    }
  }
</script>
