<template>
   <div class="dashboard-page__design" ref="design_preview">
        <div class="dashboard-page__design__section">
          <div class="dashboard-page__design__section__inner">
            <div class="dashboard-page__design__section__inputs">
              <m-response :data="response" />
              <div class="box box--with-header">
                <div class="box__header">
                  <h3 class="dashboard-page__section-title dashboard-page__section-title--in-box">{{$t('dashboard.design.page._title')}}</h3>
                </div>
                <div class="box__inner">
                 <div v-if="ready" class="dashboard-page__design__section__row">
                    <div class="dashboard-page__design__section__title">{{$t('dashboard.design.page.logo')}}</div>
                    <div class="dashboard-page__design__section__input">
                      <m-filepicker :data="design.logo" @update="(path) => {design.logo.full_path = path; update()}" :id="id" folder="logos" v-model="design.logo.id" />
                    </div>
                  </div>
                  <div v-if="ready" class="dashboard-page__design__section__row">
                    <div class="dashboard-page__design__section__title">{{$t('dashboard.design.page.banner')}}</div>
                    <div class="dashboard-page__design__section__input">
                      <m-filepicker :data="design.banner" @update="(path) => {design.banner.full_path = path; update()}" :id="id"  folder="banners" v-model="design.banner.id" /></div>
                  </div>
                  <div v-if="ready" class="dashboard-page__design__section__row">
                    <div class="dashboard-page__design__section__title">{{$t('dashboard.design.page.background')}}</div>
                    <div class="dashboard-page__design__section__input">
                      <m-filepicker :data="design.background" @update="(path) => {design.background.full_path = path; update()}" :id="id"  folder="backgrounds" v-model="design.background.id" /></div>
                  </div>
                  <div class="dashboard-page__design__section__row">
                    <div class="dashboard-page__design__section__title">{{$t('dashboard.design.page._colors.texts')}}</div>
                    <div class="dashboard-page__design__section__input"><m-colorpicker v-model="colors[0]" /></div>
                  </div>
                  <div class="dashboard-page__design__section__row">
                    <div class="dashboard-page__design__section__title">{{$t('dashboard.design.page._colors.links')}}</div>
                    <div class="dashboard-page__design__section__input"><m-colorpicker v-model="colors[1]" /></div>
                  </div>
                  <div class="dashboard-page__design__section__row">
                    <div class="dashboard-page__design__section__title">{{$t('dashboard.design.page._colors.blocks_background')}}</div>
                    <div class="dashboard-page__design__section__input"><m-colorpicker v-model="colors[2]" /></div>
                  </div>
                  <div class="dashboard-page__design__section__row">
                    <div class="dashboard-page__design__section__title">{{$t('dashboard.design.page._colors.headers')}}</div>
                    <div class="dashboard-page__design__section__input"><m-colorpicker v-model="colors[3]" /></div>
                  </div>
                  <div class="dashboard-page__design__section__row">
                    <div class="dashboard-page__design__section__title">{{$t('dashboard.design.page._colors.background')}}</div>
                    <div class="dashboard-page__design__section__input"><m-colorpicker v-model="colors[7]" /></div>
                  </div>
                  <div class="dashboard-page__design__section__row">
                    <div class="dashboard-page__design__section__title">{{$t('dashboard.design.page._colors.buttons')}}</div>
                    <div class="dashboard-page__design__section__input"><m-colorpicker v-model="colors[10]" /></div>
                  </div>
                  <div class="dashboard-page__design__section__row">
                    <div class="dashboard-page__design__section__title">{{$t('dashboard.design.page._colors.buttons_texts')}}</div>
                    <div class="dashboard-page__design__section__input"><m-colorpicker v-model="colors[11]" /></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dashboard-page__design__section__page-mockup-container">
              <div v-if="ready" class="page-mockup dashboard-page__design__section__page-mockup">
                <div class="page-mockup__main" :style="design.background && design.background.id !== -1 ? 'background:url('+design.background.full_path+') no-repeat center center;background-size:cover;' : ''">
                  <div class="page-mockup__main__channel-banner" v-if="design.banner && design.banner.full_path" :style="'background:url('+design.banner.full_path+') no-repeat center center;background-size:contain;'"></div>
                  <div class="page-mockup__main__box">
                    <div class="page-mockup__main__header">
                      <div class="page-mockup__main__channel-logo" v-if="design.logo && design.logo.full_path" :style="'background:url('+design.logo.full_path+') no-repeat center center;background-size:contain;'"></div>
                      <div class="page-mockup__main__channel-name">{{itemData.name}}</div>
                    </div>
                    <div class="page-mockup__main__channel-description">
                      <span v-if="itemData.description && itemData.description.length>0" v-html="itemData.description"></span>
                      <span v-else v-html="mockupText"></span>
                    </div>
                    <div class="page-mockup__main__bottom">
                      <m-btn :color="colors[10]" :textcolor="colors[11]" class="page-mockup__main__button">{{$t('dashboard.design.page.button')}}</m-btn>
                      <a href="#" class="page-mockup__main__link">{{$t('dashboard.design.page.link')}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dashboard-page__design__section">
          <div class="dashboard-page__design__section__inner">
            <div class="dashboard-page__design__section__inputs">
              <div class="box box--with-header">
                <div class="box__header">
                  <h3 class="dashboard-page__section-title dashboard-page__section-title--in-box">{{$t('dashboard.design.player_and_chat._title')}}</h3>
                </div>
                <div class="box__inner">
                  <div v-if="ready" class="dashboard-page__design__section__row">
                    <div class="dashboard-page__design__section__title">{{$t('dashboard.design.player_and_chat.player_background')}}</div>
                    <div class="dashboard-page__design__section__input">
                      <m-filepicker :id="id" @update="(path) => {design.player_background.full_path = path; update()}" :data="design.player_background" folder="player_backgrounds" v-model="design.player_background.id" />
                    </div>
                  </div>
                  <div class="dashboard-page__design__section__row">
                    <div class="dashboard-page__design__section__title">{{$t('dashboard.design.player_and_chat._colors.panels')}}</div>
                    <div class="dashboard-page__design__section__input"><m-colorpicker v-model="colors[4]" /></div>
                  </div>
                  <div class="dashboard-page__design__section__row">
                    <div class="dashboard-page__design__section__title">{{$t('dashboard.design.player_and_chat._colors.texts')}}</div>
                    <div class="dashboard-page__design__section__input"><m-colorpicker v-model="colors[5]" /></div>
                  </div>
                  <div class="dashboard-page__design__section__row">
                    <div class="dashboard-page__design__section__title">{{$t('dashboard.design.player_and_chat._colors.buttons')}}</div>
                    <div class="dashboard-page__design__section__input"><m-colorpicker v-model="colors[6]" /></div>
                  </div>
                  <div class="dashboard-page__design__section__row">
                    <div class="dashboard-page__design__section__title">{{$t('dashboard.design.player_and_chat._colors.buttons_texts')}}</div>
                    <div class="dashboard-page__design__section__input"><m-colorpicker v-model="colors[12]" /></div>
                  </div>
                  <div class="dashboard-page__design__section__row">
                    <div class="dashboard-page__design__section__title">{{$t('dashboard.design.player_and_chat._colors.background')}}</div>
                    <div class="dashboard-page__design__section__input"><m-colorpicker v-model="colors[8]" /></div>
                  </div>
                  <div class="dashboard-page__design__section__row">
                    <div class="dashboard-page__design__section__title">{{$t('dashboard.design.player_and_chat._colors.inputs')}}</div>
                    <div class="dashboard-page__design__section__input"><m-colorpicker v-model="colors[9]" /></div>
                  </div>
                </div>
                <div  v-if="showSaveButton"  class="box__footer">
                  <m-btn :loading="isLoading" @click="saveDesign()">{{$t('global.save')}}</m-btn>
                </div>
              </div>
            </div>
            <div class="dashboard-page__design__section__page-mockup-container">
              <div v-if="ready" class="page-mockup dashboard-page__design__section__page-mockup" >
                <div class="page-mockup__player">
                  <div class="page-mockup__player__inner" :style="'background:url('+design.player_background.full_path+') no-repeat center center;background-size:contain;'">
                    <div class="page-mockup__player__play-icon">
                      <i class="material-icons">play_circle_outline</i>
                    </div>
                  </div>
                </div>
                <div class="page-mockup__chat">
                  <div class="page-mockup__chat__block">
                    <div class="page-mockup__chat__texts">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <div class="page-mockup__chat__panel" >
                    <div class="page-mockup__chat__input">...</div>
                    <div class="page-mockup__chat__button">...</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     <div class="dashboard-page__design__section" v-if="!channel.is_radio">
       <div class="dashboard-page__design__section__inner">
         <div class="dashboard-page__design__section__inputs">
           <div class="box box--with-header">
             <div class="box__header">
               <h3 class="dashboard-page__section-title dashboard-page__section-title--in-box">{{$t('dashboard.design.logos_editor._title')}}</h3>
             </div>
             <div class="box__inner">
               <LogosEditor v-if="ready" :channel="channel"/>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
</template>
<style lang="scss">
  .dashboard-page__design {
    &__section {
      margin: 0 0 1em;
      &__row {
        margin: 0 .5em;
      }
      &__inner {
        display: flex;
        align-items: flex-start;
        @media screen and (max-width: 768px) {
          flex-direction: column;
        }
      }

      &__inputs {
        flex: 3;
        margin: 0 1em 0 0;
        @media screen and (max-width: 768px) {
          width: 100%;
          margin: 0 0 1em;
        }
      }

      &__page-mockup-container {
        position: sticky;
        top: 0;
        flex: 1.5;
        @media screen and (max-width: 768px) {
          position: relative;
          width: 100%;
        }
      }

      &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  .page-mockup {
    &__main {
      background:var(--edit-channel-colors-7);
      padding:0;
      &__box{
        padding:1em;
        color:var(--edit-channel-colors-0);
        background:var(--edit-channel-colors-2);
      }
      &__header{
        display:flex;
        align-items:center;
      }
      &__channel-banner{
        height:3em;
        margin:.5em 0;
      }
      &__channel-logo{
        margin:0 .5em 0 0;
        width:3em;
        height:3em;
      }
      &__channel-name{
        font-weight:500;
        font-size:1.25em;
        color:var(--edit-channel-colors-3);
      }
      &__channel-description{
        margin:.5em 0;
      }
      &__bottom{
        display:flex;
        justify-content:space-between;
        align-items:center;
      }
      &__link{
        font-size:.875em;
        color:var(--edit-channel-colors-1)!important;
      }
    }
    &__player {
      background:var(--edit-channel-colors-8);
      &__inner{
        background-size:contain!important;
        display: flex;
        padding: 5em;
        align-items: center;
        justify-content: center;
      }
      &__play-icon i {
        font-size: 5em;
      }
    }
    &__chat {
      &__block{
        background:var(--edit-channel-colors-8);
      }
      &__texts {
        padding: 1em;
        & span {
          background:var(--edit-channel-colors-5);
          display: block;
          width: 100%;
          height: 5px;
          margin: 1em 0 0;
        }
      }
      &__panel {
        background:var(--edit-channel-colors-4);
        display: flex;
        justify-content: space-between;
        padding: 1em;
      }

      &__input {
        border-bottom:1px solid var(--edit-channel-colors-9);
        color:var(--edit-channel-colors-9);
        flex: 5;
      }

      &__button {
        cursor:pointer;
        transition:all .35s;
        flex: 1;
        text-align: center;
        margin: 0 0 0 15px;
        background:var(--edit-channel-colors-6);
        color:var(--edit-channel-colors-12);
        &:hover{
        }
      }
    }
  }
</style>
<script>
  import LogosEditor from "./LogosEditor";
  export default {
      components: {LogosEditor},
      props: {
        channel: {
          type: Object,
          required: true
        },
        showSaveButton: {
          type: [Boolean, Number],
          required: false,
          default: false,
        },
        initialData:{
          type: Object,
          required: true
        }
    },
    watch:{
      initialData(newData) {
        this.itemData = newData;
      },
      design: {
        handler(val) {
          this.update();
        },
        deep: true,
      },
      colors(newColors) {
        this.updateColorsVariables();
        this.update();
      }
    },
    data() {
      return {
        response:{
          status: -1,
          text: ''
        },
        isLoading: false,
        data: {},
        mockupText: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum',
        colors: this.initialData.colors,
        design: this.initialData.pictures_data || {},
        id: this.initialData.id || -1,
        ready: false,
        itemData: this.initialData,
      }
    },
    mounted() {
      let properties = ['logo','background','banner','player_background'];
      properties.forEach(property=>{
        if (!this.design[property]) {
          this.design[property] = {
            id: -1,
            full_path: null
          };
        }
      });
      this.ready = true;
      this.updateColorsVariables();
      this.update();
    },
    methods:{
      update() {
        this.$nextTick(() => {
          let data = {};
          Object.keys(this.design).forEach(item => {
            data[item] = this.design[item].id;
          });
          data.colors = this.colors;
          this.data = data;
          this.$emit('input', data);
        })
      },
      saveDesign() {
        this.isLoading = true;
        this.$axios.put('/channels/'+this.itemData.id, this.data).then(res=>{
          this.$emit('update', this.data);
          this.response = res.data;
          this.isLoading = false;
        })
      },
      updateColorsVariables() {
        this.colors.forEach((color,index)=>{
          this.$refs.design_preview.style.setProperty(`--edit-channel-colors-${index}`, color);
        })
      }
    },
  }
</script>
