<template>
  <div class="logos-editor">

    <m-modal v-model="deletePanel.visible">
      <div slot="main">
        <div class="modal__text">
          {{$t('global.are_you_sure')}}
        </div>
      </div>
      <div class="modal__buttons" slot="buttons">
        <div class="buttons-list">
          <m-btn :loading="deletePanel.isLoading" @click="deleteLogo()">{{$t('global.ok')}}</m-btn>
          <m-btn flat @click="deletePanel.visible = false">{{ $t('global.cancel')}}</m-btn>
        </div>
      </div>
    </m-modal>


    <div class="logos-editor__window__outer" ref="window">
      <div class="logos-editor__window__inner">
        <div class="logos-editor__window">
          <vue-draggable-resizable :w="initialPosition.width" :h="initialPosition.height" :x="initialPosition.x" :y="initialPosition.y" @dragging="onDrag" @resizing="onResize" v-if="activeLogo && activeLogo.picture  && logoVisible" :parent="true" :lock-aspect-ratio="true">
            <img class="logos-editor__active-picture" :src="activeLogo.picture.full_path"/>
          </vue-draggable-resizable>
        </div>
      </div>
    </div>
    <div class="logos-editor__save">
      <m-btn :loading="isSaving" class="btn--green" @click="save()">{{$t('global.save')}}</m-btn>
    </div>
    <div class="logos-editor__list">
      <m-preloader stroke-width="5" circle-width="5em" v-if="isLoading"  />
      <div v-if="!isLoading" @click="setLogo(logo, true)" :style="{backgroundImage: logo.picture ? `url(${logo.picture.full_path})` : ''}" class="logos-editor__item" :class="{'logos-editor__item--active': logo.is_active}" v-for="(logo, $index) in logos" :key="$index">
        <a @click="(e) => showDeleteWindow(e, logo)" class="logos-editor__item__delete" v-if="!logo.is_channel_logo">
          <i class="fa fa-times"></i>
        </a>
      </div>
      <div v-if="!isLoading" @click="uploadNewLogo()" class="logos-editor__item logos-editor__item--add">
        <i class="material-icons">library_add</i>
      </div>
    </div>
    <m-filepicker ref="filepicker" @upload="onUploadPicture" style="display:none" title="" :returnData="true" folder="logos" v-model="uploadedPicture" />
  </div>
</template>
<style lang="scss">
  .logos-editor {
    padding: 1em;
    &__active-picture {
      width: 100%;
      height: 100%;
    }
    &__window {
      position: relative;
      width: 100%;
      height: 100%;
      &__outer {
        position: relative;
        padding-top: 56.25%;
        background: url('/logo-preview.png') no-repeat center center;
        background-size: cover;
      }
      &__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    &__item {
      width: 6em;
      height: 6em;
      margin: 0 1em 0 0;
      background-size: 75% !important;
      background-position: center !important;
      background-repeat: no-repeat !important;
      background: rgba(255, 255, 255, .125);
      box-shadow: 0 0.5em 1em -0.25em rgba(255, 255, 255, .125);
      border-radius: .25em;
      cursor: pointer;
      transition: all .35s;
      position: relative;
      top: 0;
      &__delete {
        position: absolute;
        top: .5em;
        right: .5em;
        cursor: pointer;
        font-size: 1.25em;
        opacity: .5;
        transition: opacity .35s;
        &:hover {
          opacity: .85;
        }
      }
      &:hover {
        background: rgba(255, 255, 255, .25);
        box-shadow: 0 0.5em 1.5em 0.25em rgba(255, 255, 255, .125);
        top: -.25em;
      }

      &--active, &--active:hover {
        background: var(--active-color);
      }
      &--add {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--positive-color);
        i {
          font-size: 3em;
        }
        &:hover {
          background: var(--positive-color);
        }
      }
    }
    &__save {
      margin: 1em 0 0;
    }

    &__list {
      margin: 1em 0 0;
      display: flex;
    }
  }
</style>
<script>
  import VueDraggableResizable from 'vue-draggable-resizable'
  import 'vue-draggable-resizable/dist/VueDraggableResizable.css'

  export default  {
      props: {
          channel: {
              type: Object,
              required: true
          },
      },
      methods: {
          save() {
              if (this.activeLogo) {
                  let windowWidth = this.$refs.window.clientWidth;
                  let windowHeight = this.$refs.window.clientHeight;
                  let position = {
                      width: Math.floor(this.position.width / windowWidth * 10000) / 10000,
                      x: Math.floor(this.position.x / windowWidth * 10000) / 10000,
                      y: Math.floor(this.position.y / windowHeight * 10000) / 10000,
                  }
                  if (!position.width) {
                      position.width = 0.01;
                  }
                  if (!position.x) {
                      position.x = 0;
                  }
                  if (!position.y) {
                      position.y = 0;
                  }
                  console.log('set position', position, this.position, windowWidth, Math.floor(this.position.width / windowWidth * 10000));
                  this.isSaving = true;
                  this.$axios.post(`channels/${this.channel.id}/logos/set`, {
                      id: this.activeLogo.id,
                      is_channel_logo: this.activeLogo.is_channel_logo,
                      position
                  }).then(res => {
                      this.isSaving = false;
                      this.$store.commit('NEW_ALERT', res.data);
                      if (res.data.status) {
                          if (res.data.data && res.data.data.channel_logo_id) {
                              this.logos.forEach(logo => {
                                  if (logo.is_channel_logo) {
                                      logo.is_channel_logo = false;
                                      logo.id = res.data.data.channel_logo_id;
                                  }
                              })
                          }
                      }
                  })
              } else {
                  this.isSaving = true;
                  this.$axios.post(`channels/${this.channel.id}/logos/set`, {
                      unset: true
                  }).then(res => {
                      this.isSaving = false;
                      this.$store.commit('NEW_ALERT', res.data);
                  })
              }
          },
          onResize(x, y, width, height) {
              this.position = {
                  x,
                  y,
                  width,
                  height
              }
          },
          onDrag(x, y) {
              this.position.x = x;
              this.position.y = y;
          },
          deleteLogo() {
              this.deletePanel.isLoading = true;
              this.$axios.delete(`channels/${this.channel.id}/logos/${this.deletePanel.logo.id}`).then(res => {
                  this.$store.commit("NEW_ALERT", res.data);
                  if (res.data.status) {
                      this.deletePanel.isLoading = false;
                      this.deletePanel.visible = false;
                      this.logos.splice(this.logos.map(logoItem => logoItem.id).indexOf(this.deletePanel.logo.id), 1);
                  }
              })
          },
          showDeleteWindow(e, logo) {
              e.stopPropagation();
              this.deletePanel.logo = logo;
              this.deletePanel.visible = true;
          },
          onUploadPicture(picture) {
              this.$axios.post(`channels/${this.channel.id}/logos`, {
                  picture_id: picture.id
              }).then(res => {
                  if (res.data.status) {
                      this.logos.push(res.data.data.logo);
                  } else {
                      this.$store.commit('NEW_ALERT', res.data);
                  }
              })
          },
          uploadNewLogo() {
              this.$refs.filepicker.fileInputClick();
          },
          setLogo(logo, click = false) {
              if (this.activeLogo && click && (logo.id === this.activeLogo.id || logo.is_channel_logo && this.activeLogo.is_channel_logo)) {
                  this.logos.forEach(logoItem => {
                      this.$set(logoItem, 'is_active', false);
                  })
              } else {
                  if (!logo.picture) {
                      return;
                  }
                  this.logoVisible = false;
                  let img = new Image();
                  img.onload = () => {
                      let windowWidth = this.$refs.window.clientWidth;
                      let windowHeight = this.$refs.window.clientHeight;
                      if (logo.position) {
                          this.position = {
                              width: logo.position.width * windowWidth,
                              height: logo.position.width * (img.height / img.width) * windowWidth,
                              x: logo.position.x * windowWidth,
                              y: logo.position.y * windowHeight,
                          };
                          this.initialPosition = JSON.parse(JSON.stringify(this.position));
                      } else {
                          this.initialPosition = {
                              width: 0.05 * windowWidth,
                              height: 0.05 * (img.height / img.width) * windowWidth,
                              x: 0.01 * windowWidth,
                              y: 0.01 * windowHeight,
                          }
                      }
                      this.logos.forEach(logoItem => {
                          this.$set(logoItem, 'is_active', logoItem.id === logo.id);
                      })
                      this.logoVisible = true;
                  }
                  img.src = logo.picture.full_path;
              }
          }
      },
      computed: {
          activeLogo() {
              return this.logos.filter(logo => logo.is_active)[0];
          },
      },
      data() {
          return {
              isSaving: false,
              position: {},
              initialPosition: {
                  width: 120,
                  height: 120,
                  x: 10,
                  y: 10
              },
              logoVisible: false,
              uploadedPicture: null,
              logos: [],
              isLoading: true,
              deletePanel: {
                  visible: false,
                  isLoading: false,
                  logo: null
              }
          }
      },
      async mounted() {
          let logos = (await this.$axios.get(`channels/${this.channel.id}/logos/`));
          this.logos = logos.data.data.list;
          this.isLoading = false;
          if (this.activeLogo) {
              this.setLogo(this.activeLogo);
          }
      },
      components: {
          VueDraggableResizable
      }
  }
</script>
