<template>
  <div class="videos-manager">
    <input @change="onFileInputChange" type="file" style="display:none" multiple ref="fileInput"/>

    <statisticsBlock v-if="statistics.video" v-model="statistics.visible" :module="`videos`" :materialid="statistics.video.id"/>

    <m-modal :header="$t('dashboard.videos.delete._title')" v-model="videoDeleteModal.visible">
      <div slot="main">
        <div class="modal__text">{{$t('dashboard.videos.delete._text')}}</div>
      </div>
      <div class="modal__buttons" slot="buttons">
        <div class="buttons-list">
          <m-btn @click="confirmVideoDelete()" :loading="videoDeleteModal.isLoading">{{$t('global.ok')}}</m-btn>
          <m-btn flat @click="videoDeleteModal.visible = false" >{{$t('global.cancel')}}</m-btn>
        </div>
      </div>
    </m-modal>

    <m-modal :header="$t('dashboard.videos.mass_delete._title')" v-model="videosMassDeleteModal.visible">
      <div slot="main">
        <div class="modal__text">
          {{$t('dashboard.videos.mass_delete._text', {number: selectedItems.length})}}
        </div>
      </div>
      <div class="modal__buttons" slot="buttons">
        <div class="buttons-list">
          <m-btn @click="massDelete()" :loading="videosMassDeleteModal.isLoading">{{$t('global.ok')}}</m-btn>
          <m-btn flat @click="videosMassDeleteModal.visible = false" >{{$t('global.cancel')}}</m-btn>
        </div>
      </div>
    </m-modal>

    <m-modal :header="$t('dashboard.videos.mass_move._title')" v-model="videosMassMoveModal.visible">
      <div slot="main">
        <div class="modal__text">
          <div class="modal__input-container">
            <m-select :title="$t('dashboard.videos.mass_move.select_folder')" :options="foldersToMoveTo" v-model="videosMassMoveModal.folder_id" />
          </div>
        </div>
      </div>
      <div class="modal__buttons" slot="buttons">
        <div class="buttons-list">
          <m-btn @click="massMove()" :loading="videosMassMoveModal.isLoading">{{$t('global.ok')}}</m-btn>
          <m-btn flat @click="videosMassMoveModal.visible = false" >{{$t('global.cancel')}}</m-btn>
        </div>
      </div>
    </m-modal>


    <div class="videos-manager__inner" >
       <div class="videos-manager__main-block" >

          <div v-if="canUploadInThisFolder" class="video-add" :class="{'video-add--not-empty': videoAddModal.items.length > 0}">
            <div class="video-add__header">
              <m-tabs small :data="tabs" v-model="currentTab"/>
              <div v-if="currentTab === 'local'" class="video-add__local">
                <m-btn class="btn--green" icon="attach_file"  @click="openFilePicker()">{{$t('dashboard.videos.add_files')}}</m-btn>
              </div>
              <div v-else-if="currentTab === 'external'" class="video-add__external">
                <div class="video-add__external__input">
                  <m-input autoSize v-model="externalVideo.url" :title="$t('dashboard.videos.external_address')"/>
                </div>
                <div class="video-add__external__button">
                  <m-btn :loading="externalVideo.isLoading" @click="addExternalVideo()" :disabled="externalVideo.url.length === 0">{{$t('global.add')}}</m-btn>
                </div>
              </div>
            </div>
            <div class="video-add__items">
              <div class="video-add__item" :key="$index" v-for="(item, $index) in uploadingFilesList">
                <a class="video-add__item__delete" @click="deleteUploadingFile(item)">
                  <i class="fa fa-times"></i>
                </a>
                <VideoEditPanel :namesCache="namesCache" :add="true" :data="uploadingFilesList[$index]" v-model="uploadingFilesList[$index].data"/>
                <div v-if="item.is_uploading_external &&  !item.error" class="video-add__item__converting">
                  <m-preloader stroke-width="3" circle-width="1em"  />
                  <span class="video-add__item__converting__text">
                    {{$t('dashboard.videos.external_uploading')}}
                  </span>
                </div>
                <div v-else-if="item.is_uploading && !item.is_converting && !item.error" class="video-add__item__upload-progress">
                  <div class="video-add__item__upload-progress__bar">
                    <div class="video-add__item__upload-progress__bar__text">{{item.upload_percent}}%</div>
                    <div class="video-add__item__upload-progress__bar__inner" :style="{width: item.upload_percent + '%'}"></div>
                  </div>
                </div>
                <div v-else-if="item.is_converting && !item.error"  class="video-add__item__converting">
                  <m-preloader stroke-width="3" circle-width="1em"  />
                  <span class="video-add__item__converting__text">
                    {{$t('dashboard.videos.converting')}}
                  </span>
                </div>
                <div v-else-if="item.error" class="video-add__item__error">
                  <span class="video-add__item__error__icon">
                    <i class="material-icons">warning</i>
                    <span class="video-add__item__error__tooltip">{{$t(item.error.text)}}</span>
                  </span>
                  <span @click="tryReupload(item)" class="video-add__item__error__reload">
                    <i class="material-icons">cached</i>
                  </span>
                </div>
              </div>
            </div>
            <div class="video-add__buttons" v-show="uploadingFilesList.length > 0">
              <m-btn v-if="uploadingFilesList.length > 0" @click="startUpload()" faIcon="file-video" class="btn--green">{{$t('dashboard.videos.start_upload')}}</m-btn>
            </div>
          </div>

        <div class="videos-manager__items-container__outer">
          <div class="videos-manager__items-container">
            <div class="videos-manager__header-container">
              <div class="videos-manager__header">
                <div class="videos-manager__breadcrumbs" >
                  <a class="videos-manager__breadcrumb" @click="goBreadcrumb(null, null)">{{$t('dashboard.videos._title')}} / </a>
                  <a class="videos-manager__breadcrumb" :class="{'videos-manager__breadcrumb--active': $index === folders.length - 1}" :key="$index" v-for="(item, $index) in folders" @click="goBreadcrumb(item, $index)">{{item.title}} / </a>
                </div>
                <div class="videos-manager__header__right">
                  <div class="videos-manager__header__buttons">
                    <div class="videos-manager__header__view-change">
                      <a @click="currentView = 'grid'" class="videos-manager__header__view-change__item" :class="{'videos-manager__header__view-change__item--active': currentView === 'grid'}">
                        <i class="fa fa-th-large"></i>
                      </a>
                      <a @click="currentView = 'list'" class="videos-manager__header__view-change__item" :class="{'videos-manager__header__view-change__item--active': currentView === 'list'}">
                        <i class="fa fa-list-ul"></i>
                      </a>
                    </div>
                    <div class="buttons-list">
                      <m-btn @click="folderModal.isEditing = false; folderModal.visible = true" icon="folder_special" >{{$t('dashboard.videos.add_folder')}}</m-btn>
                    </div>
                  </div>
                </div>

              </div>
              <div class="videos-manager__search">
                <m-input @change="loadSearch()" icon="search" autoSize :title="$t('search._title')" v-model="searchData.search"/>
                <div class="videos-manager__sort">
                  <m-select :title="''" :options="sortOptions" v-model="searchData.sort"></m-select>
                </div>
              </div>
            </div>
            <div class="videos-manager__items-inner" @drop="onDrop" @dragover.prevent="onDragStatusChange(true)" @dragleave="onDragStatusChange(false)">
              <div v-if="isLoading || isLoadingInitial" class="page-preloader">
                <m-preloader stroke-width="5" circle-width="5em"  />
              </div>
              <div v-show="isDragging" class="videos-manager__dragover-panel">
                <div class="videos-manager__dragover-panel__title">{{$t('dashboard.videos.dragover_title')}}</div>
              </div>
              <div v-dragula="getItems" ref="itemsList" class="videos-manager__items" :class="'videos-manager__items--'+currentView" drake="main">
                <div v-if="folders.length > 0" class="videos-manager__item__outer" data-info="{_isBackFolder: true}" :class="'videos-manager__item__outer--'+currentView" :style="{width:  (100 / itemsInRow) + '%'}" >
                  <div  @click="goBack()" class="videos-manager__item videos-manager__item--folder videos-manager__item--folder-back">
                    <div class="videos-manager__item__top">
                      <div class="videos-manager__item__icon">
                        <i class="material-icons">arrow_back</i>
                      </div>
                    </div>
                    <div class="videos-manager__item__title">
                      {{$t('dashboard.videos.back')}}
                    </div>
                  </div>
                </div>
                <div  class="videos-manager__item__outer" :class="'videos-manager__item__outer--'+currentView" :style="{width:  (100 / itemsInRow) + '%'}" :data-info="JSON.stringify(item.stringable)"  v-for="(item, $index) in getItems" :key="$index">
                  <div v-if="item._type === 'projects'"   class="videos-manager__item videos-manager__item--project">
                    <div @click="goToProject(item)" class="videos-manager__item__top">
                      <div class="videos-manager__item__top__icon">
                        <i class="material-icons">folder_open</i>
                      </div>
                      <div class="videos-manager__item__picture" :style="'background: url('+item.logo+') no-repeat center center; background-size: contain;'"></div>
                    </div>
                    <div @click="goToProject(item)" class="videos-manager__item__title">
                      {{item.name}}
                    </div>
                  </div>
                  <div v-else-if="item._type === 'folders'"  :drake="'folder_'+item.id"  class="videos-manager__item videos-manager__item--folder">
                    <div class="videos-manager__item__top">
                      <div @click="goToFolder(item)"  class="videos-manager__item__icon">
                        <i class="material-icons">folder_open</i>
                      </div>
                      <div class="videos-manager__item__buttons">
                        <div v-if="item.can_edit" @click="openFolderEditingPanel(item)" class="videos-manager__item__button">
                          <i class="fa fa-edit"></i>
                        </div>
                        <div v-if="item.can_edit"  @click="folderDeleteModal.item = item; folderDeleteModal.visible = true;" class="videos-manager__item__button">
                          <i class="fa fa-times"></i>
                        </div>
                      </div>
                    </div>
                    <div  @click="goToFolder(item)" class="videos-manager__item__title">
                      {{item.title}}
                    </div>
                  </div>

                  <div v-else class="videos-manager__item videos-manager__item--selectable" :class="{'videos-manager__item--selected': item._selected, 'videos-manager__item--uploading': item.is_uploading}">
                    <div class="videos-manager__item__top">
                      <div class="videos-manager__item__select-handle">
                        <m-checkbox @click.native="selectVideo(item)" v-model="item._selected" />
                      </div>
                      <div class="videos-manager__item__preload-icon">
                        <i class="fa fa-film"></i>
                      </div>
                      <div class="videos-manager__item__buttons">
                        <div @click="openPreviewPanel(item)" class="videos-manager__item__button">
                          <i class="fa fa-play"></i>
                        </div>
                        <div v-if="item.can_view_stats" @click="openStatisticsPanel(item)" class="videos-manager__item__button">
                          <i class="fas fa-chart-area"></i>
                        </div>
                        <div v-if="item.can_edit" @click="openEditingPanel(item)" class="videos-manager__item__button">
                          <i class="fa fa-edit"></i>
                        </div>
                        <div v-if="item.can_edit"  @click="deleteVideo(item)" class="videos-manager__item__button">
                          <i class="fa fa-times"></i>
                        </div>
                      </div>

                      <div @click="selectItem(item)" v-if="!item.is_uploading" class="videos-manager__item__picture" :style="'background: url('+item.screenshot+') no-repeat center center; background-size: contain;'"></div>
                      <div v-else-if="item.is_uploading && !item.error && !item.is_converting" class="videos-manager__item__upload-progress">
                        <div class="videos-manager__item__upload-progress__text">{{item.upload_percent}}%</div>
                        <div class="videos-manager__item__upload-progress__bar">
                          <div class="videos-manager__item__upload-progress__bar__inner" :style="{width: item.upload_percent + '%'}"></div>
                        </div>
                      </div>
                      <div v-else-if="!item.error" class="videos-manager__item__converting">
                        <m-preloader stroke-width="3" circle-width="3em"  />
                      </div>
                      <div v-else class="videos-manager__item__error">
                        <span class="videos-manager__item__error__icon">
                          <i class="material-icons">warning</i>
                          <span class="videos-manager__item__error__tooltip">{{$t(item.error.text)}}</span>
                        </span>
                        <span @click="tryReupload(item)" class="videos-manager__item__error__reload">
                          <i class="material-icons">cached</i>
                        </span>
                      </div>
                    </div>
                    <div class="videos-manager__item__title-container">
                      <div class="videos-manager__item__title">
                        {{item.data ? item.data.title : item.title}}
                      </div>
                      <div class="videos-manager__item__info">
                        <span v-if="item.length > 0" class="videos-manager__item__param">
                          <i class="material-icons">access_time</i>
                          <span class="videos-manager__item__param__text">{{getReadableTime(item.length)}}</span>
                        </span>
                        <span v-if="item.views" class="videos-manager__item__param">
                          <i class="material-icons">visibility</i>
                          <span class="videos-manager__item__param__text">{{item.views}}</span>
                        </span>
                        <span v-if="item.add_time_readable" class="videos-manager__item__param">
                          <i class="material-icons">calendar_today</i>
                          <span class="videos-manager__item__param__text">{{item.add_time_readable}}</span>
                        </span>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="videos-manager__bottom-panel">
              <div class="videos-manager__folder-size">
                <div class="videos-manager__folder-size__occupied">{{bytesToGB(data.space_occupied)}}</div>
                <div class="videos-manager__folder-size__bar">
                  <div :style="{width:(data.space_occupied/data.space_total*100)+'%'}" class="videos-manager__folder-size__bar__occupied"></div>
                </div>
                <div class="videos-manager__folder-size__total">{{bytesToGB(data.space_total)}}</div>
              </div>
              <div  v-if="selectedItems.length > 0" class="videos-manager__buttons">
                <div class="buttons-list">
                  <m-btn @click="videosMassMoveModal.visible = true">{{$t('dashboard.videos.actions.move_to_folder')}}</m-btn>
                  <m-btn class="btn--delete" @click="videosMassDeleteModal.visible = true">{{$t('dashboard.videos.actions.delete')}}</m-btn>
                  <m-btn flat @click="unselect()">{{$t('global.cancel')}}</m-btn>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <m-modal class="video-preview" v-model="videoPreviewPanel.visible" :header="''">
      <div slot="main" v-if="videoPreviewPanel.item">
        <div class="video-preview__player-container">
          <TVPlayer :page="{type: 'dashboard', id: channel.id}"  :video="videoPreviewPanel.item" :channel="channel"/>
        </div>
      </div>
    </m-modal>

    <m-modal v-model="videoEditPanel.visible" :header="''">
      <div slot="main" v-if="videoEditPanel.item">
        <div class="video-edit">
          <div class="video-edit__panel">
            <m-response :data="videoEditPanel.response"/>
            <VideoEditPanel v-model="videoEditPanel.item"/>
            <div class="video-edit__panel__buttons">
              <div class="buttons-list">
                <m-btn :loading="videoEditPanel.isSaving" @click="saveEditedVideo()">{{$t('global.save')}}</m-btn>
                <m-btn @click="videoEditPanel.visible = false" class="btn--delete">{{$t('global.cancel')}}</m-btn>
              </div>
            </div>
          </div>
        </div>
      </div>
    </m-modal>

    <m-modal v-model="folderModal.visible" :header="''">
      <div slot="main">
        <m-response :data="folderModal.response"/>
        <div class="modal__input-container">
          <m-input :placeholder="$t('dashboard.videos.folders.title')" :errors="folderModal.errors.title" v-model="folderModal.item.title" />
        </div>
        <div class="modal__input-container">
          <m-checkbox :title="$t('dashboard.videos.folders.invisible')"  v-model="folderModal.item.invisible"/>
        </div>
      </div>
      <div slot="buttons">
        <div class="buttons-list">
          <m-btn :loading="folderModal.isSaving" @click="saveFolder()">{{$t('global.save')}}</m-btn>
          <m-btn @click="folderModal.visible = false" class="btn--delete">{{$t('global.cancel')}}</m-btn>
        </div>
      </div>
    </m-modal>

    <m-modal v-model="folderDeleteModal.visible" :showCloseButton="false" :header="''">
      <div slot="main">
        <div class="modal__text"> {{$t('dashboard.videos.folders.confirm_deletion')}}</div>
      </div>
      <div slot="buttons">
        <div class="buttons-list">
          <m-btn :loading="folderDeleteModal.isLoading" @click="deleteFolder()">{{$t('global.ok')}}</m-btn>
          <m-btn @click="folderDeleteModal.visible = false" class="btn--delete">{{$t('global.cancel')}}</m-btn>
        </div>
      </div>
    </m-modal>

  </div>
</template>
<script>
  import Selection from '@/functions/selection/selection.js';
  import statisticsBlock from '@/components/blocks/statisticsBlock';
  import getReadableTime from '~/functions/getReadableTime.js';
  import TVPlayer from '@/components/players/TVPlayer';
  import VideoEditPanel from '@/components/blocks/dashboard/VideoEditPanel';
  import ResizableRow from '@/components/elements/resizable/ResizableRow';
  import ResizableRowChild from '@/components/elements/resizable/ResizableRowChild';
  import ResizableRowBar from '@/components/elements/resizable/ResizableRowBar';
  import isMobile from '~/functions/isMobile.js';
  let ResizeSensor = require('css-element-queries/src/ResizeSensor');
  let tus = require("tus-js-client");
  export default {
    components: {
      statisticsBlock,
      ResizableRow,
      ResizableRowChild,
      ResizableRowBar,
      VideoEditPanel,
      TVPlayer,
    },
    created() {

    },
    async mounted() {
      if (!this.initialData) {
        await this.load();
      } else {
        this.data = this.initialData.data;
        this.$nextTick(() => {
          this.setCaches();
        })
      }
      if (!this.inScheduler) {
        this.enableSelection();
      }
      if (!this.isMobile) {
        this.itemsInRow = Math.ceil(this.$refs.itemsList.offsetWidth / 300);
        new ResizeSensor(this.$refs.itemsList, (e) => {
          console.log('width', e.width);
          this.itemsInRow = Math.ceil(e.width / 300);
        });
      }
      this.isLoadingInitial = false;

      this.$echo.private(`App.User.${this.$store.state.userData.id}`)
        .listen('.channel.video_convert_fail', (e) => {
          this.onVideoConvertFail(e);
        })
        .listen('.channel.video_converted', (e) => {
          console.log(e);
          this.onVideoConverted(e);
        })
    },
    computed: {
      sortOptions() {
        return [
          {
            name: this.$t('dashboard.videos.sort.date_desc'),
            value: 'date_desc'
          },
          {
            name: this.$t('dashboard.videos.sort.date_asc'),
            value: 'date_asc'
          },
          {
            name: this.$t('dashboard.videos.sort.views_desc'),
            value: 'views_desc'
          }
        ];
      },
      canUploadInThisFolder() {
        if (this.currentFolderId > 0) {
          return this.rightsCache.folders[this.currentFolderId]
        }
        if (this.currentProjectId > 0) {
          return this.rightsCache.projects[this.currentProjectId]
        }
        return true;
      },
      foldersToMoveTo() {
        if (!this.data.folders) {
          return [];
        }
        let folders = this.data.folders.filter(folder => folder.can_edit).map(folder => {
          return {
            name: folder.title,
            value: folder.id,
          }
        });
        folders = folders.concat(this.data.projects.map(project => {
          return {
            name: project.name,
            value: -1 * project.id,
          }
        }));
        if (this.currentFolderId) {
          folders.unshift({
            name: this.$t('dashboard.videos.mass_move.main_folder'),
            value: -1
          })
        }
        return folders;
      },
      tabs() {
       return [
          {id: 'local', name: this.$t('dashboard.videos._tabs.local')},
          {id: 'external', name: this.$t('dashboard.videos._tabs.external')},
        ];
      },
    //  selectedItems() {
    //    let items = this.getItems.filter(item => item._selected);
    //    return items;
    //  },
      getItems() {
        let data = this.data;
        let items = [];
        if (!data || !data.projects) {
          return [];
        }
        if (this.searchData.list) {
          data = this.searchData.list;
        }
        data.projects.forEach(project => {
          project._type = 'projects';
          project.stringable = {
            is_folder: true,
            is_project: true,
            video_folder_id: -1 * project.id,
            title: project.name,
          };
          items.push(project);
        });
        data.folders.forEach(folder => {
          folder._type = 'folders';
          folder.stringable = {
            is_folder: true,
            is_project: false,
            video_folder_id: folder.id,
            title: folder.title,
          };
          items.push(folder);
        });
        let selectedIDs = this.selectedItems.map(video => video.id);
        data.videos.forEach(video => {
          if (!this.filterServerOnly || video.is_on_server) {
              video._type = 'videos';
              video._selected = selectedIDs.indexOf(video.id) !== -1;
              video.stringable = {
                _selected: video._selected,
                video_id: video.id,
                title: video.title,
                length: video.length
              };
              items.push(video);
          }
        });
        return items;
      }
    },
    watch: {
      "searchData.sort"(newSort) {
        this.load();
      },
      currentView(newView) {
        localStorage.currentView = newView;
      },
      currentFolderId() {
        this.searchData.list = null;
        this.searchData.search = '';
        this.load();
      },
      currentProjectId() {
        this.searchData.list = null;
        this.searchData.search = '';
        this.load();
      }
    },
    data() {
      return {
        selectedItems: [],
        selection: null,
        searchData: {
          search: '',
          list: null,
        },
        rightsCache: {
          folders: {},
          projects: {}
        },
        namesCache: {
          folders: {},
          projects: {}
        },
        isMobile: isMobile(),
        currentView: localStorage.currentView || "list",
        statistics: {
          visible: false,
          video: null
        },
        isDragging: false,
        currentTab: 'local',
        data: {},
        isLoading: false,
        isLoadingInitial: true,
        currentProjectId: null,
        currentFolderId: null,
        folders: [],
        folderDroppedItems: {},
        folderDeleteModal: {
          visible: false,
          item: null,
          isLoading: false,
        },
        folderModal: {
          response: null,
          isEditing: false,
          isSaving: false,
          visible: false,
          errors: {},
          item: {}
        },
        videoPreviewPanel: {
          visible: false,
          item: null
        },
        videoEditPanel: {
          isSaving: false,
          response: null,
          visible: false,
          id: null,
          item: null,
          errors: {},
        },
        videosMassMoveModal: {
          folder_id: -1,
          isLoading: false,
          visible: false,
        },
        videosMassDeleteModal: {
          isLoading: false,
          visible: false,
        },
        videoDeleteModal: {
          item: null,
          isLoading: false,
          visible: false,
        },
        uploadingFilesList: [],
        notEnoughSpace: {
          active: false,
          modalVisible: false,
        },
        globalInvisible: false,
        videoAddModal: {
          visible: true,
          items: [],
        },
        fastMode: false,
        externalVideo: {
          url: '',
          isLoading: false,
        },
      }
    },
    props: {
      inScheduler: {
        type: Boolean,
        required: false
      },
      initialData: {
        type: [Object, Array],
        required: false,
      },
      filterServerOnly: {
        type: Boolean,
        required: false,
      },
      canAdd: {
        type: Boolean,
        required: false,
        default: true,
      },
      channel: {
        type: [Object],
        required: true
      }
    },
    methods: {
      unselect() {
        this.selectedItems = [];
      },
      selectVideo(video) {
        let ids = this.selectedItems.map(video => video.id);
        if (ids.indexOf(video.id) !== -1) {
          this.selectedItems.splice(ids.indexOf(video.id), 1);
        } else {
          this.selectedItems.push(video);
        }
      },
      enableSelection() {
        let vm = this;
        const options = {
          selectables: ['.videos-manager__item--selectable'],
          class: 'selection-area',
          startThreshold: 10,
          disableTouch: false,
          mode: 'touch',
          singleClick: true,
          startareas: ['.videos-manager__items-inner'],
          boundaries: ['.videos-manager__items-inner'],
          selectionAreaContainer: 'body',
          scrollSpeedDivider: 10,
          validateStart(evt) {
            return true;
            return evt.path[0].classList.contains('audio-track__col--main');
          },
          onSelect(evt) {
            const selected = evt.target.classList.contains('videos-manager__item--selected') || evt.target.classList.contains('videos-manager__item--selected-with-area');
            if (!evt.originalEvent.ctrlKey && !evt.originalEvent.metaKey) {
              evt.selectedElements.forEach(s => s.classList.remove('videos-manager__item--selected-with-area'));
              this.clearSelection();
            }

            if (!selected) {
              evt.target.classList.add('videos-manager__item--selected-with-area');
              this.keepSelection();
            } else {
              evt.target.classList.remove('videos-manager__item--selected');
              this.removeFromSelection(evt.target);
            }
          },

          onStart({selectedElements, originalEvent}) {
            if (!originalEvent.ctrlKey && !originalEvent.metaKey) {
              selectedElements.forEach(s => s.classList.remove('videos-manager__item--selected-with-area'));
              this.clearSelection();
            }
          },

          onMove({selectedElements, changedElements}) {
            selectedElements.forEach(s => s.classList.add('videos-manager__item--selected-with-area'));
            changedElements.removed.forEach(s => s.classList.remove('videos-manager__item--selected-with-area'));
          },

          onStop(e) {
            let elements = e.selectedElements;
            let videos = elements.filter(element => element.parentElement && element.parentElement.dataset && element.parentElement.dataset.info).map(element => JSON.parse(element.parentElement.dataset.info));
            videos.forEach(video => {
              video.id = video.video_id;
            });
            let ids = videos.map(video => video.video_id);
            vm.selectedItems = videos;

            let allVideos = vm.data.videos;
            allVideos.forEach(video => {
              vm.$set(video, '_selected', (ids.indexOf(video.id) !== -1));
            });
            vm.$forceUpdate();

            this.keepSelection();
          }
        };
        this.selection = Selection.create(options);
      },
      loadSearch() {
        let data = {
          search: this.searchData.search
        };
        if (this.currentFolderId > 0) {
          data.folder_id = this.currentFolderId;
        } else {
          if (this.currentProjectId > 0) {
            data.project_id = this.currentProjectId;
          }
        }
        data.sort_order = this.searchData.sort;
        this.isLoading = true;
        this.$axios.post(`videos/filemanager/${this.channel.id}`, data).then (res => {
          this.searchData.list = res.data.data;
          this.isLoading = false;
          this.$nextTick(() => {
            this.setCaches();
          })
        })
      },
      setCaches() {
        this.data.folders.forEach(folder => {
          let name =  folder.folder_name ?  folder.folder_name : folder.title;
          this.$set(this.rightsCache.folders, folder.id, folder.can_edit);
          this.$set(this.namesCache.folders, folder.id, name);
        });
        this.data.projects.forEach(project => {
          this.$set(this.rightsCache.projects, project.id, project.can_edit);
          this.$set(this.namesCache.projects, project.id, project.name);
        });
      },
      selectItem(item) {
        this.$set(item, '_selected', !item._selected);
      },
      onDragStatusChange(status) {
        this.isDragging = status;
      },
      onDrop(e) {
        this.isDragging = false;
        if (e.dataTransfer && e.dataTransfer.files) {
          Array.from(e.dataTransfer.files).forEach(file => this.addToUpload(file));
        }
        e.preventDefault();
      },
      massMove() {
        this.videosMassMoveModal.isLoading = true;
        let ids = this.selectedItems.map(item => item.id);
        let folder_id = this.videosMassMoveModal.folder_id;
        let data = {action: 'move', ids};
        if (folder_id > 0 || folder_id === -1) {
          data.folder_id = folder_id;
        } else {
          data.project_id = -1 * folder_id;
        }
        this.$axios.post(`videos/batch`, data).then (res => {
          this.videosMassMoveModal.isLoading = false;
          this.$store.commit('NEW_ALERT', res.data);
          if (res.data.status) {
            this.data.videos = this.data.videos.filter(video => ids.indexOf(video.id) === -1);
            this.videosMassMoveModal.visible = false;
            this.selectedItems = [];
          }
        })
      },
      massDelete() {
        this.videosMassDeleteModal.isLoading = true;
        let ids = this.selectedItems.map(item => item.id);
        this.$axios.post(`videos/batch`, {action: 'delete', ids}).then (res => {
          this.videosMassDeleteModal.isLoading = false;
          this.$store.commit('NEW_ALERT', res.data);
          if (res.data.status) {
            this.data.videos = this.data.videos.filter(video => ids.indexOf(video.id) === -1);
            this.videosMassDeleteModal.visible = false;
            this.selectedItems = [];
          }
        })
      },
      deleteUploadingFile(video) {
        if (video.upload) {
          video.upload.abort();
        }
        if (video.upload_id) {
          this.$axios.delete(`videos/upload/${video.upload_id}`).then(res => {
            if (res.data.status) {
              this.uploadingFilesList = this.uploadingFilesList.filter(file => file.upload_id !== video.upload_id);
            } else {
              this.$store.commit('NEW_ALERT', res.data);
            }
          })
        } else {
          this.uploadingFilesList.splice(this.uploadingFilesList.indexOf(video), 1);
        }
      },
      onVideoConverted(res) {
        this.uploadingFilesList = this.uploadingFilesList.filter(item => item.upload_id !== res.point.id);
        if (this.isInCurrentFolder(res.video)) {
          res.video.can_edit = true;
          res.video.can_view_stats = true;
          this.data.videos.unshift(res.video);
        }
      },
      onVideoConvertFail(res) {
        let upload =  this.uploadingFilesList.filter(item => item.upload_id === res.point.id)[0];
        if (upload) {
          this.$set(upload, 'error', res.error);
        }
        this.$store.commit('NEW_ALERT', res.error);
      },
      async addExternalVideo() {
        if (this.externalVideo.url.length > 0) {
          this.externalVideo.isLoading = true;
          let res = (await this.$axios.post(`videos/external`, {url: this.externalVideo.url})).data;
          this.externalVideo.isLoading = false;
          if (res.status) {
            this.uploadingFilesList.push({
              data: {
                folder_id: this.currentFolderId,
                project_id: this.currentProjectId,
                channel_id: this.channel.id,
                title: res.data.title,
                picture: res.data.preview,
                external_url: res.data.external_url,
                external_data: res.data
              },
              is_uploading: false,
              upload_status: 'STATUS_NOT_STARTED',
              upload_percent: 0,
              error: null,
              is_external: true,

            })
          } else {
            this.$store.commit('NEW_ALERT', res);
          }
        }
      },
      tryReupload(item) {
        this.$delete(item, 'error');
        if (item.upload_ready) {
          this.afterUpload(item);
        } else {
          this.uploadFile(item);
        }
      },
      async afterUpload(video) {
        video.upload_status = "STATUS_PROCESSING";
        video.upload_ready = true;
        let server_upload_id = video.upload.url.split("/");
        server_upload_id = server_upload_id[server_upload_id.length - 1];
        let uploadResponse = (await this.$axios.post(`videos/upload/${video.upload_id}/ready`, {server_upload_id})).data;
        if (uploadResponse.status) {
          if (uploadResponse.data.converting) {
            video.upload_status = "STATUS_CONVERTING";
            this.$set(video, 'is_converting', true);
          } else {
            this.uploadingFilesList = this.uploadingFilesList.filter(videoItem => (videoItem && video && videoItem.upload_id !== video.upload_id));
            let video = uploadResponse.data.video;
            video.can_edit = true;
            video.can_view_stats = true;
            if (!this.data.videos) {
              this.data.videos = [];
            }
            if (this.isInCurrentFolder(video)) {
              this.data.videos.unshift(video);
            }
          }
        } else {
          this.$store.commit('NEW_ALERT', uploadResponse);
          if (uploadResponse.error_fatal) {
            this.uploadingFilesList = this.uploadingFilesList.filter(videoItem => videoItem.upload_id !== video.upload_id);
          } else {
            video.error = uploadResponse;
          }
        }
      },
      isInCurrentFolder(video) {
        return (video.folder_id === this.currentFolderId && video.folder_id > 0) || (video.project_id === this.currentProjectId && video.project_id > 0) || (!this.currentFolderId && !this.currentProjectId && !video.folder_id && !video.project_id);
      },
      async uploadFile(video) {
        video.upload_status = "STATUS_UPLOADING";
        video.is_uploading = true;
        if (video.is_external) {
          let pointData = (await this.$axios.post('videos/uploadexternal', video.data)).data;
          if (pointData.status) {
            this.$set(video, 'upload_id', pointData.data.upload_id);
            this.$set(video, 'is_uploading_external', true);
          } else {
            this.$store.commit('NEW_ALERT', pointData);
            video.error = pointData;
            if (pointData.not_enough_space) {
              this.notEnoughSpace.active = true;
              this.notEnoughSpace.modalVisible = true;
            }
          }
        } else {
          if (video.folder_id) {
            video.data.folder_id = video.folder_id;
          }
          let pointData = (await this.$axios.post('videos/upload', video.data)).data;
          if (pointData.status) {
            video.upload_id = pointData.data.upload_id;
            video.upload = new tus.Upload(video._file, {
              endpoint: pointData.data.upload_server,
              retryDelays: [0, 1000, 3000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 5000],
              chunkSize: 10 * 1048576,
              metadata: {
                filename: pointData.data.upload_filename,
              },
              onError: (error) => {
                video.error = error.toString();
                this.$store.commit('NEW_ALERT',
                  {
                    'no_translate': true,
                    'status': 0,
                    'text': this.$t('upload._errors.upload_error') + error.toString()
                  }
                );
              },
              onProgress: (bytesUploaded, bytesTotal) => {
                video.upload_percent = (bytesUploaded / bytesTotal * 100).toFixed(2)
              },
              onSuccess: async () => {
                await this.afterUpload(video);
              }
            });
            video.upload.start();
          } else {
            this.$store.commit('NEW_ALERT', pointData);
            video.error = pointData;
            if (pointData.not_enough_space) {
              this.notEnoughSpace.active = true;
              this.notEnoughSpace.modalVisible = true;
            }
          }
        }
      },
      onFileInputChange(e) {
        if (e.target && e.target.files) {
          Array.from(e.target.files).forEach(file => this.addToUpload(file));
        }
      },
      addToUpload(file) {
        let _id = file.name+'_'+Math.floor(Math.random()*1000);
        this.uploadingFilesList.push({
          folder_id: this.currentFolderId,
          project_id: this.currentProjectId,
          _file: file,
          data: {
            title: file.name.replace(/\.[^/.]+$/, ""),
            channel_id: this.channel.id
          },
          is_uploading: false,
          upload_status: 'STATUS_NOT_STARTED',
          upload_percent: 0,
          error: null,
          external: false
        })
      },
      startUpload() {
        let uploadCount = this.uploadingFilesList.filter(file=>file.upload_status === "STATUS_UPLOADING").length;
        const maxUploads = 5;
        if (uploadCount < maxUploads) {
          this.uploadingFilesList.forEach(file => {
            if (file.upload_status === "STATUS_NOT_STARTED" && uploadCount < maxUploads) {
              this.uploadFile(file);
              uploadCount++;
            }
          })
        }
      },
      openFilePicker() {
        this.$refs.fileInput.click();
      },
      deleteFolder() {
        this.folderDeleteModal.isLoading = true;
        this.$axios.delete(`videos/folders/${this.folderDeleteModal.item.id}`).then (res => {
          this.videoEditPanel.isLoading = false;
          this.$store.commit('NEW_ALERT', res.data);
          if (res.data.status) {
            this.folderDeleteModal.visible = false;
            this.load();
          }
        })
      },
      openFolderEditingPanel(folder) {
        this.folderModal.isEditing = true;
        this.folderModal.item = JSON.parse(JSON.stringify(folder));
        this.folderModal.visible = true;
      },
      saveFolder() {
        this.folderModal.isSaving = true;
        let data = this.folderModal.item;
        data.channel_id = this.channel.id;
        data.parent_is_project = this.currentProjectId !== null;
        data.parent_id = this.currentProjectId !== null ? this.currentProjectId : this.currentFolderId;
        this.$axios({
          method: this.folderModal.isEditing ? 'PUT' : 'POST',
          url: this.folderModal.isEditing ? 'videos/folders/' + this.folderModal.item.id : 'videos/folders',
          data
        }).then (res => {
          this.folderModal.response = res.data;
          this.folderModal.errors = res.data.errors || {};
          this.folderModal.isSaving = false;
          if (res.data.status) {
            setTimeout(() => {
              this.folderModal.item.title = "";
              this.folderModal.item.invisible = false;
              this.folderModal.visible = false;
              this.folderModal.response = null;
            }, 2500)
            if (!this.folderModal.isEditing) {
              this.data.folders.unshift(res.data.folder);
            } else {
              this.data.folders.forEach((folderItem, $index) => {
                if (res.data.folder.id === folderItem.id) {
                  this.$set(this.data.folders, $index, res.data.folder);
                }
              })
            }
            this.setCaches();
          }
        })
      },
      goBreadcrumb(item, index) {
        if (!item) {
          this.folders = [];
          this.currentFolderId = null;
          this.currentProjectId = null;
        } else {
          this.folders.splice(index + 1, this.folders.length - index);
          if (item.is_project) {
            this.currentFolderId = null;
            this.currentProjectId = item.id;
          } else {
            this.globalInvisible = item.videos_invisible;
            this.currentFolderId = item.id;
            this.currentProjectId = null;
          }
        }
        this.load();
      },
      getReadableTime,
      saveEditedVideo() {
        let video = this.videoEditPanel.item;
        this.videoEditPanel.isSaving = true;
        this.$axios.put(`videos/${video.id}`, video).then (res => {
          this.videoEditPanel.errors = res.data.errors || {};
          this.videoEditPanel.response = res.data;
          this.videoEditPanel.isSaving = false;
          if (res.data.status) {
            this.data.videos.forEach((videoItem, $index) => {
              if (videoItem.id === res.data.video.id) {
                this.$set(this.data.videos, $index, res.data.video);
              }
            })
          }
        })
      },
      confirmVideoDelete() {
        let video = this.videoDeleteModal.item;
        this.videoDeleteModal.isLoading = true;
        this.$axios.delete(`videos/${video.id}`).then(res=>{
          this.videoDeleteModal.isLoading = false;
          this.$store.commit('NEW_ALERT', res.data);
          if (res.data.status) {
            this.data.videos = this.data.videos.filter(videoItem => videoItem.id !== video.id);
            this.videoDeleteModal.visible = false;
            this.data.space_occupied = res.data.data.new_folder_size;
          } else {

          }
        })
      },
      deleteVideo(video) {
        if (video.is_uploading) {

        } else {
          this.videoDeleteModal.item = video;
          this.videoDeleteModal.visible = true;
        }
      },
      openStatisticsPanel(video) {
        this.statistics.video = video;
        this.statistics.visible = true;
      },
      openPreviewPanel(video) {
        this.videoPreviewPanel.item = video;
        this.videoPreviewPanel.visible = true;
      },
      openEditingPanel(video) {
        this.videoEditPanel.errors = {};
        this.videoEditPanel.response = null;
        this.videoEditPanel.id = video.id;
        this.videoEditPanel.item = JSON.parse(JSON.stringify(video));
        this.videoEditPanel.visible = true;
      },
      goBack() {
        this.folders.splice(this.folders.length - 1, 1);
        if (this.folders.length > 0) {
          let folder = this.folders[this.folders.length - 1];
          if (!folder.is_project) {
            this.currentProjectId = null;
            this.currentFolderId = folder.id;
          } else {
            this.currentFolderId = null;
            this.currentProjectId = folder.id;
          }
        } else {
          this.currentProjectId = null;
          this.currentFolderId = null;
        }
        this.load();
      },
      goToProject(project) {
        this.currentProjectId = project.id;
        this.folders.push({
          id: project.id,
          title: project.name,
          is_project: true,
        });
      },
      goToFolder(folder) {
        this.currentFolderId = folder.id;
        this.folders.push({
          id: folder.id,
          title: folder.title,
          is_project: false,
        });
      },
      load() {
        let data = {};
        if (this.currentFolderId > 0) {
          data.folder_id = this.currentFolderId;
        } else {
          if (this.currentProjectId > 0) {
            data.project_id = this.currentProjectId;
          }
        }
        this.isLoading = true;
        data.sort_order = this.searchData.sort;
        this.$axios.post(`videos/filemanager/${this.channel.id}`, data).then (res => {
          this.data = res.data.data;
          this.$nextTick(() => {
            this.setCaches();
          });
          this.isLoading = false;
        })
      },
      bytesToGB(bytes) {
        let gb = Math.round(bytes / (1024*1024*1024) * 1000) / 1000;
        gb = gb  + ' GB';
        return gb;
      }
    }
  }
</script>
<style lang="scss">
  .videos-manager {
    height: 100%;
    &__main-block {
      display: flex;
      position: relative;
      height: 100%;
    }
    &__search {
      padding: 1em;
      background: var(--box-footer-color);
      width: calc(100% - 2em);
      display: flex;
      align-items: center;
    }
    &__sort {
      margin: 1.25em .5em 0;
    }
    &__items-container {
      display: flex;
      flex-direction: column;
      height: 100%;
      flex: 1;
      overflow: hidden;
      &__outer {
        flex: 3;
        width: 100%;
        height: 100%
      }
    }
    &__items-inner {
      position: relative;
      overflow: auto;
      flex: 1;
    }

    &__dragover-panel {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: stretch;
      justify-content: stretch;
      background: rgba(0, 0, 0, 0.55);
      z-index: 100000;
      &__title {
        font-size: 2em;
        margin: 1em;
        padding: 1em;
        width: 100%;
        border: .15em dashed;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
      }
    }
    &__items {
      flex: 1;
      overflow: auto;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      width: calc(100% - .5em);
      margin: 0 0 1em;
      overflow-x: hidden;
    }
    &__inner {
      height: calc(100% + 2.5em);
      margin: -1.25em;
      display: flex;
      flex-direction: column;
    }
    &__item {
      position: relative;
      padding: .5em;
      &--selected {
        background: rgba(255, 255, 255, 0.15);
        &:hover {
          background: rgba(255, 255, 255, 0.25);
        }
      }
      &--selected-with-area {
        background: rgba(255, 255, 255, .25);
        &:hover {
          background: rgba(255, 255, 255, .35);
        }
      }
      &--uploading {
        opacity: .75;
      }
      &__outer {
        width: 12em;
        transition: all .35s;
        &:hover {
          background: rgba(255, 255, 255, .075);
        }
      }
      &__top {
        position: relative;
        height: 7em;
        background-color: #000;
        margin: 0;
        &__icon {
          position: absolute;
          z-index: 1;
          bottom: .25em;
          left: .5em;
        }
      }
      &__buttons {
        display: flex;
        position: absolute;
        z-index: 10;
        top: .5em;
        right: .5em;
      }
      &__button {
        cursor: pointer;
        margin: 0 0 0 .5em;
        background: rgba(0, 0, 0, .25);
        padding: .5em;
        border-radius: .1em;
        opacity: .75;
        width: 1em;
        height: 1em;
        font-size: .875em;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .35s;
        &:only-of-type {
          margin: 0;
        }
        &:hover {
          opacity: .95;
        }
      }
      &__preload-icon {
        font-size: 3.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        opacity: .25;
      }

      &__picture {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-size: contain!important;
      }

      &__title {
        height: 3.5em;
        cursor: pointer;
        font-size: .75em;
        margin: .5em 0;
        font-weight: 500;
        width: 100%;
        overflow: hidden;
      }

      &__icon {
        cursor: pointer;
        font-size: 4.5em;
        background: #000;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__info {
        position: absolute;
        bottom: .5em;
        left: .5em;
        z-index: 10;
        display: flex;
        flex-direction: row;
        opacity: .75;
        font-size: .875em;
      }

      &__param {
        font-size: .75em;
        display: flex;
        align-items: center;
        margin: 0 .75em 0 0;
        &__text {
          margin: 0 0 0 .25em;
        }
      }

      &__upload-progress {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.75);
        &__bar {
          margin: .5em 0 0;
          width: calc(100% - 1em);
          height: .25em;
          background: rgba(255, 255, 255, 0.1);
          &__inner {
            background: var(--active-color);
            height: 100%;
          }
        }

        &__text {
          font-size: 1.25em;
          font-weight: 400;
        }

      }

      &__error {
        position: absolute;
        font-size: 1.75em;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .75);
        display: flex;
        align-items: center;
        justify-content: center;
        &__icon {
          position: relative;
          color: var(--negative-color);
        }

        &__tooltip {
          display: none;
          position: absolute;
          font-size: .5em;
          bottom: 3.75em;
          background: rgba(0, 0, 0, 0.85);
          padding: .5em;
          white-space: nowrap;
          z-index: 10000;
          color: var(--text-color);
        }

        &__icon:hover &__tooltip, &__tooltip:hover {
          display: block;
        }

        &__reload {
          cursor: pointer;
          margin: 0 0 0 .25em;
        }
      }
      &__main-block {
        flex: 1;
      }
      &__select-handle {
        position: absolute;
        z-index: 10000;
        top: .75em;
        left: .75em;
        background: rgba(255, 255, 255, 0.5);
        width: 1em;
        height: 1em;
        .checkbox {
          margin: 0!important;
        }
      }
      &--folder &__top {
        background: none;
      }
    }

    &__breadcrumbs {

    }
    &__breadcrumb {
      cursor: pointer;
      opacity: .75;
      &:hover {
        opacity: 1;
      }
      &--active {
        opacity: .85;
      }
    }
    &__bottom-panel {
      background: var(--box-footer-color);
      padding: .5em;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__folder-size {
      height: 2em;
      display: flex;
      align-items: center;
      &__bar {
        width: 5em;
        height: 1em;
        background: var(--input-bg-color);
        margin: 0 .5em;
        border-radius: 5em;
        overflow: hidden;
        &__occupied {
          height: 100%;
          background: var(--active-color);
        }
      }
      &__occupied {
        white-space: nowrap;
        font-weight: 600;
      }

      &__total {
        white-space: nowrap;
        font-weight: 600;
      }
    }
    &__header {
      background: var(--box-element-color);
      padding: .5em 1em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__right {
        display: flex;
        align-items: center;
      }
      &__buttons {
        display: flex;
        align-items: center;
      }

      &__view-change {
        display: flex;
        align-items: center;
        &__item {
          cursor: pointer;
          margin: 0 .25em;
          padding: .25em .5em;
          border-radius: .25em;
          opacity: .5;
          &:hover {
            opacity: .75;
          }
          &--active {
            opacity: 1;
          }
        }
      }
    }
    &__item__outer--list {
      width: 100%!important;
    }
    &__item__outer--list &__item {
      display: flex;
      position: relative;
      height: 5em;
      align-items: center;
      margin: 0;
      padding: 0;
      &__outer {
        width: 100%!important;
      }
      &__top {
        margin: 0 0 0 .5em;
        width: 7em;
        height: 4em;
        position: initial;
      }

      &__picture {
        position: absolute;
        width: 7em;
        height: 4em;
        top: .5em;
        left: 0;
      }

      &__info {
        position: unset;
        margin: 0 0 0 .25em;
        flex-direction: row;
        opacity: 1;
      }

      &__param {
        margin: 0 0 0 .75em;
      }

      &__title {
        height: auto;
        font-weight: 400;
        margin: 0 0 .5em 1em;
        font-size: .875em;
      }

      &__icon {
        font-size: 2.75em;
      }
    }

    &__items--list &__item__outer:nth-of-type(2n) &__item {
      background: rgba(255, 255, 255, .05);
    }
  }



  .video-preview {
    &__player-container {
      position: relative;
      width: 100%;
      padding-top: 60%;
      .tv-player {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .video-edit {
    display: flex;
    &__thumbnail {
      width: 8em;
      height: 5.5em;
      margin: 0 0 0 .5em;
      background: rgba(0, 0, 0, .25);
    }
    &__player-container {
      flex: 1;
      max-height: 100%;
      display: flex;
      align-items: center;
      &__inner {
        position: relative;
        width: 100%;
        padding-top: 60%;
        .tv-player {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }

      }
    }
    &__panel {
      flex: 1;
      overflow: auto;
      padding: 1em;
      &__folder-name {
        margin: -1.25em 0 0;
        padding: 0 0 1em;
        font-size: .875em;
        font-weight: 400;
      }
      &__properties {
        margin: 0 0 1em;
      }
      &__header {
        display: flex;
        align-items: center;
        padding: 0 0 .75em;
        border-bottom: 1px solid rgba(255, 255, 255, .05);
        margin: 0 0 1.75em;
      }

      &__title-container {
        width: 100%;
      }

      &__thumbnail-container .filepicker {
        align-items: flex-start;
        padding: 0 0 1em;
        margin: -1em 0 0;

        &__element {
          width: 16em;
        }

        &__picture {
          height: 9em;
        }
      }

      &__file-name {
        display: inline-flex;
        align-items: center;
        margin: 0 0 .5em;
        padding: 0 0 .25em;
        font-size: .875em;
        white-space: nowrap;
        border-bottom: .1em solid var(--active-color);
        cursor: pointer;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        &__text {
          margin: 0 0 0 .5em;
        }
      }
    }
  }




  .video-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100000;
    flex: 1;
    &__local {
      text-align: center;
      margin: 1em 0 0;
      font-size: 1.25em;
    }
    &__header {
      width: calc(100% - 2em);
      background: var(--box-element-color);
      padding: 1em;
    }
    &__items {
      width: 100%;
      overflow: auto;
      flex: 1;
    }
    &__buttons {
      background: var(--box-footer-color);
      padding: .5em;
      width: calc(100% - 1em);
    }
    &__item {
      position: relative;
      margin: 0 1em 1em;
      font-size: .9em;
      padding: .5em;
      background: rgba(255, 255, 255, .025);
      &:first-of-type {
        margin: 1em;
      }
      &__delete {
        position: absolute;
        right: .5em;
        top: .5em;
        font-size: 1.25em;
        cursor: pointer;
        z-index: 1;
        opacity: .5;
      }

      &__error {
        padding: .5em 0;
        font-size: .875em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__icon {
          display: flex;
          align-items: center;
          color: var(--negative-color);
        }

        &__tooltip {
          margin: 0 .5em;
          color: var(--text-color);
          font-weight: 600;
        }

        &__reload {
          font-size: 1.25em;
          margin: 0 0 -.25em;
          cursor: pointer;
        }
      }
      &__upload-progress {
        background: rgba(0, 0, 0, .25);
        display: block;
        position: relative;
        height: 1.75em;
        border-radius: .25em;
        overflow: hidden;
        margin: .5em 0 0;
        &__bar {
          height: 100%;
          &__inner {
            background: var(--active-color);
            height: 100%;
            transition: all .35s;
          }
          &__text {
            position: absolute;
            top: .25em;
            left: .25em;
            font-weight: 600;
          }
        }
      }
    }

    &__filepicker {
      flex: 2;
      border: 1px dashed rgba(255, 255, 255, .25);
      padding: 1.25em 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      cursor: pointer;
      &:hover {
        background: rgba(255, 255, 255, .1);
      }
    }
    &__external {
      flex: 1;
      margin: 1em 0 0;
      display: flex;
      align-items: center;

      &__input {
        flex: 1;
      }

      &__button {
        margin: 1.25em 0 0 1em;
      }
    }

  }


</style>
