<template>
  <div class="video-edit__panel__inputs">
   <div class="video-edit__panel__inner">
     <div class="video-edit__panel__header">
       <div class="video-edit__panel__title-container">
          <span class="video-edit__panel__file-name" v-if="filename">
           <i class="material-icons">attachment</i>
           <span class="video-edit__panel__file-name__text">
             {{filename}}
           </span>
         </span>
         <div class="modal__input-container">
           <m-input autoSize :placeholder="$t('dashboard.videos.title')" :errors="errors.title" v-model="val.title" />
         </div>
       </div>
       <div v-if="add && val.picture" :style="val.picture ? `background: url('${val.picture}') no-repeat center center; background-size: cover;` : ''" class="video-edit__thumbnail"></div>
     </div>
     <div v-if="add" class="video-edit__panel__folder-name">
       {{$t('dashboard.videos.folder')}} {{getFolderName}}
     </div>
     <div class="video-edit__panel__properties">
        <div class="video-edit__panel__thumbnail-container" v-if="!add">
          <m-filepicker :defaultValue="val.original_screenshot" :title="$t('dashboard.videos.thumbnail')" :data="{full_path: val.screenshot}" folder="videos" v-model="val.preview_picture_id" />
        </div>
        <div class="modal__input-container">
          <m-input v-if="add" type="textarea" autoSize  :title="$t('dashboard.videos.description')"  v-model="val.description"/>
          <m-editor v-else :title="$t('dashboard.videos.description')"  v-model="val.description" />
        </div>
         <div class="row">
           <div class="col col-auto">
            <div class="modal__input-container">
              <m-checkbox :title="$t('dashboard.videos.invisible')"  v-model="val.invisible"/>
            </div>
           </div>
           <div class="col col-auto" v-if="!val.invisible">
             <div class="modal__input-container">
               <m-checkbox :title="$t('dashboard.videos.show_author')"  v-model="val.show_author"/>
             </div>
           </div>
         </div>
      </div>
     </div>
  </div>
</template>
<script>
  export default {
    props: {
      namesCache: {
        type: Object,
        required: false,
      },
      data: {
        type: Object,
        required: false,
      },
      add: {
        type: Boolean,
        required: false
      },
      value: {
        type: Object,
        required: true,
      }
    },
    computed: {
      getFolderName() {
        if (this.data.folder_id > 0) {
          return this.namesCache.folders[this.data.folder_id];
        }
        if (this.data.project_id > 0) {
          return this.namesCache.projects[this.data.project_id];
        }
        return this.$t('dashboard.videos.default_folder');
      }
    },
    mounted() {
      if (this.val.show_author === undefined) {
        this.val.show_author = true;
      }
    },
    data() {
      return {
        filename: (this.data && this.data._file) ? this.data._file.name : null,
        val: this.value,
        errors: {},
      }
    },
    watch: {
      val(newVal) {
        this.$emit('input', newVal);
      }
    }
  }
</script>
