<template>
  <div class="timetable-page" ref="page">
    <Timetable :channel="channel" v-if="!error" />
    <m-error-page v-else :data="error"/>
  </div>
</template>
<script>
  import Timetable from '@/components/blocks/Timetable';
  export default {
    layout: 'empty',
    components: {
      Timetable,
    },
    async asyncData({app,params}) {
      let channelData = (await app.$axios.get(`/channels/${params.id}`)).data;
      if (channelData.status) {
        let channel = channelData.data;
        let id = params.id;
        return {
          error: null,
          channel,
          id
        };
      } else {
        return {
          error: channelData
        };
      }
    },
    mounted() {
    }
  }
</script>
