<template>
  <div class="chat-page" ref="page">
    <Chat ref="chat" :channel="channel"/>
  </div>
</template>
<style lang="scss">
  .chat-page {
    width: 100%;
    height: 100%;
    background: var(--channel-colors-7);
    color: var(--channel-colors-0);
    a {
      color: var(--channel-colors-1);
    }
    .btn {
      background: var(--channel-colors-10);
      color: var(--channel-colors-11);
      .progress-circular {
        stroke: var(--channel-colors-11);
      }
      &-flat {
        color: var(--channel-colors-10);
      }
    }
  }
</style>
<script>
  import Chat from '@/components/Chat';
  export default {
    layout: 'empty',
    head () {
      return {
        title: this.$t('chat._title'),
      }
    },
    components: {
      Chat
    },
    async asyncData({app,params}) {
      let channelData = (await app.$axios.get(`/channels/${params.id}`)).data;
      if (channelData.status) {
        let channel = channelData.data;
        let id = params.id;
        return {
          channel,
          id
        };
      } else {
        return {
          error:{
            text:'errors.404'
          }
        };
      }
    },
    mounted() {
      if (this.channel) {

      }
    }
  }
</script>
