<template>
  <div class="user-last-seen">
    <div v-if="data.last_seen > 0" >
      <div v-if="isOnline" class="user-last-seen__online">
        <span class="user-last-seen__online__mark"></span>
        <span class="user-last-seen__online__text">{{$t('profile.online')}}</span>
      </div>
      <div v-else class="user-last-seen__not-online">
        <span class="user-last-seen__not-online__text">{{$t('profile.was_online')}} </span>
        <span class="user-last-seen__not-online__date">{{getOnlineTime}}</span>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  .user-last-seen {
    &__online {
      font-size: 1.1em;
      &__mark {
        width: .5em;
        height: .5em;
        background: var(--green);
        display: inline-block;
        margin: 0 .5em .1em 0;
        border-radius: 50%;
      }
    }
  }
</style>
<script>
  import { format } from "date-fns";
  const ts = new Date().getTime() / 1000;
  export default {
    computed: {
      isOnline() {
        return ts - this.data.last_seen <= 300;
      },
      getOnlineTime() {
        return format(new Date(this.data.last_seen * 1000),"DD.MM.YYYY h:mm");
      }
    },
    props: {
      data: {
        type: [Object],
        required: true,
      }
    },
  }
</script>
