<template>
  <ChannelsList :title="title" urlParams="online=true&sort_by=viewers&type=radio"/>
</template>
<style lang="scss">

</style>
<script>
  import ChannelsList from '@/components/blocks/ChannelsList';
  export default {
    data() {
      return {
        title: this.$t('radio.online')
      }
    },
    head() {
      return {
        title: this.title
      }
    },
    components: {
      ChannelsList
    },
  }
</script>
