<template>
  <div class="chat" :class="{'chat--transparent': transparent}" ref="container">
    <div class="page-preloader" v-if="isLoading">
      <m-preloader stroke-width="5" circle-width="5em"  />
    </div>
    <div class="chat__top">
      <div class="chat__top__left">
        <span class="chat__top__header">{{$t('chat._title')}}</span>
      </div>
      <div class="chat__top__right">
        <div class="chat__top__buttons">
          <m-btn :flat="transparent" @click="usersPanelVisible = !usersPanelVisible" icon="people">{{getUsersList.length}}</m-btn>
          <m-btn :flat="transparent" icononly v-if="motd.text.length > 0 && !motd.visible" @click="motd.visible = true" icon="message"></m-btn>
          <div v-if="user && (isTeamMember || user.is_guest)" class="chat__settings-container">
            <m-btn :flat="transparent" @click="settingsMenuVisible = !settingsMenuVisible" icononly icon="settings"/>
            <m-popup-menu :manual="true" class="popup-menu-bottom popup-menu-bottom-left" :visible="settingsMenuVisible">
              <m-popup-menu-item v-if="user.is_guest" @click="settingsMenuVisible = false; changeUsernamePanel.visible = true">{{$t('chat.menu.change_guest_username')}}</m-popup-menu-item>
              <m-popup-menu-item v-if="isTeamMember" @click="settingsMenuVisible = false; clearChat()">{{$t('chat.menu.clear_chat')}}</m-popup-menu-item>
              <m-popup-menu-item v-if="isTeamMember" @click="settingsMenuVisible = false; MOTDPanel.visible = true">{{$t('chat.menu.change_motd')}}</m-popup-menu-item>
              <m-popup-menu-item v-if="isTeamMember && !channel.chat_is_off" @click="settingsMenuVisible = false; chatAction({'chat_is_off': true})">{{$t('chat.menu.disable_chat')}}</m-popup-menu-item>
              <m-popup-menu-item v-if="isTeamMember && channel.chat_is_off" @click="settingsMenuVisible = false; chatAction({'chat_is_off': false})">{{$t('chat.menu.enable_chat')}}</m-popup-menu-item>
              <m-popup-menu-item v-if="isTeamMember && !channel.allow_guests" @click="settingsMenuVisible = false; chatAction({'allow_guests': true})">{{$t('chat.menu.allow_guests')}}</m-popup-menu-item>
              <m-popup-menu-item v-if="isTeamMember && channel.allow_guests" @click="settingsMenuVisible = false; chatAction({'allow_guests': false})">{{$t('chat.menu.disallow_guests')}}</m-popup-menu-item>
            </m-popup-menu>
          </div>
          <m-colorpicker small v-model="color" />
        </div>
      </div>
    </div>
    <div class="chat__main">
      <div class="chat__users" :class="{'chat__users--visible': usersPanelVisible}">
        <div class="chat__users__group" :key="$index" v-for="(group, $index) in getUsersList">
          <div class="chat__users__group__name">{{group.name}}</div>
          <div class="chat__users__list">
            <div class="chat__user" :key="$index2" v-for="(user, $index2) in group.users">
              <div class="chat__user__info" :style="{color: user.color}">
                <a :style="{color: user.color}"  :href="'/users/'+user.id" target="_blank" class="chat__user__icon" v-if="!user.is_guest">
                  <i class="material-icons">account_circle</i>
                </a>
                <a @click="replyToUser(user)" class="chat__user__name">{{user.username}}</a>
              </div>
              <div class="chat__user__buttons">
                <m-btn v-if="isTeamMember && group.group_name === 'guests' && !user.is_banned" @click="changeGuestBanState(user, true)" flat>{{$t('chat.ban_guest')}}</m-btn>
                <m-btn v-if="isTeamMember && group.group_name === 'banned_guests' && user.is_banned" @click="changeGuestBanState(user, false)" flat>{{$t('chat.unban_guest')}}</m-btn>
                <m-btn v-if="isTeamMember && group.group_name === 'users' && !user.is_banned" @click="changeUserBanState(user, true)" flat>{{$t('chat.ban_user')}}</m-btn>
                <m-btn v-if="isTeamMember && group.group_name === 'banned' && user.is_banned" @click="changeUserBanState(user, false)" flat>{{$t('chat.unban_user')}}</m-btn>
              </div>
            </div>
          </div>
        </div>
        <div v-if="bots.length > 0" class="chat__users__group">
          <div class="chat__users__group__name">{{$t('chat.bots')}}</div>
          <div class="chat__users__list">
            <div class="chat__user" :key="$index" v-for="(bot, $index) in bots">
              <div class="chat__user__info" >
                <a @click="replyToBot(bot)" class="chat__user__name">{{bot.name}}</a>
              </div>
              <div class="chat__user__buttons">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="chat__messages" @click="usersPanelVisible = false" ref="messages">
        <div class="chat__motd" :class="{'chat__motd--visible': motd.visible}">
          <span class="chat__motd__text">
          {{motd.text}}
          </span>
          <a class="chat__motd__close" @click="motd.visible = false">
            <i class="material-icons">close</i>
          </a>
        </div>
        <div class="chat__message" :class="{'chat__message--service': message.is_service}" :key="$index" v-for="(message, $index) in messages">
          <span :title="getMessageDate(message, true)" class="chat__message__date">{{getMessageDate(message)}}</span>
          <a :style="{color: message.color}" :href="'/users/'+message.user_id" target="_blank" class="chat__message__user-icon" v-if="message.user_id">
            <i class="material-icons">account_circle</i>
          </a>
          <span @click="addUsername(message)" class="chat__message__username" :style="{color: message.color}">{{message.username}}</span>
          <span v-if="!message.is_deleted" class="chat__message__text">
            <span class="chat__message__text__reply">
              <a @click="replyByData(item)" :style="{color: item.color}" class="chat__message__text__reply__item" :key="$index" v-for="(item, $index) in message.reply_to">
                {{item.username}},
              </a>
            </span>
            <span class="chat__message__text__inner" v-html="getMessageText(message)"></span>
          </span>
          <span v-else class="chat__message__text chat__message__text--deleted">{{$t('chat.message_deleted')}}</span>
          <span v-if="message.second_username" class="chat__message__second-username" :style="{color: message.color}">{{message.second_username}}</span>
          <a v-if="!message.is_deleted && !message.is_service && canDeleteMessage(message)" @click="deleteMessage(message)" class="chat__message__delete">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
    </div>

    <m-modal v-model="changeUsernamePanel.visible">
      <div slot="main">
        <div class="modal__input-container">
          <m-input autoSize :title="$t('chat.new_guest_username')"  v-model="changeUsernamePanel.newUsername" />
        </div>
      </div>
      <div class="modal__buttons" slot="buttons">
        <m-btn :disabled="changeUsernamePanel.newUsername.length < 1" @click="changeGuestUsername()"  flat>{{$t('global.ok')}}</m-btn>
      </div>
    </m-modal>

    <m-modal v-model="MOTDPanel.visible">
      <div slot="main">
        <div class="modal__input-container">
          <m-input autoSize :title="$t('chat.new_motd')"  v-model="MOTDPanel.text" />
        </div>
      </div>
      <div class="modal__buttons" slot="buttons">
        <m-btn :disabled="MOTDPanel.text.length < 1" @click="changeMOTD()"  flat>{{$t('global.save')}}</m-btn>
      </div>
    </m-modal>

    <div class="chat__panel">
      <!--
      <div class="chat__panel__top">
        test
      </div>
      -->
      <div v-if="channel.chat_is_off" class="chat__panel__disabled">
        <span class="chat__panel__disabled__text">{{$t('chat.disabled')}}</span>
      </div>
      <div v-else-if="user && user.is_banned" class="chat__panel__disabled">
        <span class="chat__panel__disabled__text">{{$t('chat.you_are_banned')}}</span>
      </div>
      <div v-else class="chat__panel__bottom">
        <a @click="smiles.visible = true" class="chat__smiles-button">
          <i class="far fa-smile"></i>
        </a>
        <div v-click-outside="hideSmiles" class="chat__smiles" v-if="smiles.visible">
          <div class="chat__smiles__inner">
            <div class="page-preloader" v-if="smiles.loading">
              <m-preloader stroke-width="3" circle-width="3em"  />
            </div>
            <div v-else class="chat__smiles__list">
              <div class="chat__smiles__list__header" v-if="hasCustomSmiles">{{$t('chat.smiles.standard')}}</div>
              <div class="chat__smiles__list__inner">
                <img @click="addSmile(smile)" v-if="!smile.is_custom" :src="smile.picture_url" class="chat__smile" :key="$index" v-for="(smile, $index) in smiles.list"/>
              </div>
              <div class="chat__smiles__list__header" v-if="hasCustomSmiles">{{$t('chat.smiles.custom')}}</div>
              <div class="chat__smiles__list__inner" v-if="hasCustomSmiles">
                <img @click="addSmile(smile)" v-if="smile.is_custom" :src="smile.picture_url" class="chat__smile" :key="$index" v-for="(smile, $index) in smiles.list"/>
              </div>
            </div>
          </div>
        </div>
        <div class="chat__input-container__outer">
          <div class="chat__input-container__inner" :style="width ? `max-width: calc(${width}px - 2em)` : ''">
            <div class="chat__reply-to" v-show="message.reply_to.length > 0">
              <a class="chat__reply-to__item" :key="$index" v-for="(item, $index) in message.reply_to">
                <span class="chat__reply-to__item__delete" @click="message.reply_to.splice($index, 1)">
                  <i class="fa fa-times"></i>
                </span>
                  <span :style="{'color': item.color}" class="chat__reply-to__item__username">
                  {{item.username}},
                </span>
              </a>
            </div>
            <div class="chat__input-container"  :class="{'chat__input-container--with-errors': errors.text && errors.text.length > 0}">
              <m-input ref="mainInput" :disabled="isSendingMessage" oneLine type="contenteditable" @keyup="onInputKeyup"  v-model="message.text" :errors="errors.text"></m-input>
            </div>
          </div>
        </div>
        <div class="chat__send-button-container">
          <m-btn :flat="transparent" :loading="isSendingMessage" @click="sendMessage()" icononly icon="send"></m-btn>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  .chat {
    background: var(--channel-colors-8);
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--channel-colors-5);
    overflow: hidden;
    .btn {
      background: var(--channel-colors-10);
      box-shadow: 0 .5em 1.25em -.25em var(--channel-colors-10)!important;
      &:hover {
        box-shadow: 0 .5em 1.25em .25em var(--channel-colors-10)!important;
      }
      &__content {
        color: var(--channel-colors-11);
      }
      &-flat {
        color: var(--channel-colors-10);
      }
    }
    &__main {
      display: flex;
      height: calc(100% - 7em);
    }
    &__messages {
      width: 100%;
      height: 100%;
      overflow: auto;
      overflow-x: hidden;
    }
    &__motd {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      background: var(--channel-colors-4);
      margin: .5em;
      padding: .5em;
      border-radius: .5em;
      opacity: .75;
      z-index: 9;
      transition: all .35s;
      &:hover {
        opacity: .95;
      }
      &--visible {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &__close {
        cursor: pointer;
        line-height: 1em;
      }
    }
    &__message {
      font-size: .875em;
      padding: .5em;
      position: relative;
      &__text {
        &__reply {
          &__item {
            font-weight: bold;
            cursor: pointer;
          }
        }
        &--deleted {
          font-style: italic;
        }
      }
      &:nth-child(2n) {
        background: rgba(255, 255, 255, 0.05);
      }
      &__user-icon {
        font-size: .75em;
        display: inline-block;
        margin: 0 .25em;
        transform: translateY(.25em);
      }
      &--service {
        background: rgba(255, 255, 255, 0.1);
        font-style: italic;
      }
      &__date {
        font-size: .875em;
        margin: 0 .25em 0 0;
      }
      &__username {
        cursor: pointer;
        font-weight: 600;
        margin: 0 .25em 0 0;
      }
      &__second-username {
        margin: 0 0 0 .25em;
        font-weight: 600;
      }
      .smiley {
        width: 2em!important;
        margin: 0 0 -.5em;
      }

      &__delete {
        position: absolute;
        right: 1em;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        opacity: .5;
        transition: all .35s;
        &:hover {
          opacity: .75;
        }
      }
    }
    &__top {
      background: var(--channel-colors-4);
      padding: .5em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 .5em 1.75em -0.75em rgba(0, 0, 0, 0.5);
      position: relative;
      z-index: 10000;
      &__buttons {
        display: flex;
        align-items: center;
        .btn {
          margin: 0 0 0 .5em;
        }
      }
    }
    &__settings-container {
      position: relative;
    }
    &__panel {
      padding: 1em;
      background: var(--channel-colors-4);
      box-shadow: 0 0 1.75em -0.75em rgba(0, 0, 0, 0.5);
      z-index: 10000;
      &__bottom {
        position: relative;
        display: flex;
        align-items: center;
      }
    }
    &__reply-to {
      &__item {
        margin: 0 0 0 .5em;
        display: inline-block;
        &__delete {
          cursor: pointer;
          font-size: .65em;
          display: inline-block;
          position: relative;
          top: -.125em;
          margin: 0 .25em 0 0;
        }
      }
    }

    &__smiles-button {
      position: absolute;
      cursor: pointer;
      display: flex;
      align-items: center;
      color: var(--channel-colors-5)!important;
      z-index: 10000;
      left: 0;
      top: .25em;
      height: calc(100% - 1em);
      padding: .25em;
      border-radius: .125em;
      transition: background .35s;
    }

    &__input-container {
      flex: 1;
      margin: 0 .5em 0 0;
      font-size: 1em;
      position: relative;
      &__inner {
        width: 100%;
        font-size: .875em;
        white-space: nowrap;
        display: flex;
        align-items: center;
      }

      &__outer {
        position: relative;
        display: flex;
        align-items: center;
        flex: 1;
        background: rgba(255, 255, 255, .125);
        border-radius: .25em;
        overflow: auto;
        margin: 0 .5em 0 2em;
      }

      .smiley {
        width: 1.25em;
        height: 1.25em;
      }

      .input__container {
        margin: 0;
      }
      .input__element-container {
        background: none!important;
        box-shadow: none!important;
      }
      .input__element--one-line {
        height: 100%;
        line-height: 1;
        color: var(--channel-colors-5)!important;
      }
      .input__element-container {
        height: 1em;

      }
      &--with-errors {
        padding: .5em;
        margin: .1em 0 0;
        background: var(--channel-colors-8) !important;
      }
    }
    &__input {
      margin: 0 0 1em;

    }
    &__send-button-container {
      display: flex;
    }
    &__main {
      position: relative;
    }

    &__modal {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &__container {
        background: var(--channel-colors-4);
        padding: .5em;
        position: absolute;
        top: 2em;
        left: 2em;
        width: calc(100% - 5.5em);
        height: calc(100% - 5.5em);
      }
    }
    &__users {
      position: absolute;
      transition: all .35s;
      top: -100%;
      left: 0;
      font-size: .875em;
      width: 100%;
      background: var(--channel-colors-4);
      z-index: 10;
      box-shadow: 0.25em 0 1.75em -0.75em rgba(0, 0, 0, 0.5);
      &--visible {
        top: 0;
      }
      &__group {
        font-size: 1.25em;
        padding: 1em 1em 0;
        &__name {
          font-weight: 600;
        }
      }
    }


    &__user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: .25em 0;
      cursor: pointer;
      &__info {
        display: flex;
      }
      &__icon {
        margin: 0 .25em 0 0;
      }
    }
    &__smiles {
       position: absolute;
       bottom: 3em;
       left: 0;
       max-width: 14.5em;
       z-index: 10000;
       background: var(--channel-colors-4);
       padding: .5em;
       &__inner {
         position: relative;
         min-width: 5em;
         min-height: 3em;
       }
       &__list {
          &__header {
            font-weight: 500;
            margin: .5em 0;
          }
          &__inner {
            font-size: 2em;
          }
       }

    }
    &__smile {
      width: 1em;
      &:hover {
        opacity: .85;
      }
    }
    &__smiles__list &__smile {
      cursor: pointer;
      padding: .1em;
    }

    &--transparent {
      background: none;
    }

    &--transparent &__top {
      background: rgba(255, 255, 255, 0.15);
    }

    &--transparent &__panel {
      background: rgba(255, 255, 255, 0.175);
    }

    &--transparent &__messages {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
  @media screen and (max-width: 768px) {
    .chat {
      &__messages {

      }
    }
  }
</style>
<script>
  let ResizeSensor = require('css-element-queries/src/ResizeSensor');
  import { format } from "date-fns";
  import clickOutside from 'vue-click-outside';
  export default {
    directives: {
      clickOutside
    },
    computed: {
      hasCustomSmiles() {
        return this.smiles.list.filter(smile => smile.is_custom).length > 0;
      },
      isTeamMember() {
        let user = this.user;
        if (user && user.rights) {
          if (user.rights.indexOf('owner') !== -1 || user.rights.indexOf('admin') !== -1 || user.rights.indexOf('moderation') !== -1) {
            return true;
          }
        }
        return false;
      },
      getUsersList() {
        let users = this.users;
        let list = {
          admins: [],
          owner: [],
          team: [],
          users: [],
          guests: [],
          banned: [],
          banned_guests: []
        };
        let usersList = [];
        users.forEach( user => {
          if (user.rights.indexOf('admin') !== -1) {
            list.admins.push(user);
          } else {
            if (user.rights.indexOf('owner') !== -1) {
              list.owner.push(user);
            } else {
              if (user.rights.indexOf('moderation') !== -1){
                list.team.push(user);
              } else {
                if (user.is_guest) {
                  if (this.channel.allow_guests) {
                    if (user.is_banned) {
                      list.banned_guests.push(user);
                    } else {
                      list.guests.push(user);
                    }
                  }
                } else {
                  if (user.is_banned) {
                    list.banned.push(user);
                  } else {
                    list.users.push(user);
                  }
                }
              }
            }
          }
        });
        Object.keys(list).forEach(key=>{
          if (list[key].length > 0) {
            usersList.push({
              users: list[key],
              group_name: key,
              name: this.$t('chat.groups.' + key)
            })
          }
        });
        return usersList;
      }
    },
    watch: {
      "smiles.visible"(isVisible) {
        if (isVisible && !this.smiles.loaded) {
          this.loadSmiles();
        }
      },
      color(newColor) {
        localStorage.chat_color = newColor;
        clearTimeout(this.lastColorChangeTimeout);
        this.lastColorChangeTimeout = setTimeout(() => {
          //this.lastColorChangeTime = new Date().getTime();
          this.$axios.post('/chat/'+this.channel.id+'/changecolor', {
            color: newColor
          }).then(res=>{
            let user = this.users.filter(user=>user.id === this.user.id)[0];
            if (user) {
              user.color = newColor;
            }
          });
        }, 3500);
      }
    },
    async mounted() {
      this.channel.colors.forEach((color,index)=>{
        this.$refs.container.style.setProperty(`--channel-colors-${index}`, color);
      });
      this.isLoading = true;
      let messages = (await this.$axios.get(`chat/${this.channel.id}/messages`)).data;
      this.messages = messages.list;
      let bots = (await this.$axios.get(`chat/${this.channel.id}/bots`)).data;
      this.bots = bots.data.list;
      if (messages.motd && messages.motd.length > 0) {
        this.motd.text = messages.motd;
        this.motd.visible = true;
      }
      let users = (await this.$axios.get(`chat/${this.channel.id}/users`)).data;
      this.users = users.data.users;
      this.isLoading = false;
      this.scrollToBottom();
      new ResizeSensor(this.$refs.container, (e) => {
       // this.width = e.width;
      });
      this.width = this.$refs.container.offsetWidth;
      this.joinSocket();
    },
    data() {
      return {
        width: null,
        bots: [],
        smiles: {
          loading: false,
          visible: false,
          loaded: false,
          list: [],
        },
        user: null,
        users: [],
        messages: [],
        isLoading: false,
        isSendingMessage: false,
        message: {
          reply_to: [],
          text: '',
        },
        errors: {},
        usersPanelVisible: false,
        settingsMenuVisible: false,
        color: localStorage.chat_color || '#fff',
        username: localStorage.guest_username || 'Guest',
        lastColorChangeTime: 0,
        colorChangeTimeout: null,
        changeUsernamePanel: {
          visible: false,
          newUsername: localStorage.guest_username || 'Guest',
        },
        MOTDPanel: {
          visible: false,
          text: '',
        },
        motd: {
          visible: false,
          text: '',
        }
      }
    },
    beforeDestroy() {
      this.$echo.leave(`App.Chat.${this.channel.id}`)
    },
    methods: {
      joinSocket() {
        this.$echo.join(`App.Chat.${this.channel.id}`)
          .here((users) => {
            //console.log('list', users);
            this.setUsers(users);
          })
          .joining((user) => {
            this.addUser(user);
          })
          .leaving((user) => {
            this.deleteUser(user);
          }).listen('.chat.message', (e) => {
          this.newMessage(e.message);
        }).listen('.chat.change_guest_state', (e) => {
          this.users.forEach(user=>{
            if (user.is_guest && user.ip === e.ip) {
              Object.keys(e.state).forEach(key=>{
                user[key] = e.state[key];
              })
            }
          });
          if (this.user.is_guest && this.user.ip === e.ip) {
            Object.keys(e.state).forEach(key=>{
              user[key] = e.state[key];
            })
          }
        }).listen('.chat.change_user_state', (e) => {
          this.users.forEach(user=>{
            if (!user.is_guest && user.id === e.user_to.id) {
              Object.keys(e.state).forEach(key=>{
                user[key] = e.state[key];
              })
            }
          });
          if (!this.user.is_guest && this.user.id === e.user_to.id) {
            Object.keys(e.state).forEach(key=>{
              this.user[key] = e.state[key];
            })
          }
        }).listen('.chat.change_state', (e) => {
          Object.keys(e.data).forEach(key=>{
            this.channel[key] = e.data[key];
          });
          if (e.data.chat_motd) {
            this.motd.text = e.data.chat_motd;
            this.motd.visible = true;
          }
        }).listen('.chat.clear', (e) => {
          this.messages = [];
        }).listen('.chat.message_deleted', (e) => {
          this.messages.forEach(message => {
            if (message.id === e.message.id) {
              this.$set(message, 'is_deleted', true);
            }
          });
        }).listen('.chat.change_color', (e) => {
          let user = this.users.filter(user=>user.id === e.user.id)[0];
          if (user) {
            user.color = e.color;
          }
        }).listen('.chat.change_guest_username', (e) => {
          let user = this.users.filter(user=>user.id === e.user.id)[0];
          console.log(user);
          if (user) {
            if (!this.channel.chat_is_off) {
              this.messages.push({
                is_service: true,
                user_id: null,
                message_date: Math.floor(new Date().getTime() / 1000),
                color: user.color,
                username: user.username,
                second_username: e.username,
                message_text: this.$t('chat._service_messages.user_changed_nickname'),
              });
              user.username = e.username
            }
          }
        })
      },
      getMessageText(message) {
        let text = message.message_text;
        //if (message.reply_to && message.reply_to.length > 0) {
        //  text = `${(message.reply_to.map(replyUser => `<span style="color: ${replyUser.color}">${replyUser.username}</span>`).join(", "))}, ${text}`;
        //}
        return text;
      },
      focus() {
        let input = this.$refs.mainInput;
        let el = input.$refs.contenteditable;
        el.focus();
        if (typeof window.getSelection !== "undefined" && typeof document.createRange !== "undefined") {
          let range = document.createRange();
          range.selectNodeContents(el);
          range.collapse(false);
          let sel = window.getSelection();
          sel.removeAllRanges();
          sel.addRange(range);
        } else if (typeof document.body.createTextRange !== "undefined") {
          let textRange = document.body.createTextRange();
          textRange.moveToElementText(el);
          textRange.collapse(false);
          textRange.select();
        }
      },
      replyToBot(bot) {
        this.message.reply_to.push({
          bot_id: bot.id,
          username: bot.name
        });
        this.$nextTick(() => {
          this.focus();
        })
      },
      replyByData(replyToData) {
        this.message.reply_to.push(replyToData);
        this.$nextTick(() => {
          this.focus();
        })
      },
      replyToUser(user) {
        this.message.reply_to.push({
          color: user.color,
          user_id: user.id,
          username: user.username
        });
        this.$nextTick(() => {
          this.focus();
        })
      },
      addUsername(message) {
        let data = {
          color: message.color,
          username: message.username,
          id: message.id
        };
        if (message.is_from_bot) {
          data.bot_id = message.bot_id;
        }
        if (message.is_registered) {
          data.user_id = message.user_id;
        }

        this.message.reply_to.push(data);
        this.$nextTick(() => {
          this.focus();
        })
      },
      addSmile(smile) {
        this.message.text+= `<img class="smiley" src="${smile.picture_url}" />`;
        this.$nextTick(() => {
          this.focus();
        })
      },
      async loadSmiles() {
        this.smiles.loading = true;
        let data = (await this.$axios.get(`chat/${this.channel.id}/smiles`)).data;
        if (data.status) {
          this.smiles.loaded = true;
          this.smiles.list = data.data.smiles;
        } else {
          this.$store.commit('NEW_ALERT', data);
        }
        this.smiles.loading = false;
      },
      hideSmiles() {
        this.smiles.visible = false;
      },
      deleteMessage(message) {
        this.$axios.delete(`/chat/messages/${message.id}`).then(res => {
          if (!res.data.status) {
            this.$store.commit('NEW_ALERT', res.data);
          }
        })
      },
      canDeleteMessage(message) {
        if (!this.user) {
          return false;
        }
        if (this.user.is_guest) {
          return false;
        }
        let hasModeratorRights =  (this.user.rights && (this.user.rights.indexOf('admin') !== -1 || this.user.rights.indexOf('channel_admin') !== -1 || this.user.rights.indexOf('owner') !== -1 || this.user.rights.indexOf('moderation') !== -1));
        return hasModeratorRights || this.user.id === message.user_id;
      },
      changeUserBanState(user, state) {
        this.$axios.post('/chat/'+this.channel.id+'/ban', {user_id: user.id, state}).then(res=>{
          if (res.data.status) {

          } else {
            this.$store.commit('NEW_ALERT', res.data);
          }
        })
      },
      changeGuestBanState(user, state) {
        this.$axios.post('/chat/'+this.channel.id+'/guestban', {ip: user.ip, state}).then(res=>{
          if (res.data.status) {

          } else {
            this.$store.commit('NEW_ALERT', res.data);
          }
        })
      },
      changeMOTD() {
        if (this.MOTDPanel.text.length > 0) {
          this.MOTDPanel.visible = false;
          this.chatAction({chat_motd: this.MOTDPanel.text});
        }
      },
      clearChat() {
        this.$axios.post('/chat/'+this.channel.id+'/clear').then(res=>{
          if (res.data.status) {

          } else {
            this.$store.commit('NEW_ALERT', res.data);
          }
        })
      },
      chatAction(data) {
        this.$axios.post('/chat/'+this.channel.id+'/changestate', data).then(res=>{
          if (res.data.status) {

          } else {
            this.$store.commit('NEW_ALERT', res.data);
          }
        })
      },
      changeGuestUsername(){
        if (this.changeUsernamePanel.newUsername.length > 0) {
          this.changeUsernamePanel.visible = false;
          this.$axios.post('/chat/'+this.channel.id+'/changeguestusername', {
            username: this.changeUsernamePanel.newUsername
          }).then(res=>{
            localStorage.guest_username = this.changeUsernamePanel.newUsername;
            this.user.username = this.changeUsernamePanel.newUsername;
            let user = this.users.filter(user => user.id === this.user.id)[0];
            if (user) {
              user.username = this.changeUsernamePanel.newUsername;
            }
          });
        }
      },
      newMessage(message) {
        this.messages.push(message);
        this.scrollToBottom();
      },
      sendMessage() {
        if (this.message.text.length > 0) {
          this.isSendingMessage = true;
          this.message.text = this.message.text.match(/[^\r\n]+/g)[0];
          this.$axios.post(`chat/${this.channel.id}/send`, {
            reply_to: this.message.reply_to,
            text: this.message.text,
            color: this.color
          }).then(res => {
            this.isSendingMessage = false;
            if (!res.data.status) {
              this.$set(this.errors, 'text', [res.data.text]);
            } else {
              this.message.reply_to = [];
              this.message.text = '';
              this.$delete(this.errors, 'text');
            }
          })
        }
      },
      onInputKeyup(e) {
        if (e.keyCode === 13) {
          this.sendMessage();
        }
        if (e.keyCode === 8) {
          if (this.message.text.length === 0) {
            if (this.message.reply_to.length > 0) {
              this.message.reply_to.splice(-1, 1);
            }
          }
        }
      },
      getMessageDate(message, full = false) {
        let str = full ? 'D.M.YYYY HH:mm:ss' : 'HH:mm';
        return format(message.message_date * 1000, str);
      },
      addUser(user) {
        if (!this.channel.chat_is_off) {
          this.messages.push({
            is_service: true,
            user_id: !user.is_guest ? user.id : null,
            message_date: Math.floor(new Date().getTime() / 1000),
            color: user.color,
            username: user.username,
            message_text: this.$t('chat._service_messages.user_entered'),
          });
          this.scrollToBottom();
        }
        this.users.push(user);
      },
      deleteUser(user) {
        if (!this.channel.chat_is_off) {
          this.messages.push({
            is_service: true,
            user_id: !user.is_guest ? user.id : null,
            message_date: Math.floor(new Date().getTime() / 1000),
            color: user.color,
            username: user.username,
            message_text: this.$t('chat._service_messages.user_left'),
          });
          this.scrollToBottom();
        }
        this.users = this.users.filter(userItem => userItem.id !== user.id);
      },
      setUsers(users) {
        this.users = users;
        if (!this.user) {
          this.user = users[0];
        }
      },
      scrollToBottom() {
        this.$nextTick(() => {
          if (this.$refs.messages) {
            this.$refs.messages.scrollTop = 100000;
          }
        })
      }
    },
    props: {
      transparent: {
        type: Boolean,
        required: false,
      },
      channel:{
        type: Object,
        required: true,
      }
    },
  }
</script>
