<template>
<component @click="handleClick" :is="buttonComponentName" :to="buttonLink" :href="buttonLink" :target="buttonTarget" class="btn" :style="{background: color ? color : '', boxShadow: color ? boxShadow : '', color:textcolor ? textcolor : ''}" :class="{'btn-primary':primary,'btn-flat':flat,'btn-rounded':rounded,'btn-loading':loading,'btn-disabled':disabled}">
    <touch-ripple :speed="1" :opacity="0.5" :color="ripplecolor" transition="ease">
      <div class="btn__content" >
        <i class="btn__icon btn__icon--left material-icons" :class="{'btn__icon--only': icononly}" v-if="icon && !loading">{{icon}}</i>
        <i class="btn__icon btn__icon--left fa" :class="['fa-'+faIcon, icononly ? 'btn__icon--only': '']" v-else-if="faIcon && !loading"></i>
        <i class="btn__icon btn__icon--left fab" :class="['fa-'+fabIcon, icononly ? 'btn__icon--only': '']" v-else-if="fabIcon && !loading"></i>
        <span class="btn__content__text">
          <slot></slot>
        </span>
        <i class="btn__icon btn__icon--right material-icons" v-if="iconright && !loading">{{iconright}}</i>
        <i class="btn__icon btn__icon--right fa" :class="['fa-'+faIconRight]" v-if="faIconRight && !loading"></i>
        <i class="btn__loading-icon" v-if="loading">
          <m-preloader :color="textcolor" stroke-width="5" :circle-width="'1.5em'" />
        </i>
        <span class="btn__count" v-if="count!==undefined">{{count}}</span>
      </div>
    </touch-ripple>
</component>
</template>
<style lang="scss">
.btn{
	cursor: pointer;
	border-radius: 2px;
	font-weight: 600;
	font-size: .75em;
	transition: all 0.5s;
	overflow: hidden;
	margin: 0;
  background: var(--active-color);
  height: 2.65em;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  &--big {
    font-size: .875em;
    width: 100%;
    padding: .5em 0;
  }
  .v-touch-ripple {
    width: 100%;
  }
	&:hover{
		filter: brightness(1.15);
		box-shadow: 0 10px 25px -2px rgba(0,0,0,0.5);
	}
	&-disabled{
		cursor: default;
		background: #777!important;
    box-shadow: none!important;
		&:hover{
			filter: brightness(1);
			box-shadow: none!important;
		}
	}
  &__content{
		padding: 1.875em 2em;
		display: flex;
		align-items: center;
		justify-content: center;
		white-space:nowrap;
    &__text {
      margin: -.25em -0;
    }
	}
	&__icon{
		&--left{
			margin :0 .5em 0 0;
			font-size: 1.25em!important;
		}
		&--right{
			margin: 0 0 0 .5em;
			font-size: 1.25em!important;
		}
		&--only {
			margin: 0;
		}
	}
	&__loading-icon {
		margin: -1px -7px -5px 10px;
	}

	&-flat{
    background: rgba(255,255,255,0.05)!important;
		box-shadow: none!important;
	}
	&-rounded {
		width: 3em;
		height: 3em;
    padding: 0;
    line-height: 1.5em;
		border-radius: 50%!important;
	}
	&-rounded &__icon {
    margin: 0;
		font-size: 2em!important;
	}
	&-rounded &__content{
		padding:.5em;
	}
	&__count {
		margin: 0 0 0 10px;
		font-weight: bold;
	}
	.theme-default & {
    text-transform:uppercase;
		color:#fff;
    box-shadow: 0 5px 10px -3px rgba(0,0,0,0.5);
	}
	&--green{
		background: var(--green);
	}
  .theme-flat & {
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0 .5em 1.25em -.25em var(--active-color);
    &:hover {
      box-shadow: 0 .5em 1.25em .25em var(--active-color);
    }
  }
  .theme-flat &-disabled, .theme-flat &-disabled:hover {
    box-shadow: none!important;
  }
  .theme-flat &--green, .theme-flat &--insert {
    box-shadow: 0 .5em 1.25em -.25em var(--green);
    &:hover {
      box-shadow: 0 .5em 1.25em .25em var(--green);
    }
  }
  &--glow#{&}--green  {
    box-shadow: 0 0 10px -5px var(--green), 0 0 30px var(--green);
  }
	&--delete, &--red{
		background: var(--red);
	}
  .theme-flat &--delete, .theme-flat &--red  {
    box-shadow: 0 .5em 1.25em -.25em var(--red);
    &:hover {
      box-shadow: 0 .5em 1.25em .25em var(--red);
    }
  }
	&--insert{
		background: var(--green);
	}
  .theme-default & {
    font-weight: 500;
  }

  .theme-light & {
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: .05em;
    box-shadow: 0 .5em 3.5em -.5em var(--blue);
  }
  .theme-light &--insert, .theme-light &--green{
    box-shadow: 0 .5em 3.5em -.5em var(--green);
  }
  .theme-light &--delete {
    box-shadow: 0 .5em 3.5em -.5em var(--red);
  }
  .theme-light &__content {
    padding: .5em 1em;
    color: var(--white);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  }
  .theme-light &-flat {
    background: rgba(0, 0, 0, 0.05) !important;
  }
  .theme-light &-flat &__content {

  }
  .theme-light &-rounded &__content {
    padding:.5em;
  }
}

.bright .btn-flat {
  background: rgba(0, 0, 0, 0.25) !important;
}
</style>
<script>
export default{
	props:{
    faIconRight: {
      type: String,
      required: false
    },
    fabIcon:{
      type: String,
      required: false,
    },
		faIcon:{
			type: String,
			required: false,
		},
		icon:{
			type: String,
			required: false,
		},
    icontype: {
      type: [String, Number],
      required: false,
    },
		iconright:{
			type:String,
			required:false,
		},
		icononly:{
			type:Boolean,
			required:false,
		},
		count:{
			type:Number,
			required:false,
		},
		disabled:{
			type:Boolean,
			required:false,
			default:false,
		},
		primary: Boolean,
		flat: [Boolean, Number],
		rounded: Boolean,
		to: String,
		loading:Boolean,
		color:{
			type:String,
			required:false,
		},
		textcolor:{
			type:String,
			required:false,
		},
		ripplecolor:{
			type:String,
			required:false,
			default:"#fff",
		},
	},
  computed: {
	  boxShadow() {
      return '0 0.5em 1.25em -0.25em ' +  this.color;
    },
	  buttonLink() {
	    return this.to;
    },
	  buttonTarget() {
      if (this.to) {
        if (this.to[0] !== "/") {
          return "_blank";
        }
      }
      return "";
    },
    buttonComponentName() {
	    if (this.to) {
        if (this.to[0] === "/") {
          return "nuxt-link";
        }
      }
      return "a";
    }
  },
	methods:{
    handleClick(e) {
      this.$emit('click',e);
			//if (this.to) {
			//  if (this.to[0] !== "/") {
      //    window.open(this.to,'_blank');
      //  } else {
      //    this.$router.push(this.to);
      //  }
			//}
		}
	}
}
</script>
