<template>
<div class="copy-tag">
	<div class="copy-tag__text">{{text}}</div>
	<m-btn @click="copy()" flat icononly icon="file_copy" class="copy-tag__button"></m-btn>
</div>
</template>
<style lang="scss">
.copy-tag {
  display: inline-flex;
  align-items: center;
	&__text {
		background: rgba(255, 255, 255, 0.15);
		padding: .35em 1em;
		font-weight: 400;
	}
}
</style>
<script>
export default {
  methods: {
    copy() {
      const el = document.createElement('textarea');
      el.value = this.text;
      document.body.appendChild(el);
      el.select();
      document.execCommand('copy');
      document.body.removeChild(el);
    }
  },
	props:{
		text: {
			type: [String],
			required: true
		}
	}
}
</script>
