<template>
<div class="filepicker" :class="{'filepicker--big': big}">
	<div class="filepicker__title">{{title}}</div>
	<div class="filepicker__element">
     <div v-show="val !== -1 && (path && (!defaultValue || defaultValue !== path))" class="filepicker__reset" @click="reset()">
      <i class="material-icons">close</i>
    </div>
		<input style="display:none" type="file" ref="fileinput" @change="onFileInputChange" />
		<div v-show="status === -1" class="filepicker__preloader-container">
			<m-preloader :stroke-width="5" :circle-width="30" />
		</div>
    <div v-if="!big" :style="'background:url('+path+') no-repeat center center; background-size:contain;'" class="filepicker__picture"></div>
    <img v-else-if="path && path !== ''" :src="path" class="filepicker__picture-block" />
    <div class="filepicker__button-container">
			<m-btn @click="fileInputClick()">{{buttonText || $t('upload.select')}}</m-btn>
		</div>
	</div>
</div>
</template>
<style lang="scss">
.filepicker {
	display: flex;
  flex-direction: column;
  align-items: center;
	margin: .5em 0;
  &__preloader-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
    z-index: 10000;
    height: calc(100% - 2em);
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(255, 255, 255, 0.15);
	}
	&__element {
		position:relative;
    background: rgba(255, 255, 255, 0.15);
		width: 7em;
		text-align: center;
		border-radius: .25em;
	}
  &--video-cover {
    align-items: flex-start;
  }
  &--video-cover &__element {
    width: 11.5em;
  }
  &__reset{
    position: absolute;
    z-index: 1000000;
    opacity: .5;
    cursor: pointer;
    top: .5em;
    right: .5em;
  }
	&__title{
		margin: 0 0 .5em;
	}
	&__picture {
    background-size: contain!important;
		width: 100%;
		height: 5em;
		margin: .5em 0;
	}
  &__picture-block {
    max-width: 100%;
    max-height: 50em;
  }
	&__button-container {
		.btn {
			width: 100%;
		}
	}
  &--big {
    width: 100%;
    align-items: flex-start;
  }

  &--big &__title{
   font-size: .75em;
  }

  &--big &__element {
    width: 100%;
  }

  &--big &__button-container {
    margin: 0 0 -.25em;
    padding: 0;
    font-size: 1.25em;

  }
}
</style>
<script>

export default {
	props:{
	  buttonText: {
	    type: String,
      required: false
    },
	  channel: {
	    type: Object,
      required: false
    },
	  defaultValue: {
	    type: String,
      required: false
    },
	  returnData: {
	    type: Boolean,
      required: false,
    },
	  big: {
	    type: Boolean,
      required: false,
    },
	  data: {
	   type:[Object]
    },
    id:{
			type: [String,Number],
			required: false,
		},
		folder:{
			type: [String],
			required: false,
		},
		errors:{
			type: [Array, Object],
			required: false,
			default: ()=>{
				return []
			}
		},
		value:{
			type: [String, Number, Object],
			required: false,
      default: -1,
		},
		title:{
			type: [String],
			required: false,
		},
	},
	data() {
		return {
			filename: '',
			extensions: ['png', 'jpg', 'jpeg', 'gif'],
			status: -2,
			isLoading: false,
			path: this.returnData ? (this.value ? this.value.path : null) :  (this.data ? this.data.full_path : null),
      val: this.value,
		}
	},
	computed:{
		getFormatsList() {
			return this.extensions.join(', ');
			//return '';
		}
	},
	watch:{
	  value (newValue) {
      if (this.returnData) {
	      if ( newValue === null) {
	          this.path = null;
        } else {
            this.path = newValue.path;
        }
      }
    },
		val(newVal) {
		  this.$emit('input', newVal);
		}
	},
	mounted() {
	 if (!this.path) {
	    if (this.val !== -1) {
        this.path = this.val;
      }
    }
	  this.$emit('input', this.val);
	},
	methods:{
    reset() {
      if (this.defaultValue) {
        this.path = this.defaultValue;
      } else {
        this.path = null;
      }
      if (this.returnValue) {
        this.val = {
          id: -1,
          path: null
        }
      } else {
        this.val = -1;
      }
    },
	  onFileInputChange(e) {
			let files = e.target.files;
			if (files && files[0]) {
				let image = files[0];
				let re = /(?:\.([^.]+))?$/;
				let ext = re.exec(image.name)[1];
				ext = ext.toLowerCase();
				let extensions = this.extensions;
				if (extensions.indexOf(ext) !== -1) {
					let fd = new FormData();
					if (this.folder) {
						fd.append('folder', this.folder);
					}
					if (this.channel) {
					    fd.append('channel_id', this.channel.id);
          }
					fd.append('picture', image);
					if (this.id) {
						fd.append('id', this.id);
					}
					this.status = -1;
					this.$axios.post('/upload/pictures', fd, {headers: {'Content-Type': 'multipart/form-data'}}).then((res) => {
						if (res.data.status) {
							this.status = 1;
							if (this.returnData) {
							  this.val = {
							    id: res.data.id,
                  path: res.data.path
                };
              } else {
                this.val = res.data.id;
              }
              this.$emit('upload', res.data);
							this.path = res.data.path;
							this.$emit('update', res.data.path);
						} else {
							this.$store.commit('NEW_ALERT', res.data);
							this.status = 0;
						}
					}).catch((err)=> {
						this.status = 0;
						this.$store.commit('NEW_ALERT',
              {
                'no_translate': true,
                'status': 0,
                'text': this.$t('upload._errors.upload_error')+err.toString()
              }
            );
					})
				} else {
					this.$store.commit(
					  'NEW_ALERT',
            {
              'no_translate':true,
              'status': 0,
              'text': this.$t('upload._errors.format_wrong')+this.getFormatsList
            }
          );
				}
			}
		},
		fileInputClick() {
			this.$refs.fileinput.click();
		}
	}
}
</script>
