<template>
<inputBase class="input-base" :disabled="disabled" :autoSize="autoSize" :loading="loading" :noErrors="noErrors" :icon="icon" :inlinePlaceholder="inlinePlaceholder" :wasFocused="wasFocused" :hidePlaceholder="hidePlaceholder" :single="single" :inputValue="val" :type="type" :title="title" :placeholder="placeholder" :warnings="warnings" :errors="errors" :append="percent ? '%' : append" :prepend="prepend"  :description="description">
	<i class="material-icons input__icon" v-if="icon">{{icon}}</i>
  <div v-if="disabled" class="input__disabled-overlay"></div>
  <div class="input__element-container">

    <div ref="contenteditable" contenteditable="true" v-if="type === 'contenteditable'" @keyup="onKeyup" @blur="wasFocused = true" @change="onChange" class="input__element" :class="{'input__element--one-line': oneLine,'input__element--disabled': disabled, 'input__element--with-icon':icon,'input__element--with-warning':wasFocused && warnings && warnings.length > 0}"></div>
    <input :min="min" :max="max" :disabled="disabled" v-else-if="type !== 'textarea' && !percent" :type="type" @keyup="onKeyup" @blur="wasFocused = true" @change="onChange" v-model="val" class="input__element" :class="{'input__element--disabled': disabled, 'input__element--with-icon':icon,'input__element--with-warning':wasFocused && warnings && warnings.length > 0}" />
    <input :min="min * 100" :max="max * 100" :disabled="disabled" v-else-if="type !== 'textarea' && percent" :type="type" @keyup="onKeyup" @blur="wasFocused = true" @change="onChange" v-model="percentVal" class="input__element" :class="{'input__element--disabled': disabled, 'input__element--with-icon':icon,'input__element--with-warning':wasFocused && warnings && warnings.length > 0}" />

    <textarea ref="textarea" v-else @keyup="onKeyup" @change="onChange" v-model="val" @blur="wasFocused = true" class="input__element input__element--textarea" :class="{'input__element--with-icon':icon,'input__element--with-warning':wasFocused && warnings && warnings.length > 0}"></textarea>

    <i class="material-icons input__icon input__icon--right input__icon--warning" v-if="wasFocused && warnings && warnings.length > 0">warning</i>
    <m-slider v-if="slider" v-model="sliderPercent" class="input__slider"/>

  </div>
  <div class="input__loading-container" v-if="loading">
    <m-preloader stroke-width="5" :circle-width="'1.5em'" />
  </div>

</inputBase>
</template>
<script>
import inputBase from '@/components/elements/inputBase';
export default {
	components:{
    inputBase
  },
	props: {
	  percent: {
      type: Boolean,
      required: false
    },
    slider: {
      type: Boolean,
      required: false,
    },
    autoSize: {
      type: Boolean,
      required: false,
    },
	  loading: {
	    type: [Boolean],
      required: false,
      default: false,
    },
	  oneLine: {
	    type: [Boolean],
      default: false,
    },
    inlinePlaceholder: {
      type: [Boolean],
      default: false,
    },
	  text: {
	    type: [Function],
      required: false,
    },
	  icon: {
	    type: [String],
      required: false,
      default: "",
    },
	  hidePlaceholder: {
	    type: Boolean,
      required: false,
      default: false,
    },
		regexpReplace: {
			type: RegExp,
			required: false,
		},
		single: {
			type: Boolean,
			required: false,
		},
		description: {
			type: String,
			required: false,
		},
    append:{
      type: String,
      required: false,
    },
		prepend: {
			type: String,
			required: false,
		},
    warnings: {
      type: Array,
      required: false
    },
		errors: {
			type: Array,
			required: false
		},
		placeholder:{
			type: String,
			required: false,
		},
		title:{
			type: [String, Number],
			required: false,
		},
		value:{
			type: [String, Number],
			required: false,
		},
		type:{
			type: String,
			required: false,
			default: 'text',
		},
		min:{
			type: [Number, String],
			required: false,
		},
		max:{
			type: [Number, String],
			required: false,
		},
		disabled:{
			type: Boolean,
			required: false,
		},
	},
	watch:{
	  sliderPercent(newPercent) {
	    let min = this.min;
	    let max = this.max;
	    if (this.percent) {
	        min = min * 100;
	        max = max * 100;
      }
	    this.val = Math.ceil((max - min) * newPercent + min);
      this.$emit('change', this.val);
    },
	  warnings(newWarnings) {

    },
	  errors(newErrors) {
	    this.noErrors = false;
    },
		value(newVal) {
	    if (this.percent) {
        this.val = newVal * 100;
      } else {
	      this.val = newVal;
      }
	    if (this.slider) {
	      this.sliderPercent =  (newVal - this.min) / (this.max - this.min);
	    }
      if (this.type === 'contenteditable') {
        if (!this.isChanging) {
          this.$refs.contenteditable.innerHTML = newVal;
        }
      }
		},
    percentVal(newVal) {
      this.$emit('input', newVal / 100);
    },
		val(newVal, oldVal) {
	    if (this.percent) {
	      this.percentVal = newVal;
      }
	    if (this.regexpReplace) {
				newVal = this.val = newVal.replace(this.regexpReplace,'');
			}
			if (this.percent) {
          //this.$emit('input', newVal / 100);
      } else {
          this.$emit('input', newVal);
      }
		}
	},
	data() {
		return {
      wasFocused: false,
			val: this.value,
      percentVal: this.value * 100,
      isChanging: false,
      noErrors: false,
      sliderPercent: this.value ? ((this.value - this.min) / (this.max - this.min)) : null,
		}
	},
  mounted() {
	  if (this.slider) {
	    this.sliderPercent = (this.val - this.min) / (this.max - this.min);
    }
  },
	created() {
		if (this.value === undefined) {
			this.val = "";
		}
    if (this.errors === undefined) {
		  this.noErrors = true;
    }
	},
	methods:{

		onKeyup(e) {
		  this.isChanging = true;
		  if (this.type === 'contenteditable') {
		    this.val = e.target.innerHTML;
      }
			this.$emit('keyup', e);
		  if (this.oneLine) {
		    //let firstLine = this.val.match(/[^\r\n]+/g)[0];
        //if (this.type === 'contenteditable') {
        //  e.target.innerHTML = firstLine;
        //  this.val = firstLine;
        //}
      }
			if (this.type === "textarea") {
        this.$refs.textarea.style.height = "5px";
        this.$refs.textarea.style.height = (this.$refs.textarea.scrollHeight)+"px";
      }
      this.$nextTick(()=> {
        this.isChanging = false;
      });
		},
		onChange(e) {
      if (this.type === 'number') {
        let min = this.min;
        let max = this.max;
        if (this.percent) {
            min = min * 100;
            max = max * 100;
        }
        if (this.min !== undefined && this.val < min) {
          this.val = min;
        } else {
          if (this.max !== undefined && this.val > max) {
            this.val = max;
          }
        }
      }
			this.$emit('change',e);
		}
	}
}
</script>
