<template>
<div class="input__container" :class="{'input__container--with-errors': errors && errors.length > 0, 'input__container--disabled': disabled, 'input__container--single':single,'input__container-not-empty': (val !== '' || (append && append!=='') || (prepend && prepend!=='')), 'input__element-container--without-errors': noErrors, 'input__element-container--auto-size': autoSize, 'input__element-container--with-prepend': prepend, 'input__element-container--with-append': append}">
	<div class="input__title" :class="{'input__title--with-icon':icon, 'input__title--inline':inlinePlaceholder}" v-show="((inlinePlaceholder && val.length === 0) || !inlinePlaceholder) && ((val && val.length === 0) || !this.hidePlaceholder)" v-if="title || placeholder"><span v-if="placeholder">{{placeholder}}</span><span v-else>{{title}}</span></div>
	<div class="input__inner">
		<span class="input__prepend" v-if="prepend">{{prepend}}</span>
		<slot></slot>
    <span class="input__append" v-if="append">{{append}}</span>
	</div>
	<div v-if="!errors || errors.length == 0" class="input__description" v-show="description && description !== '' ">{{description}}</div>
	<div class="input__errors" v-show="errors && errors.length>0">
		<div v-for="(error,$index) in errors" :key="$index" class="input__error">{{$t(error)}}</div>
	</div>
  <div class="input__warnings" v-show="warnings && warnings.length>0 && wasFocused">
    <div v-for="(warning,$index) in warnings" :key="$index" class="input__warning">{{$t(warning)}}</div>
  </div>
</div>
</template>
<style lang="scss">
.input{
  &__icon{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0 0 0 .35em;
    display: flex;
    align-items: center;
    color: var(--text-sub-color);
    z-index: 100;
    &--warning{
      left: auto;
      right: 0;
      color: var(--text-warning-color);
    }
  }
  &__loading-container {
    position: absolute;
    right: .5em;
    top: .5em;
  }
	&__container{
    flex: 1;
		position: relative;
		margin: 1.5em 0;
    &--disabled {

    }
		&--single{
			margin: 1em 0;
		}
	}
  &__container--disabled &__inner {
    opacity: .5;
  }

  &__container--with-errors &__element-container {
    border: 1px solid var(--negative-color)!important;
    box-shadow: 0 0.25em 1.75em -0.75em var(--negative-color)!important;
  }

	&__prepend{
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		font-weight: 500;
		display: block;
		font-size: .75em;
    padding: .95em;
    .theme-default & {
      background: #525252;
      color: #eee;
      box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.75);
    }
    .theme-flat & {
      background: rgba(255,255,255,.1);
    }
	}
  &__append{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 500;
    display: block;
    font-size: .75em;
    padding: .95em;
    .theme-default & {
      background: #525252;
      color: #eee;
      box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.75);
    }
    .theme-flat & {
      background: rgba(255,255,255,.1);
    }
  }
  &__element-container--with-append &__element-container {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
  }

  &__element-container--with-prepend &__element-container {
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
  }
	&__inner{
    position: relative;
		display: flex;
		align-items: center;
	}
  &__disabled-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
	&__description{
		color: #ddd;
		font-size:.75em;
		padding:0 0 1em;
	}
	&__errors {
    text-align: left;
    font-size:.75em;
		color: var(--red);
		font-weight: 500;
		padding:.25em 0;
	}
  &__warnings{
    font-size:.75em;
    color: var(--text-warning-color);
    font-weight: 500;
    padding:.25em 0;
  }
	&__outer-title {
		font-size: 1em;
		color: #ddd;
		margin: 1em 0;
	}
	&__title{
    white-space: nowrap;
		position: absolute;
    z-index: 1000;
		top: 0;
		left: .35em;
		line-height:2em;
		font-size:1em;
		transition: all 0.25s;
		&--with-icon {
      left:2.5em;
    }
		color: var(--text-sub-color);
    &--inline {
      top: .1em!important;
      left: .5em!important;
      font-size: 1em!important;
    }
    .theme-light & {
      top: .1em;
      left: .5em;
    }
	}
	&__container-not-empty &__title{
		font-size:.75em;
		top:-2em;
		left:0;
	}
  .theme-flat &__title{
    font-size: .75em;
    top: -1.75em;
    left: 0;
  }

	&__element-container{
    width: 100%;
		background: none;
		border: none;
		position: relative;
		z-index: 1;
		outline: none!important;
		flex: 1;

		.theme-default & {
      padding: .25em;
      background: #0000001c;
      border-bottom: 2px solid var(--input-border-color);
      transition: border-color 0.25s;
		}
    .theme-flat & {
      padding: .5em;
      background: rgba(255, 255, 255, .125);
      box-shadow: 0 .5em 1em -0.25em rgba(255, 255, 255, .125);
      border-radius: .25em;
    }
    .theme-light & {
      padding: 0.45em 0.5em;
      border: 1px solid #ddd;
      background: var(--input-bg-color);
      border-radius: .25em;

    }
    &--with-warning {
      border-bottom-color: var(--text-warning-color);
    }
    .theme-default &--with-icon{
      padding: 5px 5px 5px 45px;
    }
    &--disabled {
       color: var(--inactive-text-color);
    }
    &--without-errors {
      //margin: 1.25em 0 0;
    }
    &--auto-size {
      margin: 1.25em 0 0;
    }
	}


  &__element {
    width: 100%;
    outline: none!important;
    background: none;
    border: 0;
    color: var(--input-text-color);
    font-family: inherit;
    font-size: inherit;
    &--with-icon {
      margin: 0 0 0 1.75em;
    }
    &--one-line {
      display: flex;
    }
  }
	&__container-not-empty &__element-container{
			border-color: var(--input-border-active-color);
	}

  &__slider {
    position: absolute;
    left: 0;
    bottom: -.5em;
    width: calc(100% - .5em);
    height: 1em;
    cursor: pointer;
  }
  &__dropdowns {
    z-index: 10000;
    position: absolute;
    left: 0;
    width: 100%;
    top: 2.5em;
    display: flex;
  }

  &__dropdown {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-height: 10em;
    overflow: auto;
    &__variant {
      text-align: center;
      cursor: pointer;
      &:hover {
        background: rgba(255, 255, 255, .1);
      }
      &--active {
        background: var(--active-color);
        &:hover {
          background: var(--active-color);
        }
      }
    }
  }
  .theme-flat &__dropdown {
    background: rgba(6, 25, 39, 0.75);
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-text-fill-color: #ccd8e1;
  -webkit-box-shadow: 0 0 0 30px #293741 inset !important;
}
</style>
<script>
export default {
	props:{
	  disabled: {
	    type: Boolean,
      required: false,
    },
	  data: {
	    type: Boolean,
      required: false,
    },
    autoSize: {
      type: Boolean,
      required: false,
    },
    loading: {
      type: [Boolean],
      required: false,
      default: false,
    },
    inlinePlaceholder: {
      type: [Boolean],
      required: false,
    },
    wasFocused:{
      type: [Boolean],
      required: false,
    },
    icon:{
      type: [String],
      required: false,
      default: "",
    },
    hidePlaceholder:{
        type: Boolean,
        required: false,
        default: false,
    },
		single:{
			type:[Boolean],
			required:false,
		},
		tags:{

		},
		description:{
			type:String,
			required:false,
		},
    append:{
      type:String,
      required:false,
    },
		prepend:{
			type:String,
			required:false,
		},
    warnings:{
      type: Array,
      required: false,
    },
		errors:{
			type:Array,
			required:false
		},
		placeholder:{
			type:String,
			required:false,
		},
		title:{
			type: [String, Number],
			required: false,
		},
		inputValue:{
			required: true,
		},
		type:{
			type: String,
			required: false,
			default: 'text',
		},
    noErrors: {
      type: [Boolean],
      required: false,
    }
	},
	watch:{
		inputValue(newVal) {
			this.val = newVal;
		},
		val(newVal) {
			this.$emit('input',newVal);
		}
	},
	data() {
		return {
			val:this.inputValue,
		}
	},
	methods:{
		onKeyup(e) {
			this.$emit('keyup',e);
		},
		onChange(e) {
			this.$emit('change',e);
		}
	}
}
</script>
