<template>
<div class="modal" :class="{'modal--inline': inline}" v-if="value || value === null">
	<div class="modal__background" @click="closeModal"></div>
	<div class="modal__box" :class="{'modal__box-autosize':autoSize}">
		<a v-show="showCloseButton" @click="closeModal" class="modal__close"><m-btn ripplecolor="#fff" flat rounded icon="close"></m-btn></a>
		<div class="modal__header" v-if="header">{{header}}</div>
		<div class="modal__content">
			<slot name="main"></slot>
			<slot></slot>
		</div>
		<slot class="modal__buttons" name="buttons"></slot>
	</div>
</div>
</template>
<style lang="scss">
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000000;
    display: flex;
    align-items: center;
    justify-content: center;

    &--inline {
      position: absolute;
    }
    &__background{
      background: rgba(0, 0, 0, 0.35);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100000;
    }
    &--inline &__background {
      position: absolute;
    }
    &__input-container{

    }
    &__files-list__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left;
      padding: .5em 1em;
      background: rgba(255, 255, 255, 0.05);
      &__title {
        margin: 0 1.25em 0 0;
      }
    }
	&__header{
    margin: -1em -1em 1em;
		font-weight: 500;
    background: #fff;

    color: var(--active-color);
    padding: .75em 1em;
  }
	&__box {
		position: relative;
		z-index: 100000000;
		min-width: 640px;
    max-width: 80vw;
		padding: 1.25em;
		background: var(--box-color);
		color: var(--text-color);

		&-autosize{
			min-width: 0;
			max-height: 100%;
		}
	}
  .theme-default &__box{
    box-shadow: 0 .5em 1.75em rgba(0, 0, 0, .25);
  }
	&__buttons {
    margin: 1em -1.25em -1.25em;
    padding: 1em;
    background: var(--box-footer-color);
    &:empty {
      display: none;
    }
	}
  &__content {
    height: 100%;
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 50em;
    margin-right: -50em;
    padding-left: 50em;
    margin-left: -50em;
  }
  &__list-container {
    height: 100%;
    max-height: 70vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &__text {
    padding: 1em 0;
  }
	&__close {
		position: absolute;
    top: .5em;
    right: .5em;
    z-index: 10000;
		.btn{
      color: var(--active-color)!important;
		}
	}
	&__users-list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
    max-width: 75vw;
    text-decoration: none;
    color: var(--text-color)!important;
    text-align: center;
		&__item {
      width: 10em;
      overflow: hidden;
      transition: all .35s;
      text-decoration: none;
      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
      &__username {
        font-size: .875em;
      }

      &__avatar {
        margin: 0 0 1em;
        width: 100%;
        padding-top: 50%;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }
      &__inner {
        margin: 1em;
      }
    }
	}
  @media screen and (max-width: 768px) {
    & {
      &__box {
        width: 100%;
        min-width: 0;
      }
      .buttons-list {
        flex-direction: row!important;
      }
    }
  }
}
</style>
<script>
export default{
	props:{
	  inline: {
	    type: Boolean,
      required: false,
    },
		showCloseButton: {
			type: Boolean,
			required: false,
			default: true,
		},
		autoSize:{
			type:Boolean,
			required:false,
		},
		header:{
			type:[String],
			required:false,
			default:'',
		},
		value:{
			type:Boolean,
			required:false,
			default:()=>{
				return null
			}
		}
	},
	created() {

	},
	methods:{
		closeModal() {
			this.$emit('input',false);
		}
	}
}
</script>
