<template>
<div class="tabs" :class="{'tabs--small':small, 'tabs--toggle': toggle}">
  <div class="tabs__inner" :class="{'tabs__inner--vertical': vertical}" ref="inner" :style="{width: width+'px'}">
     <touch-ripple @click="setTab(tab)" :key="$index" v-for="(tab,$index) in data" class="tabs__item" :class="{'tabs__item--current':currentTab == tab.id}" :speed="1" :opacity="0.3" :color="ripplecolor" transition="ease">
        <span class="tabs__item__text">{{tab.name}}</span>
    </touch-ripple>
  </div>
</div>
</template>
<style lang="scss">
.tabs {
    width: 100%;
    position: relative;
    @media screen and (max-width: 768px) {
      & {
        overflow: auto;
      }
    }
    &__inner {
      display: inline-flex;
      justify-content: space-around;
      position: relative;
      min-height: 2.5em;
    }
    &:after {
      content: "";
      display: none;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: rgba(255, 255, 255, 0.25);
      bottom: 0;
    }
    &__item {
      padding: .5em 1.25em;
      font-size: 1.25em;
      font-weight: 400;
      border-bottom: 2px solid rgba(255,255,255,0);
      flex: 1;
      text-align: center;
      margin: 0;
      position: relative;
      z-index: 1;
      transition: all .25s;
      cursor: pointer;
      &__text{
        white-space: nowrap;
      }
      &:hover {
        background: rgba(255,255,255,0.05);
      }
      &--current {
        background: rgba(255, 255, 255, 0.1);
        border-bottom: 2px solid var(--active-color);
      }
    }
    &--small &__item{
      font-size: 1em;
    }
    .theme-light &__item{
      &--current {
        background: rgba(0,0,0,0.05);
        border-bottom-color: var(--active-color);
      }
    }
    &--toggle {
      width: auto;
      &:after {
        background: none;
      }
    }
    &--toggle &__item {
      min-height: auto;
    }
    &--toggle &__item {
      line-height: 1.75;
      padding: .5em .75em;
      border-radius: .5em;
      font-size: 1em;
      border-bottom: 0px!important;
    }
    &--toggle &__item--current {
      background: rgba(255, 255 , 255, 0.05);
    }

    &__inner--vertical {
      flex-direction: column;
      text-align: left;
    }

    &__inner--vertical &__item {
      text-align: left;
      border-bottom: 0 solid rgba(255, 255, 255, 0);
      border-left: 2px solid rgba(255, 255, 255, 0);
      &--current {
        background: rgba(255, 255, 255, 0.1);
        border-bottom: 0 solid rgba(255, 255, 255, 0);
        border-left: 2px solid var(--active-color);
      }
    }

}

</style>
<script>
import isMobile from '~/functions/isMobile.js';
export default {
	props:{
	  rememberTabs: {
	    type: Boolean,
      required: false,
      default: true
    },
	  vertical: {
	    type: Boolean,
      required: false
    },
	  namespace: {
	    type: String,
      required: false,
      default: 't',
    },
    noChangeHash: {
      type: Boolean,
      required: false,
    },
	  toggle: {
	    type: Boolean,
      required: false,
    },
	  small:{
	    type: Boolean,
      required: false,
    },
		data:{
			type: Array,
			required: true,
		},
		value:{
			type: String,
			required: true
		},
		ripplecolor:{
			type: String,
			required: false,
			default: '#fff',
		}
	},
	watch:{
	  data(newData) {
      this.calcWidth();
    },
		currentTab(tab) {
			this.$emit('input',tab);
		}
	},
	data() {
    return {
      width: null,
      currentTab: this.value,
    }
  },
  mounted() {
	  if (this.rememberTabs) {
      if (this.$route.query[this.namespace]) {
        let val = this.$route.query[this.namespace];
        let tab = this.data.filter(tab => tab.id === val);
        //console.log(this.data, tab);
        if (tab[0]) {
          this.currentTab = tab[0].id;
        } else {

        }
      }
    }
    this.calcWidth();
  },
	methods:{
	  calcWidth() {
	    if (isMobile()) {
        let width = 16;
        let children = [].slice.call(this.$refs.inner.children);
        children.forEach(item => {
          width += item.offsetWidth;
        });
        this.width = width;
      }
    },
		setTab(tab) {
			this.currentTab = tab.id;
			let query = {};
			Object.keys(this.$route.query).forEach(key => {
			  query[key] = this.$route.query[key];
      });
			query[this.namespace] = tab.id;
			console.log(query);
			if (!this.noChangeHash) {
        this.$router.push({query})
      }
		}
	}
}
</script>
