<template>
  <div class="landing__about">
    <div class="landing__about__top-blocks">
      <div class="landing__about__block">
        <div class="landing__about__picture-container">
          <img class="landing__about__picture landing__about__picture--tv" src="landing/tv.png"/>
          <div class="landing__about__header">ТВ</div>
        </div>
        <div class="landing__about__texts">
          <div class="landing__about__sub">Реализуй что угодно - от простых игровых трансляций до полноценного интернет-телеканала</div>
          <ul class="landing__about__advantages">
            <li>
              <span class="landing__about__advantages__icon">
                <svg height="512pt" viewBox="0 -1 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg"><path d="m248 221.65625h16v16h-16zm0 0"/><path d="m480 445.65625v-232c0-13.253906-10.746094-24-24-24h-192v-56h-16v56h-192c-13.253906 0-24 10.746094-24 24v232h-32v24c.0273438 22.082031 17.917969 39.972656 40 40h432c22.082031-.027344 39.972656-17.917969 40-40v-24zm-432-232c0-4.417969 3.582031-8 8-8h400c4.417969 0 8 3.582031 8 8v232h-16v-224h-168v16h152v208h-80v-20.914062c-.03125-9.992188-6.226562-18.933594-15.574219-22.46875l-48.425781-18.160157v-24.65625l8-6.097656v-67.703125c0-13.253906-10.746094-24-24-24h-23.015625c-23.066406-.027344-43.179687 15.679688-48.746094 38.0625l-2.484375 9.9375h18.246094v43.703125l8 6.097656v24.65625l-48.414062 18.160157c-9.355469 3.53125-15.554688 12.472656-15.585938 22.46875v20.914062h-80v-208h152v-16h-168v224h-16zm128 232v-20.914062c0-3.332032 2.070312-6.316407 5.191406-7.484376l45.777344-17.203124c4.609375 7.355468 12.386719 12.140624 21.03125 12.9375v24.664062h16v-24.664062c8.644531-.796876 16.421875-5.582032 21.03125-12.9375l45.785156 17.167968c3.117188 1.175782 5.183594 4.15625 5.183594 7.488282v20.945312h-48v8c0 4.417969-3.582031 8-8 8h-48c-4.417969 0-8-3.582031-8-8v-8zm88-88h-16l-16-12.214844v-35.785156h32v-16h-44c6.265625-9.96875 17.21875-16.015625 28.992188-16h23.007812c4.417969 0 8 3.582031 8 8v59.785156zm8 13.992188v17.808593c-.097656 1.40625-1.34375 8.199219-16 8.199219s-15.910156-6.855469-16-8v-18.007812l2.632812 2.007812h26.734376zm224 98.007812c0 13.253906-10.746094 24-24 24h-432c-13.253906 0-24-10.746094-24-24v-8h193.367188c3.402343 9.582031 12.464843 15.988281 22.632812 16h48c10.167969-.011719 19.230469-6.417969 22.632812-16h193.367188zm0 0"/><path d="m134.742188 160c-40.992188-41.085938-40.992188-107.601562 0-148.6875l-11.308594-11.3125c-47.246094 47.332031-47.246094 123.980469 0 171.3125zm0 0"/><path d="m154.609375 149.976562 11.3125-11.3125c-29.226563-29.296874-29.226563-76.71875 0-106.015624l-11.3125-11.3125c-35.476563 35.542968-35.476563 93.097656 0 128.640624zm0 0"/><path d="m197.097656 117.335938c-17.464844-17.511719-17.464844-45.847657 0-63.359376l-11.3125-11.3125c-23.707031 23.761719-23.707031 62.222657 0 85.984376zm0 0"/><path d="m377.257812 160 11.308594 11.3125c47.246094-47.332031 47.246094-123.980469 0-171.3125l-11.308594 11.3125c40.992188 41.085938 40.992188 107.601562 0 148.6875zm0 0"/><path d="m357.390625 149.976562c35.476563-35.542968 35.476563-93.097656 0-128.640624l-11.3125 11.3125c29.226563 29.296874 29.226563 76.71875 0 106.015624zm0 0"/><path d="m326.214844 128.648438c23.707031-23.761719 23.707031-62.222657 0-85.984376l-11.3125 11.3125c17.464844 17.511719 17.464844 45.847657 0 63.359376zm0 0"/><path d="m256 117.65625c17.671875 0 32-14.328125 32-32s-14.328125-32-32-32-32 14.328125-32 32 14.328125 32 32 32zm0-48c8.835938 0 16 7.164062 16 16s-7.164062 16-16 16-16-7.164062-16-16 7.164062-16 16-16zm0 0"/></svg>
              </span>
              <span class="landing__about__advantages__text">Проводи прямые эфиры с любого устройства</span>
            </li>
            <li>
              <span class="landing__about__advantages__icon">
                 <svg height="512pt" viewBox="0 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg"><path d="m482 292.25v-246.25c0-8.285156-6.714844-15-15-15h-76v-16c0-8.285156-6.714844-15-15-15s-15 6.714844-15 15v16h-60v-16c0-8.285156-6.714844-15-15-15s-15 6.714844-15 15v16h-60v-16c0-8.285156-6.714844-15-15-15s-15 6.714844-15 15v16h-60v-16c0-8.285156-6.714844-15-15-15s-15 6.714844-15 15v16h-76c-8.285156 0-15 6.714844-15 15v391c0 8.285156 6.714844 15 15 15h249.804688c24.25 36.152344 65.488281 60 112.195312 60 74.4375 0 135-60.5625 135-135 0-32.070312-11.25-61.5625-30-84.75zm-391-231.25v15c0 8.285156 6.714844 15 15 15s15-6.714844 15-15v-15h60v15c0 8.285156 6.714844 15 15 15s15-6.714844 15-15v-15h60v15c0 8.285156 6.714844 15 15 15s15-6.714844 15-15v-15h60v15c0 8.285156 6.714844 15 15 15s15-6.714844 15-15v-15h61v60h-422v-60zm-61 361v-271h422v113.804688c-21.464844-14.394532-47.269531-22.804688-75-22.804688-47.398438 0-89.164062 24.558594-113.257812 61.613281-2.027344-1.023437-4.3125-1.613281-6.742188-1.613281h-30c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h22.722656c-3.386718 9.554688-5.730468 19.601562-6.882812 30h-15.839844c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h15.839844c1.152344 10.398438 3.492187 20.445312 6.882812 30zm347 60c-57.898438 0-105-47.101562-105-105s47.101562-105 105-105 105 47.101562 105 105-47.101562 105-105 105zm0 0"/><path d="m437 362h-45v-45c0-8.285156-6.714844-15-15-15s-15 6.714844-15 15v60c0 8.285156 6.714844 15 15 15h60c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15zm0 0"/><path d="m136 182h-30c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h30c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15zm0 0"/><path d="m136 242h-30c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h30c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15zm0 0"/><path d="m136 302h-30c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h30c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15zm0 0"/><path d="m227 212h30c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-30c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15zm0 0"/><path d="m227 272h30c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-30c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15zm0 0"/><path d="m136 362h-30c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h30c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15zm0 0"/><path d="m347 212h30c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-30c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15zm0 0"/></svg>
              </span>
              <span class="landing__about__advantages__text">Составляй расписание, чтобы твой канал был онлайн 24/7</span>
            </li>
            <li>
              <span class="landing__about__advantages__icon">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve"><g><g><path d="M402.178,28.989C385.544,10.295,362.487,0,337.253,0c-28.166,0-52.581,13.318-70.606,38.513
                    c-1.352,1.889-2.616,3.778-3.801,5.648c-1.184-1.871-2.448-3.759-3.8-5.648C241.02,13.318,216.605,0,188.439,0
                    c-25.234,0-48.292,10.295-64.925,28.988c-15.784,17.74-24.478,41.456-24.478,66.779c0,27.519,10.679,52.912,33.604,79.916
                    c20.003,23.56,48.695,47.777,81.919,75.819c12.277,10.363,24.973,21.078,38.464,32.771c2.818,2.442,6.32,3.664,9.822,3.664
                    c3.501,0,7.003-1.222,9.822-3.664c13.489-11.69,26.183-22.405,38.46-32.766c21.337-18.01,39.764-33.563,55.755-48.649
                    c31.046-29.292,59.774-62.539,59.774-107.09C426.656,70.444,417.963,46.729,402.178,28.989z M346.299,181.041
                    c-15.386,14.517-33.52,29.822-54.517,47.544c-9.341,7.883-18.921,15.969-28.936,24.557c-10.017-8.587-19.6-16.675-28.941-24.56
                    c-65.399-55.199-104.875-88.517-104.875-132.814c-0.002-37.497,25.538-65.773,59.408-65.773c18.095,0,33.484,8.518,45.739,25.317
                    c10.058,13.786,14.187,28.078,14.215,28.174c1.8,6.497,7.712,10.995,14.453,10.995s12.653-4.498,14.453-10.995
                    c0.148-0.535,15.33-53.491,59.955-53.491c33.869,0,59.41,28.277,59.41,65.773C396.663,122.937,382.542,146.845,346.299,181.041z"
                    /></g></g><g><g>
                  <path d="M466.954,302.047c-12.441,0-24.442,5.223-32.925,14.329l-44.077,47.318c-5.697-18.316-22.805-31.653-42.971-31.653h-69.28
                    c-9.699,0-19.052-3.529-26.334-9.937c-39.163-34.464-98.029-34.767-137.564-0.953c-8.153-11.543-21.587-19.103-36.763-19.103
                    H15.054c-8.282,0-14.997,6.714-14.997,14.997v179.96c0,8.282,6.714,14.997,14.997,14.997H77.04
                    c13.468,0,25.564-5.957,33.816-15.365l8.881,2.496c30.378,8.539,61.78,12.868,93.335,12.868H346.98
                    c32.866,0,64.261-15.698,83.981-41.991l71.999-95.997c0.001-0.002,0.002-0.004,0.004-0.006c5.875-7.834,8.98-17.16,8.98-26.971
                    C511.944,322.229,491.761,302.047,466.954,302.047z M92.037,467.01c0,8.269-6.727,14.997-14.997,14.997h-46.99V332.04h46.99
                    c8.269,0,14.997,6.727,14.997,14.997V467.01z M478.967,356.014c0,0.001-0.001,0.001-0.002,0.002l-71.998,95.999
                    c-14.086,18.781-36.511,29.993-59.987,29.993H213.075c-28.811,0-57.483-3.953-85.219-11.749l-5.865-1.649
                    c0.019-0.532,0.041-1.063,0.041-1.599V353.816l10.451-9.197c28.24-24.85,70.831-24.852,99.073,0
                    c12.761,11.229,29.148,17.413,46.147,17.413h69.28c8.269,0,14.997,6.728,14.997,14.997c0,8.269-6.727,14.997-14.997,14.997
                    H240.398c-8.282,0-14.997,6.714-14.997,14.997s6.714,14.997,14.997,14.997h116.634c12.441,0,24.44-5.221,32.921-14.325
                    l66.023-70.876c2.871-3.082,6.77-4.779,10.978-4.779c8.269,0,14.997,6.727,14.997,14.997
                    C481.951,350.307,480.919,353.411,478.967,356.014z"/></g></g>
                </svg>
              </span>
              <span class="landing__about__advantages__text">Получай донаты от зрителей</span>
            </li>

          </ul>
        </div>
      </div>
      <div class="landing__about__block">
        <div class="landing__about__picture-container">
          <img class="landing__about__picture landing__about__picture--radio" src="landing/radio.png"/>
          <div class="landing__about__header">Радио</div>
        </div>

        <div class="landing__about__texts">
          <div class="landing__about__sub">Создай свою радиостанцию в несколько кликов</div>
          <ul class="landing__about__advantages">
            <li>
              <span class="landing__about__advantages__icon">
                <svg id="Layer_3" enable-background="new 0 0 64 64" height="512" viewBox="0 0 64 64" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m56 34h-10c-1.654 0-3 1.346-3 3v10.184c-.314-.112-.648-.184-1-.184-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3v-10h12v7.184c-.314-.112-.648-.184-1-.184-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3v-13c0-1.654-1.346-3-3-3zm-14 17c-.552 0-1-.448-1-1s.448-1 1-1 1 .448 1 1-.448 1-1 1zm3-13v-1c0-.552.448-1 1-1h10c.552 0 1 .448 1 1v1zm11 13c-.552 0-1-.448-1-1s.448-1 1-1 1 .448 1 1-.448 1-1 1z"/><path d="m44 21h-8c-1.654 0-3 1.346-3 3v14.184c-.314-.112-.648-.184-1-.184-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3v-17c0-.552.448-1 1-1h8zm-12 21c-.552 0-1-.448-1-1s.448-1 1-1 1 .448 1 1-.448 1-1 1z"/><path d="m1 7v50h62v-50zm60 2v6h-58v-6zm-58 46v-38h58v38z"/><path d="m5 11h2v2h-2z"/><path d="m9 11h2v2h-2z"/><path d="m13 11h2v2h-2z"/><path d="m53 22v4.184c-.314-.112-.648-.184-1-.184-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3v-7c0-.552.448-1 1-1h3v-2h-3c-1.654 0-3 1.346-3 3zm-1 8c-.552 0-1-.448-1-1s.448-1 1-1 1 .448 1 1-.448 1-1 1z"/><path d="m31 19h-26v16h26zm-2 2v6h-2.465l-2.535-3.803-2.535 3.803h-2.051l-3.612-3.612-3 5-1.388-1.388h-4.414v-6zm-22 12v-4h3.586l2.612 2.612 3-5 2.388 2.388h3.949l1.465-2.197 1.465 2.197h3.535v4z"/><path d="m5 53h20v-16h-20zm2-14h16v12h-16z"/><path d="m11 49.618 9.236-4.618-9.236-4.618zm2-6 2.764 1.382-2.764 1.382z"/></svg>
              </span>
              <span class="landing__about__advantages__text">Управляй круглосуточным вещанием с помощью автодиджея</span>
            </li>

            <li>
              <span class="landing__about__advantages__icon">
                <svg height="496pt" viewBox="0 0 496 496" width="496pt" xmlns="http://www.w3.org/2000/svg"><path d="m248 129.078125 58.894531-49.078125h77.105469v-80h-192v80h56zm-40-65.078125v-48h160v48h-66.894531l-37.105469 30.921875v-30.921875zm0 0"/><path d="m224 32h16v16h-16zm0 0"/><path d="m256 32h64v16h-64zm0 0"/><path d="m336 32h16v16h-16zm0 0"/><path d="m407.238281 480-6.46875-64.761719c26.710938-4.222656 47.230469-27.351562 47.230469-55.238281v-104h-32v-11.054688c0-10.875-5.976562-20.640624-15.585938-25.648437 9.554688-8.777344 15.585938-21.328125 15.585938-35.296875v-16c0-26.472656-21.527344-48-48-48s-48 21.527344-48 48v16c0 20.710938 13.207031 38.34375 31.625 45.0625l-42.9375 42.9375h-44.863281c-.894531-13.335938-10.054688-24.960938-23.03125-28.671875l-32.792969-9.359375v-14.289062c9.792969-8.792969 16-21.503907 16-35.679688v-16c0-26.472656-21.527344-48-48-48s-48 21.527344-48 48v16c0 14.167969 6.207031 26.878906 16 35.679688v14.296874l-32.792969 9.359376c-13.664062 3.894531-23.207031 16.550781-23.207031 30.769531v29.894531h-32v48h16v128h-72v16h496v-16zm-71.238281-128v-36.6875l56.6875-56.6875c4.097656-4.097656 6.535156-9.601562 7.082031-15.34375.070313.558594.230469 1.085938.230469 1.664062v99.054688c0 13.230469-10.769531 24-24 24h-64v-16zm-24 64h40.761719l6.398437 64h-47.160156zm56.839844 0h15.921875l6.398437 64h-15.921875zm47.160156-72v-72h16v88c0 22.054688-17.945312 40-40 40h-80v-16h64c22.054688 0 40-17.945312 40-40zm-80-160v-16c0-17.648438 14.351562-32 32-32s32 14.351562 32 32v16c0 17.648438-14.351562 32-32 32s-32-14.351562-32-32zm-20.6875 104 53.375-53.375c1.671875-1.671875 3.984375-2.625 6.34375-2.625 4.945312 0 8.96875 4.023438 8.96875 8.96875 0 2.359375-.953125 4.671875-2.625 6.34375l-56.6875 56.6875h-84.6875c-4.414062 0-8-3.585938-8-8s3.585938-8 8-8zm-171.3125-120c0-17.648438 14.351562-32 32-32s32 14.351562 32 32v16c0 17.648438-14.351562 32-32 32s-32-14.351562-32-32zm32 64c5.617188 0 10.984375-1.023438 16-2.800781v8.59375c-1.984375 3.0625-7.496094 10.207031-16 10.207031s-14.015625-7.144531-16-10.207031v-8.59375c5.015625 1.777343 10.382812 2.800781 16 2.800781zm-72 42.105469c0-7.113281 4.777344-13.433594 11.601562-15.386719l32.957032-9.414062c4.640625 6.046874 13.671875 14.695312 27.441406 14.695312s22.800781-8.648438 27.441406-14.703125l32.957032 9.414063c6.128906 1.753906 10.402343 7.082031 11.257812 13.28125h-7.65625c-13.230469 0-24 10.769531-24 24 0 2.816406.574219 5.488281 1.472656 8h-113.472656zm-32 45.894531h248v16h-248zm16 64h24v-16h-24v-16h208v16h-168v16h168v96h-19.054688l-16-32h-137.890624l-16 32h-19.054688zm171.054688 96h-134.109376l8-16h118.109376zm0 0"/></svg>
              </span>
              <span class="landing__about__advantages__text">Организовывай интерактивы со зрителями</span>
              </li>
            <li>
              <span class="landing__about__advantages__icon">
                <svg height="394pt" viewBox="-11 0 394 394.69696" width="394pt" xmlns="http://www.w3.org/2000/svg"><path d="m355.335938 230.859375c0-3.769531-3.054688-6.828125-6.828126-6.828125-3.773437 0-6.824218 3.058594-6.824218 6.828125 0 45.410156-31.285156 83.867187-75.09375 93.363281v-20.863281c35.292968-9.117187 61.4375-41.226563 61.4375-79.328125v-102.398438c0-45.171874-36.746094-81.921874-81.917969-81.921874-45.175781 0-81.921875 36.75-81.921875 81.921874v102.398438c0 38.101562 26.148438 70.210938 61.441406 79.328125v20.863281c-43.816406-9.496094-75.09375-47.945312-75.09375-93.367187 0-3.769531-3.054687-6.824219-6.828125-6.824219-3.773437 0-6.824219 3.054688-6.824219 6.824219 0 52.910156 37.144532 97.535156 88.746094 107.285156v15.597656h-27.308594c-18.816406 0-34.132812 15.3125-34.132812 34.132813 0 3.769531 3.054688 6.824218 6.828125 6.824218h150.1875c3.773437 0 6.824219-3.054687 6.824219-6.824218 0-18.820313-15.3125-34.132813-34.132813-34.132813h-27.304687v-15.601562c51.597656-9.75 88.746094-54.382813 88.746094-107.277344zm-177.152344 0h33.792968c3.773438 0 6.828126-3.058594 6.828126-6.828125s-3.054688-6.824219-6.828126-6.824219h-34.132812v-20.480469h34.132812c3.773438 0 6.828126-3.058593 6.828126-6.828124 0-3.769532-3.054688-6.828126-6.828126-6.828126h-34.132812v-20.476562h34.132812c3.773438 0 6.828126-3.058594 6.828126-6.828125s-3.054688-6.828125-6.828126-6.828125h-34.132812v-20.480469h34.132812c3.773438 0 6.828126-3.054687 6.828126-6.824219 0-3.769531-3.054688-6.828124-6.828126-6.828124h-33.792968c3.4375-34.449219 32.589844-61.4375 67.925781-61.4375s64.488281 26.988281 67.925781 61.4375h-33.792968c-3.773438 0-6.828126 3.058593-6.828126 6.828124 0 3.769532 3.054688 6.824219 6.828126 6.824219h34.132812v20.480469h-34.132812c-3.773438 0-6.828126 3.058594-6.828126 6.828125s3.054688 6.828125 6.828126 6.828125h34.132812v20.476562h-34.132812c-3.773438 0-6.828126 3.058594-6.828126 6.828126 0 3.769531 3.054688 6.828124 6.828126 6.828124h34.132812v20.480469h-34.132812c-3.773438 0-6.828126 3.054688-6.828126 6.824219s3.054688 6.828125 6.828126 6.828125h33.792968c-3.027344 30.359375-26.035156 54.90625-55.640625 60.3125h-.011719c-3.988281.726563-8.082031 1.125-12.273437 1.125-35.335937 0-64.488281-26.988281-67.925781-61.4375zm115.710937 136.53125c8.902344 0 16.492188 5.707031 19.3125 13.65625h-134.199219c2.820313-7.949219 10.414063-13.65625 19.3125-13.65625h34.132813c3.773437 0 6.828125-3.054687 6.828125-6.824219v-54.921875c2.25.1875 4.523438.308594 6.824219.308594s4.574219-.121094 6.828125-.308594v54.921875c0 3.769532 3.054687 6.824219 6.828125 6.824219zm0 0"/><path d="m311.441406 40.535156c5.871094 1.734375 10.875 5.144532 14.480469 9.863282 3.640625 4.765624 5.621094 10.550781 5.714844 16.726562.058593 3.734375 3.105469 6.722656 6.828125 6.722656h.105468c3.765626-.058594 6.777344-3.164062 6.71875-6.933594-.140624-9.121093-3.085937-17.695312-8.511718-24.800781-5.378906-7.039062-12.808594-12.113281-21.46875-14.667969-3.609375-1.0625-7.40625 1.003907-8.480469 4.613282-1.066406 3.613281 1 7.410156 4.613281 8.476562zm0 0"/><path d="m358.554688 25.464844c-9.613282-12.570313-23.386719-21.546875-38.78125-25.277344-3.660157-.871094-7.351563 1.363281-8.238282 5.03125-.886718 3.664062 1.367188 7.355469 5.027344 8.242188 12.546875 3.035156 23.3125 10.050781 31.140625 20.292968 7.34375 9.609375 11.277344 21.132813 11.386719 33.324219.03125 3.75 3.078125 6.765625 6.824218 6.765625h.058594c3.769532-.03125 6.800782-3.113281 6.769532-6.886719-.132813-15.167969-5.039063-29.515625-14.1875-41.492187zm0 0"/><path d="m107.09375 7.578125-20.117188 20.128906c-2.667968 2.664063-2.667968 6.988281 0 9.652344 1.332032 1.332031 3.078126 2 4.824219 2 1.746094 0 3.496094-.667969 4.828125-2l20.121094-20.128906c2.664062-2.664063 2.664062-6.988281 0-9.652344-2.667969-2.664063-6.988281-2.664063-9.65625 0zm0 0"/><path d="m66.847656 47.828125-20.125 20.128906c-2.667968 2.664063-2.667968 6.984375 0 9.652344 1.332032 1.332031 3.078125 2 4.824219 2s3.496094-.667969 4.828125-2l20.125-20.128906c2.667969-2.664063 2.667969-6.984375 0-9.652344-2.664062-2.664063-6.984375-2.664063-9.652344 0zm0 0"/><path d="m56.375 7.578125c-2.664062-2.664063-6.988281-2.664063-9.652344 0-2.667968 2.667969-2.667968 6.988281 0 9.652344l20.125 20.128906c1.335938 1.332031 3.082032 2 4.828125 2 1.746094 0 3.492188-.667969 4.824219-2 2.667969-2.667969 2.667969-6.988281 0-9.652344zm0 0"/><path d="m96.628906 47.828125c-2.667968-2.664063-6.988281-2.664063-9.652344 0-2.667968 2.664063-2.667968 6.988281 0 9.652344l20.117188 20.128906c1.335938 1.332031 3.082031 2 4.828125 2s3.492187-.667969 4.828125-2c2.664062-2.664063 2.664062-6.988281 0-9.652344zm0 0"/><path d="m27.65625 203.550781c-15.0625 0-27.308594 12.25-27.308594 27.308594 0 15.054687 12.246094 27.304687 27.308594 27.304687 15.058594 0 27.304688-12.25 27.304688-27.304687 0-15.058594-12.246094-27.308594-27.304688-27.308594zm0 40.960938c-7.527344 0-13.65625-6.125-13.65625-13.652344 0-7.53125 6.128906-13.652344 13.65625-13.652344 7.523438 0 13.652344 6.121094 13.652344 13.652344 0 7.527344-6.128906 13.652344-13.652344 13.652344zm0 0"/><path d="m102.75 152.351562c0 5.65625-4.585938 10.242188-10.242188 10.242188s-10.238281-4.585938-10.238281-10.242188 4.582031-10.238281 10.238281-10.238281 10.242188 4.582031 10.242188 10.238281zm0 0"/></svg>
              </span>
              <span class="landing__about__advantages__text">Заливай подкасты</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="landing__about__bottom-block">
      <div class="landing__about__block">
        <div class="landing__about__texts">
          <ul class="landing__about__advantages">
            <li>
              <span class="landing__about__advantages__icon">
                <svg viewBox="0 -26 512 512" xmlns="http://www.w3.org/2000/svg"><path d="m256 100c-5.519531 0-10 4.480469-10 10s4.480469 10 10 10 10-4.480469 10-10-4.480469-10-10-10zm0 0"/><path d="m90 280c5.519531 0 10-4.480469 10-10s-4.480469-10-10-10-10 4.480469-10 10 4.480469 10 10 10zm0 0"/><path d="m336 0c-90.027344 0-163.917969 62.070312-169.632812 140.253906-85.738282 4.300782-166.367188 66.125-166.367188 149.746094 0 34.945312 13.828125 68.804688 39 95.632812 4.980469 20.53125-1.066406 42.292969-16.070312 57.296876-2.859376 2.859374-3.714844 7.160156-2.167969 10.898437 1.546875 3.734375 5.191406 6.171875 9.238281 6.171875 28.519531 0 56.003906-11.183594 76.425781-30.890625 19.894531 6.78125 45.851563 10.890625 69.574219 10.890625 90.015625 0 163.898438-62.054688 169.628906-140.222656 20.9375-.929688 42.714844-4.796875 59.945313-10.667969 20.421875 19.707031 47.90625 30.890625 76.425781 30.890625 4.046875 0 7.691406-2.4375 9.238281-6.171875 1.546875-3.738281.691407-8.039063-2.167969-10.898437-15.003906-15.003907-21.050781-36.765626-16.070312-57.296876 25.171875-26.828124 39-60.6875 39-95.632812 0-86.886719-86.839844-150-176-150zm-160 420c-23.601562 0-50.496094-4.632812-68.511719-11.800781-3.859375-1.539063-8.269531-.527344-11.078125 2.539062-12.074218 13.199219-27.773437 22.402344-44.878906 26.632813 9.425781-18.058594 11.832031-39.347656 6.097656-59.519532-.453125-1.589843-1.292968-3.042968-2.445312-4.226562-22.6875-23.367188-35.183594-53.066406-35.183594-83.625 0-70.46875 71.4375-130 156-130 79.851562 0 150 55.527344 150 130 0 71.683594-67.289062 130-150 130zm280.816406-186.375c-1.152344 1.1875-1.992187 2.640625-2.445312 4.226562-5.734375 20.171876-3.328125 41.460938 6.097656 59.519532-17.105469-4.226563-32.804688-13.433594-44.878906-26.632813-2.808594-3.0625-7.21875-4.078125-11.078125-2.539062-15.613281 6.210937-37.886719 10.511719-58.914063 11.550781-2.921875-37.816406-21.785156-73.359375-54.035156-99.75h130.4375c5.523438 0 10-4.476562 10-10s-4.476562-10-10-10h-161.160156c-22.699219-11.554688-48.1875-18.292969-74.421875-19.707031 5.746093-67.164063 70.640625-120.292969 149.582031-120.292969 84.5625 0 156 59.53125 156 130 0 30.558594-12.496094 60.257812-35.183594 83.625zm0 0"/><path d="m256 260h-126c-5.523438 0-10 4.476562-10 10s4.476562 10 10 10h126c5.523438 0 10-4.476562 10-10s-4.476562-10-10-10zm0 0"/><path d="m256 320h-166c-5.523438 0-10 4.476562-10 10s4.476562 10 10 10h166c5.523438 0 10-4.476562 10-10s-4.476562-10-10-10zm0 0"/><path d="m422 100h-126c-5.523438 0-10 4.476562-10 10s4.476562 10 10 10h126c5.523438 0 10-4.476562 10-10s-4.476562-10-10-10zm0 0"/></svg>
              </span>
              <span class="landing__about__advantages__text">Общайся со зрителями в чате</span>
            </li>
            <li>
              <span class="landing__about__advantages__icon">
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
              <g>
                <g>
                  <path d="M255.987,20c-5.522,0-10,4.477-10,10v59.493c0,5.523,4.478,10,10,10c5.522,0,10-4.477,10-10V30
                    C265.987,24.477,261.509,20,255.987,20z"/>
                </g>
              </g>
              <g>
                <g>
                  <path d="M199.324,105.381l-23.926-23.905c-3.909-3.904-10.239-3.901-14.143,0.006c-3.903,3.907-3.9,10.238,0.006,14.142
                    l23.927,23.905c1.953,1.951,4.511,2.926,7.068,2.926c2.561,0,5.121-0.978,7.074-2.932
                    C203.233,115.616,203.23,109.285,199.324,105.381z"/>
                </g>
              </g>
              <g>
                <g>
                  <path d="M350.738,81.5c-3.907-3.905-10.239-3.901-14.143,0.005l-25.437,25.457c-3.903,3.907-3.9,10.238,0.006,14.142
                    c1.953,1.952,4.512,2.927,7.069,2.927c2.561,0,5.121-0.978,7.074-2.932l25.437-25.457C354.647,91.735,354.644,85.404,350.738,81.5
                    z"/>
                </g>
              </g>
              <g>
                <g>
                  <path d="M446.5,284h-8.07c6.586-8.585,10.513-19.312,10.513-30.943v-14.113C448.943,210.853,426.09,188,398,188
                    c-28.09,0-50.943,22.853-50.943,50.943v10.971l-75.231-75.232c-4.175-4.174-10.315-5.514-15.825-3.524
                    c-5.508-1.99-11.65-0.65-15.826,3.525l-75.23,75.231v-10.971C164.943,210.853,142.09,188,114,188
                    c-28.09,0-50.943,22.853-50.943,50.943v14.113c0,11.632,3.927,22.358,10.513,30.943H65.5C29.383,284,0,313.383,0,349.5V482
                    c0,5.523,4.478,10,10,10h42.25c1,0,1.964-0.151,2.875-0.424C56.036,491.849,57,492,58,492h112c5.522,0,10-4.477,10-10v-34
                    c0-5.523-4.478-10-10-10c-5.522,0-10,4.477-10,10v24H68V358.053c0-5.523-4.478-10-10-10s-10,4.477-10,10V472H20V349.5
                    c0-25.089,20.411-45.5,45.5-45.5H135c2.752,0,5.244-1.113,7.052-2.911c0.007-0.007,0.013-0.011,0.02-0.017l103.869-103.87
                    c-0.681,20.768-7.141,40.771-18.787,58.068l-65.448,97.198c-1.111,1.651-1.705,3.596-1.705,5.585V369c0,5.523,4.478,10,10,10
                    c5.522,0,10-4.477,10-10v-7.895l63.743-94.666c4.87-7.233,8.954-14.875,12.257-22.808c3.303,7.933,7.386,15.575,12.257,22.808
                    L332,361.105V482c0,5.523,4.478,10,10,10h112c1,0,1.964-0.151,2.875-0.424c0.911,0.273,1.875,0.424,2.875,0.424H502
                    c5.522,0,10-4.477,10-10V349.5C512,313.383,482.617,284,446.5,284z M144.943,253.056c0,17.063-13.88,30.944-30.943,30.944
                    s-30.943-13.881-30.943-30.943v-14.113C83.057,221.881,96.938,208,114,208s30.943,13.881,30.943,30.943V253.056z M367.057,238.943
                    C367.057,221.881,380.938,208,398,208s30.943,13.881,30.943,30.943v14.113c0,17.063-13.88,30.944-30.943,30.944
                    s-30.943-13.881-30.943-30.943V238.943z M492,472L492,472h-28v-74c0-5.523-4.478-10-10-10c-5.522,0-10,4.477-10,10v74h-92V358.053
                    c0-1.99-0.594-3.935-1.705-5.585l-65.448-97.197c-11.646-17.297-18.106-37.3-18.787-58.068l103.869,103.869
                    c0.132,0.132,0.256,0.243,0.376,0.342c1.773,1.603,4.117,2.588,6.695,2.588h69.5c25.089,0,45.5,20.411,45.5,45.5V472z"/>
                </g>
              </g><g><g>
                  <path d="M461.069,350.98c-1.859-1.86-4.439-2.93-7.069-2.93s-5.21,1.07-7.07,2.93c-1.86,1.86-2.93,4.44-2.93,7.07
                    s1.069,5.21,2.93,7.07c1.86,1.86,4.44,2.93,7.07,2.93s5.21-1.07,7.069-2.93c1.86-1.86,2.931-4.44,2.931-7.07
                    S462.93,352.85,461.069,350.98z"/>
                </g>
              </g>
              <g>
                <g>
                  <path d="M177.069,403.93C175.21,402.07,172.63,401,170,401s-5.21,1.07-7.07,2.93S160,408.37,160,411s1.069,5.21,2.93,7.07
                    c1.861,1.86,4.44,2.93,7.07,2.93s5.21-1.07,7.069-2.93c1.86-1.86,2.931-4.44,2.931-7.07S178.93,405.79,177.069,403.93z"/>
                </g>
              </g></svg>
              </span>
              <span class="landing__about__advantages__text">Кооперируйся с другими пользователями</span>
            </li>
            <li>
              <span class="landing__about__advantages__icon">
                <svg height="511pt" viewBox="-30 1 511 511.99899" width="511pt" xmlns="http://www.w3.org/2000/svg"><path d="m155.742188 191.246094c-31.023438 0-56.265626 25.242187-56.265626 56.269531 0 31.023437 25.242188 56.265625 56.265626 56.265625 31.027343 0 56.269531-25.242188 56.269531-56.265625 0-31.027344-25.242188-56.269531-56.269531-56.269531zm0 97.328125c-22.636719 0-41.054688-18.421875-41.054688-41.0625s18.417969-41.058594 41.054688-41.058594c22.640624 0 41.0625 18.417969 41.0625 41.058594s-18.421876 41.0625-41.0625 41.0625zm0 0"/><path d="m155.742188 221.664062c-14.253907 0-25.847657 11.59375-25.847657 25.851563 0 14.253906 11.59375 25.851563 25.847657 25.851563 14.253906 0 25.851562-11.597657 25.851562-25.851563 0-14.257813-11.59375-25.851563-25.851562-25.851563zm0 36.492188c-5.867188 0-10.640626-4.773438-10.640626-10.644531 0-5.867188 4.773438-10.640625 10.640626-10.640625 5.871093 0 10.644531 4.773437 10.644531 10.640625 0 5.871093-4.773438 10.644531-10.644531 10.644531zm0 0"/><path d="m352.675781 247.511719c0-31.023438-25.242187-56.265625-56.269531-56.265625-31.023438 0-56.265625 25.242187-56.265625 56.265625 0 31.027343 25.242187 56.269531 56.265625 56.269531 31.027344 0 56.269531-25.242188 56.269531-56.269531zm-56.269531 41.0625c-22.636719 0-41.058594-18.421875-41.058594-41.0625s18.421875-41.058594 41.058594-41.058594c22.640625 0 41.058594 18.417969 41.058594 41.058594s-18.417969 41.0625-41.058594 41.0625zm0 0"/><path d="m296.40625 221.664062c-14.253906 0-25.847656 11.59375-25.847656 25.851563 0 14.253906 11.59375 25.851563 25.847656 25.851563s25.851562-11.597657 25.851562-25.851563c0-14.257813-11.597656-25.851563-25.851562-25.851563zm0 36.492188c-5.867188 0-10.640625-4.773438-10.640625-10.644531 0-5.867188 4.773437-10.640625 10.640625-10.640625 5.871094 0 10.644531 4.773437 10.644531 10.640625 0 5.871093-4.773437 10.644531-10.644531 10.644531zm0 0"/><path d="m419.007812 202.816406h-.730468v-10.613281c.003906-105.980469-86.21875-192.203125-192.199219-192.203125-105.984375 0-192.207031 86.222656-192.207031 192.203125v10.613281h-.726563c-18 0-32.644531 14.644532-32.644531 32.644532v74.625c0 18 14.644531 32.644531 32.644531 32.644531h9.738281c6.40625 0 12.382813-1.863281 17.433594-5.066407v.074219c0 45.839844 37.292969 83.136719 83.136719 83.136719h22.058594v25.742188h-43.679688c-31.007812 0-56.230469 25.226562-56.230469 56.230468v1.546875c0 4.199219 3.402344 7.605469 7.601563 7.605469h234.519531c4.199219 0 7.601563-3.40625 7.601563-7.605469s-3.402344-7.601562-7.601563-7.601562h-226.46875c2.9375-19.761719 20.015625-34.96875 40.578125-34.96875h206.914063c20.5625 0 37.640625 15.207031 40.574218 34.96875h-36.25c-4.203124 0-7.605468 3.402343-7.605468 7.601562s3.402344 7.605469 7.605468 7.605469h44.300782c4.203125 0 7.605468-3.40625 7.605468-7.605469v-1.546875c0-31.003906-25.226562-56.230468-56.230468-56.230468h-43.679688v-25.742188h23.636719c18.425781 0 36.242187-6.125 50.746094-17.308594 3.285156 1.300782 6.863281 2.023438 10.609375 2.023438h7.09375c13.351562 0 24.609375-9.101563 27.914062-21.421875 12.089844-1.269531 21.542969-11.523438 21.542969-23.945313v-18.394531c14.34375-3.4375 25.042969-16.359375 25.042969-31.742187v-74.625c0-18-14.644532-32.644532-32.644532-32.644532zm-376.125 124.707032h-9.738281c-9.613281 0-17.4375-7.824219-17.4375-17.4375v-74.625c0-9.613282 7.824219-17.433594 17.4375-17.433594h9.738281c9.597657 0 17.410157 7.800781 17.433594 17.394531v74.703125c-.023437 9.597656-7.832031 17.398438-17.433594 17.398438zm32.640626 10.214843v-27.574219c0-.027343 0-.050781 0-.078124v-6.589844c11.074218 4.257812 20.988281 11.40625 28.53125 20.726562 9.875 12.203125 15.097656 26.96875 15.097656 42.703125v34.230469c-25.488282-9.800781-43.628906-34.523438-43.628906-63.417969zm208.339843 67.925781h-13.808593v-62.445312c8.058593 3.074219 13.808593 10.867188 13.808593 19.992188zm-29.015625 0h-21.167968v-63.867187h21.167968zm-36.375 0h-21.167968v-63.867187h21.167968zm-36.375 0h-13.808594v-42.453124c0-9.125 5.75-16.917969 13.808594-19.992188zm87.757813 40.953126h-89.136719v-25.742188h89.136719zm29.214843-40.953126v-42.453124c0-20.191407-16.425781-36.621094-36.617187-36.621094h-72.75c-20.195313 0-36.621094 16.429687-36.621094 36.621094v42.453124h-9.628906c-3.085937 0-6.117187-.226562-9.09375-.625v-38.117187c0-18.980469-6.566406-37.539063-18.480469-52.265625-10.445312-12.90625-24.605468-22.417969-40.355468-27.238281v-78.433594c0-37.449219 30.472656-67.917969 67.929687-67.917969h28.921875c4.203125 0 7.605469-3.402344 7.605469-7.601562 0-4.199219-3.402344-7.605469-7.605469-7.605469h-28.921875c-45.480469 0-82.527344 36.707031-83.109375 82.042969-3.386719-2.152344-7.1875-3.699219-11.261719-4.488282v-11.210937c0-97.59375 79.398438-176.996094 176.996094-176.996094 97.59375 0 176.992187 79.402344 176.992187 176.996094v11.214844c-4.070312.785156-7.875 2.332031-11.257812 4.484375-.585938-45.335938-37.632812-82.042969-83.109375-82.042969h-110.976563c-4.199218 0-7.605468 3.40625-7.605468 7.605469 0 4.199218 3.40625 7.605468 7.605468 7.605468h110.976563c37.457031 0 67.929687 30.464844 67.929687 67.917969l-.003906 78.433594c-15.746094 4.824219-29.910156 14.335937-40.351562 27.238281-11.917969 14.726563-18.480469 33.285156-18.480469 52.265625v38.128907c-3 .40625-6.039063.613281-9.09375.613281h-9.632813zm42.09375-28.96875c0 6.445313 2.121094 12.40625 5.703126 17.21875-4.339844 2.953126-8.992188 5.386719-13.863282 7.25v-34.242187c0-15.730469 5.21875-30.496094 15.09375-42.695313 7.542969-9.316406 17.457032-16.46875 28.53125-20.730468v6.589844c0 .039062.003906.078124.003906.117187v27.53125c0 3.378906-.253906 6.746094-.746093 10.066406h-5.828125c-15.933594 0-28.894532 12.960938-28.894532 28.894531zm35.992188 13.6875h-7.097656c-7.546875 0-13.6875-6.140624-13.6875-13.6875 0-7.546874 6.140625-13.6875 13.6875-13.6875h7.097656c7.546875 0 13.6875 6.140626 13.6875 13.6875 0 7.546876-6.140625 13.6875-13.6875 13.6875zm27.777344-21.628906c-2.171875-7.582031-7.363282-13.898437-14.191406-17.550781.722656-4.4375 1.097656-8.945313 1.097656-13.464844v-.074219c5.046875 3.203126 11.023437 5.066407 17.433594 5.066407h2.132812v17.492187c0 4.058594-2.746094 7.480469-6.472656 8.53125zm31.511718-58.667968c0 9.613281-7.820312 17.4375-17.4375 17.4375h-9.734374c-9.59375 0-17.402344-7.792969-17.433594-17.378907v-74.742187c.03125-9.585938 7.839844-17.378906 17.433594-17.378906h9.734374c9.617188 0 17.4375 7.824218 17.4375 17.4375zm0 0"/></svg>
              </span>
              <span class="landing__about__advantages__text">Подписывайся на передачи, чтобы не пропустить их - наш бот пришлет уведомление</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  .landing {
    &__about {
      background: #50545f;
      position: absolute;
      top: 0;
      left: 0;
      background: none;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__top-blocks {
        margin: 6em 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__bottom-block {
        margin: 1.75em 0 0;
      }
      &__block {
        flex: 1;
        text-align: center;
        border-radius: .5em;
        padding: 1em;
        background: rgba(4, 27, 43, 0.75);
      }
      &__picture-container {
        display: flex;
        align-items: center;
        margin: -9em 0 0;
        justify-content: center;
      }


      &__picture {
        margin: 0;
        height: 10em;
        position: relative;
        &--radio {
          height: 12em;
          top: -1em;
        }
      }

      &__header {
        font-size: 3em;
        margin: 0 0 0 1em;
        font-weight: bold;
      }

      &__sub {
        margin: 0 0 1em;
        padding: .5em 0 0;
        font-weight: bold;
        font-size: 1.25em;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__block {
        position: relative;
        margin: 0 1.25em;
      }


      &__advantages {
        margin: 0;
        padding: 0;
        li {
          list-style-type: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.125);
          padding: .5em 0;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &__icon {
          margin: 0 1em 0 0;
          svg {
            fill: #fff;
            width: 2.5em;
            height: 2.5em;
          }
        }
      }
      @media screen and (max-width: 768px) {
        height: auto;
        position: relative;
        font-size: .875em;

        &__top-blocks {
          flex-direction: column;
        }

        &__block {
          margin: 6em 1em 0;
        }

       &__bottom-block {
          margin: 0;
        }

        &__bottom-block &__block {
          margin: 1em;
        }
      }
    }

  }

</style>

