<template>
  <div class="project-page__outer" ref="page_outer">
    <ProjectPage :currentRecord="record" :records="records" v-if="!error" :channel="channel" :project="project" />
    <m-error-page v-else :data="error" />
  </div>
</template>
<script>
  import ProjectPage from '@/components/blocks/ProjectPage';
  export default {
    components: {
      ProjectPage,
    },
    async asyncData({app,params}) {
      let recordData = (await app.$axios.get(`/records/${params.id}`)).data;
      if (recordData.status) {
        let channelData = (await app.$axios.get(`/channels/${recordData.data.record.channel_id}?do_not_count_stat=1`)).data;
        if (recordData.data.record.project) {
          let records = (await app.$axios.get(`/projects/${recordData.data.record.project.id}/records`)).data.data;
          return {
            channel: channelData.data,
            record: recordData.data.record,
            records: records.list,
            error: null,
            project: recordData.data.record.project,
            id: params.id,
          };
        } else {
          let records = (await app.$axios.get(`/records/${recordData.data.record.id}/related`)).data;
          return {
            records: records.data.list,
            record: recordData.data.record,
            channel: channelData.data,
            error: null,
            project: null,
            id: params.id,
          };
        }
      } else {
        return {
          error:
            {
              text: 'errors.404'
            }
        };
      }
    }
  }
</script>
