<template>
  <RecordsList :title="title" urlParams="sort_by=feed"/>
</template>
<style lang="scss">

</style>
<script>
  import RecordsList from '@/components/blocks/RecordsList';
  export default {
    data() {
      return {
        title: this.$t('records.feed')
      }
    },
    head() {
      return {
        title: this.title
      }
    },
    components: {
      RecordsList
    },
  }
</script>
