<template>
  <div class="search-page">
    <div class="search-page__params" @keydown="onKeyDown">
      <div class="search-page__main-input-container">
        <m-input icon="search" autoSize :title="$t('search._title')" v-model="searchData.search"/>
      </div>
      <div class="search-page__tags">
        <m-tags-input autoSize :title="$t('records.search.tags')" v-model="searchData.tags"/>
        <div class="search-page__tags__list">
          <span v-if="searchData.tags.indexOf(tag.tag) === -1" @click="searchData.tags.push(tag.tag)" class="tag" v-for="(tag, $index) in tags" :key="$index">
            {{tag.tag}}
            <span class="tag__count">{{tag.count}}</span>
          </span>
        </div>
      </div>
      <div class="search-page__sort-container">
        <m-select :options="sortOptions" :title="$t('records.search.sort._title')" v-model="searchData.sort_by"/>
      </div>
      <div class="search-page__button-container">
        <m-btn class="btn--big" @click="loadSearch()">{{$t('records.search._title')}}</m-btn>
      </div>
    </div>
    <div class="search-page__results">
      <RecordsList :title="searchTitle" :urlParams="urlParams"/>
    </div>
  </div>

</template>
<style lang="scss">

</style>
<script>
  import RecordsList from '@/components/blocks/RecordsList';
  export default {
    computed: {
      searchTitle() {
        if (!this.lastRequest) {
          return this.$t('records.search.title');
        }
        return this.$t('channels.search.by_request')+' "'+this.lastRequest+'"';
      }
    },
    async asyncData({app}) {
      let tags = (await app.$axios.get(`/records/tags`)).data;
      return {
        tags: tags.data.tags
      };
    },

    methods: {
      onKeyDown(e) {
        if (e.keyCode === 13) {
          this.loadSearch();
        }
      },
      loadSearch() {
        let esc = encodeURIComponent;
        this.urlParams = Object.keys(this.searchData)
          .map(k => esc(k) + '=' + esc(this.searchData[k]))
          .join('&');
        this.lastRequest = this.searchData.search;
        this.$router.push({path: this.$route.path, query: Object.assign({}, this.$route.query, {sort: this.searchData.sort_by, q: this.searchData.search, tags: this.searchData.tags.join(",")})});
      }
    },
    head() {
      return {
        title: this.$t('records.search.page_title')
      }
    },
    mounted() {

    },
    data() {
      return {
        sortOptions: [
          {
            name: this.$t('records.search.sort.new'),
            value: 'new'
          },
          {
            name: this.$t('records.search.sort.most_listened'),
            value: 'most_listened'
          },
          {
            name: this.$t('records.search.sort.best'),
            value: 'best'
          },
          {
            name: this.$t('records.search.sort.old'),
            value: 'old'
          }
        ],
        urlParams: this.$route.query.q ? '&search='+ this.$route.query.q : "",
        searchData: {
          search: this.$route.query.q || "",
          tags: this.$route.query.tags ? this.$route.query.tags.split(",") : [],
          sort_by: this.$route.query.sort || 'new',
        },
        lastRequest: this.$route.query.q || ""
      }
    },
    components: {
      RecordsList
    },
  }
</script>
