<template>
  <div class="page-container page-container--with-children">
    <slot>

    </slot>
    <div class="multi-screen multi-screen--no-mobile">
      <div class="multi-screen__inner" :style="{width:100*getPagesCount+'%',left:(this.visiblePage-1)*-100+'%'}">
        <div class="multi-screen__page" :style="{width:100/getPagesCount+'%'}" v-for="(page,$pageIndex) in data" :key="$pageIndex">
          <div class="row row-full-width row--vertical-mobile">
            <div class="row row-vertical row-full-height" :style="{height:(100/onRow*row.length)+'%'}" :key="$index" v-for="(row,$index) in page">
              <div class="col" :style="{height:'calc('+(100/onRow)+'% - 1em)'}" :key="$index2" v-for="(item,$index2) in row">
                <ChannelItem :data="item"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-preloader" v-show="isLoading">
      <m-preloader stroke-width="5" circle-width="5em"  />
    </div>
    <div class="pager-vertical-container pager-vertical-container--mobile-default">
      <m-pager :vertical="!isMobile" :count="getPagesCount" v-model="currentPage" />
    </div>
  </div>
</template>
<style lang="scss">
  .channels-list {
    &__header {
      padding: 1em;
      background: var(--title-box-color);
      font-size: 1.25em;
      font-weight: 600;
    }
  }
</style>
<script>
  import splitToRows from '~/functions/splitToRows.js';
  import isMobile from '~/functions/isMobile.js';
  import getBlocksCounts from '~/functions/getBlocksCounts.js';
  import ChannelItem from '@/components/blocks/ChannelItem';
  let sizesConfig = {
    width:{
      640:2,
      900:3,
      1200:4,
      1920:5
    },
    height:{
      350:1,
      550:2,
      750:3,
      1280:4
    }
  };
  let counts = getBlocksCounts(sizesConfig);

  let onRow;
  let onPage;

  if (isMobile()) {
    onRow = 1;
    onPage = 12;
  } else {
    onRow = counts.h;
    onPage = onRow * counts.w;
  }

  export default {
    components: {
      ChannelItem
    },
    async mounted() {
      this.isLoading = true;
      let list = await this.$axios.get(this.getBaseURL(1,onPage));
      list = list.data;
      list.list = splitToRows(list.data,onRow);
      this.data = {0:list.list};
      this.total = list.total;
      for (let i=1; i<this.getPagesCount; i++) {
        this.data[i] = []
      }
      this.isLoading = false;
    },
    props: {
      urlParams:{
        type: String,
        required: true,
      }
    },
    computed:{
      getPagesCount() {
        if (this.total === 0) {
          return 0;
        }
        return Math.ceil(this.total/this.onPage);
      }
    },
    watch:{
      currentPage() {
        this.load();
      }
    },
    data() {
      return {
        isLoading: false,
        onRow: onRow,
        onPage: onPage,
        currentPage: 1,
        visiblePage: 1,
        isScrolling: false,
        isMobile: isMobile(),
        total: 0,
        data: {},
      }
    },
    created() {
      if (!isMobile()) {
        window.addEventListener('wheel', this.onWheel);
      }
    },
    methods:{
      getBaseURL(page=1,count=10) {
        return `/channels?`+this.urlParams+`&page=${page}&count=${count}`;
      },
      onWheel(e) {
        if (!this.isScrolling) {
          let changed = false;
          let dir = (e.deltaY>0) ? 1 : -1;
          if (dir === -1 && this.currentPage>1) {
            this.currentPage--;
            changed=true;
          } else {
            if (this.currentPage<this.getPagesCount) {
              this.currentPage++;
              changed=true;
            }
          }
          if (changed) {
            this.isScrolling=true;
            setTimeout(()=>{
              this.isScrolling=false;
            },500)
          }
        }
      },
      load() {
        let page = this.currentPage-1;
        if (this.data[page] && this.data[page].length > 0 && !this.isMobile) {
          this.visiblePage = this.currentPage;
        } else {
          this.isLoading = true;
          this.$axios.get(this.getBaseURL(this.currentPage,onPage)).then(res=>{
            this.isLoading = false;
            if (this.isMobile) {
              this.data[0] = [res.data.data];
              window.scrollTo(0,0);
            } else {
              res.data.list = splitToRows(res.data.data, onRow);
              this.data[page] = res.data.list;
              this.visiblePage = this.currentPage;
            }
          })
        }
      }
    }
  }
</script>
