<template>
  <div class="scheduler__container">
    <div class="scheduler__outer" v-if="!error">

      <m-modal :header="$t('scheduler.playlists.edit._title')" v-model="playlistItemEditPanel.visible">
        <div slot="main" >
          <div class="modal__input-container">
            <m-input autoSize :placeholder="$t('scheduler.playlists.edit.title')" :errors="playlistItemEditPanel.errors.title" v-model="playlistItemEditPanel.data.title" />
          </div>
          <div class="modal__input-container">
            <m-input type="textarea" autoSize :placeholder="$t('scheduler.playlists.edit.description')" :errors="playlistItemEditPanel.errors.description" v-model="playlistItemEditPanel.data.description" />
          </div>
          <div class="modal__input-container">
            <m-tags-input v-model="playlistItemEditPanel.data.tags" :title="$t('scheduler.playlists.edit.tags')" />
          </div>
        </div>
        <div class="modal__buttons" slot="buttons">
          <div class="buttons-list">
            <m-btn @click="savePlaylistItem()" >{{$t('global.save')}}</m-btn>
          </div>
        </div>
      </m-modal>

      <ResizableRow @resizeend="onResize" class="scheduler__inner" name="scheduler_page_row">
        <ResizableRowChild :defaultWidth="0.75"  class="scheduler__timetable-container__outer">
          <div class="scheduler__timetable-container">
            <div class="scheduler__hours">
              <div class="scheduler__hours__list" ref="hoursList" :class="hoursListClass">
                <div class="scheduler__hour" :key="$index" v-for="(hour, $index) in getHours">{{hour.text}}</div>
              </div>
            </div>
            <div class="scheduler__days">
              <div class="scheduler__day" :key="$index" v-for="(day, $index) in days">
                <div class="scheduler__day__text">{{day.text}}</div>
                <div class="scheduler__day__playlists">
                  <div class="scheduler__playlist" @click="editPlaylist(playlist)" :key="$index2" v-for="(playlist, $index2) in getPlaylistsForDay(day)" :style="playlist._style">
                    {{playlist.title}}
                  </div>
                  <div class="scheduler__playlist scheduler__playlist--announce" @click="editAnnounce(announce)" :key="$index2" v-for="(announce, $index2) in getAnnouncesForDay(day)" :style="announce._style">
                    {{announce.title}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="box box--with-header scheduler__videos-manager-outer">
            <div class="box__header">
              <div class="scheduler__videos-manager__header-inner">
                <div class="scheduler__videos-manager__dates">
                  <m-btn flat icononly icon="chevron_left" @click="changeWeek(-1)" />
                  <span class="scheduler__videos-manager__dates__week">{{currentWeekIntervalText}}</span>
                  <m-btn flat icononly icon="chevron_right" @click="changeWeek(1)" />
                </div>
                 <div class="buttons-list">
                   <m-btn v-if="canAddAnnounces" @click="openAnnouncePanel" class="btn--green" icon="add_box">{{$t('scheduler.add_stream_announce')}}</m-btn>
                   <m-btn v-if="canAddPlaylists" @click="openPlaylistPanel" icon="playlist_add_check">{{$t('scheduler.add_autopilot_playlist')}}</m-btn>
                 </div>
              </div>
            </div>
            <div class="box__inner scheduler__videos-manager-container">
              <VideosManager :canAdd="false" :filterServerOnly="true" :channel="channel" />
            </div>
          </div>
        </ResizableRowChild>
        <ResizableRowBar  v-if="showEditPanel"/>
        <ResizableRowChild :defaultWidth="0.25" v-if="showEditPanel">
          <div v-if="addAnnouncePanel.visible" class="scheduler__announce-panel">
            <div class="scheduler__announce-panel__inputs">
              <m-response :data="addAnnouncePanel.response" />
              <div class="row">
                <div class="col">
                  <div class="modal__input-container">
                    <m-datetime autoSize :title="$t('scheduler.announces.time')" v-model="addAnnouncePanel.data.time" :errors="addAnnouncePanel.errors.time" />
                  </div>
                </div>
                <div class="col">
                  <div class="modal__input-container">
                    <m-input autoSize type="number" :min="1" :max="1440" :title="$t('scheduler.announces.length')" :errors="addAnnouncePanel.errors.length" v-model="addAnnouncePanel.data.length" />
                  </div>
                </div>
              </div>
              <div class="modal__input-container">
                <m-input autoSize :title="$t('scheduler.announces.title')" v-model="addAnnouncePanel.data.title" :errors="addAnnouncePanel.errors.title" />
              </div>
              <div class="modal__input-container">
                <m-input type="textarea" :title="$t('scheduler.announces.description')" v-model="addAnnouncePanel.data.description" :errors="addAnnouncePanel.errors.description" />
              </div>
              <div class="modal__input-container" v-if="isChannelAdmin">
                <m-select :showEmptyVariant="false" :title="$t('scheduler.announces.user')" :options="broadcastingUsers" v-model="addAnnouncePanel.data.user_id" :errors="addAnnouncePanel.errors.user_id"  />
              </div>
              <div class="modal__input-container">
                <m-tags-input single v-model="addAnnouncePanel.data.tags" :title="$t('scheduler.announces.tags')" />
              </div>
              <div class="modal__input-container">
                <m-filepicker :title="$t('scheduler.announces.picture')" :data="addAnnouncePanel.coverData" class="filepicker--video-cover" folder="announces" v-model="addAnnouncePanel.data.cover" />
              </div>
            </div>
            <div class="scheduler__announce-panel__buttons">
              <div class="buttons-list">
                <m-btn :loading="addAnnouncePanel.isLoading" @click="saveAnnounce()">{{addAnnouncePanel.isEditing? $t('global.save') : $t('global.add')}}</m-btn>
                <m-btn flat @click="addAnnouncePanel.visible = false">{{$t('global.cancel')}}</m-btn>
              </div>
            </div>
          </div>
          <div class="scheduler__playlist-contents" v-else-if="currentPlaylist">
            <div class="scheduler__playlist-contents__header">
              <div class="row">
                <div class="col">
                  <div class="scheduler__playlist-contents__header__input-container">
                    <m-input autoSize :title="$t('scheduler.playlist_title')" v-model="currentPlaylist.data.title" />
                  </div>
                </div>
                <div class="col">
                  <div class="scheduler__playlist-contents__header__input-container">
                    <m-datetime autoSize :minDate="0" :dialogTitle="$t('scheduler.time_start')" :title="$t('scheduler.time_start')" v-model="currentPlaylist.data.time_start" />
                  </div>
                </div>
              </div>
              <div class="row row--centered">
                <div class="col">
                  <div class="scheduler__playlist-contents__header__input-container">
                    <m-checkbox autoSize :title="$t('scheduler.cycled')" v-model="currentPlaylist.data.cycled.status" />
                  </div>
                </div>
                <div class="col" v-if="currentPlaylist.data.cycled.status">
                  <div class="scheduler__playlist-contents__header__input-container">
                    <m-datetime autoSize :minDate="currentPlaylist.time_start" :dialogTitle="$t('scheduler.cycled_till')" :title="$t('scheduler.cycled_till')" v-model="currentPlaylist.data.cycled.till" />
                  </div>
                </div>
              </div>
            </div>
            <div class="scheduler__playlist-contents__items" v-dragula="currentPlaylist.items" drake="main">
              <div v-if="item" :key="item.video_id ? item.video_id : item.id" v-for="(item, $index) in currentPlaylist.items" class="scheduler__playlist-contents__item">
                <div class="scheduler__playlist-contents__item__inner">
                  <div class="scheduler__playlist-contents__item__left">
                    <div class="scheduler__playlist-contents__item__title">
                      {{item.title}}
                    </div>
                    <span class="tag" v-if="item.is_folder">{{$t('scheduler.playlists.is_folder')}}</span>
                  </div>
                  <div class="scheduler__playlist-contents__item__right">
                    <div class="scheduler__playlist-contents__item__time">
                     {{getTime(item, $index)}}
                    </div>
                    <a @click="openPlaylistItemEditPanel(item)" class="scheduler__playlist-contents__item__button">
                      <i class="fa fa-edit"></i>
                    </a>
                    <a @click="deleteItemFromPlaylist(item)" class="scheduler__playlist-contents__item__button">
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </div>
                <div :ref="`folder${item.video_folder_id}`" class="scheduler__playlist-contents__item__folder" v-if="item.is_folder" v-dragula="item.items" drake="main">
                  <div  :key="folderItem.video_id ? folderItem.video_id : folderItem.id" v-for="(folderItem, $index2) in item.items" class="scheduler__playlist-contents__item">
                    <div class="scheduler__playlist-contents__item__inner">
                      <div class="scheduler__playlist-contents__item__left">
                        <div class="scheduler__playlist-contents__item__title">
                          {{folderItem.title}}
                        </div>
                      </div>
                      <div class="scheduler__playlist-contents__item__right">
                        <div class="scheduler__playlist-contents__item__time">
                          {{getTime(folderItem, $index, $index2)}}
                        </div>
                        <a @click="openPlaylistItemEditPanel(folderItem)" class="scheduler__playlist-contents__item__button">
                          <i class="fa fa-edit"></i>
                        </a>
                        <a @click="deleteItemFromPlaylist(folderItem, $index)" class="scheduler__playlist-contents__item__button">
                          <i class="fa fa-times"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="scheduler__playlist-contents__footer">
              <div class="buttons-list">
                <m-btn @click="savePlaylist()" :loading="isSavingPlaylist">{{$t('global.save')}}</m-btn>
              </div>
            </div>
          </div>
        </ResizableRowChild>
      </ResizableRow>
    </div>
    <m-error-page v-else :data="error" />

  </div>
</template>

<script>
  import moment from 'moment';
  import getReadableTime from '~/functions/getReadableTime.js';
  import getDate from '~/functions/getDate.js';
  import ResizableRow from '@/components/elements/resizable/ResizableRow';
  import ResizableRowChild from '@/components/elements/resizable/ResizableRowChild';
  import ResizableRowBar from '@/components/elements/resizable/ResizableRowBar';
  import VideosManager from '@/components/blocks/dashboard/VideosManager';
  let defaultAnnounceData = {
    length: 30,
    time: Math.floor(new Date().getTime() / 1000),
    title: '',
    description: '',
    user_id: null,
    cover: null,
    tags: [],
  };

  export default {
    created() {
     // return null;
      const service = this.$dragula.$service;
      service.eventBus.$on('drop', (args) => {
        const sourceIsVideosList = args.source.classList.contains('videos-manager__items');
        const targetIsVideosList = args.container.classList.contains('videos-manager__items');
        const el = args.el;
        if (sourceIsVideosList && !targetIsVideosList) {
          const index = el.parentElement ? Array.prototype.indexOf.call(el.parentElement.children, el) : 0;
          const videoData = JSON.parse(el.dataset.info);
         // console.log(videoData);
          if (el.parentNode) {
            el.parentNode.removeChild(el);
          }
          if (videoData.is_folder) {
            this.setFolderData(videoData);
          }
          ///return {
          //  video_id: item.id,
          //  length: item.length,
          //  title: item.title,
          //};
        }
      });
      service.options('main', {
        copy: function(el,source) {
          const sourceIsVideosList = source.classList.contains('videos-manager__items');
          return sourceIsVideosList;
        },
        accepts: function (el, target, source, sibling) {

          const sourceIsVideosList = source.classList.contains('videos-manager__items');
          const targetIsVideosList = target.classList.contains('videos-manager__items');
     //     console.log(target.classList, source.classList, sourceIsVideosList, targetIsVideosList);
          if (sourceIsVideosList && !targetIsVideosList) {
            return true;
          }
          if (!sourceIsVideosList && !targetIsVideosList) {
            return true;
          }
          return false;
        },
        revertOnSpill: true
      })
    },
    watch: {
      "currentPlaylist.items"(newItems) {

      }
    },
    computed: {
      canAddPlaylists() {
        let canAdd = false;
        ['channel_admin', 'admin', 'owner', 'autopilot'].forEach(key => {
          if (this.rights.indexOf(key) !== -1) {
            canAdd = true;
          }
        });
        return canAdd;
      },
      canAddAnnounces() {
        let canAdd = false;
        ['channel_admin', 'admin', 'owner', 'live_broadcast'].forEach(key => {
          if (this.rights.indexOf(key) !== -1) {
            canAdd = true;
          }
        });
        return canAdd;
      },
      showEditPanel() {
        return this.currentPlaylist || this.addAnnouncePanel.visible;
      },
      isChannelAdmin() {
        let isAdmin = false;
        ['channel_admin', 'admin', 'owner'].forEach(key => {
          if (this.rights.indexOf(key) !== -1) {
            isAdmin = true;
          }
        });
        return isAdmin;
      },
      playlistTypes() {
        return [
          {name: this.$t('scheduler.playlist_types.manual'), value: 'manual'},
          {name: this.$t('scheduler.playlist_types.folder'), value: 'folder'},
        ]
      },
      getHours() {
        let hours = [];
        for (let i = 0; i < 24; i++) {
          hours.push({
            num: i,
            text: (i<10 ? '0' + i : i)+':00'
          })
        }
        return hours;
      }
    },
    methods: {
      async setFolderData(folder) {
        let data = {};

        if (!folder.is_project) {
          data.folder_id = folder.video_folder_id;
        } else {
         data.project_id = -1 * folder.video_folder_id;
        }
        let res = (await this.$axios.post(`videos/filemanager/${this.channel.id}`, data)).data;
        if (res.status) {
          let folderData = this.currentPlaylist.items.filter(item => item.video_folder_id === folder.video_folder_id)[0];
          if (folderData) {
            this.$set(folderData, 'items', res.data.videos.filter(video => video.is_on_server).map(video => { //
              return {
                video_id: video.id,
                title: video.title,
                length: video.length
              };
            }));
            let ref = this.$refs['folder' + folder.video_folder_id];
            if (ref && ref[0]) {
              ref = ref[0];
            }
            this.$dragula.$service.drakes.main.models.push({
              container: ref,
              model: folderData.items,
            });
          }
        }
      },
      savePlaylistItem() {
        this.$set(this.currentPlaylist.items, this.playlistItemEditPanel.editIndex,  this.playlistItemEditPanel.data);
        this.playlistItemEditPanel.visible = false;
      },
      openPlaylistItemEditPanel(item) {
        this.playlistItemEditPanel.editIndex = this.currentPlaylist.items.indexOf(item);
        this.playlistItemEditPanel.data = JSON.parse(JSON.stringify(item));
        this.playlistItemEditPanel.visible = true;
      },
      deleteItemFromPlaylist(item, folderIndex) {
        if (folderIndex) {
          this.currentPlaylist.items[folderIndex].splice(this.currentPlaylist.items[folderIndex].indexOf(item), 1);
        }
        this.currentPlaylist.items.splice(this.currentPlaylist.items.indexOf(item), 1);
      },
      setDays() {
        let date = this.currentWeekStart;
        let endDate = moment(date).add(7, 'day');
        this.currentWeekIntervalText = date.format('D.M.YY')+' - '+endDate.format('D.M.YY');
        this.days = [];
        for (let i = 0; i <= 6; i++) {
          let date = moment(this.currentWeekStart).add(i, 'day');
          let day = {
            'text': getDate(date.toDate(), false),
            'ts': date.startOf('day').unix(),
          };
          this.days.push(day);
        }
      },
      changeWeek(index) {
        this.currentWeekStart.add(7 * index, 'day');
        this.setDays();
      },
      savePlaylist() {
        const isEditing = !!this.currentPlaylist.id;
        this.isSavingPlaylist = true;
        let data = this.currentPlaylist;
        data.channel_id = this.channel.id;
        this.$axios({
          method: isEditing ? 'PUT' : 'POST',
          url: isEditing ? `timetable/playlists/${this.currentPlaylist.id}` : `timetable/playlists`,
          data
        }).then(res => {
          this.isSavingPlaylist = false;
          if (res.data.status) {
            this.currentPlaylist.id = res.data.data.playlist.id;
            res.data.data.playlist.items.forEach((item, index) => {
              this.$set(this.currentPlaylist.items[index], 'id', item.id);
              if (item.is_folder) {
                item.items.forEach((folderItem, folderIndex) => {
                  this.$set(this.currentPlaylist.items[index].items[folderIndex], 'id', folderItem.id);
                })
              }
            });
            if (!isEditing) {
              this.schedule.playlists.push(res.data.data.playlist);
            } else {
              this.schedule.playlists.forEach((playlist, index) => {
                if (playlist.id === res.data.data.playlist.id) {
                  this.$set(this.schedule.playlists, index, res.data.data.playlist);
                }
              })
            }
          }
        })
      },
      onResize() {
        let rect = this.$refs.hoursList.getBoundingClientRect();
        if (rect.width > 1000) {
          this.hoursListClass = '';
        } else {
          this.hoursListClass = 'scheduler__hours__list--small';
        }
      },
      editAnnounce(announce) {
        if (this.canAddAnnounces) {
          this.addAnnouncePanel.isEditing = true;
          let data = JSON.parse(JSON.stringify(announce));
          if (announce.pictures_data && announce.pictures_data.cover) {
            this.addAnnouncePanel.coverData = announce.pictures_data.cover;
            data.cover = announce.pictures_data.cover.id;
          }
          this.addAnnouncePanel.data = data;
          this.addAnnouncePanel.visible = true;
        }
      },
      openPlaylistPanel() {
        let playlist = {
          time_start: moment().unix() + 60,
          items: [],
          data: {
            cycled: {
              status: false,
            }
          }
        };
        this.schedule.playlists.push(playlist);
        this.currentPlaylist = playlist;
        this.$nextTick(() => {
          this.onResize();
        })
      },
      openAnnouncePanel() {
        this.addAnnouncePanel.isEditing = false;
        this.addAnnouncePanel.data = JSON.parse(JSON.stringify(defaultAnnounceData));
        this.addAnnouncePanel.visible = true;
      },
      saveAnnounce() {
        this.addAnnouncePanel.isLoading = true;
        let data = this.addAnnouncePanel.data;
        data.channel_id = this.channel.id;
        this.$axios({
          method: this.addAnnouncePanel.isEditing ? 'PUT' : 'POST',
          url: this.addAnnouncePanel.isEditing ? `timetable/announces/${this.addAnnouncePanel.data.id}` : `timetable/announces`,
          data
        }).then(res => {
          this.addAnnouncePanel.response = res.data;
          this.addAnnouncePanel.isLoading = false;
          if (res.data.status) {
            if (this.addAnnouncePanel.isEditing) {
              this.schedule.announces = this.schedule.announces.filter(announce => announce.id !== res.data.data.announce.id);
            }
            this.schedule.announces.unshift(res.data.data.announce);
            this.$store.commit('NEW_ALERT', res.data);
            this.addAnnouncePanel.errors = {};
            this.addAnnouncePanel.visible = false;
            this.addAnnouncePanel.response = null;
          } else {
            this.addAnnouncePanel.errors = res.data.errors || {};
          }

        })
      },
      getTime(item, index) {
        if (!this.showItemDates) {
          if (item.is_folder) {
            let length = 0;
            if (item.items) {
              item.items.forEach(video => {
                if (video && video.length) {
                  length += parseInt(video.length);
                }
              })
            }
            return getReadableTime(length);
          }
          return getReadableTime(item.length);
        }
        return "";
      },
      editPlaylist(playlist) {
        this.currentPlaylist = JSON.parse(JSON.stringify(playlist));
      },
      getPlaylistEnd(playlist) {
        if (playlist.data.cycled.status) {
          return playlist.data.cycled.till;
        }
        let time = parseInt(playlist.data.time_start);
        playlist.items.forEach(item => {
          if (item) {
            if (item.length) {
              time += parseInt(item.length);
            } else {
              if (item.is_folder && item.items) {
                item.items.forEach(folderItem => {
                  time += parseInt(folderItem.length);
                })
              }
            }
          }
        });

        return time;
      },
      getAnnouncesForDay(day) {
        const seconds = 86400;
        let dayStart = day.ts;
        let dayEnd = day.ts + seconds;
        let announces = [];
        const list = JSON.parse(JSON.stringify(this.schedule.announces));
        list.forEach(announce => {
          const start = announce.time;
          const end = announce.time + announce.length;
          announce._formattedDates = {
            start: getDate(start * 1000),
            end: getDate(end * 1000)
          };
          if (start < dayEnd && end > dayStart) {
            let left = 0;
            if (start < dayEnd && start > dayStart) {
              left = ((start - dayStart) / seconds * 100);
            }
            let width = 100 - left;
            if (end < dayEnd && end > dayStart) {
              width = ((end - dayStart) / seconds * 100);
            }
            announce._style = {
              left: left + '%',
              width: width + '%'
            };
            announces.push(announce);
          }
        });
        return announces;
      },
      getPlaylistsForDay(day) {
        const seconds = 86400;
        let dayStart = day.ts;
        let dayEnd = day.ts + seconds;
        let playlists = [];
        const list = JSON.parse(JSON.stringify(this.schedule.playlists));
        list.forEach(playlist => {
          const start = playlist.time_start || playlist.data.time_start;
          const end = this.getPlaylistEnd(playlist);
          playlist._formattedDates = {
            start: getDate(start * 1000),
            end: getDate(end * 1000)
          };
          if (start < dayEnd && end > dayStart) {
            let left = 0;
            if (start < dayEnd && start > dayStart) {
              left = ((start - dayStart) / seconds * 100);
            }
            let width = 100 - left;
            if (end < dayEnd && end > dayStart) {
              width = ((end - dayStart) / seconds * 100);
            }
            playlist._style = {
              left: left + '%',
              width: width + '%'
            };
            playlists.push(playlist);
          }

        });
        return playlists;
      }
    },
    async mounted() {
      this.setDays();
      this.onResize();
      if (this.isChannelAdmin) {
        let team = (await this.$axios.post(`/channels/${this.channel.id}/team/get`, {
          types: ['channel_admin', 'admin', 'owner', 'broadcaster']
        })).data.list;
        let users = team.filter(item => item.user_id !== this.$store.state.userData.id).map(item => {
          return {
            name: item.username,
            value: item.user_id
          }
        });
        users.unshift({
          name: `${this.$t('scheduler.you')} (${this.$store.state.userData.username})`,
          value: this.$store.state.userData.id
        });
        this.broadcastingUsers = users;
      }
    },
    data() {
      return {
        test: [{"id":11424,"playlist_id":847,"video_id":29266,"index":0,"title":"слс_представляет","length":"-2","can_subscribe":1,"can_view":1,"description":null,"additional_data":null,"created_at":"2019-03-16 14:38:01","updated_at":"2019-03-16 14:38:01","time":null,"readable_time":"01.01.1970 07:00","readable_length":"00:00:02","is_current":false,"picture":"http://v2.myowntv.org/videos/ch1/290618mgCLpZHGPY1oxwt.mp4.jpg"},{"id":11425,"playlist_id":847,"video_id":22453,"index":1,"title":"'ГЭБИ' - Заставка","length":"19","can_subscribe":1,"can_view":1,"description":null,"additional_data":null,"created_at":"2019-03-16 14:38:01","updated_at":"2019-03-18 02:12:30","time":null,"readable_time":"01.01.1970 07:00","readable_length":"00:00:19","is_current":false,"picture":"http://v1.myowntv.org/videos/ch1/190418G7mUwfhHbZngLvu.mp4.jpg"},{"id":11426,"playlist_id":847,"video_id":20807,"index":2,"title":"Okno","length":"13","can_subscribe":1,"can_view":1,"description":null,"additional_data":null,"created_at":"2019-03-16 14:38:01","updated_at":"2019-03-18 02:12:30","time":null,"readable_time":"01.01.1970 07:00","readable_length":"00:00:13","is_current":false,"picture":"http://v1.myowntv.org/videos/ch1/110418EaZ2uhN6zYxb4IF.mp4.jpg"},{"id":11427,"playlist_id":847,"video_id":38034,"index":3,"title":"Clean Bandit feat. Demi Lovato - Solo","length":"223","can_subscribe":1,"can_view":1,"description":null,"additional_data":null,"created_at":"2019-03-16 14:38:01","updated_at":"2019-03-16 14:38:01","time":null,"readable_time":"01.01.1970 07:00","readable_length":"00:03:43","is_current":false,"picture":"http://v2.myowntv.org/videos/ch1/201018220hEPxb72If8ynDGJ.mp4.jpg"},{"id":11428,"playlist_id":847,"video_id":37621,"index":4,"title":"2016-04-16_172906892","length":"55","can_subscribe":1,"can_view":1,"description":null,"additional_data":null,"created_at":"2019-03-16 14:38:01","updated_at":"2019-03-16 14:38:01","time":null,"readable_time":"01.01.1970 07:00","readable_length":"00:00:55","is_current":false,"picture":"http://v2.myowntv.org/videos/ch1/141018170zEhMHxfvDRZup1a.flv.jpg"}],
        currentWeekIntervalText: '',
        hoursListClass: '',
        showItemDates: false,
        currentPlaylist: null,
        days: [],
        broadcastingUsers: [],
        addAnnouncePanel: {
          response: null,
          visible: false,
          isLoading: false,
          isEditing: false,
          data: defaultAnnounceData,
          coverData: null,
          errors: {

          }
        },
        playlistItemEditPanel: {
          visible: false,
          errors: {},
          data: {
            title: '',
            description: '',
            tags: []
          }
        },
        isSavingPlaylist: false,
        currentWeekStart:
      }
    },
    async asyncData({app,params}) {
      let channelData = (await app.$axios.get(`/channels/${params.id}?do_not_count_stat=1`)).data;
      if (channelData.status) {
        let channel = channelData.data;
        let id = params.id;
        let rights = (await app.$axios.post(`/channels/${params.id}/getrights`)).data;
        if (rights.length > 0) {
          let schedule = (await app.$axios.get(`/timetable/getbychannel/${params.id}/all`)).data;
          if (schedule.status) {
            return {
              error: false,
              schedule: schedule.data,
              channel,
              id,
              rights
            };
          } else {
            return {
              error: schedule
            };
          }
        } else {
          return {
            error: {
              text: 'errors.403'
            }
          };
        }
      } else {
        return {
          error:
            {
              text: 'errors.404'
            }
        };
      }
    },
    components: {
      VideosManager,
      ResizableRow,
      ResizableRowChild,
      ResizableRowBar,
    }
  }
</script>
<style lang="scss">
  .scheduler {
    &__container {
      height: 100%;
    }
    &__outer {
      height: 100%;
    }
    &__inner {
      height: 100%;
    }
    &__hours {
      margin: 0 0 0 7em;
      &__list {
        display: flex;
        justify-content: space-around;
      }
    }

    &__hour {
      font-size: .75em;
      padding: 1em 0;
      flex: 1;
      text-align: center;
      position: relative;
      &:after {
        content: "";
        display: block;
        width: 1px;
        height: 33.5em;
        background: rgba(255, 255, 255, 0.1);
        position: absolute;
        top: 0;
        left: 2.25em;
      }
    }
    &__hours__list--small &__hour:nth-of-type(2n) {
      display: none;
    }
    &__days {
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }
    &__day {
      display: flex;
      width: calc(100% - 1.75em);
      &__text {
        padding: .25em 1em;
        font-size: .875em;
        width: 5em;
        background: var(--box-color);
      }
      &__playlists {
        flex: 1;
        position: relative;
      }
    }

    &__playlist {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      height: .5em;
      position: absolute;
      padding: .25em;
      margin: .25em;
      line-height: .85;
      background: var(--active-color);
      &--announce {
        background: var(--green);
      }
      &:hover {
        box-shadow: 0 0 1em rgba(255, 255, 255, .5);
      }
    }
    &__timetable-container {
      &__outer {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1;
      }
    }
    &__videos-manager {
      &-outer {
        height: 100%;
        overflow: hidden;
      }
      &-container {
        padding: .5em .5em 2.25em!important;
        height: calc(100% - 5.25em);
        overflow: hidden;
        .videos-manager__inner {
          margin: -1em -.5em;
        }
        .videos-manager__item {
          padding: .25em;
          &__title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &__top {
            height: 5em;
          }
          &__outer {
            width: calc(100% / 5);
          }
        }
      }
      &__header-inner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &__dates {
        display: flex;
        align-items: center;
        &__week {
          white-space: nowrap;
          font-size: .875em;
          background: rgba(0, 0, 0, .25);
          padding: .5em 1em;
          border-radius: .35em;
          margin: 0 .5em;
          font-weight: 500;
        }
      }
    }



    &__playlist-contents {
      display: flex;
      flex-direction: column;
      height: 100%;
      &__items {
        flex: 1;
        overflow: auto;
        margin: .25em 0 0;
      }
      &__header {
        padding: 1em;
        background: var(--box-header-color);
      }
      &__item {
        &__folder {
          background: var(--title-box-color);
          padding: .5em;
        }
        &__inner {
          padding: .5em;
          background: var(--box-color);
          margin: .25em;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        &__title {
          margin: 0 .5em 0 0;
          max-width: 75%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &__time {
          font-weight: 500;
          font-size: .875em;
          margin: 0 .5em 0 0;
          line-height: 0;
        }
        &__left {
          max-width: calc(100% - 5.5em);
          flex: 1;
          display: flex;
          align-items: center;
        }
        &__right {
          display: flex;
          align-items: center;
        }

        &__button {
          margin: 0 0 0 .5em;
          cursor: pointer;
          opacity: .75;
          transition: all .35s;
          &:hover {
            opacity: 1;
          }
        }
      }
      &__footer {
        background: var(--box-footer-color);
        padding: .5em;
      }
    }
   &__announce-panel {
     display: flex;
     flex-direction: column;
     height: 100%;
     &__inputs {
       flex: 1;
       padding: 1em;
     }

     &__buttons {
       padding: 1em;
       background: var(--box-footer-color);
     }
   }
  }

</style>
