<template>
  <div class="video-conference-manager">
    <div class="row">
      <div class="col">
        <m-btn @click="init()" v-if="!this.conference">{{$t('studio.sources.video_conference.initialize')}}</m-btn>
        <copy-tag v-else :text="conferenceLink"/>
      </div>
     <div class="col">

      </div>
    </div>
    <div class="video-conference-manager__layout-types">
      <a @click="setLayoutType('fit')" class="video-conference-manager__layout-type" :class="{'video-conference-manager__layout-type--active': layoutType === 'fit'}">{{$t('studio.sources.video_conference.layout_types.fit')}}</a>
      <a @click="setLayoutType('fill_screen')" class="video-conference-manager__layout-type" :class="{'video-conference-manager__layout-type--active': layoutType === 'fill_screen'}">{{$t('studio.sources.video_conference.layout_types.fill_screen')}}</a>
      <a @click="setLayoutType('big_remote')" class="video-conference-manager__layout-type" :class="{'video-conference-manager__layout-type--active': layoutType === 'big_remote'}">{{$t('studio.sources.video_conference.layout_types.big_remote')}}</a>
      <a @click="setLayoutType('big_local')" class="video-conference-manager__layout-type" :class="{'video-conference-manager__layout-type--active': layoutType === 'big_local'}">{{$t('studio.sources.video_conference.layout_types.big_local')}}</a>
    </div>
    <div class="video-conference-manager__users">
      <div class="video-conference-manager__user" :class="{'video-conference-manager__user--selected': selectedUser && selectedUser.id === user.id}" :key="$index" v-for="(user, $index) in users" v-if="user.id !== user_id">
        <div class="video-conference-manager__user__info">
          <div class="video-conference-manager__user__ava" :style="{backgroundImage: 'url('+user.ava+')'}"></div>
          <div class="video-conference-manager__user__name">{{user.username}}</div>
        </div>
        <div class="video-conference-manager__user__buttons">
          <m-btn @click="sendRequest(user)" v-if="!selectedUser || selectedUser.id !== user.id">{{$t('studio.sources.video_conference.invite')}}</m-btn>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  .video-conference-manager {
    padding: .5em;
    &__users {
      display: flex;
      flex-wrap: wrap;
      margin: .5em 0 0;
    }
    &__user {
      padding: 1em;
      transition: all .35s;
      width: 25%;
      &:hover {
        background: rgba(255, 255, 255, .1);
      }
      &--selected {
        background: rgba(255, 255, 255, .05);
      }
      &__info {
        display: flex;
        align-items: center;
        margin: 0 0 .5em;
      }

      &__ava {
        width: 2em;
        height: 2em;
        background-size: contain !important;
        background-repeat: no-repeat;
      }

      &__name {
        margin: 0 0 0 .5em;
        font-weight: 500;
      }
    }
    &__layout-types {
      margin: 1em 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: .875em;
    }

    &__layout-type {
      display: inline-block;
      background: rgba(255, 255, 255, 0.1);
      padding: .5em 1em;
      border-radius: .25em;
      cursor: pointer;
      transition: all .35s;
      &:hover {
        background: rgba(255, 255, 255, 0.35);
      }

      &--active {
        background: rgba(255, 255, 255, 0.25);
      }
    }
  }
</style>
<script>
  import copyTag from '@/components/elements/copyTag';
  let PeerConnection = window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
  let IceCandidate = window.mozRTCIceCandidate || window.RTCIceCandidate;
  let SessionDescription = window.mozRTCSessionDescription || window.RTCSessionDescription;
  const peerConnectionConfig = {
    iceServers:[
      {urls: ["turn:173.194.72.127:19305?transport=udp",
          "turn:[2404:6800:4008:C01::7F]:19305?transport=udp",
          "turn:173.194.72.127:443?transport=tcp",
          "turn:[2404:6800:4008:C01::7F]:443?transport=tcp"
        ],
        username:"CKjCuLwFEgahxNRjuTAYzc/s6OMT",
        credential:"u1SQDR/SQsPQIxXNWQT7czc/G4c="
      },
      {urls:["stun:stun.l.google.com:19302"]}
    ]};

  navigator.getUserMedia = navigator.getUserMedia || navigator.mozGetUserMedia || navigator.webkitGetUserMedia;
  export default {
    beforeDestroy() {
      if (this.peerConnection) {
        this.peerConnection.close();
      }
    },
    components: {
      copyTag
    },
    computed: {
      conferenceLink() {
        return `/conferences/${this.conference.uuid}`;
      }
    },
    async mounted() {
      if (this.object.data && this.object.data.data && this.object.data.data.conference_id) {
        let data = (await this.$axios.get(`videoconferences/${this.object.data.data.conference_id}`)).data;
        if (data.status) {
          this.conference = data.data.conference;
          this.init();
        }
      }
      if (this.object.videos.length > 0) {
        this.setLayout();
      }
      if (this.object.data.data.selectedUser) {
        this.sendRequest(this.object.data.data.selectedUser);
      }
    },
    methods: {
      setLayout() {
        //if (this.object.data.ownCamera) {
        let localVideo = this.object.videos[0];
        let remoteVideo = this.object.videos[1];
        let sizeX = this.object.data.settings.sizeX;
        let sizeY = this.object.data.settings.sizeY;
        let data = [];
        if (this.layoutType === 'fit') {
          let localSizeY = (sizeX / 2) * (localVideo.videoHeight / localVideo.videoWidth);
          let localVideoSettings = {
            x: 0,
            y: (sizeY - localSizeY) / 2,
            startX: 0,
            startY: 0,
            endX: localVideo.videoWidth,
            endY: localVideo.videoHeight,
            sizeX: sizeX / 2,
            sizeY: localSizeY
          };
          data.push(localVideoSettings);
          if (remoteVideo) {
            let remoteSizeY = (sizeX / 2) * (remoteVideo.videoHeight / remoteVideo.videoWidth);
            let remoteVideoSettings = {
              x: sizeX / 2,
              y: (sizeY - remoteSizeY) / 2,
              startX: 0,
              startY: 0,
              endX: remoteVideo.videoWidth,
              endY: remoteVideo.videoHeight,
              sizeX: sizeX / 2,
              sizeY: remoteSizeY
            };
            data.push(remoteVideoSettings);
          }
        }
        if (this.layoutType === 'fill_screen') {
          let fullLocalSizeX = sizeY / (localVideo.videoHeight / localVideo.videoWidth);
          let localOffsetX = sizeX - fullLocalSizeX;
          let localVideoSettings = {
            x: 0,
            y: 0,
            startX: localOffsetX,
            startY: 0,
            endX: localVideo.videoWidth - localOffsetX / (sizeY / localVideo.videoHeight),
            endY: localVideo.videoHeight,
            sizeX: sizeX / 2,
            sizeY: sizeY
          };
          data.push(localVideoSettings);
          if (remoteVideo) {
            let fullRemoteSizeX = sizeY / (remoteVideo.videoHeight / remoteVideo.videoWidth);
            let remoteOffsetX = sizeX - fullRemoteSizeX;
            let remoteVideoSettings = {
              x: sizeX / 2,
              y: 0,
              startX: remoteOffsetX,
              startY: 0,
              endX: remoteVideo.videoWidth - remoteOffsetX / (sizeY / remoteVideo.videoHeight),
              endY: remoteVideo.videoHeight,
              sizeX: sizeX / 2,
              sizeY: sizeY
            };
            data.push(remoteVideoSettings);
          }
        }
        if (this.layoutType === 'big_remote' || this.layoutType === 'big_local') {
          let bigVideo = this.layoutType === 'big_remote' ? remoteVideo : localVideo;
          let smallVideo = this.layoutType === 'big_remote' ? localVideo : remoteVideo;
          if (bigVideo) {
            let bigVideoSizeX = bigVideo.videoWidth * sizeY / bigVideo.videoHeight;
            let bigVideoSettings = {
              x: (sizeX - bigVideoSizeX) / 2,
              y: 0,
              startX: 0,
              startY: 0,
              endX: bigVideo.videoWidth,
              endY: bigVideo.videoHeight,
              sizeX: bigVideoSizeX,
              sizeY: sizeY
            };
            data.push(bigVideoSettings);
          }
          if (smallVideo) {
            let smallVideoSizeX = sizeX / 4;
            let smallVideoSizeY = smallVideoSizeX * (smallVideo.videoHeight / smallVideo.videoWidth);
            let smallVideoSettings = {
              x: 10,
              y: sizeY - smallVideoSizeY - 10,
              startX: 0,
              startY: 0,
              endX: smallVideo.videoWidth,
              endY: smallVideo.videoHeight,
              sizeX: smallVideoSizeX,
              sizeY: smallVideoSizeY
            };
            if (this.layoutType === 'big_local') {
              data.push(smallVideoSettings);
            } else {
              data.unshift(smallVideoSettings);
            }


          }

        }

        this.object.videoSizes = data;
        this.object.ownVideoSizes = true;
      },
      setLayoutType(type) {
        this.layoutType = type;
        this.setLayout();
      },
      createAnswer() {
        this.peerConnection.createAnswer(
          this.gotLocalDescription,
          function(error) { console.log(error) },
          { 'mandatory': { 'OfferToReceiveAudio': true, 'OfferToReceiveVideo': true } }
        );
      },
      gotLocalDescription(description){
        this.peerConnection.setLocalDescription(description);
        this.sendMessage(description);
      },
      gotRemoteStream(event) {
        console.log('got remote', event);
        let video = document.createElement('video');
        video.srcObject = event.stream;
        video.play();
        video.onloadedmetadata = (e) => {
          console.log('loaded remote metadata');
          this.object.videoActive = true;
          this.object.videos.push(video);
          this.object.audioActive = true;
          this.$nextTick(() => {
            this.setLayout();
          })
        },
        video.onloadeddata = (e) => {
          console.log('loaded remote data');
          this.object.videoActive = true;
          if (!this.audioConnected) {
            let src = this.object.audioCtx.createMediaElementSource(video);
            this.object.audios.push(src);
            this.object.onLoadedAudio();
          }
        }
      },
      gotIceCandidate(event) {
        if (event.candidate) {
          this.sendMessage({
            type: 'candidate',
            label: event.candidate.sdpMLineIndex,
            id: event.candidate.sdpMid,
            candidate: event.candidate.candidate
          });
        }
      },
      sendMessage(message) {
        this.$axios.post(`videoconferences/${this.conference.uuid}/message`, {message}).then(res => {
          //console.log(res.data);
        })
      },
      gotStream(stream) {
        this.peerConnection = new PeerConnection(peerConnectionConfig);
        if (stream) {
          this.peerConnection.addStream(stream);
        }
        this.peerConnection.onicecandidate = this.gotIceCandidate;
        this.peerConnection.onaddstream = this.gotRemoteStream;
      },
      sendRequest(user) {
        this.$axios.post(`videoconferences/${this.conference.uuid}/request`, {user_id: user.id}).then(res => {
          this.selectedUser = user;
          this.object.data.data.selectedUser = user;
        })
      },
      async init() {
        let stream = this.object.mediaStream;
        this.gotStream(stream);
        let hasAlreadyLoaded = !!this.conference;
        let data = null;
        if (!hasAlreadyLoaded) {
          data = (await this.$axios.post(`channels/${this.channel.id}/videoconference`)).data;
        }
        if ((data && data.status) || hasAlreadyLoaded) {
          if (!hasAlreadyLoaded) {
            this.conference = data.data.conference;
            this.object.setSubData({
              conference_id: data.data.conference.uuid
            });
          }
          this.user_id = this.$store.state.userData.id;
          this.$echo.join(`App.VideoConference.${this.conference.uuid}`)
            .here(users => {
              this.users = users;
            }).joining(user => {
              this.users.push(user);
            }).leaving(user => {
              this.users.splice(this.users.map(userData => userData.id).indexOf(user.id), 1);
            }).listen('.videoconference.message', (e) => {
              let message = JSON.parse(e.message);
              if (message && e.user_id !== this.user_id) {
                //console.log('get', message, message.type, e.user_id);
                if (message.type === 'offer') {
                  message.sdp = message.sdp + "\r\n";
                  this.peerConnection.setRemoteDescription(new SessionDescription(message));
                  this.createAnswer();
                }
                else if (message.type === 'answer') {
                  message.sdp = message.sdp + "\r\n";
                  this.peerConnection.setRemoteDescription(new SessionDescription(message));
                }
                else if (message.type === 'candidate') {
                  let candidate = new IceCandidate({sdpMLineIndex: message.label, candidate: message.candidate});
                  this.peerConnection.addIceCandidate(candidate);
                }
              }
            });
          } else {
            this.$store.commit("NEW_ALERT", data);
          }
      }
    },
    data() {
      return {
        audioConnected: null,
        layoutType: 'fill_screen',
        selectedUser: null,
        user_id: null,
        peerConnection: null,
        users: [],
        conference: null
      }
    },
    props: {
      object: {
        type: Object,
        required: true
      },
      channel: {
        type: Object,
        required: true
      }
    }
  }
</script>
