<template>
  <ChannelsList :title="title" urlParams="sort_by=best&type=tv"/>
</template>
<style lang="scss">

</style>
<script>
  import ChannelsList from '@/components/blocks/ChannelsList';
  export default {
    data() {
      return {
        title: this.$t('channels.best')
      }
    },
    head() {
      return {
        title: this.title
      }
    },
    components: {
      ChannelsList
    },
  }
</script>
