<template>
<div class="page-container">
  <div class="thumbs-list">
    <div class="thumbs-list__block">
      <div class="thumbs-list__header">
        <span class="thumbs-list__header__text">{{$t('channels.online')}}</span>
        <nuxt-link to="/tv/online" class="thumbs-list__header__button">{{$t('global.show_more')}}</nuxt-link>
      </div>
      <div v-if="loading.online" class="thumbs-list__items">
        <PreloadingBlockItem  :style="{width: (100 / itemsInRow) + '%'}" v-for="$index in 24" :key="$index"/>
      </div>
      <div class="thumbs-list__items" ref="itemsList">
        <div :style="{width: (100 / itemsInRow) + '%'}" :key="item.id"  v-for="item in onlineChannels" class="thumbs-list__item">
          <ChannelItem :data="item"/>
        </div>
      </div>
    </div>
    <div class="thumbs-list__block">
      <div class="thumbs-list__header">
        <span class="thumbs-list__header__text">{{$t('channels.popular')}}</span>
        <nuxt-link to="/tv/popular" class="thumbs-list__header__button">{{$t('global.show_more')}}</nuxt-link>
      </div>
      <div v-if="loading.popular" class="thumbs-list__items">
        <PreloadingBlockItem  :style="{width: (100 / itemsInRow) + '%'}" v-for="$index in 24" :key="$index"/>
      </div>
      <div class="thumbs-list__items">
        <div :style="{width: (100 / itemsInRow) + '%'}" :key="item.id" v-for="item in popularChannels" class="thumbs-list__item">
          <ChannelItem :data="item"/>
        </div>
      </div>
    </div>
    <div class="thumbs-list__block">
      <div class="thumbs-list__header">
        <span class="thumbs-list__header__text">{{$t('channels.best')}}</span>
        <nuxt-link to="/tv/best" class="thumbs-list__header__button">{{$t('global.show_more')}}</nuxt-link>
      </div>
      <div v-if="loading.best" class="thumbs-list__items">
        <PreloadingBlockItem  :style="{width: (100 / itemsInRow) + '%'}" v-for="$index in 24" :key="$index"/>
      </div>
      <div class="thumbs-list__items">
        <div :style="{width: (100 / itemsInRow) + '%'}" :key="item.id"  v-for="item in bestChannels" class="thumbs-list__item">
          <ChannelItem :data="item"/>
        </div>
      </div>
    </div>
    <div class="thumbs-list__block">
      <div class="thumbs-list__header">
        <span class="thumbs-list__header__text">{{$t('channels.new')}}</span>
        <nuxt-link to="/tv/new" class="thumbs-list__header__button">{{$t('global.show_more')}}</nuxt-link>
      </div>
      <div v-if="loading.popular" class="thumbs-list__items">
        <PreloadingBlockItem  :style="{width: (100 / itemsInRow) + '%'}" v-for="$index in 24" :key="$index"/>
      </div>
      <div class="thumbs-list__items">
        <div :style="{width: (100 / itemsInRow) + '%'}" :key="item.id" v-for="item in newChannels" class="thumbs-list__item">
          <ChannelItem :data="item"/>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
<script>
  let ResizeSensor = require('css-element-queries/src/ResizeSensor');
  import isMobile from '~/functions/isMobile.js';
  import ChannelItem from '@/components/blocks/ChannelItem';
  import PreloadingBlockItem from '@/components/blocks/PreloadingBlockItem';
  export default {
    head () {
      return {
        title: this.$t('channels._title'),
      }
    },
    components: {
      PreloadingBlockItem,
      ChannelItem
    },
    data() {
      return {
        itemsInRow: 1,
        isMobile: isMobile(),
        online: {},
        popular: {},
        best: {},
        new: {},
        loading: {
          online: true,
          popular: true,
          best: true,
          new: true
        }
      }
    },
    async mounted() {
      if (!this.isMobile) {
        this.itemsInRow = Math.ceil(this.$refs.itemsList.offsetWidth / 300);
        new ResizeSensor(this.$refs.itemsList, (e) => {
          this.itemsInRow = Math.ceil(e.width / 300);
        });
      }
      this.$axios.get('channels?type=tv&online=true&sort_by=viewers').then(res => {
        this.online = res.data.data.list;
        this.loading.online = false;
      });
      this.$axios.get('channels?type=tv&sort_by=popular').then(res => {
        this.popular = res.data.data.list;
        this.loading.popular = false;
      });
      this.$axios.get('channels?type=tv&sort_by=best').then(res => {
        this.best = res.data.data.list;
        this.loading.best = false;
      });
      this.$axios.get('channels?type=tv&sort_by=new').then(res => {
        this.new = res.data.data.list;
        this.loading.new = false;
      });
    },
    computed: {
      newChannels() {
        return this.new && this.new.data ? this.new.data : [];
      },
      onlineChannels() {
        return this.online && this.online.data ? this.online.data : [];
      },
      popularChannels() {
        return this.popular && this.popular.data  ? this.popular.data : [];
      },
      bestChannels() {
        return this.best && this.best.data  ? this.best.data : [];
      }
    },
    methods: {

    }
  }
</script>
