<template>
  <div class="blacklist">
    <div class="settings-page__header settings-page__header--small">{{$t('blacklist._title')}}</div>
    <div class="row">
      <div class="col">
        <m-autocomplete :errors="errors.username" autocomplete-key="id" autocomplete-value="username" url="users/autocomplete" v-model="username" :placeholder="$t('dashboard.banlist.select_user')" />
      </div>
      <div class="col col--button-container">
        <m-btn :loading="isLoading" @click="banUser()" >{{$t('dashboard.banlist.add_user')}}</m-btn>
      </div>
    </div>
    <div class="list-container">
      <div class="centered" v-if="isLoadingItems">
        <m-preloader stroke-width="5" circle-width="5em"  />
      </div>
      <div v-else class="list-container__inner blacklist__users">
        <div class="list-item list-item--small" :key="$index" v-for="(member,$index) in blacklist.list">
          <div class="list-item__left">
            <img class="list-item__picture" :src="member.user.ava" />
            <div class="list-item__captions">
              <div class="list-item__title">{{member.user.username}}</div>
            </div>
          </div>
          <div class="list-item__right">
            <div class="list-item__buttons">
              <m-btn @click="unbanUser(member)" class="btn--delete">{{$t('global.delete')}}</m-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
  .blacklist__users{
    max-height: 17.5em;
  }
</style>
<script>
  export default {
    async mounted() {
      const blacklist = (await this.$axios.get('blacklist')).data;
      this.isLoadingItems = false;
      this.blacklist = blacklist;
    },
    data() {
      return {
        isLoadingItems: true,
        isLoading: false,
        blacklist:{},
        errors:{},
        username: '',
      }
    },
    methods:{
      banUser() {
        this.isLoading = true;
        this.$axios.post('blacklist',{username: this.username}).then(res=>{
          this.errors = res.data.errors || [];
          if (!res.data.status) {
            this.$store.commit('NEW_ALERT', res.data);
          } else {
            this.username = "";
            this.blacklist.list.unshift(res.data.item);
          }
          this.isLoading = false;
        })
      },
      unbanUser(item) {
        this.$axios.delete('blacklist/'+item.user.id).then(res=>{
          this.$store.commit('NEW_ALERT', res.data);
          if (res.data.status) {
            this.blacklist.list = this.blacklist.list.filter(user=>user.user.id !== item.user.id);
          }
        })
      }
    }
  }
</script>
