<template>
  <div class="notifications-page">
    <div class="centered" v-if="isLoading">
      <m-preloader stroke-width="5" circle-width="5em"  />
    </div>
    <div v-else>
    <!--  <div class="vertical-delimiter"></div> -->
      <table class="notifications-table">
        <thead>
          <tr>
            <td></td>
            <td :key="channelName" v-for="(channel, channelName) in channels">{{$t(channel.name)}}</td>
          </tr>
        </thead>
        <tbody>
          <template v-for="(type, $index) in types">
            <tr class="notifications-table__type-name" :key="$index">
              <td :colspan="Object.keys(channels).length + 1">{{$t(type.name)}}</td>
            </tr>
            <tr :key="subtype.name" v-for="subtype in type.subtypes">
              <td>{{$t(subtype.public_name)}}</td>
              <td :key="channel.name" v-for="(channel, channelName) in channels">
                <div class="notifications-table__checkbox-container">
                  <m-checkbox v-model="bindings[subtype.name][channelName]"/>
                </div>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
      <div class="buttons-list">
        <m-btn :loading="isSaving" @click="saveBindings()">{{$t('global.save')}}</m-btn>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    watch:{
      isEditing(state) {
        if (!state) {
          this.$set(this.data,'channels',{});
          this.$set(this.data,'subtypes',{});
        }
      }
    },
    computed: {
      postDataFilled() {
        let postData = this.postData;
        return postData.channels.length > 0 && postData.subtypes.length > 0;
      },
      postData() {
        let postData = {
          type: this.data.type,
          channels:[],
          subtypes:[],
        };
        if (this.isEditing) {
          postData.entity_id = this.entityID;
        }
        Object.keys(this.data.channels).forEach(key=>{
          if (this.data.channels[key]) {
            postData.channels.push(key);
          }
        });
        Object.keys(this.data.subtypes).forEach(key=>{
          if (this.data.subtypes[key]) {
            postData.subtypes.push(key);
          }
        });
        return postData;
      },
      typeOptions() {
        let types = [];
        let existingTypes = this.bindings.map(binding=>binding.type);
        Object.keys(this.types).forEach(type=>{
          const typeData = this.types[type];
          if (!typeData.needs_id) {
            if (existingTypes.indexOf(type) === -1) {
              types.push({
                name: this.$t(typeData.name),
                value: type
              })
            }
          }
        });
        return types;
      }
    },
    created() {
      this.getData();
    },
    methods: {
      saveBindings() {
        this.isSaving = true;
        let bindings = [];
        Object.keys(this.bindings).forEach(key => {
          bindings.push({
            id: key,
            channels: Object.keys(this.bindings[key]).filter(channelKey => this.bindings[key][channelKey])
          })
        });
        this.$axios.post('notifications/bindings', {bindings}).then( res => {
          this.isSaving = false;
          this.$store.commit('NEW_ALERT', res.data);
        })
      },
      deleteBinding(binding) {
        this.$axios.delete('notifications/bindings/' + binding.id).then(res=>{
          this.$store.commit('NEW_ALERT', res.data);
          if (res.data.status) {
            this.bindings.splice(this.bindings.indexOf(binding), 1);
          }
        })
      },
      editBinding(binding) {
        let channels = {};
        let subtypes = {};
        binding.channels.forEach(channel=>{
          channels[channel] = true;
        });
        binding.subtypes.forEach(subtype=>{
          subtypes[subtype] = true;
        });
        this.entityID = binding.entity_id;
        this.editingID = binding.id;
        this.data = {
          type: binding.type,
          channels: channels,
          subtypes: subtypes,
        };
        this.isEditing = true;
      },
      getSubtypeName(subtype,binding) {
        let name = '';
        this.types[binding.type].subtypes.forEach(subtypeItem=>{
          if (subtype === subtypeItem.name) {
            name = subtypeItem.public_name;
          }
        });
        return this.$t(name);
      },
      onSuccess() {
        if (this.isEditing) {
          this.bindings.forEach(binding=>{
            if (binding.id === this.editingID) {
              this.$set(binding,'channels',Object.keys(this.data.channels).filter(channel=>this.data.channels[channel]));
              this.$set(binding,'subtypes',Object.keys(this.data.subtypes).filter(subtype=>this.data.subtypes[subtype]));
            }
          })
        }
        //this.isEditing = false;
      },
      onFail() {

      },
      async getData() {
        this.types = (await this.$axios.get('notifications/bindings/gettypes')).data.list;
        const channels = (await this.$axios.get('notifications/bindings/getchannels')).data.list;
        channels.forEach(channel=>{
          this.channels[channel.channel_name] = channel;
        });
        Object.keys(this.types).forEach(type => {
          this.types[type].subtypes.forEach(subtype => {
            this.$set(this.bindings, subtype.name, {});
          })
        });
        let bindings = (await this.$axios.get('notifications/bindings')).data.list;
        bindings.forEach(binding => {
          if (binding.event_type) {
            this.$set(this.bindings[binding.event_type], binding.notification_channel_type, true);
          }
        });
        this.isLoading = false;
      }
    },
    data() {
      return {
        isLoading: true,
        isEditing: false,
        isSaving: false,
        errors:{},
        types:{},
        channels: {},
        bindings: {},
        editingID: null,
        entityID: null,
        data:{
          type: 'profile',
          channels: {},
          subtypes: {},
        },
        panelVisible: true,
      }
    }
  }
</script>
<style lang="scss">
  .notifications-table {
    width: 100%;
    margin: 0 0 .5em;
    &__type-name {
      font-size: 1.25em;
      font-weight: 500;
      padding: .5em 0 0;
      display: block;
    }

    thead td {
      text-align: center;
    }

    &__checkbox-container {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
</style>
