<template>
  <div class="billing-page">
    <div class="centered" v-if="isLoading">
      <m-preloader stroke-width="5" circle-width="5em"  />
    </div>
    <div v-else>
      <div v-if="!refillShown">
        <div class="billing-page__balance-container">
          <div class="billing-page__balance__texts">
            <span class="billing-page__balance-description">{{$t('billing.your_balance')}}</span>
            <span class="billing-page__balance-number">{{balance}}</span>
            <span class="billing-page__balance-currency">{{$t('billing.currency')}}</span>
          </div>
          <div class="billing-page__balance__buttons">
            <m-btn @click="refillShown = true">{{$t('billing.recharge')}}</m-btn>
          </div>
        </div>
        <div class="settings-page__header settings-page__header--small">{{$t('billing.history._title')}}</div>
        <div class="list-container">
          <m-tabs small :data="billingHistoryTabs" v-model="currentBillingHistoryTab" />
          <div class="list-container__inner billing-page__history">
            <div class="list-item list-item--small" :key="$index" v-for="(item,$index) in billingHistorySorted()">
              <div class="list-item__left">
                <div class="list-item__captions">
                  <div class="list-item__title" v-if="item.type === 'expenses'">{{$t(item.expense_type_name)}} <span class="tag tag--flat">{{getPublishDate(item.created_at, false)}}</span></div>
                  <div class="list-item__title" v-if="item.type === 'recharges'">{{$t(item.recharge_type_name)}} <span class="tag tag--flat">{{getPublishDate(item.created_at, false)}}</span></div>
                  <div class="list-item__under-title">
                    <span class="tag" v-if="item.type === 'expenses'">{{$t('billing.history.expenses')}}</span>
                    <span class="tag" v-else-if="item.type === 'recharges'">{{$t('billing.history.recharges')}}</span>
                    <span class="tag tag--red" v-if="item.type === 'expenses'">{{item.sum}} {{$t('billing.currency')}}</span>
                    <span class="tag tag--green" v-else-if="item.type === 'recharges'">{{item.sum}} {{$t('billing.currency')}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else>
        <div class="row row--centered">
          <div class="col">
            <m-select v-model="recharge.provider" :options="providersList" :placeholder="$t('billing.select_recharge_provider')"/>
          </div>
          <div class="col">
            <m-input :append="$t('billing.currency')" type="number" v-model="recharge.sum" :placeholder="$t('billing.sum')"/>
          </div>
        </div>
        <div class="buttons-list">
          <m-btn @click="goToRecharge()">{{$t('billing.go_to_recharge')}}</m-btn>
          <m-btn flat @click="refillShown = false">{{$t('billing.go_back')}}</m-btn>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  .billing-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .list-container {
      max-height: 50vh;
    }
    &__balance {
      &-container {
        display: flex;
        justify-content: space-between;
      }
      &__texts {
        display: flex;
        align-items: center;
      }
      &-number {
        font-size: 1.75em;
        margin: 0 .5em;
        font-weight: 600;
      }
    }
  }
</style>
<script>
import { getPublishDate } from '@/functions/dates.js';
export default {
  async mounted() {
    this.isLoading = true;
    this.balance = (await this.$axios.get('billing/balance')).data.balance;
    this.providers = (await this.$axios.get('billing/providers')).data.list;
    this.recharge.provider = this.providers[0].name;
    this.history = (await this.$axios.get('billing/history')).data.list;
    this.isLoading = false;
  },
  computed: {

    billingHistory() {
      if (!this.history) {
        return [];
      }
      if (!this.history.expenses || !this.history.recharges) {
        return [];
      }
      let tab = this.currentBillingHistoryTab;
      let history = this.history;
      if (tab === 'all') {
        return [
          ...history.expenses.map(item=>{
            item.type = 'expenses';
            return item;
          }),
          ...history.recharges.map(item=>{
            item.type = 'recharges';
            return item;
          })
        ];
      }
      if (tab === 'expenses') {
        return history.expenses.map(item=>{
          item.type = 'expenses';
          return item;
        });
      }
      if (tab === 'recharges') {
        return history.recharges.map(item=>{
          item.type = 'recharges';
          return item;
        });
      }
    },
    billingHistoryTabs() {
      return [
        {id: 'all', name: this.$t('billing.history.all')},
        {id: 'expenses', name: this.$t('billing.history.expenses')},
        {id: 'recharges', name: this.$t('billing.history.recharges')},
      ];
    },
    providersList() {
      return this.providers.map(provider=>{
        return {
          name: this.$t(provider.public_name),
          value: provider.name
        }
      });
    }
  },
  methods: {
    billingHistorySorted() {
      return this.billingHistory.sort(function(a,b){
        return new Date(b.created_at) - new Date(a.created_at);
      });
    },
    getPublishDate,
     goToRecharge() {
        let link = this.$store.state.apiURL+"billing/recharge?sum="+(this.recharge.sum)+"&token="+this.$store.state.token+"&provider="+this.recharge.provider;
        window.open(link);
     }
  },
  data() {
    return {
      refillShown: false,
      isLoading: false,
      balance: 0,
      providers: [],
      history: null,
      currentBillingHistoryTab: 'all',
      recharge:{
        provider: null,
        sum: 100,
      },
    }
  }
}
</script>
