<template>
  <div class="personal-settings">
    <div class="centered" v-if="isLoading">
      <m-preloader stroke-width="5" circle-width="5em"  />
    </div>
   <div v-else>
     <m-form :button-text="$t('global.save')" :post-data="userData" @response="onResponse" method="post" :url="'auth/update'">
        <div ref="form_inner">
          <div class="settings-page__header settings-page__header--small">{{$t('profile.personal._title')}}</div>
          <div class="row row--wrap row--no-mobile">
            <div class="col">
              <div class="settings-page__input-container">
                <m-input :errors="errors.username" :title="$t('profile.personal.username')" v-model="data.username" />
              </div>
            </div>
            <div class="col">
              <div class="settings-page__input-container">
                <m-input :errors="errors.full_name" :title="$t('profile.personal.full_name')" v-model="data.full_name" />
              </div>
            </div>
          </div>
          <div class="row row--wrap row--no-mobile">
            <div class="col col-3-5">
              <div class="settings-page__input-container">
                <m-editor :title="$t('profile.personal.description')" v-model="data.about" />
              </div>
            </div>
            <div class="col col-auto">
              <m-filepicker :title="$t('profile.ava')" folder="avatars" v-model="data.ava" />
            </div>
          </div>
          <div class="settings-page__header settings-page__header--small">{{$t('profile.info_fields._title')}}</div>
          <div class="row settings-page__info-fields-input" v-if="infoFieldsList.length > 0">
            <div class="col">
               <m-select :options="infoFieldsList" v-model="selectedInfoField" />
            </div>
            <div class="col col--button-container">
              <m-btn @click="addInfoField()">{{$t('global.add')}}</m-btn>
            </div>
          </div>
          <div class="row row--align-top" :key="field.name" v-for="field in data.info">
            <div class="col">
              <div class="settings-page__input-container settings-page__input-container--small" >
                <m-input :title="$t('profile.info_fields.'+field.name)" v-model="field.value" />
              </div>
            </div>
            <div class="col col--button-container">
              <m-btn class="btn--delete" icononly icon="delete" @click="deleteInfoField(field)"/>
            </div>
          </div>
        </div>
      </m-form>
    </div>
  </div>
</template>
<style lang="scss">
  .personal-settings {
    height: 100%;
  }
</style>
<script>
  import pickBy from 'lodash/pickBy';
  export default {
    async mounted() {
      this.infoFields = (await this.$axios.get('users/infofields')).data.list;
      if (this.infoFieldsList.length > 0) {
        this.selectedInfoField = this.infoFieldsList[0].value;
      }
      this.isLoading = false;
    },
    computed:{
      infoFieldsList() {
        if (!this.data.info) {
          return [];
        }
        let filledInfoFields = this.data.info.map(field=>field.name);
        return this.infoFields.filter(field => filledInfoFields.indexOf(field.id) === -1).map(field=>{
          return {
            name: this.$t(field.name),
            value: field.id
          }
        });
      },
      userData() {
        return pickBy(this.data,((value,key)=>{
          return this.oldData[key] !== value;
        }));
      }
    },
    data() {
      return {
        isLoading: true,
        data: JSON.parse(JSON.stringify(this.$store.state.userData)),
        oldData: JSON.parse(JSON.stringify(this.$store.state.userData)),
        errors: {},
        infoFields: [],
        selectedInfoField: null,
      }
    },
    methods: {
      onResponse(res) {
        this.errors = res.errors || {};
        this.$refs.form_inner.scrollTop = 0;
        if (res.status) {
          let data = JSON.parse(JSON.stringify(this.data));
          this.$store.commit('SET_USER_DATA', data);
        }
      },
      deleteInfoField(field) {
        this.data.info.splice(this.data.info.indexOf(field),1);
        if (this.infoFieldsList.length === 1) {
          this.selectedInfoField = this.infoFieldsList[0].value;
        }
      },
      addInfoField() {
        this.data.info.push({
            name: this.selectedInfoField,
            value: '',
        });
        this.$nextTick(()=> {
          if (this.infoFieldsList.length > 0) {
            this.selectedInfoField = this.infoFieldsList[0].value;
          }
        });
      }
    }
  }
</script>
