<template>
  <div class="settings-page__privacy">
    <!--<div class="settings-page__header">{{$t('settings.privacy._title')}}</div> -->
    <m-form key="privacy" :button-text="$t('global.save')" :post-data="{privacy_settings}" url="/auth/update" @success="onSuccess" @fail="onFail">
      <div class="settings-page__input-container">
        <m-select :errors="errors.page" :placeholder="$t('settings.privacy.page._title')" :options="options.page" v-model="privacy_settings.page" />
      </div>
      <div class="settings-page__input-container">
        <m-select :errors="errors.feed" :placeholder="$t('settings.privacy.feed._title')" :options="options.feed" v-model="privacy_settings.feed" />
      </div>
      <div class="settings-page__input-container">
        <m-select :errors="errors.messages" :placeholder="$t('settings.privacy.messages._title')" :options="options.messages" v-model="privacy_settings.messages" />
      </div>
    </m-form>
  </div>
</template>
<style lang="scss">
  .settings-page {
    &__privacy &__input-container {
      padding: 1em 0;
    }
  }
</style>
<script>
export default {
  components:{

  },
  computed: {
    options(){
      let options = {};
      options.page = [
        {name: this.$t('settings.privacy.page._options.all_users'), value: 0},
        {name: this.$t('settings.privacy.page._options.friends_only'), value: 1},
      ];
      options.feed = [
        {name: this.$t('settings.privacy.feed._options.all_users'), value: 0},
        {name: this.$t('settings.privacy.feed._options.friends_only'), value: 1},
        {name: this.$t('settings.privacy.feed._options.only_you'), value: 2},
      ];
      options.messages = [
        {name: this.$t('settings.privacy.messages._options.all_users'), value: 0},
        {name: this.$t('settings.privacy.messages._options.friends_only'), value: 1},
      ];
      return options;
    }
  },
  data() {
    return {
      userData: this.$store.state.userData,
      privacy_settings: this.$store.state.userData.privacy_settings,
      errors:{

      }
    }
  },
  methods:{
    onFail(res) {
      this.errors = res.errors || {};
    },
    onSuccess() {

    }
  }
}
</script>
