<template>
  <div class="settings-page__restore">
    <div class="settings-page__header settings-page__header--small">{{$t('settings.restore.deleted_channels')}}</div>
    <div class="list-container">
      <div class="centered" v-if="loading.deleted">
        <m-preloader stroke-width="5" circle-width="5em"  />
      </div>
      <div v-else class="list-container__inner">
        <div class="list-item list-item--small" :key="$index" v-for="(channel, $index) in deleted">
          <div class="list-item__left">
            <img class="list-item__picture" :src="channel.logo" />
            <div class="list-item__captions">
              <div class="list-item__title">{{channel.name}}</div>
            </div>
          </div>
          <div class="list-item__right">
            <div class="list-item__buttons">
              <m-btn class="btn--green" :loading="channel._loading" @click="restore(channel)">{{$t('settings.restore.restore_channel')}}</m-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="settings-page__header settings-page__header--small">{{$t('settings.restore.left_channels')}}</div>
    <div class="list-container">
      <div class="centered" v-if="loading.left">
        <m-preloader stroke-width="5" circle-width="5em"  />
      </div>
      <div v-else class="list-container__inner">
        <div class="list-item list-item--small" :key="$index" v-for="(channel, $index) in left">
          <div class="list-item__left">
            <img class="list-item__picture" :src="channel.logo" />
            <div class="list-item__captions">
              <div class="list-item__title">{{channel.name}}</div>
            </div>
          </div>
          <div class="list-item__right">
            <div class="list-item__buttons">
              <m-btn :loading="channel._loading" @click="getBack(channel)">{{$t('settings.restore.get_back')}}</m-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>

</style>
<script>
  export default {
    async mounted() {
      const deleted = (await this.$axios.get('channels/deleted')).data;
      const left = (await this.$axios.get('channels/left')).data;
      this.loading.deleted = false;
      this.deleted = deleted.data.list;
      this.left = left.data.list;
      this.loading.left = false;
    },
    data() {
      return {
        loading: {
          left: true,
          deleted: true
        },
        deleted: [],
        left: [],
      }
    },
    methods:{
      restore(channel) {
        this.$set(channel, '_loading', true);
        this.$axios.post('channels/'+channel.id+'/restore').then( res => {
          this.$set(channel, '_loading', false);
          if (!res.data.status) {
            this.$store.commit('NEW_ALERT', res.data);
          } else {
            this.deleted.splice(this.deleted.indexOf(channel), 1);
          }
        })
      },
      getBack(channel) {
        this.$set(channel, '_loading', true);
        this.$axios.post('channels/'+channel.id+'/getback').then( res => {
          this.$set(channel, '_loading', false);
           if (!res.data.status) {
            this.$store.commit('NEW_ALERT', res.data);
          } else {
            this.left.splice(this.left.indexOf(channel), 1);
          }
        })
      },
    }
  }
</script>
