<template>
<div class="notifications-page">
  <m-infinite-scroll :loading="isLoadingOnScroll" @scroll="loadMore" class="notifications-page__scroll">
    <NotificationItem :data="notification" :key="$index" v-for="(notification, $index) in notifications.data"/>
  </m-infinite-scroll>
</div>
</template>
<style lang="scss">

</style>
<script>
  import NotificationItem from '@/components/layout/notifications/NotificationItem';
  export default {
    head() {
      return {
        title: this.$t('notifications.page_title')
      }
    },
    async asyncData({ app }) {
      let notifications = (await app.$axios.get('notifications')).data;
      return {
        notifications: notifications.data.list
      }
    },
    middleware: 'auth',
    async mounted() {

    },
    watch:{

    },
    components:{
      NotificationItem
    },
    computed: {

    },
    data() {
      return {
        notifications: [],
        isLoadingOnScroll: false,
        currentPage: 1,
      }
    },
    methods: {
      loadMore() {
        if (!this.isLoadingOnScroll) {
          if (this.currentPage < this.notifications.last_page) {
            this.currentPage++;
            this.isLoadingOnScroll = true;
            this.$axios.get(`notifications?page=${this.currentPage}`).then(res => {
              this.notifications.data = [...this.feed.data, ...res.data.list.data];
              this.isLoadingOnScroll = false;
            })
          }
        }
      }
    }
  }
</script>
