<template>
<div class="settings-page__container">
  <div v-if="loggedIn" class="centered-block">
    <div class="box box-no-padding">
      <div class="settings-page">
        <div class="settings-page__tabs">
          <m-tabs :rememberTabs="false" :vertical="!isMobile" small :data="tabs" v-model="currentTab" />
        </div>
        <div class="settings-page__inner">
          <tabPersonal v-if="loadedTabs.personal" v-show="currentTab === 'personal'" />
          <tabPrivacy v-if="loadedTabs.privacy" v-show="currentTab === 'privacy'" />
          <tabBlacklist v-if="loadedTabs.blacklist" v-show="currentTab === 'blacklist'" />
          <tabNotifications v-if="loadedTabs.notifications" v-show="currentTab === 'notifications'" />
          <tabSocial v-if="loadedTabs.social" v-show="currentTab === 'social'" />
          <tabPaid v-if="loadedTabs.paid" v-show="currentTab === 'paid'" />
          <tabRestore v-if="loadedTabs.restore" v-show="currentTab === 'restore'" />
        </div>
      </div>
    </div>
  </div>
  <m-error-page v-else :data="{status:0,text:'errors.401'}" />
</div>
</template>
<style lang="scss">
  .settings-page{
    display: flex;
    align-items: stretch;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    &__tabs {
      flex: 1;
      background: var(--box-footer-color);
      display: flex;
      align-items: center;
    }
    &__inner {
      padding: 2em;
      flex: 3;
      overflow: auto;
      max-height: 70vh;
      min-height: 12vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media screen and (max-width: 768px) {
        padding: 1em;
        max-height: 100%;
      }
    }
    &__header{
      margin: .5em 0 1em;
      font-size: 1.5em;
      &--small{
        font-size: 1.25em;
      }
    }
    &__container {
      height: 100%;
      width: 75vw;
      margin: 0 auto;
      .box {
        width: 100%;
      }
      @media screen and (max-width: 768px) {
        width: calc(100% - 2em);
        padding: 1em;
        height: calc(100% - 3em);
      }
    }

    &__info-fields-input {
      margin: 0 0 1em;
    }

    &__input-container{
      margin: .5em 0 0;
      &--small {
        margin: 0!important;
      }
      &--small .input__container {
        margin: 1em 0;
      }
    }
  }
</style>
<script>
  import {mapGetters} from 'vuex';
  import tabPrivacy from '@/components/blocks/settings/privacy';
  import tabSocial from '@/components/blocks/settings/social';
  import tabBlacklist from '@/components/blocks/settings/blacklist';
  import tabNotifications from '@/components/blocks/settings/notifications';
  import tabPaid from '@/components/blocks/settings/paid';
  import tabPersonal from '@/components/blocks/settings/personal';
  import tabRestore from '@/components/blocks/settings/restore';

  export default {
    head() {
      return {
        title: this.$t('settings._title')
      }
    },
    middleware: 'auth',
    computed:{
      ...mapGetters(['loggedIn'])
    },
    watch:{
      currentTab(tab) {
        if (tab === "bots") {
          this.$router.push("/user/dev/bots");
        }
        this.loadedTabs[tab] = true;
      }
    },
    components:{
      tabPrivacy,
      tabNotifications,
      tabSocial,
      tabBlacklist,
      tabPaid,
      tabPersonal,
      tabRestore
    },
    data() {
      return {
        isMobile: window.outerWidth <= 768,
        currentTab: 'personal',
        loadedTabs:{
          personal: true
        },
        tabs: [
          {id: 'personal', name: this.$t('settings.personal._title')},
          {id: 'notifications', name: this.$t('settings.notifications._title')},
          {id: 'blacklist', name: this.$t('settings.blacklist._title')},
          {id: 'privacy', name: this.$t('settings.privacy._title')},
          {id: 'paid', name: this.$t('settings.paid._title')},
          {id: 'social', name: this.$t('settings.social._title')},
          {id: 'restore', name: this.$t('settings.restore._title')},
          {id: 'bots', name: this.$t('dashboard.chat.bots._title')},
        ],
      }
    }
  }
</script>
