<template>
  <div class="mobile-studio__container">
    <div class="mobile-studio" v-if="!error">

      <m-modal :header="$t('studio.not_supported._title')" v-model="notSupported" :showCloseButton="false">
        <div slot="main">
          <div class="modal__text">{{$t('studio.not_supported._text')}}</div>
        </div>
        <div class="modal__buttons" slot="buttons">
          <div class="buttons-list">
            <m-btn @click="exit()" >{{$t('studio.not_supported.back')}}</m-btn>
          </div>
        </div>
      </m-modal>

      <div class="page-preloader" v-if="isLoading">
        <m-preloader stroke-width="5" circle-width="5em"  />
      </div>
      <video pip="false" autoplay muted class="mobile-studio__video" ref="video"></video>

      <div class="mobile-studio__stream-button-container">
        <m-btn class="btn--big" :class="{'btn--green': !streamStarted, 'btn--delete': streamStarted}" @click="startStopStream()" faIcon="video">{{!streamStarted ? $t('studio.start_broadcast') : $t('studio.stop_broadcast')}}</m-btn>
      </div>

      <a class="mobile-studio__button mobile-studio__button--exit" @click="exit()">
        <i class="material-icons">exit_to_app</i>
      </a>
      <a class="mobile-studio__button mobile-studio__button--change-camera" :class="{'mobile-studio__button--disabled': (onlyOneCamera || streamStarted)}" @click="changeCamera()">
        <i class="material-icons">flip_camera_android</i>
      </a>
      <a class="mobile-studio__button mobile-studio__button--chat" :class="{'mobile-studio__button--active': chatVisible}" @click="chatVisible = !chatVisible">
        <i class="material-icons">chat</i>
      </a>
      <Chat v-show="chatVisible" :channel="channel" class="mobile-studio__chat" :transparent="true"/>
    </div>
    <m-error-page v-else :data="error" />
  </div>
</template>
<script>
  import { getPublishDate } from '~/functions/dates.js';
  import Chat from '@/components/Chat';

  export default {
    middleware: 'auth',
    mounted() {
      if ('MediaRecorder' in window) {
        this.getCamera();
      } else {
        this.notSupported = true;
      }
    },
    watch: {

    },
    computed: {
    },
    methods: {
      startStopStream() {
        if (!this.isLoadingStream) {
          if (!this.streamStarted) {
            this.isLoadingStream = true;
             let key = this.keyData.key.stream_key;
            let wsReceiverServer = this.keyData.stream_server;
            const ws = new WebSocket(`wss://${wsReceiverServer}/rtmp/${this.channel.stream_name}/${key}`);
            this.mediaRecorder = new MediaRecorder(this.mediaStream, {
              mimeType: 'video/webm;codecs=vp8', //!isFirefox ? 'video/webm;codecs=h264' :
              audioBitsPerSecond: 128000,
              videoBitsPerSecond: 1.25 * 1024 * 1024
            });
            this.mediaRecorder.addEventListener('dataavailable', (e) => {
              ws.send(e.data);
            });
            console.log(this.mediaStream, this.mediaRecorder, ws);

            this.mediaRecorder.addEventListener('stop', ws.close.bind(ws));
            this.mediaRecorder.start(3000);
            this.streamStarted = true;
            this.isLoadingStream = false;
          } else {
            this.mediaRecorder.stop();
            this.streamStarted = false;
          }
        }
      },
      changeCamera() {
        if (!this.onlyOneCamera && !this.streamStarted) {
          this.isFrontCamera = !this.isFrontCamera;
          this.getCamera();
        }
      },
      getCamera() {
        this.isLoading = true;
        let params = {
          video: {
            facingMode: {exact: (this.isFrontCamera ? "user" : "environment")}
          },
          audio: true,
        };
        if (this.onlyOneCamera) {
          params.video = true;
        }
        console.log(params);
        navigator.mediaDevices.getUserMedia(params).then(stream => {
          console.log('got stream');
          this.isLoading = false;
          this.mediaStream = stream;
          this.$refs.video.srcObject = stream;
          this.$refs.video.play();
        }).catch( e => {
          console.log(e);
          this.isLoading = false;
          if (e.name === "OverconstrainedError") {
            if (!this.onlyOneCamera) {
              this.onlyOneCamera = true;
              this.getCamera();
            }
          }
        });
      },
      exit() {
        this.$router.push('/dashboard');
      }
    },
    data() {
      return {
        chatVisible: false,
        streamStarted: false,
        isLoadingStream: false,
        mediaStream: null,
        mediaRecorder: null,
        onlyOneCamera: false,
        isLoading: false,
        isFrontCamera: false,
        notSupported: false,
      }
    },
    async asyncData({app, params, redirect}) {
      let channelData = (await app.$axios.get(`/channels/${params.id}?do_not_count_stat=1`)).data;
      if (channelData.status) {
        if (channelData.data.is_radio) {
          return redirect(`/radio-studio/${params.id}`);
        }
        let channel = channelData.data;
        let id = params.id;
        let rights = (await app.$axios.post(`/channels/${params.id}/getrights`)).data;
        if (Object.keys(rights).length>0) {
          let keyData = (await app.$axios.post(`/channels/${params.id}/getstreamkey`)).data;
          if (!keyData.status) {
            return {
              error: keyData
            }
          }
          return {
            keyData,
            error: false,
            channel,
            id,
            rights
          };
        } else {
          return {
            error:
              {
                text: 'errors.403'
              }
          };
        }
      } else {
        return {
          error:
            {
              text: 'errors.404'
            }
        };
      }
    },
    components: {
      Chat,
    },
    head () {
      return {
        title: this.$t('studio._title'),
      }
    }
  }
</script>
<style lang="scss">
  .mobile-studio {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--main-bg);
    z-index: 100000000;
    &__video {
      height: 100%;
    }
    &__button {
      cursor: pointer;
      font-size: 1.125em;
      color: #ddd;
      &--active {
        color: #fff;
        text-shadow: 0 0 .5em var(--active-color);
      }
      &--disabled {
        color: #555;
      }

      &--chat {
        position: fixed;
        top: 1em;
        left: 4em;
      }
      &--exit {
        position: fixed;
        top: 1em;
        right: 1em;
      }
      &--change-camera {
        position: fixed;
        top: 1em;
        left: 1em;
      }
    }
    &__stream-button-container {
      position: fixed;
      bottom: .5em;
      left: .5em;
      width: calc(100% - 1em);
    }
    &__chat {
      position: fixed!important;
      top: 3.5em!important;
      height: calc(100% - 8em) !important;
    }

  }
</style>
