<template>
  <div class="player-page" ref="page">
    <TVPlayer v-if="!error" ref="player" :video="video" :channel="video.channel"/>
    <m-error-page v-else :data="error"/>
  </div>
</template>
<script>
  import TVPlayer from '@/components/players/TVPlayer';
  export default {
    layout: 'empty',
    components: {
      TVPlayer,
    },
    async asyncData({app,params}) {
      let videoData = (await app.$axios.get(`/videos/${params.id}`)).data;
      if (videoData.status) {
        let video = videoData.data;
        let id = params.id;
        return {
          video,
          id,
          error: null
        };
      } else {
        return {
          error: videoData
        };
      }
    },
  }
</script>
