<template>
  <div class="box box--with-header blog-panel">
    <div class="box__header">
      <div class="box__header__title">
      {{title}}
      </div>
      <div class="box__header__buttons">
        <m-btn v-if="isEditing" :to="`/blog/${blog.id}`">{{$t('blog.back_to_article')}}</m-btn>
      </div>
    </div>
    <div class="box__inner blog-panel__inputs-container">
      <div class="blog-panel__inputs" ref="inner">
        <m-response :data="response"/>
        <div class="row">
          <m-input ref="title" autoSize :errors="errors.title" :title="$t('blog.title')" v-model="blog.title"/>
        </div>
        <div class="row">
          <m-editor ref="text" :errors="errors.text" :title="$t('blog.text')" v-model="blog.text" />
        </div>
        <div class="row">
          <m-tags-input ref="tags" autoSize single :errors="errors.tags" :title="$t('blog.tags')" v-model="blog.tags"/>
        </div>
        <div class="row">
          <m-filepicker :data="blog.pictures_data.cover_picture" ref="cover_picture" :title="$t('blog.cover_picture')" big folder="blog" v-model="blog.cover_picture_id" />
        </div>
      </div>
    </div>
    <div class="box__footer">
      <div class="buttons-list">
        <m-btn :loading="isLoading" @click="save()">{{isEditing ? $t('global.save') : $t('global.add')}}</m-btn>
      </div>
    </div>
    <m-modal v-model="successModalVisible">
      <div slot="main">
        <div class="modal__icon">

        </div>
        <div class="modal__text" v-if="response && response.text">{{$t(response.text)}}</div>
      </div>
      <div slot="buttons">
        <m-btn @click="successModalVisible = false">{{$t('global.ok')}}</m-btn>
      </div>
    </m-modal>
  </div>
</template>

<style lang="scss">
  .blog-panel {
    max-width: 80%;
    &__inputs-container {
      padding: 1em .5em 0!important;
    }
    &__inputs {
      max-height: 70vh;
      overflow: auto;
    }
    @media screen and (max-width: 768px) {
      & {
        max-width: 100%;
        &__inputs {
          overflow: visible;
        }

        &__inputs-container {
          padding: 1em !important;
        }
      }
    }
  }
</style>
<script>
  export default {
    props: {
      isEditing: {
        type: Boolean,
        required: true,
      },
      data: {
        type: Object,
        required: false,
      }
    },
    mounted() {
      if (this.isEditing) {
        if (this.blog.pictures_data && this.blog.pictures_data.cover_picture) {
          this.blog.cover_picture_id = this.blog.pictures_data.cover_picture.id;
        }
      }
    },
    data() {
      return {
        title: this.isEditing ? this.$t('blog.edit_title') : this.$t('blog.add_title'),
        errors: {},
        blog: this.isEditing ? this.data : {
          title: '',
          text: '',
          tags: [],
          pictures_data: {},
        },
        response: null,
        isLoading: false,
        successModalVisible: false,
        addedID: null,
      }
    },
    watch: {
      successModalVisible(isVisible) {
        if (!isVisible) {
          this.$router.push(`/blog/${this.addedID}`);
        }
      }
    },
    head () {
      return {
        title: this.title,
      }
    },
    methods: {
      save() {
        this.isLoading = true;
        this.$axios({
          method: this.isEditing ? 'PUT' : 'POST',
          url: this.isEditing ? `blog/${this.blog.id}` : 'blog',
          data: this.blog
        }).then (res => {
          this.errors = res.data.errors || {};
          this.response = res.data;
          this.isLoading = false;
          this.$refs.inner.scrollTop = 0;
          if (!this.isEditing) {
            if (res.data.status) {
              this.addedID = res.data.blog_item.id;
              this.successModalVisible = true;
            }
          } else {

          }
        })
      }
    }
  }
</script>
