<template>
  <div class="profile-page">
    <div class="profile-page__top">
      <div class="profile-page__top__info">
        <div :style="{background: 'url('+user.ava+') no-repeat center center',backgroundSize: 'cover'}" v-if="user.ava && user.ava !== ''" class="profile-page__avatar"></div>
        <div class="profile-page__user">
          <span class="profile-page__user__text">{{$t('profile.user')}} </span>
          <span class="profile-page__user__name">{{user.username}}
            <span class="profile-page__user__admin-tag" v-if="user.is_admin">
              <span class="tag">{{$t('profile.admin')}}</span>
            </span>
          </span>
        </div>
      </div>
      <UserOnlineMark :data="user" class="profile-page__online-container"/>
      <div class="profile-page__status">
        <span class="profile-page__status__text profile-page__status__text--empty" v-if="editStatus.text === '' && data.friend_status === 'STATE_SELF' && !editStatus.visible">{{$t('profile.change_status')}}</span>
        <span class="profile-page__status__text" v-if="editStatus.text !== '' && !editStatus.visible">{{user.status_text}}</span>
        <span class="profile-page__status__edit" v-if="data.friend_status === 'STATE_SELF' && !editStatus.visible" @click="editStatus.visible = true">
          <i class="material-icons">edit</i>
        </span>
        <div class="row row--centered" v-if="editStatus.visible">
          <m-input :title="''"  v-model="editStatus.text"></m-input>
          <m-btn class="btn--green" :loading="editStatus.isLoading" @click="saveStatus()">{{$t('global.ok')}}</m-btn>
        </div>

      </div>
      <div  v-if="!banned && $store.state.userData.loggedIn && ($store.state.userData.id !== user.id)" class="profile-page__top__buttons">
        <m-btn v-if="user.privacy_settings.messages === 0 || data.friend_status === 'STATE_IN_FRIENDS'" :to="`/mail?user_id=${user.id}`">{{$t('profile.write_message')}}</m-btn>
        <FriendsButton @change_status="onFriendStatusChange" :state="data.friend_status" :id="user.id"/>
      </div>
    </div>
    <div class="profile-page__restricted" v-if="profile_is_restricted">
      <div class="profile-page__restricted__inner">
        <div class="profile-page__restricted__text">{{$t('profile.restricted')}}</div>
      </div>
    </div>
    <div class="profile-page__restricted" v-else-if="banned">
      <div class="profile-page__restricted__inner">
        <div class="profile-page__restricted__text">{{$t('profile.user_has_banned_you')}}</div>
      </div>
    </div>
    <div class="profile-page__main">
      <div class="profile-page__tabs" v-if="!profile_is_restricted && !banned">
        <m-tabs :data="tabs" v-model="currentTab"/>
      </div>
      <div class="profile-page__content" v-if="!profile_is_restricted && !banned">
        <tabInfo :user="user" :data="data" :id="user.id" v-if="loadedTabs.info" v-show="currentTab === 'info'" />
        <tabFriends :user="user" :id="user.id" v-if="loadedTabs.friends" v-show="currentTab === 'friends'" />
        <tabVideos :user="user" :id="user.id" v-if="loadedTabs.videos" v-show="currentTab === 'videos'" />
        <tabBlog :user="user" :id="user.id" v-if="loadedTabs.blog" v-show="currentTab === 'blog'" />
      </div>
    </div>
  </div>
</template>
<script>
  import tabInfo from '@/components/blocks/profile/info';
  import tabFriends from '@/components/blocks/profile/friends';
  import tabVideos from '@/components/blocks/profile/videos';
  import tabBlog from '@/components/blocks/profile/blog';
  import FriendsButton from '@/components/buttons/FriendsButton';
  import UserOnlineMark from '@/components/blocks/users/UserOnlineMark';
  export default {
    head() {
      return {
        title: this.user.username
      }
    },
    components: {
      UserOnlineMark,
      FriendsButton,
      tabInfo,
      tabFriends,
      tabVideos,
      tabBlog
    },
    data() {
      return {
        loadedTabs: {
          info: true
        },
        currentTab: 'info',
        editStatus: {
          isLoading: false,
          text: '',
          visible: false,
        }
      }
    },
    watch:{
      currentTab(tab) {
        this.loadedTabs[tab] = true;
      }
    },
    computed: {
      tabs() {
        return [
          {id: 'info', name: this.$t('profile.tabs.info')},
          {id: 'videos', name: this.$t('profile.tabs.videos')},
          {id: 'friends', name: this.$t('profile.tabs.friends')},
          {id: 'blog', name: this.$t('profile.tabs.blog')},
        ];
      },
    },
    async asyncData({app, redirect, params}) {
      let user = (await app.$axios.get(`users/${params.id}/get`)).data;
      if (!user.status) {
        return redirect ('/404');
      }
      return {
        id: parseInt(params.id),
        data: user.data,
        user: user.data.user,
        profile_is_restricted: user.data.profile_is_restricted,
        banned: user.banned,
      };
    },
    mounted() {
      if (this.user) {
        this.editStatus.text = this.user.status_text;
      }
    },
    methods: {
      saveStatus() {
        this.editStatus.isLoading = true;
        this.$axios.post('auth/update', {status_text: this.editStatus.text}).then(res=>{
          this.editStatus.isLoading = false;
          if (res.data.status) {
            this.user.status_text = this.editStatus.text;
            this.editStatus.visible = false;
          } else {
            this.$store.commit('NEW_ALERT', res.data);
          }
        })
      },
      onFriendStatusChange(state) {
        if (state === "STATE_IN_FRIENDS" && this.profile_is_restricted) {
          this.$axios.get(`users/${this.id}/get`).then(res=>{
            this.user = res.data.data;
            this.profile_is_restricted = res.data.profile_is_restricted;
          })
        }
      }
    }
  }
</script>
<style lang="scss">
  .profile-page {
    display: flex;
    height: 100%;
    @media screen and (max-width: 768px) {
      & {
        flex-direction: column;
      }
    }
    &__main {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    &__content {
      overflow: auto;
      flex: 1;
    }
    &__restricted {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 1em;
      font-size: 1.25em;
    }
    &__tabs {
      background: var(--box-color);
    }
    &__top {
      max-width: 25%;
      padding: 1em;
      background: var(--title-box-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__info {
        display: flex;
        align-items: center;
        margin: 0 0 1em;
      }
      &__buttons {
        font-size: 1.25em;
        display: flex;
        flex-direction: column;
        .btn {
          margin: 0 0 .5em;
        }
      }
      @media screen and (max-width: 768px) {
        max-width: 100%;
      }
    }
    &__online-container {
      margin: 0 0 .5em;
    }
    &__status {
      margin: 0 0 .5em;
      display: flex;
      align-items: center;
      &__text {
        text-align: center;
        &--empty {
          font-style: italic;
        }
      }
      &__edit {
        margin: 0 0 0 .5em;
        cursor: pointer;
      }
    }
    &__avatar {
      width: 3.5em;
      height: 3.5em;
      background-size: contain!important;
    }
    &__user {
      display: flex;
      flex-direction: column;
      margin: 0 0 0 1em;
      &__name {
        font-weight: 600;
        font-size: 1.25em;
      }
    }
    .comments-panel {
      padding: 1em 1em 1em 0;
    }
    .comments__list {
      padding: 1em 1em 1em 0;
    }
  }
</style>
