<template>
  <div class="player-page" ref="page">
    <m-error-page v-if="error" :data="error"/>
    <TVPlayer ref="player" :channel="channel" v-else-if="!channel.is_radio"/>
    <RadioPlayer v-else ref="player" :channel="channel"/>
  </div>
</template>
<script>
  import TVPlayer from '@/components/players/TVPlayer';
  import RadioPlayer from '@/components/players/RadioPlayer';
  export default {
    layout: 'empty',
    components: {
      TVPlayer,
      RadioPlayer
    },
    async asyncData({app,params}) {
      let channelData = (await app.$axios.get(`/channels/${params.id}`)).data;
      if (channelData.status) {
        let channel = channelData.data;
        let id = params.id;
        return {
          error: null,
          channel,
          id
        };
      } else {
        return {
          error: channelData
        };
      }
    },
    mounted() {
      if (this.channel) {

      }
    }
  }
</script>
