$white: #fff;
$blue: #107fd0;
$green: #71ca0b;
$red: #d04310;

.theme-flat {
  font-family: 'Montserrat', sans-serif;
  --shadow-big: 0px 0px rgba(0, 0, 0, 0);
  --link-color: #fff;
  --main-bg: #04131f;
  --sidebar-bg: #02101b;
  --title-box-color: #06121b;
  --input-bg-color: #555;
  --input-text-color: #fafafa;
  --input-border-color: #555;
  --input-border-active-color: #777;
  --text-color: #fff;
  --text-sub-color: #ddd;
  --border-color: #ddd;
  --box-header-color: #ffffff;
  --box-footer-color: #041019;
  --box-color: linear-gradient(#031929, #111b23);
  --menu-color: #0b3658;
  --box-element-color: #041b2b;
  --inactive-color: #aaa;
  --inactive-text-color: #777;
  --text-warning-color: #fffd92;
  --notifications-color: #252525;
  --list-container-color: #001a2f;
  --active-color: #107fd0;
  --white: #fff;
  --blue: #107fd0;
  --green: #71ca0b;
  --red: #d04310;
  --positive-color: #71ca0b;
  --negative-color: #d04310;
  &.theme-flat-old {
    font-family: 'Montserrat', sans-serif;
    --shadow-big: 0px 0px rgba(0, 0, 0, 0);
    --link-color: #fff;
    --main-bg: #212121;
    --sidebar-bg: #2d2d2d;
    --title-box-color: #272727;
    --input-bg-color: #555;
    --input-text-color: #fafafa;
    --input-border-color: #555;
    --input-border-active-color: #777;
    --text-color: #fff;
    --text-sub-color: #ddd;
    --border-color: #ddd;
    --box-header-color: #353535;
    --box-footer-color: #353535;
    --box-color: #3a3a3a;
    --menu-color: #555;
    --box-element-color: #333;
    --inactive-color: #aaa;
    --inactive-text-color: #777;
    --text-warning-color: #fffd92;
    --notifications-color: #252525;
    --list-container-color: #232323;
    --active-color: #{$blue};
    --white: #{$white};
    --blue: #{$blue};
    --green: #{$green};
    --red: #{$red};
    --positive-color: #{$green};
    --negative-color: #{$red};
  }
  .main-container {
    background: radial-gradient(#071f31 50%, #020a10);
    background-size: 100vw 100vw;
    background-position: center;
  }
  .alert{
    &-success{
      background: #3cca4d9c;
      border-left: 3px solid $green;
    }
    &-fail {
      background: #ca3c3c9c;
      border-left: 3px solid $red;
    }
  }
  .tag{
    background:$blue;
    &--flat {
      background: rgba(255, 255, 255, 0.5);
      color: #333;
      font-weight: 400;
    }
    &--green{
      background:$green;
    }
    &--red{
      background:$red;
    }
    &--white{
      color:$blue;
      background:$white;
    }
  }
  .box{
    &__header{
      padding: .5em 1em;
    }
    &__footer{

    }
  }
  .delimiter{
    background: #555;
  }
  .popup-menu{
    &__triangle {

    }
    &__inner {

    }
  }
  .list-item {
    &--small{
      height: 3em;
    }
  }
  .flatpickr-input[readonly] {
    display: none;
  }
  .flatpickr-calendar {
    border-radius: 0;
    background: #293741;
    box-shadow: 0 .5em 1em -0.25em rgba(255, 255, 255, .125);
    .flatpickr-day {
      color: #fff;
      border: 0;
    }

    .flatpickr-day.today {
      border: 0;
      background: rgba(255, 255, 255, 0.15);
    }

    .flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
      background: var(--active-color);
      border: 0;
    }

    .flatpickr-day.inRange, .flatpickr-day.prevMonthDay.inRange, .flatpickr-day.nextMonthDay.inRange, .flatpickr-day.today.inRange, .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.nextMonthDay.today.inRange, .flatpickr-day:hover, .flatpickr-day.prevMonthDay:hover, .flatpickr-day.nextMonthDay:hover, .flatpickr-day:focus, .flatpickr-day.prevMonthDay:focus, .flatpickr-day.nextMonthDay:focus {
      border: 0;
      background: rgba(255, 255, 255, 0.05);
    }

    .flatpickr-time input:hover, .flatpickr-time .flatpickr-am-pm:hover, .flatpickr-time input:focus, .flatpickr-time .flatpickr-am-pm:focus {
      background: none;
    }

    input.numInput {
      color: #fff;
      font: inherit;
    }

    .flatpickr-time .numInputWrapper span.arrowUp:after {
      border-bottom-color: #fff!important;
    }

    .flatpickr-time .numInputWrapper span.arrowDown:after {
      border-top-color: #fff!important;
    }

    .showTimeInput.hasTime .flatpickr-time {
      border-top: 1px solid rgba(255,255,255,.15);
    }

    .flatpickr-weekday {
      color: #fff;
    }

    .flatpickr-day.disabled, .flatpickr-day.disabled:hover, .flatpickr-day.prevMonthDay, .flatpickr-day.nextMonthDay, .flatpickr-day.notAllowed, .flatpickr-day.notAllowed.prevMonthDay, .flatpickr-day.notAllowed.nextMonthDay {
      color: #aaa;
    }

    .flatpickr-current-month {
      color: #fff;
    }

    .flatpickr-months .flatpickr-prev-month:hover svg, .flatpickr-months .flatpickr-next-month:hover svg {
      fill: var(--active-color);
    }
  }
  .response-block {
    &__icon {
      &--fail {
        background: $red;
      }
      &--success {
        background: $green;
      }
    }
  }

  .box__header__title {
    color: var(--active-color);
  }

  .box {
    box-shadow: 0 0.5em 1em -0.75em #00000073;
  }

  .theme-flat .input__element-container {
    background: rgba(255, 255, 255, 0.075);
  }

  .theme-flat .vue-input-tag-wrapper {
    background: rgba(255, 255, 255, 0.075);
  }

  .theme-flat .input__prepend {
    padding: .875em;
    background: rgba(255, 255, 255, 0.1);
  }

  .theme-flat .btn {
    box-shadow: 0 .5em 1em -.5em var(--active-color);
  }

  .list-container {
    box-shadow: 0 .5em 1em -.5em #000;
  }

  .list-container__inner {
    box-shadow: 0.5em 0.5em 1.75em -0.5em inset rgba(0, 0, 0, 0.16);
    position: relative;
    z-index: 1;
  }


  .list-container:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.11));
  }

  .box__header {
    color: var(--active-color);
    font-weight: 600;
  }


  .theme-flat .select__current-variant {
    padding: .5em;
    background: rgba(255, 255, 255, .1);
  }

  .theme-flat .select__variants {
    background: rgba(0, 26, 47, 0.84);
  }

  .theme-flat .btn--green {
    box-shadow: 0 .5em 1em -.5em var(--green);
  }


  .popup-menu__inner {
    box-shadow: 0 .5em 1em var(--menu-color);
  }


  .thumbs-list {
    &__items {
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.11));
    }
  }
}
