.channel-page {
  position: relative;
  background: var(--channel-colors-7);
  padding: 0;
  height: 100%;
  --menu-color: var(--channel-colors-7);
  display: flex;
  flex-direction: column;
  .comments__header {
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  }
  &__banner {
    max-width: 100%;
    max-height: 5em;
    margin: 1em 0;
  }
  &__banner-container {
    position: relative;
    text-align: center;
    z-index: 1;
  }
  &__bottom-banner {
    margin: 0 auto;
    display: block;
    max-height: 5em;
  }
  .channel-page__logo {
    width: 6em;
    height: 6em;
  }

  &__inner {
    width: 100%;
    box-shadow: 0 0 2.5em -0.5em rgba(0, 0, 0, 0.5);
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    height: 100%;
    padding: 0;
    z-index: 1;
    display: flex;
    color: var(--channel-colors-0);
    transition: all .25s;
  }
  a {
    color: var(--channel-colors-1);
  }
  &__content {
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }



  &__box {
    background: var(--channel-colors-2);
    margin: 0 0 .25em;
    width: 100%;
    box-shadow: 0 .5em 1em -.25em var(--channel-colors-2);
    &--tabs {
      margin: 0;
    }
    &--bottom {
      margin: 0;
    }
    &__inner {
      padding: 1em;
    }
    &__inner--player {
      padding: 0;
    }
  }
  &__main {
    max-width: 70%;
    display: flex;
    flex-direction: column;
    flex: 2.5;
  }
  &__player-and-chat{
    display: flex;
    flex: 1;
  }
  &__player-container{
    position: relative;
    transition: all .1s;
    &--tv {
      padding-top: 60%;
      .tv-player {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__chat-container{
    margin: 0;
    flex: 1;
    max-width: 35%;
    height: 100%;
  }
  &__bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    &__inner{
      flex: 1;
      display: flex;
      &--scrollable {
        overflow: auto;
      }
    }
  }
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @media screen and (max-width: 768px) {
      height: 100vh;
      position: fixed;
      top: 0;
    }
  }
  &__buttons-container{

  }
  &__outer {
    height: 100%;
  }
  &__main {

  }
  .box {
    flex: 1;
    color: var(--channel-colors-0);
    background: var(--channel-colors-2);
  }
  &__description {
    margin: 1em 0;
    p {

    }
  }

  &__logo {
    width: 6em;
    height: 6em;
  }

  &__info {
    display: flex;
    align-items: center;
    &__container {
      width: 100%;
    }
    &__texts {
      margin: 0 0 0 1em;
    }
  }
  &__name {

    font-size: 1.25em;
    font-weight: 600;
    color: var(--channel-colors-3);
  }
  &__name-container {
    display: flex;
    align-items: center;
    margin: 0 0 .5em;
  }

  &__program-name {
    display: flex;
    align-items: center;
    &__edit-button {
      cursor: pointer;
      margin: 0 0 0 .5em;
    }
    &__edit-panel {
      display: flex;
      align-items: center;
      .input__container {
        margin: 0 .5em 0 0!important;
      }
    }
  }


  &__tags {
    margin: .5em 0 0;
    .tag {
      background: var(--channel-colors-10)!important;
      color: var(--channel-colors-11)!important;
      margin: 0 .5em 0 0;
    }
  }
  .list-container{
    height: 100%;
    background: none;
    box-shadow: none;
  }
  .list-item {
    &__small-title{
      color: var(--channel-colors-3);
    }
  }
  .tabs__item--current {
    border-bottom: 2px solid  var(--channel-colors-3);
  }
  &__links {
    font-size: 1.25em;
    margin: 1em 0;
    flex-wrap: wrap;
    .btn {
      margin:  0 .5em .5em 0!important;
    }
  }
  .video-item {
    &__info{
      background: var(--channel-colors-10);
      color: var(--channel-colors-11);
    }
  }
  .project-item {
    &__inner{
      background: var(--channel-colors-10);
      color: var(--channel-colors-11);
    }
  }
  .btn {
    background: var(--channel-colors-10);
    box-shadow: 0 .5em 1.25em -.25em var(--channel-colors-10)!important;
    &:hover {
      box-shadow: 0 .5em 1.25em .25em var(--channel-colors-10)!important;
    }
    &__content {
      color: var(--channel-colors-11);
    }
    .progress-circular {
      stroke: var(--channel-colors-11);
    }
    &-flat {
      color: var(--channel-colors-10)!important;
      box-shadow: none!important;
      &:hover {
        box-shadow: none!important;
      }
    }
  }
  .btn-like .btn__content {
    color: var(--text-color);
  }
  .pager {
    &__link {
      background: var(--channel-colors-10)!important;
      color: var(--channel-colors-11)!important;
      &--active {
        background: var(--channel-colors-11)!important;
        color: var(--channel-colors-10)!important;
      }
    }
  }
  .checkbox__element {
    background: var(--channel-colors-10) !important;
    color: var(--channel-colors-11) !important;
    &--active {
      background: var(--channel-colors-11) !important;
      color: var(--channel-colors-10) !important;
    }
  }

  &__records {
    width: 100%;
  }


  &__donates {
    padding: 1em;
    background: rgba(255, 255, 255, 0.05);
    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__header {
      color: var(--channel-colors-3);
      font-size: 1.25em;
      font-weight: 600;
    }

    &__main {
      position: relative;
      &__inner {
        padding: 1.75em 0 0;
        margin: 1em 0;
        font-size: 1.25em;
        font-weight: 600;
      }
    }

    &__progress {
      height: .5em;
      width: 100%;
      background: var(--channel-colors-10);
      &__bar {
        max-width: 100%;
        background: var(--channel-colors-11);
        height: 100%;
      }
    }

    &__collected-sum {
      position: absolute;
      top: 0;
      left: 0;
    }

    &__total-sum {
      position: absolute;
      top: 0;
      right: 0;
    }

    &__list {
      flex: 1;
      overflow: auto;
      margin: 0 -.75em;
    }
  }

  .modal {
    &__header {
      background: none;
      color: var(--channel-colors-0);
    }
    &__box {
      color: var(--channel-colors-0);
      background: var(--channel-colors-2);
    }
  }

  &__donates-block {
    display: flex;
    height: calc(100% - 7em);
    &__info-container {
      flex: 1.75;
    }
    &__form-container {
      flex: 1;
      padding: 1em;
      display: flex;
      align-items: center;
      .donates-form {
        width: 100%;

      }
    }
  }
  &__donates-block &__donates {
    height: calc(100% - 1.875em);
  }


  .ql-toolbar.ql-snow {
    background: var(--channel-colors-10)!important;
    color: var(--channel-colors-11);
  }
  .ql-toolbar button {
    color: var(--channel-colors-11)!important;
  }
  .ql-stroke {
    stroke: var(--channel-colors-11)!important;
  }
  .ql-fill {
    fill: var(--channel-colors-11)!important;
  }
  .ql-snow .ql-picker.ql-expanded .ql-picker-label {
    color: var(--channel-colors-11)!important;
  }
  .ql-container {
    background: var(--channel-colors-7)!important;
    color: var(--channel-colors-0)!important;
  }
  .video-item__inner:hover, .project-item__inner:hover {
    box-shadow: 0 .25em .25em var(--channel-colors-11);
  }
}
@media screen and (max-width: 768px) {
  .channel-page {
    padding: .5em;
    flex: 1;
    height: 100%;
    overflow: auto;
    width: calc(100% - .75em);
    .chat {
      max-height: 30em;
    }
    &__box {
      &--tabs {
        font-size: .875em;
      }
    }
    &__mobile-chat {
      font-size: 1.1em;
      width: 100%;
      height: 100%;
      min-height: 50vh;
    }
    &__bottom {
      &__inner {
        padding: 0;
      }
    }
    &__main {
      max-width: 100%;
    }
    &__inner {
      flex-direction: column;
    }

    .buttons-list {
      flex-direction: column;
    }

    .buttons-list > *:first-of-type {
      margin: 0!important;
    }

    .buttons-list > *:last-of-type {
      margin: .5em 0 0!important;
    }

    &__chat-container {
      max-width: 100%;
    }
    &__outer {
      height: calc(100vh - 7.5em);
    }
    &__player-container {
      position: relative;
      height: auto!important;
      padding-top: 60%;
    }
    &__player {
      position: absolute!important;
      top: 0;
      left: 0;
    }
  }

  .videos-section__header {
    background: var(--channel-colors-2);
  }
  .records-section__header {
    background: var(--channel-colors-2);
  }

}
