@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,500,700,900");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");
@import url("https://use.fontawesome.com/releases/v5.5.0/css/brands.css");

@import "themes/theme-default.scss";
@import "themes/theme-light.scss";
@import "themes/theme-flat.scss";

@import "transitions.scss";
@import "channel-page.scss";
@import "modal-panel.scss";
@import "statistics.scss";
@import "support-page.scss";
@import "notifications.scss";
html {
  height: 100vh;
}
body{
	margin: 0;
	padding: 0;
	font-family: Montserrat, sans-serif;
	font-weight: 300;
	font-size: 18px;
	overflow: hidden;
  scrollbar-color: #eee rgba(0, 0, 0, 0);
  scrollbar-width: thin;
	@media screen and (max-width: 1610px) {
		& {
			font-size: 16px;
		}
	}
	@media screen and (max-width: 1100px) {
		& {
			font-size: 14px;
		}
	}
  @media screen and (max-width: 768px) {
    & {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 512px) {
    & {
      font-size: 14px;
    }
  }
}

a{
  color: var(--link-color);
  font-weight:400;
}

::-webkit-scrollbar-track
{
  border-radius: 0;
}

::-webkit-scrollbar
{
  width: .5em;
  height: .25em;
  background: none;
}

::-webkit-scrollbar-thumb
{
  background: #eee;
}


.main-container{
	position: absolute;
	width: calc(100% - 3.5em);
	left: 3.5em;
	top: 3.5em;
	height: calc(100% - 3.5em);
  background: var(--main-bg);
  color: var(--text-color);
	&__inner {
		transition: all 0.5s;
		height: 100%;
		/* max-width: 1600px; */
		margin: 0 auto;
		&--sidebar-opened {
      width: calc(100% - 12.5em);
      margin: 0 0 0 12.5em;
		}
	}
}

.material-icons{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.centered-block{
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}

.box {
	padding: 1em;
	display: block;
	text-decoration: none;
  position: relative;
  color: var(--text-color);
  background: var(--box-color);
  &__footer{
    padding: .5em;
    background: var(--box-footer-color);
  }
	&-no-padding{
		padding: 0;
	}
	&__header {
    background: var(--box-header-color);
		padding: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--dark {
      background: var(--box-footer-color);
    }
    .row {
      flex: 1;
    }
		&__title{
			font-weight:600;
			font-size:1.25em;
		}
    &__icon-container {
      line-height: 0;
      cursor: pointer;
      font-size: 1.25em;
    }
    &__buttons {
      display: flex;
      font-size: 1.25em;
    }

    &__button {
      margin: 0 0 0 .5em;
      cursor: pointer;
      padding: .25em .5em;
      border-radius: .25em;
      color: var(--active-color);
      &--active {
        background: rgba(0, 0, 0, .05);
      }

      &:hover {
        background: rgba(0, 0, 0, .1);
      }
    }
  }
  &--disabled {
    opacity: .25;
  }
	&--with-header {
    padding: 0;
  }
  &--with-header &__inner {
    padding: 1em .5em;
  }
	&--flex-vertical {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &--flex-vertical &__inner {
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
  }
  &__inner {
    &--no-padding {
      padding: 0!important;
    }
    &--scroll{
      overflow: auto;
    }
    &--full-height {
      height: calc(100% - 2.5em);
    }
  }
  &--full-height {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
.playlist-panel__inner {
    height: 100%;
}
.delimiter{
	width: 1px;
	margin:0 1em;
  &--small-padding{
    margin: 0 .25em;
  }
}
.vertical-delimiter {
  background: #555;
  width: 100%;
  height: 1px;
  margin: 1em 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .25s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.alert {
  width: 100%;
  font-size: 1em;
  padding: .25em;
  margin: .5em 0;
  font-weight: 500;
}
.centered{
  text-align: center;
}

.row{
	display:flex;
	&--wrap{
		flex-wrap:wrap;
	}
  &--vertical {
    flex-direction: column;
  }
	&--vertical-short{
		margin:-1em 0 0;
	}
	&-centered{
		align-items:center;
	}
  &--centered{
    align-items:center;
  }
  &--expanded{
    width: 100%;
    flex: 1;
  }
  @media screen and (max-width: 768px) {
    &--no-mobile {
      flex-direction: column;
    }
    &--no-mobile .col {
      max-width: 100%;
      margin: 0!important;
    }
  }
}
.row-full-width {
  width: calc(100% - 7em);
  height: calc(100% - 1em);
	.col {
		flex: 1;
	}
	& > .col > .box{
		width:100%;
	}
}
.row-full-height{
	height:100%;
	& > .col {
		flex: 1;
		height:100%;
	}
	& > .col > .box{
		width:100%;
		height:100%;
	}
}
.row-vertical {
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    & .col {
      margin: 1em 0 0 1em!important;
      width: auto;
      &:only-child{
        margin: 1em 0 0 1em!important;
      }
    }
	&-centered{
		height: 100%;
		justify-content: center;
		.row:last-of-type {
			.radio-buttons{

			}
			.input__container-single{
				margin: 1.1em 0 0;
			}
		}
	}
}

.page-container{
	width:100%;
	height:100%;
	position:relative;
  &--with-children{
    display: flex;
    flex-direction: column;
  }
}

.page-preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.5);
	  z-index:1000000;
}
.preloader-block{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display:flex;
	padding: 1.75em 0;
	align-items: flex-start;
	justify-content: center;
	background:rgba(255,255,255,0.25);
}


.multi-screen {
	overflow:hidden;
    position: relative;
    width: 100%;
    height: 100%;
	&__inner {
		position: absolute;
		height: 100%;
		transition: all .5s;
		display: flex;
	}
	&__page{
		position:relative;
		overflow:hidden;
		height:100%;
	}
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  height: 3em;
  font-size: 1em;
  padding: .75em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  transition: all .25s;
  cursor: pointer;
  position: relative;

  &--not-confirmed {
    opacity: .75;
  }
  &--small {
    height: 3em;
    @media screen and (max-width: 768px) {
      height: auto!important;
    }
  }
  &__date-container {
    text-align: right;
  }
  &__date {
    text-align: right;
    white-space: nowrap;
    font-weight: 500;
    margin: 0 0 .5em;
  }
  &__left {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  &__right {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &:hover {
    background: rgba(255, 255, 255, 0.075);
  }
  &--not-link {
    cursor: default;
    &:hover {
      background: none;
    }
  }
  &--selected {
    background: rgba(255, 255, 255, 0.05);
    &:hover {
      background: rgba(255, 255, 255, 0.175);
    }
  }
  &--selected-with-area {
    background: rgba(255, 255, 255, 0.05);
    &:hover {
      background: rgba(255, 255, 255, 0.175);
    }
  }
  &__captions {
    margin: 0 0 0 1em;
    &--small {
      max-width: calc(100% - 7em);
    }
  }
  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.25em;
    margin: 0 0 .25em;
    font-weight: 600;
    &__icon {
      font-size: .65em;
      opacity: .75;
      margin: 0 0 0 .25em;
      position: relative;
      top: -.1em;
      &:hover {
        opacity: .95;
      }
    }
    &__sub {
      margin: -.75em 0 .25em;
      display: block;
      font-size: .75em;
    }
  }
  .theme-default &__title {
    font-weight: 500;
  }
  &__under-title {
    padding: .25em 0 0;
    font-weight: 300;
  }
  &--small &__title {
    font-size: 1em;
  }
  &--small &__captions {
    margin: 0 0 0 .5em;
  }
  &__buttons {
    display: flex;
    .btn {
      margin: 0 .5em;
    }
  }

  &__picture-block {
    position: relative;
    z-index: 1;
    width: 3em;
    height: 3em;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    &--big {
      width: 7em;
      height: 4.5em;
    }
    &__outer {
      position: relative;
    }
    &__icon {
      position: absolute;
      font-size: 2em;
      opacity: .5;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__picture {
    max-height: 100%;
    max-width: 3em;
  }
  .tag {
    margin: 0 .5em 0 0;
  }
  &--without-picture &__captions {
    margin: 0;
  }
  &--big {
    height: 5em;
  }
  &--no-height {
    height: unset;
  }
  &--auto {
    height: auto;
  }
  &--big &__picture-block {
    width: 7em;
    height: 5em;
  }
  &__full-width {
    width: 100%;
    flex: 1;
  }
  &__number {
    background: var(--green);
    padding: .5em 1em;
    border-radius: .5em;
  }
  &__button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.05);
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all .35s;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
    &__text {
      margin: 0 0 0 .5em;
    }
  }
  &__progress {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .25em;
    background: var(--box-footer-color);
    &__bar {
      background: var(--active-color);
      height: 100%;
    }
  }
 &__small-buttons {
    display: flex;
    align-items: center;
  }

  &__small-button {
    margin: 0 .5em;
    background: rgba(255, 255, 255, .05);
    border-radius: 50%;
    width: 1.75em;
    height: 1.75em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25em;
    cursor: pointer;
    position: relative;
    &--active {
      background: var(--active-color);
    }
    &:hover {
      background: rgba(255, 255, 255, .1);
    }
    &__title {
      position: absolute;
      font-size: .75em;
      white-space: nowrap;
      top: -2em;
      background: var(--menu-color);
      padding: .25em;
      display: none;
    }
    &:hover &__title {
      display: block;
    }
  }
  @media screen and (max-width: 768px) {
   & {
     flex-direction: column;
     height: auto;
     align-items: flex-start;
     &__buttons .btn {
       margin: 0;
     }
     &__captions {

     }
     &__picture {
       height: 3em;
     }

     &__left {
       width: 100%;
       margin: 0 0 .5em;
     }
   }
  }
}
.bright .list-item:hover {
  background: rgba(0, 0, 0, 0.075);
}
.bright .list-item--selected {
  background: rgba(0, 0, 0, 0.05);
}

.nuxt-progress {
  background-color: #107fd0!important;
  z-index: 10000000000!important;
}

.tag {
  font-size: .75em;
  margin: .25em 0 0 .25em;
  padding: .25em .5em;
  border-radius: .25em;
  cursor: pointer;
  transition: all .35s;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  &--inactive{
    color:var(--inactive-color)!important;
    background:var(--inactive-text-color)!important;
  }
  & i {
    margin:0 .5em 0 0;
  }
  &__count {
    margin: .1em 0 0 .5em;
    font-weight: 500;
    font-size: .75em;
  }
}

.list-container{
	background: var(--list-container-color);
	flex: 1;
	position: relative;
	display: flex;
	flex-direction: column;
  @media screen and (max-width: 768px) {
    font-size: .875em;
  }
	&__inner{
		flex: 1;
		overflow-x: hidden;
		overflow-y: auto;
    &--visible {
      overflow: visible;
    }
	}
  &__preloader {
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__pager {
    padding: 1em;
  }

  &--with-pager &__inner {
    width: calc(100% - 5em);
  }

  &--with-pager .pager-vertical {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    right: 1em;
  }
}

.col {
    flex: 1;
    margin: 0 .5em;
    &-auto{
      flex:0;
    }
    &-1 {
      flex: 1!important;
    }
    &-1-5{
      flex:1.5!important;
    }
    &-2{
      flex:2!important;
    }
    &-2-5{
      flex:2.5!important;
    }
    &-3{
      flex:3!important;
    }
    &-3-5{
      flex:3.5!important;
    }
    &:first-child {
      margin: 0 .5em 0 0;
    }
    &:last-child {
      margin: 0 0 0 .5em;
    }
    &:only-child{
      margin:0!important;
    }
    &--button-container{
      flex:0;
      display:flex;
      align-items:center;
    }
    &--no-margin{
      margin:0!important;
    }
}
.row-vertical .col--no-margin{
  margin:0!important;
}
.player-page {
  width: 100%;
  height: 100%;
  color: var(--text-color);
}
.timetable-page {
  width: 100%;
  height: 100%;
}
.buttons-list{
  display: flex;
  align-items: flex-start;
  > *{
		margin: 0 .5em!important;
    &:first-child {
      margin: 0 .5em 0 0!important;
    }
    &:last-child {
      margin: 0 0 0 .5em!important;
    }
    &:only-child {
      margin: 0!important;
    }
	}
  &__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .checkbox {
    margin-top: .5em!important;
  }

}

.response-block {
  text-align: center;
  padding: 1em;
  &__text {
    display: block;
    margin: 1em 0 0;
    font-weight: 500;
  }
  &__icon {
    i {
      font-size: 3em;
    }
    display: inline-block;
    padding: .5em;
    border-radius: 50%;
    line-height: 0;
    box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.5);
    text-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  }
  &__buttons{
    border-top: 1px solid rgba(255,255,255,0.1);
    margin: .5em 0 -.5em;
    padding: .5em 0 0;
  }
}
.full-height {
  height: 100%;
}
.page-header {
  font-size: 1.5em;
  text-decoration: none;
  font-weight: 600;
  padding: .5em;
  background: rgba(0, 0, 0, 0.35);
  transition: all .35s;
  &:hover {
    background: rgba(0, 0, 0, 0.18);
  }
}

.text-with-icon {
  display: flex;
  align-items: center;
  &__content {
    margin: 0 0 0 .5em;
  }
  i {
    font-size: inherit;
  }
  &__list{
    display: flex;
    align-items: center;
    .text-with-icon {
      margin: 0 1.25em 0 0;
      &:last-of-type {
        margin: 0;
      }
    }
  }
}

.highlight {
  background: var(--active-color);
  padding: 0 .25em;
}

.thumbs-list {
  height: 100%;
  overflow: auto;
  &--with-multi-screen {
    display: flex;
    flex-direction: column;
  }
  &__block {
    margin: .5em .5em 1.75em;
    box-shadow: 0 .5em 1.75em -1em var(--active-color);
    &--with-pager {
      padding: 0 6.5em 0 0;
    }
  }
  &__preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
  }


  &__items {
    padding: .25em;
    margin: 0 0 1em;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: calc(100% / 6);
    position: relative;
    height: 12em;
    &--auto-height {
      height: auto;
    }
    @media screen and (max-width: 768px) {
      & {
        width: 100%;
        height: 16em;
        &--auto-height {
          height: auto;
        }
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin: 0;
    /*background: linear-gradient(-90deg, rgba(255, 255, 255, .01), rgba(255, 255, 255, 0.15));*/
    background: linear-gradient(-90deg, rgba(16, 127, 208, 0.1), var(--active-color));
    padding: .5em .75em;
    &--default {
      padding: 1em 1.25em;
    }
    &__view-change {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      &__item {
        padding: .75em 1em;
        margin: -.75em 0 -.75em .5em;
        background: rgba(255, 255, 255, 0.05);
        cursor: pointer;
        display: inline-block;
        position: relative;
        z-index: 1;
        transition: all .35s;
        &:hover {
          background: rgba(255, 255, 255, 0.175);
        }
        &--active {
          background: rgba(255, 255, 255, 0.25);
        }
      }
    }
    &__text {
      font-size: 1.25em;
      font-weight: 400;
    }
    &__button {
      background: var(--green);
      padding: .5em 1em;
      text-decoration: none;
      font-weight: 600;
      transition: all .35s;
      font-size: 1em;
      display: flex;
      align-items: center;
      cursor: pointer;
      margin: 0 0 0 1em;
      &:after {
        content: "chevron_right";
        font-family: "Material Icons";
        position: relative;
        top: .075em;
        left: .25em;
        opacity: .35;
        transition: all .35s;
      }
      &:hover:after {
        opacity: .85;
      }
    }
    &__buttons {
      margin: 0 0 0 1em;
    }

  }
}

.table {
  width: 100%;
  & thead td {
    background: var(--title-box-color);
    font-weight: 600;
  }

  & td {
    padding: .5em;
  }

  & tbody td {
    background: rgba(255, 255, 255, .025);
  }

  & tbody tr:nth-child(2n) td {
    background: rgba(255, 255, 255, .05);
  }

  & tbody tr:hover td {
    background: rgba(255, 255, 255, .1);
  }
}


.tooltip {
  position: absolute;
  top: -1.25em;
  left: .5em;
  min-width: 10em;
  display: none;
  background: rgba(0, 0, 0, .75);
  padding: .5em;
  z-index: 1000000;
  white-space: nowrap;
  border-radius: .25em;
  font-size: 1rem;
  font-weight: 500;
}

.tooltip-container {
  position: relative;
  &:hover .tooltip {
    display: block;
  }
}

.row-with-inputs {
  display: flex;
  align-items: center;
  margin: .25em 0;
  &__element {
    margin: 0 1em;
  }
  &__text {
    white-space: nowrap;
    font-size: .875em;
  }
  .input__container {
    margin: 0!important;
  }
}


@media screen and (max-width: 768px) {
  body {
    overflow: auto;
  }

  .row--vertical-mobile .row .col {
    margin: .5em!important;
  }
  .row-full-width {
    width: 100%;
    height: 100%;
  }

  .row--vertical-mobile {
    flex-direction: column;
    height: auto!important;
    .col {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .main-container {
    width: 100%;
    left: 0;
    top: 3.5em;
    padding: 0 0 3.5em;
    position: relative;
    min-height: calc(100vh - 10em);
    &__inner{
      &--sidebar-opened{
        margin: 0;
        width: 100%;
      }
    }
  }
  .multi-screen{
    &--no-mobile &__page {
      width: 100% !important;
    }
    &--no-mobile &__inner{
      position: inherit!important;
      width: 100%!important;
      flex-direction: column!important;
      left: 0!important;
    }
  }
  .page-preloader{
    position: fixed;
    z-index: 1;
  }
}

.audio-track {
  display: flex;
  align-items: center;
  position: relative;
  &:hover &__col{
    background: rgba(255, 255, 255, .05);
  }

  &--selected {
    background: rgba(255, 255, 255, .1);
  }
  &__filename {
    white-space: nowrap;
    height: 3em;
    display: inline-block;
    line-height: 3em;
  }
  &__folder-icon-container {
    text-align: center;
    i {
      font-size: 1.5em;
    }
  }
  &__handle {
    padding: .5em;
    cursor: pointer;
    user-select: none;
    background: rgba(255, 255, 255, .1);
    border-radius: .25em;
    width: 1em;
    height: 1em;
    line-height: 1em;
  }
  &__col {
    transition:all .35s;
    flex: 1;
    height: 3.5em;
    display: flex;
    align-items: center;
    &--icons {
      display:flex;
      align-items: center;
      justify-content: center;
      max-width: 3em;
    }
    &--main{
      cursor:pointer;
      /*max-width: calc(100% - 10em);*/
      overflow: hidden;
      &-only{
        max-width: 100%;
      }
    }
    &--actions {
      padding: 0 1em 0 0;
      justify-content: flex-end;
      max-width: 7em;
    }
  }
  &__upload-progress {
    background: repeating-linear-gradient(-45deg, #4caf79, #4caf79 10px, #1ea25a 10px, #1ea25a 20px);
    .theme-default & {
      box-shadow: 0 5px 25px -5px inset #383838;
    }
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: .5;
  }
  &__checkbox {

  }

  &__title {
    display: block;
    font-weight: 500;
  }

  &__artist {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .875em;
  }
}

.search-page {
  display: flex;
  height: 100%;
  @media screen and (max-width: 768px) {
    height: auto;
    flex-direction: column;
  }
  .thumbs-list__block {
    flex: 1;
    margin: 0;
 }
  .thumbs-list__block--with-pager {
    padding: 0;
  }

  &__tags__list {
    margin: 1em 0;
  }
  &__params {
    padding: 1em;
    background: var(--box-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    @media screen and (max-width: 768px) {
      width: auto;
    }
    .input__container {
      flex: 0;
      margin: 2.5em 0 0;
    }
  }
  &__results {
    flex: 1;
    width: 75%;
    height: 100%;
  }


  .pager-vertical-container {
    position: fixed;
    top: 4em;
    right: .5em;
    height: calc(100% - 4em);
  }
  &__sort-container {
     margin: 1.75em 0 1em;
     .select {
       min-width: 0 !important;
     }
  }
  &__main-input-container .input__container {
    margin: 0;
  }
}
.search-page .thumbs-list__block--with-pager .thumbs-list__items {
  padding-right: 5em;
}

.selection-area {
  background: rgba(16, 127, 208, 0.1);
  border-radius: 0.1em;
  border: 0.05em solid rgb(16, 127, 208);
}

.blog-list-item {
  margin: 1em;
  font-weight: 300;
}
.blog-list {
  background: var(--box-footer-color);
  height: 100%;
}

.project-page {
  &__outer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  width: 25%;
  display: inline-flex;
  align-items: center;
  position: relative;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.025), rgba(255, 255, 255, 0.01));

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
    transition: all .35s;
    z-index: 0;
  }

  &:hover:after {
    opacity: 1;
  }

  &__picture {
    width: calc(100% - 2em);
    padding: 1em;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  &__buttons {
    padding: 1em;
    position: absolute;
    bottom: 0;
    z-index: 1;
    opacity: .5;
    transition: opacity .35s;

    &:hover {
      opacity: 1;
    }
  }
}



