.modal-panel{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  &--left{
    left:-100%;
  }
  &--right{
    right:-100%;
  }
  &__inner {
    position:relative;
    transition:all .35s;
    height:100%;
  }
  &__box{
    transition:all .5s;
    height:100%;
    position:absolute;
    z-index:10000;
    width:100%;
    max-width:50em;
  }
  &--left &__box{
    left:-100%;
  }
  &--right &__box{
    right:-100%;
  }

  &--visible &__background{
    opacity:1;
    transition:opacityIn .5s linear forwards;
  }
  &--left#{&}--visible &__box{
    left: 0;
  }
  &--left#{&}--visible{
    left: 0;
  }
  &--right#{&}--visible &__box{
    right:0;
  }
  &--right#{&}--visible{
    right:0;
  }
  &__background{
    transition:all .5s;
    opacity:0;
    background: rgba(0, 0, 0, 0.55);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }

}
