.notifications-panel {
  position: relative;
  &__list {
    position: absolute;
    right: 0;
    padding: .5em;
    top: 3.5em;
    &__header {
      display: none;
    }
    &__show-all {
      padding: 1em;
      background: var(--box-footer-color);
    }
    &__inner {
      position: relative;
      background: var(--menu-color);
      &:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 .75em .75em .75em;
        border-color: transparent transparent var(--menu-color) transparent;
        position: absolute;
        top: -.75em;
        right: .5em;
      }
    }
  }

  &__nothing-found {
    font-size: .75em;
    white-space: nowrap;
    padding: 1em 3.5em;
  }

  &__item {
    min-width: 25em;
    position: relative;
    transition: all .35s;
    &:hover {
      background: rgba(255, 255, 255, .05);
    }
    &__delete {
      position: absolute;
      top: .5em;
      right: 1em;
      font-size: 1.25em;
      cursor: pointer;
      opacity: .75;
      transition: all .35s;
      &:hover {
        opacity: .95;
      }
    }
    &__time {
      margin: .5em 0 0;
      font-size: .875em;
      font-weight: 300;
    }
    &__texts {
      text-decoration: none;
    }
    &__inner {
      display: flex;
      padding: 1em;
    }
    &--unread {
      background: rgba(255, 255, 255, .1);
    }
    &__picture {
      width: 2.5em;
      height: 2.5em;
    }
    &__channel-name {
      font-size: 1.25em;
      font-weight: 600;
    }
    &__texts {
      max-width: calc(100% - 3.5em);
      margin: 0 0 0 1em;
    }

    &__buttons {
      margin: 1em 0 0;
    }
    &__after-action {
      font-size: .875em;
      margin: .5em 0 0;
    }

    &__link {
      cursor: pointer;
      text-decoration: underline;
      white-space: nowrap;
    }
    &__restore-panel {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      background: rgba(0, 0, 0, 0.75);
      &__title {
        margin: 0 .5em 0 0;
      }
    }
  }
  @media screen and (max-width: 768px) {
    &__list {
      position: fixed;
      z-index: 1000000;
      left: 0;
      padding: 0;
      top: 0;
      height: calc(100vh - 6em);
      &__inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        &:before {
          display: none;
        }
      }
      &__items {
        flex: 1;
      }
      &__header {
        background: var(--box-header-color);
        color: var(--active-color);
        font-weight: 500;
        display: flex;
        align-items: center;
        padding: 0 .5em;
        position: relative;
        height: 2.5em;
        &__close {
          top: 0;
          right: .25em;
          position: absolute;
          .btn {
            color: var(--active-color)!important;
          }
        }
      }
    }
  }
}
