.support-page {
  &__container {
    margin: 0 auto;
    padding: 1em 0;
    width: 75vw;
    height: 100%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    .box {
      display: flex;
      flex-direction: column;
      width: 100%;
      &__inner {
        flex: 1;
      }
    }
    .nothing-found-page {
      padding: 3em 0;
    }
  }
  &__tickets {
    &__panel {
      padding: 2em 1em 1em!important;
      .response {
        margin: -1.25em 0 2em;
      }
    }
    &__list {
      max-height: 70vh;
      overflow: auto;
      padding: 0!important;
    }
  }
  &__category {
    font-size: .75em;
    font-weight: 400;
  }
  &__ticket {
    &__outer {
      position: relative;
    }
    &__inputs .input__container {
      margin: 0 0 .5em;
    }
    &__messages {
      padding: .5em;
      max-height: 50vh;
      overflow: auto;
      overflow-x: hidden;
    }
    &__message {
      margin: 0 0 .5em;
      padding: .5em;
      &--unread {
        background: rgba(255, 255, 255, 0.1);
      }
      &__header {
        display: flex;
        justify-content: space-between;
      }
      &__time {
        font-weight: 500;
      }

      &__author {
        font-size: 1.25em;
        font-weight: 700;
      }
    }
  }
}
