<template>
  <div class="full-height">
    <div class="centered" v-if="isLoadingInitial">
      <m-preloader stroke-width="5" circle-width="5em"  />
    </div>
    <div class="full-height" v-else>
      <m-nothing-found v-if="blog.data.length === 0" :title="$t('global.nothing_found')"/>
      <div class="list-container blog-list" v-else>
        <m-infinite-scroll :loading="isLoading" @scroll="loadMore" class="list-container__inner">
          <nuxt-link :to="'/blog/'+item.id" class="box box--with-header blog-list-item" :key="$index" v-for="(item, $index) in blog.data">
            <div class="box__header">
              <div class="box__header__title">{{item.title}}</div>
            </div>
            <div class="box__inner">
              <div class="blog-list-item__contents" v-html="item.short_text"></div>
            </div>
            <div class="box__footer">
              <div class="blog-list-item__info">
                <div class="text-with-icon__list">
                <span class="text-with-icon">
                  <i class="material-icons">access_time</i>
                  <span class="text-with-icon__content">{{getPublishDate(item.time)}}</span>
                </span>
                  <span class="text-with-icon">
                  <i class="material-icons">remove_red_eye</i>
                  <span class="text-with-icon__content">{{item.views}}</span>
                </span>
                  <span class="text-with-icon">
                  <i class="material-icons">thumb_up</i>
                  <span class="text-with-icon__content">{{item.likes_count}}</span>
                </span>
                </div>
              </div>
            </div>
          </nuxt-link>
        </m-infinite-scroll>
      </div>
   </div>
  </div>
</template>
<style lang="scss">

</style>
<script>
  let count = 10;
  import {getPublishDate} from "@/functions/dates";
  export default {
    components: {

    },
    async mounted() {
      let blog = (await this.$axios.get(`blog/getbyuser/${this.id}?count=${count}`)).data.data.list;
      this.blog = blog;
      this.isLoadingInitial = false;
    },
    data() {
      return {
        currentPage: 1,
        isLoading: false,
        isLoadingInitial: true,
        blog: {},
      }
    },
    props:{
      id:{
        type: [Number, String],
        required: true
      }
    },
    methods: {
      getPublishDate,
      loadMore() {
        if (!this.isLoading) {
          if (this.currentPage < this.blog.last_page) {
            this.currentPage++;
            this.isLoading = true;
            this.$axios.get(`blog/getbyuser/${this.id}?count=${count}&page=${this.currentPage}`).then(res => {
              this.blog.data = [...this.blog.data, ...res.data.data.list.data];
              this.isLoading = false;
            })
          }
        }
      }
    }
  }
</script>
