<template>
  <div class="profile-page__friends-list">
    <div class="profile-page__friends-list__inner">
      <m-tabs v-show="$store.state.userData.loggedIn" small namespace="friends" :data="tabs" v-model="currentTab"/>
      <div class="centered" v-if="isLoadingInitial">
        <m-preloader stroke-width="5" circle-width="5em"  />
      </div>
      <div class="list-container" v-else>
        <m-infinite-scroll :loading="isLoading" @scroll="loadMore" class="list-container__inner">
          <div class="list-item" :key="friend.id" v-for="friend in friends.data">
            <nuxt-link :to="'/users/'+friend.id"  class="list-item__left">
              <img class="list-item__picture" :src="friend.ava" />
              <div class="list-item__captions">
                <div class="list-item__title">{{friend.username}}</div>
                <UserOnlineMark :data="friend"/>
              </div>
            </nuxt-link>
            <div v-if="$store.state.userData.loggedIn && ($store.state.userData.id !== friend.id)" class="list-item__right">
              <div class="buttons-list">
                <FriendHideButton v-if="friend.friend_status === 'STATE_RECEIVED_REQUEST'" @success="onFriendHide(friend)" :id="friend.id"/>
                <FriendsButton :state="friend.friend_status" :id="friend.id"/>
              </div>
            </div>
          </div>
        </m-infinite-scroll>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  .profile-page {
    &__friends-list {
      height: 100%;
      flex: 1;
      .list-container {
        min-height: calc(100% - 3em);
      }
      &__inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
      }
    }
  }
</style>
<script>
  const count = 25;
  import FriendsButton from '@/components/buttons/FriendsButton';
  import FriendHideButton from '@/components/buttons/FriendHideButton';
  import UserOnlineMark from '@/components/blocks/users/UserOnlineMark';
  export default {
    components: {
      UserOnlineMark,
      FriendHideButton,
      FriendsButton,
    },
    computed: {
      tabs() {
        const myID = this.$store.state.userData.id;
        let tabs = [
          {id: 'all', name: this.$t('profile.friends_tabs.all')},
        ];
        if (myID !== this.id) {
          tabs.push({
            id: 'common', name: this.$t('profile.friends_tabs.common')
          });
        } else {
          tabs.push({
            id: 'requests', name: this.$t('profile.friends_tabs.requests')
          });
        }
        return tabs;
      },
    },
    async mounted() {
      await this.$nextTick();
      this.load();
    },
    watch: {
      currentTab(newTab) {
        this.load();
      }
    },
    data() {
      return {
        currentPage: 1,
        isLoading: false,
        isLoadingInitial: true,
        friends: {},
        currentTab: 'all',
      }
    },
    props:{
      id:{
        type: [Number, String],
        required: true
      }
    },
    methods: {
      onFriendHide(friend) {
        this.friends.data.splice(this.friends.data.indexOf(friend), 1);
      },
      async load() {
        this.isLoadingInitial = true;
        let friends = (await this.$axios.get(`users/${this.id}/friends?count=${count}&show=${this.currentTab}`)).data.data.list;
        this.friends = friends;
        this.isLoadingInitial = false;
      },
      loadMore() {
        if (!this.isLoading) {
          if (this.currentPage < this.friends.last_page) {
            this.currentPage++;
            this.isLoading = true;
            this.$axios.get(`users/${this.id}/friends?count=${count}&page=${this.currentPage}`).then(res => {
              this.friends.data = [...this.friends.data, ...res.data.data.list.data];
              this.isLoading = false;
            })
          }
        }
      }
    }
  }
</script>
