<template>
  <div class="profile-page__info">
    <div class="centered" v-if="isLoading">
      <m-preloader stroke-width="5" circle-width="5em"  />
    </div>
    <div v-else class="full-height">
      <div class="row row-full-height row--vertical-mobile">
        <div class="col col-2">
          <div class="row row-full-height row--vertical profile-page__info__left">
           <div class="box box-no-padding">
              <div class="box__header">
                <div class="box__header__title">{{$t('profile.information')}}</div>
              </div>
              <div class="box__inner box__inner--full-height">
                <div class="profile-page__info__texts">
                  <div class="profile-page__info__text" v-if="user.about && user.about !== ''" v-html="user.about"></div>
                  <div class="profile-page__info__header" v-if="user.full_name && user.full_name !== ''">{{$t('profile.personal.full_name')}}</div>
                  <div class="profile-page__info__text" v-if="user.full_name && user.full_name !== ''">{{user.full_name}}</div>
                  <div class="profile-page__info__header" v-if="user.info.length > 0">{{$t('profile.info_fields._title')}}</div>
                  <div class="profile-page__info__links" v-if="user.info.length > 0">
                    <div class="profile-page__info__link"  :key="$index" v-for="(info,$index) in user.info">
                      <span class="profile-page__info__link__name">{{$t('profile.info_fields.'+info.name)}}:</span>
                      <span class="profile-page__info__link__value">{{info.full_link}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box box-no-padding box--full-height">
              <div class="box__header">
                <div class="box__header__title">{{$t('profile.channels')}}</div>
              </div>
              <div class="box__inner box__inner--full-height">
                <div class="list-container">
                  <div class="list-container__inner list-container__inner--visible">
                    <nuxt-link :to="'/'+channel.channel.shortname" class="list-item" :key="$index" v-for="(channel,$index) in channels.list">
                      <div class="list-item__left">
                        <img class="list-item__picture" :src="channel.channel.logo" />
                        <div class="list-item__captions">
                          <div class="list-item__title">{{channel.channel.name}}</div>
                          <span v-if="channel.position" class="list-item__small-title">
                            {{channel.position}}
                          </span>
                          <!--
                          <div class="list-item__under-title">
                            <span class="tag" v-if="channel.rights.owner"><i class="fa fa-crown"></i>{{$t('rights.names.owner')}}</span>
                          </div>
                          -->
                        </div>
                      </div>
                      <div class="list-item__right">
                        <div class="list-item__buttons">
                        </div>
                      </div>
                    </nuxt-link>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col col-3">
          <div class="profile-page__comments">
            <comments :canWrite="!data.wall_is_restricted" module="users" :materialid="user.id" :data="comments" />
          </div>
        </div>
      </div>
    </div>
    <!--
    {{channels}}
      <comments module="users" :materialid="id" :data="comments.data" />
      -->
  </div>
</template>
<style lang="scss">
  .profile-page {
    &__comments {
     height: 100%;
      margin: 0 0 0 -1em;
      overflow: hidden;
      .comments {
        position: relative;
        margin: 0;
        padding: 0;
      }
      .comments__inner {
        padding: 3.5em 0 0 1em;
        height: calc(100vh - 10em);
        overflow: auto;
      }
      .comments__header {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 2em);
        background: linear-gradient(-90deg, var(--box-footer-color), var(--active-color));
        z-index: 10;
      }

      @media screen and (max-width: 768px) {
        & .comments {
          margin: 0;
          padding: 1em 1em 0;
          overflow-x: hidden;
        }
      }
    }
    &__info {
      overflow: hidden;
      height: 100%;
      &__left {
        overflow: auto;
        font-size: .875em;
        .box {
          margin: 0 0 1em;
        }
        .box--full-height {
          margin: 0;
        }
      }
      &__text {
        margin: 0 0 .5em;
        p {
          margin: 0 0 .5em;
        }
      }
      &__texts {
        padding: .5em;
        font-size: 1.25em;
      }
      &__header {
        font-weight: 600;
      }
      &__links {
        font-size: .875em;
      }
      &__link {
        &__name {
          font-weight: 600;
          margin: 0 .5em 0 0;
        }
      }
    }
  }
</style>
<script>
  import comments from '@/components/blocks/comments';
  export default {
    async mounted() {
      let comments = (await this.$axios.get(`comments/get/users/${this.id}?page=1`)).data;
      let channels = (await this.$axios.get(`users/${this.id}/channels`)).data;
      this.comments = comments.data.comments;
      this.channels = channels;
      this.isLoading = false;
    },
    components:{
      comments
    },
    data() {
      return {
        isLoading: true,
        comments: {},
        channels: {},
      }
    },
    props:{
      data: {
        type: [Object],
        required: true
      },
      user: {
        type: [Object],
        required: true
      },
      id:{
        type: [Number, String],
        required: true
      }
    }
  }
</script>
