$theme-default-main-bg:#393939;
$theme-default-sidebar-bg:#333;
$theme-default-input-bg-color:#555;
$theme-default-input-text-color:#fafafa;
$theme-default-input-border-color:#555;
$theme-default-input-border-active-color:#777;
$theme-default-text-color:#fff;
$theme-default-text-sub-color:#ddd;
$theme-default-border-color:#ddd;
$theme-default-box-header-color:#555;
$theme-default-box-footer-color:#444;
$theme-default-box-color:#444;
$theme-default-menu-color:#555;
$theme-default-box-element-color:#333;
$theme-default-link-color:#fff;
$theme-default-inactive-color:#aaa;
$theme-default-inactive-text-color:#777;
$theme-default-text-warning-color:#fffd92;
