<template>
  <div id="app" class="theme" :class="'theme-'+currentTheme">
    <audio id="audio" style="display:none"/>
    <top-sidebar @showAboutModal="onShowAboutModal"/>
    <left-sidebar @showAboutModal="onShowAboutModal"></left-sidebar>
    <attachments-modal/>
    <alerts-list />
    <notifications-list />
    <div class="main-container">
      <div class="main-container__inner" :class="{'main-container__inner--sidebar-opened':drawer}">
        <nuxt/>
      </div>
    </div>

    <m-modal class="about-modal" :header="$t('about._title')" v-model="aboutModalVisible">
      <div slot="main">
        <div class="about-modal__logo">
          <svg fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 732.1 265.15">
            <path class="cls-1" d="M256.39,318.7s-20.38,47-72.85,47c-51.65,0-76.18-44.33-76.18-60.17,0-3.64-.82-84.4-.38-98.7a18.42,18.42,0,0,1,.06-2.36c1.41,1.15,32.7,26.31,79.88,26.68,35.49.27,72.65-26.67,72.38-26.45,0,0,0-.24,0-.23-.07,1.16-.08,47.51-.08,47.51,9.7-6.28,42.31-26.08,41.87-27-16.58-35.65-61.55-72.19-117.53-72.19a133,133,0,0,0-133,133c0,73.46,59.43,132.16,132.88,132.16,80,0,120.27-67.49,120.27-78.25" transform="translate(-50.54 -152.74)"/><path class="cls-2" d="M107,207" transform="translate(-50.54 -152.74)"/><path class="cls-3" d="M353.53,311.58a30.84,30.84,0,0,1-12-11.62,34.69,34.69,0,0,1,0-33.6,30.49,30.49,0,0,1,12-11.56,35.86,35.86,0,0,1,17.4-4.15,33.34,33.34,0,0,1,15.47,3.49,24.86,24.86,0,0,1,10.54,10.12l-8.79,5.66a19.73,19.73,0,0,0-7.47-6.87,21.35,21.35,0,0,0-9.87-2.29,22.88,22.88,0,0,0-11.26,2.77,19.82,19.82,0,0,0-7.83,7.89,26,26,0,0,0,0,23.6,19.69,19.69,0,0,0,7.83,7.89,22.78,22.78,0,0,0,11.26,2.77,21.23,21.23,0,0,0,9.87-2.29,19.63,19.63,0,0,0,7.47-6.86l8.79,5.54a25.15,25.15,0,0,1-10.54,10.17,32.88,32.88,0,0,1-15.47,3.56A35.46,35.46,0,0,1,353.53,311.58Z" transform="translate(-50.54 -152.74)"/><path class="cls-3" d="M455.4,257.15q7.05,6.51,7.05,19.39v38.53h-11v-8.43a18.29,18.29,0,0,1-8.25,6.81,31.57,31.57,0,0,1-12.7,2.35q-10.73,0-17.16-5.18a17.79,17.79,0,0,1-.3-27.16q6.14-5.11,19.5-5.11h18.31v-2.29q0-7.47-4.34-11.44t-12.76-4a33.88,33.88,0,0,0-11.08,1.87,28.63,28.63,0,0,0-9.15,5l-4.82-8.67a34.89,34.89,0,0,1,11.8-6.08,49.22,49.22,0,0,1,14.57-2.11Q448.36,250.65,455.4,257.15Zm-11.5,46.79a17,17,0,0,0,7-8.37v-8.91H433.07q-14.7,0-14.7,9.87a9,9,0,0,0,3.74,7.59c2.48,1.84,5.94,2.77,10.35,2.77A21.52,21.52,0,0,0,443.9,303.94Z" transform="translate(-50.54 -152.74)"/><path class="cls-3" d="M519.77,311.34a17.23,17.23,0,0,1-6.26,3.31,25.94,25.94,0,0,1-7.71,1.15q-9.63,0-14.93-5.18t-5.3-14.81V260.76H474.73v-9.51h10.84v-14h11.56v14h18.3v9.51h-18.3v34.57q0,5.18,2.59,7.94t7.41,2.77a13.92,13.92,0,0,0,9-3Z" transform="translate(-50.54 -152.74)"/><path class="cls-3" d="M544.15,311.76a32,32,0,0,1-12.88-11.86,34.27,34.27,0,0,1,0-34.44,32,32,0,0,1,12.88-11.86,39.84,39.84,0,0,1,18.61-4.28,36.06,36.06,0,0,1,17.88,4.28,25.34,25.34,0,0,1,11.14,12.22l-14.57,7.83q-5.06-8.91-14.57-8.91a16.5,16.5,0,0,0-12.17,4.82q-4.82,4.81-4.81,13.12t4.81,13.13a16.5,16.5,0,0,0,12.17,4.81q9.63,0,14.57-8.91l14.57,8a25.85,25.85,0,0,1-11.14,12A35.66,35.66,0,0,1,562.76,316,39.84,39.84,0,0,1,544.15,311.76Z" transform="translate(-50.54 -152.74)"/><path class="cls-3" d="M651.87,256.49q8.07,7.17,8.07,21.61v37H642.36V307q-5.31,9-19.75,9a30.59,30.59,0,0,1-13-2.53,19.31,19.31,0,0,1-8.37-7,18.12,18.12,0,0,1-2.89-10.11q0-9,6.81-14.21t21-5.18h14.93q0-6.13-3.73-9.45t-11.2-3.31A32.83,32.83,0,0,0,616,265.88a27,27,0,0,0-8.49,4.4l-6.74-13.13a40.8,40.8,0,0,1,12.7-5.78,57.16,57.16,0,0,1,15.24-2.05Q643.79,249.32,651.87,256.49Zm-16,44.68a12.2,12.2,0,0,0,5.3-6.57V288H628.27q-11.57,0-11.56,7.59a6.76,6.76,0,0,0,2.83,5.72q2.82,2.1,7.76,2.1A16.41,16.41,0,0,0,635.85,301.17Z" transform="translate(-50.54 -152.74)"/><path class="cls-3" d="M682.94,314.05a41,41,0,0,1-12.29-5l6.27-13.48a39.5,39.5,0,0,0,10.47,4.51,43.73,43.73,0,0,0,12,1.75q11.93,0,11.93-5.9c0-1.85-1.09-3.17-3.26-4a48.22,48.22,0,0,0-10-2A98.05,98.05,0,0,1,685,287.14a20.43,20.43,0,0,1-9-5.54q-3.79-4-3.79-11.32a17.71,17.71,0,0,1,3.55-10.9A22.9,22.9,0,0,1,686.13,252a44.31,44.31,0,0,1,16.07-2.65,63.27,63.27,0,0,1,13.67,1.51A38.24,38.24,0,0,1,727.13,255l-6.26,13.37a37.4,37.4,0,0,0-18.67-4.82c-4,0-7,.57-9,1.69s-3,2.57-3,4.34c0,2,1.09,3.41,3.25,4.21a57.58,57.58,0,0,0,10.36,2.29,109.33,109.33,0,0,1,13,2.83,19.52,19.52,0,0,1,8.79,5.48q3.72,4,3.73,11.08a17.14,17.14,0,0,1-3.61,10.71,23.16,23.16,0,0,1-10.54,7.29A47.12,47.12,0,0,1,698.71,316,62.6,62.6,0,0,1,682.94,314.05Z" transform="translate(-50.54 -152.74)"/><path class="cls-3" d="M782.64,311.94a19.1,19.1,0,0,1-6.8,3.07,34,34,0,0,1-8.49,1q-11.57,0-17.88-5.9t-6.32-17.34V266.18h-10V251.73h10V236h18.78v15.77h16.14v14.45H761.93v26.38a8.82,8.82,0,0,0,2.11,6.32,7.82,7.82,0,0,0,6,2.23,12.12,12.12,0,0,0,7.59-2.41Z" transform="translate(-50.54 -152.74)"/>
          </svg>
        </div>
        <div class="modal__text" v-html="$t('about._text')"></div>
        <div class="about-modal__info">
          <p>
            <strong>{{$t('about.vk_group')}}</strong>
            <a href="https://vk.com/myowntv" target="_blank">https://vk.com/myowntv</a>
          </p>
          <p>
            <strong>{{$t('about.contact_email')}}</strong>
            <a href="mailto:help@catcast.tv" target="_blank">help@catcast.tv</a>
          </p>
          <p>
            <strong>{{$t('about.help_page')}}</strong>
            <a>{{$t('about.in_development')}}</a>
          </p>
        </div>
      </div>
    </m-modal>

    <m-modal class="welcome-modal" @click.native="welcomeModalVisible = false" v-model="welcomeModalVisible">
      <div slot="main">
        <div class="welcome-modal__picture">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="30 0 624.99 394.53"><defs><style>.cls-1{fill:#131518;}.cls-2{fill:#111;}.cls-3{fill:#0000C0;}.cls-4{fill:#C00000;}.cls-5{fill:#C000C0;}.cls-6{fill:#00C000;}.cls-7{fill:#00C0C0;}.cls-8{fill:#C0C000;}.cls-9{fill:#fff;}.cls-10{fill:#111;}.cls-11,.cls-12{fill:#efefef;opacity:0.85;}.cls-12{stroke:#111;stroke-miterlimit:10;}</style></defs><rect x="77.74" width="587.25" height="384.75" rx="12" class="cls-1"></rect><path d="M171.38,91.12H700V436.5H171.38" transform="translate(-72.38 -70.75)" class="cls-2"></path><path d="M171.38,91.12H633.91V436.5H171.38" transform="translate(-72.38 -70.75)" class="cls-3"></path><path d="M171.38,91.12H567.83V436.5H171.38" transform="translate(-72.38 -70.75)" class="cls-4"></path><path d="M171.38,91.12H501.76V436.5H171.38" transform="translate(-72.38 -70.75)" class="cls-5"></path><path d="M171.38,91.12h264.3V436.5H171.38" transform="translate(-72.38 -70.75)" class="cls-6"></path><path d="M171.38,91.12H369.6V436.5H171.38" transform="translate(-72.38 -70.75)" class="cls-7"></path><path d="M171.38,91.12H303.53V436.5H171.38" transform="translate(-72.38 -70.75)" class="cls-8"></path><path d="M171.38,91.12h66.07V436.5H171.38" transform="translate(-72.38 -70.75)" class="cls-9"></path><path d="M393.74,96.11C400,98.86,398.25,117,398.25,117s-2.81,34.38-1.31,38.63S402,161.5,406.25,171s11.5,29.75,11.25,37.25a254.06,254.06,0,0,1-4,33.25c-2,9.75-9,75.75-8.75,81.5s7.75,35.75,5.75,50.75-2.25,47.75-10.25,59.5-28.75,41.75-28,54.25,7,13.75,7.25,23,8.5,64.5,11.25,71,6.75,10.25,7,21.5S411,681.75,402,696s-23.25,58.5-60,59.25S155.25,741,139.5,705.75,81.75,585,77.25,559.5s-7.12-57-2.25-80.25,22.13-96.37,46.13-112.12,24.7-14,30.37-19.13c5.33-4.86,28.72-25.45,52.13-30.75,19.87-4.5,46.87-69,43.87-82.5-2.71-12.19-7.12-36.75-4.5-51.37s-2.25-51-3-60.75,5.32-31.44,14.81-31.5c22-.15,20.61,21.54,36.19,34.87,6.23,5.33,12.59,10.87,28,10.66,9-.13,23.07-.16,32.37-1.85,10.14-1.83,13.9-11.34,17.37-17.06,8.67-14.28,11.5-13.5,14.13-17.25,1.17-1.68,6-6.68,7.06-6.37A7.84,7.84,0,0,1,393.74,96.11Z" transform="translate(-72.38 -70.75)" class="cls-10"></path><path d="M657.05,188.38s-10.19,23.48-36.42,23.48c-25.83,0-38.09-22.16-38.09-30.08,0-1.82-.41-42.2-.19-49.35a9.21,9.21,0,0,1,0-1.18,67.92,67.92,0,0,0,39.94,13.34c17.74.14,36.32-13.33,36.19-13.23s0-.11,0-.11c0,.58,0,23.76,0,23.76,4.85-3.14,21.15-13,20.93-13.51-8.29-17.82-30.77-36.1-58.76-36.1A66.29,66.29,0,1,0,620.57,238c40,0,60.13-33.74,60.13-39.12" transform="translate(-72.38 -70.75)" class="cls-11"></path><path d="M582.34,132.55" transform="translate(-72.38 -70.75)" class="cls-12"></path></svg>
        </div>
        <div class="welcome-modal__title">{{$t('welcome_modal._title')}}</div>
        <div class="welcome-modal__text" v-html="$t('welcome_modal._text')"></div>
      </div>
    </m-modal>

    <inline-player />
    <VideoPlayers/>
  </div>
</template>
<style lang="scss">
  .welcome-modal {
    cursor: pointer;
    .modal__box {
      max-width: 20em;
    }
    &__title {
      font-size: 2em;
      font-weight: 400;
      margin: .5em 0;
    }

    &__text {
      font-size: 1.25em;
    }
  }
  .about-modal {
    .modal__box {
      max-width: 20em;
    }
    &__logo svg {
      height: 5em;
    }
  }
</style>
<script>
import { mapState } from 'vuex';
import leftSidebar from '~/components/layout/LeftSidebar';
import topSidebar from '~/components/layout/topSidebar';
import alertsList from '~/components/layout/alertsList';
import notificationsList from '~/components/layout/notificationsList';
import inlinePlayer from '~/components/layout/inlinePlayer';
import AttachmentsModal from "~/components/modals/AttachmentsModal";
import VideoPlayers from "~/components/layout/VideoPlayers";
export default{
	components: {VideoPlayers, AttachmentsModal, topSidebar,leftSidebar,inlinePlayer,notificationsList,alertsList},
	computed: mapState(['drawer','currentTheme','userData']),
  methods: {
	  onShowAboutModal() {
	    this.aboutModalVisible = true;
    }
  },
  data() {
	  return {
      aboutModalVisible: false,
      welcomeModalVisible: !!this.$route.query.from_motv,
    }
  },
  mounted() {
	  if (this.userData.loggedIn) {
      this.$echo.private('App.User.' + this.userData.id).listen('.mail.message', (e) => {
        this.$store.dispatch('mail/newMessage', {user_id: e.message.from_id, message: e.message});
      }).listen('.mail.read', (e) => {
        this.$store.dispatch('mail/readDialog', {user_id: e.dialog_id, is_out: true});
      }).notification((notification) => {
        this.$store.commit('NEW_NOTIFICATION', notification);
      })
    }
  }
}
</script>
