<template>
  <div id="app" class="theme" :class="'theme-'+currentTheme">
    <div class="minimal-layout">
      <audio id="audio" style="display:none"/>
      <alerts-list />
      <nuxt/>
    </div>
  </div>
</template>
<script>
  import { mapState } from 'vuex';
  import alertsList from '~/components/layout/alertsList';
  export default{
    components: { alertsList },
    computed: mapState(['currentTheme','userData']),
  }
</script>
<style lang="scss">
  .minimal-layout {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
</style>
