<template>
  <div class="centered-block">
    <blogPanel :isEditing="false" />
  </div>
</template>
<script>
  import blogPanel from '@/components/blocks/blog/panel';
  export default {
    components: {
      blogPanel
    },
    middleware: 'auth',
  }
</script>
