<template>
<div class="page-container">
  <div class="thumbs-list thumbs-list--with-multi-screen">
    <div  class="thumbs-list__header thumbs-list__header--default">
      <span class="thumbs-list__header__text">{{$t('blog._title')}}</span>
      <div class="thumbs-list__header__buttons">
        <m-btn v-if="$store.state.userData.loggedIn" to="/blog/add" class="btn--green" icon="note_add">{{$t('blog.add')}}</m-btn>
      </div>
    </div>
    <div class="multi-screen multi-screen--no-mobile">
      <div class="multi-screen__inner" :style="{width:100*getPagesCount+'%',left:(this.visiblePage-1)*-100+'%'}">
        <div class="multi-screen__page" :style="{width:100/getPagesCount+'%'}" v-for="(page,$pageIndex) in data" :key="$pageIndex">
          <div class="row row-full-width row--vertical-mobile">
            <div class="row row-vertical row-full-height blog-item__container" :style="{height:(100 / onRow * row.length) + '%'}" :key="$index" v-for="(row,$index) in page">
              <div class="col" :style="{height:'calc('+(100/onRow)+'% - 1em)'}" :key="$index2" v-for="(item,$index2) in row">
                <nuxt-link :to="'/blog/'+item.id" class="box box-no-padding">
                  <div class="blog-item">
                    <touch-ripple class="blog-item__inner">
                      <div class="blog-item__header">{{item.title}}</div>
                      <div class="blog-item__text" v-html="item.short_text"></div>
                      <div class="blog-item__bottom">
                        <div class="blog-item__bottom__info">
                          <i class="material-icons">access_time</i>
                          <span class="blog-item__bottom__info__text">{{getPublishDate(item.time)}}</span>
                        </div>
                      </div>
                    </touch-ripple>
                  </div>
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-preloader" v-show="isLoading">
      <m-preloader stroke-width="5" circle-width="5em"  />
    </div>
    <div class="pager-vertical-container pager-vertical-container--mobile-default">
      <m-pager :vertical="!isMobile" :count="getPagesCount" v-model="currentPage" />
    </div>
	</div>
</div>
</template>
<style lang="scss">
.blog-item {
	height:100%;
	&__inner {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
    box-shadow: 0 0 0 -.5em var(--active-color);
    transition: all .35s;
    top: 0;
    &:hover {
      top: -.5em;
      box-shadow: 0 .75em 1em -.5em var(--active-color);
    }
  }
	&__header {
    font-size: 1.125em;
		text-align: left;
		text-transform: uppercase;
		font-weight: 700;
		padding: 1em 1em 0;
	}
	&__text{
    font-size: .875em;
    margin: 0;
    padding: 0 1.25em;
    font-weight: 300;
		overflow: hidden;
	}
	&__bottom {
    background: var(--box-footer-color);
		padding: .5em;
		font-size: .875em;
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__info{
			display:flex;
			align-items:center;
			&__text{
				margin:0 0 0 .5em;
			}
		}
	}
}


</style>
<script>
import splitToRows from '~/functions/splitToRows.js';
import isMobile from '~/functions/isMobile.js';
import getBlocksCounts from '~/functions/getBlocksCounts.js';
import parentContainsClass from '@/functions/parentContainsClass.js';
import { getPublishDate } from '~/functions/dates.js';

let sizesConfig = {
	width:{
	  640:1,
		900:2,
		1200:3,
		1920:4
	},
	height:{
	  500:2,
		700:3,
		900:4,
		1280:5
	}
};
let counts = getBlocksCounts(sizesConfig);
let onRow;
let onPage;

if (isMobile()) {
  onRow = 1;
  onPage = 12;
} else {
  onRow = counts.h;
  onPage = onRow * counts.w;
}

let getBaseURL = ((page=1,count=10)=>{
	return `/blog?page=${page}&count=${count}`;
});

export default {
  head () {
    return {
      title: this.$t('blog._title'),
    }
  },
	async asyncData({app,query}) {
		let list = (await app.$axios.get(getBaseURL(1,onPage))).data;
		list = list.data.list;
		list.list = splitToRows(list.data,onRow);
		return {
		  data: {
		    0:list.list
      },
      total:list.total
		};
	},
	computed:{
		getPagesCount() {
			return Math.ceil(this.total / this.onPage);
		}
	},
	watch:{
		currentPage() {
			this.load();
		}
	},
	data() {
		return {
			isLoading: false,
			onRow: onRow,
			onPage: onPage,
			currentPage: 1,
			visiblePage: 1,
			isScrolling: false,
      isMobile: isMobile(),
		}
	},
	created() {
	  if (!isMobile()) {
      window.addEventListener('wheel', this.onWheel);
    }
	},
	methods:{
    getPublishDate,
		onWheel(e) {
			if (!this.isScrolling) {
        if (!parentContainsClass(e.target, 'modal') && !parentContainsClass(e.target, 'site-search')) {
          let changed = false;
          let dir = (e.deltaY > 0) ? 1 : -1;
          if (dir === -1 && this.currentPage > 1) {
            this.currentPage--;
            changed = true;
          } else {
            if (this.currentPage < this.getPagesCount) {
              this.currentPage++;
              changed = true;
            }
          }
          if (changed) {
            this.isScrolling = true;
            setTimeout(() => {
              this.isScrolling = false;
            }, 500)
          }
        }
			}
		},
		load() {
			let page = this.currentPage-1;
			if (this.data[page] && !this.isMobile) {
				this.visiblePage = this.currentPage;
			} else {
				this.isLoading = true;
				this.$axios.get(getBaseURL(this.currentPage,onPage)).then(res=>{
          this.isLoading = false;
          if (this.isMobile) {
            this.data[0] = [res.data.data];
            window.scrollTo(0,0);
          } else {
            this.data[page] = splitToRows(res.data.data.list.data, onRow);
            this.visiblePage = this.currentPage;
          }
				})
			}
		}
	}
}
</script>
