<template>
	<m-modal v-model="data.visible" :showCloseButton="true" :header="$t('dashboard.tracks.add_folder._title')">
		<div slot="main">
			<m-response :data="response" />
			<div class="modal__input-container">
				<m-input :errors="errors.folder_title" :title="$t('dashboard.tracks.add_folder.folder_title')" v-model="folderData.folder_title" />
			</div>
			<div class="modal__input-container">
				<m-input type="textarea" :errors="errors.folder_description" :title="$t('dashboard.tracks.add_folder.folder_description')" v-model="folderData.folder_description" />
			</div>
		</div>
		<div class="modal__buttons" slot="buttons">
			<div class="buttons-list">
				<m-btn :loading="isLoading"  @click="addFolder()">{{$t('global.ok')}}</m-btn>
				<m-btn class="btn--delete" @click="data.visible = false">{{$t('global.cancel')}}</m-btn>
			</div>
		</div>
	</m-modal>
</template>
<script>
export default {
	props:{
		folderId:{
			type:[Number],
			required:true
		},
		channel:{
			type:[Object],
			required:true
		},
		value:{
			type:[Object],
			required:true
		},
	},
	data() {
		return {
			errors:{},
			data:this.value,
			isLoading:false,
			folderData:{
				folder_title:'',
				folder_description:'',
			},
			response:null
		}
	},
	watch:{
	  'data.visible'(oldVal,newVal) {
      if (newVal && !oldVal) {
        this.folderData.folder_title = '';
        this.folderData.folder_description = '';
        this.response = null;
      }
    },
		data(newData,oldData) {
			this.$emit('input',newData);
		}
	},
	methods:{
		addFolder() {
			this.isLoading = true;
			let data = this.folderData;
			if (!data.is_editing) {
				data.channel_id = this.channel.id;
				data.parent_id = this.folderId;
				this.$axios.post('/folders',data).then(res=>{
					this.isLoading = false;
					this.response = res.data;
					this.errors = res.data.errors || {};
					if (res.data.status) {
						this.$store.commit('NEW_ALERT',res.data);
						this.$emit('newfolder',res.data.folder);
						this.data.visible = false;
					}
				});
			} else {
				this.$axios.post('/folders',data).then(res=>{
					this.isLoading = false;
					this.response = res.data;
					this.errors = res.data.errors || {};
					if (res.data.status) {
						this.$store.commit('NEW_ALERT',res.data);
						this.$emit('editfolder',res.data.folder);
						this.data.visible = false;
					}
				});
			}
		}
	}
}
</script>
