<template>
  <div class="mail__inner">
    <div class="mail__dialog-user" ref="user">
      <div class="mail__dialog-user__inner" v-if="dialog && dialogsUsers[dialog.user_id]">
        <nuxt-link :to="'/users/'+dialog.user_id" class="mail__dialog-user__ava" :style="'background: url('+dialogsUsers[dialog.user_id].ava+') no-repeat center center;background-size:cover'"></nuxt-link>
        <nuxt-link :to="'/users/'+dialog.user_id" class="mail__dialog-user__info">
          <div class="mail__dialog-user__name">{{dialogsUsers[dialog.user_id].username}}</div>
          <UserOnlineMark :data="dialogsUsers[dialog.user_id]"/>
        </nuxt-link>
        <div class="mail__dialog-user__back" @click="unsetDialog()">
          <m-btn icononly flat icon="keyboard_backspace"/>
        </div>
      </div>
    </div>
    <div class="mail__messages"  ref="messages_container">
      <div class="list-container">
        <div class="page-preloader" v-show="isLoading">
            <m-preloader stroke-width="5" circle-width="5em"  />
         </div>
         <m-infinite-scroll @scrollTop="onScroll" :loading="false" ref="messages"  class="list-container__inner">
          <a class="message" :class="{'message--unread': !message.is_read && !message.is_out, 'message--deleted': message.is_deleted, 'message--not-first': (messagesList[$index - 1] && messagesList[$index - 1].user.username === message.user.username)}" :key="$index" v-for="(message, $index) in messagesList">
            <div class="message__restore" v-if="message.is_deleted">
              <div class="message__restore__inner">
                <span  class="message__restore__text">{{$t('mail.message_deleted')}}</span>
                <m-btn @click="restoreMessage(message)">{{$t('mail.restore_message')}}</m-btn>
              </div>
            </div>
            <div class="message__info" v-show="!(messagesList[$index - 1] && messagesList[$index - 1].user.username === message.user.username)">
              <img class="message__ava" :src="message.user.ava" />
              <div class="message__captions">
                <div class="message__username">{{message.user.username}}</div>
                <div class="message__date">
                  <span class="message__date__inner">{{message.date}}</span>
                  <span class="message__date__edited" v-if="message.is_edited">({{$t('mail.edited_at')}} {{message.edit_date}})</span>
                </div>
              </div>
            </div>

            <div class="message__text" :class="{'message__text--unread': !message.is_read && message.is_out}">
              <div class="message__buttons">
                <div class="buttons-list">
                  <a class="message__button" @click="setEditingMessage(message)" v-if="message.can_edit">
                    <i class="material-icons">edit</i>
                  </a>
                  <a class="message__button" @click="deleteMessage(message)">
                    <i class="material-icons">close</i>
                  </a>
                </div>
              </div>
              <span class="message__text__inner" v-html="parseLinks(message.text)"></span>
              <AttachmentsList class="message__attachments" :attachments="message.attachments" v-if="message.attachments && message.attachments.length > 0"/>
            </div>
          </a>
        </m-infinite-scroll>
      </div>
    </div>
    <div class="mail__panel" ref="panel">
      <div class="box">
        <div class="mail__panel__inner">
          <m-input :placeholder="$t('mail.enter_message')" type="textarea" v-model="message.text"/>
          <AttachmentsPanel @ready="onReady" v-model="message.attachments" :videos="false">
            <div class="comments-panel__buttons" slot="buttons">
              <div class="buttons-list">
                <m-btn v-if="!isEditing" :loading="isSendingMessage" @click="onSendButtonClick()" :disabled="message.text.length === 0">{{$t('mail.send')}}</m-btn>
                <m-btn v-else class="btn--green" :loading="isSendingMessage" @click="onSendButtonClick()" :disabled="message.text.length === 0">{{$t('mail.edit')}}</m-btn>
                <m-btn v-if="isEditing" @click="returnFromEditing()" flat>{{$t('global.cancel')}}</m-btn>
              </div>
            </div>
          </AttachmentsPanel>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  .mail {
    &__inner {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &__dialog-user {
      background: var(--box-footer-color);

      @media screen and (max-width: 768px) {
        font-size: .875em;
      }

      &__back {
        display: none;
        @media screen and (max-width: 768px) {
          display: block;
        }
      }

      &__inner {
        text-decoration: none;
        margin: 1em;
        display: flex;
      }

      &__ava {
        width: 2.5em;
        height: 2.5em;
      }

      &__info {
        text-decoration: none;
        flex: 1;
        margin: 0 0 0 .5em;
      }

      &__name {
        font-weight: 600;
      }
    }
  }
</style>
<script>
  import {mapState, mapActions} from 'vuex';
  import AttachmentsPanel from '@/components/blocks/AttachmentsPanel';
  import UserOnlineMark from '@/components/blocks/users/UserOnlineMark';
  import AttachmentsList from '@/components/blocks/AttachmentsList';
  export default{
    components: {
      AttachmentsPanel, UserOnlineMark, AttachmentsList
    },
    props: {
      dialog: {
        required: true
      }
    },
    data() {
      return {
        messagesList: [],
        isLoading: false,
        currentPage: 1,
        isSendingMessage: false,
        pages:{
          from: 0,
          to: 0,
        },
        message: {
          text: '',
          attachments: [],
        },
        isEditing: false,
        editingID: null,
        errors: {},
      }
    },
    watch: {
      messages: {
        handler(val) {
          this.reloadMessages();
        },
        deep: true
      },
      dialog() {
        this.onDialogSelect();
      }
    },
    computed: {
      ...mapState('mail', ['messages', 'pagesCounts','dialogsUsers']),
      dialogMessages() {
        if (this.dialog) {
          if (this.messages[this.dialog.user_id]) {
            return this.messages[this.dialog.user_id]
          }
        }
        return {};
      },
      dialogUser() {
        if (this.dialog) {
          let user_id = parseInt(this.dialog.user_id);
          if (this.dialogsUsers[user_id]) {
            return this.dialogsUsers[user_id];
          }
        }
        return null;
      },
    },
    mounted() {
      this.onDialogSelect();
    },
    methods: {
      parseLinks(inputText) {
          let replacedText, replacePattern1, replacePattern2, replacePattern3;
          replacePattern1 = /(\b(https?|ftp):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gim;
          replacedText = inputText.replace(replacePattern1, '<a href="$1" target="_blank">$1</a>');
          replacePattern2 = /(^|[^\/])(www\.[\S]+(\b|$))/gim;
          replacedText = replacedText.replace(replacePattern2, '$1<a href="http://$2" target="_blank">$2</a>');
          replacePattern3 = /(([a-zA-Z0-9\-\_\.])+@[a-zA-Z\_]+?(\.[a-zA-Z]{2,6})+)/gim;
          replacedText = replacedText.replace(replacePattern3, '<a href="mailto:$1">$1</a>');
          return replacedText;
      },
      returnFromEditing() {
        this.isEditing = false;
        this.editingID = null;
        this.message.text = "";
        this.message.attachments = [];
      },
      unsetDialog() {
        this.$emit('unsetDialog');
      },
      setEditingMessage(message) {
        this.isEditing = true;
        this.editingID = message.id;
        this.message.text = message.text;
        this.message.attachments = message.attachments;
      },
      restoreMessage(message) {
        this.$axios.post('mail/'+message.id+'/restore').then(res=>{
          this.$store.commit('NEW_ALERT', res.data);
          if (res.data.status) {
            this.$set(message, 'is_deleted', false);
          }
        })
      },
      deleteMessage(message) {
        this.$axios.delete('mail/'+message.id).then(res=>{
          this.$store.commit('NEW_ALERT', res.data);
          if (res.data.status) {
            this.$set(message, 'is_deleted', true);
          }
        });
      },
      reloadMessages() {
        let messages = [];
        let needLoad = true;
        for (let i = this.pages.from; i <= this.pages.to; i++) {
          if (this.dialogMessages[i] && needLoad) {
            messages = [...messages, ...this.dialogMessages[i]];
          } else {
            needLoad = false;
          }
        }
        messages = messages.reverse();
        this.messagesList = messages;
        if (this.dialog) {
          this.readDialog({user_id: this.dialog.user_id});
          this.$nextTick(()=>{

          })
        }
      },
      sendMessage() {
        this.isSendingMessage = true;
        this.$axios({
          method: this.isEditing ? 'PATCH' : 'POST',
          url: this.isEditing ? 'mail/' + this.editingID : 'mail',
          data: {
            user_id: this.dialog.user_id,
            text: this.message.text,
            attachments: this.message.attachments
          }
        }).then(res => {
          this.isSendingMessage = false;
          this.$store.commit('NEW_ALERT', res.data);
          if (res.data.status) {
            this.message.text = '';
            this.message.attachments = [];
            if (this.isEditing) {
              this.isEditing = false;
              this.editMessage({user_id: this.dialog.user_id, message: res.data.message});
            } else {
              this.newMessage({user_id: this.dialog.user_id, message: res.data.message});
            }
            this.$nextTick(()=>{
              this.reloadMessages();
              this.$emit('newMessage');
              let el = this.$refs.messages.$el;
              el.scrollTop = 10000;
            })
          }
        })
      },
      onReady() {
        this.sendMessage();
      },
      onSendButtonClick() {
        if (this.message.text.length > 0 && this.dialog && this.dialog.user_id) {
          if (this.message.attachments.length > 0) {
            this.$emit('save_attachments');
          } else {
            this.sendMessage();
          }
        }
      },
      onScroll() {
        if (this.pages.to < this.pagesCounts[this.dialog.user_id] && !this.isLoading) {
          this.isLoading = true;
          this.loadMessages({user_id: this.dialog.user_id, page: this.pages.to + 1}).then(() => {
            this.$nextTick(() => {
              this.pages.to++;
              this.reloadMessages();
              this.isLoading = false;
            })
          });
        }
      },
      ...mapActions({
        readDialog: 'mail/readDialog',
        loadMessages: 'mail/loadMessages',
        editMessage: 'mail/editMessage',
        newMessage: 'mail/newMessage',
      }),
      onDialogSelect() {
        this.pages.from = 0;
        this.pages.to = 0;
        let dialog = this.dialog;
        if (!dialog.user_id) {
          dialog.user_id =  this.$store.state.userData.id === dialog.from_id ? dialog.to_id : dialog.from_id;
        }
        if (!this.messages[dialog.user_id]) {
          this.isLoading = true;
          this.loadMessages({user_id: dialog.user_id, page: 1}).then(()=>{
            this.isLoading = false;
            this.pages.from = 1;
            this.pages.to = 1;
            this.reloadMessages();
            this.$nextTick(()=>{
              this.$nextTick(()=>{
                let el = this.$refs.messages.$el;
                el.scrollTop = 10000;
              });
            })
          });
        } else {
          this.pages.from = 1;
          this.pages.to = 1;
          this.reloadMessages();
        }
      },
    }
  }
</script>
