<template>
<div class="channel-page__outer" :class="{'bright': pageIsBright}">
  <div class="channel-page" v-if="!error" ref="page_outer">
    <div class="channel-page__background" v-if="channel.background" :style="{background: 'url('+channel.background+') no-repeat center center', backgroundSize:'cover'}"></div>
    <!--<div ref="banner_container" class="channel-page__banner-container" v-if="channel.banner">
      <img class="channel-page__banner" :src="channel.banner"/>
    </div>-->
    <div class="channel-page__inner" :style="{'top': (viewTopOffset + 'px')}" ref="page">
      <div class="channel-page__main">
        <div class="channel-page__content" ref="content">
          <div class="channel-page__box" v-show="!playerDetached || channel.is_radio">
            <div class="channel-page__box__inner channel-page__box__inner--player">
              <div class="channel-page__player-container" ref="player_container" :class="{'channel-page__player-container--tv': channel.channel_type === 'tv', 'channel-page__player-container--radio': channel.channel_type === 'radio'}">
                <RadioPlayer :currentTrack="currentTrack" :channel="channel" v-if="channel.channel_type === 'radio'" class="channel-page__player" />
              </div>
            </div>
          </div>
          <div class="channel-page__bottom">
            <div class="channel-page__box channel-page__box--tabs">
              <m-tabs :data="tabs" v-model="currentTab"/>
            </div>
            <div ref="bottom" class="channel-page__bottom__inner"  :class="[(scrolledMax ? 'channel-page__bottom__inner--scrollable' : ''), 'channel-page__bottom--tab-'+currentTab]">
              <div  class="channel-page__info__container" v-show="currentTab === 'info'" >
                <div class="channel-page__box">
                  <div  class="channel-page__box__inner">
                    <div class="channel-page__info">
                      <div class="channel-page__logo" :style="{background:'url('+channel.logo+') no-repeat center center', 'background-size': 'contain'}"></div>
                      <div class="channel-page__info__texts">
                        <div class="channel-page__name-container">
                          <div class="channel-page__name">
                            {{channel.name}}
                            <a target="_blank" :href="'/dashboard/'+channel.id+'/videos'" v-if="$store.state.userData.is_admin" style="font-size: .5em; font-weight: 300;"> (ID: {{channel.id}})</a>
                          </div>
                          <div class="channel-page__program-name" v-if="currentProgram && currentProgram.is_online">
                            <i class="material-icons">chevron_right</i>
                            <span class="channel-page__program-name__text" v-if="!editProgram.visible">{{currentProgram.program_name && currentProgram.program_name.length > 0 ? currentProgram.program_name : $t('channel.live_broadcast')}}</span>
                            <a class="channel-page__program-name__edit-button" v-if="!editProgram.visible && canEditProgram" @click="showEditProgram()"><i class="material-icons">edit</i></a>
                            <div class="channel-page__program-name__edit-panel" v-if="editProgram.visible">
                              <m-input autoSize v-model="editProgram.name" />
                              <m-btn :loading="editProgram.loading" @click="saveProgramName()">{{$t('global.ok')}}</m-btn>
                            </div>
                          </div>
                        </div>
                        <div class="channel-page__buttons-container">
                          <div class="buttons-list">
                            <likesButton module="channels" :materialid="channel.id" />
                            <subscribeButton :type="'channels'" :data="channel" />
                          </div>
                        </div>
                        <div class="channel-page__tags">
                          <nuxt-link :key="$index" :to="'/tv/by-tag?tags='+tag" class="tag" v-for="(tag, $index) in channel.tags">{{tag}}</nuxt-link>
                        </div>
                      </div>
                    </div>
                    <img class="channel-page__bottom-banner" :src="channel.banner"/>

                    <div class="channel-page__description" v-html="channel.description"> </div>
                    <div v-if="channel.links && channel.links.length > 0" class="buttons-list channel-page__links">
                      <m-btn :to="link.link" :key="$index" v-for="(link, $index) in channel.links" :color="channel.colors[10]" :textcolor="channel.colors[11]">{{link.group}}</m-btn>
                    </div>
                  </div>
                </div>
                <div class="channel-page__box" v-if="donates.donates_on">
                  <div class="channel-page__donates" >
                    <div class="channel-page__donates__top">
                      <div class="channel-page__donates__header" v-if="donates.current_goal">{{donates.current_goal.title}}</div>
                      <div class="channel-page__donates__header" v-else-if="donates.donates_settings.donate_comment && donates.donates_settings.donate_comment.length > 0">{{donates.donates_settings.donate_comment}}</div>
                      <div class="channel-page__donates__header" v-else>{{$t('donates.default_header')}}</div>
                      <m-btn @click="donatesModalVisible = true" v-if="donates.current_goal && donates.current_goal.button_text && donates.current_goal.button_text.length > 0">{{donates.current_goal.button_text}}</m-btn>
                      <m-btn @click="donatesModalVisible = true" v-else-if="donates.donates_settings & donates.donates_settings.button_text && donates.donates_settings.button_text.length > 0">{{donates.settings.button_text}}</m-btn>
                      <m-btn @click="donatesModalVisible = true" v-else>{{$t('donates.default_button_text')}}</m-btn>
                    </div>
                    <div class="channel-page__donates__description" v-if="donates.current_goal">{{donates.current_goal.comment}}</div>
                    <div class="channel-page__donates__description" v-else>{{donates.donates_settings.donate_comment}}</div>
                    <div class="channel-page__donates__main" v-if="donates.current_goal">
                      <div class="channel-page__donates__main__inner">
                        <div class="channel-page__donates__collected-sum">{{donates.current_goal.sum_collected_readable}}</div>
                        <div class="channel-page__donates__total-sum">{{donates.current_goal.sum_readable}}</div>
                        <div class="channel-page__donates__progress" v-if="donates.current_goal">
                          <div class="channel-page__donates__progress__bar" :style="{width: donates.current_goal.percent + '%'}"></div>
                        </div>
                      </div>
                    </div>
                    <div class="channel-page__donates__list" v-if="donates.last_donates && donates.last_donates.length > 0">
                      <div class="list-item list-item--not-link" :key="$index" v-for="(donate, $index) in donates.last_donates">
                        <div class="list-item__left">
                          <div class="list-item__number">
                            {{donate.sum_readable}}
                          </div>
                          <div class="list-item__captions">
                            <div v-if="donate.user" class="list-item__title">{{donate.user.username}}</div>
                            <div class="list-item__under-title">{{donate.comment}}</div>
                          </div>
                        </div>
                        <div class="list-item__right">
                          <div class="dashboard-page__donates__time">{{donate.time_readable}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="channel-page__box channel-page__box--bottom">
                  <div class="channel-page__wall-container">
                    <tabWall :rights="rights" :channel="channel"/>
                  </div>
                </div>
              </div>
              <div class="channel-page__box" v-show="currentTab !== 'info'">
                <div class="channel-page__mobile-chat" v-if="isMobile" v-show="currentTab === 'chat'">
                  <Chat ref="chat" :channel="channel"/>
                </div>
                <tabTeam :channel="channel" v-if="loadedTabs.team" v-show="currentTab === 'team'"/>
                <tabRecords ref="tab_records" :channel="channel" v-if="loadedTabs.records" v-show="currentTab === 'records'"/>
                <tabVideos ref="tab_videos" :channel="channel" v-if="loadedTabs.videos" v-show="currentTab === 'videos'"/>
                <tabProjects :channel="channel" v-if="loadedTabs.projects" v-show="currentTab === 'projects'"/>
                <tabAnnounces :channel="channel" v-if="loadedTabs.announces" v-show="currentTab === 'announces'"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="!isMobile" class="channel-page__chat-container">
        <Chat ref="chat" :channel="channel"/>
      </div>
    </div>
    <m-modal class="donates-modal" v-model="donatesModalVisible" :header="$t('donates.modal_title')">
      <donatesForm @close="onDonateClose" @success="onDonateSuccess" :channel="channel" :data="donates" />
    </m-modal>
  </div>
	<m-error-page v-else :data="error" />
</div>
</template>

<script>
import RadioPlayer from '@/components/players/RadioPlayer';
import TVPlayer from '@/components/players/TVPlayer';
import Chat from '@/components/Chat';
import tabTeam from '@/components/blocks/channel/team';
import tabWall from '@/components/blocks/channel/wall';
import tabVideos from '@/components/blocks/channel/videos';
import tabRecords from '@/components/blocks/channel/records';
import tabProjects from '@/components/blocks/channel/projects';
import tabAnnounces from '@/components/blocks/channel/announces';
import donatesForm from '@/components/blocks/donatesForm';

import likesButton from '@/components/buttons/LikesButton';
import subscribeButton from '@/components/buttons/SubscribeButton';
import parentContainsClass from '@/functions/parentContainsClass.js';
import isMobile from '~/functions/isMobile.js';
import isBright from '@/functions/isBright.js';

export default {
  components: {
    RadioPlayer, TVPlayer, Chat, tabTeam, tabWall, tabVideos, tabRecords, tabProjects, tabAnnounces, likesButton, subscribeButton, donatesForm
  },
	async asyncData({app,params}) {
		let channelData = (await app.$axios.get(`/channels/getbyshortname/${params.id}`)).data;
    if (channelData.status) {
			let channel = channelData.data;
			let id = params.id;
		  let rightsLists = channelData.rights_lists;
			let rights = channelData.rights;
      let donates = (await app.$axios.get(`/donates/getbychannel/${channel.id}`)).data.data;
			if (channel.channel_type === "radio") {
        let currentTrack = (await app.$axios.get(`/radiostream/getcurrenttrack/${channel.id}`)).data.data;
        return {
          error: null,
          donates,
          channel,
          id,
          currentProgram: {},
          currentTrack,
          rightsLists,
          rights
        };
      }
      if (channel.channel_type === "tv") {
        let data = {
          hide_error_on_wrong_password: true
        };
        if (localStorage['channel_password_'+channel.id]) {
          data.password = localStorage['channel_password_'+channel.id];
        }
        let currentProgram = (await app.$axios.post(`/channels/${channel.id}/getcurrentprogram`, data)).data;
        currentProgram = currentProgram.data;
        return {
          error: null,
          donates,
          channel,
          id,
          currentProgram,
          rightsLists,
          rights
        };
      }
			return {
			  error: null,
        donates,
        channel,
        id
			};
		} else {
			return {
			  error: channelData
			};
		}
	},
  watch: {
    $route(newRoute) {
      if (Object.keys(this.$route.query).length === 0) {
        this.currentTab = "info";
      }
    },
    currentTab(tab) {
      this.loadedTabs[tab] = true;
      if (tab === "videos") {
        this.detachPlayer();
      } else {
        this.attachPlayer();
      }
    }
  },
  head () {
    if (!this.error) {
      return {
        title: this.channel.name
      }
    }
  },
	data() {
		return {
		  playerDetached: true,
      isMobile: isMobile(),
		  editProgram: {
		    visible: false,
		    name: '',
        loading: false
      },
			channelViewHeight: this.channel && this.channel.is_radio ? (window.innerHeight / 100 * 30) : (window.innerHeight / 100 * 65),
      maxViewHeight: this.channel && this.channel.is_radio ? (window.innerHeight / 100 * 30) : (window.innerHeight / 100 * 65),
      minViewHeight: 0, // window.innerHeight / 100 * 25,
      viewTopOffset: 0,
      em: 16,
      currentTab: 'info',
      loadedTabs: {
			  info: true
      },
      donatesModalVisible: false,
    }
	},
  computed: {
      pageIsBright() {
          if (this.channel && this.channel.colors[2]) {
               return isBright(this.channel.colors[2]);
          }
          return false;
    },
    canEditProgram() {
      if (!this.rightsLists.rights || !this.rightsLists.full_rights) {
        return false;
      }
      if (!this.currentProgram || !this.currentProgram.is_live) {
        return false;
      }
      let list = this.rightsLists.rights;
      let full_list = this.rightsLists.full_rights;
      if (list.indexOf('admin') !== -1 || list.indexOf('owner') !== -1 || list.indexOf('channel_admin') !== -1) {
        return true;
      }
      if (full_list.indexOf('live_broadcast') !== -1) {
        return true;
      }
      if (list.indexOf('live_broadcast') !== -1 && this.currentProgram.live_user && this.currentProgram.live_user.id === this.$store.state.userData.id) {
        return true;
      }
      return false;
    },
    tabs() {
      let tabs =  [
        {id: 'info', name: this.$t('channel.tabs.info')},
        {id: 'team', name: this.$t('channel.tabs.team')},
        {id: 'announces', name: this.$t('channel.tabs.announces')},
      ];
      if (this.isMobile) {
        tabs.unshift({
          id: 'chat', name: this.$t('chat._title')
        })
      }
      if (this.channel.is_radio) {
        tabs.push({
          id: 'records', name: this.$t('channel.tabs.records')
        })
      } else {
        tabs.push({
          id: 'videos', name: this.$t('channel.tabs.videos')
        })
      }
      tabs.push({id: 'projects', name: this.$t('channel.tabs.projects')});
      //tabs.push({id: 'wall', name: this.$t('channel.tabs.wall')});
      return tabs;
    },
    scrolledMax() {
      return this.channelViewHeight - this.minViewHeight < 2.75 * this.em;
    }
  },
  mounted() {
    if (!this.error) {
      this.em = parseFloat(getComputedStyle(this.$refs.page).fontSize);
      this.channel.colors.forEach((color, index) => {
        this.$refs.page_outer.style.setProperty(`--channel-colors-${index}`, color);
      });
      //window.addEventListener('wheel', this.setChannelViewHeight);
      this.$refs.content.addEventListener('scroll', this.onContentScroll);
      if (this.channel && this.channel.is_radio) {
        this.channelViewHeight = window.innerHeight / 100 * 30;
        this.maxViewHeight = window.innerHeight / 100 * 30;
      }
      this.attachPlayer();
    }
  },
  beforeDestroy() {
    if (!this.error) {
      this.$echo.leave(`App.Channel.${this.channel.id}`);
      //window.removeEventListener('wheel', this.setChannelViewHeight);
      this.$refs.content.removeEventListener('scroll', this.onContentScroll);
      if (this.$store.state.players.list['tv_' + this.channel.id]) {
        if ( this.$store.state.players.list['tv_' + this.channel.id].is_playing) {
          this.detachPlayer();
        } else {
          this.$store.commit('players/CLOSE_PLAYER', {
            id: 'tv_' + this.channel.id,
          });
        }
      }
    }
  },
	methods: {
    attachPlayer() {
      if (this.playerDetached && !this.channel.is_radio) {
        if (!this.$store.state.players.list['tv_' + this.channel.id]) {
          this.$store.commit('players/ADD_PLAYER', {
            id: 'tv_' + this.channel.id,
            channel: this.channel,
            currentProgram: this.currentProgram
          });
        }
        this.$nextTick(() => {
          let player = document.getElementById('player_tv_' + this.channel.id);
          if (player) {
            this.$refs.player_container.appendChild(player);
            this.$store.commit('players/SET_DETACHED', {id: 'tv_' + this.channel.id, detached: false});
            this.playerDetached = false;
          }
        })
      }
    },
    detachPlayer() {
      if (!this.channel.is_radio && !this.isMobile && !this.playerDetached) {
        this.playerDetached = true;
        let playerEl = this.$refs.player_container.children[0];
        document.getElementById('video_players').appendChild(playerEl);
        this.$store.commit('players/SET_DETACHED', {id: 'tv_' + this.channel.id, detached: true});
      }
    },
    saveProgramName() {
      this.editProgram.loading = true;
      this.$axios.post(`channels/${this.channel.id}/setprogramname`, {program_name: this.editProgram.name}).then(res => {
        this.editProgram.loading = false;
        if (res.data.status) {
          this.currentProgram.program_name = this.editProgram.name;
          this.editProgram.visible = false;
        } else {
          this.$store.commit('NEW_NOTIFY', res.data);
        }
      })
    },
    showEditProgram() {
      this.editProgram.name = this.currentProgram.program_name;
      this.editProgram.visible = true;
    },
    onChangeProgram(e) {
      this.currentProgram = e;
    },
    onDonateClose() {
      this.donatesModalVisible = false;
    },
    async onDonateSuccess() {
      this.donates = (await this.$axios.get(`/donates/getbychannel/${this.channel.id}`)).data.data;
    },
    onContentScroll(e) {
      let content = this.$refs.content;
      let top = content.scrollTop;
      let height = content.offsetHeight;
      let scrollHeight = content.scrollHeight;
      if (top + height >= (scrollHeight - this.em)) {
        this.$emit('scrollBottom');
      }
    },
		setChannelViewHeight(e) {
      if (this.isMobile) {
        return;
      }
      if (!parentContainsClass(e.target, 'modal') && !parentContainsClass(e.target, 'tv-player__timetable__list') && !parentContainsClass(e.target, 'site-search') && !parentContainsClass(e.target, 'chat')) {
        let scrollAmount = 2.5 * this.em;
        let canScroll = true;
        if (this.currentTab === 'videos' && this.$refs.tab_videos) {
          let section = this.$refs.tab_videos.$refs.videos_section;
          if (section.$refs.items && section.$refs.items.$el.scrollTop !== 0) {
            canScroll = false;
          }
        }
        if (this.currentTab === 'records' && this.$refs.tab_records) {
          let section = this.$refs.tab_records.$refs.records_section;
          if (section.$refs.items && section.$refs.items.$el.scrollTop !== 0) {
            canScroll = false;
          }
        }
        if (canScroll && this.$refs.bottom  && this.$refs.bottom.scrollTop === 0 ) {
          let scrollBy = e.deltaY < 0 ? scrollAmount : -1 * scrollAmount;
          if (this.$refs.banner_container && (this.viewTopOffset * -1) < this.$refs.banner_container.clientHeight) {
            this.viewTopOffset += scrollBy;
            if (this.viewTopOffset * -1 > this.$refs.banner_container.clientHeight) {
              this.viewTopOffset = -1 * this.$refs.banner_container.clientHeight;
            }
            if (this.viewTopOffset > 0) {
              this.viewTopOffset = 0;
            }
          } else {
            //let pageHeight = this.$refs.page.clientHeight;
            //let bottomHeight = this.$refs.bottom.clientHeight;
            //if (this.channelViewHeight + bottomHeight >= pageHeight) {
            //  this.channelViewHeight = pageHeight - bottomHeight;
            //}

            if (this.channelViewHeight + scrollBy <= 0) {
              this.channelViewHeight = 0;
            } else {
              if (this.channelViewHeight + scrollBy >= this.minViewHeight && this.channelViewHeight + scrollBy <= this.maxViewHeight) {
                this.channelViewHeight += scrollBy;
              } else {
                if (this.channelViewHeight + scrollBy >= this.maxViewHeight && this.$refs.banner_container) {
                  if (this.viewTopOffset < 0) {
                    this.viewTopOffset += scrollBy;
                  }
                  if (this.viewTopOffset > 0) {
                    this.viewTopOffset = 0;
                  }
                }
              }
            }
          }
        }
      }

    }
	}
}
</script>
