<template>
  <div class="admin-panel">
    <nuxt-child class="admin-panel__inner"  />
    <div class="admin-panel__tabs">
       <nuxt-link class="admin-panel__tab" :class="{'admin-panel__tab--active': '/admin/'+tab.link === $route.path}" :to="'/admin/'+tab.link" :key="tab.link" v-for="tab in tabs">{{$t(tab.name)}}</nuxt-link>
    </div>
  </div>
</template>
<style lang="scss">
  .admin-panel {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__inner {
      max-width: 80vw;
      position: relative;
    }
    &__content {
      overflow: auto;
      max-height: 70vh;
    }
    &__tabs {
      position: absolute;
      top: 0;
      height: 100%;
      right: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__tab {
      text-align: center;
      text-decoration: none;
      padding: 1em;
      background: var(--box-element-color);
      &--active {
        background: var(--active-color);
      }
    }
  }
</style>
<script>
  export default {
    computed: {
      tabs() {
        return [
          {
            name: 'admin.tabs.support',
            link: 'support',
          },
          {
            name: 'admin.tabs.channels',
            link: 'channels',
          },
          {
            name: 'admin.tabs.users',
            link: 'users',
          },
          {
            name: 'admin.tabs.donates',
            link: 'donates',
          },
          {
            name: 'admin.tabs.servers',
            link: 'servers',
          },
          {
            name: 'admin.tabs.help',
            link: 'help',
          },
          {
            name: 'admin.tabs.languages',
            link: 'languages',
          }
        ]
      },
      isAdmin() {
        return this.store.state.userData.is_admin;
      }
    },
    mounted() {

    }
  }
</script>
