<template>
  <div class="centered-block">
    <div class="box">
      <div class="row">
        <div class="after-register-form">
          <div v-if="isLoading" class="after-register-form__preloader">
            <m-preloader stroke-width="5" circle-width="5em"  />
          </div>
          <div v-else>
            <div class="response-block" v-if="response">
              <div class="response-block__icon response-block__icon--fail" v-if="response.status === 0"><i class="material-icons">close</i></div>
              <div class="response-block__icon response-block__icon--success" v-else-if="response.status === 1"><i class="material-icons">check</i></div>
              <span class="response-block__text">{{$t(response.text)}}</span>
              <div class="response-block__buttons">
                <m-btn to="/">{{$t('global.back_to_main')}}</m-btn>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    head() {
      return {
        title: this.$t('auth.confirm_account')
      }
    },
    middleware: 'auth',
    data() {
      return {
        isLoading: false,
        response: null,
      }
    },
    mounted() {
      this.isLoading = true;
      if (!this.$route.query.code) {
        this.$router.redirect('/');
      }
      this.$axios.post('/auth/connections/confirm/'+this.$route.query.code).then(res=>{
          this.response = res.data;
          this.isLoading = false;
      })
    }
  }
</script>
