<template>
<div class="centered-block">
	<div class="box">
		<div class="row">
			<div class="col auth-form">
        <div class="auth-form__logo">
          <svg class="auth-form__logo__picture" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 732.1 265.15">
            <path class="cls-1" d="M256.39,318.7s-20.38,47-72.85,47c-51.65,0-76.18-44.33-76.18-60.17,0-3.64-.82-84.4-.38-98.7a18.42,18.42,0,0,1,.06-2.36c1.41,1.15,32.7,26.31,79.88,26.68,35.49.27,72.65-26.67,72.38-26.45,0,0,0-.24,0-.23-.07,1.16-.08,47.51-.08,47.51,9.7-6.28,42.31-26.08,41.87-27-16.58-35.65-61.55-72.19-117.53-72.19a133,133,0,0,0-133,133c0,73.46,59.43,132.16,132.88,132.16,80,0,120.27-67.49,120.27-78.25" transform="translate(-50.54 -152.74)"/><path class="cls-2" d="M107,207" transform="translate(-50.54 -152.74)"/><path class="cls-3" d="M353.53,311.58a30.84,30.84,0,0,1-12-11.62,34.69,34.69,0,0,1,0-33.6,30.49,30.49,0,0,1,12-11.56,35.86,35.86,0,0,1,17.4-4.15,33.34,33.34,0,0,1,15.47,3.49,24.86,24.86,0,0,1,10.54,10.12l-8.79,5.66a19.73,19.73,0,0,0-7.47-6.87,21.35,21.35,0,0,0-9.87-2.29,22.88,22.88,0,0,0-11.26,2.77,19.82,19.82,0,0,0-7.83,7.89,26,26,0,0,0,0,23.6,19.69,19.69,0,0,0,7.83,7.89,22.78,22.78,0,0,0,11.26,2.77,21.23,21.23,0,0,0,9.87-2.29,19.63,19.63,0,0,0,7.47-6.86l8.79,5.54a25.15,25.15,0,0,1-10.54,10.17,32.88,32.88,0,0,1-15.47,3.56A35.46,35.46,0,0,1,353.53,311.58Z" transform="translate(-50.54 -152.74)"/><path class="cls-3" d="M455.4,257.15q7.05,6.51,7.05,19.39v38.53h-11v-8.43a18.29,18.29,0,0,1-8.25,6.81,31.57,31.57,0,0,1-12.7,2.35q-10.73,0-17.16-5.18a17.79,17.79,0,0,1-.3-27.16q6.14-5.11,19.5-5.11h18.31v-2.29q0-7.47-4.34-11.44t-12.76-4a33.88,33.88,0,0,0-11.08,1.87,28.63,28.63,0,0,0-9.15,5l-4.82-8.67a34.89,34.89,0,0,1,11.8-6.08,49.22,49.22,0,0,1,14.57-2.11Q448.36,250.65,455.4,257.15Zm-11.5,46.79a17,17,0,0,0,7-8.37v-8.91H433.07q-14.7,0-14.7,9.87a9,9,0,0,0,3.74,7.59c2.48,1.84,5.94,2.77,10.35,2.77A21.52,21.52,0,0,0,443.9,303.94Z" transform="translate(-50.54 -152.74)"/><path class="cls-3" d="M519.77,311.34a17.23,17.23,0,0,1-6.26,3.31,25.94,25.94,0,0,1-7.71,1.15q-9.63,0-14.93-5.18t-5.3-14.81V260.76H474.73v-9.51h10.84v-14h11.56v14h18.3v9.51h-18.3v34.57q0,5.18,2.59,7.94t7.41,2.77a13.92,13.92,0,0,0,9-3Z" transform="translate(-50.54 -152.74)"/><path class="cls-3" d="M544.15,311.76a32,32,0,0,1-12.88-11.86,34.27,34.27,0,0,1,0-34.44,32,32,0,0,1,12.88-11.86,39.84,39.84,0,0,1,18.61-4.28,36.06,36.06,0,0,1,17.88,4.28,25.34,25.34,0,0,1,11.14,12.22l-14.57,7.83q-5.06-8.91-14.57-8.91a16.5,16.5,0,0,0-12.17,4.82q-4.82,4.81-4.81,13.12t4.81,13.13a16.5,16.5,0,0,0,12.17,4.81q9.63,0,14.57-8.91l14.57,8a25.85,25.85,0,0,1-11.14,12A35.66,35.66,0,0,1,562.76,316,39.84,39.84,0,0,1,544.15,311.76Z" transform="translate(-50.54 -152.74)"/><path class="cls-3" d="M651.87,256.49q8.07,7.17,8.07,21.61v37H642.36V307q-5.31,9-19.75,9a30.59,30.59,0,0,1-13-2.53,19.31,19.31,0,0,1-8.37-7,18.12,18.12,0,0,1-2.89-10.11q0-9,6.81-14.21t21-5.18h14.93q0-6.13-3.73-9.45t-11.2-3.31A32.83,32.83,0,0,0,616,265.88a27,27,0,0,0-8.49,4.4l-6.74-13.13a40.8,40.8,0,0,1,12.7-5.78,57.16,57.16,0,0,1,15.24-2.05Q643.79,249.32,651.87,256.49Zm-16,44.68a12.2,12.2,0,0,0,5.3-6.57V288H628.27q-11.57,0-11.56,7.59a6.76,6.76,0,0,0,2.83,5.72q2.82,2.1,7.76,2.1A16.41,16.41,0,0,0,635.85,301.17Z" transform="translate(-50.54 -152.74)"/><path class="cls-3" d="M682.94,314.05a41,41,0,0,1-12.29-5l6.27-13.48a39.5,39.5,0,0,0,10.47,4.51,43.73,43.73,0,0,0,12,1.75q11.93,0,11.93-5.9c0-1.85-1.09-3.17-3.26-4a48.22,48.22,0,0,0-10-2A98.05,98.05,0,0,1,685,287.14a20.43,20.43,0,0,1-9-5.54q-3.79-4-3.79-11.32a17.71,17.71,0,0,1,3.55-10.9A22.9,22.9,0,0,1,686.13,252a44.31,44.31,0,0,1,16.07-2.65,63.27,63.27,0,0,1,13.67,1.51A38.24,38.24,0,0,1,727.13,255l-6.26,13.37a37.4,37.4,0,0,0-18.67-4.82c-4,0-7,.57-9,1.69s-3,2.57-3,4.34c0,2,1.09,3.41,3.25,4.21a57.58,57.58,0,0,0,10.36,2.29,109.33,109.33,0,0,1,13,2.83,19.52,19.52,0,0,1,8.79,5.48q3.72,4,3.73,11.08a17.14,17.14,0,0,1-3.61,10.71,23.16,23.16,0,0,1-10.54,7.29A47.12,47.12,0,0,1,698.71,316,62.6,62.6,0,0,1,682.94,314.05Z" transform="translate(-50.54 -152.74)"/><path class="cls-3" d="M782.64,311.94a19.1,19.1,0,0,1-6.8,3.07,34,34,0,0,1-8.49,1q-11.57,0-17.88-5.9t-6.32-17.34V266.18h-10V251.73h10V236h18.78v15.77h16.14v14.45H761.93v26.38a8.82,8.82,0,0,0,2.11,6.32,7.82,7.82,0,0,0,6,2.23,12.12,12.12,0,0,0,7.59-2.41Z" transform="translate(-50.54 -152.74)"/>
          </svg>
        </div>
				<m-tabs :data="tabs" v-model="currentTab" />
        <transition name="fade" mode="out-in">
					<div class="auth-form__tab" key="login_tab" v-if="currentTab === 'login'">
						<!--<div class="header">{{$t('auth.login')}}</div> -->
						<m-form key="login" :buttonText="$t('auth.login_button')" buttonClass="btn--green btn--big" :post-data="login" url="/auth/login" @success="loginSuccess" @fail="loginFail">
							<m-input autoSize :errors="errors.login.username" v-model="login.username" :title="$t('auth.username')" />
							<m-input autoSize :errors="errors.login.password" type="password" v-model="login.password" :title="$t('auth.password')" />
						</m-form>
            <a @click="currentTab = 'forgot_password'" class="auth-form__small-link">{{$t('auth.forgot_password._title')}}</a>
          </div>
					<div class="auth-form__tab" key="register_tab" v-else-if="currentTab === 'register'">
						<!--<div class="header">{{$t('auth.register')}}</div> -->
						<m-form key="register" :disabled="!formCorrect('register')" :button-text="$t('auth.register_button')" buttonClass="btn--big"  :post-data="register" url="/auth/register" @success="registerSuccess" @fail="registerFail">
							<m-input autoSize :warnings="warnings.register.username" :errors="errors.register.username" v-model="register.username" :title="$t('auth.username')" />
							<m-input autoSize :warnings="warnings.register.password" :errors="errors.register.password" type="password" v-model="register.password" :title="$t('auth.password')" />
							<m-input autoSize :warnings="warnings.register.repeat_password" :errors="errors.register.repeat_password" type="password" v-model="register.repeat_password" :title="$t('auth.repeat_password')" />
						</m-form>
					</div>
          <div class="auth-form__tab" key="forgot_password_tab" v-else-if="currentTab === 'forgot_password'">
            <m-form key="forgot_password" :disabled="!formCorrect('forgot_password')" buttonClass="btn--big" :buttonText="$t('auth.forgot_password.restore')" :post-data="forgot_password" url="/auth/connections/restore" @success="forgotPasswordSuccess" @fail="forgotPasswordFail">
              <m-input autoSize :errors="errors.forgot_password" v-model="forgot_password.value" :title="$t('auth.forgot_password.email')" />
            </m-form>
            <a @click="currentTab = 'login'" class="auth-form__small-link">{{$t('auth.forgot_password.back')}}</a>
          </div>
				</transition>
        <!--<div class="vertical-delimiter"></div>-->
        <div class="auth-form__social-login">
          <div class="auth-form__social-login__header">{{$t('auth.login_social')}} </div>
          <div class="buttons-list">
            <m-btn :to="getSocialProviderLink(provider)" :color="provider.color" :textcolor="provider.textcolor" :faIcon="provider.id === 'mailru' ? provider.icon : null"  :fabIcon="provider.id !== 'mailru' ? provider.icon : null" v-for="(provider,$index) in socialProvidersList" :key="$index">{{provider.name}}</m-btn>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>
</template>
<style lang="scss">
.auth-form {
	padding: 1em!important;
	margin: 0!important;
	width: 100%;
	min-width: 30em;
  .tabs__inner {
    display: flex;
    margin: 1em 0 0;
  }
  &__small-link {
    cursor: pointer;
    padding: .75em 0 .25em;
    border-bottom: 1px solid var(--text-color);
    display: inline-block;
    font-size: .875em;
  }
  &__logo {
    text-align: center;
    &__picture {
      fill: #fff;
      height: 5em;
    }
  }
  &__tab {
    padding: 1em;
    text-align: center;
    border-top: 2px solid rgba(255, 255, 255, 0.25);
    margin-top: -2px;
    background: rgba(255, 255, 255, 0.05);
  }
  &__social-login{
    text-align: center;
    &__header {
      font-weight: 500;
      margin: 1em 0;
    }
    .buttons-list {
      justify-content: center;
    }
    @media screen and (max-width: 500px) {
      .btn {
        &__icon {
          margin: 0;
        }
        &__content__text {
          display: none;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    & {
      min-width: 0;
      width: calc(100vw - 2.5em);
    }
  }
	.response{
    margin: 0 0 1.75em!important;
	}
}

</style>
<script>
export default{
  head() {
    return {
      title: this.$t('auth._title')
    }
  },
  async asyncData({app,query}) {
    let socialProvidersList = (await app.$axios.get(`/auth/social/getproviders`)).data;
    return {socialProvidersList};
  },
  beforeDestroy() {
    window.removeEventListener('storage', this.onStorage);
  },
  mounted() {
    if (this.$store.state.userData.loggedIn) {
      this.$router.push("/");
    }
    window.addEventListener('storage', this.onStorage);
  },
  computed:{

  },
  watch:{
    "register.repeat_password":function(newPassword) {
      this.warningHandler("register","repeat_password");
    },
    "register.password":function(newPassword) {
      this.warningHandler("register","password");
    },
    "register.username":function(newUsername) {
      this.warningHandler("register","username");
    }
  },
	created:function() {
	},
	data() {
		return {
			login:{
				username:'',
				password:'',
			},
			register:{
				username:'',
				password:'',
				repeat_password:'',
			},
      forgot_password: {
        value: '',
      },
			currentTab: 'login',
			tabs:[
				{id: 'login', name: this.$t('auth.login')},
				{id: 'register', name: this.$t('auth.register')},
			],
      errors:{
			  login: {},
        register: {},
        forgot_password: {},
      },
      warnings:{
        login: {},
        register: {},
        forgot_password: {},
      }
		}
	},
	methods: {
    onStorage(e) {
      console.log(e);
      if (e.key === "auth_event") {
        window.close();
      }
    },
    forgotPasswordFail() {

    },
    forgotPasswordSuccess() {

    },
    formCorrect(type) {
      let count = 0;
      Object.keys(this.warnings[type]).forEach(key=>{
        count += this.warnings[type][key].length;
      });
      return count === 0;
    },
    warningHandler(type,key) {
      this.errors = {
        login:{},
        register:{},
      };
      const val = this[type][key];
      if (key === "username") {
        if (val.length === 0) {
          this.$set(this.warnings.register, 'username', ['errors.field_required']);
        } else {
          this.$set(this.warnings.register, 'username', []);
        }
      }
      if (key === "password") {
        if (val.length === 0) {
          this.$set(this.warnings.register,'password',['errors.field_required']);
        } else {
          if (val.length < 7) {
            this.$set(this.warnings.register,'password',['auth.user._errors.password_short']);
          } else {
            if (!/^[a-z0-9]+$/i.test(val)) {
              this.$set(this.warnings.register,'password',['auth.user._errors.password_alphanumeric']);
            } else {
              this.$set(this.warnings.register,'password',[]);
            }
          }
        }
      }
      if (key === "repeat_password") {
        if (val !== this.register.password) {
          this.$set(this.warnings.register,'repeat_password',['auth.user._errors.password_match']);
        } else {
          this.$set(this.warnings.register,'repeat_password',[]);
        }
      }
    },
    getSocialProviderLink(provider) {
      return this.$store.state.apiURL+"auth/social/login?provider="+provider.id;
    },
		registerCheck() {
			if (this.register.password !== this.register.repeatPassword) {
				return {status:0,text:this.$t('auth.passwords_not_match')};
			} else {
				return {status:1};
			}
		},
		registerSuccess(res) {
      this.$store.commit('SET_TOKENS',{token:res.token_data.access_token});
      this.$store.commit('SET_USER_DATA',res.user_data);
      setTimeout(()=>{
        this.$router.push('/users/'+res.user_data.id);
      },2500)
		},
		async loginSuccess(res) {
      this.$store.commit('SET_TOKENS',{token:res.token_data.access_token});
			this.$store.commit('SET_USER_DATA',res.user_data);
			setTimeout(async()=>{
			  if (this.$route.query && this.$route.query.return) {
          this.$router.push(this.$route.query.return);
        } else {
          this.$router.push('/users/' + res.user_data.id);
          await this.$store.dispatch('site_notifications/get');
          await this.$store.dispatch('friends/getRequests');
          await this.$store.dispatch('tickets/get');
        }
			},2500)
		},
    registerFail(res) {
      this.$set(this.errors,'register', res.errors || {});
    },
    loginFail(res) {
      this.$set(this.errors,'login', res.errors || {});
    },
	}
}
</script>
