<template>
  <div class="mail" :class="{'mail--dialog-selected': selectedDialog}">
    <div class="mail__pager-container" v-show="getPagesCount > 1">
      <m-pager @pageChange="onPagerClick" :vertical="true" :count="getPagesCount" v-model="currentPage" />
    </div>
    <div class="mail__dialogs">
      <div class="box">
        <div class="mail__search-bar">
          <m-input icon="search" @change="onSearchChange" v-model="search.value" :placeholder="$t('mail.search')"/>
        </div>
        <m-tabs v-show="search.value.length > 0" :data="search.tabs" v-model="search.currentTab"/>
      </div>
      <div class="mail__dialogs__inner">
        <div class="page-preloader" v-show="isLoadingInitial">
          <m-preloader stroke-width="5" circle-width="5em"  />
        </div>
        <div class="list-container">
          <m-infinite-scroll ref="dialogs" :loading="isLoading" :showLoading="false" @scroll="loadMore" class="list-container__inner">
            <a @click="loadDialog(dialog)" class="list-item"  :class="{'list-item--dialog-unread': !dialog.is_read && !dialog.is_out}" :key="$index" v-for="(dialog, $index) in dialogsList">
              <div class="list-item__left">
                <img class="list-item__picture" :src="dialog.user.ava" />
                <div class="list-item__captions">
                  <div class="list-item__title">{{dialog.user.username}}</div>
                  <span class="list-item__dialog-message" :class="{'list-item__dialog-message--unread': !dialog.is_read && dialog.is_out}">
                    <span v-if="dialog.is_out" class="list-item__dialog-message__out">{{$t('mail.you')}}</span>
                    {{dialog.plain_text}}
                  </span>
                  <span class="list-item__dialog-date">
                    {{dialog.date}}
                  </span>
                </div>
              </div>
            </a>
          </m-infinite-scroll >
        </div>
      </div>
    </div>
    <dialogPanel @unsetDialog="unsetDialog()" v-if="selectedDialog" @newMessage="onNewMessage" :dialog="selectedDialog"/>
    <div class="mail__inner mail__inner--no-dialog" v-if="!selectedDialog">
      <m-nothing-found :icon="'envelope'" :title="$t('mail.select_dialog')" ></m-nothing-found>
    </div>
  </div>
</template>
<style lang="scss">
  .mail {
    height: 100%;
    display: flex;
    @media screen and (max-width: 768px) {
      height: calc(100vh - 7em);
    }

    &__inner {
      flex: 2.5;
      &--no-dialog {
        @media screen and (max-width: 768px) {
          display: none!important;
        }
      }
    }

    @media screen and (max-width: 768px) {
      &--dialog-selected &__pager-container {
        display: none;
      }

      &--dialog-selected &__dialogs {
        display: none;
      }
    }

    @media screen and (max-width: 768px) {
      &__panel {
        font-size: .875em;
      }
    }

    &__dialogs {
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex: 1;
      &__inner {
        position: relative;
        flex: 1;
        overflow: auto;
        .list-container {
          height: 100%;
        }
      }
      .list-item {
        position: relative;
        &--dialog-unread {
          background: rgba(255, 255, 255, .07);
        }
        &__dialog-date {
          position: absolute;
          top: 1em;
          right: .75em;
          font-size: .875em;
        }
        &__picture {
          flex: 1;
        }
        &__left {
          max-width: 100%;
        }
        &__captions {
          margin: 0 0 0 .5em;
          max-width: calc(100% - 3em);
          flex: 1;
        }

        &__title {
          max-width: calc(100% - 8em);
          font-size: .875em;
          margin: 0 0 .75em;
        }

        &__dialog-message {
          white-space: nowrap;
          font-weight: 300;
          font-size: .875em;
          padding: .25em 0;
          margin: -.5em 0 0;
          display: block;
          text-overflow: ellipsis;
          overflow: hidden;
          &__out{
            font-weight: 600;
          }
          &--unread {
            padding: .25em;
            background: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }

    &__pager-container {
      display: flex;
      align-items: center;
      padding: 0 1em;
      @media screen and (max-width: 768px) {
        font-size: .875em;
      }
    }

    &__search-bar {
      margin: 0 0 -1em;
    }
    &__messages {
      height: 100%;
      overflow: hidden;
      @media screen and (max-width: 768px) {
        font-size: .875em;
      }
      .list-container {
        min-height: 0;
        height: 100%;
      }
    }
  }

  .message {
    display: block;
    width: calc(100% - 2em);
    position: relative;
    padding: 1em 1em 0;
    font-weight: 300;
    &--not-first {
      padding: 0 1em;
    }
    &__attachments {
      margin: 1em 0 0!important;
    }
    &--unread {
      background: rgba(255, 255, 255, 0.1);
    }
    &__buttons {
      position: absolute;
      top: 0;
      right: 1em;
    }
    &__ava {
      height: 2.5em;
    }
    &__date {
      &__edited {
        font-weight: 600;
        margin: 0 0 0 .5em;
      }
    }
    &__info {
      display: flex;
      align-items: center;
      font-size: .875em;
      padding: 0 0 .25em;
      margin: 0 0 .25em;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    &__captions {
      margin: 0 0 0 .5em;
    }

    &__text {
      position: relative;
      word-break: break-word;
      margin: 0;
      padding: 0 0 .5em;
      &--unread {
        background: rgba(255, 255, 255, 0.1);
        padding: .5em;
      }
    }

    &__username {
      font-size: 1.25em;
      font-weight: 600;
    }
    &__restore {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.5);
      z-index: 10;
      &__inner {
        display: flex;
        align-items: center;
        font-size: 1.25em;
      }

      &__text {
        margin: 0 1em 0 0;
      }
    }
    &__button {
      font-size: .625em;
      padding: .25em;
      opacity: .25;
      cursor: pointer;
      transition: opacity .35s;

      &:hover {
        opacity: 1 !important;
      }
    }

    &__text:hover &__button {
      opacity: .75;
    }
  }

</style>
<script>
  import {mapState, mapActions} from 'vuex';
  import dialogPanel from '@/components/blocks/mail/dialogPanel';
  export default {
    head () {
      return {
        title: this.$t('mail._title'),
      }
    },
    middleware: 'auth',
    components:{
      dialogPanel
    },
    computed: {
      ...mapState('mail', ['dialogs','dialogsLoading', 'dialogsLoaded','dialogsOnPage','dialogsCount']),
      getPagesCount() {
        if (Object.keys(this.search[this.search.currentTab]) > 0) {
          return Math.floor(this.search.total[this.search.currentTab] / this.dialogsOnPage);
        }
        return Math.floor(this.dialogsCount / this.dialogsOnPage);
      },
    },
    async mounted() {
      if (!this.dialogs[1]) {
        this.isLoadingInitial = true;
        await this.loadDialogs(1);
        this.isLoadingInitial = false;
      }
      this.dialogPageFrom = 1;
      this.dialogPageTo = 1;
      if (this.$route.query.user_id > 0) {
        this.loadDialog(
          {user_id: this.$route.query.user_id}
        );
      }
      this.reloadDialogs();
    },
    data() {
      return {
        currentRealPage: 1,
        currentPage: 1,
        selectedDialog: null,
        isSelectingUser: null,
        isLoadingInitial: false,
        isLoading: false,
        dialogPageFrom: 0,
        dialogPageTo: 0,
        messagesPageFrom: 0,
        messagesPageTo: 0,
        dialogsList: [],
        search: {
          value: '',
          messages: {},
          dialogs: {},
          pageFrom: 0,
          pageTo: 0,
          currentPage: 1,
          total: {
            messages: 0,
            dialogs: 0,
          },
          tabs: [
            {id: 'dialogs', name: this.$t('mail.tabs.dialogs')},
            {id: 'messages', name: this.$t('mail.tabs.messages')},
          ],
          currentTab: 'dialogs'
        }
      }
    },
    watch: {
      dialogs: {
        handler(val) {
          this.reloadDialogs();
        },
        deep: true
      },
      "search.currentTab": function(tab){
        this.search.pageFrom = 1;
        this.search.pageTo = 1;
        this.currentPage = 1;
        if (Object.keys(this.search[tab]).length === 0) {
          this.loadSearchResults(1);
        }
      },
      async currentPage() {

      }
    },

    methods:{
      unsetDialog() {
        this.selectedDialog = null;
      },
      onNewMessage(){
        this.reloadDialogs();
      },
      reloadDialogs() {
        if (this.search.value !== '') {
          let dialogs = [];
          let needLoad = true;
          //console.log(this.search.pageFrom, this.search.pageTo, this.search[this.search.currentTab]);
          for (let i = this.search.pageFrom; i <= this.search.pageTo; i++) {
            if (this.search[this.search.currentTab] && this.search[this.search.currentTab][i] && needLoad) {
              dialogs = [...dialogs, ...this.search[this.search.currentTab][i]];
            } else {
              needLoad = false;
            }
          }
          this.dialogsList = dialogs;
        } else {
          let dialogs = [];
          let needLoad = true;
          for (let i = this.dialogPageFrom; i <= this.dialogPageTo; i++) {
            if (this.dialogs[i] && needLoad) {
              dialogs = [...dialogs, ...this.dialogs[i]];
            } else {
              needLoad = false;
            }
          }
          this.dialogsList = dialogs;
        }
      },
      loadSearchResults(page) {
        return new Promise((resolve,reject)=>{
          if (this.search[this.search.currentTab][page]) {
            resolve();
          } else {
            let url = 'mail?search=' + this.search.value + '&page=' + page;
            //console.log(this.search.currentTab);
            if (this.search.currentTab === "messages") {
              url+="&group=false";
            }
            this.$axios.get(url).then(res => {
              let dialogs = res.data.list;
              this.search[this.search.currentTab][page] = dialogs.data;
              this.search.total[this.search.currentTab] = dialogs.total;
              this.reloadDialogs();
              resolve();
            })
          }
        })
      },
      async onSearchChange() {
        this.search.dialogs = {};
        this.search.messages = {};
        this.currentPage = 1;
        if (this.search.value.length > 0) {
          this.loadSearchResults(1).then(()=> {
            this.search.pageFrom = 1;
            this.search.pageTo = 1;
            this.reloadDialogs();
          });
        }
      },
      loadDialog(dialog) {
        this.selectedDialog = dialog;
        this.$router.push({ path: 'mail', query: { user_id: dialog.user_id }});
      },
      onPagerClick(page) {
        if (!this.dialogs[page]) {
          this.isLoading = true;
          this.loadDialogs(page).then(()=> {
            this.isLoading = false;
            this.setPageFrom(page);
            this.reloadDialogs();
          });
        } else {
          this.setPageFrom(page);
        }
      },
      setPageFrom(page) {
        this.dialogPageFrom = page;
        this.dialogPageTo = page;
        this.reloadDialogs();
        this.$refs.dialogs.$el.scrollTop = 0;
      },
      loadMore() {
        if (this.search.value.length > 0) {
          if (this.search.pageFrom < this.getPagesCount) {
            if (!this.search[this.search.currentTab][this.search.pageTo + 1]) {
              this.isLoading = true;
              this.loadSearchResults(this.search.pageTo + 1).then(() => {
                this.currentPage++;
                this.$nextTick(() => {
                  this.search.pageTo++;
                  this.isLoading = false;
                  this.reloadDialogs();
                })
              })
            } else {
              this.dialogPageTo++;
              this.reloadDialogs();
            }

          }
        } else {
          if (this.dialogPageTo < this.getPagesCount) {
            if (!this.dialogs[this.dialogPageTo + 1]) {
              this.isLoading = true;
              this.loadDialogs(this.dialogPageTo + 1).then(() => {
                this.currentPage++;
                this.$nextTick(() => {
                  this.dialogPageTo++;
                  this.isLoading = false;
                  this.reloadDialogs();
                })
              })
            } else {
              this.dialogPageTo++;
              this.reloadDialogs();
            }
          }
        }
      },
      ...mapActions({
        loadDialogs: 'mail/loadDialogs',
      })
    },
  }
</script>
