<template>
  <div class="centered-block">
    <div class="box box--with-header">
      <div class="box__header">
        <div class="box__header__title">{{$t('auth.restore_account')}}</div>
      </div>
      <div class="box__inner">
        <div class="row">
          <div class="restore-form">
            <m-form  v-if="!response || !response.status" key="register" :disabled="!formCorrect" :button-text="$t('global.save')" buttonClass="btn--big"  :post-data="data" :url="`/auth/connections/restore/${code}`" @success="restoreSuccess" @fail="restoreFail">
              <m-input autoSize :warnings="warnings.password" :errors="errors.password" type="password" v-model="data.password" :title="$t('auth.password')" />
              <m-input autoSize :warnings="warnings.repeat_password" :errors="errors.repeat_password" type="password" v-model="data.repeat_password" :title="$t('auth.repeat_password')" />
            </m-form>
            <div v-else class="response-block">
              <div class="response-block__icon response-block__icon--success"><i class="material-icons">check</i></div>
              <span class="response-block__text">{{$t(response.text)}}</span>
              <div class="response-block__buttons">
                <m-btn to="/">{{$t('global.back_to_main')}}</m-btn>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  .restore-form {
    width: 100%;
    padding: .5em;
  }
</style>
<script>
  export default {
     head() {
       return {
         title: this.$t('auth.restore_account')
       }
     },
     data() {
      return {
        isLoading: false,
        response: null,
        warnings: {},
        errors: {},
        code: this.$route.query.code,
        success: false,
        data: {
          password: '',
          repeat_password: ''
        }
      }
    },
    watch: {
      "data.repeat_password": function(newPassword) {
        this.warningHandler("repeat_password");
      },
      "data.password": function(newPassword) {
        this.warningHandler("password");
      }
    },
    computed: {
      formCorrect() {
        let count = 0;
        Object.keys(this.warnings).forEach(key=>{
          count += this.warnings[key].length;
        });
        return count === 0;
      }
    },
    mounted() {
       if (!this.$route.query.code) {
        this.$router.redirect('/');
      }
    },
    methods: {
      warningHandler(key) {
        this.response = null;
        this.errors = {};
        const val = this.data[key];
        if (key === "password") {
          if (val.length === 0) {
            this.$set(this.warnings, 'password', ['errors.field_required']);
          } else {
            if (val.length < 7) {
              this.$set(this.warnings, 'password',['auth.user._errors.password_short']);
            } else {
              if (!/^[a-z0-9]+$/i.test(val)) {
                this.$set(this.warnings, 'password',['auth.user._errors.password_alphanumeric']);
              } else {
                this.$set(this.warnings, 'password',[]);
              }
            }
          }
        }
        if (key === "repeat_password") {
          if (val !== this.data.password) {
            this.$set(this.warnings, 'repeat_password', ['auth.user._errors.password_match']);
          } else {
            this.$set(this.warnings, 'repeat_password', []);
          }
        }
      },
      restoreFail(res) {
         this.response = res;
         this.errors = res.errors || {};
      },
      restoreSuccess(res) {
        this.response = res;
        this.success = true;
        this.$store.commit('SET_TOKENS', {
          token: res.data.token_data.access_token
        });
        this.$store.commit('SET_USER_DATA',res.data.user);
        setTimeout(()=>{
          this.$router.push('/users/' + res.data.user.id);
        },2500)
      }
    }
  }
</script>
