<template>
  <div class="centered-block">
    <div class="box">
      <div class="row">
        <div class="after-register-form">
          <div v-if="isLoading" class="after-register-form__preloader">
            <m-preloader stroke-width="5" circle-width="5em"  />
          </div>
          <div v-else>
            <m-response :data="response" />
            <div v-if="currentStep === 0">
              <div class="after-register-form__text">
                {{$t('auth.after_register.text_username')}}
              </div>
              <m-input autoSize v-model="form.username" :title="$t('auth.username')" :warnings="warnings.username" :errors="errors.username" />
              <div class="after-register-form__buttons">
                <div class="buttons-list">
                  <m-btn @click="saveUsername"  :loading="loading.username" :disabled="form.username.length == 0">{{$t('global.next')}}</m-btn>
                  <m-btn flat @click="currentStep = 1">{{$t('global.skip')}}</m-btn>
                </div>
              </div>
            </div>
            <div v-else-if="currentStep === 1">
              <div class="after-register-form__text">
                {{$t('auth.after_register.text_password')}}
              </div>
              <m-input autoSize type="password" v-model="form.password" :title="$t('auth.password')" :warnings="warnings.password" :errors="errors.password" />
              <m-input autoSize type="password" v-model="form.repeat_password" :title="$t('auth.repeat_password')" :warnings="warnings.repeat_password" :errors="errors.repeat_password" />
              <div class="after-register-form__buttons">
                <div class="buttons-list">
                  <m-btn :disabled="!formCorrect" :loading="loading.password" @click="savePassword" >{{$t('global.next')}}</m-btn>
                  <m-btn flat @click="currentStep = 2">{{$t('global.skip')}}</m-btn>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  .after-register-form{
    max-width: 560px;
    &__text {
      padding: 0 0 .5em;
    }
    &__buttons {
      margin: .5em 0 0;
    }
    &__preloader{
      text-align: center;
    }
  }
</style>
<script>
  export default {
    head() {
      return {
        title: this.$t('auth.after_register._title')
      }
    },
    computed:{
      formCorrect() {
        let count = 0;
        Object.keys(this.warnings).forEach(key=>{
          count += this.warnings[key].length;
        });
        return count === 0;
      }
    },
    watch:{
      currentStep(step) {
        if (step === 2) {
          const userData = this.$store.state.userData;
          this.$router.push('/users/'+userData.id);
        }
      },
      "form.repeat_password":function(newPassword) {
        this.warningHandler("repeat_password");
      },
      "form.password":function(newPassword) {
        this.warningHandler("password");
      },
      "form.username":function(newUsername) {
        this.warningHandler("username");
      }
    },
    mounted() {
      const token = this.$route.query.token;
      console.log('token', token);
      if (token) {
        this.$store.commit('SET_TOKENS', {token});
        this.$store.dispatch('setUserData',{token: token}).then(() => {
          localStorage.setItem('auth_event', Math.random());
          const userData = this.$store.state.userData;
          if (!this.$route.query.is_new) {
            this.$router.push('/users/'+userData.id);
          } else {
            this.form.username = userData.username;
            this.isLoading = false;
          }
        });
      } else {
        this.$router.push('/');
      }
    },
    data() {
      return {
        isLoading: true,
        currentStep: 0,
        form:{
            username: '',
            password: '',
            repeat_password: '',
        },
        warnings:{},
        errors:{},
        loading:{
          username: false,
          password: false,
        },
        response:null,
      }
    },
    methods:{
      warningHandler(key) {
        this.errors = {};
        const val = this.form[key];
        if (key === "username") {
          if (val.length === 0) {
            this.$set(this.warnings, 'username', ['errors.field_required']);
          } else {
            this.$set(this.warnings, 'username', []);
          }
        }
        if (key === "password") {
          if (val.length === 0) {
            this.$set(this.warnings,'password',['errors.field_required']);
          } else {
            if (val.length < 7) {
              this.$set(this.warnings,'password',['auth.user._errors.password_short']);
            } else {
              if (!/^[a-z0-9]+$/i.test(val)) {
                this.$set(this.warnings,'password',['auth.user._errors.password_alphanumeric']);
              } else {
                this.$set(this.warnings,'password',[]);
              }
            }
          }
        }
        if (key === "repeat_password") {
          if (val !== this.form.password) {
            this.$set(this.warnings,'repeat_password',['auth.user._errors.password_match']);
          } else {
            this.$set(this.warnings,'repeat_password',[]);
          }
        }
      },
      savePassword() {
        ["password","repeat_password"].forEach(key=>this.warningHandler(key));
        if (this.formCorrect) {
          this.updateUserData({password: this.form.password});
        }
      },
      saveUsername() {
        this.updateUserData({username:this.form.username});
      },
      updateUserData(data){
        this.$axios.post('auth/update',data).then(res=>{
          this.errors = res.data.errors || {};
          if (res.data.status) {
            this.currentStep++;
            if (data.username) {
              let userData = this.$store.state.userData;
              userData.username = data.username;
              this.$store.commit('SET_USER_DATA',userData);
            }
          } else {
            this.response = res.data;
          }
        })
      },
    }
  }
</script>
