<template>
  <div class="stream-studio">
    <div class="stream-studio__main"></div>
    <button @click="start()">Start</button>
    <button @click="stop()">Stop</button>
  </div>
</template>
<script>
  import StreamManager  from "@/functions/studio/streammanager";
  export default {
      data() {
          return {
              window: null,
              streamManager: null,
              dimensions: {

              },
          }
      },
      methods: {
          stop() {
              this.streamManager.stop();
          },
          start() {
              this.window = window.open("", "_blank");
              this.window.focus();
              this.window.document.write("<style>body {margin: 0;padding: 0; background: #000}</style><title>Select this tab</title><iframe style='widtH:100%;height:100%' src='http://tostream.pro/live/clock.html' frameborder='0'></iframe></iframe></video>");
              this.window.document.close();
              navigator.mediaDevices.getDisplayMedia({
                  video: {
                      width: 720
                  },
                  audio: true
              }).then(stream => {
                  this.streamManager.setMediaStream(stream);
                  this.streamManager.start();
              })
          }
      },
      mounted() {
          this.streamManager = new StreamManager({
              wsUrl: 'localhost:8081',
              wsQuery: 'name=kdtv_ch&key=1_1_74b08ec89687647c'
          });
      }
  }
</script>
