<template>
  <m-modal v-model="visible">
    <div class="attachments-modal">
      <div class="attachments-modal__arrow" v-if="attachments.data.length > 1">
        <m-btn @click="changeIndex(-1)" flat rounded icononly icon="arrow_back_ios"/>
      </div>
      <div class="attachments-modal__content" v-if="attachments.data[attachments.index]">
        <div class="attachments-modal__picture-container" v-if="attachments.data[attachments.index].attachment_type === 'picture'">
          <img :src="attachments.data[attachments.index].data.full_path" class="attachments-modal__picture" />
        </div>
        <div class="attachments-modal__video-container"  v-else-if="attachments.data[attachments.index].attachment_type === 'video'">
          <TVPlayer :channel="attachments.data[attachments.index].data.channel" :video="attachments.data[attachments.index].data"/>
        </div>
      </div>
      <div class="attachments-modal__arrow" v-if="attachments.data.length > 1">
        <m-btn @click="changeIndex(1)" flat rounded icononly icon="arrow_forward_ios"/>
      </div>
    </div>
  </m-modal>
</template>
<style lang="scss">
  .attachments-modal {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    &__content {
      width: 100%;
      height: 30em;
    }
    &__arrow {
      margin: 0 1em;
      .btn__icon {
        font-size: 1.25em!important;
        padding: .1em 0 0 .1em;
      }
    }
    &__picture {
      height: 100%;
      max-height: 45vh;
    }
    &__video-container {
      position: relative;
      width: 50em;
      height: 30em;
    }
  }
</style>
<script>
  import {mapState} from 'vuex';
  import TVPlayer from "@/components/players/TVPlayer";
  export default {
    components: {TVPlayer},
    watch: {
      visible(isVisible) {
        this.$store.commit('modals/SHOW_ATTACHMENTS_MODAL', {visible: isVisible});
      },
      'attachments.visible': function(isVisible) {
        this.visible = isVisible;
      }
    },
    data() {
      return {
        visible: false,
      }
    },
    computed: {
      ...mapState('modals', ['attachments'])
    },
    methods: {
      changeIndex(i) {
        let index = this.attachments.index;
        console.log((index + i >= 0),  (index + i < this.attachments.data.length - 1 ));
        if ((index + i >= 0) && (index + i < this.attachments.data.length )) {
          let newIndex = index + i;
          this.$store.commit('modals/SHOW_ATTACHMENTS_MODAL', {index: newIndex});
        }
      }
    }
  }
</script>
