<template>
<div class="dashboard-page__outer">
	<div class="dashboard-page" v-if="!error">
		<dashboard-menu :id="id" :items="items" :rights="rights" />
		<div class="dashboard-page__inner">
			<nuxt-child :rights="rights" :channel="channel" class="dashboard-page__content"  />
			<div class="dashboard-page__bottom">
        <div class="dashboard-page__bottom__left">
          <nuxt-link :to="'/'+channel.shortname" target="_blank" class="dashboard-page__bottom__link">
            <div :style="{backgroundImage:'url('+channel.logo+')'}" class="dashboard-page__bottom__channel-logo" ></div>
            <div class="dashboard-page__bottom__channel-name">{{channel.name}}</div>
          </nuxt-link>
        </div>
        <div class="dashboard-page__bottom__right">
          <div class="buttons-list">
            <RadioPlaybackSwitchButton v-if="channel.is_radio" :channel="channel"/>
          </div>
        </div>
			</div>
		</div>
	</div>
	<m-error-page v-else :data="error" />
</div>
</template>
<style lang="scss">
.dashboard {
  &__input-container {
    &--inline {
      margin: 0 0 1em;
      display: flex;
      align-items: center;
      &__title {
        flex: 0;
        white-space: nowrap;
        margin: 0 1em 0 0;
      }
      &__element {
        flex: 1;
      }
      .input__container {
        margin: .5em 0;
      }
    }
  }
}
.dashboard-page {
  display: flex;
  height: 100%;
  &__outer {
    height: 100%;
  }
  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__full-height {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: calc(100% - 4em);
    flex: 1;
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--title-box-color);
    position: relative;
    .theme-default & {
      box-shadow: 0 -5px 15px -5px rgba(0, 0, 0, 0.55);
    }
    &__link {
      padding: 0.5em 1em;
      display: flex;
      align-items: center;
      text-decoration: none;
    }
    &__channel-logo {
      height: 3em;
      width: 3em;
      background-size: cover;
      background-position: center center;
    }
    &__channel-name {
      margin: 0 0 0 0.5em;
      font-weight: 500;
    }
    &__right {
      display: flex;
      padding: 0 1em 0 0;
    }
  }
  &__row-with-inputs {
    display: flex;
    align-items: center;
    &__text {
      white-space: nowrap;
      margin: 0 0.5em;
      &:first-of-type {
        margin: 0 0.5em 0 0;
      }
      &:last-of-type {
        margin: 0 0 0 0.5em;
      }
    }
    &__element {
      .input__container {
        margin: 0.5em 0;
      }
    }
  }
  &__delimiter {
    background: rgba(255, 255, 255, 0.1);
    height: 1px;
    margin: 1em 0;
  }
  &__main-content {
    padding: 1.25em;
    background: var(--main-bg);
    height: calc(100% - 2.5em);
    overflow: auto;
    &--no-padding {
      padding: 0;
    }
  }

  &__title {
    font-size: 1.5em;
    font-weight: 400;
    padding: 0.5em 0.75em;
    background: var(--title-box-color);
    .theme-default & {
      box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.4);
    }
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    &__buttons {
      margin: 0 0 0 1em;
      font-size: 0.65em;
    }
  }
  &__section {
    margin: 0 0 3.25em;
    &:last-of-type {
      margin: 0;
    }
  }
  &__section-title {
    margin: 0.5em 0;
    font-weight: bold;
    font-size: 1.25em;

    &--in-box {
      margin: 0 !important;
    }
  }
  .form:first-of-type &__section-title {
    margin: 0 0 0.5em;
  }

  &__box {
    padding: 0.5em 1em;
    background: var(--box-color);
    .theme-default & {
      box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.5);
    }
    position: relative;
    z-index: 1;
    &__inputs-row {
      display: flex;
      align-items: center;
      &:nth-of-type(1) {
      }
      &__item {
        flex: 1;
        margin-bottom: -0.5em !important;
        &--button {
          flex: 0;
          .btn {
            margin: 5px 0;
          }
        }
        &:first-of-type {
          margin: 0 10px 0 0;
        }
        &:last-of-type {
          margin: 0 0 0 10px;
        }
        &:only-child {
          margin: 0;
        }
      }
    }
    &__add-user {
      display: flex;
      align-items: center;
    }
  }
  @media screen and (max-width: 768px) {
    &__bottom {
      flex-direction: column;
      padding: 0;
      &__right {
        padding: 0.5em 0 0;
      }
    }
  }
}
</style>
<script>
import dashboardMenu from "@/components/layout/dashboard/dashboardMenu";
import RadioPlaybackSwitchButton from "@/components/buttons/RadioPlaybackSwitchButton";
export default {
  middleware: "auth",
  mounted() {
    if (this.$route.name === "dashboard-id") {
      if (this.items && this.items.length > 0) {
        let page = this.items[0];
        this.$router.push(`/dashboard/${this.channel.id}/${page.link}`);
      }
    }
  },
  async asyncData({ app, params }) {
    let rights = (await app.$axios.post(`/channels/${params.id}/getrights`)).data;
    if (Object.keys(rights).length > 0) {
      let channelData = (await app.$axios.get(
        `/channels/${params.id}?do_not_count_stat=1`
      )).data;
      if (channelData.status) {
        let channel = channelData.data;
        //console.log(channel);
        let id = params.id;
        let items = (await app.$axios.get(`/dashboard/getpages/${params.id}`)).data.list;
        return {
          error: false, channel, id, rights, items
        };
      } else {
        return {
          error: channelData
        };
      }
    } else {
      return { error: { text: "errors.403" } };
    }
  },
  components: { dashboardMenu, RadioPlaybackSwitchButton }
};
</script>
