<template>
<div class="centered-block">
	<div class="box box--with-header">
		<div class="box__header">
			<div class="box__header__title">{{$t('dashboard.create._title')}}</div>
		</div>
		<div class="box__inner create-channel">
      <div v-if="data.type === null" class="create-channel__types">
        <div @click="data.type = 0" class="create-channel__type">
          <span class="create-channel__type__icon">
            <i class="material-icons">tv</i>
          </span>
          <span class="create-channel__type__title">{{$t('dashboard.create.type.tv')}}</span>
        </div>
        <div @click="data.type = 1" class="create-channel__type">
          <span class="create-channel__type__icon">
            <i class="material-icons">radio</i>
          </span>
          <span class="create-channel__type__title">{{$t('dashboard.create.type.radio')}}</span>
        </div>
      </div>
			<m-form v-else :button-text="$t('global.save')" :post-data="data" @response="onResponse" method="post" :url="'/channels'">
				<div class="row row--centered">
          <div class="col col-auto">
				  	<m-filepicker :title="$t('dashboard.create.logo')" folder="logos" v-model="data.logo" />
          </div>
					<div class="col">
						<div class="row row-vertical row-vertical-centered">
              <div class="col col-auto">
							  <m-input autoSize single :errors="errors.name" :title="$t('dashboard.create.name._title')" :description="$t('dashboard.create.name._description')" v-model="data.name"/>
              </div>
              <div class="col">
                <m-input autoSize @keyup="shortnameChanged = true" :regexpReplace="/[^a-zа-я0-9_-]/gi" single :prepend="config.domain" :errors="errors.shortname" :title="$t('dashboard.create.shortname._title')" :description="$t('dashboard.create.shortname._description')" v-model="data.shortname"/>
              </div>
						</div>
					</div>
				</div>
				<div class="row">
					<m-tags-input single :errors="errors.tags" :title="$t('dashboard.create.tags._title')" :description="$t('dashboard.create.tags._description')" v-model="data.tags"/>
				</div>
				<div class="row">
					<m-editor :title="$t('dashboard.info.common.description')" v-model="data.description" />
				</div>
			</m-form>
		</div>
	</div>
</div>
</template>
<style lang="scss">
  .create-channel {
    &__types {
      display: flex;
      align-items: center;
    }

    &__type {
      text-align: center;
      cursor: pointer;
      padding: .75em 1.25em;
      border-radius: .5em;
      width: 7em;
      background: rgba(255, 255, 255, .025);
      margin: 0 .25em;
      &:hover {
        background: rgba(255, 255, 255, .05);
      }
      &__title {
        display: block;
        font-size: 1.75em;
      }

      &__icon {
        font-size: 2.5em;
      }
    }
  }
</style>
<script>
import config from '@/config/index.js';
export default{
  middleware: 'auth',
	data() {
		return {
			config,
			shortnameChanged: false,
			types:[
				{id:0, title:this.$t('dashboard.create.type.tv')},
				{id:1, title:this.$t('dashboard.create.type.radio')},
			],
			errors:{

			},
			data:{
				type: null,
				name: '',
				shortname: '',
				tags: [],
				description: '',
				logo: '',
			}
		}
	},
  head () {
    return {
      title: this.$t('dashboard.create._title'),
    }
  },
  watch:{
		'data.name':function(name) {
			if (!this.shortnameChanged) {
				let shortname = name;
				shortname = shortname.replace(' ','-');
				shortname = shortname.replace(/[^a-zа-я0-9_-]/gi,'');
				shortname = shortname.toLowerCase();
				this.$set(this.data,'shortname',shortname);
			}
		}
	},
	methods:{

		onResponse(res) {
			  this.$store.commit('NEW_ALERT',res);
			  if (res.status) {
          setTimeout(()=>{
            this.$router.push('/dashboard/'+res.channel.id+'/info');
          },3500);
			  }
			  //this.$refs.main.scrollTop = 0;
			  this.errors = res.errors || {};
		}
	}
}
</script>
