<template>
<div class="main-container__inner">
	<div class="dashboard" v-if="!error">
    <m-modal v-model="leaveTeamPanel.visible">
      <div slot="main">
        <div class="modal__text">{{$t('dashboard.leave.confirm')}}</div>
      </div>
      <div class="modal__buttons" slot="buttons">
        <div class="buttons-list">
          <m-btn :loading="leaveTeamPanel.loading" @click="leaveTeam()">{{$t('global.ok')}}</m-btn>
          <m-btn class="btn--delete" @click="leaveTeamPanel.visible = false;">{{$t('global.cancel')}}</m-btn>
        </div>
      </div>
    </m-modal>
		<div class="dashboard__header">
			<div class="dashboard__header__left">
				<span class="dashboard__header__text">{{$t('dashboard.title')}}</span>
				<m-btn to="/dashboard/create" fa-icon="plus-square" class="btn--green">{{$t('dashboard.create._title')}}</m-btn>
			</div>
      <div class="dashboard__header__search">
			  <m-input icon="search" class="dashboard__header__search" v-model="search" @change="currentPage=1; getChannels()" :title="$t('search.search_text')" />
      </div>
		</div>
    <div class="dashboard__channels-list">
      <m-tabs :data="tabs" v-model="currentTab" />
      <div class="page-preloader" v-show="isLoading">
        <m-preloader stroke-width="5" circle-width="5em"  />
      </div>
      <div class="list-container">
        <div class="list-container__inner">
          <m-nothing-found v-if="!isLoading && channels.data.length === 0" />
          <div class="list-item list-item--not-link" :key="channel.id" v-for="channel in channels.data">
            <div class="list-item__left">
              <img class="list-item__picture" :src="channel.logo" />
              <div class="list-item__captions">
                <div class="list-item__title">{{channel.name}}</div>
                <div class="list-item__under-title" v-if="!channel.is_banned">
                  <span class="tag" :key="$index" v-for="(key, $index) in getRightsList(channel.rights)">{{key}}</span>
                </div>
                <span class="dashboard__channels-list__banned" v-if="channel.is_banned">{{!channel.is_radio ? $t('dashboard.channel_is_banned_for') : $t('dashboard.radio_is_banned_for')}} <strong>{{channel.ban_reason}}</strong></span>
              </div>
            </div>
            <div class="list-item__right">
              <div class="buttons-list">
                <m-btn v-if="!channel.is_banned" faIcon="tachometer-alt" :to="`/dashboard/${channel.id}/info`">{{$t('dashboard.page_types.main')}}</m-btn>
                <m-btn faIcon="camera" v-if="!channel.is_banned && canUseStudio(channel)" :to="channel.is_radio ? `/radio-studio/${channel.id}` : (isMobile ? `/mobile-studio/${channel.id}` : `/studio/${channel.id}`)">{{$t('dashboard.page_types.studio')}}</m-btn>
                <m-btn faIcon="list-ol" v-if="!channel.is_banned && canUseScheduler(channel)" :to="channel.is_radio ? `/radio-scheduler/${channel.id}` : `/scheduler/${channel.id}`">{{$t('dashboard.page_types.scheduler')}}</m-btn>
                <m-btn v-if="canLeaveTeam(channel)" @click="showLeaveTeamPanel(channel)" flat icononly icon="exit_to_app"/>
              </div>
            </div>
          </div>
        </div>
        <m-pager class="pager--bottom-right dashboard__pager" :data="channels" v-model="currentPage" />
      </div>
    </div>
	</div>
	<m-error-page v-else :data="channels"></m-error-page>
</div>
</template>
<style lang="scss">
.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  &__channels-list {
    height: calc(100% - 5.25em);
    position: relative;
    .buttons-list {
      flex-wrap: wrap;
      .btn {
        margin: 0 0 .5em .5em!important;
      }
    }
    .list-container {
      min-height: auto;
      height: calc(100% - 3em);
    }
    .list-item__under-title {

    }
    &__banned {
      background: var(--red);
      font-size: .875em;
      padding: .25em .5em;
      border-radius: .25em;
    }
  }
  &__header {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    background: var(--box-color);
    &__search {
      flex: 0.5;
    }
    &__left {
      flex-wrap: wrap;
      display: flex;
      align-items: center;
    }
    &__text {
      font-size: 1.75em;
      font-weight: bold;
      margin: 0 1em 0 0;
    }
    &__search {
    }

  }
  @media screen and (max-width: 768px) {
    & {
      overflow-x: hidden;
      &__pager {
        position: relative !important;
        margin: 1em 0 -1em;
        left: 0;
        padding: 0.5em;
      }
      &__header {
        flex-direction: column;
        &__left {
          width: 100%;
          justify-content: space-between;
        }
        &__text {
          margin: 1em 0;
          white-space: nowrap;
          font-size: 1.25em;
        }
        &__search {
          margin: 1em 0;
          width: 100%;
        }
      }
    }
  }
}
</style>
<script>
import isMobile from "~/functions/isMobile.js";
export default {
  middleware: "auth",
  head() {
    return {
      title: this.$t('dashboard.title')
    }
  },
  async asyncData({ app }) {
    let channels = (await app.$axios.get("/channels/my")).data;
    if (!channels.status) {
      return {
        error: channels
      }
    }
    return { error: null, channels: channels.data.list };
  },
  data() {
    return {
      isMobile: isMobile(),
      leaveTeamPanel: {
        loading: false,
        data: null,
        visible: false
      },
      search: "",
      currentPage: 1,
      currentTab: "all",
      isLoading: false,
      tabs: [
        { id: "all", name: this.$t("dashboard.tabs.all") },
        { id: "tv", name: this.$t("dashboard.tabs.tv") },
        { id: "radio", name: this.$t("dashboard.tabs.radio") }
      ]
    };
  },
  watch: {
    currentTab(tab) {
      this.getChannels();
    },
    currentPage(page) {
      this.getChannels();
    }
  },
  methods: {
    leaveTeam() {
      this.leaveTeamPanel.loading = true;
      this.$axios
        .post(`channels/${this.leaveTeamPanel.data.id}/leave`)
        .then(res => {
          this.leaveTeamPanel.loading = false;
          this.$store.commit("NEW_ALERT", res.data);
          if (res.data.status) {
            this.leaveTeamPanel.visible = false;
            this.getChannels();
          }
        });
    },
    showLeaveTeamPanel(channel) {
      this.leaveTeamPanel.data = channel;
      this.leaveTeamPanel.visible = true;
    },
    canLeaveTeam(channel) {
      if (
        channel.rights &&
        channel.rights.list &&
        channel.rights.list.indexOf("owner") !== -1
      ) {
        return false;
      }
      return true;
    },
    canUseScheduler(channel) {
      let rightsList = channel.rights.list;
      if (channel.rights.full_access_list) {
        rightsList = rightsList.concat(channel.rights.full_access_list);
      }
      return (
        rightsList.indexOf("admin") !== -1 ||
        rightsList.indexOf("owner") !== -1 ||
        rightsList.indexOf("channel_admin") !== -1 ||
        rightsList.indexOf("autopilot") !== -1
      );
    },
    canUseStudio(channel) {
      let rightsList = channel.rights.list;
      if (channel.rights.full_access_list) {
        rightsList = rightsList.concat(channel.rights.full_access_list);
      }
      return (
        rightsList.indexOf("admin") !== -1 ||
        rightsList.indexOf("owner") !== -1 ||
        rightsList.indexOf("channel_admin") !== -1 ||
        rightsList.indexOf("live_broadcast") !== -1
      );
    },
    getRightsList(list) {
      let rightsList = list.list;
      if (list.full_access_list) {
        rightsList = rightsList.concat(list.full_access_list);
      }
      return rightsList.map(key =>
        this.$t("channel_rights.list." + key + "._title")
      );
    },
    getChannels() {
      this.isLoading = true;
      let url = `/channels/my?page=${this.currentPage}&search=${
        this.search
      }`;
      if (this.currentTab !== "all") {
        url += "&type=" + this.currentTab;
      }
      this.$axios.get(url).then(res => {
        this.channels = res.data.data.list;
        this.isLoading = false;
        if (isMobile()) {
          window.scrollTo({
            top: 0,
            behavior: "smooth"
          });
        }
      });
    }
  }
};
</script>
