<template>
  <div class="centered-block">
    <blogPanel v-if="!error" :isEditing="true" :data="blog" />
    <m-error-page v-else :data="error" />
  </div>
</template>
<script>
  import blogPanel from '@/components/blocks/blog/panel';
  export default {
    async asyncData( {app, redirect, params} ) {
      let blog = (await app.$axios.get(`/blog/${params.id}`)).data;
      if (!blog.status || !blog.can_edit) {
        return {
          error: blog
        }
      }
      return {
        blog: blog.data,
        error: null
      };
    },
    components: {
      blogPanel
    },
    middleware: 'auth',
  }
</script>
