<template>
<div class="blog-page">
	<div class="blog-page__inner">
		<div class="blog-page__header">
			<h1 class="blog-page__title">{{blog.title}}</h1>
		</div>
		<div class="blog-page__content" ref="blogText">
			<div class="blog-page__text" ref="content_outer">
        <statisticsBlock v-model="statisticsVisible" :module="`blog`" :materialid="blog.id"/>
        <div v-html="blog.text" ref="content" class="blog-page__text__content" ></div>
      </div>
		</div>
    <div class="blog-page__bottom__container" :class="{'blog-page__bottom__container--active' :commentsVisible}">
      <div class="blog-page__bottom">
        <div class="blog-page__bottom__buttons">
          <ratingPanel module="blog" :materialid="blog.id" />
          <m-btn @click="commentsVisible =! commentsVisible" :count="comments.status ? comments.data.length : 0">{{$t('comments.title')}}</m-btn>
          <m-btn v-if="can_edit" class="btn--green" :to="`/blog/${blog.id}/edit`">{{$t('global.edit')}}</m-btn>
          <m-btn v-if="can_edit" @click="deleteModalVisible = true" class="btn--delete">{{$t('global.delete')}}</m-btn>
          <m-btn :loading="isApproving" v-if="can_approve" :flat="blog.approved" @click="changeApproveStatus()">{{!blog.approved ? $t('blog.approve') : $t('blog.disapprove')}}</m-btn>
        </div>
        <div class="blog-page__bottom__info">
          <touch-ripple v-if="can_edit" @click="statisticsVisible = !statisticsVisible" class="blog-page__bottom__info__item blog-page__bottom__info__item--clickable">
            <i class="material-icons">remove_red_eye</i>
            <span class="blog-item__bottom__info__text">{{blog.views}}</span>
          </touch-ripple>
          <div class="blog-page__bottom__info__item" v-else>
            <i class="material-icons">remove_red_eye</i>
            <span class="blog-item__bottom__info__text">{{blog.views}}</span>
          </div>
          <div class="blog-page__bottom__info__item">
            <i class="material-icons">access_time</i>
            <span class="blog-item__bottom__info__text">{{getFullDate(blog.time)}}</span>
          </div>
          <touch-ripple @click="$router.push(`/users/${blog.author.id}`)" class="blog-page__bottom__info__item blog-page__bottom__info__item--clickable">
            <div class="blog-page__bottom__avatar" :style="`background:url(${blog.author.ava}) no-repeat center center; background-size:cover`"></div>
            <span class="blog-item__bottom__info__text">{{blog.author.username}}</span>
          </touch-ripple>
        </div>
      </div>
      <div ref="comments" class="blog-page__comments" :class="{'blog-page__comments--visible' :commentsVisible}">
        <comments module="blog" :materialid="blog.id" :data="comments" />
      </div>
    </div>
	</div>
	<!--<div class="blog-page__panel">

  </div>-->
  <m-modal v-model="deleteModalVisible">
    <div slot="main">
      <div class="modal__text">{{$t('blog.delete_confirm')}}</div>
    </div>
    <div slot="buttons">
      <div class="buttons-list">
        <m-btn @click="deleteBlogItem()" :loading="isDeleting">{{$t('global.ok')}}</m-btn>
        <m-btn flat @click="deleteModalVisible = false">{{$t('global.cancel')}}</m-btn>
      </div>
    </div>
  </m-modal>
</div>
</template>
<script>
  import statisticsBlock from '@/components/blocks/statisticsBlock';
  import ratingPanel from '@/components/blocks/ratingPanel';
  import likesButton from '@/components/buttons/likesButton';
  import comments from '@/components/blocks/comments';
  import { getFullDate } from '~/functions/dates.js';

  export default {
    components:{
      statisticsBlock,
      ratingPanel,
      likesButton,
      comments
    },
    head () {
      return {
        title: this.blog.title,
      }
    },
    async asyncData( {app, redirect, params} ) {
      let blog = (await app.$axios.get(`/blog/${params.id}`)).data;
      if (!blog.status) {
        return redirect ('/404');
      }
      let comments = await app.$axios.get(`comments/get/blog/${params.id}?page=1`);
      return {blog: blog.data, can_edit: blog.can_edit, can_approve: blog.can_approve, comments: comments.data.data.comments};
    },
    computed:{

    },
    watch:{

    },
    data() {
      return {
        statisticsVisible: false,
        deleteModalVisible: false,
        commentsVisible: false,
        isDeleting: false,
        isApproving: false,
      }
    },
    mounted() {
      this.$refs.content_outer.addEventListener('wheel', this.onScroll);
      this.$refs.comments.addEventListener('wheel', this.onCommentsScroll);
    },
    beforeDestroy() {
      this.$refs.content_outer.removeEventListener('wheel', this.onScroll);
      this.$refs.comments.removeEventListener('wheel', this.onCommentsScroll);
    },
    methods: {
      getFullDate,
      onCommentsScroll(e) {
        let comments = this.$refs.comments;
        if (e.deltaY < 0) {
          if (comments.scrollTop === 0) {
            this.commentsVisible = false;
          }
        }
      },
      onScroll(e) {
        //let content = this.$refs.content;
        let outer = this.$refs.content_outer;
        if (e.deltaY > 0) {
          let hasScrolled = (outer.scrollTop === (outer.scrollHeight - outer.offsetHeight));
          if (hasScrolled) {
            this.commentsVisible = true;
          }
        }
      },
      changeApproveStatus() {
        this.isApproving = true;
        this.$axios.post(`blog/${this.blog.id}/approve`, {approved: !this.blog.approved} ).then(res=>{
          this.isApproving = false;
          this.$store.commit('NEW_ALERT', res.data);
          if (res.data.status) {
            this.blog.approved = !this.blog.approved;
          }
        })
      },
      deleteBlogItem() {
        this.isDeleting = true;
        this.$axios.delete(`blog/${this.blog.id}`).then(res=>{
          this.isDeleting = false;
          this.$store.commit('NEW_ALERT', res.data);
          if (res.data.status) {
            this.$router.push('/blog');
          }
        })
      }
    }
  }
</script>
<style lang="scss">
.blog-page{
	display: flex;
	height: 100%;
  &__inner {
    background: var(--box-footer-color);
    width: 100%;
    position: relative;
  }
  &__header{
    background: var(--box-element-color);
  }
	&__title{
    margin: 0;
    padding: 1em;
    font-size: 1.25em;
	}
	&__content {
    flex: 1;
    color: var(--text-color);
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    padding: 1.25em;
    font-size: 1.25em;
    position: relative;
    height: calc(100% - 4em);
    .theme-default & {
      box-shadow: 0 15px 25px inset rgba(0, 0, 0, 0.1);
    }
	}
	&__text{
    font-size: .875em;
    padding: 0 1em 0 0;
    max-height: calc(100% - 4.5em);
    overflow: hidden;
    overflow-y: auto;
    p {
      margin: 0 0 1em;
    }
    img {
      max-width: 100%;
      margin: 1em 0;
      display: block;
    }
    h4 {
      margin: 0 0 1em;
      font-weight: 500;
    }
	}
	&__bottom{
		display: flex;
		background: var(--box-element-color);
		padding: 0;
		align-items: center;
		justify-content: space-between;
    &__container {
      height: 4em;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      transition: all .35s;
      &--active {
        bottom: 0;
        height: calc(100% - 6.5em);
        padding: 0 0 3.5em;
      }
    }
    &__avatar{
			width: 2em;
			height: 2em;
			margin:0 .5em 0 1em;
		}
		&__info{
			display:flex;
			align-items:center;
			padding:0 1em;
      white-space: nowrap;
			&__item{
				padding:1em .5em;
				height:100%;
				display:flex;
				align-items:center;
				i{
					margin:0 7px 0 0;
				}
				&--clickable{
					cursor: pointer;
					transition: background .35s;
					&:hover {
						background: rgba(255,255,255,0.05);
					}
				}
			}
		}
		&__buttons{
			display: flex;
			align-items: center;
			padding: 0 1em;
      .rating-panel {
        margin: 0 .5em 0 0;
      }
			.btn {
				margin: 0 .5em 0 0;
			}
		}
	}
	&__panel{
		flex: 2;
		height: 100%;
		overflow: auto;
		padding: 0 1em;
		.theme-default & {
			background:#222;
		}
	}
	&__comments {
		background: var(--title-box-color);
	  width: 100%;
		height: 100%;
		transition: all 0.5s;
		padding: 0;
		overflow-y: auto;
    font-size: 1rem;
		.comments{
			padding:0 0 1.5em;
		}
		&-shown{
			left: 0;
		}
		&__title{
			margin: 0;
		}
	}
}
@media screen and (max-width: 768px) {
  .blog-page {
    height: auto;
    flex-direction: column;
    &__comments {
      overflow: visible;
      height: auto;
      position: relative;
      .comments {
        padding: 1em 0 2.5em;
      }
    }
    &__content {
      padding: 1em;
    }
    &__text {
      font-size: 0.875em;
    }

    &__title {
      font-size: 1.25em;
    }

    &__bottom {
      flex-direction: column;
      &__avatar {
        margin: 0;
      }
      &__buttons {
        flex-wrap: wrap;
        justify-content: space-between;
        width: calc(100% - 2em);
        padding: 0 1em;
        margin: 1em 0 0;
        .btn {
          margin: 0 0 1em;
        }
      }

      &__container {
        position: unset;
      }
      &__info {
        flex-wrap: wrap;
        width: calc(100% - 2em);
        padding: 0 1em;
        justify-content: space-between;
        &__item {
          padding: .5em 0;
        }
      }

    }
  }
}
</style>
