<template>
  <div class="channel-page__announces">
    <div class="list-container" v-if="isLoading || isLoadingInitial || (timetable.data && timetable.data.length > 0)">
      <div class="list-container__preloader" v-if="isLoadingInitial">
        <m-preloader stroke-width="5" circle-width="5em"  />
      </div>
      <m-infinite-scroll v-else :loading="isLoading" @scroll="loadMore" class="list-container__inner">
        <div class="list-item list-item--auto list-item--not-link" :key="$index" v-for="(announce, $index) in timetable.data">
          <div class="list-item__left">
            <div class="list-item__picture-block list-item__picture-block--big" :style="{backgroundImage: 'url('+announce.picture+')'}" ></div>
            <div class="list-item__captions list-item__captions--small">
              <div class="list-item__title">
                {{announce.title}}
              </div>
              <div class="list-item__sub">
                {{announce.description}}
              </div>
            </div>
          </div>
          <div class="list-item__date-container">
            <div class="list-item__date">{{getFullDate(announce.time, true, false)}}</div>
            <AnnounceSubscribeButton :data="announce"/>
          </div>
        </div>
      </m-infinite-scroll>
    </div>
    <m-nothing-found v-else/>
  </div>
</template>
<style lang="scss">
  .channel-page {
    &__announces {
      height: 100%;
      min-height: 10em;
      .list-item__title {
        font-size: 1em;
        font-weight: 500;
      }
    }
  }
</style>
<script>
  import AnnounceSubscribeButton from '@/components/buttons/AnnounceSubscribeButton';
  import { getPublishDate, getFullDate } from '@/functions/dates.js';
  export default {
    components: {
      AnnounceSubscribeButton
    },
    async mounted() {
      await this.loadTimetable();
      this.isLoadingInitial = false;
      this.$parent.$on('scrollBottom', () => {
        this.loadMore();
      })
    },
    props: {
      channel: {
        type: [Object],
        required: true,
      }
    },
    watch: {
    },
    data() {
      return {
        loadedAll: false,
        isLoadingInitial: true,
        isLoading: false,
        timetable: {},
        currentPage: 1,
      }
    },
    methods: {
      async loadMore() {
        if (!this.isLoading) {
          if (this.timetable.data.length > 0) {
            if (!this.loadedAll) {
              this.isLoading = true;
              let time = this.timetable.data[this.timetable.data.length - 1].time + 1;
              let timetable = (await this.$axios.get(`timetable/getnextbychannel/${this.channel.id}?time=${time}`)).data;
              let data = timetable.data.timetable.data;
              this.timetable.data = [...this.timetable.data, ...data];
              if (data.length === 0) {
                this.loadedAll = true;
              }
              this.isLoading = false;

            }
          }
        }
      },
      getPublishDate,
      getFullDate,
      async loadTimetable() {
        let timetable = (await this.$axios.get(`timetable/getnextbychannel/${this.channel.id}`)).data;
        this.timetable = timetable.data.timetable;
      }
    }
  }
</script>

