<template>
  <div class="channel-page__projects">
    <div class="channel-page__projects__inner" v-if="isLoading || (projects.data && projects.data.length > 0)">
      <div class="list-container">
        <div class="list-container__preloader" v-if="isLoading">
          <m-preloader stroke-width="5" circle-width="5em"  />
        </div>
        <div class="list-container__inner channel-page__projects__list" ref="items">
          <ProjectItem :style="{width: (100 / itemsInRow) + '%'}" :data="item" :key="$index" v-for="(item, $index) in projects.data"/>
          <!--
          <nuxt-link :to="'/projects/'+project.id" class="list-item list-item--big" :key="$index" v-for="(project, $index) in projects.data">
            <div class="list-item__left list-item__full-width">
              <div class="list-item__picture-block" :style="{backgroundImage: 'url('+project.logo+')'}" ></div>
              <div class="list-item__captions list-item__captions--small">
                <div class="list-item__title">
                  {{project.name}}
                </div>
                <div class="list-item__under-title">
                  {{project.short_description}}
                </div>
              </div>
            </div>
          </nuxt-link>
          -->
          <div class="list-container__pager">
            <m-pager :data="projects" v-model="currentPage" />
          </div>
        </div>
      </div>
    </div>
    <m-nothing-found v-else/>
  </div>
</template>
<style lang="scss">
  .channel-page{
    &__projects {
      width: 100%;
      height: 100%;
      &__list {
        display: flex;
        flex-wrap: wrap;
      }
      &__inner {

      }
    }
  }
</style>
<script>
  import isMobile from '~/functions/isMobile.js';
  import ProjectItem from '@/components/blocks/ProjectItem';
  export default {
    components: {
      ProjectItem
    },
    async mounted() {
      this.loadProjects();
      this.itemsInRow = Math.ceil(this.$refs.items.offsetWidth / 300);
      new ResizeSensor(this.$refs.items, (e) => {
        this.itemsInRow = Math.ceil(e.width / 300);
      });
    },
    props: {
      channel: {
        type: [Object],
        required: true,
      }
    },
    watch: {
      async currentPage(newPage) {
        await this.loadProjects();
      }
    },
    data() {
      return {
        isLoading: true,
        projects: {},
        currentPage: 1,
        itemsInRow: 1,
      }
    },
    methods: {
      async loadProjects() {
        this.isLoading = true;
        let projects = (await this.$axios.get(`projects/getbychannel/${this.channel.id}?page=${this.currentPage}`)).data;
        this.projects = projects.list;
        this.isLoading = false;
      }
    }
  }
</script>
