<template>
  <div class="channel-page__records">
    <RecordsSection ref="records_section" :urlParams="`channels/${this.channel.id}/records`"  />
  </div>
</template>
<style lang="scss">
  .channel-page{
    &__records {
      width: 100%;
      height: 100%;
    }
  }
</style>
<script>
  import RecordsSection from '@/components/blocks/RecordsSection';
  export default {
    components: {
      RecordsSection
    },
    props:{
      channel:{
        type: [Object],
        required: true
      }
    },
    mounted() {
      this.$parent.$on('scrollBottom', () => {
        this.$emit('scrollBottom');
      })
    },
  }
</script>
