<template>
  <div class="channel-page__team">
    <div class="centered" v-if="isLoadingInitial">
      <m-preloader stroke-width="5" circle-width="5em"  />
    </div>
    <div v-else class="list-container">
      <div class="list-container__inner list-container__inner--visible">
        <nuxt-link :to="'/users/'+member.user_id"  class="list-item" :key="$index" v-for="(member,$index) in team.list">
          <div class="list-item__left">
            <img class="list-item__picture" :src="member.ava" />
            <div class="list-item__captions">
              <div class="list-item__title">{{member.username}}</div>
              <span v-if="member.position" class="list-item__small-title">
              {{member.position}}
              </span>
            </div>
          </div>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  .channel-page {
    &__team {
      height: 100%;
      width: 100%;
    }
  }
</style>
<script>
  export default {
    components: {

    },
    async mounted() {
      let team = (await this.$axios.get(`channels/${this.channel.id}/team/get`)).data;
      this.team = team;
      this.isLoadingInitial = false;
    },
    data() {
      return {
        isLoadingInitial: true,
        team:{},
      }
    },
    props:{
      channel:{
        type: [Object],
        required: true
      }
    },
    methods: {
    }
  }
</script>
