<template>
  <div class="channel-page__videos">
    <VideosSection ref="videos_section" :urlParams="`channels/${this.channel.id}/videos`"  />
  </div>
</template>
<style lang="scss">
  .channel-page{
    &__videos {
      width: 100%;
      height: 100%;
    }
  }
</style>
<script>
  import VideosSection from '@/components/blocks/VideosSection';
  export default {
    components: {
      VideosSection
    },
    props:{
      channel:{
        type: [Object],
        required: true
      }
    },
    mounted() {
       this.$parent.$on('scrollBottom', () => {
         this.$emit('scrollBottom');
       })
    },
  }
</script>
