<template>
  <div class="full-height channel-page__comments">
    <div class="centered" v-if="isLoading">
      <m-preloader stroke-width="5" circle-width="5em"  />
    </div>
    <comments :canWrite="channel.allow_comments" :rights="rights" :channel="channel" :withNews="true" v-else module="channels" :materialid="channel.id" :data="comments" />
  </div>
</template>
<style lang="scss">
  .channel-page {
    &__comments {
      width: 100%;
      .comments {
        padding: 0;
      }
    }
    .comments__title {
      color: var(--channel-colors-3);
    }
  }
</style>
<script>
  import comments from '@/components/blocks/comments';
  export default {
    components: {
      comments
    },
    async mounted() {
      let comments = (await this.$axios.get(`comments/get/channels/${this.channel.id}?page=1`)).data;
      this.comments = comments.data.comments;
      this.isLoading = false;
    },
    props: {
      rights: {
        type: [Object, Array],
        required: true
      },
      channel: {
        type: [Object],
        required: true,
      }
    },
    data() {
      return {
        isLoading: true,
        comments: {},
      }
    }
  }
</script>
