<template>
  <div class="project-page__outer" ref="page_outer">
    <ProjectPage :currentVideo="video" :videos="videos" v-if="!error" :channel="channel" :project="project" />
    <m-error-page v-else :data="error" />
  </div>
</template>
<script>
  import ProjectPage from '@/components/blocks/ProjectPage';
  export default {
    components: {
      ProjectPage,
    },
    async asyncData({app,params}) {
      let videoData = (await app.$axios.get(`/videos/${params.id}`)).data;
      if (videoData.status) {
        if (videoData.data.project_id > 0) {
          let projectData = (await app.$axios.get(`/projects/${videoData.data.project_id}`)).data;
          let videos = (await app.$axios.get(`/projects/${videoData.data.project_id}/videos`)).data.data;
          return {
            channel: null,
            video: videoData.data,
            videos: videos.list,
            error: null,
            project: projectData.data,
            id: params.id,
          };
        } else {
          let channelData = (await app.$axios.get(`/channels/${videoData.data.channel_id}?do_not_count_stat=1`)).data;
          let videos = (await app.$axios.get(`/videos/${videoData.data.id}/related`)).data;
          return {
            videos: videos.list,
            video: videoData.data,
            channel: channelData.data,
            error: null,
            project: null,
            id: params.id,
          };
        }
      } else {
        return {
          error:
            {
              text: 'errors.404'
            }
        };
      }
    }
  }
</script>
