<template>
  <VideosList :urlParams="urlParams">
    <div class="channels-list__header">
      {{$t('videos.search_by_tags')}}
      <span class="tag" :key="$index" v-for="(tag, $index) in tagsList">{{tag}}</span>
    </div>
  </VideosList>
</template>
<style lang="scss">

</style>
<script>
  import VideosList from '@/components/blocks/VideosList';
  export default {
    head() {
      return {
        title: this.$t('videos.search_by_tags')+this.tagsList.join(", ")
      }
    },
    computed: {
      tagsList() {
        return this.$route.query.tags.split(',');
      },
      urlParams() {
        let tags = this.$route.query.tags;
        return "tags="+tags+"&sort_by=new";
      }
    },
    components: {
      VideosList
    },
  }
</script>
