<template>
<div class="page-container">
  <div class="thumbs-list">
    <div class="thumbs-list__block" v-if="$store.state.userData.loggedIn">
      <div class="thumbs-list__header">
        <span class="thumbs-list__header__text">{{$t('videos.feed')}}</span>
        <nuxt-link to="/videos/feed" class="thumbs-list__header__button">{{$t('global.show_more')}}</nuxt-link>
      </div>
      <div v-if="loading.feed" class="thumbs-list__items">
        <PreloadingBlockItem  :style="{width: (100 / itemsInRow) + '%'}" v-for="$index in 24" :key="$index"/>
      </div>
      <div class="thumbs-list__items">
        <div :style="{width: (100 / itemsInRow) + '%'}" :key="item.id"  v-for="item in feedVideos" class="thumbs-list__item">
          <VideoItem :data="item"/>
        </div>
      </div>
    </div>
    <div class="thumbs-list__block" v-if="$store.state.userData.loggedIn">
      <div class="thumbs-list__header">
        <span class="thumbs-list__header__text">{{$t('videos.recommended')}}</span>
        <nuxt-link to="/videos/recommended" class="thumbs-list__header__button">{{$t('global.show_more')}}</nuxt-link>
      </div>
      <div v-if="loading.popular" class="thumbs-list__items">
        <PreloadingBlockItem  :style="{width: (100 / itemsInRow) + '%'}" v-for="$index in 24" :key="$index"/>
      </div>
      <div class="thumbs-list__items">
        <div :style="{width: (100 / itemsInRow) + '%'}" :key="item.id" v-for="item in recommendedVideos" class="thumbs-list__item">
          <VideoItem :data="item"/>
        </div>
      </div>
    </div>
    <div class="thumbs-list__block">
      <div class="thumbs-list__header">
        <span class="thumbs-list__header__text">{{$t('videos.popular')}}</span>
        <nuxt-link to="/videos/popular" class="thumbs-list__header__button">{{$t('global.show_more')}}</nuxt-link>
      </div>
      <div v-if="loading.popular" class="thumbs-list__items">
        <PreloadingBlockItem  :style="{width: (100 / itemsInRow) + '%'}" v-for="$index in 24" :key="$index"/>
      </div>
      <div  ref="itemsList"  class="thumbs-list__items">
        <div :style="{width: (100 / itemsInRow) + '%'}" :key="item.id"  v-for="item in popularVideos" class="thumbs-list__item">
          <VideoItem :data="item"/>
        </div>
      </div>
    </div>
    <div class="thumbs-list__block" v-if="loading.now_watching || nowWatchingVideos.length > 0">
      <div class="thumbs-list__header">
        <span class="thumbs-list__header__text">{{$t('videos.now_watching')}}</span>
        <nuxt-link to="/videos/now-watching" class="thumbs-list__header__button">{{$t('global.show_more')}}</nuxt-link>
      </div>
      <div v-if="loading.now_watching" class="thumbs-list__items">
        <PreloadingBlockItem :style="{width: (100 / itemsInRow) + '%'}" v-for="$index in 24" :key="$index"/>
      </div>
      <div class="thumbs-list__items">
        <div :style="{width: (100 / itemsInRow) + '%'}" :key="item.id"  v-for="item in nowWatchingVideos" class="thumbs-list__item">
          <VideoItem :data="item"/>
        </div>
      </div>
    </div>
    <div class="thumbs-list__block">
      <div class="thumbs-list__header">
        <span class="thumbs-list__header__text">{{$t('videos.new')}}</span>
        <nuxt-link to="/videos/new" class="thumbs-list__header__button">{{$t('global.show_more')}}</nuxt-link>
      </div>
      <div v-if="loading.new" class="thumbs-list__items">
        <PreloadingBlockItem  :style="{width: (100 / itemsInRow) + '%'}" v-for="$index in 24" :key="$index"/>
      </div>
      <div class="thumbs-list__items">
        <div :style="{width: (100 / itemsInRow) + '%'}" :key="item.id"  v-for="item in newVideos" class="thumbs-list__item">
          <VideoItem :data="item"/>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
<script>
  let ResizeSensor = require('css-element-queries/src/ResizeSensor');
  import isMobile from '~/functions/isMobile.js';
  import VideoItem from '@/components/blocks/VideoItem';
  import PreloadingBlockItem from '@/components/blocks/PreloadingBlockItem';
  export default {
    head () {
      return {
        title: this.$t('videos.title'),
      }
    },
    components: {
      PreloadingBlockItem,
      VideoItem
    },
    data() {
      return {
        itemsInRow: 1,
        isMobile: isMobile(),
        feed: {},
        popular: {},
        recommended: {},
        now_watching: {},
        new: {},
        loading: {
          feed: true,
          popular: true,
          best: true,
          now_watching: true,
          new: true,
        }
      }
    },
    async mounted() {
      if (!this.isMobile) {
        this.itemsInRow = Math.ceil(this.$refs.itemsList.offsetWidth / 300);
        new ResizeSensor(this.$refs.itemsList, (e) => {
          this.itemsInRow = Math.ceil(e.width / 300);
        });
      }
      if (this.$store.state.userData.loggedIn) {

        this.feed = (await this.$axios.get('videos?sort_by=feed')).data.data.list;
        this.loading.feed = false;
      }
      if (this.$store.state.userData.loggedIn) {
        this.recommended = (await this.$axios.get('videos?sort_by=recommended')).data.data.list;
        this.loading.recommended = false;
      }
      this.popular = (await this.$axios.get('videos?sort_by=popular')).data.data.list;
      this.loading.popular = false;
      this.now_watching = (await this.$axios.get('videos?sort_by=now_watching')).data.data.list;
      this.loading.now_watching = false;
      this.new = (await this.$axios.get('videos?sort_by=new')).data.data.list;
      this.loading.new = false;
    },
    computed: {
      feedVideos() {
        return this.feed.data ? this.feed.data : [];
      },
      popularVideos() {
        return this.popular.data ? this.popular.data : [];
      },
      recommendedVideos() {
        return this.recommended.data ? this.recommended.data : [];
      },
      nowWatchingVideos() {
        return this.now_watching.data ? this.now_watching.data : [];
      },
      newVideos() {
        return this.new.data ? this.new.data : [];
      },
    },
    methods: {

    }
  }
</script>
