<template>
  <VideosList :title="title" urlParams="sort_by=most_watched"/>
</template>
<style lang="scss">

</style>
<script>
  import VideosList from '@/components/blocks/VideosList';
  export default {
    data() {
      return {
        title: this.$t('videos.most_watched')
      }
    },
    head() {
      return {
        title: this.title
      }
    },
    components: {
      VideosList
    },
  }
</script>
