<template>
  <VideosList :title="title" urlParams="sort_by=now_watching"/>
</template>
<style lang="scss">

</style>
<script>
  import VideosList from '@/components/blocks/VideosList';
  export default {
    data() {
      return {
        title: this.$t('videos.now_watching')
      }
    },
    head() {
      return {
        title: this.title
      }
    },
    components: {
      VideosList
    },
  }
</script>
