<template>
  <div class="attachments">
    <div @click="showAttachmentModal($index)" class="attachment" :key="$index" v-for="(attachment,$index) in attachments">
      <img :src="attachment.data.full_path" class="attachment__picture" v-if="attachment.attachment_type === 'picture'"/>
      <img :src="attachment.data.screenshot" class="attachment__picture" v-else-if="attachment.attachment_type === 'video'"/>
    </div>
  </div>
</template>
<style lang="scss">
  .attachments {
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
  }
  .attachment {
    border-radius: .5em;
    overflow: hidden;
    height: 10em;
    cursor: pointer;
    margin: 0 1em 0 0;
    &__picture {
      height: 10em;
    }
  }
</style>
<script>
  export default {
    props: {
      attachments: {
        type: [Array],
        required: true
      }
    },
    methods: {
      showAttachmentModal(index) {
        this.$store.commit('modals/SHOW_ATTACHMENTS_MODAL', {attachments: this.attachments, index})
      },
    }
  }
</script>
