<template>
  <div class="attachments-panel">
    <div class="attachments-panel__inner">
      <div class="attachments-panel__other-buttons">
        <slot name="buttons"></slot>
      </div>
      <div class="attachments-panel__buttons">
        <div class="comments-panel__attachment-buttons">
          <m-btn @click="attachPhoto()" icon="photo" flat>{{$t('comments.attach_picture')}}</m-btn>
          <m-btn v-if="videos" @click="videoPanelVisible = true" icon="video_library" flat>{{$t('comments.attach_video')}}</m-btn>
        </div>
      </div>
    </div>
    <input ref="filepicker" @change="onFileInputChange" type="file" style="display:none"/>
    <VideoSelectPanel v-if="videoPanelVisible" @close="videoPanelVisible = false" v-model="videoToAdd" :channel="channel"/>
    <div class="attachments-panel__list" :class="{'attachments-panel__list--not-empty': attachments.length > 0}">
      <div :key="attachment.id" v-for="(attachment, $index) in attachments" class="attachments-panel__preview">
        <a @click="attachments.splice($index, 1)" class="attachments-panel__preview__close">
          <i class="material-icons">close</i>
        </a>
        <div class="attachments-panel__preview__error" v-if="attachment.uploadError">
          <span class="attachments-panel__preview__error__icon">
            <i class="material-icons">warning</i>
          </span>
          <span class="attachments-panel__preview__error__text">
            {{attachment.uploadError}}
          </span>
        </div>
        <div class="attachments-panel__preview__loading" v-if="attachment.loading || attachment.isUploading">
          <m-preloader stroke-width="5" circle-width="5em"  />
        </div>
        <img v-if="attachment.data && attachment.data.full_path" :src="attachment.data.full_path" class="attachments-panel__preview__picture"/>
        <img v-else-if="attachment.attachment_type === 'picture'" :ref="attachment.uid" class="attachments-panel__preview__picture"/>
        <img v-else-if="attachment.attachment_type === 'video'" :src="attachment.data.screenshot" class="attachments-panel__preview__picture"/>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  .attachments-panel {
    width: 100%;
    &__inner{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      &--not-empty {
        margin: 1.25em 0;
        min-height: 10em;
      }
    }
    &__preview {
      position: relative;
      max-width: 25%;
      background: rgba(0, 0, 0, 0.25);
      padding: .5em .75em;
      margin: 0 .5em 0 0;
      border-radius: .5em;
      display: flex;
      align-items: center;
      justify-content: center;
      &__error {
        font-size: .75em;
        position: absolute;
        text-align: center;
        width: calc(100% - 1em);
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        padding: .5em;
        display: flex;
        align-items: center;
        &__icon{

        }
        &__text {

        }
      }
      &__loading {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__close {
        position: absolute;
        top: 1em;
        right: 1em;
        cursor: pointer;
      }
      &__picture {
        max-height: 10em;
        max-width: 100%;
      }

    }
    @media screen and (max-width: 768px) {
      &__other-buttons {
        margin: 0 0 1em;
      }
      &__inner {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }


</style>
<script>
  import VideoSelectPanel from '@/components/blocks/VideoSelectPanel';
  const maxPhotosCount = 3;

  function guid() {
    function s4() {
      return Math.floor((1 + Math.random()) * 0x10000)
        .toString(16)
        .substring(1);
    }
    return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
  }

  export default {
    components: {
      VideoSelectPanel
    },
    watch: {
      value(newValue) {
        this.attachments = newValue;
      },
      attachments(newAttachments) {
        this.onChange();
      },
      videoPanelVisible(visible) {
        if (!visible) {
          if (this.videoToAdd) {
            this.attachments.push({
              attachment_type: 'video',
              attachment_id: this.videoToAdd.id,
              data: this.videoToAdd
            });
            this.videoToAdd = null;
          }
        }
      }
    },
    data() {
      return {
        attachments: this.value || [],
        videoPanelVisible: false,
        videoToAdd: null,
      }
    },
    mounted() {
      this.attachments.forEach(attachment=>{
        this.$set(attachment,'uploaded',true);
      });
      this.$parent.$on('save_attachments',()=>{
        this.attachments.forEach(attachment=>{
          if (attachment.uploadError) {
            attachment.uploadError = null;
          }
        });
        this.save();
      })
    },
    props: {
      channel: {
        required: false
      },
      value: {
        type: [Array],
        required: true,
      },
      videos: {
        type: [Boolean],
        required: false,
      }
    },
    methods: {
      onChange() {
        this.$emit('input', this.attachments);
      },
      save() {
        let unsavedPictures = this.attachments.filter(attachment=>(attachment.attachment_type === "picture" && (!attachment.uploaded && !attachment.attachment_id) && !attachment.uploadError));
        if (unsavedPictures.length > 0) {
          this.uploadPicture(unsavedPictures[0]).then(res=>{
            this.onChange();
            this.save();
          }).catch(e=>{
            this.onChange();
            this.save();
          })
        } else {
          this.$emit('ready');
        }
      },
      uploadPicture(picture) {
        return new Promise ((resolve, reject) => {
          let fd=new FormData();
          fd.append('picture',picture.file);
          if (this.channel && this.channel.id) {
            fd.append('channel_id',this.channel.id);
          }
          picture.isUploading = true;
          this.$axios.post('/upload/pictures', fd, {headers: {'Content-Type': 'multipart/form-data'}}).then((res) => {
            picture.isUploading = false;
            if (res.data.status) {
              this.$set(picture,'data', {
                'id': res.data.id,
                'full_path': res.data.path
              });
              picture.uploaded = true;
              picture.attachment_id = res.data.id;
              resolve();
            } else {
              this.$store.commit('NEW_ALERT',{status:0, text: res.data.text});
              picture.uploadError = this.$t(res.data.text);
              reject();
            }
          }).catch(err=>{
            const text = this.$t('upload._errors.upload_error')+err.toString();
            picture.uploadError = text;
            this.$store.commit('NEW_ALERT',{no_translate:true, status:0, text: text});
          })
        })
      },
      attachPhoto() {
        this.$refs.filepicker.click();
      },
      onFileInputChange(e) {
        let files = e.target.files;
        if (files) {
          let image = files[0];
          let re = /(?:\.([^.]+))?$/;
          let ext = re.exec(image.name)[1];
          ext = ext.toLowerCase();
          let extensions = ['png', 'jpg', 'jpeg', 'gif'];
          if (extensions.indexOf(ext) !== -1) {
            let attachment = {
              uid: guid(),
              attachment_type: 'picture',
              uploaded: false,
              uploadError: null,
              isUploading: false,
              loading: true,
              file: image
            };
            this.attachments.push(attachment);
            const reader = new FileReader();
            reader.onload = () => {
              attachment.loading = false;
              this.$refs[attachment.uid][0].src = reader.result;
              this.$nextTick(()=>{
                this.$emit('update');
              })
            };
            reader.readAsDataURL(image);
          }
        }
      }
    }
  }
</script>
