<template>
  <m-infinite-scroll :loading="isLoading" @scroll="loadMore" class="thumbs-list">
    <div v-if="this.$slots.default" class="thumbs-list__header">
      <slot></slot>
    </div>
    <div v-else class="thumbs-list__header thumbs-list__header--default">
      <span class="thumbs-list__header__text">{{title}}</span>
      <div class="thumbs-list__header__view-change">
        <a @click="currentView = 'grid'" class="thumbs-list__header__view-change__item" :class="{'thumbs-list__header__view-change__item--active': currentView === 'grid'}">
          <i class="fa fa-th-large"></i>
        </a>
        <a @click="currentView = 'list'" class="thumbs-list__header__view-change__item" :class="{'thumbs-list__header__view-change__item--active': currentView === 'list'}">
          <i class="fa fa-list-ul"></i>
        </a>
      </div>
    </div>
    <div class="thumbs-list__block" :class="{'thumbs-list__block--with-pager': list.last_page > 1}">
      <div class="thumbs-list__items" ref="itemsList">
        <div :style="{width: (100 / itemsInRow) + '%'}" :key="item.id" v-for="item in list.data" class="thumbs-list__item" :class="{'thumbs-list__item--auto-height': currentView === 'list'}">
          <ChannelItem :big="currentView === 'list'" :data="item"/>
        </div>
      </div>
    </div>
    <div class="page-preloader" v-if="isLoadingInitial">
      <m-preloader stroke-width="5" circle-width="5em"  />
    </div>
    <div class="pager-vertical-container pager-vertical-container--mobile-default">
      <m-pager @pageChange="onPageChange" :vertical="!isMobile" :data="list" v-model="currentPage" />
    </div>
  </m-infinite-scroll>
</template>
<style lang="scss">
  .channels-list {

  }
</style>
<script>
  let ResizeSensor = require('css-element-queries/src/ResizeSensor');
  import isMobile from '~/functions/isMobile.js';
  import ChannelItem from '@/components/blocks/ChannelItem';
  let onPage = 48;
  export default {
    components: {
      ChannelItem
    },
    async mounted() {
      if (!this.isMobile) {
        if (this.currentView === 'grid') {
          this.itemsInRow = Math.ceil(this.$refs.itemsList.offsetWidth / 300);
        }
        new ResizeSensor(this.$refs.itemsList, (e) => {
          if (this.currentView === 'grid') {
            this.itemsInRow = Math.ceil(e.width / 300);
          }
        });
      }
      await this.load();
    },
    props: {
      title: {
        type: String,
        required: false
      },
      urlParams:{
        type: String,
        required: true
      }
    },
    computed:{

    },
    watch: {
      currentView(newView) {
        localStorage.channels_current_view = newView;
        if (this.currentView !== 'grid') {
          this.itemsInRow = 1;
        } else {
          this.itemsInRow = Math.ceil(this.$refs.itemsList.offsetWidth / 300);
        }
      },
      urlParams() {
        this.currentPage = 1;
        this.load();
      },
      currentPage(newPage) {
        this.$router.push({query: {page: newPage}})
      }
    },
    data() {
      return {
        itemsInRow: 1,
        isLoading: false,
        isLoadingInitial: false,
        currentPage: this.$route.query.page ? parseInt(this.$route.query.page) : 1,
        isScrolling: false,
        isMobile: isMobile(),
        total: 0,
        list: {},
        currentView: localStorage.channels_current_view || 'grid',
      }
    },
    created() {

    },
    methods:{
      onPageChange(page) {
        this.isLoading = true;
        this.currentPage = page;
        this.$axios.get(this.getBaseURL(this.currentPage, onPage)).then(res => {
          this.list.data = res.data.data.list.data;
          this.isLoading = false;
        });
      },
      async load() {
        this.isLoadingInitial = true;
        this.list = (await this.$axios.get(this.getBaseURL(this.currentPage, onPage))).data.data.list;
        this.isLoadingInitial = false;
      },
      getBaseURL(page=1, count=10) {
        return `/channels?`+this.urlParams+`&page=${page}&count=${count}`;
      },
      loadMore() {
        if (!this.isLoading) {
          if (this.currentPage < this.list.last_page) {
            this.isLoading = true;
            this.currentPage++;
            this.$axios.get(this.getBaseURL(this.currentPage, onPage)).then(res => {
              this.list.data = [...this.list.data, ...res.data.data.list.data];
              this.isLoading = false;
            });
          }
        }
      }
    }
  }
</script>
