<template>
  <div class="channel-item" :class="{'channel-item--big': big}">
    <nuxt-link :to="link ? '/'+data.shortname : '#'" class="channel-item__inner" ref="inner" v-if="!big">
      <div class="channel-item__picture-container">
        <span class="channel-item__live" v-if="data.is_live">{{$t('channel.live')}}</span>
        <div class="channel-item__preload-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 540.37 566.01"><defs><style>.cls-1{fill:#fff;}.cls-2{fill:#fff;}</style></defs><path class="cls-1" d="M457.5,494.25S414,594.5,302,594.5c-110.25,0-162.63-94.62-162.63-128.45,0-7.77-1.75-180.16-.81-210.68.1-3.08,0-5.16.13-5,3,2.47,69.81,56.17,170.53,56.95,75.75.59,155.07-56.92,154.49-56.46a4,4,0,0,1,0-.49c-.16,2.47-.19,101.42-.19,101.42,20.72-13.41,90.31-55.67,89.39-57.65C517.5,218,421.5,140,302,140c-156.8,0-283.9,127.1-283.9,283.9S145,706,301.75,706c170.75,0,256.72-144.06,256.72-167" transform="translate(-18.1 -139.99)"/><path class="cls-2" d="M138.55,255.88" transform="translate(-18.1 -139.99)"/></svg>
        </div>
        <div :style="{backgroundImage: 'url('+(data.online_screenshot || data.logo)+')'}" class="channel-item__picture" :class="{'channel-item__picture--screenshot':data.online_screenshot}">
          <div class="channel-item__viewers" v-if="data.viewers">
            <i class="material-icons">remove_red_eye</i>
            <span class="channel-item__viewers__text">{{data.viewers}}</span>
          </div>
          <div class="channel-item__stream-name" v-if="data.program_name && (data.is_live || data.is_autopilot)">{{data.program_name}}</div>
        </div>
      </div>
      <div class="channel-item__name" :style="{'max-width': width ? (width+'px') : ''}">{{data.name}}</div>
    </nuxt-link>
    <div class="channel-item--big__inner" ref="inner" v-else>
      <nuxt-link :to="link ? '/'+data.shortname : '#'" class="channel-item--big__picture-container">
        <div class="channel-item--big__preload-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 540.37 566.01"><defs><style>.cls-1{fill:#fff;}.cls-2{fill:#fff;}</style></defs><path class="cls-1" d="M457.5,494.25S414,594.5,302,594.5c-110.25,0-162.63-94.62-162.63-128.45,0-7.77-1.75-180.16-.81-210.68.1-3.08,0-5.16.13-5,3,2.47,69.81,56.17,170.53,56.95,75.75.59,155.07-56.92,154.49-56.46a4,4,0,0,1,0-.49c-.16,2.47-.19,101.42-.19,101.42,20.72-13.41,90.31-55.67,89.39-57.65C517.5,218,421.5,140,302,140c-156.8,0-283.9,127.1-283.9,283.9S145,706,301.75,706c170.75,0,256.72-144.06,256.72-167" transform="translate(-18.1 -139.99)"/><path class="cls-2" d="M138.55,255.88" transform="translate(-18.1 -139.99)"/></svg>
        </div>
        <div :style="{backgroundImage: 'url('+(data.online_screenshot || data.logo)+')'}" class="channel-item--big__picture" :class="{'channel-item__picture--screenshot':data.online_screenshot}"></div>
      </nuxt-link>

      <div class="channel-item--big__texts">
        <nuxt-link :to="link ? '/'+data.shortname : '#'" class="channel-item--big__stream-name" v-if="data.program_name && (data.is_live || data.is_autopilot)">{{data.program_name}}</nuxt-link>
        <nuxt-link :to="link ? '/'+data.shortname : '#'" class="channel-item--big__name">
          {{data.name}}
          <span class="channel-item--big__live" v-if="data.is_live">{{$t('channel.live')}}</span>
        </nuxt-link>
        <div class="channel-item--big__info">
          <span v-if="data.owner" class="channel-item--big__info__block">
            {{$t('channel.owner')}}
            <a target="_blank" class="channel-item--big__info__block__value channel-item--big__info__block__value--link" :href="'/users/'+data.owner.id">{{data.owner.username}}</a>
          </span>
          <span v-if="data.wasonline" class="channel-item--big__info__block">
            {{$t('channel.was_online')}}
            <span class="channel-item--big__info__block__value">{{getPublishDate(data.wasonline)}}</span>
          </span>
        </div>
        <div class="channel-item--big__description">
          {{data.description_text}}
        </div>
        <!--
        <div class="channel-item__viewers" v-if="data.viewers">
          <i class="material-icons">remove_red_eye</i>
          <span class="channel-item__viewers__text">{{data.viewers}}</span>
        </div>
        -->
      </div>
      <div class="channel-item--big__right" v-show="data.online_screenshot">
        <nuxt-link :to="link ? '/'+data.shortname : '#'" class="channel-item--big__logo" :style="{backgroundImage: 'url('+(data.logo)+')'}" ></nuxt-link>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
  .channel-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
    display: block;
    &__live {
      background: var(--red);
      position: absolute;
      top: .5em;
      left: .5em;
      z-index: 1000;
      font-weight: 600;
      padding: .25em .5em;
      border-radius: .25em;
      opacity: .75;
    }
    &__preload-icon {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      & svg {
        width: 5em;
        opacity: .25;
      }
    }
    &__name {
      font-size: 1em;
      padding: .5em;
      margin: 0;
      border-bottom-left-radius: .25em;
      border-bottom-right-radius: .25em;
      background: var(--box-footer-color);
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__stream-name {
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      padding: .5em;
      width: calc(100% - 1em);
      white-space: nowrap;
      font-size: .875em;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__viewers {
      position: absolute;
      right: .5em;
      top: .5em;
      display: flex;
      align-items: center;
      font-size: .75em;
      opacity: .5;
      &__text {
        margin: 0 0 0 .5em;
        font-weight: 600;
      }
    }
    &__inner{
      margin: .25em;
      width: calc(100% - .5em);
      height: calc(100% - .5em);
      display: flex;
      flex-direction: column;
      cursor: pointer;
      transition: all .35s;
      position: relative;
      top: 0;
      box-shadow: 0 0 .5em rgba(0, 0, 0, 0);
      text-decoration: none;
      &:hover {
        top: -.5em;
        box-shadow: 0 .5em .5em var(--active-color);
      }
    }
    &__picture-container {
      position: relative;
      flex: 1;
    }
    &__picture {
      height: 100%;
      background-color: rgba(0, 0, 0, .25);
      position: relative;
      flex: 1;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      &--screenshot{
        background-size: cover;
      }
    }
    &--big {
      &__picture-container {
        width: 12em;
        height: 8em;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }
      &__info {
        font-size: .8125em;
        margin: .5em 0;
        &__block {
          margin: 0 .5em 0 0;
          &__value {
            &--link {
              text-decoration: none;
              border-bottom: 1px solid;
            }
          }
        }
      }


      &__inner {
        display: flex;
        background: var(--box-footer-color);
        margin: 0 0 .125em;
        box-shadow: 0 0 0 var(--active-color);
        transition: all .35s;
        position: relative;
        top: 0;
        /*
        &:hover {
          box-shadow: 0 0 1em var(--active-color);
          top: -.5em;
        }
        */
      }

      &__preload-icon {
        width: 4em;
      }

      &__picture {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: var(--box-footer-color);
      }

      &__texts {
        margin: 1em;
        width: 100%;
        max-width: calc(100% - 22em);
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__name {
        text-decoration: none;
        font-size: 1em;
        font-weight: 400;
        opacity: .75;
        transition: opacity .25s;
        &:hover {
          opacity: 1;
        }
      }

      &__description {
        font-size: .875em;
        font-weight: 300;
        margin: .25em 0;
      }

      &__stream-name {
        display: block;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.125em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        background: linear-gradient(45deg, rgba(255, 255, 255, 0.12), transparent);
        padding: .5em;
        margin: 0 0 .5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        opacity: .75;
        transition: opacity .25s;
        &:hover {
          opacity: 1;
        }
      }
      &__logo {
        width: 5em;
        height: 5em;
        display: block;
        background: var(--box-element-color);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }

      &__right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 2em 0 0;
      }
    }
  }
</style>
<script>
  import { getPublishDate } from '~/functions/dates.js';

  export default {
    methods: {
      getPublishDate
    },
    data() {
      return {
        width: null,
      }
    },
    computed: {
      description() {
        let description = this.data.description;
        if (!description) {
          return "";
        }
        return description.replace(/<[^>]*>?/gm, '');
      }
    },
    mounted() {
    },
    props:{
      big: {
        type: Boolean,
        required: false,
      },
      link: {
        type: Boolean,
        required: false,
        default: true,
      },
      data: {
        type: [Object],
        required: true
      }
    }
  }
</script>
