<template>
  <div class="comments">
    <div class="comments__header">
      <h2 class="comments__title">{{$t('comments.title')}}</h2>
      <m-select v-model="order" class="comments__order-select" :options="orderOptions" />
    </div>
    <div class="comments__inner">
      <comments-panel :canWrite="canWrite" :channel="channel" :withNews="withNews" :rights="rights" @added="onNewComment" :module="module" :materialid="materialid" />
      <div class="preloader-block" v-if="isLoading">
        <m-preloader :circle-width="128" />
      </div>
      <div class="comments__list">
        <comment v-if="comment" :showPanel="showCommentsPanel" :channel="channel" :module="module" :materialid="materialid" :data="comment" :key="comment.id" v-for="comment in comments.data" />
      </div>
      <div class="comments__pager" v-if="comments && comments.last_page > 1">
        <m-pager :data="comments" v-model="currentPage" />
      </div>

    </div>
  </div>
</template>
<style lang="scss">
  .comments{
    position: relative;
    padding: 0 1em;
    &__pager {
      padding: 1em;
      background: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
    }
    &__inner {
      background: linear-gradient(90deg, rgba(255, 255, 255, .01), rgba(255, 255, 255, .11));
    }
    &__order-select {
      margin: 0;
    }
    &__title {
      margin: 0;
      font-size: 1.25em;
    }
    &__header {
      background: linear-gradient(-90deg, rgba(16, 127, 208, .1), var(--active-color));
      padding: 1em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 0.5em 1.5em -0.25em rgba(0, 0, 0, 0.05);
    }
    &__list {
      padding: 1em;
    }
    @media screen and (max-width: 768px) {
      &__header {
        font-size: .875em;
      }
      &__title {
        font-size: 1em;
      }
    }
  }



</style>
<script>
  import comment from '@/components/blocks/comment.vue';
  import commentsPanel from '@/components/blocks/commentsPanel.vue';
  export default{
    components: {
      comment,
      commentsPanel
    },
    props:{
      canWrite: {
        required: false
      },
      channel: {
        required: false
      },
      withNews: {
        type: Boolean,
      },
      rights: {
        type: [Array, Object]
      },
      module:{
        type:String,
      },
      materialid: {
        type: Number,
      },
      data: {
        type: Object,
        required: true
      }
    },
    computed: {
      showCommentsPanel() {
        if (this.canWrite !== undefined) {
          return this.canWrite;
        }
        if (!this.channel) {
          return true;
        }
        return this.channel.allow_comments;
      }
    },
    data() {
      return {
        currentPage: 1,
        isLoading: false,
        order: "newest",
        comments: this.data,
        orderOptions: [
          {'name':this.$t('comments.newest'),'value':'newest'},
          {'name':this.$t('comments.oldest'),'value':'oldest'},
          {'name':this.$t('comments.most_popular'),'value':'popular'},
          {'name':this.$t('comments.most_commented'),'value':'commented'},
        ],
      }
    },
    watch: {
      currentPage(newPage) {
        this.load();
      },
      order(newOrder) {
        this.load();
      }
    },
    methods: {
      load(page) {
        if (page) {
          this.currentPage = page;
        }
        this.isLoading = true;
        this.$axios.get(`comments/get/${this.module}/${this.materialid}?order=${this.order}&page=${this.currentPage}`).then(res=>{
          this.comments = res.data.data.comments;
          this.isLoading = false;
        })
      },
      async onNewComment(comment) {
        if (this.currentPage !== 1) {
          await this.load(1);
          await this.$nextTick();
        }
        this.comments.data.splice(-1, 1);
        this.comments.data.unshift(comment);
      }
    }
  }
</script>
