<template>
  <div class="comments-panel" v-if="!hide">
    <div class="comments-panel__inputs">
      <div class="comments-panel__login" v-if="!userData.loggedIn">
        <nuxt-link class="comments-panel__login__link" :to="'/login?return='+$route.fullPath">{{$t('comments.login_or_register')}}</nuxt-link>{{$t('comments.to_add')}}
      </div>
      <m-input autoSize v-if="commentIsNews && userData.loggedIn" v-model="title" :placeholder="$t('news.header')"/>
      <m-editor :simple="!commentIsNews" v-if="userData.loggedIn" v-model="text" :title="$t('news.text')" />
    </div>
    <div class="comments-panel__bottom" v-if="userData.loggedIn">
      <AttachmentsPanel @ready="onReady" v-model="attachments" :videos="commentIsNews" :channel="channel">
        <div class="comments-panel__buttons" slot="buttons">
          <m-btn :loading="isLoading"  v-if="!edit" @click="sendComment()" :disabled="text.length === 0 || (commentIsNews && title.length === 0)">{{$t('comments.send')}}</m-btn>
          <m-btn :loading="isLoading"  v-else @click="sendEditedComment()" :disabled="text.length === 0">{{$t('comments.save')}}</m-btn>
          <m-btn @click="hidePanel()" flat v-if="parent || edit">{{$t('global.cancel')}}</m-btn>
          <m-checkbox :title="$t('channel.from_channel_name')" v-show="canWrite" v-if="!edit && withNews && hasRightsForNews" v-model="commentIsNews"/>
        </div>
      </AttachmentsPanel>
    </div>
  </div>
</template>
<style lang="scss">
  .comments-panel {
    margin: 0 0 -1em;
    padding: 1em;
    &__login {
      background: rgba(255, 255, 255, .1);
      padding: 1em;
      border-radius: .25em;
      box-shadow: 0 0.5em 1.5em -0.25em rgba(0, 0, 0, 0.05);
      &__link {
        text-decoration: none;
        border-bottom: 1px solid;
      }
    }
    &__inputs{

    }
    &__text {
      width: calc(100% - 2.5em);
      resize: none;
      min-height: 5em;
      border: 0;
      margin: .5em;
      font: inherit;
      padding: 1em;
      font-size: 1em;
      outline: none;
      background: rgba(0, 0, 0, 0.1);
      .theme-default & {
        border-bottom: 2px solid rgba(255,255,255,0.15);
      }
    }
    &__bottom{
      width: 100%;
      display:flex;
      justify-content:space-between;
      align-items:center;
    }
    &__attachment-buttons{
      .btn{
        margin: 0 0 0 .5em;
      }
    }
    &__buttons{
      margin: 0;
      display: flex;
      align-items: center;
      .btn {
        margin: 0 1em 0 0;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .comments-panel__bottom {
      flex-direction: column;
      align-items: flex-start;
    }
  }
</style>
<script>
  import { mapState } from 'vuex';
  import AttachmentsPanel from '@/components/blocks/AttachmentsPanel';
  export default{
    components: {
      AttachmentsPanel
    },
    mounted() {
      if (!this.canWrite && this.hasRightsForNews) {
        this.commentIsNews = true;
      }
      if (!this.canWrite && !this.hasRightsForNews) {
        this.hide = true;
      }
    },
    computed: {
      ...mapState(['userData']),
      hasRightsForNews() {
        return this.rights !== undefined && this.rights.indexOf('admin') !== -1 || this.rights.indexOf('owner') !== -1 || this.rights.indexOf('news') !== -1 || this.rights.indexOf('channel_admin') !== -1;
      }
    },
    props:{
      hasParent: {
        type: Boolean,
        required: false
      },
      canWrite: {
        type: Boolean,
        required: false,
        default: true,
      },
      channel: {
        type: Object,
        required: false
      },
      rights: {
        type: [Object, Array],
        required: false,
        default: () => {
          return []
        }
      },
      isNews:{
        type: Boolean,
      },
      withNews: {
        type: Boolean,
      },
      parent:{
        type:Number,
        required:false,
      },
      module:{
        type:String
      },
      materialid:{
        type:Number,
      },
      edit:{
        type:Boolean,
      },
      data:{
        type:Object,
      }
    },
    data() {
      return {
        hide: false,
        title: '',
        text: '',
        attachments: [],
        commentIsNews: this.isNews,
        isLoading: false,
      }
    },
    created() {
      if (this.edit) {
        if (this.data.title) {
          this.title = this.data.title;
        }
        this.text = this.data.text;
        this.attachments = this.data.attachments;
      }
    },
    watch:{

    },
    methods:{
      onReady() {
        if (this.edit) {
          this.saveEditedComment();
        } else {
          this.saveComment();
        }
      },
      sendEditedComment() {
        if (this.text.length>0 && (!this.commentIsNews || this.title.length > 0)) {
          this.isLoading = true;
          if (this.attachments.length === 0) {
            this.saveEditedComment();
          } else {
            this.$emit('save_attachments');
          }
        }
      },
      saveEditedComment() {
        let data = {
          text: this.text,
          attachments: this.attachments,
        };
        if (this.commentIsNews) {
          data.title = this.title;
          data.channel_id = this.materialid;
        }
        this.$axios.put((this.commentIsNews ? 'news/' : 'comments/' ) + this.data.id, data).then(res => {
          this.isLoading = false;
          if (res.data.status) {
            let edited = this.commentIsNews ? res.data.news : res.data.comment;
            this.$emit('edited', edited);
          } else {
            this.$store.commit('NEW_ALERT', res.data);
          }
        })
      },
      sendComment() {
        if (this.text.length>0 && (!this.commentIsNews || this.title.length > 0)) {
          this.isLoading = true;
          if (this.attachments.length === 0) {
            this.saveComment();
          } else {
            this.$emit('save_attachments');
          }
        }
      },
      saveComment() {
        let data = {
          text: this.text,
          attachments: this.attachments,
        };
        if (this.commentIsNews) {
          data.channel_id = this.materialid;
          data.title = this.title;
        } else {
          data.module = this.module;
          data.material_id = this.materialid;
          if (this.parent) {
            data.reply_to = this.parent;
          }
        }
        this.$axios.post(this.commentIsNews ? '/news' : '/comments', data).then(res => {
          this.isLoading = false;
          if (res.data.status) {
            this.$emit('added', this.commentIsNews ? res.data.news : res.data.comment);
            this.title = '';
            this.text = '';
            this.attachments = [];
          } else {
            this.$store.commit('NEW_ALERT', res.data);
          }
        })
      },
      hidePanel() {
        this.$emit('hide');
      }
    }
  }
</script>
