<template>
<div class="comment" :class="{'comment--deleted':isDeleted}">
	<div class="comment__restore" v-if="isDeleted">
		<div class="comment__restore__inner">
      <span v-if="!comment.is_news" class="comment__restore__text">{{$t('comments.comment_deleted')}}</span>
      <span v-else class="comment__restore__text">{{$t('news.news_deleted')}}</span>
      <m-btn @click="restoreComment">{{$t('comments.restore')}}</m-btn></div>
	</div>
	<div class="comment__body">
		<div class="comment__info">
      <nuxt-link v-if="comment.is_news" :to="'/'+comment.channel.shortname" class="comment__avatar" :style="{backgroundImage:'url('+comment.channel.logo+')'}"></nuxt-link>
      <div class="comment__author" v-if="comment.is_news">
        <nuxt-link :to="'/'+comment.channel.shortname" class="comment__username">{{comment.channel.name}}</nuxt-link>
        <div class="comment__time">{{comment.add_time}} <span class="comment__time__edited" v-if="comment.was_edited">{{$t('comments.edited_at')}} {{comment.edit_time}}</span></div>
      </div>
			<nuxt-link v-if="comment.is_comment" :to="'/users/'+comment.author.id" class="comment__avatar" :style="{backgroundImage:'url('+comment.author.ava+')'}"></nuxt-link>
			<div class="comment__author" v-if="comment.is_comment">
				<nuxt-link :to="'/users/'+comment.author.id" class="comment__username">{{comment.author.username}}</nuxt-link>
				<div class="comment__time">{{comment.add_time}} <span class="comment__time__edited" v-if="comment.was_edited">{{$t('comments.edited_at')}} {{comment.edit_time}}</span></div>
			</div>
			<div class="comment__toolbar" v-if="comment.can_edit">
				<m-btn flat rounded icon="edit" @click="editPanelVisible = true"></m-btn>
				<div v-click-outside="hideDeleteWindow" class="comment__delete-button-container">
					<m-btn flat rounded icon="close" @click="showDeleteWindow = true"></m-btn>
					<div class="popup-menu popup-menu-top popup-menu-top-left popup-menu-hover" v-if="showDeleteWindow">
						<div class="popup-menu__triangle"></div>
						<div class="popup-menu__inner">
							<div class="popup-menu__header">{{$t('global.are_you_sure')}}</div>
							<a @click="deleteComment()" class="popup-menu__item">{{$t('global.delete')}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
    <div class="comment__title" v-if="comment.is_news && !editPanelVisible">{{comment.title}}</div>
		<div class="comment__text" v-if="!editPanelVisible" v-html="comment.text"></div>
		<comments-panel v-else :channel="channel" :isNews="comment.is_news" :materialid="materialid" @edited="onCommentEdit" :edit="true" :data="comment" @hide="editPanelVisible = false"  />
    <AttachmentsList class="comment__attachments" :attachments="comment.attachments" v-if="!editPanelVisible && comment.attachments && comment.attachments.length > 0"/>
    <div class="comment__buttons">
      <!--<LikesButton v-if="comment.is_news" :data="comment.likes"  module="news" :materialid="comment.id"/>
			<ratingPanel v-else :data="comment.likes" module="comments" :materialid="comment.id" /> -->
      <ratingPanel :data="comment.likes" :module="comment.is_news ? 'news' : 'comments'" :materialid="comment.id" />
      <m-btn v-if="showPanel" v-show="userData.loggedIn" @click="replyPanelVisible=true">{{$t('comments.reply')}}</m-btn>
		</div>
	</div>
	<div class="comment__reply-panel" v-if="replyPanelVisible && showPanel">
		<comments-panel :hasParent="true" :channel="channel" @added="onNewComment" :module="comment.is_news ? 'news' : module" :materialid="comment.is_news ? comment.id : materialid" @hide="replyPanelVisible = false" :parent="comment.is_comment ? comment.id : null" />
	</div>
	<div class="comment__children" v-if="comment.children && comment.children.length>0">
		<comment :channel="channel" :showPanel="showPanel" :data="child" :key="child.id" v-for="child in comment.children" />
	</div>
</div>
</template>
<style lang="scss">
.comment {
	position: relative;
  font-size: 1.125rem;
  margin: 0 0 1em;
  &:last-child {
    margin: 0;
  }
  @media screen and (max-width: 768px) {
    & {
      font-size: 1rem;
    }
  }
	&__text {
		font-size: .875em;
    p {
      margin: 0 0 .5em;
    }
	}
	&__body {

	}
  &__title {
    font-weight: 600;
    font-size: 1.25em;
  }
	&__info {
    padding: .5em;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), transparent);
    border-bottom: 1px solid rgba(255,255,255,0.15);
		margin: 0 0 .5em;
		display: flex;
		align-items: center;
		position: relative;
	}
	&__toolbar{
		position: absolute;
		display: flex;
		right: 0;
    font-size: .875em;
		.btn{
			margin: 0 0 0 1em;
		}
	}
	&__delete-button-container{
		position: relative;
	}
	&__buttons{
		padding: 1em 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    font-size: .875em;
		.btn {

		}
	}

	&__avatar {
    width: 1.5em;
    height: 1.5em;
		display: block;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}

	&__author {
    display: flex;
    align-items: center;
    margin: 0 0 0 .5em;
	}
	&__username {
    font-weight: 500;
    line-height: 0;
    font-size: .875em;
		text-decoration: none;
	}

	&__children {
		padding: 1em 0 0 1.25em;
	}

	&__time {
    font-size: .75em;
    margin: 0 0 0 .5em;
    &__edited{
      font-weight: bold;
      @media screen and (max-width: 768px) {
        & {
          display: block;
        }
      }
    }
	}
	&__restore {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(40, 40, 40, 0.75);
		z-index: 1;
		&__inner {
			display: flex;
			align-items: center;
		}

		&__text {
			margin: 0 1em 0 0;
			font-weight: 500;
      p {
        margin: 0;
      }
		}
	}
  &__reply-panel {
    font-size: 1rem;
    .comments-panel {
      padding: 1em 0 1em 1em;
    }
  }
  .theme-light & {
    margin: 0 0 .5em;
  }
  .theme-light &__body {
    box-shadow: 0 4px 70px -18px rgba(0, 0, 0, 0.25);
    padding: 1em;
  }
}

.bright .comment__info {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.1), transparent);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
</style>
<script>
import clickOutside from 'vue-click-outside';
import ratingPanel from '@/components/blocks/ratingPanel';
import LikesButton from '@/components/buttons/LikesButton';
import AttachmentsList from '@/components/blocks/AttachmentsList';
import commentsPanel from '@/components/blocks/commentsPanel';
import { mapState } from 'vuex';

export default{
  computed: mapState(['userData']),
	name: 'comment',
	components:{
    AttachmentsList,
    ratingPanel,
    commentsPanel,
    LikesButton
  },
	directives:{
    clickOutside
  },
	props:{
    channel: {
      type: [Object],
      required: false,
    },
    showPanel: {
      type: [Boolean],
      required: false,
      default: true
    },
		data:{
			type: Object,
			required: true
		},
		module:{
			type: String
		},
		materialid:{
			type: Number,
		}
	},
	data() {
		return {
			isDeleted: false,
			showDeleteWindow: false,
			replyPanelVisible: false,
			editPanelVisible:false,
			comment: this.data,
		}
	},
	methods:{
		onCommentEdit(comment) {
		  if (this.comment.children) {
        comment.children = JSON.parse(JSON.stringify(this.comment.children));
      }
			this.comment = comment;
			this.editPanelVisible = false;
		},
		onNewComment(comment) {
			this.replyPanelVisible = false;
			this.comment.children.unshift(comment);
		},
		restoreComment() {
			this.$axios.post((this.comment.is_news ? 'news/' : 'comments/')+this.comment.id+'/restore').then(res=>{
				this.$store.commit('NEW_ALERT',res.data);
				if (res.data.status) {
					this.isDeleted = false;
				}
			})
		},
		deleteComment() {
			this.$axios.delete((this.comment.is_news ? 'news/' : 'comments/')+this.comment.id).then(res=>{
				this.$store.commit('NEW_ALERT',res.data);
				if (res.data.status) {
				  this.isDeleted = true;
				}
			});
			this.showDeleteWindow = false;
		},
		hideDeleteWindow() {
			this.showDeleteWindow = false;
		}
	}

}
</script>
