<template>
  <m-modal v-model="val" :header="$t('tickets.complaints._title')">
    <div slot="main">
      <div class="centered" v-if="isLoading">
        <m-preloader stroke-width="5" circle-width="5em"  />
      </div>
      <div v-else >
        <m-response :data="response"/>
        <div v-if="!userData.loggedIn" class="modal__input-container">
          <m-input :errors="errors.contacts" :title="$t('tickets.complaints.contacts')" v-model="data.contacts"/>
        </div>
        <div class="modal__input-container">
          <m-select :errors="errors.category" v-model="data.category" :options="categoriesList" :placeholder="$t('tickets.complaints.category')"/>
        </div>
        <div class="modal__input-container">
          <m-input type="textarea" :errors="errors.text" :title="$t('tickets.complaints.text')" v-model="data.text"/>
        </div>
      </div>
    </div>
    <div slot="buttons">
      <div class="modal__buttons">
        <m-btn :loading="isSending" @click="sendComplaint()">{{$t('tickets.complaints.send')}}</m-btn>
      </div>
    </div>
  </m-modal>
</template>
<script>
  import {mapState} from 'vuex';
  export default {
    computed: {
      ...mapState(['userData']),
      categoriesList() {
        return this.categories.map(category => {
          return {
            name: this.$t(category.text),
            value: category.id
          }
        })
      }
    },
    methods: {
      sendComplaint() {
        let data = JSON.parse(JSON.stringify(this.data));
        data.page = this.page;
        data.is_complaint = true;
        this.isSending = true;
        this.$axios.post('tickets', data).then(res => {
          this.response = res.data;
          this.errors = res.data.errors || {};
          this.isSending = false;
        })
      }
    },
    data() {
      return {
        val: this.value,
        isLoading: false,
        categories: [],
        data: {
          contacts: '',
          category: 0,
          text: ''
        },
        response: null,
        errors: {},
        isSending: false,
      }
    },
    async mounted() {
      this.isLoading = true;
      let data = (await this.$axios.get('tickets/categories/complaints')).data;
      this.categories = data.data.categories;
      this.isLoading = false;
    },
    watch: {
      value(newValue) {
        this.val = newValue;
      },
      val(newVal) {
        this.$emit('input', newVal);
      }
    },
    props: {
      page: {
        type: Object,
        required: true
      },
      value: {
        type: Boolean,
        required: true
      }
    }
  }
</script>
