<template>
  <div class="preloading-block">
    <div class="preloading-block__cover">
      <div class="preloading-block__icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 540.37 566.01"><defs><style>.cls-1{fill:#fff;}.cls-2{fill:#fff;}</style></defs><path class="cls-1" d="M457.5,494.25S414,594.5,302,594.5c-110.25,0-162.63-94.62-162.63-128.45,0-7.77-1.75-180.16-.81-210.68.1-3.08,0-5.16.13-5,3,2.47,69.81,56.17,170.53,56.95,75.75.59,155.07-56.92,154.49-56.46a4,4,0,0,1,0-.49c-.16,2.47-.19,101.42-.19,101.42,20.72-13.41,90.31-55.67,89.39-57.65C517.5,218,421.5,140,302,140c-156.8,0-283.9,127.1-283.9,283.9S145,706,301.75,706c170.75,0,256.72-144.06,256.72-167" transform="translate(-18.1 -139.99)"/><path class="cls-2" d="M138.55,255.88" transform="translate(-18.1 -139.99)"/></svg>
      </div>
    </div>
    <div class="preloading-block__text">
      <div class="preloading-block__text__inner" ></div> <!--:style="{width: textWidth + '%'}"-->
    </div>
  </div>
</template>
<style lang="scss">
  .preloading-block {
    position: relative;
    height: 12em;
    display: flex;
    flex-direction: column;
    opacity: .5;
    &__icon {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        width: 5em;
        opacity: .25;
      }
    }
    animation: preloadingBlock 2.5s infinite;
    &__cover {
      margin: .25em .25em 0;
      background-color: rgba(0, 0, 0, .25);
      height: 9.5em;
      border-top-left-radius: .25em;
      border-top-right-radius: .25em;
      position: relative;
    }

    &__text {
      margin: 0 .25em .25em;
      height: 2em;
      border-bottom-left-radius: .25em;
      border-bottom-right-radius: .25em;
      background: var(--box-footer-color);
      font-weight: 600;
      &__inner {
        background: rgba(255, 255, 255, 0.52);
        height: .5em;
        width: calc(100% - 1.5em);
        margin: .75em;
        border-radius: .125em;
      }
    }
  }
  @keyframes preloadingBlock {
    0% {
      opacity: .5;
    }
    50% {
      opacity: .75;
    }
    100% {
      opacity: .5;
    }
  }
</style>
<script>
  export default {
    data() {
      return {
        textWidth: 100,// 25 + Math.random() * 75
      }
    }
  }
</script>
