<template>
  <nuxt-link :to="'/projects/'+data.id" class="project-item">
    <div class="project-item__inner">
      <div class="project-item__cover" :style="`background: url(${data.logo}) no-repeat center center; background-size: contain;`"></div>
      <div class="project-item__title">{{data.name}}</div>
    </div>
  </nuxt-link>
</template>
<style lang="scss">
  .project-item {
    display: block;
    text-decoration: none;
    &__inner {
      margin: .25em;
      background: var(--box-color);
     /* height: calc(100% - 1em); */
      transition: all .35s;
      border-radius: .25em;
      position: relative;
      top: 0;
      &:hover {
        top: -.5em;
        box-shadow: 0 .5em .5em var(--active-color);
      }
    }

    &__cover {
      background-color: #000!important;
      background-size: contain!important;
      padding-top: 120%;
    }

    &__title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 1em;
      font-size: .875em;
    }

  }
</style>
<script>
  export default {
    computed: {
      shortTitle() {
        return this.data.name.length > 85 ? this.data.name.substr(0, 85)+'...' : this.data.name;
      }
    },
    data() {
      return {

      }
    },
    mounted() {

    },
    props:{
      data: {
        type: [Object],
        required: true
      }
    }
  }
</script>
