<template>
    <div class="project-page" ref="page" :class="{'bright': pageIsBright}">
      <div class="project-page__background" v-if="design.background" :style="{background: 'url('+design.background+') no-repeat center center', backgroundSize:'cover'}"></div>
      <nuxt-link :to="getBannerLink" ref="banner_container" class="project-page__banner-container" v-if="design.banner">
        <img class="project-page__banner" :src="design.banner"/>
      </nuxt-link>
      <div class="project-page__inner" :class="{'project-page__inner--with-banner': design.banner}" :style="{'top': (viewTopOffset + 'px')}">
        <div class="project-page__content">
          <div class="project-page__col project-page__left" ref="left" :class="{'project-page__left--scrollable': maxScroll}">
            <div class="project-page__box project-page__box--main" ref="mainBox">
              <div ref="player_container" class="project-page__player-container">

              </div>
              <div v-if="currentRecordItem" class="project-page__record-player-container">
                <RadioPlayer :record="currentRecordItem" :channel="channel" :project="project"/>
              </div>

              <div class="project-page__video-info-container" >
                <div class="project-page__video-header" v-if="currentVideoItem">
                  <div class="project-page__video-name">{{currentVideoItem.title}}</div>
                  <div class="project-page__video-buttons-container">
                    <ratingPanel module="videos" :materialid="currentVideoItem.id" />
                  <!--  <likes-button :key="'videos_'+currentVideoItem.id" module="videos" :materialid="currentVideoItem.id" /> -->
                  </div>
                </div>
                <div class="project-page__video-header" v-else-if="currentRecordItem">
                  <div class="project-page__video-name">{{currentRecordItem.title}}</div>
                  <div class="project-page__video-buttons-container">
                    <ratingPanel module="records" :materialid="currentRecordItem.id" />
                    <!--  <likes-button :key="'videos_'+currentVideoItem.id" module="videos" :materialid="currentVideoItem.id" /> -->
                  </div>
                </div>
                <div class="project-page__video-bottom">
                  <div class="project-page__video-channel" >
                    <div class="project-page__video-channel__logo" :style="'background: url('+(channel ? channel.logo : ((project && project.channel) ? project.channel.logo : null))+') no-repeat center center; background-size: cover;'"></div>
                    <nuxt-link :to="'/'+(channel ? channel.shortname : ((project && project.channel) ? project.channel.shortname : null))"  class="project-page__video-channel__texts">
                      <div class="project-page__video-channel__name" v-if="channel">{{channel.name}}</div>
                      <div class="project-page__video-channel__name" v-else-if="project && project.channel">{{project.channel.name}}</div>
                    </nuxt-link>
                    <!--
                    <div class="project-page__video-channel__buttons">
                      <likesButton v-if="channel" module="channels" :materialid="channel.id" />
                      <likesButton v-else-if="project && project.channel" module="channels" :materialid="project.channel.id" />
                    </div>
                    -->
                  </div>
                  <div class="project-page__video-info" v-if="currentVideoItem">
                    <div class="text-with-icon__list">
                      <span class="text-with-icon">
                        <i class="material-icons">remove_red_eye</i>
                        <span class="text-with-icon__content">{{currentVideoItem.views}}</span>
                      </span>
                      <span class="text-with-icon">
                        <i class="material-icons">access_time</i>
                        <span class="text-with-icon__content">{{getPublishDate(currentVideoItem.add_time, true)}}</span>
                      </span>
                    </div>
                  </div>
                  <div class="project-page__video-info" v-else-if="currentRecordItem">
                    <div class="text-with-icon__list">
                      <span class="text-with-icon">
                        <i class="material-icons">music_note</i>
                        <span class="text-with-icon__content">{{currentRecordItem.views}}</span>
                      </span>
                      <span class="text-with-icon">
                        <i class="material-icons">access_time</i>
                        <span class="text-with-icon__content">{{getPublishDate(currentRecordItem.created_at, false)}}</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="project-page__info" v-if="!currentVideoItem && !currentRecordItem">
                <img class="project-page__logo" v-if="project.logo" :src="project.logo"/>
                <div class="project-page__info__texts">
                  <div class="project-page__name">{{project.name}}</div>
                  <div class="project-page__buttons-container">
                    <likes-button key="'projects_'+project.id" module="projects" :materialid="project.id" />
                    <subscribe-button :type="'projects'" :data="project" />
                  </div>
                  <div v-if="currentVideoItem" class="project-page__description" v-html="currentVideoItem.description"></div>
                  <div v-else-if="currentRecordItem" class="project-page__description" v-html="currentRecordItem.description"></div>
                  <div v-else class="project-page__description" v-html="project.description"></div>
                </div>
              </div>

            </div>

            <div class="project-page__box project-page__box--comments" v-if="currentVideoItem && videoComments[currentVideoItem.id]">
              <div class="project-page__comments">
                <div class="centered" v-if="isLoadingComments">
                  <m-preloader stroke-width="5" circle-width="5em"  />
                </div>
                <comments v-else :key="'comments_videos_'+currentVideoItem.id" module="videos" :materialid="currentVideoItem.id" :data="videoComments[currentVideoItem.id]" />
              </div>
            </div>
            <div class="project-page__box project-page__box--comments" v-if="currentRecordItem && recordComments[currentRecordItem.id]">
              <div class="project-page__comments">
                <div class="centered" v-if="isLoadingComments">
                  <m-preloader stroke-width="5" circle-width="5em"  />
                </div>
                <comments v-else :key="'comments_records_'+currentRecordItem.id" module="records" :materialid="currentRecordItem.id" :data="recordComments[currentRecordItem.id]" />
              </div>
            </div>
            <div class="project-page__info-container" v-if="!currentVideoItem && !currentRecordItem && (videos && videos.data && videos.data.length > 0 || records && records.data && records.data.length > 0)">
              <m-tabs v-model="currentTab" :data="tabs" v-if="(!currentVideoItem && videos && videos.data && videos.data.length > 0) || (!currentRecordItem && records && records.data && records.data.length > 0)"></m-tabs>
              <div class="project-page__recordings-section" v-if="currentTab === 'recordings'">
                <div v-if="!currentVideoItem && videos && videos.data && videos.data.length > 0"  class="project-page__box project-page__box--no-padding project-page__materials" :class="{'project-page__materials--scrollable': maxScroll}">
                  <VideosSection :initialData="videos" :urlParams="`projects/${this.project.id}/videos`"  />
                </div>
                <div v-if="!currentRecordItem && records && records.data && records.data.length > 0"  class="project-page__box project-page__box--no-padding project-page__materials" :class="{'project-page__materials--scrollable': maxScroll}">
                  <RecordsSection :initialData="records" :urlParams="`projects/${this.project.id}/records`"  />
                </div>
              </div>
              <div class="project-page__announces-section" v-else-if="currentTab === 'announces'">
                <div class="list-container" v-if="announces.data.length > 0">
                  <div class="list-container__inner">
                    <div class="list-item list-item--auto list-item--not-link" :key="$index" v-for="(announce, $index) in announces.data">
                      <div class="list-item__left">
                        <div class="list-item__captions list-item__captions--small">
                          <div class="list-item__title">
                            {{announce.title}}
                          </div>
                          <div class="list-item__sub">
                            {{announce.description}}
                          </div>
                        </div>
                      </div>
                      <div>
                        <div class="list-item__date">{{getFullDate(announce.time, true, false)}}</div>
                        <AnnounceSubscribeButton :data="announce"/>
                      </div>
                    </div>
                  </div>
                </div>
                <m-nothing-found v-else/>
              </div>
            </div>
            <div class="project-page__box project-page__box--comments" v-if="(!currentVideoItem && !currentRecordItem) && comments && comments.data">
              <div class="project-page__comments">
                <comments module="projects" :materialid="project.id" :data="comments" />
              </div>
            </div>
          </div>
          <div class="project-page__col project-page__col--right" v-if="(currentVideoItem || currentRecordItem)  && ((records && records.data && records.data.length > 0) || (videos && videos.data && videos.data.length > 0))">
            <div v-if="project && (currentVideoItem || currentRecordItem)"  class="project-page__box project-page__box--info">
              <nuxt-link :to="'/projects/'+project.id" @click.native="goToProject()" class="list-item list-item--big list-item--no-height">
                <div class="list-item__left list-item__full-width">
                  <div class="list-item__picture-block" :style="{backgroundImage: 'url('+project.logo+')'}" ></div>
                  <div class="list-item__captions list-item__captions--small">
                    <div class="list-item__title">
                      {{project.name}}
                    </div>
                    <div class="list-item__under-title project-page__short-description">
                      {{project.short_description}}
                    </div>
                  </div>
                </div>
              </nuxt-link>
            </div>

            <div v-if="currentRecordItem && records && records.data && records.data.length > 0" class="project-page__box project-page__recommended-materials" :class="{'project-page__materials--scrollable': maxScroll}">
              <div class="project-page__recommended-materials__heading" v-if="project">
                {{$t('recommended.project.records')}} <strong>{{project.name}}</strong>
              </div>
              <div class="project-page__recommended-materials__heading" v-else-if="channel || project.channel">
                {{$t('recommended.channel.records')}} <strong>{{channel ? channel.name : project.channel.name}}</strong>
              </div>
              <div class="list-container">
                <div class="list-container__inner">
                  <RecordItem :key="$index" v-if="records.data" :data="record" v-for="(record, $index) in records.data"/>
                </div>
              </div>
            </div>
            <div v-if="currentVideoItem && videos && videos.data && videos.data.length > 0" class="project-page__box project-page__recommended-materials" :class="{'project-page__materials--scrollable': maxScroll}">
              <div class="project-page__recommended-materials__heading" v-if="project">
                {{$t('recommended.project.videos')}} <strong>{{project.name}}</strong>
              </div>
              <div class="project-page__recommended-materials__heading" v-else-if="channel || project.channel">
                {{$t('recommended.channel.videos')}} <strong>{{channel ? channel.name : project.channel.name}}</strong>
              </div>
              <div class="list-container">
                <div class="list-container__inner">
                  <div v-if="videos.data" class="list-item list-item--big" :class="{'list-item--selected': currentIndex === $index}" :key="$index"  v-for="(video, $index) in videos.data">
                    <div @click="setVideo(video, $index)" class="list-item__left list-item__full-width">
                      <div class="list-item__picture-block__outer">
                        <div class="list-item__picture-block" :style="{backgroundImage: 'url('+video.screenshot+')'}" ></div>
                        <div class="list-item__picture-block__icon">
                          <i class="fa fa-film"></i>
                        </div>
                      </div>
                      <div class="list-item__captions list-item__captions--small">
                        <div class="list-item__title">
                          {{video.title}}
                        </div>
                        <div class="list-item__under-title">
                          <div class="text-with-icon__list">
                          <span class="text-with-icon">
                            <i class="material-icons">remove_red_eye</i>
                            <span class="text-with-icon__content">{{video.views}}</span>
                          </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
<style lang="scss">
  .project-page {
    position: relative;
    background: var(--project-colors-7);
    display: flex;
    flex-direction: column;
    padding: 1em 1em 0;
    flex: 1;
    max-height: calc(100% - 1em);
    --menu-color: var(--project-colors-7);
    &__short-description {
      font-size: .875em;
    }
    &__outer {
      min-height: 100%;
    }
    &__banner {
      max-width: 100%;
      max-height: 3.5em;
      margin: 1em 0;
    }
    &__banner-container {
      display: block;
      text-align: center;
      z-index: 1;

    }
    &__inner {
      position: relative;
      padding: 0;
      z-index: 1;
      transition: all .35s;
      flex: 1;
      display: flex;
      color: var(--project-colors-0);
      height: 100%;
      &--with-banner {
        height: calc(100% - 8em);
      }
    }
    &__box {
      background: var(--project-colors-2);
      padding: 1em;
      margin: 0 0 .25em;
      overflow: hidden;
      &--no-padding {
        padding: 0;
      }
      &--channel {
        overflow: visible;
      }
      &--info {
        padding: 0;
      }
      &--main {
        overflow: visible;
      }
      &--comments {
        margin: 0;
        padding: 0;
        overflow: visible;
      }
      &--comments-right {
        height: 100%;
        overflow: hidden;
      }
      &:last-of-type {
        flex: 1;
        margin: 0;
      }
    }
    &__comments {
      margin: -1em 0 0;
      overflow: auto;
      height: calc(100% + 1em);
      .comments {
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        &__header {
          background: linear-gradient(-90deg, rgba(0, 0, 0, 0), var(--project-colors-4));
          margin: 1em 0 0;
        }
      }
    }
    &__left--scrollable &__box--main {

    }
    &__box--info .list-item {
      padding: 1em;
      border: 0 solid;
    }
    &__content {
      max-width: 1400px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      flex: 1;
      box-shadow: 0 0 2.5em -0.5em rgba(0, 0, 0, 0.5);
    }
    .tabs {
      background: var(--project-colors-2);
    }

    a {
      color: var(--project-colors-1);
    }
    .video-item__inner:hover {
      box-shadow: 0 .5em .5em var(--project-colors-0);
    }
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .box {
      flex: 1;
      color: var(--project-colors-0);
      background: var(--project-colors-2);
    }
    .list-container{
      background: none;
    }
    &__description {
      margin: 1em 0 0;
      &:empty {
        display: none;
      }
      p {
        margin: 0 0 .5em;
        &:last-of-type {
          margin: 0;
        }
      }
    }
    &__logo {
      width: 5em;
      height: 5em;
      margin: 0 1em 0 0;
    }

    &__info {
      display: flex;
      align-items: center;
      &__texts {

      }
    }
    &__video-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &__video-name {
      font-weight: 600;
    }

    &__video-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: .5em 0 0;
    }

    &__video-channel {
      display: flex;
      align-items: center;
      text-decoration: none;
      &__logo {
        width: 2em;
        height: 2em;
      }
      &__texts {
        text-decoration: none;
        flex: 1;
        margin: 0 0 0 .5em;
      }
    }

    &__name {
      font-size: 1.25em;
      font-weight: 600;
      color: var(--project-colors-3);
      margin: 0 0 .5em;
    }
    &__buttons-container {
      display: flex;
      align-items: center;
      .btn {
        margin: 0 .5em 0 0;
      }
    }
    &__left {
      margin: 0;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      &--scrollable {
        overflow: auto;
      }
    }


    &__col {
      height: 100%;
      flex: 3.5;
      display: flex;
      flex-direction: column;
      &--right {
        max-width: 35%;
        flex: 2.5;
        margin: 0 0 0 .25em;
        @media screen and (max-width: 768px) {
          max-width: 100%;
          margin: 1em 0 0;
          width: 100%;
        }
      }
    }


    &__recommended-materials {
      font-size: .875em;
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0;
      height: 100%;
      &__heading {
        font-size: 1.125em;
        padding: 1em;
      }
    }
    &__materials {
      height: 100%;
      @media screen and (max-width: 768px) {

      }
      &--scrollable {
        .list-container {
          overflow: auto;
        }
      }
    }
    &__materials {

    }
    .btn {
      background: var(--project-colors-10);
      color: var(--project-colors-11)!important;
      .progress-circular {
        stroke: var(--project-colors-11)!important;
      }
      &-flat {
        color: var(--project-colors-10)!important;
      }
      box-shadow: 0 .5em 1.25em -.25em var(--project-colors-10)!important;
      &:hover {
        box-shadow: 0 .5em 1.25em .25em var(--project-colors-10)!important;
      }
    }
    &__announces-section {
      background: var(--project-colors-2);
      .nothing-found-page {
        color: var(--project-colors-0);
      }
      flex: 1;
      .list-container {
        height: 100%;
      }
    }
    &__recordings-section {
      flex: 1;
    }

    &__info-container {
      flex: 1;
      display: flex;
      flex-direction: column;
    }


    .list-item {
      &__picture-block {
        &__icon {
          background: var(--project-colors-2);
          color: var(--project-colors-0);
        }
      }
      &__title {
        font-size: 1em;
        white-space: normal;
        max-height: 2.5em;
      }
    }
    &__record-player-container {
      margin: -1em -1em 1em;
    }
    &__player-container {
      position: relative;
      width: 100%;
      padding-top: 60%;
      margin: -1em -1em 1em;
      width: calc(100% + 2em);
      &:empty {
        display: none;
      }
      .tv-player {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .ql-toolbar.ql-snow {
      background: var(--project-colors-10)!important;
      color: var(--project-colors-11);
    }
    .ql-toolbar button {
      color: var(--project-colors-11)!important;
    }
    .ql-stroke {
      stroke: var(--project-colors-11)!important;
    }
    .ql-fill {
      fill: var(--project-colors-11)!important;
    }
    .ql-snow .ql-picker.ql-expanded .ql-picker-label {
      color: var(--project-colors-11)!important;
    }
    .ql-container {
      background: var(--project-colors-7)!important;
      color: var(--project-colors-0)!important;
    }
    .videos-section__header {
      background: var(--project-colors-2);
    }
    .records-section__header {
      background: var(--project-colors-2);
    }
    @media screen and (max-width: 768px) {
      & {
        padding: .5em;
        &__video-bottom {
          font-size: .875em;
        }

        &__content {
          flex-direction: column;
        }

        &__materials {
          max-width: 100%;
        }
      }
    }
  }
</style>
<script>
  import AnnounceSubscribeButton from '@/components/buttons/AnnounceSubscribeButton';
  import VideosSection from '@/components/blocks/VideosSection';
  import RecordsSection from '@/components/blocks/RecordsSection';
  import likesButton from '@/components/buttons/LikesButton';
  import ratingPanel from '@/components/blocks/ratingPanel';
  import subscribeButton from '@/components/buttons/SubscribeButton';
  import TVPlayer from "@/components/players/TVPlayer";
  import AudioPlayer from "@/components/players/AudioPlayer";
  import comments from '@/components/blocks/comments';
  import parentContainsClass from '@/functions/parentContainsClass.js';
  import isBright from '@/functions/isBright.js';
  import { getPublishDate, getFullDate } from '@/functions/dates.js';
  import RecordItem from "./RecordItem";
  import RadioPlayer from "@/components/players/RadioPlayer";
  import isMobile from '~/functions/isMobile.js';

  export default {
    head() {
      let title = '';
      if (this.project) {
        title = this.project.name;
      }
      if (this.currentVideoItem) {
        title = this.currentVideoItem.title;
      }
      if (this.currentRecordItem) {
        title = this.currentRecordItem.title;
      }

      return {
        title
      }
    },
    data() {
      return {
        isMobile: isMobile(),
        playerDetached: true,
        currentTab: 'recordings',
        design: this.project ? this.project : this.channel,
        currentVideoItem: this.currentVideo,
        currentRecordItem: this.currentRecord,
        currentIndex: null,
        comments: null,
        recordComments: {},
        videoComments: {},
        isLoadingComments: false,
        viewTopOffset: 0,
        em: 16,
        maxScroll: true,
      }
    },
    props: {
      announces: {
        type: [Object],
        required: false
      },
      currentRecord: {
        type: [Object],
        required: false
      },
      currentVideo: {
        type: [Object],
        required: false,
      },
      records: {
        type: [Object],
        required: false,
      },
      videos: {
        type: [Object],
        required: false,
      },
      video: {
        type: [Object],
        required: false,
      },
      channel: {
        type: [Object],
        required: false,
      },
      project: {
        type: [Object],
        required: false,
      }
    },
    components: {
      RadioPlayer,
      RecordItem,
      AnnounceSubscribeButton,
      VideosSection,
      RecordsSection,
      ratingPanel,
      comments,
      TVPlayer,
      AudioPlayer,
      likesButton,
      subscribeButton
    },
    watch: {
      currentVideoItem(newItem) {
        this.detachPlayer();
        this.$nextTick(() => {
          this.attachPlayer();
        });
      }
    },
    computed: {
      pageIsBright() {
          let color = null;
          if (this.project) {
              color = this.project.colors[2];
          } else {
              if (this.channel) {
                  color = this.channel.colors[2];
              }
          }
          if (color) {
              return isBright(color);
          }
          return false;
      },
      tabs() {
        return [
          {id: 'recordings', name: this.$t('projects.tabs.recordings')},
          {id: 'announces', name: this.$t('projects.tabs.announces')}
        ]
      },
      getBannerLink() {
        if (this.project) {
          return '/projects/' + this.project.id;
        }

        if (this.channel) {
          return '/' + this.channel.shortname;
        }

        return null;
      }
    },
    mounted() {
      if (this.project) {
        this.project.colors.forEach((color, index) => {
          this.$refs.page.style.setProperty(`--project-colors-${index}`, color);
        });
      } else {
        if (this.channel) {
          this.channel.colors.forEach((color, index) => {
            this.$refs.page.style.setProperty(`--project-colors-${index}`, color);
          });
        }
      }
      if (!this.currentVideoItem && !this.currentRecordItem) {
        this.isLoadingComments = true;
        this.$axios.get(`comments/get/projects/${this.project.id}?page=1`).then(res => {
          this.comments = res.data.data.comments;
          this.isLoadingComments = false;
        })
        if (this.project && this.project.promo) {
          this.attachPlayer();
        }
      } else {
        if (this.currentVideoItem) {
          this.loadVideoComments();
          this.attachPlayer();
        }
        if (this.currentRecordItem) {
          this.loadRecordComments();
        }
      }
      this.em = parseFloat(getComputedStyle(this.$refs.page).fontSize);
      //window.addEventListener('wheel', this.setChannelViewHeight);
    },
    beforeDestroy() {
      let video = this.currentVideoItem || (this.project ? this.project.promo : null);
      if (video && this.$store.state.players.list['video_' + video.id] && this.$store.state.players.list['video_' + video.id].is_playing) {
        this.detachPlayer();
      } else {
          if (video) {
              this.$store.commit('players/CLOSE_PLAYER', {
                  id: 'video_' + video.id,
              });
          }
      }
      //window.removeEventListener('wheel', this.setChannelViewHeight);
    },
    methods: {
      detachPlayer() {
        if (!this.playerDetached && (this.currentVideoItem || this.project.promo) && !this.isMobile) {
          let video = this.currentVideoItem || (this.project ? this.project.promo : null);
          this.playerDetached = true;
          let playerEl = this.$refs.player_container.children[0];
          document.getElementById('video_players').appendChild(playerEl);
          this.$store.commit('players/SET_DETACHED', {id: 'video_' + video.id, detached: true});
        }
      },
      attachPlayer() {
        if (this.playerDetached && (this.currentVideoItem || this.project.promo)) {
          let video = this.currentVideoItem || (this.project ? this.project.promo : null);
          let player = document.getElementById('player_video_' + video.id);
          if (!this.$store.state.players.list['video_' + video.id] || !player) {
            this.$store.commit('players/ADD_PLAYER', {
              id: 'video_' + video.id,
              video,
              channel: this.channel ? this.channel : (video.channel ? video.channel : (this.project ? this.project.channel : null)),
              project: this.project,
              page: this.project && this.project.promo ? {type: 'projects', id: this.project.id} : null
            });
          }
          this.$nextTick(() => {
            player = document.getElementById('player_video_' + video.id);
            if (player) {
                this.$refs.player_container.appendChild(player);
                this.$store.commit('players/SET_DETACHED', {id: 'video_' + video.id, detached: false});
                this.playerDetached = false;
            }
          })
        }
      },
      getFullDate,
      getPublishDate,
      goToProject() {
        if (this.currentVideoItem) {
          this.currentVideoItem = null;
        }
      },
      setChannelViewHeight(e) {
        if (!parentContainsClass(e.target, 'modal') && !parentContainsClass(e.target, 'site-search') && !parentContainsClass(e.target, 'chat')) {
          let scrollAmount = 2.5 * this.em;
          let scrollBy = e.wheelDelta > 0 ? scrollAmount : -1 * scrollAmount;
          if (this.$refs.banner_container) {
            if ((this.viewTopOffset * -1) < this.$refs.banner_container.$el.clientHeight) {
              this.maxScroll = false;
              this.viewTopOffset += scrollBy;
              if (this.viewTopOffset * -1 > this.$refs.banner_container.$el.clientHeight) {
                this.viewTopOffset = -1 * this.$refs.banner_container.$el.clientHeight;
              }
              if (this.viewTopOffset > 0) {
                this.viewTopOffset = 0;
              }
            } else {
              this.maxScroll = true;
              if (scrollBy > 0 && this.$refs.left.scrollTop < this.em) {
                this.maxScroll = false;
                this.viewTopOffset += scrollBy;
              }
            }
          } else {
            this.maxScroll = true;
          }
        }
      },
      loadRecordComments() {
        if (!this.recordComments[this.currentRecordItem.id]) {
          this.isLoadingComments = true;
          this.$axios.get(`comments/get/records/${this.currentRecordItem.id}?page=1`).then(res => {
            this.recordComments[this.currentRecordItem.id] = res.data.data.comments;
            this.$forceUpdate();
            this.isLoadingComments = false;
          })
        }
      },
      loadVideoComments() {
        if (!this.videoComments[this.currentVideoItem.id]) {
          this.isLoadingComments = true;
          this.$axios.get(`comments/get/videos/${this.currentVideoItem.id}?page=1`).then(res => {
            this.$set(this.videoComments, this.currentVideoItem.id, res.data.data.comments);
            this.isLoadingComments = false;
          })
        }
      },
      setVideo(video, index) {
        history.pushState({}, null, `/videos/${video.id}`);
        this.currentVideoItem = video;
        this.currentIndex = index;
        this.loadVideoComments();
      }
    }
  }
</script>
