<template>
	<div class="rating-panel">
    <div class="rating-panel__background" :class="{'rating-panel__background--positive': currentWeight === 1, 'rating-panel__background--negative': currentWeight === -1}"></div>
      <div class="rating-panel__inner">
      <div @click="rate(-1)" class="rating-panel__button rating-panel__button--negative" :class="{'rating-panel__button--disabled':!isLoggedIn, 'rating-panel__button--active': currentWeight === -1}">
        <i class="fa fa-chevron-down"></i>
      </div>
      <div class="rating-panel__count" @click="showRating()" :class="{'rating-panel__count--positive':count > 0,'rating-panel__count--negative':count < 0}">
        {{count}}
      </div>
      <div @click="rate(1)" class="rating-panel__button rating-panel__button--positive" :class="{'rating-panel__button--disabled':!isLoggedIn, 'rating-panel__button--active': currentWeight === 1}">
        <i class="fa fa-chevron-up"></i>
      </div>
    </div>

    <m-modal :header="$t('rating.list')" class="rating-panel__modal" v-model="ratingPanelVisible">
      <div class="list-container rating-panel__list">
        <div class="list-container__inner list-container__inner--visible">
          <nuxt-link :to="'/users/'+item.user.id"  class="list-item" :key="$index" v-for="(item, $index) in list">
            <div class="list-item__left">
              <img class="list-item__picture" :src="item.user.ava" />
              <div class="list-item__captions">
                <div class="list-item__title">{{item.user.username}}</div>
              </div>
            </div>
            <div class="list-item__right">
              <span class="rating-panel__list__weight" :class="{'rating-panel__list__weight--positive': item.weight > 0,'rating-panel__list__weight--negative': item.weight < 0}">
              {{ item.weight > 0 ? `+${item.weight}` : item.weight }}
              </span>
            </div>
          </nuxt-link>
        </div>
      </div>
    </m-modal>

	</div>
</template>
<style lang="scss">
.rating-panel{
  position: relative;
  padding: .25em .5em;
  border-radius: .25em;
  overflow: hidden;
  &__modal {
    .modal__header {
      margin: 0;
      padding: 1em;
    }
    .modal__box {
      padding: 0;
    }
  }
  &__background {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .1;
    &--positive {
      background: var(--positive-color);
    }
    &--negative{
      background: var(--negative-color);
    }
  }
  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
  }
  &__count {
    margin: 0 .5em;
    cursor: pointer;
    &--positive {
      color: var(--positive-color);
    }
    &--negative{
      color: var(--negative-color);
    }
    .theme-flat & {
      font-weight: 600;
    }
  }
  &__button {
    font-size: .875em;
    cursor: pointer;
    padding: 0 .5em;
    &--positive#{&}--active {
      color: var(--positive-color);
    }
    &--negative#{&}--active {
      color: var(--negative-color);
    }
  }
  &__list {
    &__weight {
      &--positive {
        color: var(--positive-color);
      }
      &--negative {
        color: var(--negative-color);
      }
    }
  }
}

.bright .rating-panel__background {
  background: #000;
}

</style>
<script>
export default{
	props:{
		data:{
			type:Object,
			required:false,
		},
		module:{
			type:String,
			required:true,
		},
		materialid:{
			type:Number,
			required:true
		}
	},
	data: function(){
		return {
			isLoading: false,
      isLoggedIn: this.$store.state.userData.loggedIn,
			list: [],
			count: 0,
      currentWeight: 0,
			hasLiked: false,
      ratingPanelVisible: false,
		}
	},
  computed: {
	  shortList() {
	    return this.list ? this.list.slice().reverse().slice(0,5) : [];
    }
  },
	created() {
		if (!this.data) {
			this.load();
		} else {
			this.count = this.data.count;
			this.hasLiked = this.data.has_liked;
      this.currentWeight = this.data.like_weight || 0;
			this.list = this.data.list;
		}
	},
	methods:{
	  showRating() {
	    if (this.list.length > 0) {
        this.ratingPanelVisible = true;
      }
    },
	  load() {
      this.isLoading = true;
      this.$axios.get(`likes/get/${this.module}/${this.materialid}`).then(res=>{
        this.isLoading = false;
        this.count = res.data.count;
        this.hasLiked = res.data.has_liked;
        this.currentWeight = res.data.like_weight || 0;
        this.list = res.data.list;
      })
    },
		rate(weight) {
			if (this.$store.state.userData.loggedIn) {
				this.isLoading = true;
				let data = {'material_type':this.module,'material_id':this.materialid};
				if (weight === this.currentWeight) {
				  weight = 0;
				  data.state = false;
        } else {
				  data.weight = weight;
          data.state = true;
        }
        this.currentWeight = weight;
				this.$axios.post('likes/set',data).then(res=>{
					this.isLoading = false;
					this.count = res.data.new_count;
					this.hasLiked = res.data.has_liked;
          this.load();
				})
			} else{
				this.$router.push('/login');
			}
		}
	}
}
</script>
