<template>
  <m-infinite-scroll :loading="isLoading" @scroll="loadMore" class="thumbs-list">
    <div v-if="this.$slots.default" class="thumbs-list__header">
      <slot></slot>
    </div>
    <div v-else class="thumbs-list__header thumbs-list__header--default">
      <span class="thumbs-list__header__text">{{title}}</span>
    </div>
    <div class="thumbs-list__block" :class="{'thumbs-list__block--with-pager': list.last_page > 1}">
      <div class="thumbs-list__items" ref="itemsList">
        <div :style="{width: (100 / itemsInRow) + '%'}" :key="item.id" v-for="item in list.data" class="thumbs-list__item thumbs-list__item--auto-height">
          <RecordItem :data="item"/>
        </div>
      </div>
    </div>
    <div class="page-preloader" v-if="isLoadingInitial">
      <m-preloader stroke-width="5" circle-width="5em"  />
    </div>
    <div class="pager-vertical-container pager-vertical-container--mobile-default">
      <m-pager @pageChange="onChangePage" :vertical="!isMobile" :data="list" v-model="currentPage" />
    </div>
  </m-infinite-scroll>
</template>
<style lang="scss">

</style>
<script>
  import RecordItem from "@/components/blocks/RecordItemBig";
  let ResizeSensor = require('css-element-queries/src/ResizeSensor');
  import isMobile from '~/functions/isMobile.js';
  import VideoItem from '@/components/blocks/VideoItem';
  let onPage = 30;
  export default {
    components: {
      RecordItem,
      VideoItem
    },
    async mounted() {
      if (!this.isMobile) {
        this.itemsInRow = Math.ceil(this.$refs.itemsList.offsetWidth / 800);
        new ResizeSensor(this.$refs.itemsList, (e) => {
          this.itemsInRow = Math.ceil(e.width / 800);
        });
      }
      this.isLoadingInitial = true;
      await this.load();
      this.isLoadingInitial = false;
    },
    props: {
      title: {
        type: String,
        required: false
      },
      urlParams:{
        type: String,
        required: true,
      }
    },
    computed:{
      getPagesCount() {
        if (this.total === 0) {
          return 0;
        }
        return Math.ceil(this.total/this.onPage);
      }
    },
    watch: {
      urlParams() {
        this.currentPage = 1;
        this.load();
      },
      currentPage() {

      }
    },
    data() {
      return {
        itemsInRow: 1,
        isLoading: false,
        isLoadingInitial: false,
        currentPage: 1,
        visiblePage: 1,
        isScrolling: false,
        isMobile: isMobile(),
        total: 0,
        list: {},
      }
    },
    created() {

    },
    methods:{
      async load() {
        this.isLoadingInitial = true;
        this.list = (await this.$axios.get(this.getBaseURL(this.currentPage, onPage))).data.data.list;
        this.isLoadingInitial = false;
      },
      onChangePage(page) {
        this.currentPage = page;
        this.load();
      },
      getBaseURL(page=1, count=10) {
        return `/records?`+this.urlParams+`&page=${page}&count=${count}`;
      },
      loadMore() {
        if (!this.isLoading) {
          if (this.currentPage < this.list.last_page) {
            this.isLoading = true;
            this.currentPage++;
            this.$axios.get(this.getBaseURL(this.currentPage, onPage)).then(res => {
              this.list.data = [...this.list.data, ...res.data.data.list.data];
              this.isLoading = false;
            });
          }
        }
      }
    }
  }
</script>
