<template>
  <div class="records-section">
    <div class="page-preloader" v-if="isLoadingInitial">
      <m-preloader stroke-width="5" circle-width="5em"  />
    </div>
    <div class="records-section__header">
      <div class="records-section__search">
        <m-input @change="reload()" :loading="search.loading" v-model="search.text" :inlinePlaceholder="true" icon="search"></m-input>
      </div>
      <div class="records-section__right">
        <div class="records-section__view-change">
          <a @click="currentView = 'grid'" class="records-section__view-change__item" :class="{'records-section__view-change__item--active': currentView === 'grid'}">
            <i class="fa fa-th-large"></i>
          </a>
          <a @click="currentView = 'list'" class="records-section__view-change__item" :class="{'records-section__view-change__item--active': currentView === 'list'}">
            <i class="fa fa-list-ul"></i>
          </a>
        </div>
        <div class="records-section__order">
          <m-select v-model="order" :options="orderOptions" />
        </div>
      </div>
    </div>
    <m-nothing-found v-if="!isLoading && records && records.data && records.data.length === 0" :title="$t('global.nothing_found')"/>
    <m-infinite-scroll v-else ref="items" :loading="isLoading" @scroll="loadMore" class="records-section__items" :class="'records-section__items--'+currentView">
      <RecordItem :data="item" :key="$index" v-for="(item, $index) in records.data"/>
    </m-infinite-scroll>
  </div>
</template>
<script>
  import RecordItem from '@/components/blocks/RecordItem';
  const count = 24;
  export default {
    components: {
      RecordItem
    },
    watch: {
      currentView(newView) {
        localStorage.records_current_view = newView;
      },
      order() {
        this.reload();
      }
    },
    computed: {
      orderOptions() {
        return [
          {'name': this.$t('videos.order.new'), 'value': 'new'},
          {'name': this.$t('videos.order.old'), 'value': 'old'},
          {'name': this.$t('videos.order.popular'), 'value': 'popular'},
        ]
      },
      url() {
        let params = this.urlParams;
        if (params.indexOf('?') !== -1) {
          params+= "&count="+count;
        } else {
          params+= "?count="+count;
        }
        params+="&page="+this.currentPage+"&order="+this.order+"&search="+this.search.text;
        return params;
      }
    },
    async mounted() {
      let records = (await this.$axios.get(this.url)).data.data.list;
      this.records = records;
      this.isLoadingInitial = false;
      this.$parent.$on('scrollBottom', () => {
        this.loadMore();
      })
    },
    data() {
      return {
        isLoading: false,
        isLoadingInitial: true,
        records: {},
        currentPage: 1,
        search: {
          loading: false,
          text: ''
        },
        order: 'new',
        currentView: localStorage.records_current_view || 'grid',
      }
    },
    methods: {
      async reload() {
        this.currentPage = 1;
        this.isLoadingInitial = true;
        let records = (await this.$axios.get(this.url)).data.data.list;
        this.records = records;
        this.isLoadingInitial = false;
      },
      loadMore() {
        if (!this.isLoading) {
          if (this.currentPage < this.records.last_page) {
            this.currentPage++;
            this.isLoading = true;
            this.$axios.get(this.url).then(res => {
              this.records.data = [...this.records.data, ...res.data.data.list];
              this.isLoading = false;
            })
          }
        }
      }
    },
    props: {
      urlParams: {
        type: String,
        required: true,
      }
    }
  }
</script>
<style lang="scss">
  .records-section {
    width: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    &__items {
      overflow: auto;
      max-height: calc(100% - 3.5em);
      display: flex;
      flex-wrap: wrap;
    }


    &__items--list &__item {
      width: 100% !important;
      padding-top: 0 !important;
      height: 5em !important;
    }
    &__items--list .video-item {
      &__inner {
        flex-direction: row;
        align-items: center;
        position: relative;
        margin: .25em;
        height: 100%;
      }

      &__picture-container {
        flex: unset;
        max-height: 100%;
        width: 8em!important;
        height: 5em;
      }

      &__title {
        max-width: none!important;
        flex: 1;
      }

      &__info {
        font-size: 1.25em;
        background: none;
        padding: 0;
        margin: 0 0 0 1em;
        text-align: left;
      }

    }

    &__header {
      z-index: 1;
      background: var(--title-box-color);
      padding: .5em;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__search .input__container {
      margin: 0;
    }
    &__right {
      display: flex;
      align-items: center;
    }

    &__view-change__item {
      cursor: pointer;
      border-radius: .25em;
      padding: .5em .75em;
      margin: 0 .25em;
      &--active {
        background: rgba(255, 255, 255, .125);
      }
    }
    &__order {
      position: relative;
      z-index: 1000000;
    }
    .channel-page__bottom__inner & {
      height: calc(100% - 3em);
    }

    .channel-page__bottom__inner &__header {
      background: var(--channel-colors-10);
    }
    .channel-page__bottom__inner &__items {
      overflow: hidden;
    }
    .channel-page__bottom__inner--scrollable &__items {
      overflow: auto;
    }

    @media screen and (max-width: 768px) {
      & {
        overflow-x: hidden;
        &__header {
          flex-direction: column;
        }

        &__search {
          margin: 0 0 .5em;
          width: 100%;
        }

        &__right {
          justify-content: space-between;
          width: 100%;
        }

        &__item {
          width: 100%;
          padding-top: 70%;
        }
      }
    }
  }
</style>
