<template>
  <m-modal v-model="val">
    <div slot="main">
      <div class="statistics-block">
        <div class="statistics-block__outer">
          <div class="statistics-block__tabs">
            <m-tabs v-model="currentTab" :data="tabs"/>
          </div>
          <div class="statistics-block__dates">
            <div class="row">
              <div class="col">
                <m-datetime :limitToCurrentDate="true" :title="$t('statistics.time.start')" v-model="time.start" />
              </div>
              <div class="col">
                <m-datetime :limitToCurrentDate="true" :title="$t('statistics.time.end')" v-model="time.end" />
              </div>
            </div>
          </div>
          <div class="page-preloader" v-if="isLoading">
            <m-preloader stroke-width="5" circle-width="5em"  />
          </div>
          <div class="statistics-block__inner" v-else>
            <div class="statistics-block__chart-container">
              <lineChart class="chart statistics-page__chart" :titles="titles" :colors="colors" :labels="labels" :tooltips="tooltips" :data="data" />
            </div>
            <div class="statistics-block__info-container">
              <div class="statistics-page__chart__data statistics-page__chart__data--horizontal" v-if="currentTab === 'views'">
                <div class="statistics-page__chart__data__item">
                  <span class="statistics-page__chart__data__title">{{$t('statistics.views_by_day.total')}}</span>
                  <span class="statistics-page__chart__data__number">{{statistics.views.now.views}}</span>
                </div>
                <div class="statistics-page__chart__data__item">
                  <span class="statistics-page__chart__data__title">{{$t('statistics.views_by_day.total_in_interval')}}</span>
                  <span class="statistics-page__chart__data__number">{{statistics.views.total_in_interval}}</span>
                </div>
              </div>
              <div class="statistics-page__chart__data" v-if="currentTab === 'likes'">
                <div class="statistics-page__chart__data__item">
                  <span class="statistics-page__chart__data__title">{{$t('statistics.rating.total')}}</span>
                  <span class="statistics-page__chart__data__number">{{statistics.likes.now.rating}}</span>
                </div>
                <div class="statistics-page__chart__data__item">
                  <span class="statistics-page__chart__data__title">{{$t('statistics.rating.likes')}}</span>
                  <span class="statistics-page__chart__data__number statistics-page__chart__data__number--positive">{{statistics.likes.now.likes}}</span>
                </div>
                <div class="statistics-page__chart__data__item">
                  <span class="statistics-page__chart__data__title">{{$t('statistics.rating.dislikes')}}</span>
                  <span class="statistics-page__chart__data__number statistics-page__chart__data__number--negative">{{statistics.likes.now.dislikes}}</span>
                </div>
              </div>
              <table v-if="currentTab === 'views'" class="table">
                <thead>
                <tr>
                  <td>{{$t('statistics.referrers.page')}}</td>
                  <td>{{$t('statistics.referrers.visits')}}</td>
                </tr>
                </thead>
                <tbody>
                <tr :key="$index" v-for="(referrer, $index) in statistics.referrers">
                  <td>{{referrer.need_translate ? $t(referrer.title) : referrer.title}} <strong v-if="referrer.entity_title">{{referrer.entity_title}}</strong></td>
                  <td>{{referrer.visits}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </m-modal>
</template>
<style lang="scss">
  .statistics-block {
    padding: 1em 0;
    &__dates {
      margin: 1em 0 0;
    }
    &__outer {
      positino: relative;
    }
    &__inner {
      margin: 0;
      display: flex;
      /*align-items: center;*/
      background: var(--box-element-color);
      padding: 2.5em 1em 1em;
    }

    &__chart-container {
      flex: 2;
    }

    &__info-container {
      margin: 0 0 0 1em;
      flex: 1;
    }
  }
</style>
<script>
  import lineChart from '@/components/blocks/dashboard/charts/lineChart.js';
  import doughnutChart from '@/components/blocks/dashboard/charts/doughnutChart.js';
  export default {
    computed: {
      colors() {
        if (this.currentTab === 'likes') {
          return [
            getComputedStyle(document.getElementById('app')).getPropertyValue('--active-color'),
            getComputedStyle(document.getElementById('app')).getPropertyValue('--positive-color'),
            getComputedStyle(document.getElementById('app')).getPropertyValue('--negative-color')
          ]
        }
      },
      data() {
        if (this.currentTab === 'likes') {
          if (this.showTotalLikes) {
            return [
              Object.values(this.statistics.likes.total.rating),
              Object.values(this.statistics.likes.total.likes),
              Object.values(this.statistics.likes.total.dislikes),
            ]
          } else {
            return [
              Object.values(this.statistics.likes.by_day.rating),
              Object.values(this.statistics.likes.by_day.likes),
              Object.values(this.statistics.likes.by_day.dislikes),
            ]
          }
        } else {
          return [
            Object.values(this.statistics.views.by_day.views),
          ]
        }
      },
      tooltips() {
        if (this.currentTab === 'likes') {
          if (this.showTotalLikes) {
            return [
              Object.keys(this.statistics.likes.total.rating),
              Object.keys(this.statistics.likes.total.likes),
              Object.keys(this.statistics.likes.total.dislikes),
            ]
          } else {
            return [
              Object.keys(this.statistics.likes.by_day.rating),
              Object.keys(this.statistics.likes.by_day.likes),
              Object.keys(this.statistics.likes.by_day.dislikes),
            ]
          }
        } else {
          return [
            Object.keys(this.statistics.views.by_day.views),
          ]
        }
      },
      titles() {
        if (this.currentTab === 'likes') {
          return [
            this.$t('statistics.labels.rating'),
            this.$t('statistics.labels.likes'),
            this.$t('statistics.labels.dislikes'),
          ]
        } else {
          return [
            this.$t('statistics.labels.views'),
          ]
        }
      },
      labels() {
        if (this.currentTab === 'likes') {
          return Object.keys(this.statistics.likes.total.rating);
        } else {
          return Object.keys(this.statistics.views.by_day.views);
        }
      },
      tabs() {
        return [
          {id: 'views', name: this.$t('statistics.tabs.views')},
          {id: 'likes', name: this.$t('statistics.tabs.likes')},
        ];
      },
    },
    async mounted() {
      if (this.val) {
        this.load();
      }
    },
    watch: {
      val(newVal) {
        if (newVal && !this.loaded) {
          this.loaded = true;
          this.load();
        }
      },
      materialid(newMaterialID) {
        this.load();
      },
      module(newModule) {
        this.load();
      },
      "time.end"(newTime) {
        this.load();
      },
      "time.start"(newTime) {
        this.load();
      },
      value(newValue) {
        this.val = newValue;
      },
      val(newVal) {
        this.$emit('input', newVal);
      }
    },
    methods: {
      async load() {
        this.isLoading = true;
        let statistics = (await this.$axios.get(`statistics/views/${this.module}/${this.materialid}?start_time=${this.time.start}&end_time=${this.time.end}`)).data;
        if (statistics.status) {
          console.log(statistics.data);
          this.statistics = statistics.data;
          this.isLoading = false;
        } else {
          this.$store.commit('NEW_ALERT', statistics);
        }
      }
    },
    data() {
      return {
        loaded: false,
        time: {
          start: Math.floor(new Date(new Date().getTime() - 86400 * 7 * 1000).getTime() / 1000),
          end: Math.floor(new Date().getTime() / 1000)
        },
        val: this.value,
        currentTab: 'likes',
        showTotalLikes: true,
        isLoading: true,
        statistics: {},
      }
    },
    props: {
      value: {
        type: Boolean,
        required: false
      },
      materialid: {
        type: [String, Number],
        required: true
      },
      module: {
        type: String,
        required: true
      }
    },
    components: {
      lineChart,
      doughnutChart
    }
  }
</script>
