<template>
  <div class="video-select-panel">
    <m-modal v-model="visible" :header="'Выберите видео'">
      <div class="centered" v-if="isLoadingInitial">
        <m-preloader stroke-width="5" circle-width="5em"  />
      </div>
      <div v-else class="video-select-panel__inner">
        <m-infinite-scroll ref="list" :loading="isLoading" @scroll="loadMore" class="video-select-panel__list">
          <div :key="$index"  class="video-select-panel__item-container" v-for="(video, $index) in videos.data">
            <VideoItem :link="false" @click.native="selectVideo(video)" :data="video" />
          </div>
        </m-infinite-scroll>
        <div class="video-select-panel__pager-container">
          <m-pager @pageChange="onChangePage" v-model="currentPage" :data="videos"/>
        </div>
      </div>
    </m-modal>
  </div>
</template>
<style lang="scss">
  .video-select-panel {
    &__list {
      display: flex;
      flex-wrap: wrap;
      max-height: 60vh;
      overflow: auto;
    }
    &__item-container {
      position: relative;
      width: 50%;
      padding-top: 50%;
      .video-item {
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &__pager-container {
      font-size: .875em;
      margin: 1em 0 0;
    }
  }
</style>
<script>
  import VideoItem from '@/components/blocks/VideoItem';
  export default {
    components: {
      VideoItem
    },
    watch: {
      visible(isVisible) {
        if (!isVisible) {
          this.$emit('close');
        }
      }
    },
    props: {
      value: {
        required: true,
      },
      channel: {
        type: [Object],
        required: false,
      }
    },
    data() {
      return {
        currentPage: 1,
        visible: true,
        videos: null,
        isLoadingInitial: true,
        isLoading: false,
      }
    },
    async mounted() {
      if (this.channel) {
        await this.load();
        this.isLoadingInitial = false;
      }
    },
    methods: {
      onChangePage(page) {
        this.currentPage = page;
        this.$refs.list.$el.scrollTop = 0;
        this.load();
      },
      async load() {
        this.isLoading = true;
        this.videos = (await this.$axios.get('/channels/'+this.channel.id+'/videos?show_hidden=true&page='+this.currentPage)).data.data;
        this.isLoading = false;
      },
      async loadMore() {
        if (!this.isLoading && !this.isLoadingInitial) {
          if (this.currentPage < this.videos.last_page) {
            this.currentPage++;
            this.isLoading = true;
            let videos = (await this.$axios.get('/channels/' + this.channel.id + '/videos?show_hidden=true&page=' + this.currentPage)).data.data;
            this.videos.data = [...this.videos.data, ...videos.data];
            this.isLoading = false;
          }
        }
      },
      selectVideo(video) {
        this.$emit('input', video);
        this.$emit('close');
      }
    }
  }
</script>
