<template>
  <a @click="goLink()" class="video-item" :class="{'video-item--list-view': listView}">
    <div class="video-item__inner" ref="inner">
      <div  class="video-item__picture-container">
        <div class="video-item__preload-icon">
          <i class="fa fa-film"></i>
        </div>
        <div :style="{backgroundImage: 'url('+(data.screenshot)+')'}" class="video-item__picture"></div>
      </div>
      <div class="video-item__info">
        <div class="video-item__title" >{{data.title}}</div> <!--v-show="width > 0" :style="{'max-width': width+'px'}"-->
        <div class="video-item__params">
          <span v-if="data.length > 0" class="video-item__param video-item__param--length">
            <i class="material-icons">access_time</i>
            <span class="video-item__param__text">{{getReadableTime(data.length)}}</span>
          </span>
          <span class="video-item__param video-item__param--views">
            <i class="material-icons">visibility</i>
            <span class="video-item__param__text">{{data.views}}</span>
          </span>
          <span v-if="data.add_time" class="video-item__param video-item__param--time">
            <i class="material-icons">calendar_today</i>
            <span class="video-item__param__text">{{getPublishDate(data.add_time)}}</span>
          </span>
        </div>
        <div class="video-item__channel" v-if="data.channel">
          <div class="video-item__channel__logo" :style="{backgroundImage: 'url('+(data.channel.logo)+')'}"></div>
          <span class="video-item__channel__name">{{data.channel.name}}</span>
        </div>
      </div>
      <div class="video-item__description">
        {{data.description}}
      </div>
    </div>
  </a>
</template>
<style lang="scss">
  .video-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
    &__description {
      display: none;
    }
    &__info {
      background: var(--box-footer-color);
      overflow: hidden;
    }
    &__params {
      font-size: .875em;
      white-space: nowrap;
      display: flex;
      align-items: center;
    }
    &__param {
      display: flex;
      align-items: center;
      font-size: .75em;
      opacity: .85;
      padding: .25em .5em;
      background: rgba(0, 0, 0, 0.75);
      border-radius: .25em;
      &__text {
        margin: 0 0 0 .5em;
      }
      &--length {
        position: absolute;
        top: .5em;
        left: .5em;
        z-index: 10000;
      }
      &--views {
        position: absolute;
        top: .5em;
        right: .5em;
        z-index: 100000;
      }
      &--time {
        position: absolute;
        font-size: .6825em;
        bottom: 7.5em;
        left: .5em;
        z-index: 100000;
      }
    }
    &__title {
      padding: .5em .75em;
      min-height: 1.25em;
      font-size: .875em;
      font-weight: 600;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__inner{
      margin: .25em;
      width: calc(100% - .5em);
      height: calc(100% - .5em);
      display: flex;
      flex-direction: column;
      cursor: pointer;
      transition: all .35s;
      position: relative;
      top: 0;
      box-shadow: 0 0 .5em rgba(0, 0, 0, 0);
      overflow: hidden;
      &:hover {
        top: -.5em;
        box-shadow: 0 .5em .5em var(--active-color);
      }
    }
    &__picture-container {
      max-height: calc(100% - 3em);
      background-color: rgba(0, 0, 0, .25);
      position: relative;
      flex: 1;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      &--screenshot{
        background-size: cover;
      }
    }
    &__picture {
      position: absolute;
      z-index: 10000;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    &__preload-icon {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3.5em;
      opacity: .25;
    }


    &__length {
      position: absolute;
      top: .25em;
      right: .25em;
      font-size: .75em;
      font-weight: 600;
    }
    &__channel {
      display: flex;
      align-items: center;
      background: var(--list-container-color);
      padding: .25em .5em;
      &__logo {
        width: 1.5em;
        height: 1.5em;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }
      &__name {
        font-size: .75em;
        margin: 0 0 0 .5em;
        font-weight: 300;
      }
    }

    &--list-view {
      overflow: visible;
    }
    &--list-view &__inner {
      flex-direction: row;
      align-items: center;
      position: relative;
      background: var(--box-footer-color);
      margin: 0 0 .125em!important;
      height: unset;
      &:hover {
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 0.25em .75em .25em var(--active-color);
        z-index: 1000;
      }
    }

    &--list-view &__params {
      float: left;
      margin: .5em .5em 0 .5em;
    }
    &--list-view &__param {
      position: unset!important;
      margin: 0 1em 0 0;
      font-size: .75em;
      background: none;
      padding: 0;
    }
    &--list-view &__picture-container {
      flex: unset;
      max-height: 100%;
      width: 10em!important;
      height: 6em;
    }

    &--list-view &__title {
      font-size: .875em;
      padding: .5em .5em .25em;
      max-width: none!important;
      flex: 1;
    }

    &--list-view &__info {
      font-size: 1.25em;
      background: none;
      padding: 0;
      margin: 0 0 0 .5em;
      text-align: left;
      max-width: calc(100% - 10em);
    }
    &--list-view &__channel {
      font-size: .875em;
      background: none;
    }

    @media screen and (max-width: 768px) {
      &__params {
        font-size: 1em;
      }

      &__title {
        font-size: 1em;
      }
    }
  }
</style>
<script>
  import getReadableTime from '~/functions/getReadableTime.js';
  import { getPublishDate } from '~/functions/dates.js';
  export default {
    data() {
      return {
        width: null,
      }
    },
    mounted() {
      this.width = this.$refs.inner.offsetWidth;
    },
    props:{
      listView: {
        type: [Boolean],
        required: false,
      },
      link: {
        type: [Boolean],
        required: false,
        default: true,
      },
      data: {
        type: [Object],
        required: true
      }
    },
    methods: {
      getReadableTime,
      getPublishDate,
      goLink() {
        if (this.link) {
          this.$router.push('/videos/'+this.data.id);
        }
      }
    }
  }
</script>
