<template>
  <div class="notifications-panel__item__inner" >
    <div class="notifications-panel__item__picture" :style="`background:url('${data.notification_data.channel.logo}') no-repeat center center; background-size: cover;`"></div>
    <nuxt-link target="_blank" :to="`/${data.entity_type}/${data.entity_id}`" class="notifications-panel__item__texts">
      <div class="notifications-panel__item__channel-name">{{data.notification_data.channel.name}}</div>
      <div class="notifications-panel__item__text">{{data.notification_data.data.title}}</div>
      <div class="notifications-panel__item__time">{{formatTime(data.notification_data.data.time)}}</div>
    </nuxt-link>
  </div>
</template>
<script>
  import { getPublishDate } from '~/functions/dates.js';
  export default {
    props: {
      data: {
        type: Object,
        required: true,
      }
    },
    data() {
      return {

      }
    },
    methods: {
      formatTime(time) {
        return getPublishDate(time);
      }
    }
  }
</script>
