<template>
  <div class="notifications-panel__item__inner" >
    <div class="notifications-panel__item__picture" :style="`background:url('${data.notification_data.channel.logo}') no-repeat center center; background-size: cover;`"></div>
    <div class="notifications-panel__item__texts">
      <nuxt-link target="_blank" :to="`/users/${data.notification_data.user.id}`">{{data.notification_data.user.username}}</nuxt-link>
      {{$t('permissions.user_requests_access.'+data.entity_type)}} <nuxt-link  target="_blank"  :to="'/'+data.notification_data.channel.shortname">{{data.notification_data.channel.name}}</nuxt-link>
      <div class="notifications-panel__item__after-action" v-if="hasSelected">
        <div class="notifications-panel__item__text" v-if="!hasSelectedAdditional">{{hasAllowed ? $t('permissions.after_allow.'+data.entity_type) :  $t('permissions.after_disallow.'+data.entity_type) }}</div>
        <div class="notifications-panel__item__text" v-else>{{hasAllowed ? $t('permissions.after_allow.users') :  $t('permissions.after_disallow.users') }}</div>
        <a class="notifications-panel__item__link" v-if="hasAllowed && !hasSelectedAdditional" @click="setUserPermission(true)">{{$t('permissions.allow_user')}}</a>
        <a class="notifications-panel__item__link" v-else-if="!hasSelectedAdditional" @click="setUserPermission(false)">{{$t('permissions.disallow_user')}}</a>
      </div>
      <div v-else class="notifications-panel__item__buttons">
        <div class="buttons-list">
          <m-btn :loading="hasAllowed && isLoading" @click="setMainPermission(true)">{{$t('permissions.allow')}}</m-btn>
          <m-btn :loading="!hasAllowed && isLoading" @click="setMainPermission(false)" class="btn--delete">{{$t('permissions.disallow')}}</m-btn>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: {
      data: {
        type: Object,
        required: true,
      }
    },
    data() {
      return {
        hasSelected: false,
        hasSelectedAdditional: false,
        hasAllowed: null,
        hasAllowedAdditional: null,
        isLoading: false,
        isLoadingAdditional: false,
      }
    },
    methods: {
      async setUserPermission(status) {
        this.hasAllowedAdditional = status;
        this.isLoadingAdditional = true;
        await this.setPermission('users', this.data.notification_data.user.id, status);
        this.isLoadingAdditional = false;
        this.hasSelectedAdditional = true;
      },
      async setMainPermission(status) {
        this.hasAllowed = status;
        this.isLoading = true;
        await this.setPermission(this.data.entity_type, this.data.entity_id, status);
        this.isLoading = false;
        this.hasSelected = true;
      },
      async setPermission(type, id, status) {
        await this.$axios.post('permissions/set', {entity_type: type, entity_id: id, status});
        return true;
      }
    }
  }
</script>
