<template>
  <div class="notifications-panel__item" :class="{'notifications-panel__item--unread': !data.is_read}" >
    <div class="notifications-panel__item__delete" @click="deleteNotification(data)">
      <i class="fa fa-times"></i>
    </div>
    <div class="notifications-panel__item__restore-panel" v-if="data.is_deleted">
      <div class="notifications-panel__item__restore-panel__inner">
        <span class="notifications-panel__item__restore-panel__title">{{$t('notifications.deleted')}}</span>
        <m-btn @click="restoreNotification(data)">{{$t('notifications.restore')}}</m-btn>
      </div>
    </div>
    <component v-bind:is="data.type+'Notification'" :data="data"/>
  </div>
</template>
<script>
  import NewPermissionRequestNotification from '@/components/layout/notifications/NewPermissionRequestNotification';
  import ProgramIsOnlineNotification from '@/components/layout/notifications/ProgramIsOnlineNotification';
  import ChannelNewFeedPostNotification from '@/components/layout/notifications/ChannelNewFeedPostNotification';
  import ChannelNewRecordingNotification from '@/components/layout/notifications/ChannelNewRecordingNotification';
  import ProjectNewRecordingNotification from '@/components/layout/notifications/ProjectNewRecordingNotification';
  import ChannelGotOnlineNotification from '@/components/layout/notifications/ChannelGotOnlineNotification';
  export default {
    methods: {
      restoreNotification(notification) {
        this.$axios.post(`notifications/${notification.id}/restore`).then(res => {
          if (res.data.status) {
            this.$set(notification, 'is_deleted', false);
          } else {
            this.$store.commit('NEW_ALERT', res.data);
          }
        })
      },
      deleteNotification(notification) {
        this.$axios.post(`notifications/${notification.id}/delete`).then(res => {
          if (res.data.status) {
            this.$set(notification, 'is_deleted', true);
          } else {
            this.$store.commit('NEW_ALERT', res.data);
          }
        })
      },
    },
    components: {
      ChannelGotOnlineNotification,
      ChannelNewRecordingNotification,
      ProjectNewRecordingNotification,
      ProgramIsOnlineNotification,
      NewPermissionRequestNotification,
      ChannelNewFeedPostNotification
    },
    props: {
      data: {
        type: Object,
        required: true
      }
    }
  }
</script>
